{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<TABLE class="lmsbox" cellpadding="3">
	<thead>
		<tr>
			<td class="bold">
				{icon name="configuration"}
				{trans("Module Configuration:")}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<form name="moduleconfig" method="POST" action="?m=userpanel&module=info&f=submit_setup">
					<table>
						<colgroup>
							<col style="width: 1%;">
							<col style="width: 99%;">
						</colgroup>
						<tr>
							<td class="nobr">
								<label for="hide_nodesbox">
									{trans("Hide customer nodes box")}
								</label>
							</td>
							<td>
								<input type="checkbox" name="hide_nodesbox" id="hide_nodesbox" value="1"
									{if $hide_nodesbox} checked{/if} {tip text="Don't show customer nodes box if he hasn't any nodes"}>
							</td>
						</tr>
						<tr>
							<td class="nobr">
								<label for="node_lock_management">
									{trans("Node lock management")}
								</label>
							</td>
							<td>
								<input type="checkbox" name="node_lock_management" id="node_lock_management" value="1"
									{if !empty($node_lock_management)} checked{/if}>
							</td>
						</tr>
						<tr>
							<td class="nobr">
								{trans("Text of data processing agreement:")}
							</td>
							<td>
								<textarea name="consent_text" rows="4" cols="50"
									{tip text="Enter text of agreement for personal data processing"}>{$consent_text}</textarea>
							</td>
						</tr>
						<tr>
							<td class="nobr">
								<label for="pin_changes">
									{trans("PIN changes:")}
								</label>
							</td>
							<td class="nobr">
								<input type="checkbox" name="pin_changes" id="pin_changes" value="1"
									{if $pin_changes} checked{/if} {tip text="Allow customer to change PIN"}>
							</td>
						</tr>
						<tr>
							<td class="nobr">
								<label for="show_sensitive_data">
									{trans("Show sensitive data")}
								</label>
							</td>
							<td class="nobr">
								<input type="checkbox" name="show_sensitive_data" id="show_sensitive_data" value="1"
									{if $show_sensitive_data} checked{/if}>
							</td>
						</tr>

						<tr>
							<td class="nobr" colspan="2">
								<fieldset>
									<legend class="bold">
										{trans("Customer data change notifications sent to operator")}
									</legend>
									<table>
										<tr>
											<td class="nobr">
												<label for="change_notification_mail_sender">
													{trans("Mail sender:")}
												</label>
											</td>
											<td>
												<input type="text" size="50" name="change_notification_mail_sender"
													id="change_notification_mail_sender" value="{$change_notification_mail_sender}"
													{tip text="Enter customer data change notification mail sender"}>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_notification_mail_recipient">
													{trans("Mail recipient:")}
												</label>
											</td>
											<td>
												<input type="text" size="50" name="change_notification_mail_recipient"
													id="change_notification_mail_recipient" value="{$change_notification_mail_recipient}"
													{tip text="Enter customer data change notification mail recipient"}>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_notification_mail_subject">
													{trans("Mail subject:")}
												</label>
											</td>
											<td>
												<input type="text" size="50" name="change_notification_mail_subject"
													id="change_notification_mail_subject" value="{$change_notification_mail_subject}"
													{tip text="Enter customer data change notification mail subject"}>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_notification_mail_body">
													{trans("Mail body:")}
												</label>
											</td>
											<td>
												<textarea name="change_notification_mail_body" id="change_notification_mail_body"
													cols="60" rows="7" {tip text="Enter customer data change notification mail body"}
												>{$change_notification_mail_body}</textarea>
											</td>
										</tr>
									</table>
								</fieldset>
							</td>
						</tr>

						<tr>
							<td class="nobr" colspan="2">
								<fieldset>
									<legend class="bold">
										{trans("Customer data change notifications sent to customer")}
									</legend>
									<table>
										<tr>
											<td class="nobr">
												<label for="customer_change_confirmation_mail_subject">
													{trans("Confirmation mail subject:")}
												</label>
											</td>
											<td>
												<input type="text" size="50" name="change_confirmation_mail_subject"
													id="change_confirmation_mail_subject" value="{$change_confirmation_mail_subject}"
													{tip text="Enter customer data change confirmation mail subject"}>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_confirmation_mail_body">
													{trans("Confirmation mail body:")}
												</label>
											</td>
											<td>
												<textarea name="change_confirmation_mail_body" id="change_confirmation_mail_body"
													cols="60" rows="7" {tip text="Enter customer data change confirmation mail body"}
												>{$change_confirmation_mail_body}</textarea>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_rejection_mail_subject">
													{trans("Rejection mail subject:")}
												</label>
											</td>
											<td>
												<input type="text" size="50" name="change_rejection_mail_subject"
													id="change_rejection_mail_subject" value="{$change_rejection_mail_subject}"
													{tip text="Enter customer data change rejection mail subject"}>
											</td>
										</tr>
										<tr>
											<td class="nobr">
												<label for="change_rejection_mail_body">
													{trans("Rejection mail body:")}
												</label>
											</td>
											<td>
												<textarea name="change_rejection_mail_body" id="change_rejection_mail_body"
													cols="60" rows="7" {tip text="Enter customer data change rejection mail body"}
												>{$change_rejection_mail_body}</textarea>
											</td>
										</tr>
									</table>
								</fieldset>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="lms-ui-box-buttons">
								{button icon="save" label="Submit" onclick="document.moduleconfig.submit();"}
								{button icon="cancel" label="Cancel" href="?m=userpanel"}
							</td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
</table>
{include file="footer.html"}
