<!--// $Id$ //-->
{box title="Your documents"}
<style>

	.awaits-scan {
		margin-left: 2em;
	}

</style>

<table style="width: 100%;" cellpadding="3">
	{if $documents}
	<tr class="darkest">
		<td width="25%" class="nobr"><strong>{trans("Number:")}</strong></td>
		<td width="15%" class="nobr"><strong>{trans("Type:")}</strong></td>
		<td width="20%" class="nobr"><strong>{trans("Created:")}</strong></td>
		<td width="20%" class="nobr"><strong>{trans("Period:")}</strong></td>
		<td width="20%" class="nobr">&nbsp;</td>
	</tr>
	{/if}
	{cycle values="light,lucid" print=false name=doc}
	{foreach from=$documents item=doc}
	<tr class="{cycle name=doc}{if !$doc.closed && ($doc.confirmdate <= 0 || $doc.confirmdate < $smarty.now)} blend{/if}"
			onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="nobr"><strong>{number number=$doc.number template=$doc.template time=$doc.cdate}</strong></td>
		<td class="nobr">{assign var=type value=$doc.type}{$_DOCTYPES.$type}</td>
		<td class="nobr">{$doc.cdate|date_format:"%d.%m.%Y"}</td>
		<td class="nobr">
		{if ($doc.type == $smarty.const.DOC_CONTRACT) || ($doc.type == $smarty.const.DOC_ANNEX)}
			{if $doc.fromdate}{$doc.fromdate|date_format:"%d.%m.%Y"}{/if}
			{if $doc.todate} - {$doc.todate|date_format:"%d.%m.%Y"}{else}{if $doc.fromdate} - {/if}{trans("indefinitely")}{/if}
		{/if}
		</td>
		<td class="nobr" align="right">
		{if $doc.closed || ($doc.confirmdate > 0 && $doc.confirmdate >= $smarty.now) || $doc.confirmdate == -1}
			{foreach $doc.attachments as $docattach}
			<a href="?m=info&f=docview&id={$doc.id}&attachmentid={$docattach.id}" target="_blank">
				{if $docattach.main}{trans("View")}{else}{$docattach.filename}{/if} {img src="view.gif" alt="View"}
			</a>
			<br>
			{if !$doc.closed && $docattach.main}
				<span class="awaits-scan">
					{if $doc.confirmdate == -1}
						{trans("awaits for operator signed document scan review")}
					{else}
						{trans("awaits for signed document scan submission")}
					{/if}
				</span>
				<br>
			{/if}
			{/foreach}
		{else}
			{trans("not approved")}
		{/if}
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td align="center" width="100%" colspan="8">
			<p>&nbsp;</p>
			<p><strong>{trans("No such documents on your account.")}</strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
</table>
{/box}
