{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<SCRIPT type="text/javascript">
<!--
	function Delete()
	{
		document.cashimport.action += '&amp;action=delete';
		document.cashimport.submit();
	}

	function Save()
	{
		document.cashimport.action += '&amp;action=save';
		document.cashimport.submit();
	}
//-->
</SCRIPT>
<FORM NAME="cashimport" ACTION="?m=cashimport" METHOD="post">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			{trans("ID:")}
		</TD>
		<TD WIDTH="1%">
			{trans("Date:")}
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Value:")}</B>
		</TD>
		<TD WIDTH="40%">
			{trans("Customer:")}
		</TD>
		<TD WIDTH="55%">
			{trans("Description:")}
		</TD>
		<TD WIDTH="1%" nowrap>
			{trans("Link to:")}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" nowrap>
			<B>{trans("Total:")} {$listdata.total}</B>&nbsp;
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{foreach from=$divisions item=division}{if $division.list}
	<TR class="dark">
		<TD colspan="4">
		    <IMG src="img/division.gif" alt=""> <B>{$division.name}</B>
		</TD>
		<TD colspan="3" align="right">
		    <A href="?m=cashimport&amp;action=csv&division={$division.id}">{trans("Download (CSV)")}</a> <IMG src="img/save.gif" alt="">
		</TD>
	</TR>
		{cycle values="light,lucid" print=false}
		{foreach from=$division.list item=item}
		<TR class="{cycle}">
		    <TD>
			{$item.id|string_format:"%04d"}
		    </TD>
		    <TD NOWRAP>
			{$item.date|date_format:"%Y/%m/%d"}
		    </TD>
		    <TD NOWRAP ALIGN="RIGHT">
			<B>{$item.value|money_format}</B>
		    </TD>
		    <TD ALIGN="LEFT">
			{if $item.customer}{$item.customer}
			{elseif $item.customerid}
			    {assign var=cust value=$item.customerid}
			    {$customerlist.$cust.customername}
			{/if}
		    </TD>
			<TD class="text-left">
				{$item.description}
			</TD>
			<TD class="text-right nobr" colspan="2">
				{customerlist form="cashimport" customers=$customerlist selected=$item.customerid selectname="custid[{$item.id}]" inputname="customer[{$item.id}]"}
				<INPUT TYPE="checkbox" NAME="marks[{$item.id}]" VALUE="{$item.id}">
			</TD>
	    </TR>
	    {/foreach}
	{/if}{/foreach}
	{if !$listdata.total}
	<TR>
		<TD class="empty-table" COLSPAN="7">
			<p>{trans("No cash operations to import.")}</p>
		</TD>
	</TR>
	{/if}
    </TBODY>
    <TFOOT>
	<TR class="dark">
		<TD class="nobr" colspan="3">
			<label>
				<INPUT type="checkbox" name="allbox" onchange="CheckAll('cashimport', this)" value="1">
				{trans("Check All")}
			</label>
		</TD>
		<TD class="text-center nobr" colspan="2">
			<A href="?m=cashimport&amp;action=txt">{trans("Download all (TXT)")}</a> <IMG src="img/save.gif" alt="">
		</TD>
		<TD class="text-right nobr" colspan="2">
			<A HREF="javascript:Delete();">{trans("Delete")} <IMG src="img/delete.gif" ALT=""></A>
			<A HREF="javascript:Save();">{trans("Save")} <IMG src="img/save.gif" ALT=""></A>
			<A HREF="javascript:document.cashimport.submit();">{trans("<!do>Import")} <IMG src="img/save.gif" ALT=""></A>
		</TD>
	</TR>
    </TFOOT>
</TABLE>
</FORM>
{if $error.lines}
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="100%" colspan="2">
			<B>{trans("Errors and Duplicated Entries")}:</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="100%">
			<TABLE class="lmsbox-inner">
                            <THEAD>
                                <TR>
				    <TD width="1%"><B>{trans("Line:")}</B></TD>
				    <TD width="99%"><B>{trans("Content:")}</B></TD>
				</TR>
                            </THEAD>
                            <TBODY>
				{cycle name=err values="light,lucid" print=false}
				{foreach from=$error.lines key=key item=item}
				<TR class="{cycle name=err}">
				    <TD>{$key}.</TD>
				    <TD>
				    {if is_array($item)}
				    <TABLE width="100%" class="red">
					{if $item.date}<TR><TD width="1%">{trans("Date:")}</TD><TD width="99%">{$item.date|date_format:"%Y/%m/%d"}</TD></TR>{/if}
					{if $item.customer}<TR><TD width="1%">{trans("Customer:")}</TD><TD width="99%">
					    {$item.customer}{if $item.customerid} ({$item.customerid|string_format:"%04d"}){/if}</TD></TR>{/if}
					{if $item.value}<TR><TD width="1%">{trans("Value:")}</TD><TD width="99%">{$item.value|money_format}</TD></TR>{/if}
					{if $item.comment}<TR><TD width="1%">{trans("Description:")}</TD><TD width="99%">{$item.comment}</TD></TR>{/if}
				    </TABLE>
				    {else}
				    {$item}
				    {/if}
				    </TD>
				</TR>
				{/foreach}
                            </TBODY>
			</TABLE>
		</TD>
	</TR>
</TABLE>
{/if}
<FORM name="parser" enctype="multipart/form-data" method="post" action="?m=cashimportparser">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="100%" colspan="2">
			<B>{trans("Import from file")}:</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="1%" NOWRAP>
			<IMG src="img/attach.gif" alt="">
			<B>{trans("Import file:")} </B>
		</TD>
		<TD width="99%" NOWRAP>
			<INPUT name="file" type="file" size="70" {tip text="Enter path to file or click 'Browse' button" trigger="file"}>
		</TD>
	</TR>
	<TR>
		<TD width="1%" NOWRAP>
			<IMG src="img/isource.gif" alt="">
			<B>{trans("Source:")} </B>
		</TD>
		<TD width="99%" NOWRAP>
			<SELECT name="source" {tip text="Select import source (optional)" trigger="source"}>
			<OPTION value="0">{trans("- auto -")}</OPTION> 
			{foreach from=$sourcelist item=item}
			<OPTION value="{$item.id}">{$item.name}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD colspan="2" width="100%" align="right" nowrap>
			<A href="javascript:document.parser.submit();">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="100%">
		    <IMG src="img/attach.gif" alt="">
			<B>{trans("Packages:")}</B> ({t a=10}last $a packages{/t})
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="100%">
			<TABLE cellpadding="5" cellspacing="0" WIDTH="100%">
				<TR>
					<TD WIDTH="1%" NOWRAP><B>{trans("Date:")}</B></TD>
					<TD WIDTH="96%" NOWRAP>{trans("Filename:")}</TD>
					<TD WIDTH="1%" NOWRAP>{trans("User:")}</TD>
					<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">{trans("Records:")}</TD>
					<TD WIDTH="1%">&nbsp;</TD>
				</TR>
				{cycle name=files values="light,lucid" print=false}
				{foreach from=$sourcefiles item=item}
				<TR class="{cycle name=files}">
					<TD NOWRAP><B>{$item.idate|date_format:"%Y/%m/%d %H:%M"}</B></TD>
					<TD NOWRAP>{$item.name}</TD>
					<TD NOWRAP>{$item.username}</TD>
					<TD align="right">{$item.count|default:0}</TD>
					<TD>
					    <A onclick="return confirmLink(this, '{trans("Are you sure, you want to delete this package and related operations?")}')" href="?m=cashpackagedel&id={$item.id}"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
					</TD>
				</TR>
				{foreachelse}
				<TR>
					<TD class="empty-table" colspan="4">
						<p>{trans("There are no packages in database.")}</p>
					</TD>
				</TR>
				{/foreach}
			</TABLE>
		</TD>
	</TR>
    </TBODY>
</TABLE>
{/block}

