{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
    <COLGROUP>
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 97%;">
        <COL style="width: 1%;">
    </COLGROUP>
    <THEAD>
	<TR>
		<TH scope="col" class="nobr">
                        <img src="img/isource.gif" alt=""> {trans("Name:")}
		</TH>
		<TH scope="col" class="nobr lighter">
                        {trans("ID:")}
		</TH>
		<TH scope="col" class="nobr lighter">
                        {trans("Main bank account:")}
		</TH>
		<TH scope="col" class="lighter">
			{trans("Description:")}
		</TH>
		<TH scope="col" class="nobr lighter">
                        <A href="?m=cashsourceadd">{trans("Add source")} <img src="img/save.gif" alt=""></A>
		</TH>
	</TR>
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{foreach from=$sourcelist item=source}
	<TR class="highlight {cycle} {if $source.deleted == 1} blend{/if}">
		<TD onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'" class="nobr bold">
                        <IMG src="img/isource.gif" alt=""> {$source.name}
		</TD>
		<TD onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'">
			({$source.id|string_format:"%04d"})
		</TD>
		<TD class="nobr" onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'">
			{if $source.account}
			{format_bankaccount($source.account)}
			{/if}
		</TD>
		<TD onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'">
			{$source.description}
		</TD>
		<TD class="text-right nobr">
			{if $source.deleted == 1}
			    <a href="?m=cashsourcelist&action=enable&id={$source.id}"><img src="img/noaccess.gif" alt="{t}Enable{/t}" title="{t}Enable{/t}" /></a>
			{else}
			    <a href="?m=cashsourcelist&action=disable&id={$source.id}"><img src="img/access.gif" alt="{t}Disable{/t}" title="{t}Disable{/t}" /></a>
				{/if}
			<A HREF="?m=cashsourcedel&id={$source.id}" OnClick="return confirmLink(this, '{t a=$source.name}Are you sure, you want to remove source \'$a\'?{/t}');"><IMG src="img/delete.gif" alt="{trans("Delete")}" title="{trans("Delete")}"></A>
			<A HREF="?m=cashsourceedit&id={$source.id}"><IMG src="img/edit.gif" alt="{trans("Edit")}" title="{trans("Edit")}"></A>
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD colspan="5" class="empty-table">
			<p>{trans("There are no sources in database.")}</p>
		</TD>
	</TR>
	{/foreach}
    </TBODY>
    <TFOOT>
	<TR>
		<TD colspan="5" class="text-right nobr">
                        <A href="?m=cashsourceadd">{trans("Add source")} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
    </TFOOT>
</TABLE>
{/block}
