<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR{if $customerpanel} class="hand" onClick="showOrHide('customerpanel');"{/if}>
		<TD WIDTH="1%">
			<IMG SRC="img/customer.gif" ALT="">
			<b>{if $customerpanel}{trans("Owner:")}{/if}
			{$customerinfo.customername|escape} ({$customerinfo.id|string_format:"%04d"}){if $customerinfo.deleted} <span class="red">({trans("deleted customer")})</span>{/if}</b>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
    <TR {if $customerpanel} id="customerpanel" style="display:none;"{/if}>
	    <TD WIDTH="100%" {if $customerpanel} CLASS="container" ALIGN="RIGHT"{else}CLASS="container"{/if}>
			<TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<IMG src="img/{$_CSTATUSES[$customerinfo.status].img}" alt="">
		</TD>
		<TD WIDTH="99%" class="bold">
			{$_CSTATUSES[$customerinfo.status].singularlabel}
		</TD>
	</TR>
{if $customerinfo.division}
	<TR>
		<TD WIDTH="1%">
			<IMG src="img/division.gif" alt="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.division}
		</TD>
	</TR>
{/if}
	<TR>
		<TD WIDTH="1%">
			<IMG src="img/folder.gif" alt="">
		</TD>
		<TD WIDTH="99%">
			{if $customerinfo.type == $smarty.const.CTYPES_COMPANY}{assign var='type' value=$smarty.const.CTYPES_COMPANY}{$_CTYPES.$type}{elseif $customerinfo.type == $smarty.const.CTYPES_PRIVATE}{assign var='type' value=$smarty.const.CTYPES_PRIVATE}{$_CTYPES.$type}{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.address}<BR>
			{$customerinfo.zip} {$customerinfo.city}
			{if $customerinfo.cstate}<BR>{$customerinfo.cstate}{/if}
			{if $customerinfo.country}<BR>{t}{$customerinfo.country}{/t}{/if}
		</TD>
	</TR>
{if $customerinfo.post_name != "" || $customerinfo.post_address != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/post.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{if $customerinfo.post_name != ""}{$customerinfo.post_name}{/if}
			{if $customerinfo.post_address != ""}<BR>{$customerinfo.post_address}{/if}
			{$customerinfo.post_zip} {$customerinfo.post_city}
			{if $customerinfo.post_cstate}<BR>{$customerinfo.post_cstate}{/if}
			{if $customerinfo.post_country}<BR>{t}{$customerinfo.post_country}{/t}{/if}
		</TD>
	</TR>
{/if}
{if !empty($customerinfo.contacts)}
	<TR>
		<TD style="width: 1%;"></TD>
		<TD style="width: 99%;" class="nobr">
			<fieldset style="width: 1%;" class="nobr">
				<legend class="bold"><IMG SRC="img/phone.gif" ALT=""> {trans("Contact phones")}</legend>
				<TABLE>
					{foreach $customerinfo.contacts as $contact}
					<TR CLASS="LIGHT{if ($contact.type & $smarty.const.CONTACT_DISABLED) == $smarty.const.CONTACT_DISABLED} blend{/if}">
						<TD>
							{$contact.phone}
							{if $contact.typestr}[{$contact.typestr}]{/if}
							{if $contact.name} ({$contact.name|truncate:"40":"...":true}){/if}
						</TD>
					</TR>
					{/foreach}
				</TABLE>
			</fieldset>
		</TD>
	</TR>
{/if}
{if !empty($customerinfo.emails)}
	<TR>
		<TD style="width: 1%;"></TD>
		<TD style="width: 99%;" class="nobr">
			<fieldset style="width: 1%;" class="nobr">
				<legend class="bold"><IMG SRC="img/mail.gif" ALT=""> {trans("Email addresses")}</legend>
				<TABLE>
					{foreach $customerinfo.emails as $email}
					<TR CLASS="LIGHT{if ($email.type & $smarty.const.CONTACT_DISABLED) == $smarty.const.CONTACT_DISABLED} blend{/if}">
						<TD>
							<A HREF="mailto:{$email.email}">{$email.email}</A>
                                                        {if $email.typestr}[{$email.typestr}]{/if}
                                                        {if $email.name} ({$email.name|truncate:"40":"...":true}){/if}
						</TD>
					</TR>
					{/foreach}
				</TABLE>
			</fieldset>
		</TD>
	</TR>
{/if}
{foreach from=$customerinfo.messengers item=item}
	<TR>
		<TD>
			{if $item.type == $smarty.const.IM_GG}
			<IMG src="http://status.gadu-gadu.pl/users/status.asp?id={$item.uid}&styl=1" alt="">
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<IMG src="http://opi.yahoo.com/online?u='{$item.uid}'&m=g&t=5" alt="">
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<IMG src="http://mystatus.skype.com/smallicon/{$item.uid}" alt="">
			{else}
			<IMG src="img/gg.gif" alt="">
			{/if}
		</TD>
		<TD>
			{if $item.type == $smarty.const.IM_GG}
			<A HREF="gg:{$item.uid}">{$item.uid}</A>
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<A HREF="ymsgr:sendIM?{$item.uid}">{$item.uid}</A>
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<A HREF="skype:{$item.uid}?call">{$item.uid}</A>
			{else}
			{$item.uid}
			{/if}
		</TD>
	</TR>
{/foreach}
{if $customerinfo.pin != 0}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/pin.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.pin}
		</TD>
	</TR>
{/if}
{if $customerinfo.icn != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("ICN")}: {$customerinfo.icn}
		</TD>
	</TR>
{/if}
{if $customerinfo.ssn != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("SSN")}: {$customerinfo.ssn}
		</TD>
	</TR>
{/if}
{if $customerinfo.ten != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("TEN")}: {$customerinfo.ten}
		</TD>
	</TR>
{/if}
{if $customerinfo.regon != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("REGON")}: {$customerinfo.regon}
		</TD>
	</TR>
{/if}
{if $customerinfo.rbe != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%" NOWRAP>
			{trans("RBE")}: {$customerinfo.rbe}
		</TD>
	</TR>
{/if}
{if $customerinfo.bankaccount}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/card.gif" ALT="">
		</TD>
		<TD WIDTH="99%" NOWRAP>
			{format_bankaccount($customerinfo.bankaccount)}
		</TD>
	</TR>
{/if}
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
		    <TABLE cellpadding="2">
		        <TR>
		            <TD>
			            {trans("Deadline:")}
			        </TD>
			        <TD>
			            {if $customerinfo.paytime == -1}{trans("default")}{else}{$customerinfo.paytime}&nbsp;{trans("days")}{/if}
		            </TD>
	            </TR>
                <TR>
                    <TD>
			            {trans("Payment type:")}
			        </TD>
			        <TD>
			            {assign var=paytype value=$customerinfo.paytype}{if $_PAYTYPES.$paytype}{$_PAYTYPES.$paytype}{else}{trans("default")}{/if}
		            </TD>
	            </TR>
                {if $customerinfo.cutoffstop > $smarty.now}
			    <TR>
			        <TD colspan="2">
			            <FONT class="alert">
			            {t a=$customerinfo.cutoffstop|date_format:"%Y/%m/%d"}Cutoff suspended to $a{/t}
			            </FONT>
			        </TD>
			    </TR>
                {/if}
            </TABLE>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
		    <TABLE cellpadding="2">
			{block name="customerinfobox-options"}
		        <TR>
		            <TD>
			            {trans("Consent to personal data processing:")}
		            </TD>
		            <TD>
		                {if $customerinfo.consentdate}{$customerinfo.consentdate}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
	            <TR>
	                <TD>
			            {trans("Cancellation of a traditional invoice (agreement on an electronic invoice):")}
            		</TD>
            		<TD>
            		    {if $customerinfo.einvoice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
	            <TR>
	                <TD>
            			{trans("Consent to invoices delivery via e-mail:")}
            		</TD>
            		<TD>
            		    {if $customerinfo.invoicenotice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
                <TR>
                    <TD>
			            {trans("Consent to messages delivery via e-mail or sms:")}
		            </TD>
		            <TD>
		                {if $customerinfo.mailingnotice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
			{/block}
            </TABLE>
        </TD>
    </TR>

                                        </TABLE>
				</TD>
				<TD WIDTH="50%" style="vertical-align:top;">
					<TABLE WIDTH="100%" CELLPADDING="3">
	{if $customerinfo.info}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/info1.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.info|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if $customerinfo.message}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/warningon.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.message|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if $customerinfo.notes}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/note.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.notes|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/money.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Balance:")}</B>
		</TD>
		<TD WIDTH="98%">
			{if $customerinfo.balance < 0}<FONT class="alert">{$customerinfo.balance|money_format}</FONT>{else}{$customerinfo.balance|default:"0"|money_format}{/if}
		</TD>
	</TR>
	{/if}
	<TR>
                <TD WIDTH="1%">
		        <IMG SRC="img/cms.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Last login:")}<BR>
		        {trans("Last failed login:")}</B>
		</TD>
		<TD WIDTH="98%">
		        {if $customerinfo.up_logins.lastlogindate}{$customerinfo.up_logins.lastlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.lastloginip}){else}-{/if}<BR>
			{if $customerinfo.up_logins.failedlogindate}{$customerinfo.up_logins.failedlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.failedloginip}){else}-{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/users.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Created:")}<BR>
			{trans("Modified:")}</B>
		</TD>
		<TD WIDTH="98%">
			{$customerinfo.createdby}, {$customerinfo.creationdateh}<BR>
			{if $customerinfo.moddate}{$customerinfo.modifiedby}, {$customerinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
                                        	</TABLE>
					</TD>
				</TR>
			</TABLE>
{if !$customerpanel}
		</TD>
        </TR>
	<TR>
		<TD WIDTH="100%" ALIGN="RIGHT">
{/if}
			{block name="customerinfobox-buttons"}
			{if $customerinfo.deleted}
				<A HREF="?m=customeredit&id={$customerinfo.id}&action=recover">{trans("Restore")} <IMG SRC="img/recover.gif" ALT="[ {trans("Restore")} ]"></A>
			{else}
				<NOBR>
				<A HREF="?m=rtsearch&id={$customerinfo.id}">{trans("Tickets")}</A> <IMG src="img/ticket.gif" alt="[ {trans("Tickets")} ]"></A>
				<A href="?m=accountlist&u={$customerinfo.id}">{trans("Accounts")} <IMG src="img/account.gif" alt="[ {trans("Accounts")} ]"></A>
				<A href="?m=domainlist&c={$customerinfo.id}">{trans("Domains")} <IMG src="img/network.gif" alt="[ {trans("Domains")} ]"></A>
				<A href="?m=trafficprint&type=customertraffic&customer={$customerinfo.id}" target="_blank">{trans("Stats")} <IMG src="img/traffic.gif" alt="[ {trans("Stats")} ]"></A>
				</NOBR>
				<NOBR>
				<A href="?m=customeredit&id={$customerinfo.id}" ACCESSKEY="E">{trans("Edit")} <IMG src="img/edit.gif" alt="[ {trans("Edit")} ]"></A>
				<A href="?m=customerdel&id={$customerinfo.id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to remove that customer from database?\n\nIf that customer have any computers, they will be automatically removed from database too, and information about them irreversible losed!")}')">{trans("Delete")} <img src="img/delete.gif" alt="[ {trans("Delete")} ]"></A>
				</NOBR>
			{/if}
			{if $info_link}
				<A href="?m=customerinfo&id={$customerinfo.id}">{trans("Info")} <img src="img/info.gif" alt="[ {trans("Info")} ]"></A>
			{/if}
			{/block}
		</TD>
	</TR>
        </TBODY>
</TABLE>
{if $customerpanel}
<SCRIPT type="text/javascript">
<!--
	if (getCookie('customerpanel') == '1')
	{
		document.getElementById('customerpanel').style.display = '';
	}
//-->
</SCRIPT>
{/if}
