<!--// $Id$ //-->
<SCRIPT type="text/javascript">
<!--
function setstatus(access)
{
	if(access)
		document.custnodeslist.action = '?m=nodeset&access=1';
	else
		document.custnodeslist.action = '?m=nodeset';

	document.custnodeslist.submit();
}

function setwarning(warning)
{
	if(warning)
		document.custnodeslist.action = '?m=nodewarn&warning=1';
	else
		document.custnodeslist.action = '?m=nodewarn';

	document.custnodeslist.submit();
}

function setgroup(act)
{
	document.custnodeslist.action = '?m=nodegroup&action=' + act + '&groupid=' + document.getElementById('groupselect').value;
	document.custnodeslist.submit();
}
//-->
</SCRIPT>
{$lastonline_limit=ConfigHelper::getConfig('phpui.lastonline_limit')}
{if ConfigHelper::checkConfig('phpui.ewx_support')}{assign var=ewx value=1}{else}{assign var=ewx value=0}{/if}
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 99%;" class="hand bold" onclick="showOrHide('nodespanel-{$layout.module}');">
			<IMG src="img/node.gif" alt="">
			{t a=$customernodes|@count|default:"0"}Customer Nodes ($a):{/t}
		</TD>
		<TD style="width: 1%;" class="text-right nobr">
			{if $customerinfo.status != $smarty.const.CSTATUS_INTERESTED && ! $customerinfo.deleted}<A href="?m=nodeadd&amp;ownerid={$customerinfo.id}">{trans("New Node")} &raquo;</A>&nbsp;{/if}
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR id="nodespanel-{$layout.module}" style="display:none;">
		<TD style="width: 100%;" colspan="2">
			<FORM method="post" action="" name="custnodeslist">
			<TABLE class="lmsbox-inner">
				<THEAD>
					<TR>
						<TD style="width: {math equation="x-y" x=95 y=$ewx}%;" class="bold">{trans("Name:")}</TD>
						<TD style="width: 1%;" class="text-right">{trans("ID:")}</TD>
						{if $ewx}
						<TD style="width: 1%;" class="text-right">{trans("Channel:")}</TD>
						{/if}
						<TD style="width: 1%;" class="text-right">{trans("Address:")}</TD>
						<TD style="width: 1%;" class="text-right">{trans("MAC:")}</TD>
						<TD style="width: 1%;" class="text-right">{trans("Groups:")}</TD>
						<TD style="width: 1%;" class="text-right">{trans("Network:")}</TD>
						<TD style="width: 1%;">&nbsp;</TD>
					</TR>
				</THEAD>
				<TBODY>
					{cycle values="light,lucid" print=false name=nodes}
					{section name=customernodes loop=$customernodes}
					<TR class="highlight {cycle name=nodes}{if ! $customernodes[customernodes].access} blend{/if}"  >
						<TD onClick="return self.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';">
							{if $customernodes[customernodes].lastonline}
								{if ($smarty.now-$customernodes[customernodes].lastonline) > $lastonline_limit}
							<img src="img/node_off.gif" alt="" {tip a=$customernodes[customernodes].lastonlinedate text="Last online: \$a"}>
								{else}
							<img src="img/node_on.gif" alt="" {tip a="on-line" text="Last online: \$a"}>
								{/if}
							{else}
							<img src="img/node_unk.gif" alt="">
							{/if}
							<span class="bold">{$customernodes[customernodes].name}</span>
							{if $customernodes[customernodes].location}<BR>
							<span class="nobr">{$customernodes[customernodes].location|truncate:60:"...":true}</span>
							{/if}
							{if $customernodes[customernodes].info}<BR>
							<span class="nobr">{$customernodes[customernodes].info|truncate:60:"...":true}</span>
							{/if}
						</TD>
						<TD onClick="return self.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';" class="text-right">
							({$customernodes[customernodes].id|string_format:"%04d"})
						</TD>
						{if $ewx}
						<TD onClick="return self.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';" class="text-right nobr">
							{if $customernodes[customernodes].channelname}
							<a href="?m=ewxchinfo&amp;id={$customernodes[customernodes].channelid}">{$customernodes[customernodes].channelname|truncate:30:"...":true}</a>
							{elseif $customernodes[customernodes].channelid}
							{if !$customernodes[customernodes].cid}
							<a href="?m=ewxchinfo&amp;id=0">[{trans("default")}]</a>
							{else}
							[{$customernodes[customernodes].channelid|string_format:"%04d"}]
							{/if}
							{/if}
							{if $customernodes[customernodes].downceil}({$customernodes[customernodes].downceil}/{$customernodes[customernodes].upceil|default:0} kbit/s){/if}
						</TD>
						{/if}
						<TD onClick="return self.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';" class="text-right nobr">
							{$customernodes[customernodes].ip} {if $customernodes[customernodes].ip_pub != "0.0.0.0"} ({$customernodes[customernodes].ip_pub}){/if}
						</TD>
						<TD onClick="return self.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';">
							{$customernodes[customernodes].mac|replace:",":"<BR>"}
						</TD>
						<TD class="text-right nobr">
							{if $customernodes[customernodes].gcount}
							<img src="img/nodegroup.gif" alt="" {tip a=$customernodes[customernodes].id dynpopup='?m=nodeinfo&amp;id=$a&amp;nodegroups=1' sticky=1}>
							{/if}
						</TD>
						<TD class="text-right bold nobr">
							<A href="?m=netinfo&amp;id={$customernodes[customernodes].netid}">{$customernodes[customernodes].netname|truncate:"20":"...":true}</A> {if $customernodes[customernodes].network_pub} (<A href="?m=netinfo&amp;id={$customernodes[customernodes].network_pub.id}">{$customernodes[customernodes].network_pub.name|truncate:"20":"...":true}</A>){/if}
						</TD>
						<TD class="nobr">
							<A href="?m=nodeset&amp;id={$customernodes[customernodes].id}"><IMG src="img/{if ! $customernodes[customernodes].access}no{/if}access.gif" alt="[ {if ! $customernodes[customernodes].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]" title="[ {if ! $customernodes[customernodes].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]"></A>
							<A href="?m=nodewarn&amp;id={$customernodes[customernodes].id}"><IMG src="img/warning{if ! $customernodes[customernodes].warning}off{else}on{/if}.gif" alt="[ {if ! $customernodes[customernodes].warning}{trans("Enable notice")}{else}{trans("Disable notice")}{/if} ]" title="[ {if ! $customernodes[customernodes].warning}{trans("Enable notice")}{else}{trans("Disable notice")}{/if} ]"></A>
							<A href="?m=nodedel&amp;id={$customernodes[customernodes].id}" onClick="return confirmLink(this, '{t a=$customernodes[customernodes].name}Are you sure, you want to remove node \'$a\' from database?{/t}')"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
							<A href="?m=nodeedit&amp;id={$customernodes[customernodes].id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
							<A href="?m=nodeinfo&amp;id={$customernodes[customernodes].id}"><IMG src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>&nbsp;
							<INPUT type="checkbox" name="marks[{$customernodes[customernodes].id}]" value="{$customernodes[customernodes].id}" checked>
						</TD>
					</TR>
					{sectionelse}
					<TR>
						<TD class="empty-table" colspan="{math equation="x+y" x=7 y=$ewx}">
							<P>{if $customerinfo.deleted}<span class="red">{trans("That customer has been deleted.")}</span>{else}{trans("That customer hasn't got any node.")}{/if}</P>
						</TD>
					</TR>
					{/section}
					<TR>
						<TD colspan="{math equation="x+y" x=4 y=$ewx}" class="ftop">
							<IMG src="img/access.gif" alt="">
							<A href="javascript:setstatus(1)"> {trans("Connect")}</A>/<A href="javascript:setstatus(0)">{trans("Disconnect")}</A>
							<IMG src="img/warningon.gif" alt="">
							<A href="javascript:setwarning(1)"> {trans("Enable")}</A>/<A href="javascript:setwarning(0)">{trans("Disable")}</A>
							{if $allnodegroups}
							<IMG src="img/nodegroup.gif" alt="">
							<A href="javascript:setgroup('setgroup')"> {trans("Add")}</A>/<A href="javascript:setgroup('unsetgroup')">{trans("Remove Group")}</A>:
							<SELECT SIZE="1" id="groupselect">
								{foreach from=$allnodegroups item=nodegroup}
								<OPTION value="{$nodegroup.id}" {if $listdata.nodegroup == $nodegroup.id} SELECTED {/if}>{$nodegroup.name|truncate:30:"...":true}</OPTION>
								{/foreach}
							</SELECT>
							{/if}
						</TD>
						<TD class="ftop text-right nobr" colspan="3">
							<label for="allbox">{trans("Check All")}</label><INPUT type="checkbox" name="allbox" id="allbox" onchange="CheckAll('custnodeslist', this)" value="1" checked>
						</TD>
					</TR>
				</TBODY>
			</TABLE>
			</FORM>
		</TD>
	</TR>
</TABLE>
<SCRIPT type="text/javascript">
<!--
if (getCookie('nodespanel-{$layout.module}') == '1')
{
	document.getElementById('nodespanel-{$layout.module}').style.display = '';
}
//-->
</SCRIPT>
