<!--// $Id$ //-->
{css}

{tab_container id="customerevents"}

	{tab_header content_id="eventspanel"}
		{tab_header_cell icon="lms-ui-icon-calendar"}
			<strong>{trans("Customer Timetable:")}</strong>
			{if $limit}
				({t a=$limit}last $a events{/t})
			{/if}
		{/tab_header_cell}
		{tab_header_cell}
			<A href="?m=eventadd&customerid={$customerinfo.id}">{trans("New Event")} &raquo;</A>
			<A href="?m={$layout.module}&id={if $nodeinfo.id}{$nodeinfo.id}{else}{$customerinfo.id}{/if}&allevents={if $allevents}0{else}1{/if}">{if $allevents}{trans("Hide closed")}{else}{trans("Show closed")}{/if} &raquo;</A>
		{/tab_header_cell}
	{/tab_header}

	{tab_contents id="eventspanel"}
		{tab_table}
			<div class="lms-ui-tab-table-row header">
				<div class="lms-ui-tab-table-wrapper col-5">
					<div class="lms-ui-tab-table-wrapper col-3">
						<div class="lms-ui-tab-table-wrapper creation-date-type col-2">
							<div class="lms-ui-tab-table-column creation-date">
								<strong>{trans("Date:")}</strong>
							</div>
							<div class="lms-ui-tab-table-column type">
								<strong>{trans("Type:")}</strong>
							</div>
						</div>
						<div class="lms-ui-tab-table-column number">
							{trans("Ticket ID:")}
						</div>
					</div>
					<div class="lms-ui-tab-table-wrapper title-description col-2">
						<div class="lms-ui-tab-table-column title">
							{trans("Title:")}
						</div>
						<div class="lms-ui-tab-table-column description">
							{trans("Description:")}
						</div>
					</div>
				</div>

				<div class="lms-ui-tab-table-column buttons">
					&nbsp;
				</div>
			</div>

			{section name=eventlist loop=$eventlist max=$limit}
			{$event=$eventlist[eventlist]}
				<div class="lms-ui-tab-table-row{if $event.closed} blend{/if}" data-target-url="?m=eventinfo&id={$event.id}">
					<div class="lms-ui-tab-table-wrapper col-5">
						<div class="lms-ui-tab-table-wrapper col-3">
							<div class="lms-ui-tab-table-wrapper creation-date-type col-2">
								<div class="lms-ui-tab-table-column creation-date">
									{$event.date|date_format:"%Y/%m/%d"}
									{if $event.endtime == 86400}
										{if $event.enddate > $event.date}- {$event.enddate|date_format:"%Y/%m/%d"}{/if}
										{trans("whole day")}
									{else}
										{($event.date + $event.begintime)|date_format:"%H:%M"}
										{if $event.begintime != $event.endtime}
											- {($event.enddate + $event.endtime)|date_format:"%H:%M"}
										{/if}
									{/if}
								</div>
								<div class="lms-ui-tab-table-column type">
									{$_EVENTTYPES[$event.type]}
								</div>
							</div>
							<div class="lms-ui-tab-table-column number">
								{if $event.ticketid}
									<A href="?m=rtticketview&id={$event.ticketid}">#{$event.ticketid}</A>
								{else}
									---
								{/if}
							</div>
						</div>

						<div class="lms-ui-tab-table-wrapper title-description col-2">
							<div class="lms-ui-tab-table-column title">
								{$event.title}
							</div>
							<div class="lms-ui-tab-table-column description">
								{$event.description}
							</div>
						</div>
					</div>
					<div class="lms-ui-tab-table-column buttons">
						{if $event.closed}
							{button type="link" icon="close" href="?m=eventedit&id={$event.id}&action=open"
								tip="Open"}
						{else}
							{button type="link" icon="open" href="?m=eventedit&id={$event.id}&action=close"
								tip="Close"}
						{/if}
						{button type="link" icon="delete" href="?m=eventdel&id={$event.id}"
							onclick="return confirmLink(this, '{trans("Are you sure, you want to delete that event?")}')"
							tip="Delete"}
						{button type="link" icon="edit" href="?m=eventedit&id={$event.id}" tip="Edit"}
					</div>
				</div>
			{sectionelse}
				<div class="lms-ui-tab-empty-table">
					{trans("There are no events in timetable.")}
				</div>
			{/section}
		{/tab_table}
	{/tab_contents}
{/tab_container}