{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<div id="customeredit-sortable" class="lms-ui-sortable-persistent">
{block name="customereditbox"}
	{include file="customer/customereditbox.html"}
{/block}
{block name="customernodesbox"}
	{include file="customer/customernodesbox.html"}
{/block}
{block name="customernetworksbox"}
	{include file="customer/customernetworksbox.html"}
{/block}
{block name="transactions"}
	{if ConfigHelper::checkConfig('phpui.logging') && (ConfigHelper::checkConfig('privileges.superuser') || ConfigHelper::checkConfig('privileges.transaction_logs'))}
			{include file="transactions.html"}
	{/if}
{/block}
{block name="customervoipaccountsbox"}
	{include file="customer/customervoipaccountsbox.html"}
{/block}
{block name="customerdocuments"}
	{include file="customer/customerdocuments.html" limit=10}
{/block}
{block name="customermessages"}
	{include file="customer/customermessages.html" limit=10}
{/block}
{block name="customerevents"}
	{include file="customer/customerevents.html" limit=10}
{/block}
{block name="customergroups"}
	{include file="customer/customergroups.html"}
{/block}
{block name="customerdevices"}
	{include file="customer/customerdevices.html"}
{/block}
{block name="customerassignments"}
	{include file="customer/customerassignments.html"}
{/block}
{block name="customerbalancebox"}
	{include file="customer/customerbalancebox.html" limit=-10}
{/block}
</div>
<script>

	restoreSortable('customeredit-sortable', '{$customeredit_sortable_order}');

</script>

{visible_panel_selector}

{/block}
