{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<SCRIPT>

	function setWarnings(on)
	{
		if (on == 1)
		{
			document.getElementById('warnon').value = 1;
			document.getElementById('warnoff').value = 0;
		}
		else
		{
			document.getElementById('warnon').value = 0;
			document.getElementById('warnoff').value = 1;
		}
		document.setwarnings.submit();
	}

	function changeCustomerGroups(oper) {
		var action = null;

		switch (oper) {
			case 1:
				action = '?m=customergroup&oper=addtogroups';
				break;
			case 0:
				action = '?m=customergroup&oper=removefromgroups';
				break;
			case 2:
				action = '?m=customergroup&oper=changegroups';
				break;
		}

		if (action === null) {
			return false;
		}

		document.setwarnings.action = action;
		document.setwarnings.submit();
	}

</SCRIPT>
<FORM NAME="setwarnings" ID="customersearchresults" METHOD="POST" ACTION="?m=customerwarn&search=0">
<TABLE class="lmsbox">
    <THEAD>
	<TR {tip text="Click on column name to change sorting order"}>
		<TD width="97%">
			<i class="lms-ui-icon-customer"></i><a href="?m=customersearch&search=1&o=customername{if $listdata.direction == "asc" && $listdata.order == "customername"},desc{/if}">{trans("First/last or Company name:")}</A></B> {if $listdata.order == "customername"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<i class="lms-ui-icon-location"></i><a href="?m=customersearch&search=1&o=address{if $listdata.direction == "asc" && $listdata.order == "address"},desc{/if}">{trans("Address:")}</A> {if $listdata.order == "address"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD align="right" width="1%" valign="top">
			<a href="?m=customersearch&search=1&o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</A></B> {if $listdata.order == "id"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			{trans("Services:")}
		</TD>
		<TD width="1%" ALIGN="right" valign="top">
			{if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}<a href="?m=customersearch&search=1&o=balance{if $listdata.direction == "asc" && $listdata.order == "balance"},desc{/if}">{trans("Balance:")}</A>&nbsp;{if $listdata.order == "balance"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<a href="?m=customersearch&search=1&o=tariff{if $listdata.direction == "asc" && $listdata.order == "tariff"},desc{/if}">{trans("Subscription:")}</A>&nbsp;{if $listdata.order == "tariff"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}{/if}
		</TD>
		<TD width="1%" align="right" nowrap>
			<B>{t a=$listdata.total|default:"0"}Total: $a{/t}</B>&nbsp;
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR class="ftop">
		<TD class="lms-ui-pagination" COLSPAN="4">
			{include file="scroller.html" loop=$customerlist adlink="&search=1"}
			<INPUT type="hidden" id="warnon" name="setwarnings[warnon]" value="0">
			<INPUT type="hidden" id="warnoff" name="setwarnings[warnoff]" value="0">
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{section name=customerlist loop=$customerlist}
	<INPUT type="hidden" class="hiddenbtn" name="setwarnings[mcustomerid][]" value="{$customerlist[customerlist].id}">
	{/section}
	{cycle values="light,lucid" print=false}
	{section name=customerlist loop=$customerlist start=$start max=$pagelimit}
	<TR class="highlight {cycle}{if $customerlist[customerlist].account && !$customerlist[customerlist].nodeac} blend{/if}"  >
		<TD onClick="return self.location.href='?m=customerinfo&id={$customerlist[customerlist].id}';" valign="top">
			<IMG src="img/{$_CSTATUSES[$customerlist[customerlist].status].img}" alt="">{if $customerlist[customerlist].info} <img src="img/info1.gif" ALT="" {tip text=$customerlist[customerlist].info}>{/if} <A name="{$customerlist[customerlist].id}" class="lms-ui-tooltip-customerinfo" data-resourceid="{$customerlist[customerlist].id}"><B>{$customerlist[customerlist].customername}</B>{if $customerlist[customerlist].deleted} (<span class="red">{trans("deleted customer")}</span>){/if}</A><BR>
			<i class="lms-ui-icon-location"></i>{$customerlist[customerlist].full_address}{if $customerlist[customerlist].country != ""}, {t}{$customerlist[customerlist].country}{/t}{/if}
		</TD>
		<TD valign="top" align="right" NOWRAP>
			({$customerlist[customerlist].id|string_format:"%04d"})<BR>
			{if $customerlist[customerlist].account}
				<IMG SRC="img/node{if !$customerlist[customerlist].online}_off{/if}.gif" alt="" class="lms-ui-tooltip-nodelist" data-resourceid="{$customerlist[customerlist].id}"></A>
			{/if}
		</TD>
		<TD class="text-right valign-top nobr">
			{if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
			<IMG src="img/empty.gif" width="1" height="16" ALT="">{if $customerlist[customerlist].balance < 0}<font class="alert">{/if}{$customerlist[customerlist].balance|money_format}{if $customerlist[customerlist].balance < 0}</span>{/if}<BR><IMG src="img/empty.gif" width="1" height="16" ALT=""><span CLASS="blend">{$customerlist[customerlist].tariffvalue|money_format}</span>
			{/if}
		</TD>
		<TD class="text-right nobr">
			{if $customerlist[customerlist].balance < 0}
				<A href="?m=customerbalanceok&id={$customerlist[customerlist].id}" OnClick="return confirmLink(this, '{t a=$customerlist[customerlist].customername|escape:"javascript"|escape:"html"}Are you sure, you want to account ALL debts of customer \'$a\'?{/t}');"><IMG src="img/pay.gif" alt="{trans("Account")}" title="{trans("Account")}"></A>
			{/if}
			{if $customerlist[customerlist].account}
				{if $customerlist[customerlist].status == $smarty.const.CSTATUS_CONNECTED}
					{if $customerlist[customerlist].nodeac == 1}
						<A href="?m=nodeset&ownerid={$customerlist[customerlist].id}"><IMG src="img/access.gif" alt="{trans("Disconnect All")}" title="{trans("Disconnect All")}"></A>
					{else}
						{if $customerlist[customerlist].nodeac == 2}
							<A href="?m=nodeset&ownerid={$customerlist[customerlist].id}"><IMG src="img/mixaccess.gif" alt="{trans("Disconnect All")}" title="{trans("Disconnect All")}"></A>
						{else}<A href="?m=nodeset&ownerid={$customerlist[customerlist].id}&access=1"><IMG src="img/noaccess.gif" alt="{trans("Connect All")}" title="{trans("Connect All")}"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			{if $customerlist[customerlist].warncount}
				{if $customerlist[customerlist].status == $smarty.const.CSTATUS_CONNECTED}
					{if $customerlist[customerlist].nodewarn == 1}
						<A href="?m=nodewarn&ownerid={$customerlist[customerlist].id}" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningon.gif" alt="{trans("Disable notices for all")}" title="{trans("Disable notices for all")}"></A>
					{else}
						{if $customerlist[customerlist].nodewarn == 2}
							<A href="?m=nodewarn&ownerid={$customerlist[customerlist].id}" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningmix.gif" alt="{trans("Disable notices for all")}" title="{trans("Disable notices for all")}"></A>
						{else}<A href="?m=nodewarn&ownerid={$customerlist[customerlist].id}&warning=1" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningoff.gif" alt="{trans("Enable notices for all")}" title="{trans("Enable notices for all")}"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			{if $listdata.state == 50}
			<A href="?m=customeredit&id={$customerlist[customerlist].id}&action=recover"><IMG src="img/recover.gif" alt="{trans("Recover")}" title="{trans("Recover")}"></A>
			{else}
			<A href="?m=customerdel&id={$customerlist[customerlist].id}" OnClick="return confirmLink(this, '{t a=$customerlist[customerlist].customername|escape:"javascript"|escape:"html"}Are you sure, you want to remove customer \'$a\' from database?\n\nIf that customer have some nodes, they will be also removed and data definitely lost!{/t}');"><IMG src="img/delete.gif" alt="{trans("Delete")}" title="{trans("Delete")}"></A>
			<A href="?m=customeredit&id={$customerlist[customerlist].id}"><IMG src="img/edit.gif" alt="{trans("Edit")}" title="{trans("Edit")}"></A>
			{/if} 
			<A href="?m=customerinfo&id={$customerlist[customerlist].id}"><IMG src="img/info.gif" alt="{trans("Info")}" title="{trans("Info")}"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="4" class="empty-table">
			<p>{trans("No such customers matching search criteria.")}</p>
		</TD>
	</TR>
	{/section}
    </TBODY>
    <TFOOT>
	{if $listdata.total != 0}
	<TR class="ftop">
		<TD class="lms-ui-pagination" COLSPAN="4">
			{include file="scroller.html" loop=$customerlist adlink="&search=1"}
		</TD>
	</TR>
	<TR class="ftop">
		<TD width="100%" align="left" COLSPAN="4" nowrap>
			<IMG SRC="img/warningon.gif"> <A HREF="javascript:setWarnings(1);">{trans("Enable")}</A> / <A HREF="javascript:setWarnings(0);">{trans("Disable")}</A>&nbsp;
			<IMG SRC="img/mail.gif"> <A HREF="?m=customerwarn&search=1">{trans("Set notice content")}</A>
		</TD>
	</TR>
	<TR class="ftop">
		<TD width="100%" align="left" COLSPAN="4" nowrap>
			<IMG SRC="img/group.gif"> <A HREF="javascript:changeCustomerGroups(1);">{trans("Add")}</A>
			/
			<A HREF="javascript:changeCustomerGroups(0);">{trans("Remove")}</A>
			/
			<A HREF="javascript:changeCustomerGroups(2);">{trans("Change Groups")}</A>:
			{if is_array($listdata.customergroup)}
				{$groups=array_flip($listdata.customergroup)}
			{else}
				{$groups=array()}
			{/if}
			<SELECT SIZE="1" class="lms-ui-multiselect" NAME="setwarnings[customergroup][]" multiple>
				{foreach $customergroups as $customergroup}
				<OPTION value="{$customergroup.id}"{if isset($groups[$customergroup.id])} selected{/if}>{$customergroup.name|truncate:50:"...":true}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	{/if}
	<TR class="ftop">
		<TD align="right">
			&nbsp;
		</TD>
		<TD align="right">
			{if ConfigHelper::checkConfig('privileges.superuser') || (!ConfigHelper::checkConfig('privileges.hide_finances') && !ConfigHelper::checkConfig('privileges.hide_summaries'))}
			<B>{trans("Outstandings")}:<BR>
			{trans("Overcharges")}:</B>
			{/if}
		</TD>
		<TD align="right" nowrap>
			{if ConfigHelper::checkConfig('privileges.superuser') || (!ConfigHelper::checkConfig('privileges.hide_finances') && !ConfigHelper::checkConfig('privileges.hide_summaries'))}
			<B>{$listdata.below|money_format}<BR>
			{$listdata.over|money_format}</B>
			{/if}
		</TD>
		<TD align="right" valign="top" nowrap>
			<B>{trans("Total:")} {$listdata.total|default:"0"}</B>&nbsp;
		</TD>
	</TR>
    </TFOOT>
</TABLE>
</FORM>
{/block}
