<!--// $Id$ //-->
<div class="lms-ui-sortable" id="customernetnodes">
    <TABLE class="lmsbox">
        <COLGROUP>
            <COL style="width: 99%;">
            <COL style="width: 1%;">
        </COLGROUP>
        <THEAD>
        <TR class="hand lmsbox-titlebar" data-lmsbox-content="netnodepanel">
            <TD class="bold">
                <IMG src="img/netnode.png" alt="">
                {t a=$customernetnodes|@count|default:"0"}Network Nodes ($a):{/t}
            </TD>
            <TD class="text-right nobr">
                <A href="?m=netnodeadd&customerid={$customerinfo.id}">{trans("New network node")} &raquo;</A>
            </TD>
        </TR>
        </THEAD>
        <TBODY>
        <TR id="netnodepanel" style="display: none;">
            <TD colspan="2">
                <TABLE class="lmsbox-inner lms-ui-background-cycle">
                    <COLGROUP>
                        <COL style="width: 1%;">
                        <COL style="width: 95%;">
                        <COL style="width: 1%;">
                        <COL style="width: 1%;">
                        <COL style="width: 1%;">
                        <COL style="width: 1%;">
                    </COLGROUP>
                    <THEAD>
                    <TR class="lms-ui-header-panel">
                        <TD class="bold nobr">{trans("Name:")}</TD>
                        <TD>{trans("Type:")}</TD>
                        <TD class="nobr">{trans("ID:")}</TD>
                        <TD class="nobr"></TD>
                        <TD class="nobr"></TD>
                        <TD class="nobr"></TD>
                        <TD></TD>
                    </TR>
                    </THEAD>
                    <TBODY class="lms-ui-multi-check">
                    {foreach $customernetnodes as $customernetnode}
                    {$customer_netnode_id = $customernetnode.id}

                    <TR class="highlight" data-target-url="?m=netnodeinfo&id={$customernetnode.id}">
                        <TD class="nobr">
                            <img src="img/netnode.png" alt=""">
                            <span class="bold">{$customernetnode.name}</span>
                            {if $customernetnode.location}<BR>
                            {$customernetnode.location|truncate:60:"...":true}
                            {/if}
                        </TD>
                        <TD>
                            {$_NETELEMENTTYPES[$customernetnode.type]}
                        </TD>
                        <TD>
                            ({$customernetnode.id|string_format:"%04d"})
                        </TD>
                        <td class="nobr">
                        </td>
                        <TD class="nobr">
                        </TD>
                        <TD class="nobr">
                        </TD>
                        <TD class="nobr" class="lms-ui-buttons">
                            <a href="?m=netnodeedit&id={$customernetnode.id}"><img src="img/edit.gif" alt=""></a>
                        </TD>
                    </TR>
                    {foreachelse}
                    <TR>
                        <TD class="empty-table" colspan="6">
                            <p>{trans("That customer hasn't got any assigned network nodes.")}</p>
                        </TD>
                    </TR>
                    {/foreach}
                    </TBODY>
                </TABLE>
            </TD>
        </TR>
        </TBODY>
    </TABLE>
</div>
<SCRIPT>

	if (getCookie('netnodepanel') == '1') {
		$('#netnodepanel').show();
	}

</SCRIPT>
