{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<script type="text/javascript" src="img/tinymce3/tiny_mce.js"> </script>
<H1>{$layout.pagetitle}</H1>
{include file="calendar_js.html"}
<SCRIPT type="text/javascript">
<!--
	function randomize()
	{
		var r = 0;
		do
			r = Math.floor(Math.random()*1000000-1);
		while (r<1000);
		document.customeradd.elements['customeradd[pin]'].value = r;
	}

	function newcontact()
	{
		var contactscountelem = document.getElementById('contactscount');
		var nr = contactscountelem.value;
		var lastcontactelem = document.getElementById('contact' + (nr - 1));
		var newrow = lastcontactelem.parentNode.insertRow(lastcontactelem.rowIndex + 1);
		newrow.id = 'contact' + nr;
		var newcell = newrow.insertCell(0);
		newcell.style.whiteSpace = 'nowrap';
		newcell.innerHTML = '<HR><INPUT type="text" size="16" value="" name="customeradd[contacts][' + nr + '][phone]"'
				+ ' onmouseover="popup(\'{trans("Enter contact phone")}\')" onmouseout="pophide()">'
			+ '<label><INPUT type="checkbox" value="{$smarty.const.CONTACT_MOBILE}"'
				+ ' name="customeradd[contacts][' + nr + '][type][]"> {trans("mobile")}</label>'
			+ '<label><INPUT type="checkbox" value="{$smarty.const.CONTACT_FAX}"'
				+ ' name="customeradd[contacts][' + nr + '][type][]"> {trans("fax")}</label>'
			+ '<label onmouseover="popup(\'{trans("Check if send notification")}\')" onmouseout="pophide()">'
				+ '<INPUT type="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS}"'
				+ ' name="customeradd[contacts][' + nr + '][type][]"> {trans("Notification")}</label>'
			+ '<label onmouseover="popup(\'{trans("Not visible by the customer in electronic Customer Service Representative")}\')" onmouseout="pophide()">'
				+ '<INPUT type="checkbox" value="{$smarty.const.CONTACT_DISABLED}"'
				+ ' name="customeradd[contacts][' + nr + '][type][]"> {trans("disabled")}</label>'
			+ '<BR><INPUT type="text" size="68" value="" name="customeradd[contacts][' + nr + '][name]"'
				+ ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
		contactscountelem.value = parseInt(nr) + 1;
	}

	function newemail() {
		var emailscountelem = document.getElementById('emailscount');
		var nr = emailscountelem.value;
		var lastemailelem = document.getElementById('email' + (nr - 1));
		var newrow = lastemailelem.parentNode.insertRow(lastemailelem.rowIndex + 1);
		newrow.className = 'light';
		newrow.id = 'email' + nr;
		var newcell = newrow.insertCell(0);
		newcell.style.whiteSpace = 'nowrap';
		newcell.innerHTML = '<HR><INPUT TYPE="text" size="23" value="" name="customeradd[emails][' + nr + '][email]"'
				+ ' onmouseover="popup(\'{trans("Enter e-mail address (optional)")}\')" onmouseout="pophide()">'
			+ '<label onmouseover="popup(\'{trans("Check if sent electronic invoices on this email")}\')" onmouseout="pophide()">'
				+ '<INPUT type="checkbox" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[emails][' + nr + '][type][]">'
				+ ' {trans("Invoice")}</label>'
			+ '<label onmouseover="popup(\'{trans("Check if send notification")}\')" onmouseout="pophide()">'
				+ '<INPUT type="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[emails][' + nr + '][type][]">'
				+ ' {trans("Notification")}</label>'
			+ '<label onmouseover="popup(\'{trans("Not visible by the customer in electronic Customer Service Representative")}\')" onmouseout="pophide()">'
				+ '<INPUT type="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[emails][' + nr + '][type][]">'
				+ ' {trans("disabled")}</label>'
			+ '<BR><INPUT TYPE="text" size="68" value="" name="customeradd[emails][' + nr + '][name]"'
				+ ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
		emailscountelem.value = parseInt(nr) + 1;
	}
//-->
</SCRIPT>
<FORM name="customeradd" id="customeradd" method="POST" action="?m=customeradd">
<p style="display: none;">
<INPUT type="submit" class="hiddenbtn">
</p>
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 100%;" colspan="2">
			<TABLE>
				<TR>
					<TD class="bold">
						{trans("Name/Surname:")}
					</TD>
					<TD>&nbsp;</TD>
					<TD>
						<INPUT type="text" name="customeradd[lastname]" value="{$customeradd.lastname}" SIZE="50" {tip text="Enter customer last name or company name" trigger="lastname" bold=1}>
					</TD>
				</TR>
				<TR>
					<TD class="bold">
						{trans("First name:")}
					</TD>
					<TD>&nbsp;</TD>
					<TD>
						<INPUT type="text" name="customeradd[name]" value="{$customeradd.name}" SIZE="50" {tip text="Enter customer name" trigger="name" bold=1}>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR>
		<TD style="width: 50%;" class="container valign-top">
			<TABLE cellpadding="3" width="100%">
				<TR>
					<TD style="width: 1%;">
						<img src="img/{if $customeradd.status}{$CSTATUSES[$customeradd.status].img}{else}{$CSTATUSES[$smarty.const.CSTATUS_CONNECTED].img}{/if}" alt="">
					</TD>
					<TD style="width: 99%;">
						<SELECT size="1" name="customeradd[status]" {tip text="Select customer state" trigger="status"}>
							{foreach $_CSTATUSES as $statusidx => $status}
							<OPTION value="{$statusidx}"{if $customeradd.status == $statusidx} selected{/if}>{$status.singularlabel}</OPTION>
							{/foreach}
						</SELECT>
					</TD>
				</TR>
				{if $divisions}
				<TR>
					<TD style="width: 1%;">
						<img src="img/division.gif" alt="">
					</TD>
					<TD style="width: 99%;">
						<SELECT size="1" name="customeradd[divisionid]" {tip text="Select division" trigger="divisionid"}>
							{foreach from=$divisions item=item}{if !$item.status}
							<OPTION value="{$item.id}"{if $customeradd.divisionid == $item.id} SELECTED{/if}>{$item.shortname}</OPTION>
							{/if}{/foreach}
						</SELECT>
					</TD>
				</TR>
				{/if}
				{if $groups}
				<TR>
					<TD style="width: 1%;">
						<IMG SRC="img/group.gif" alt="">
					</TD>
					<TD style="width: 99%;" class="nobr" colspan="2">
						<SELECT SIZE="1" NAME="customeradd[group]" {tip text="Select group to assign to customer" trigger="group"}>
							<OPTION VALUE="0">{trans("... select group ...")}</OPTION>
							{foreach $groups as $group}
							<OPTION VALUE="{$group.id}" {if $customeradd.group == $group.id}SELECTED{/if}>{$group.name} ({$group.id|string_format:"%04d"})</OPTION>
							{/foreach}
						</SELECT>
					</TD>
				</TR>
				{/if}
				<TR>
					<TD style="width: 1%;">
						<IMG SRC="img/folder.gif" alt="">
					</TD>
					<TD style="width: 99%;" class="nobr" colspan="2">
						<INPUT type="radio" name="customeradd[type]" value="0" id="private" {tip text="Select legal personality type" trigger="type"}{if $customeradd.type == $smarty.const.CTYPES_PRIVATE} CHECKED{/if}><label for="private">{assign var='type' value=$smarty.const.CTYPES_PRIVATE}{$_CTYPES.$type}</label>
						<INPUT type="radio" name="customeradd[type]" value="1" id="company" {tip text="Select legal personality type" trigger="type"}{if $customeradd.type == $smarty.const.CTYPES_COMPANY} CHECKED{/if}><label for="company">{assign var='type' value=$smarty.const.CTYPES_COMPANY}{$_CTYPES.$type}</label>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;" class="valign-top">
						<IMG src="img/home.gif" alt="">
					</TD>
					<TD style="width: 99%;" class="nobr">
						<TABLE width="100%" cellpadding="1">
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Address:")}</TD>
								<TD style="width: 99%;"><INPUT type="text" size="30" value="{$customeradd.address}" name="customeradd[address]" id="address" {tip text="Enter customer address" trigger="address"}></TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("City:")}</TD>
								<TD style="width: 99%;"><INPUT type="text" SIZE="30" value="{$customeradd.city}" name="customeradd[city]" id="city" {tip text="Enter customer city" trigger="city"}></TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Zip:")}</TD>
								<TD style="width: 99%;">
									<INPUT type="text" SIZE="10" value="{$customeradd.zip}" name="customeradd[zip]" id="zip" {tip text="Enter zip code" trigger="zip"}>
									{if $customeradd.zipwarning}
									<INPUT type="hidden" name="customeradd[zipwarning]" value="1">
									{/if}
								</TD>
							</TR>
							{if $cstateslist}
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("State:")}</TD>
								<TD style="width: 99%;">
									<SELECT name="customeradd[stateid]" {tip text="Select country state (optional)" trigger="stateid"}>
										<OPTION value="0"></OPTION>
										{foreach from=$cstateslist item=item key=key}
										<OPTION value="{$key}"{if $key==$customeradd.stateid} SELECTED{/if}>{$item.name}</OPTION>
										{/foreach}
									</SELECT>
								</TD>
							</TR>
							{/if}
							{if $countrieslist}
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Country:")}</TD>
								<TD style="width: 99%;">
									<SELECT name="customeradd[countryid]" {tip text="Select country (optional)" trigger="countryid"}>
										<OPTION value="0"></OPTION>
										{foreach from=$countrieslist item=item key=key}
										<OPTION value="{$key}"{if $key==$customeradd.countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
										{/foreach}
									</SELECT>
								</TD>
							</TR>
							{/if}
						</TABLE>
						<script type="text/javascript">
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('address'),'?m=customeradd&ajax=1&mode=address&what=',0);
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('zip'),'?m=customeradd&ajax=1&mode=zip&what=',0);
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('city'),'?m=customeradd&ajax=1&mode=city&what=',0);
						</script>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;" class="valign-top">
						<IMG src="img/post.gif" alt="">
					</TD>
					<TD style="width: 99%;" class="nobr">
						<TABLE width="100%" cellpadding="1">
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Name:")}</TD>
								<TD style="width: 99%;"><INPUT type="text" size="30" value="{$customeradd.post_name}" name="customeradd[post_name]" id="post_name" {tip text="Enter service name (optional)" trigger="post_name"}></TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Address:")}</TD>
								<TD style="width: 99%;"><INPUT type="text" size="30" value="{$customeradd.post_address}" name="customeradd[post_address]" id="post_address" {tip text="Enter service address (optional)" trigger="post_address"}></TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("City:")}</TD>
								<TD style="width: 99%;"><INPUT type="text" SIZE="30" value="{$customeradd.post_city}" name="customeradd[post_city]" id="post_city" {tip text="Enter city of service address (optional)" trigger="post_city"}></TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Zip:")}</TD>
								<TD style="width: 99%;">
									<INPUT type="text" SIZE="10" value="{$customeradd.post_zip}" name="customeradd[post_zip]" id="post_zip" {tip text="Enter zip code of service address (optional)" trigger="post_zip"}>
									{if $customeradd.post_zipwarning}
									<INPUT type="hidden" name="customeradd[post_zipwarning]" value="1">
									{/if}
								</TD>
							</TR>
							{if $cstateslist}
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("State:")}</TD>
								<TD style="width: 99%;">
									<SELECT name="customeradd[post_stateid]" {tip text="Select country state (optional)" trigger="post_stateid"}>
										<OPTION value="0"></OPTION>
										{foreach from=$cstateslist item=item key=key}
										<OPTION value="{$key}"{if $key==$customeradd.post_stateid} SELECTED{/if}>{$item.name}</OPTION>
										{/foreach}
									</SELECT>
								</TD>
							</TR>
							{/if}
							{if $countrieslist}
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("Country:")}</TD>
								<TD style="width: 99%;">
									<SELECT name="customeradd[post_countryid]" {tip text="Select country (optional)" trigger="post_countryid"}>
										<OPTION value="0"></OPTION>
										{foreach from=$countrieslist item=item key=key}
										<OPTION value="{$key}"{if $key==$customeradd.post_countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
										{/foreach}
									</SELECT>
								</TD>
							</TR>
							{/if}
						</TABLE>
						<script type="text/javascript">
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('post_address'),'?m=customeradd&ajax=1&mode=address&what=',0);
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('post_zip'),'?m=customeradd&ajax=1&mode=zip&what=',0);
							new AutoSuggest(document.getElementById('customeradd'),document.getElementById('post_city'),'?m=customeradd&ajax=1&mode=city&what=',0);
						</script>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;"></TD>
					<TD style="width: 99%;" class="nobr">
						<fieldset style="width: 1%;" class="nobr">
							<legend class="bold"><IMG src="img/phone.gif" alt=""> {trans("Contact phones")}</legend>
							<table>
								{foreach from=$customeradd.contacts item=item key=key}
								<TR id="contact{$key}">
									<TD>
										<INPUT type="text" size="16" value="{$item.phone}" name="customeradd[contacts][{$key}][phone]" {tip text="Enter contact phone" trigger="contact`$key`"}>
										<label>
											<INPUT type="checkbox" value="{$smarty.const.CONTACT_MOBILE}" name="customeradd[contacts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_MOBILE)} checked{/if}>
											{trans("mobile")}
										</label>
										<label>
											<INPUT type="checkbox" value="{$smarty.const.CONTACT_FAX}" name="customeradd[contacts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_FAX)} checked{/if}>
											{trans("fax")}
										</label>
										<label {tip text="Check if send notification" trigger="chknotification"}>
											<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[contacts][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_NOTIFICATIONS)} checked{/if}>
											{trans("Notification")}
										</label>
										<label {tip text="Not visible by the customer in electronic Customer Service Representative" trigger="edisabled"}>
											<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[contacts][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_DISABLED)} checked{/if}>
											{trans("disabled")}
										</label>
										<BR>
										<INPUT type="text" size="68" value="{$item.name}" name="customeradd[contacts][{$key}][name]" {tip text="Enter contact name/description (optional)"}>
									</TD>
								</TR>
								{/foreach}
								<TR>
									<TD>
										<INPUT type="hidden" id="contactscount" value="{$item@total}">
										<A href="javascript: newcontact()">{trans("Add contact field")} &raquo;&raquo;&raquo;</A>
									</TD>
								</TR>
							</table>
						</fieldset>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;"></TD>
					<TD style="width: 99%;" class="nobr">
						<fieldset style="width: 1%;" class="nobr">
							<legend class="bold"><IMG src="img/mail.gif" alt=""> {trans("Email addresses")}</legend>
							<table>
								{foreach from=$customeradd.emails item=item key=key}
								<TR id="email{$key}">
									<TD>
										<INPUT type="text" size="23" value="{$item.email}" name="customeradd[emails][{$key}][email]" {tip text="Enter e-mail address (optional)" trigger="email`$key`"}>
										<label {tip text="Check if sent electronic invoices on this email"}>
											<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[emails][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_INVOICES)} checked{/if}>
											{trans("Invoice")}
										</label>
										<label {tip text="Check if send notification" trigger="chknotification"}>
											<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[emails][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_NOTIFICATIONS)} checked{/if}>
											{trans("Notification")}
										</label>
										<label {tip text="Not visible by the customer in electronic Customer Service Representative" trigger="edisabled"}>
											<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[emails][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_DISABLED)} checked{/if}>
											{trans("disabled")}
										</label>
										<BR>
										<INPUT type="text" size="68" value="{$item.name}" name="customeradd[emails][{$key}][name]" {tip text="Enter contact name/description (optional)"}>
									</TD>
								</TR>
								{/foreach}
								<TR>
									<TD>
										<INPUT type="hidden" id="emailscount" value="{$item@total}">
										<A href="javascript: newemail()">{trans("Add contact field")} &raquo;&raquo;&raquo;</A>
									</TD>
								</TR>
							</table>
						</fieldset>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;">
						<IMG SRC="img/gg.gif" alt="Gadu-Gadu">
					</TD>
					<TD style="width: 99%;">
						{assign var=gg value=$smarty.const.IM_GG}
						<INPUT type="text" name="customeradd[uid][{$gg}]" value="{if $customeradd.uid.$gg}{$customeradd.uid.$gg}{/if}" SIZE="20" {tip text="Enter Gadu-Gadu ID (optional)" trigger="gg"}>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;">
						<IMG src="img/yim.gif" alt="Yahoo">
					</TD>
					<TD style="width: 99%;">
					{assign var=yahoo value=$smarty.const.IM_YAHOO}
						<INPUT type="text" name="customeradd[uid][{$yahoo}]" value="{if $customeradd.uid.$yahoo}{$customeradd.uid.$yahoo}{/if}" SIZE="20" {tip text="Enter Yahoo Messenger ID (optional)" trigger="yahoo"}>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;">
						<IMG src="img/skype.gif" alt="Skype">
					</TD>
					<TD style="width: 99%;">
					{assign var=skype value=$smarty.const.IM_SKYPE}
						<INPUT type="text" name="customeradd[uid][{$skype}]" value="{if $customeradd.uid.$skype}{$customeradd.uid.$skype}{/if}" SIZE="20" {tip text="Enter Skype ID (optional)" trigger="skype"}>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;">
						<IMG src="img/pin.gif" alt="">
					</TD>
					<TD style="width: 99%;">
						<INPUT type="text" size="6" value="{if $customeradd.pin}{$customeradd.pin}{/if}" name="customeradd[pin]" {tip text="Enter 4 to 6 digits PIN number (optional)" trigger="pin"}>&nbsp;<A href="javascript: randomize()" {tip text="Generate random PIN"}>&raquo;&raquo;&raquo;</A>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;" class="valign-top">
						<IMG src="img/serialnumber.gif" alt="">
					</TD>
					<TD style="width: 99%;">
						<TABLE width="100%">
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("ICN")}:</TD>
								<TD style="width: 99%;">
									<INPUT type="text" size="30" value="{$customeradd.icn}" name="customeradd[icn]" {tip text="Enter Identity Card Number (optional)" trigger="icn"}>
								</TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("SSN")}:</TD>
								<TD style="width: 99%;">
									<INPUT type="text" size="30" value="{$customeradd.ssn}" name="customeradd[ssn]" {tip text="Enter customer Social Security Number (optional)" trigger="ssn"}>
									{if $customeradd.ssnwarning}
									<INPUT type="hidden" name="customeradd[ssnwarning]" value="1">
									{/if}
								</TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("TEN")}:</TD>
								<TD style="width: 99%;">
									<INPUT type="text" size="30" value="{$customeradd.ten}" name="customeradd[ten]" {tip text="Enter customer Tax Exempt Number (optional)" trigger="ten"}>
									{if $customeradd.tenwarning}
									<INPUT type="hidden" name="customeradd[tenwarning]" value="1">
									{/if}
								</TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("REGON")}:</TD>
								<TD style="width: 99%;">
									<INPUT type="text" size="30" value="{$customeradd.regon}" name="customeradd[regon]" {tip text="Enter Business Registration Number (optional)" trigger="regon"}>
								</TD>
							</TR>
							<TR>
								<TD style="width: 1%;" class="nobr">{trans("RBE")}:</TD>
								<TD style="width: 99%;">
									<INPUT type="text" size="30" value="{$customeradd.rbe}" name="customeradd[rbe]" {tip text="Enter National Court Register / Register of Business Entities Number (optional)" trigger="rbe"}>
								</TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;" class="valign-top">
						<IMG src="img/options.gif" alt="">
					</TD>
					<TD style="width: 99%;">
						<TABLE>
							<TR>
								<TD>
									{trans("Deadline:")}
								</TD>
								<TD>
									<SELECT name="customeradd[paytime]" {tip text="Select default deadline in days" trigger="paytime"}>
										<OPTION value="-1"{if !isset($customeradd.paytime) || $customeradd.paytime==-1} selected{/if}>- {trans("default")} -</OPTION>
										<OPTION value="0"{if isset($customeradd.paytime) && $customeradd.paytime==0} selected{/if}>0</OPTION>
										<OPTION value="7"{if $customeradd.paytime==7} selected{/if}>7</OPTION>
										<OPTION value="10"{if $customeradd.paytime==10} selected{/if}>10</OPTION>
										<OPTION value="14"{if $customeradd.paytime==14} selected{/if}>14</OPTION>
										<OPTION value="21"{if $customeradd.paytime==21} selected{/if}>21</OPTION>
										<OPTION value="30"{if $customeradd.paytime==30} selected{/if}>30</OPTION>
									</SELECT>
								</TD>
							</TR>
							<TR>
								<TD>
									{trans("Payment type:")}
								</TD>
								<TD>
									<SELECT name="customeradd[paytype]" {tip text="Select default invoices payment type" trigger="paytype"}>
										<OPTION value=""{if !$customeradd.paytype} selected{/if}>- {trans("default")} -</OPTION>
										{foreach from=$_PAYTYPES item=item key=key}
										<OPTION value="{$key}"{if $customeradd.paytype==$key} selected{/if}>{$item}</OPTION>
										{/foreach}
									</SELECT>
								</TD>
							</TR>
							<TR>
								<TD>
									{trans("Cutoff suspending:")}
								</TD>
								<TD>
									<div class="calendar">
									<INPUT type="text" name="customeradd[cutoffstop]" id="cutoffstop" {if $customerinfo.cutoffstop}value="{$customerinfo.cutoffstop}"{/if} size="10" {tip text="Select date of cutoff suspending (optional)" trigger="cutoffstop"}>
									</div>
								</TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%" class="valign-top">
						<IMG src="img/options.gif" alt="">
					</TD>
					<TD style="width: 99%">
						<TABLE cellpadding="0">
							<TR>
								<TD>
									<label for="chkconsent">{trans("Consent to personal data processing:")}</label>
								</TD>
								<TD>
									<INPUT type="checkbox" name="customeradd[consentdate]" value="{$smarty.now}" id="chkconsent"{if $customeradd.consentdate} checked{/if}>
								</TD>
							</TR>
							<TR>
								<TD>
									<label for="chkeinvoice">{trans("Cancellation of a traditional invoice (agreement on an electronic invoice):")}</label>
								</TD>
								<TD>
									<INPUT type="checkbox" name="customeradd[einvoice]" value="1" id="chkeinvoice"{if $customeradd.einvoice} checked{/if}>
								</TD>
							</TR>
							<TR {tip text="Consent to invoices delivery via e-mail:" trigger="invoicenotice"}>
								<TD>
									<label for="chkinvoicenotice">{trans("Consent to invoices delivery via e-mail:")}</label>
								</TD>
								<TD>
									<INPUT type="checkbox" name="customeradd[invoicenotice]" value="1" id="chkinvoicenotice"{if $customeradd.invoicenotice} checked{/if}>
								</TD>
							</TR>
							<TR>
								<TD>
									<label for="chkmailingnotice">{trans("Consent to messages delivery via e-mail or sms:")}</label>
								</TD>
								<TD>
									<INPUT type="checkbox" name="customeradd[mailingnotice]" value="1" id="chkmailingnotice"{if $customeradd.mailingnotice} checked{/if}>
								</TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD style="width: 50%;" class="container valign-top">
			<TABLE width="100%" cellpadding="3">
				<TR>
					<TD style="width: 1%;"><IMG src="img/info1.gif" alt=""></TD>
					<TD style="width: 99%;">
						<input type="checkbox" id="info_label" onclick="javascript:toggle_visual_editor('info');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
						<label for="info_label">{trans("visual editor")}</label><br>
						<TEXTAREA rows="10" cols="60" name="customeradd[info]" id="info" {tip text="Enter additional information (optional)"}>{$customeradd.info|escape}</TEXTAREA>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;"><IMG src="img/warningon.gif" alt=""></TD>
					<TD style="width: 99%;">
						<input type="checkbox" id="message_label" onclick="javascript:toggle_visual_editor('message');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
						<label for="message_label">{trans("visual editor")}</label><br>
						<TEXTAREA rows="10" cols="60" name="customeradd[message]" id="message" {tip text="Enter notice contents (optional)"}>{$customeradd.message|escape}</TEXTAREA>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%;"><IMG src="img/note.gif" alt=""></TD>
					<TD style="width: 99%;">
						<input type="checkbox" id="notes_label" onclick="javascript:toggle_visual_editor('notes');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
						<label for="notes_label">{trans("visual editor")}</label><br>
						<TEXTAREA rows="10" cols="60" name="customeradd[notes]" id="notes" {tip text="Enter notes (optional)"}>{$customeradd.notes|escape}</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD style="width: 100%;" class="text-right" colspan="2">
			<A href="javascript:document.customeradd.submit();" accesskey="S">{trans("Submit")} <img src="img/save.gif" alt=""></A>
			<A href="?m=customerlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></A><BR>
			<INPUT type="checkbox" name="customeradd[reuse]" id="customeradd_reuse" value="ON" {if $customeradd.reuse}checked{/if}><label for="customeradd_reuse"> {trans("Display this form again, when this customer is saved")}</label>
		</TD>
	</TR>
	</TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
	document.forms['customeradd'].elements['customeradd[lastname]'].focus();
	if(document.forms['customeradd'].elements['customeradd[pin]'].value == '') randomize();

	tinymce_init('{$_ui_language}');
	{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'}
	toggle_visual_editor('info');
	toggle_visual_editor('message');
	toggle_visual_editor('notes');
	{/if}
//-->
</SCRIPT>
{/block}
