<!--// $Id$ //-->

{css}

{tab_container id="customercalls" label="Phone Calls"}

    {tab_header content_id="callpanel"}
        {tab_header_cell icon="lms-ui-icon-phone-call"}
            <strong>{trans("Phone Calls")}</strong>
            &nbsp;({t a=$limit}last $a phone calls{/t})
        {/tab_header_cell}
        {tab_header_cell}
            <a href="?m=customercalllist&{if isset($userinfo.id)}u={$userinfo.id}{else}c={$customerinfo.id}{/if}"
               id="all-phone-calls">
                {trans("All Phone Calls")}
                {icon name="next" class="fa-fw"}
            </a>
        {/tab_header_cell}
    {/tab_header}

    {tab_contents id="callpanel"}

        {tab_table}

            {if $customercalls}
                <div class="lms-ui-tab-table-row header">
                    <div class="lms-ui-tab-table-wrapper col-6">
                        <div class="lms-ui-tab-table-wrapper col-3">
                            <div class="lms-ui-tab-table-column date">
                                <strong>{trans("Date")}</strong>
                            </div>
                            <div class="lms-ui-tab-table-column username">
                                {trans("User")}
                            </div>
                            <div class="lms-ui-tab-table-column duration">
                                {trans("Duration")}
                            </div>
                        </div>
                        <div class="lms-ui-tab-table-wrapper col-3">
                            <div class="lms-ui-tab-table-column type">
                                {trans("Type")}
                            </div>
                            <div class="lms-ui-tab-table-column phone-number">
                                <strong>{trans("Phone number")}</strong>
                            </div>
                            <div class="lms-ui-tab-table-column notes">
                                <strong>{trans("Notes")}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="lms-ui-tab-table-column buttons">
                        &nbsp;
                    </div>
                </div>
            {/if}

            {foreach $customercalls as $call}
                <div class="lms-ui-tab-table-row customer-call" data-call-id="{$call.id}">
                    <div class="lms-ui-tab-table-wrapper col-6">
                        <div class="lms-ui-tab-table-wrapper col-3">
                            <div class="lms-ui-tab-table-column date">
                                <strong>{$call.dt|date_format:"%Y/%m/%d %H:%M:%S"}</strong>
                            </div>
                            <div class="lms-ui-tab-table-column username">
                                {$call.username|default:"-"|escape}
                            </div>
                            <div class="lms-ui-tab-table-column duration">
                                {if $call.duration == -1}
                                    {trans("- unknown -")}
                                {else}
                                    {$call.duration|duration_format}
                                {/if}
                            </div>
                        </div>
                        <div class="lms-ui-tab-table-wrapper col-3">
                            <div class="lms-ui-tab-table-column type">
                                {capture assign="direction"}{if $call.outgoing}{trans("<!customer-call>outgoing")}{else}{trans("<!customer-call>incoming")}{/if}{/capture}
                                {$direction}
                            </div>
                            <div class="lms-ui-tab-table-column phone-number">
                                <strong>{$call.phone}</strong>
                                {if !empty($call.customers)}
                                    <ul class="customer-list">
                                        {foreach $call.customers as $customer}
                                            <li>
                                                <a href="?m=customerinfo&id={$customer.id}">{$customer.lastname|escape} {$customer.name|escape}</a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                {/if}
                            </div>
                            <div class="lms-ui-tab-table-column notes">
                                <span class="customer-call-view customer-call-note-view">
                                    {if $call.notes}
                                        {$call.notes|trunescape:50}
                                    {else}
                                        -
                                    {/if}
                                </span>
                                <span class="customer-call-view customer-call-note-more"
                                    {if mb_strlen($call.notes) <= 50} style="display: none;"{/if}>
                                    {hint mode="toggle" icon="view" class="customer-call-note-hint" text=$call.notes}
                                </span>
                                <span class="customer-call-edit" style="display: none;">
                                    <textarea type="text" class="customer-call-note lms-ui-autogrow"
                                        data-original-value="{$call.notes|escape}"
                                        >{$call.notes|escape}</textarea>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="lms-ui-tab-table-column buttons">
                        <audio src="?m=customercall&id={$call.id}" controls controlsList="nodownload"
                               preload="none">
                            {trans("Your browser does not support the audio element.")}
                        </audio>
                        {if ConfigHelper::checkPrivilege('customer_call_management')}
                            {button type="link" icon="edit" tip="Edit" class="customer-call-view customer-call-edit-button"}
                            {button type="link" icon="save" tip="Save" class="customer-call-edit customer-call-save-button"}
                            {button type="link" icon="cancel" tip="Cancel" class="customer-call-edit customer-call-cancel-button"}
                        {/if}
                        {button type="link" icon="download" tip="<!customer-call>Download"
                            href="?m=customercall&id={$call.id}"
                            download="{trans("phone-call")}-{$direction}-{$call.dt|date_format:"%Y_%m_%d_%H_%M_%S"}-{$call.phone}"}
                        {if ConfigHelper::checkPrivilege('customer_phonecall_delete')}
                            {button type="link" icon="delete" tip="Delete"
                                href="?m=customercall&id={$call.id}&cid={$customerinfo.id}&delete"}
                        {/if}
                    </div>
                </div>
            {foreachelse}
                <div class="lms-ui-tab-empty-table">
                    {trans("That customer hasn't got any phone calls.")}
                </div>
            {/foreach}

        {/tab_table}
    {/tab_contents}
{/tab_container}

<script>

    $(function() {
        $('#customercalls audio').on('play', function() {
            $('#customercalls audio').not(this).each(function() {
                this.pause();
            });
        });

        $('.customer-call-note').keyup(function(e) {
            switch (e.key) {
/*
                case 'Enter':
                    $(this).closest('.customer-call').find('.customer-call-save-button.lms-ui-button').click();
                    break;
*/
                case 'Escape':
                    $(this).closest('.customer-call').find('.customer-call-cancel-button.lms-ui-button').click();
                    break;
            }
        });

        $('.customer-call-view.lms-ui-button').click(function() {
            var row = $(this).closest('.customer-call');
            row.find('.customer-call-edit,.customer-call-view:not(.customer-call-note-more)').toggle();
            row.find('.customer-call-note').trigger('input');
        });

        $('.customer-call-edit.lms-ui-button').click(function() {
            var row = $(this).closest('.customer-call');
            var notesInput = row.find('.customer-call-note');
            var notes = notesInput.val();
            if ($(this).is('.customer-call-save-button')) {
                $.ajax({
                    url: "?m=customercall&edit=1",
                    dataType: "json",
                    method: "POST",
                    data: {
                        callid: row.attr('data-call-id'),
                        notes: notes
                    }
                }).always(function() {
                    row.find('.customer-call-edit,.customer-call-view:not(.customer-call-note-more').toggle();
                }).done(function() {
                    row.find('.customer-call-note-more').toggle(notes.length >= 50);
                    row.find('.customer-call-note-view').text(notes.length ? notes.substring(0, 50) + (notes.length > 50 ? '&hellip;' : '') : '-');
                    if (notes.length >= 50) {
                        row.find('.customer-call-note-hint').attr('data-hint', escapeHtml(notes)).removeAttr('data-init');
                    }
                    notesInput.attr('data-original-value', escapeHtml(notes));
                });
            } else {
                row.find('.customer-call-edit,.customer-call-view:not(.customer-call-note-more)').toggle();
                row.find('.customer-call-note-more').toggle(notesInput.attr('data-original-value') >= 50);
                notesInput.val(notesInput.attr('data-original-value'));
            }
        });
    });

</script>
