<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="99%" class="hand" align="left" nowrap="nowrap" onclick="showOrHide('customeractions');">
			<IMG src="img/options.gif" alt="">
			<B>{trans("Actions:")}</B>
		</TD>
		<TD width="1%" align="right" nowrap>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR id="customeractions" style="display:none;">
		<TD width="100%" class="container" colspan="2">
		    <FORM method="GET" name="cutoffstopaction" action="?m=customercutoffstop">
			<INPUT type="hidden" name="m" value="customercutoffstop">
			<INPUT type="hidden" name="customerid" value="{$customerinfo.id}">
			<TABLE class="lmsbox-inner">
                            <TBODY>
				<TR>
					<TD width="1%">
					    <IMG src="img/options.gif" alt="">
					</TD>
					<TD style="width: 98%;">
						{trans("Cutoff suspending:")}
						<INPUT type="text" name="cutoffstop" id="cutoffstop" {if $customerinfo.cutoffstop}value="{$customerinfo.cutoffstop|date_format:"%Y/%m/%d"}"{/if} size="10" {tip class="calendar" text="Select date of cutoff suspending (optional)" trigger="cutoffstop"}>
					</TD>
					<TD width="1%" NOWRAP align="RIGHT">
						<A href="javascript:document.cutoffstopaction.submit()">{trans("Submit")} <img src="img/save.gif" alt=""></a>
					</TD>
				</TR>
			    <tbody>
			</table>
		    </FORM>
		    <FORM method="POST" name="warningaction" action="?m=customerwarn">
		    <INPUT type="hidden" name="setwarnings[mcustomerid][{$customerinfo.id}]" value="{$customerinfo.id}">
			<TABLE class="lmsbox-inner">
                            <TBODY>
				<TR>
					<TD width="1%">
					    <IMG src="img/warningon.gif" alt="">
					</TD>
					<TD width="98%" class="nobr">
					    {trans("Notice content:")}
					    <TEXTAREA name="setwarnings[message]" cols="60" rows="5" {tip text="Enter notice contents"}>{$customerinfo.message|escape}</TEXTAREA>
					    <INPUT TYPE="checkbox" NAME="setwarnings[warnon]" ID="warnon" onchange="switchbox('warnon');"><label for="warnon">{trans("Enable")}</label>
					    <INPUT TYPE="checkbox" NAME="setwarnings[warnoff]" ID="warnoff" onchange="switchbox('warnoff');"><label for="warnoff">{trans("Disable")}</label>
					</TD>
					<TD width="1%" NOWRAP align="RIGHT">
						<A href="javascript:document.warningaction.submit()">{trans("Submit")} <img src="img/save.gif" alt=""></a>
					</TD>
				</TR>
                            </TBODY>
			</TABLE>
		    </FORM>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<SCRIPT type="text/javascript">
<!--
if (getCookie('customeractions') == '1')
	document.getElementById('customeractions').style.display = '';

function switchbox(id) {
	var elem = document.getElementById(id);
	if ((elem.name == 'setwarnings[warnon]') && elem.checked)
		document.warningaction.elements['setwarnings[warnoff]'].checked = false;
	if ((elem.name == 'setwarnings[warnoff]') && elem.checked)
		document.warningaction.elements['setwarnings[warnon]'].checked = false;
}
//-->
</SCRIPT>
