/*
 * LMS version 1.11-git
 *
 *  (C) Copyright 2001-2019 LMS Developers
 *
 *  Please, see the doc/AUTHORS for more information about authors!
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License Version 2 as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
 *  USA.
 *
 *  $Id$
 */

button.lms-ui-button {
  border: 1px solid @darkbrown;
  color: black;
  text-decoration: none;
  padding: 0.33em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  background-color: @light;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  outline: none;
  &.lms-ui-button-icon {
    padding-left: 25px;
  }
  &:hover {
    text-decoration: none;
  }
  &:not([disabled]) {
    &:hover {
      box-shadow: 0px 0px 3px 1px black;
    }
    &:active {
      background-color: @dark;
      box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
    }
    &:focus {
      box-shadow: 0px 0px 1px 1px black;
    }
  }
  &[disabled] {
    color: @blend;
    cursor: no-drop;
    &:before {
      color: @blend;
    }
  }
  i + .lms-ui-label {
    padding-left: 0.3em;
    font-weight: 700;
  }
}
