{box title="Balance"}
<div class="row">
    <div class="col-md-12">
        <br>
        {if $userinfo.balance < 0}
			<h5><b>{trans("Current balance:")} </b><strong class="text-danger">{$userinfo.balance|money_format}</strong></h5>
            {$custom_content}
				{if !ConfigHelper::checkConfig('userpanel.disable_transferform')}
				<a class="btn btn-primary" href="?m=finances&amp;f=transferform" target="_blank">{trans("Click here to print payment form")}</a>
			{/if}
        {else}
        <h5><b>{trans("Current balance:")} </b><strong class="text-success">{$userinfo.balance|money_format}</strong></h5>
			<button type="button" class="btn btn-primary" disabled>{trans("All your covenants are settled")}.</button>
        {/if}
    </div>
</div>
{/box}
