{box title="Your balance"}
{$disable_invoices = ConfigHelper::checkConfig('userpanel.disable_invoices')}

<script>
	$(document).ready(function($) {
		$(".table-click").click(function() {
			window.document.location = $(this).attr("data-href");
		});
	});
</script>

<style>
	.table-click tr :hover, td :hover {
		cursor: pointer;
	}
	#print-all {
		margin-bottom: 0.3em;
	}

	.check-invoice {
		margin-left: 0.3em;
	}

	.custom-control-label.valign-fix {
		vertical-align: top;
	}

	#checkall-checkbox {
		margin-bottom: 0.4em;
	}

</style>
<div class="row">
    <div class="col-md-12">
        <form name="invoices" action="?m=finances&amp;f=invoice" method="POST" target="_blank">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="bg-primary text-white">
							<th>{trans("Date")}</th>
							<th>{trans("Commitment")}</th>
							<th>{trans("Payment")}</th>
							<th>{trans("Balance")}</th>
							<th>{trans("Transfer title")} / {trans("Invoice title")}</th>
							{if !$disable_invoices}
							<th></th>
							<th class="text-center">{trans("Check")}</th>
							{/if}
						</tr>
					</thead>
					{$ldate = ConfigHelper::getConfig('userpanel.show_last_years', 5)}
					{if $ldate}
						{$ldate = ($smarty.now - $ldate * 366 * 86400)}
					{else}
						{$ldate = 0}
					{/if}
					<tbody>
					{section name=balancelist loop=$balancelist.list step=-1}
						{$item=$balancelist.list[balancelist]}
						{if $item.time > $ldate}
						<tr class="table-click {if $item.value > 0}table-success{else}table-danger{/if}" {if $item.doctype == $smarty.const.DOC_INVOICE || $item.doctype == $smarty.const.DOC_CNOTE}data-href="?m=finances&f=invoice&id={$item.docid}"{/if}>
							<td class="text-right text-nowrap">{$item.date|date_format:"%Y-%m-%d"}</td>
							{if $item.value > 0}
								<td></td>
								<td class="text-right text-nowrap text-success font-weight-bold">
									{if $item.value > 0 && $item.type != 4}+{/if}
									{$item.value|money_format}
								</td>
							{else}
								<td class="text-right text-nowrap text-danger font-weight-bold">
									{if $item.type == 4}-{/if}
									{$item.value|money_format}
								</td>
								<td></td>
							{/if}
							<td class="text-right text-nowrap">
								{if $item.after < 0}
									<strong>{$item.after|money_format}</strong>
								{else}
									{$item.after|money_format}
								{/if}
							</td>
							<td>{$item.comment}</td>
							{if !$disable_invoices}
							<td class="text-center">
									{foreach $item.customlinks as $link}
										<a {if isset($link.url)}href="{$link.url}"{/if} target="_blank" {if isset($link.onclick)}onclick="{$link.onclick}"{/if}>{if isset($link.icon)}{img src="`$link.icon`" alt="`$link.label`" text=$link.tip}{else}{$link.label}{/if}</a>
									{if isset($link.extra)}{$link.extra}{/if}
								{/foreach}
								{if $item.doctype == $smarty.const.DOC_INVOICE || $item.doctype == $smarty.const.DOC_CNOTE}
									<a class="btn btn-primary btn-sm" href="?m=finances&f=invoice&id={$item.docid}" role="button" target="_blank">
										{trans("Print")}
									</a>
								{else}
									&nbsp;
								{/if}
							</td>
							<td class="text-center">
								{if $item.doctype == $smarty.const.DOC_INVOICE || $item.doctype == $smarty.const.DOC_CNOTE}
									<div class="custom-control custom-checkbox custom-control-inline check-invoice">
										<input class="custom-control-input" type="checkbox" id="inv-{$item.docid}" name="inv[{$item.docid}]" value="1" />
										<label class="custom-control-label valign-fix" for="inv-{$item.docid}"></label>
									</div>
								{/if}
							</td>
							{/if}
						</tr>
						{/if}
					{sectionelse}
						<tr>
							<td class="text-center" colspan="{if $disabled_invoices}5{else}7{/if}">
								{trans("No such transactions on your account.")}
							</td>
						</tr>
					{/section}
					</tbody>
				{if !$disable_invoices && !empty($balancelist.list)}
					<tfoot>
						<tr>
							<td colspan="5">
								<button type="submit" class="btn btn-primary" formaction="?m=finances&aggregate_documents={if $aggregate_documents}0{else}1{/if}#userbalancebox"
									formtarget="_self">
									{if $aggregate_documents}{trans("Don't aggregate documents")}{else}{trans("Aggregate documents")}{/if}
								</button>
							</td>
							<td colspan="2" class="text-center">
								<div class="custom-control custom-checkbox" id="checkall-checkbox">
									<input class="custom-control-input" type="checkbox" name="allbox" id="allbox" onchange="CheckAll('invoices', this)" value="1" />
									<label class="custom-control-label" for="allbox">{trans("Check all")}</label>
								</div>
								<a class="btn btn-primary btn-sm" id="print-all" href="javascript:document.invoices.submit()">{trans("Print selected")}</a>
							</td>
						</tr>
					</tfoot>
				{/if}
            </table>
		</div>
	</form>
</div>
</div>
{/box}
