{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->

<style>

    span.warning {
        color: orange;
    }
    .buttons {
        align: right;
    }

</style>

<h1>{$layout.pagetitle}</h1>

<table class="lmsbox">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 99%;">
    </colgroup>
    <thead>
        <tr>
            <td class="nobr bold" colspan=2>
                {icon name='domain' label='Name'} {$domain.name}
            <td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nobr">
                {icon name='owner' label="Owner"}
            </td>
            <td>
                {if !$domain.ownerid}
                    {trans("SYSTEM DOMAIN")}
                {else}
                    <a href="?m=customerinfo&id={$domain.ownerid}">{$domain.customername}</a>
                {/if}
            </td>
        </tr>
           <tr>
                <td class="nobr">
                    {icon name='alias' label='Domain type:'}
                </td>
                <td>
                    {$domain.type|default:0}
                </td>
            </tr>
        <tr>
            <td class="nobr">
                {icon name='mail' label='Backup MX support'}
            </td>
            <td>
                {if $domain.mxbackup}{trans("yes")}{else}{trans("no")}{/if}
            </td>
        </tr>
        <tr>
            <td class="nobr">
                {icon name='ssl' label='SSL certificate'}
            </td>
            <td>
                {if $domain.ssl}{trans("yes")}{else}{trans("no")}{/if}
                {if empty($domain.ssl_expirationdate)}
                    {$expirationdate = trans("unknown/other")}
                {else}
                    {$secstoexpiration = $domain.ssl_expirationdate - $smarty.now}
                    {if ($secstoexpiration) <= 14*86400 && $secstoexpiration > 0}
                        <span class="warning">
                            {trans("SSL certificate near expiration!")}
                        </span>
                    {/if}
                    {if $domain.ssl_expirationdate <= $smarty.now}
                        <span class="alert">
                            {trans("SSL certificate expired!")}
                        </span>
                    {/if}
                {/if}
                ({t a=$domain.ssl_expirationdate|date_format:"Y/m/d"}expires $a{/t})
            </td>
        </tr>
        <tr>
            <td class="nobr">
                {icon name='warning' label='Domain renewal date'}
            </td>
            <td>
                {if !$domain.renewaldate}{trans("unknown/other")}{/if}
                {if empty($domain.renewaldate)}
                    {$renewaldate = trans("unknown/other")}
                {else}
                    {$secstorenewal = $domain.renewaldate - $smarty.now}
                    {if ($secstorenewal) <= 14*86400 && $secstorenewal > 0}
                        <span class="warning">
                            {trans('Domain renewal date is coming!')}
                        </span>
                    {/if}
                    {if $domain.renewaldate <= $smarty.now}
                        <span class="alert">
                            {trans('Domain expired!')}
                        </span>
                    {/if}
                {/if}
                ({t a=$domain.renewaldate|date_format:'Y/m/d'}expires $a{/t})
            </td>
        </tr>
        <tr>
            <td class='nobr'>
                {icon name='menu' label='Accounts number'}
            </td>
            <td>
                {$domain.accountcnt|default:0}
            </td>
        </tr>
        <tr>
            <td class='nobr'>
                {icon name='alias' label='Aliases number'}
            </td>
            <td>
                {$domain.aliascnt|default:0}
            </td>
        </tr>
        <tr>
            <td class='nobr'>
                {icon name='accounting' label='Records number:'}
            </td>
            <td>
                {$domain.recordscnt|default:0}
            </td>
        </tr>
        {if $domain.description}
        <tr>
            <td class='nobr'>
                {icon name='description' label='Description:'}
            </td>
            <td>
                <table width="100%" cellpadding="5">
                    <tr>
                        <td class="fall superlight">
                            {$domain.description|replace:"\n":"<strongR>"}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {/if}
        <tr>
            <td class="buttons" colspan="3">
                {button href="?m=recordlist&d={$domain.id}" label='Records' icon='accounting'}
                {button href="?m=accountlist&d={$domain.id}" label='Accounts' icon='accounts'}
                {button href="?m=aliaslist&d={$domain.id}" label='Aliases' icon='alias'}
                {button href="?m=domainedit&id={$domain.id}" accesskey="e" label="Edit" icon='save'}
                {button href="?m=domaindel&id={$domain.id}" label='Delete' icon='delete' id='delete-domain'}
            </td>
        </tr>
    </tbody>
</table>
    <script>
        $('#delete-domain').click(function() {
            confirmDialog($t("Are you sure, you want to delete that domain and all accounts/aliases in that domain?"), this).done(function() {
                location.href = $(this).attr('href');
            });
            return false;
        });
    </script>
{/block}
