{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<script type="text/javascript" src="img/netnodehelper.js"></script>
{include file="google-maps.html"}
<H1>{$layout.pagetitle}</H1>
<FORM NAME="netnodeadd" METHOD="POST" ACTION="?m=netnodeadd">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/netnode.png" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Name:")}</B>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netnode[name]" VALUE="{$netnode.name}" MAXLENGTH="32" required {tip trigger="name" text="Enter node name" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
        <TD WIDTH="100%" COLSPAN="3" CLASS="container">
		    <TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="100%" style="vertical-align:top;">
					        <TABLE WIDTH="100%" CELLPADDING="3">
        {if $divisions}
        <TR>
		<TD WIDTH="1%">
			<IMG SRC="img/division.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Division:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netnode[divisionid]"  {tip trigger="divisionid" text="Select division"} VALUE="{$netnode.divisionid}">
				<OPTION value="-1" {if ($netnode.divisionid == '-1' ) } selected="selected" {/if} >- {trans("select")} -</OPTION>
                                {foreach $divisions as $division}
				<OPTION VALUE="{$division.id}"{if $netnode.divisionid == $division.id} selected{/if} >{$division.shortname}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
        {/if}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Type:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netnode[type]"  {tip text="Enter node type"} VALUE="{$netnode.type}">
				{foreach $_NETELEMENTTYPES as $idx => $type}
				<OPTION VALUE="{$idx}"{if $netnode.type == $idx} selected{/if} >{$type}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Status:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netnode[status]"  {tip text="Enter node status"} VALUE="{$netnode.status}">
			{foreach $_NETELEMENTSTATUSES as $idx => $status}
			<OPTION VALUE="{$idx}"{if $netnode.status == $idx} selected{/if}>{$status}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Project:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netnode[invprojectid]" ID="NNproject" VALUE="{$netnode.invprojectid}" {tip text="Select project for this node"} onchange="setNNProject();">
				<OPTION value="-2"{if ($netnode.invprojectid == '-2')} selected{/if}>- {trans("none")} -</OPTION>
				<OPTION value="-1"{if ($netnode.invprojectid == '-1')} selected{/if}>{trans("New project")}</OPTION>
				<!--
				<OPTION value="1"{if ($netnode.invprojectid == '1')} selected{/if}>{trans("Inherited from root device")}</OPTION>
				-->
				{foreach $NNprojects as $project}
				<OPTION VALUE="{$project.id}"{if ($netnode.invprojectid == $project.id)} selected{/if}>{$project.name}</OPTION>
				{/foreach}
			</SELECT>
			<INPUT TYPE="TEXT" NAME="netnode[projectname]" VALUE="{$netnode.projectname}" {tip text="Enter new project name" trigger="projectname" } ID="NNprojectname" SIZE="35">
			 
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Ownership:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netnode[ownership]" ID="NNownership" VALUE="{$netnode.ownership}" {tip text="Select ownership for this node"} onchange="setNNOwner();">
				{foreach $_NETELEMENTOWNERSHIPS as $idx => $ownership}
				<OPTION VALUE="{$idx}"{if $netnode.ownership == $idx} selected{/if}>{$ownership}</OPTION>
				{/foreach}
			</SELECT>
			<INPUT TYPE="TEXT" NAME="netnode[coowner]" VALUE="{$netnode.coowner}" {tip trigger="coowner" text="Enter co-owner identifier"} ID="NNcoowner" SIZE="25"/>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Location:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			{location_box
				prefix               = "netnode"
				address_id           = "{$netnode.address_id}"
				location_name        = "{$netnode.location_name}"
				location_state_name  = "{$netnode.location_state_name}"
				location_state       = "{$netnode.location_state}"
				location_city_name   = "{$netnode.location_city_name}"
				location_city        = "{$netnode.location_city}"
				location_postoffice  = "{$netnode.location_postoffice}"
				location_street_name = "{$netnode.location_street_name}"
				location_street      = "{$netnode.location_street}"
				location_house       = "{$netnode.location_house}"
				location_flat        = "{$netnode.location_flat}"
				location_zip         = "{$netnode.location_zip}"
				location_country_id  = "{$netnode.location_country_id}"
				teryt                = "{$netnode.teryt}"
			}
		</TD>
	</TR>
	<tr>
		<td width="1%">
			<img src="img/network.gif" alt="">
		</td>
		<td colspan="2" width="99%">
			<span class="lms-ui-button" id="set_gps">{trans("Determine GPS coordinates automatically")}</span>
		</td>
	</tr>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("GPS longitude:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			<INPUT id="longitude" TYPE="text" NAME="netnode[longitude]" VALUE="{$netnode.longitude}" {tip text="Enter node longitude (optional)" trigger="longitude"}>
			<a href="javascript: void(0);" onClick="return gpscoordschoosewin(document.netnodeadd.elements['netnode[longitude]'], document.netnodeadd.elements['netnode[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("GPS latitude:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			<INPUT id="latitude" TYPE="text" NAME="netnode[latitude]" VALUE="{$netnode.latitude}" {tip text="Enter node latitude (optional)" trigger="latitude"}>
			<a href="javascript: void(0);" onClick="return gpscoordschoosewin(document.netnodeadd.elements['netnode[longitude]'], document.netnodeadd.elements['netnode[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<b>{trans("Sharing surface")}</b>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="RADIO" NAME="netnode[uip]" VALUE="1" id="uip_yes" {tip text="Możliwość udostępniania innym podmiotom powierzchni w obiekcie, w którym znajduje się węzeł"}{if ($netnode['uip']==1)}checked{/if}><label for="uip_yes">{trans("Yes")}</label>
			<INPUT TYPE="RADIO" NAME="netnode[uip]" VALUE="0" id="uip_no"{if ($netnode['uip']==0)} checked{/if}><label for="uip_no">{trans("No")}</label>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<b>{trans("Antennas installation")}</b>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="RADIO" NAME="netnode[miar]" VALUE="1" id="miar_yes" {tip text="Możliwość instalacji anten dla radiowej sieci dostępowej lub anten dla radiolinii w obiekcie, w którym znajduje się węzeł"}{if ($netnode['miar']==1)} checked{/if}><label for="miar_yes">{trans("Yes")}</label>
			<INPUT TYPE="RADIO" NAME="netnode[miar]" VALUE="0" id="miar_no"{if ($netnode['miar']==0)} checked{/if}><label for="miar_no">{trans("No")}</label>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%"><IMG SRC="img/note.gif" ALT=""></TD>
		<TD width="1%" class="bold">{trans('Note:')}</TD>
		<TD width="98%"><TEXTAREA type="text" name="netnode[info]"></TEXTAREA></TD>
	</TR>
	<TR>
		<TD WIDTH="1%"><IMG SRC="img/phone.gif" ALT=""></TD>
		<TD width="1%" class="bold">{trans('Administrative contact:')}</TD>
		<TD width="98%"><INPUT type="text" name="netnode[admcontact]" maxlenght="10"></TD>
	</TR>
	</TABLE>
	</TD>
	</TR>
	</TABLE>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.netnodeadd.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netnodelist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['netnodeadd'].elements['netnode[name]'].focus();

setNNProject();
setNNOwner();

/*
 * \brief Update address location update. Require google API key.
 */
$( '#set_gps' ).click( function() {
    var state  = $('[data-address="state"]').val();
    var zip    = $('[data-address="zip"]').val();
    var city   = $('[data-address="city"]').val();
    var street = $('[data-address="street"]').val();
    var house  = $('[data-address="house"]').val();
    var flat   = $('[data-address="flat"]').val();

    var location = location_str( city, street, house, flat, zip, state );

    if ( location.length > 0 ) {
        setAddressLocation( location, "#latitude", "#longitude" );
    }
});

//-->
</SCRIPT>
{/block}
