assets/*
templates_c/*
userpanel/templates_c/*
lib/Smarty/*
nbproject/private
lms.ini
backups/*
documents/*
!documents/templates
cache/*
contrib/LMS2Nagios-php/generated/*
lib/teryt/*

# Temporary files
*~
*.swp
*.swo

/vendor/
