assets/*
templates_c/*
userpanel/templates_c/*
lib/Smarty/Smarty.class.php
lib/Smarty/SmartyBC.class.php
lib/Smarty/debug.tpl
lib/Smarty/plugins/block.textformat.php
lib/Smarty/plugins/function.counter.php
lib/Smarty/plugins/function.cycle.php
lib/Smarty/plugins/function.fetch.php
lib/Smarty/plugins/function.html_checkboxes.php
lib/Smarty/plugins/function.html_image.php
lib/Smarty/plugins/function.html_options.php
lib/Smarty/plugins/function.html_radios.php
lib/Smarty/plugins/function.html_select_date.php
lib/Smarty/plugins/function.html_select_time.php
lib/Smarty/plugins/function.html_table.php
lib/Smarty/plugins/function.mailto.php
lib/Smarty/plugins/function.math.php
lib/Smarty/plugins/modifier.capitalize.php
lib/Smarty/plugins/modifier.date_format.php
lib/Smarty/plugins/modifier.debug_print_var.php
lib/Smarty/plugins/modifier.escape.php
lib/Smarty/plugins/modifier.regex_replace.php
lib/Smarty/plugins/modifier.replace.php
lib/Smarty/plugins/modifier.spacify.php
lib/Smarty/plugins/modifier.truncate.php
lib/Smarty/plugins/modifiercompiler.cat.php
lib/Smarty/plugins/modifiercompiler.count_characters.php
lib/Smarty/plugins/modifiercompiler.count_paragraphs.php
lib/Smarty/plugins/modifiercompiler.count_sentences.php
lib/Smarty/plugins/modifiercompiler.count_words.php
lib/Smarty/plugins/modifiercompiler.default.php
lib/Smarty/plugins/modifiercompiler.escape.php
lib/Smarty/plugins/modifiercompiler.from_charset.php
lib/Smarty/plugins/modifiercompiler.indent.php
lib/Smarty/plugins/modifiercompiler.lower.php
lib/Smarty/plugins/modifiercompiler.noprint.php
lib/Smarty/plugins/modifiercompiler.string_format.php
lib/Smarty/plugins/modifiercompiler.strip.php
lib/Smarty/plugins/modifiercompiler.strip_tags.php
lib/Smarty/plugins/modifiercompiler.to_charset.php
lib/Smarty/plugins/modifiercompiler.unescape.php
lib/Smarty/plugins/modifiercompiler.upper.php
lib/Smarty/plugins/modifiercompiler.wordwrap.php
lib/Smarty/plugins/outputfilter.trimwhitespace.php
lib/Smarty/plugins/shared.escape_special_chars.php
lib/Smarty/plugins/shared.literal_compiler_param.php
lib/Smarty/plugins/shared.make_timestamp.php
lib/Smarty/plugins/shared.mb_str_replace.php
lib/Smarty/plugins/shared.mb_unicode.php
lib/Smarty/plugins/shared.mb_wordwrap.php
lib/Smarty/plugins/variablefilter.htmlspecialchars.php
lib/Smarty/sysplugins
nbproject/private
lms.ini
backups/*
documents/*
!documents/templates
cache/*

# Temporary files
*~
*.swp
*.swo

# Object files
*.o

# Shared objects
*.so

# Executables
daemon/lmsd
