assets/*
templates_c/*
userpanel/templates_c/*
lib/Smarty/*
nbproject/private
lms.ini
backups/*
bin/billing/voip-cache/*
bin/billing/templates_c/*
documents/*
!documents/templates
cache/*
contrib/LMS2Nagios-php/generated/*
lib/teryt/*
composer.lock

# Temporary files
*~
*.swp
*.swo

/vendor/
