<Files lms.ini>
    Require all denied
</Files>

<Files composer.lock>
    Require all denied
</Files>

<FilesMatch "^\.(git|js|travis).*">
    Require all denied
</FilesMatch>

<FilesMatch "^\.ksef.*">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/.git/(.*)$
    RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
