env:
  global:
    - COMPOSER_DISABLE_XDEBUG_WARN="1"

matrix:
  include:
    - os: linux
      language: php
      php: 5.3
      dist: precise
      env:
        PHPCS_VER="^2"
        PHPCS_STANDARD="phpcs2.xml"

    - os: linux
      language: php
      php: 5.4
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 5.5
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 5.6
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 7.0
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 7.1
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 7.2
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

    - os: linux
      language: php
      php: 7.3
      env:
        PHPCS_VER="^3"
        PHPCS_STANDARD="phpcs3.xml"

addons:
  postgresql: "9.2"

services:
  - postgresql
  - mysql

install:
  - composer install

before_script:
  - psql -c 'create database lms;' -U postgres
  - psql -U postgres -f doc/lms.pgsql
  - mysql -e 'CREATE DATABASE lms;'
  - mysql lms < doc/lms.mysql
  - if find . -name "*.php" ! -path "./vendor/*" -print0 | xargs -0 -n 1 -P 8 php -l | grep -v "No syntax errors detected"; then exit 1; fi
  - ./vendor/bin/phpcs --standard=$PHPCS_STANDARD .
  - npm install -g jshint
  - jshint .
  - ./vendor/bin/phpunit

script: true

notifications:
  email:
#    recipients:
#      - admin@chilan.com
#      - r.pietraszewicz@gmail.com
    on_success: change
    on_failure: always
