env:
  global:
    - COMPOSER_DISABLE_XDEBUG_WARN="1"

matrix:
  include:
    - os: linux
      language: php
      php: 5.3
      dist: precise
      env:
        PHPCS_VER="^2"

    - os: linux
      language: php
      php: 5.4
      env:
        PHPCS_VER="^3"

    - os: linux
      language: php
      php: 5.5
      env:
        PHPCS_VER="^3"

    - os: linux
      language: php
      php: 5.6
      env:
        PHPCS_VER="^3"

    - os: linux
      language: php
      php: 7.0
      env:
        PHPCS_VER="^3"

    - os: linux
      language: php
      php: 7.1
      env:
        PHPCS_VER="^3"

    - os: linux
      language: php
      php: 7.2
      env:
        PHPCS_VER="^3"

addons:
  postgresql: "9.2"

services:
  - postgresql
  - mysql

install:
  - composer install
  - export PATH="$PATH:$HOME/.composer/vendor/bin"
  - composer global require "squizlabs/php_codesniffer $PHPCS_VER"

before_script:
  - psql -c 'create database lms;' -U postgres
  - psql -U postgres -f doc/lms.pgsql
  - mysql -e 'CREATE DATABASE lms;'
  - mysql lms < doc/lms.mysql
  - if find . -name "*.php" ! -path "./vendor/*" -print0 | xargs -0 -n 1 -P 8 php -l | grep -v "No syntax errors detected"; then exit 1; fi

script: true

notifications:
  email:
#    recipients:
#      - admin@chilan.com
#      - r.pietraszewicz@gmail.com
    on_success: change
    on_failure: always
