{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
	<COLSPAN>
		<COL style="width: 1%">
		<COL style="width: 1%">
		<COL style="width: 99%">
	</COLSPAN>
    <THEAD>
	<TR>
	    <TD>
		<IMG src="img/queue.gif" ALT="">
	    </TD>
	    <TD class="bold" colspan="2">{$category.name} ({$category.id|string_format:"%04d"})</TD>
	</TR>
    </THEAD>
    <TBODY>
	{if $category.description}
	<TR>
	    <TD>
		<IMG src="img/info1.gif" ALT="">
	    </TD>
	    <TD class="bold">{trans("Description:")}</TD>
	    <TD>
		<TABLE cellpadding="5">
		    <TR>
			<TD class="fall superlight">
			    {$category.description|replace:"\n":"<BR>"}
			</TD>
		    </TR>
		</TABLE>
	    </TD>
	</TR>
	{/if}
        <TR>
            <TD>
                <IMG src="img/queue.gif" ALT="">
            </TD>
            <TD class="bold">{trans("Category style:")}
	    </TD>
            <TD class="bold">
		{if $category.style}
			<span style="{$category.style}">{$category.name}</span>
		{else}
			<span style="{$_CATEGORY_DEFAULT_STYLE}">{$category.name}</span>
		{/if}
            </TD>
        </TR>
	<TR>
	    <TD>
		<IMG src="img/users.gif" ALT="">
	    </TD>
	    <TD class="bold">{trans("Users:")}</TD>
	    <TD>
		    <TABLE class="lmsbox">
                        <THEAD>
			<TR>
			    <TD class="bold">{trans("User")}</TD>
			    <TD class="text-center nobr bold">{trans("Owner")}</TD>
			</TR>
                        </THEAD>
                        <TBODY>
			{cycle values="light,lucid" print=false}
			{foreach from=$category.owners item=owner}
			{if $owner}
			<TR class="highlight {cycle}"  >
			    <TD>
				<A href="?m=userinfo&id={$owner.id}">{$owner.name}</A>
				<INPUT type="hidden" name="category[usernames][{$right.id}]" value="{$right.name}">
			    </TD>
			    <TD class="text-center">
				{if $owner.owner > 0}<IMG src="img/pass.gif" alt="">{/if}
			    </TD>
			</TR>
			{/if}
			{/foreach}
                        </TBODY>
		</TABLE>
	    </TD>
	</TR>
	<TR>
	    <TD COLSPAN="3" class="text-right">
	        <A HREF="?m=rtqueueview&catid={$category.id}"><IMG src="img/view.gif" alt=""> {trans("Browse")}</A>
	    	<A HREF="?m=rtcategoryedit&id={$category.id}"><IMG src="img/save.gif" alt=""> {trans("Edit")}</A>
		<A id="delete-rtcategory" HREF="?m=rtcategorydel&id={$category.id}" data-name="{$category.name}"><IMG src="img/delete.gif" alt=""> {trans("Delete")}</A>
	    </TD>
	</TR>
    </TBODY>
</TABLE></P>
	<script>
		$('#delete-rtcategory').click(function() {
			var name = $(this).attr('data-name');
			confirmDialog($t("Are you sure, you want to remove category '$a'?", name), this).done(function() {
				location.href = $(this).attr('href');
			});
			return false;
		});
	</script>
{/block}
