{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox lms-ui-background-cycle">
	<COLSPAN>
		<COL style="width: 30%;">
		<COL style="width: 30%;">
		<COL style="width: 36%;">
		<COL style="width: 1%;">
		<COL style="width: 1%;">
		<COL style="width: 1%;">
		<COL style="width: 1%;">
	</COLSPAN>
	<THEAD>
	<TR>
		<TD COLSPAN="2" class="nobr">
			<i class="lms-ui-icon-queue"></i>
			<B>{trans("Category")}:</B><BR>
			<i class="lms-ui-icon-description"></i>
			{trans("Description")}:
		</TD>
		<TD class="bold text-center">
			{trans("Category style:")}
		</TD>
		<TD class="nobr">
			<i class="lms-ui-icon-user"></i>
			<B>{trans("Owners")}:</B>
		</TD>
		<TD class="text-center">
			{trans("New:")}
		</TD>
		<TD class="text-center">
			{trans("Opened:")}
		</TD>
		<TD class="text-center">
			{trans("Last:")}
		</TD>
		<TD>
			&nbsp;
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{foreach $categories as $category}
	<TR class="highlight" data-target-url="?m=rtqueueview&catid={$category.id}">
		<TD COLSPAN="2">
			<i class="lms-ui-icon-queue"></i>
			<B>{$category.name}</B><BR>
			{if $category.description}
				<i class="lms-ui-icon-description"></i>{$category.description}
			{/if}
		</TD>
		<TD class="bold text-center">
			{if !empty($category.style)}
				<span style="{$category.style}">&nbsp;{$category.name}&nbsp;</span>
			{else}
				<span style="{$_CATEGORY_DEFAULT_STYLE}">&nbsp;{$category.name}&nbsp;</span>
			{/if}
		</TD>
		<TD class="lms-ui-buttons">
			{foreach $category.owners as $key => $owner}
				<A HREF="?m=userinfo&amp;id={$owner.id}">{$owner.name}</A>{if $key+1<count($category.owners)}, {/if}
			{/foreach}
		</TD>
		<TD class="text-center">
			{$category.new|default:0}
		</TD>
		<TD class="text-center">
			{$category.open|default:0}
		</TD>
		<TD class="text-center nobr">
			{if $category.lastticket}{$category.lastticket|date_format:"%Y/%m/%d %H:%M:%S"}{else}-{/if}
		</TD>
		<TD class="lms-ui-buttons text-right nobr">
			<A HREF="?m=rtqueueview&amp;catid={$category.id}"><IMG SRC="img/view.gif" alt="{trans("Browse")}" title="{trans("Browse")}"></A>
			<A HREF="?m=rtcategorydel&amp;id={$category.id}" OnClick="return confirmLink(this, '{t a=$category.name}Are you sure, you want to remove category \'$a\'?{/t}');"><IMG src="img/delete.gif" alt="{trans("Delete")}" title="{trans("Delete")}"></A>
			<A HREF="?m=rtcategoryedit&amp;id={$category.id}"><IMG SRC="img/edit.gif" alt="{trans("Edit")}" title="{trans("Edit")}"></A>
			<A HREF="?m=rtcategoryinfo&amp;id={$category.id}"><IMG SRC="img/info.gif" alt="{trans("Info")}" title="{trans("Info")}"></A>
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD colspan="8" class="empty-table">
			<p>{trans("There are no categories.")}</p>
		</TD>
	</TR>
	{/foreach}
        </TBODY>
        <TFOOT>
	<TR>
		<TD COLSPAN="4" class="text-right bold">
			<i class="lms-ui-icon-count"></i>
			{trans("Total:")}
		</TD>
		<TD class="bold text-center">
			{sum array=$categories column=new}
		</TD>
		<TD class="text-center bold">
			{sum array=$categories column=open}
		</TD>
		<TD COLSPAN="2">
			&nbsp;
		</TD>
	</TR>
        </TFOOT>
</TABLE>
{/block}
