{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM METHOD="POST" NAME="category" ACTION="?m=rtcategoryadd">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
	<COLGROUP>
                <COL style="width: 1%;">
                <COL style="width: 1%;">
                <COL style="width: 98%;">
	</COLGROUP>
    <THEAD>
	<TR>
	    <TD>
		<IMG src="img/queue.gif" ALT="">
	    </TD>
	    <TD class="bold">{trans("Name:")}</TD>
	    <TD>
		<INPUT TYPE="TEXT" NAME="category[name]" VALUE="{$category.name}" {tip text="Enter name" trigger="name" bold=1}>
	    </TD>
	</TR>
    </THEAD>
    <TBODY class="lms-ui-multi-check">
	<TR>
	    <TD>
		<IMG src="img/info1.gif" ALT="">
	    </TD>
	    <TD class="bold">{trans("Description")}:</TD>
	    <TD>
		<TEXTAREA NAME="category[description]" COLS="50" ROWS="2" {tip text="Enter additional information (optional)"}>{$category.description}</TEXTAREA>
	    </TD>
	</TR>
	<TR>
	    <TD>
			<IMG src="img/queue.gif" ALT="">
	    </TD>
	    <TD class="bold">
			<label for="category-style">
				{trans("<!rt-category>Look:")}
			</label>
	    </TD>
	    <TD class="bold">
			<input id="category-style" type="color" name="category[style]" value="{if empty($category.style)}#ffffff{else}{$category.style}{/if}">
	    </TD>
	</TR>
	<TR>
	    <TD>
		<IMG src="img/users.gif" ALT="">
	    </TD>
	    <TD class="bold">{trans("Users:")}</TD>
	    <TD>
		    <TABLE class="lmsbox">
			<COLGROUP>
				<COL style="width: 99%;">
				<COL style="width: 1%;">
			</COLGROUP>
                        <THEAD>
			<TR>
			    <TD class="bold">{trans("User")}
			    </TD>
			    <TD class="bold text-center nobr">{trans("Owner")}</TD>
			</TR>
                        </THEAD>
                        <TBODY>
			{cycle values="light,lucid" print=false}
			{foreach from=$category.owners item=user}
			<TR class="highlight {cycle}"  >
			    <TD>
				<A href="?m=userinfo&amp;id={$user.id}">{$user.rname} ({$user.login})</A>
			    </TD>
			    <TD class="text-center">
				    <INPUT type="checkbox" name="category[users][{$user.id}]" class="lms-ui-multi-check" value="1" {if $user.owner > 0}CHECKED{/if}>
			    </TD>
			</TR>
			{/foreach}
                        <TR>
				<TD class="text-right">
                                        <label for="allbox">{trans("Check All")}</label>
                                </TD>
				<TD class="text-center">
                                        <INPUT TYPE="checkbox" NAME="allbox" id="allbox" class="lms-ui-multi-check-all">
                                </TD>
                        </TR>
                        </TBODY>
		</TABLE>
	    </TD>
	</TR>
	<TR>
		<TD COLSPAN="3" class="lms-ui-box-buttons">
			{button type="submit" icon="save" label="Submit"}
			{button icon="cancel" label="Cancel" onclick="location.href = '?m=rtcategorylist';"}
		</TD>
	</TR>
    </TBODY>
</TABLE></FORM>
<script>

	$(function() {
		$('form[name="category"] [name="category[name]"]').focus();
	});

</script>
{/block}
