{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->
{$xajax}

{$group_action=is_array($message.ticketid)}

<style>

	.lms-ui-box-container {
		margin-bottom: 0.5em;
	}

	#message.lms-ui-box-container .lms-ui-box-row-label {
		width: 8em;
	}

	#properties.lms-ui-box-container .lms-ui-box-row.categories .lms-ui-box-row-field {
		flex-wrap: wrap;
	}

	#properties.lms-ui-box-container .lms-ui-box-row-label {
		min-width: 14em;
	}

	#smsnotify-contacts .lms-ui-box-row-field {
		flex-direction: column;
		align-items: flex-start;
	}

</style>
<H1>{$layout.pagetitle}</H1>
<FORM method="POST" name="message" id="message-form" action="?m=rtmessageadd">
<INPUT type="submit" class="hiddenbtn">
<INPUT type="hidden" name="message[inreplyto]" value ="{$message.inreplyto|default:"0"}">
<INPUT type="hidden" name="message[references]" value ="{$message.references|escape|default:""}">
{if $group_action}
	{foreach $message.ticketid as $ticketid}
	<INPUT type="hidden" name="message[ticketid][]" value="{$ticketid}">
	{/foreach}
{else}
<INPUT type="hidden" name="message[ticketid]" value ="{$message.ticketid}">
{/if}
<INPUT type="hidden" name="message[customerid]" value ="{$message.customerid}">
{box_container id="message"}
	{box_header icon="img/mail.gif" label="Subject:"}
		<INPUT type="text" size="75" name="message[subject]" maxlength="255" value="{$message.subject}" {tip text="Enter message subject" trigger="subject"}>
	{/box_header}

	{box_contents}
		{box_panel}

{if !$group_action}
			{box_row icon="img/users.gif" label="Requestor:"}
				<INPUT class="radio light" type="radio" name="message[sender]" id="sender0" value="user" CHECKED><label for="sender0">{trans("user")}</label>
				<INPUT class="radio light" type="radio" name="message[sender]" id="sender1" value="customer" {if $message.sender == 'customer'}CHECKED{/if}><label for="sender1">{trans("customer")}</label>
			{/box_row}

			{box_row icon="img/email.gif" label="Recipient's e-mail:"}
				<INPUT type="text" size="25" name="message[destination]" value="{$message.destination|escape}" {tip text="Enter recipient's e-mail - if sender is an user and message should be sent (optional)" trigger="destination"}>
			{/box_row}
{/if}
			{box_row icon="img/docum.gif" label="Message template:" id="message-template-row" field_id="message-templates"
				visible=!empty($messagetemplates)}
				{include file="rt/rtmessagetemplates.html" templates=$messagetemplates}
			{/box_row}

			{block name="rtmessageadd-content"}
			{box_row icon="img/edit.gif" label="Content:"}
				<TEXTAREA name="message[body]" cols="75" rows="10" {tip text="Enter message content" trigger="body"}>{$message.body}</TEXTAREA>
			{/box_row}
			{/block}
			{box_row icon="img/attach.gif" label="Attachments:"}
				{fileupload id="files" fileupload=$fileupload form="message-form"}
			{/box_row}

		{/box_panel}
	{/box_contents}

	{box_buttons}
		{button type="submit" icon="save" accesskey="s" label="Submit/Send"}
		{button icon="cancel" onclick="location.href = '?m=rtticketview&id={$message.ticketid}';"
			label="Cancel"}
	{/box_buttons}
{/box_container}

{box_container id="properties"}
	{box_contents}
		{box_panel}

			{box_row icon="img/mail.gif" label="Notify users:" labelid="notify"}
				<INPUT type="checkbox" name="message[notify]" id="notify" value="1"{if $message.notify} CHECKED{/if}>
			{/box_row}

			{box_row id="customernotify-row" icon="img/mail.gif" label="Notify customer:" labelid="customernotify"}
				<INPUT type="checkbox" name="message[customernotify]" id="customernotify" value="1"{if isset($message.customernotify)} checked{/if}>
			{/box_row}

{if !empty($contacts) || $group_action}
			{box_row icon="img/phone.gif" label="Notify customer via SMS:" labelid="smsnotify"}
				<INPUT type="checkbox" name="message[smsnotify]" id="smsnotify" value="1"{if $message.smsnotify} checked{/if}>
				<input type="hidden" name="message[phonefrom]" value="{if $group_action}-1{else}{$message.phonefrom}{/if}">
			{/box_row}

			{if !$group_action}
				{box_row id="smsnotify-contacts" visible=!empty($message.smsnotify)}
					{foreach $contacts as $contact}
						<label>
							<input type="checkbox" name="message[contacts][{$contact@index}]" value="{$contact.contact}"
								{if $contact.checked} checked{/if}>
							{$contact.contact}{if $contact.name} ({$contact.name}){/if}
						</label>
					{/foreach}
				{/box_row}
			{/if}
{/if}

			{box_row icon="img/dead.gif" label="Status:"}
				<SELECT SIZE="1" name="message[state]" id="state" {tip text="Select status" trigger="state"}>
					{if $group_action}
					<option value="-1"{if $message.state == -1} selected{/if}>{trans("- no changes -")}</option>
					{/if}
					{foreach $_RT_STATES as $stateidx => $state}
					<OPTION value="{$stateidx}"{if $message.state == $stateidx} selected{/if}>{$state.label}</OPTION>
					{/foreach}
				</SELECT>
				&nbsp;
				<label>
					<INPUT type="checkbox" name="message[resolve]" id="resolve" value="{$smarty.const.RT_RESOLVED}"{if isset($message.resolve) || $message.state == $smarty.const.RT_RESOLVED} CHECKED{/if}{tip trigger="resolve"}>
					{trans("resolve ticket")}
				</label>
			{/box_row}

			{box_row icon="img/desc.gif" label="Cause:"}
				<SELECT SIZE="1" name="message[cause]" {tip text="Select ticket cause" trigger="cause"}>
					{if $group_action}
					<option value="-1"{if $message.cause == -1} selected{/if}>{trans("- no changes -")}</option>
					{/if}
					<OPTION value="0" {if !$message.cause}SELECTED{/if}>{trans("unknown/other")}</OPTION>
					<OPTION value="1" {if $message.cause == 1}SELECTED{/if}>{trans("customer's side")}</OPTION>
					<OPTION value="2" {if $message.cause == 2}SELECTED{/if}>{trans("company's side")}</OPTION>
				</SELECT>
			{/box_row}

{if !$group_action}
			{box_row icon="img/volcano.png" label="Ticket source:"}
				<SELECT size="1" name="message[source]" {tip text="Select ticket source" trigger="source"}>
					{foreach $_RT_SOURCES as $sourceidx => $status}
					<OPTION value="{$sourceidx}"{if $message.source == $sourceidx} selected{/if}>{$status}</OPTION>
					{/foreach}
				</SELECT>
			{/box_row}
{/if}

			{box_row icon="img/report.gif" label="Priority:"}
				<SELECT size="1" name="message[priority]" {tip text="Set ticket priority" trigger="priority"}>
					{if $group_action}
					<option value="-100"{if $message.priority == -100} selected{/if}>{trans("- no changes -")}</option>
					{/if}
					{foreach $_RT_PRIORITIES as $priorityidx => $priority}
					<OPTION value="{$priorityidx}"{if $message.priority == $priorityidx} selected{/if}>{$priority}</OPTION>
					{/foreach}
				</SELECT>
			{/box_row}

			{box_row icon="img/queue.gif" label="Queue:"}
				<SELECT size="1" name="message[queueid]" {tip text="Select queue" trigger="queue"} onchange="xajax_queue_changed($(this).val(), $('#rtverifiers').val())">
					{if $group_action}
						<option value="-100"{if $message.queueid == -100} selected{/if} data-newmessage-notify="1">{trans("- no changes -")}</option>
					{/if}
					{foreach $queuelist as $item}
					<OPTION value="{$item.id}"{if $item.newmessagesubject && $item.newmessagebody} data-newmessage-notify="1"{/if}{if $item.id == $message.queueid} selected{/if}>{$item.name}</OPTION>
					{/foreach}
				</SELECT>
			{/box_row}

			{box_row icon="img/users.gif" label="Owner:"}
				<SELECT size="1" name="message[owner]" {tip text="Select user" trigger="owner" class="lms-ui-advanced-select"}>
					<OPTION value="0">- {trans("select user")} -</OPTION>
					{if $group_action}
						<option value="-100"{if $message.owner == -100} selected{/if}>{trans("- no changes -")}</option>
					{/if}
					{foreach $userlist as $user}
					{if !ConfigHelper::checkConfig('phpui.helpdesk_hide_disabled_users')
						|| (ConfigHelper::checkConfig('phpui.helpdesk_hide_disabled_users') && $user.access)
						|| $user.id == $message.owner}
					<OPTION value="{$user.id}"{if !$user.access} class="blend"{/if}{if $user.id == $message.owner} selected{/if}>{$user.rname} ({$user.login})</OPTION>
					{/if}
					{/foreach}
				</SELECT>
				&nbsp;
				<label>
					<input type="checkbox" id="assign-to-me" data-userid="{$layout.logid}">
					{trans("assign to me")}
				</label>
			{/box_row}

			{box_row icon="verifier" label="Verifier:" field_id="rtverifiers"}
				{if $group_action || !$ticket.verifierid || $ticket.verifierid == $layout.logid}
					<SELECT size="1" name="message[verifierid]" {tip text="Select user" trigger="verifierid"}>
						<OPTION value="0">- {trans("select user")} -</OPTION>
						{if $group_action}
							<option value="-1"{if $message.verifierid == -1} selected{/if}>{trans("- no changes -")}</option>
						{/if}
						{foreach $userlist as $user}
							{if !ConfigHelper::checkConfig('phpui.helpdesk_hide_disabled_users')
								|| (ConfigHelper::checkConfig('phpui.helpdesk_hide_disabled_users') && $user.access)
								|| $user.id == $message.verifierid}
							<OPTION value="{$user.id}"{if !$user.access} class="blend"{/if}{if $user.id == $message.verifierid} selected{/if}>{$user.rname} ({$user.login})</OPTION>
							{/if}
						{/foreach}
					</SELECT>
				{else}
					<input type="hidden" name="message[verifierid]" value="{$ticket.verifierid}">
					<span title="{trans("Only verifier can change this")}">{$ticket.verifier_username}</span>
				{/if}
			{/box_row}

			{box_row icon="img/calendar.gif" label="<!rt>Deadline:"}
				{if $group_action || ConfigHelper::checkConfig('phpui.helpdesk_allow_all_users_modify_deadline') || !$ticket.verifierid || $ticket.verifierid == $layout.logid}
					<INPUT TYPE="TEXT" NAME="message[deadline]" VALUE="{if $message.deadline}{$message.deadline|date_format:"%Y/%m/%d %H:%M"}{/if}"
							SIZE="20" {tip text="Enter deadline in YYYY/MM/DD HH:MM format or click to select it from applet" class="lms-ui-datetime" trigger="deadline"}>
				{else}
					<INPUT TYPE="hidden" NAME="message[deadline]" VALUE="{if $message.deadline}{$message.deadline|date_format:"%Y/%m/%d %H:%M"}{/if}">
					<span title="{trans("Only verifier can change this")}">{if $message.deadline}{$message.deadline|date_format:"%Y/%m/%d %H:%M"}{else}{trans("<!rt>- none -")}{/if}</span>
				{/if}
			{/box_row}

			{box_row icon="img/queue.gif" label="Category changes:"}
				<SELECT name="message[category_change]" {tip text="Select category change type" trigger="category_change"}>
					<option value="0"{if $message.category_change == 0} selected{/if}>{trans("- no changes -")}</option>
					<option value="1"{if $message.category_change == 1} selected{/if}>{trans("- replace -")}</option>
					<option value="2"{if $message.category_change == 2} selected{/if}>{trans("- append -")}</option>
					<option value="3"{if $message.category_change == 3} selected{/if}>{trans("- remove -")}</option>
				</SELECT>
			{/box_row}

			{box_row id="categories" icon="img/queue.gif" label="Categories:" class="categories"}
				{include file="rt/rtcategoryselection.html" name_prefix="message[categories]" categories=$categories}
			{/box_row}

		{/box_panel}
	{/box_contents}
{/box_container}
</FORM>

{if !$group_action}
{include file="rt/rtticketmessagesbox.html"}
{/if}

<SCRIPT>

	$(function() {
		$('form[name="message"] [name="message[subject]"]').focus();

		$('[name="message[queueid]"]').change(function() {
			var newmessage_notify = $(this).find(':selected').attr('data-newmessage-notify');
			if (newmessage_notify === undefined) {
				$('#customernotify-row').hide();
				$('#customernotify').attr('checked', false);
			} else {
				$('#customernotify-row').show();
				$('#customernotify').attr('checked', true);
			}
		});

		{if !$group_action}
		var newmessage_notify = $('[name="message[queueid]"]').find(':selected').attr('data-newmessage-notify');
		if (newmessage_notify === undefined) {
			$('#customernotify-row').hide();
		} else {
			$('#customernotify-row').show();
		}
		{/if}

		$('#smsnotify').change(function() {
			$('#smsnotify-contacts').toggle($(this).prop('checked'));
		});

		$('[name="message[category_change]"]').change(function() {
			if (parseInt($(this).val())) {
				$('#categories').show();
			} else {
				$('#categories').hide();
			}
		}).change();

		$('#resolve').change(function() {
			var stateelem = $('#state');
			if ($(this).prop('checked')) {
				$(this).data('prev-state', stateelem.val());
				stateelem.val({$smarty.const.RT_RESOLVED});
			} else {
				var prev_state = $(this).data('prev-state');
				if (prev_state) {
					stateelem.val(prev_state);
				}
			}
		});

		$('#state').change(function() {
			$('#resolve').prop('checked', $(this).val() == {$smarty.const.RT_RESOLVED});
		});

		$('[name="message[owner]"]').change(function() {
			$('#assign-to-me').prop('checked', false);
		});

		$('#assign-to-me').change(function() {
			var select = $('[name="message[owner]"]');
			if ($(this).prop('checked')) {
				select.val($(this).attr('data-old-userid', select.val()).attr('data-userid'));
			} else {
				select.val($(this).attr('data-old-userid'));
			}
			updateAdvancedSelects(select);
		});

		$('body').on('change', '.template-selector', function() {
			var selected = $('option:selected', this);
			if (parseInt(selected.val()) == 0) {
				return;
			}
			$('[name="message[subject]"]').val(Base64.decode(selected.attr('data-subject')));
			$('[name="message[body]"]').val(Base64.decode(selected.attr('data-message')));
		});

		{if isset($citing)}
		var textarea = $('[name="message[body]"]');
		textarea.scrollTop(textarea[0].scrollHeight - textarea.height());
		textarea[0].setSelectionRange(textarea.html().length, textarea.html().length);
		{/if}
	});

</SCRIPT>

{/block}
