{include file="clearheader.html"}
<!--// $Id$ //-->
<style>

	.no-page-break {
		break-inside: avoid;
	}

	.auto-width {
		width: 70%;
	}

	@media print {
		.auto-width {
			width: 100%;
		}
	}

</style>
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="99%" VALIGN="TOP">
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Prepared by: $a{/t}
		</TD>
	</TR>
</TABLE>
{foreach $list as $ticket}
<TABLE class="auto-width" CELLPADDING="3" ALIGN="CENTER">
	<TR>
		<TD CLASS="grey bb fleftu" ALIGN="CENTER" WIDTH="1%" NOWRAP>
			{icon name="helpdesk"}
		</TD>
		<TD CLASS="grey bb fbt" ALIGN="CENTER" WIDTH="1%" NOWRAP>
			<B>{$ticket.id|string_format:"%08d"}:</B>
		</TD>
		<TD CLASS="grey bb fbt" WIDTH="97%">
			<B>{$ticket.subject|escape}</B>
		</TD>
		<TD CLASS="grey bb frightu" ALIGN="CENTER" WIDTH="1%">
			#{counter}
		</TD>
	</TR>
	<tr>
		<td colspan="4" class="flr bb">
			<table style="width: 100%;">
				<colgroup>
					<col style="width: %1;">
					<col style="width: %99;">
				</colgroup>
				<tr>
					<td>
						{trans("Date:")}
					</td>
					<td>
						{$ticket.createtime|date_format:"%Y/%m/%d %H:%M"}
					</td>
				</tr>
				{if $ticket.deadline}
					<tr>
						<td>
							{trans("<!rt>Deadline:")}
						</td>
						<td>
							{$ticket.deadline|date_format:"%Y/%m/%d %H:%M"}
						</td>
					</tr>
				{/if}
				{if $ticket.resolvetime}
					<tr>
						<td class="nobr">
							{trans("Resolve time:")}
						</td>
						<td>
							{$ticket.resolvetime|date_format:"%Y/%m/%d %H:%M"}
						</td>
					</tr>
				{/if}
				{if $ticcket.customerid || $ticket.requestor}
					<tr>
						<td>
							{trans("Requestor:")}
						</td>
						<td>
							{if $ticket.customerid}
								{$ticket.customername|escape} ({$ticket.customerid|string_format:"%04d"})
							{else}
								{$ticket.requestor|escape}
							{/if}
						</td>
					</tr>
				{/if}
				{if $ticket.address}
					<tr>
						<td>
							{trans("Address:")}
						</td>
						<td>
							{$ticket.city}{if $ticket.address}, {$ticket.address}{/if}
							{if $ticket.phones}
								({trans("phone:")} {$ticket.phones})
							{/if}
							{if $ticket.emails}
								({trans("email:")} {$ticket.emails})
							{/if}
						</td>
					</tr>
				{/if}
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="fbottomu bb">
			<table style="width: 100%;" cellpadding="3" class="no-page-break">
				<colgroup>
					<col style="width: 100%;">
				</colgroup>
				{foreach $ticket.content as $item}
					<tr>
						<td class="ftop{if $item.note} blend{/if}">
							{if $message.contenttype == 'text/plain'}
								{$item.body|trim|escape|regex_replace:"/\r?\n/":'<br>'|message_quote}
							{else}
								{$item.body|message_quote}
							{/if}
						</td>
					</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</TABLE><BR>
{foreachelse}
<TABLE class="auto-width" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<tr>
    	<td class="empty-table">
			{trans("No such requests in database.")}
		</td>
	</tr>
</TABLE>
{/foreach}
{include file="clearfooter.html"}
