{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox lms-ui-background-cycle">
    <COLGROUP>
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 50%;">
        <COL style="width: 45%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
    </COLGROUP>
    <THEAD>
        {include file="rt/rtfilter.html"}
        <TR>
            <TD class="lms-ui-pagination" COLSPAN="9">
                {if $pagination->getTotal() != 0}
                {include file="pagination.html"}
                {/if}
            </TD>
            <TD class="lms-ui-pagination text-right nobr">
                <A HREF="?m=rtticketadd{if isset($filter.ids) && (!is_array($filter.ids) || count($filter.ids) == 1)}&id={$filter.ids[0]}{/if}"><IMG src="img/save.gif" ALT=""> {trans("Create")}</A>
            </TD>
        </TR>
        {include file="rt/rtheader.html"}
    </THEAD>
    <TBODY>
        {include file="rt/rtqueueviewbox.html"}
    </TBODY>
    <TFOOT>
        <TR>
            <TD class="lms-ui-pagination" COLSPAN="9">
                {if $pagination->getTotal() != 0}
                {include file="pagination.html"}
                {/if}
            </TD>
            <TD class="lms-ui-pagination text-right nobr">
                <A HREF="?m=rtticketadd{if isset($filter.ids) && (!is_array($filter.ids) || count($filter.ids) == 1)}&id={$filter.ids[0]}{/if}"><IMG src="img/save.gif" ALT=""> {trans("Create")}</A>
            </TD>
        </TR>
    </TFOOT>
</TABLE>
{/block}
