{block name=rtbox}
{foreach $queue as $ticket}
<TR class="highlight lms-ui-rt{if $ticket.deleted == 1 && $ticket.deltime != 0}-deleted{elseif $ticket.delcount && (ConfigHelper::checkPrivilege('helpdesk_advanced_operations'))}-partly-deleted{/if}" onClick="return self.location.href = '?m=rtticketview&id={$ticket.id}';">
	<TD class="text-center">
	{if $ticket.unread}
		<a href="?m=rtticketview&id={$ticket.id}{if $ticket.firstunread}#rtmessage-{$ticket.firstunread}{/if}" class="lms-ui-tooltip-rtticketinfo" data-resourceid="{$ticket.id}"><img src="img/{if $ticket.priority == $smarty.const.RT_PRIORITY_CRITICAL && $ticket.state != $smarty.const.RT_RESOLVED}ring-red{else}ticket-unread{/if}.png" alt=""></a>
	{else}
		<div style="padding: 7px;" class="lms-ui-tooltip-rtticketinfo" data-resourceid="{$ticket.id}"></div>
	{/if}
	</TD>
	<TD class="text-center" style="background:transparent; color:{$_RT_STATES[$ticket.state].color};">{$_RT_STATES[$ticket.state].label}</TD>
	<TD class="nobr">
		<span class="bold" style="{$_RT_PRIORITY_STYLES[$ticket.priority]}">{$ticket.id|string_format:"%06d"}</span>
		<span>{if is_array($queuedata.id) && count($queuedata.id) != 1}{$ticket.name}{/if}</span>
		<br>
		{$ticket.createtime|date_format:"%Y/%m/%d %H:%M:%S"}
	</TD>
	<TD>
		<span>{$_SERVICETYPES[$ticket.service]}</span>
		<span><br>{$_RT_TYPES[$ticket.type].label}</span>
	</TD>
	<TD class="nobr valign-middle">
		<span class="bold">{$ticket.subject|escape|truncate:"100":"..."|default:"&nbsp;"}</span>
		{foreach $ticket.categories as $ticketcategory}
		<span {if $ticketcategory.style != ''} style="{$ticketcategory.style}"{else} style="{$_CATEGORY_DEFAULT_STYLE}"{/if}>{$ticketcategory.name}</span>
		{/foreach}
		{if $ticket.customerid}
			<br>
			<A href="?m=customerinfo&id={$ticket.customerid}">{$ticket.requestor|escape|truncate:"60":"..."}</A>
		{else}
			{if $ticket.requestor_userid}
			<br>
			<A href="?m=userinfo&id={$ticket.requestor_userid}">{$ticket.requestor_username}</A>
			{else}
				<br>
				{$ticket.requestor|escape}
				{if $ticket.requestor_phone}<BR>{$ticket.requestor_phone}{/if}
				{if $ticket.requestor_mail}<BR>
				<A href="mailto:{$ticket.requestor_mail}""> &lt;{$ticket.requestor_mail}&gt;</A>
				{/if}
			{/if}
		{/if}
	</TD>
	<TD class="nobr valign-middle">
		{if $ticket.netnode_location}
			<a href="?m=netnodeinfo&id={$ticket.netnodeid}"><img src="img/netnode.png" alt=""> {$ticket.netnode_name}</a>
		{/if}
		{if $ticket.netdevid}
			<a href="?m=netdevinfo&id={$ticket.netdevid}"><img src="img/netdev.png" alt=""> {$ticket.netdev_name}</a>
		{/if}
		{if $ticket.netdevid || $ticket_netnode_location}<br>{/if}
		{if $ticket.customerid}
			{if $ticket.address_id}
				{$ticket.street} {$ticket.house}{if $ticket.flat}/{$ticket.flat}{/if},<br>
				{if $ticket.vacity}{$ticket.vacity}{/if}
			{else}
				{if $ticket.city}{$ticket.city},<br>{/if}{$ticket.address}
			{/if}
		{/if}
	</TD>
	<TD class="nobr text-center">
		{if $ticket.deadline}
			{if $ticket.deadline_diff < 0}
				<span class="lms-ui-important-box" {tip text="{$ticket.deadline_days} {trans("days")} {$ticket.deadline_hours} {trans("<!rt>hours")}"}>{trans("<!rt>Expired")}</span>
			{else}
				{$ticket.deadline_days} {trans("days")} {$ticket.deadline_hours} {trans("<!rt>hours")}
			{/if}

		{else}-
		{/if}
	</TD>
	<TD class="nobr">
		{if $ticket.ownername}{$ticket.ownername|truncate:25:"...":true}{else}-{/if}<br>
		{$ticket.lastmodified|date_format:"%Y/%m/%d %H:%M:%S"|default:"-"}
	</TD>
	<TD class="text-center nobr">
		{if $ticket.state == $smarty.const.RT_SCHEDULED && $ticket.eventcountopened=="0"}<A href="?m=eventadd&ticketid={$ticket.id}"><img src=img/event-add.png></A>{/if}
		{if $ticket.eventcountopened}<A href="?m=eventsearch&ticketid={$ticket.id}">{$ticket.eventcountopened} </A>{else}- {/if}/
		{if $ticket.eventcountclosed}<A href="?m=eventsearch&ticketid={$ticket.id}"> {$ticket.eventcountclosed}</A>{else} -{/if}
	</TD>
	<TD class="nobr text-right">
		{if !$ticket.unread}
		<a href="?m=rtticketedit&id={$ticket.id}&unread=1"><img src="img/ticket-unread.png" alt="" title="{trans("Mark as unread")}"></a>
		{else}
		<a href="?m=rtticketedit&id={$ticket.id}&unread=0"><img src="img/ticket-read.png" alt="" title="{trans("Mark as read")}"></a>
		{/if}
		{if !$ticket.ownerid}<A href="?m=rtqueueview&ticketid={$ticket.id}&assign"><img src="img/users.gif" alt="" title="{trans("Assign to me")}"></A>{/if}
		<A href="?m=rtticketprint&id={$ticket.id}" target="_BLANK"><img src="img/print.gif" alt="" title="{trans("Print")}"></A>
		{if $ticket.deleted == 1 && $ticket.deltime != 0 && (ConfigHelper::checkPrivilege('helpdesk_advanced_operations'))}
		<A href="?m=rtrestore&id={$ticket.id}&amp;taction=restore" onClick="return confirmLink(this, '{t a=$ticket.id|string_format:"%06d"}Are you sure, you want to restore ticket $a?{/t}')"><img src="img/reload.gif" alt="" title="{trans("Restore<!RT>")}"></A>
		<A href="?m=rtremove&id={$ticket.id}&amp;taction=delperm" onClick="return confirmLink(this, '{t a=$ticket.id|string_format:"%06d"}Are you sure, you want to permanently remove ticket $a?{/t}')"><img src="img/delete.gif" alt="" title="{trans("Delete permanently")}"></A>
		{else}
		<A href="?m=rtticketdel&id={$ticket.id}&amp;taction=delete" onClick="return confirmLink(this, '{t a=$ticket.id|string_format:"%06d"}Are you sure, you want to remove ticket $a?{/t}')"><img src="img/delete.gif" alt="" title="{trans("Delete")}"></A>
		{/if}
		<A href="?m=rtticketedit&id={$ticket.id}"><img src="img/edit.gif" alt="" title="{trans("Edit")}"> </A>
		<A href="?m=rtnoteadd&ticketid={$ticket.id}"><img src="img/note.gif" alt="" title="{trans("New Note")}"> </A>
		<A href="?m=rtmessageadd&ticketid={$ticket.id}"><img src="img/forward.gif" alt="" title="{trans("New Message")}"> </A>
		<A href="?m=rtticketview&id={$ticket.id}"><img src="img/info.gif" alt="" title="{trans("Info")}"> </A>
	</TD>
</TR>
{foreachelse}
<TR>
	<TD COLSPAN="11" class="empty-table">
		<p>{trans("This queue is empty.")}</p>
	</TD>
</TR>
{/foreach}
{/block}
