{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
	<COLGROUP>
		<COL style="width: 1%;" span="2">
		<COL style="width: 97%;">
		<COL style="width: 1%;">
		<COL style="width: 1%;" span="4">
	</COLGROUP>
    <THEAD>
	{include file="rt/rtheader.html"}
	{if $queuedata.total != 0}
	<TR>
		<TD class="pagination" colspan="8">
			{include file="scroller.html" loop=$queue listdata=$queuedata adlink="&s=1"}
		</TD>
		<TD>
			<A HREF="?m=rtticketadd{if $queuedata.queue && !is_array($queuedata.queue)}&id={$queuedata.queue}{/if}&customerid={$search.custid}">{trans("New Ticket")} <IMG src="img/save.gif" ALT=""></A>
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{include file="rt/rtqueueviewbox.html"}
    </TBODY>
	<TFOOT>
	<TR>
		<TD COLSPAN="9" class="dark buttons">
			<A HREF="?m=rtticketadd{if $queuedata.queue && !is_array($queuedata.queue)}&id={$queuedata.queue}{/if}&customerid={$search.custid}">{trans("New Ticket")} <IMG src="img/save.gif" ALT=""></A>
		</TD>
	</TR>
	</TFOOT>
</TABLE>
{/block}
