{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><FORM method="POST" action="?m=hostadd" name="hostadd">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="1%">
			<i class="lms-ui-icon-hosting"></i>
		</TD>
		<TD width="1%">
			<B>{trans("Name:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" size="40" name="hostadd[name]" value="{$hostadd.name}" {tip text="Enter host name" trigger="name" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="1%">
			<i class="lms-ui-icon-description"></i>
		</TD>
		<TD width="1%">
			<B>{trans("Description:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA rows="5" cols="50" name="hostadd[description]" {tip text="Enter additional information (optional)" trigger="description"}>{$hostadd.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD align="right" colspan="3">
			<A href="javascript:document.hostadd.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></A>
			<A href="?m=hostlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></A><BR>
			<INPUT type="checkbox" name="hostadd[reuse]" id="reuse" value="ON" {if $hostadd.reuse}checked{/if}> <label for="reuse">{trans("Display this form again, when this host is saved")}</label>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</P>
<SCRIPT type="text/javascript">
<!--
$(function() {
	$('form[name="hostadd"] [name="hostadd[name]"]').focus();
});
//-->
</SCRIPT>
{/block}
