/*
 * LMS version 1.11-git
 *
 *  (C) Copyright 2001-2019 LMS Developers
 *
 *  Please, see the doc/AUTHORS for more information about authors!
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License Version 2 as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
 *  USA.
 *
 *  $Id$
 */

@import "../../../css/fontawesome/less/fontawesome";
@fa-font-path: "../../css/fontawesome/webfonts";
@import "../../../css/fontawesome/less/solid";
@import "../../../css/fontawesome/less/brands";
@import "../../../css/fontawesome/less/regular";

.lms-userpanel-alert,
INPUT.lms-userpanel-alert,
INPUT.lms-userpanel-alert:focus,
TEXTAREA.lms-userpanel-alert,
TEXTAREA.lms-userpanel-alert:focus,
.form-control:invalid {
    background-color: #FF9B9B;
}

.lms-userpanel-table-header {
    color: white;
}

div.g-recaptcha > div {
    margin: 0 auto 20px;
    display: table;
}

li.list-group-item > strong {
    margin-right: 10px;
}

div.form-group.row > label.col-form-label {
    margin-left: 10px;
    margin-right: 10px;
}

.pagin-box .pagin-button {
    display: inline-block;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    color: black;
    border: 1px solid gray;
}

.pagin-box .active:hover {
    cursor: pointer;
    background-color: #940000;
    color: white;
    border: 1px solid black;
}

.pagin-box .inactive {
    background-color: lightgray;
    pointer-events: none;
    cursor: default;
}

nav.navbar {
    margin-bottom: 0.3em;
}

@keyframes lms-userpanel-blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.lms-userpanel-icon-warning {
    .fa-icon;
    .fas;
    color: red;
    -webkit-animation: lms-userpanel-blink 1.2s infinite;
    -moz-animation: lms-userpanel-blink 1.2s infinite;
    -ms-animation: lms-userpanel-blink 1.2s infinite;
    -o-animation: lms-userpanel-blink 1.2s infinite;
    animation: lms-userpanel-blink 1.2s infinite;
    &:before {
        content: @fa-var-exclamation;
    }
}

.dataTables_wrapper {
    margin-bottom: 4px;
    position: static;

    .dataTables_processing {
        font-weight: bold;
    }
    .top {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    div.lms-ui-datatable-toolbar {
        display: flex;
        justify-content: space-between;
    }
    .dataTables_length {
        padding-left: 4px;
        padding-top: 5px;
        white-space: nowrap;
    }
    div.lms-ui-datatable-clear-settings {
        float: left;
        padding-left: 4px;
        padding-top: 4px;
        cursor: pointer;
    }
    div.lms-ui-datatable-column-toggle {
        float: left;
        padding-left: 3px;
        padding-top: 4px;
    }
    .dataTables_paginate {
        float: left;
        text-align: center;
        padding-top: 2px;
    }
    .dataTables_filter {
        padding-right: 4px;
        padding-top: 5px;
    }
    .dataTables_info {
        float: none;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: bold;
    }
    .top {
        border: 1px solid black;
        border-bottom: 0;
    }
    .bottom {
        border: 1px solid black;
        border-top: 0;
    }
}
