/*
 * LMS version 1.11-git
 *
 *  (C) Copyright 2001-2018 LMS Developers
 *
 *  Please, see the doc/AUTHORS for more information about authors!
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License Version 2 as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
 *  USA.
 *
 *  $Id$
 */
#voipaccountspanel .login {
  width: 30em;
}
#voipaccountspanel .id {
  width: 8em;
}
#voipaccountspanel .password {
  width: 20em;
}
#voipaccountspanel .number {
  width: 20em;
}
#voipaccountspanel .buttons {
  width: 10em;
  padding-right: 0.2em;
}
@media all and (max-width: 1700px) {
  #voipaccountspanel .col-4 .col-2:first-child {
    flex-direction: column !important;
    width: 23em !important;
  }
  #voipaccountspanel .col-4 .col-2:first-child div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1300px) {
  #voipaccountspanel .col-4 .col-2:nth-child(2) {
    flex-direction: column !important;
    width: 16em !important;
  }
  #voipaccountspanel .col-4 .col-2:nth-child(2) div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 768px) {
  #voipaccountspanel .col-4 {
    flex-direction: column !important;
    width: 20em !important;
  }
  #voipaccountspanel .col-4 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
