/*
 * LMS version 1.11-git
 *
 *  (C) Copyright 2001-2018 LMS Developers
 *
 *  Please, see the doc/AUTHORS for more information about authors!
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License Version 2 as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
 *  USA.
 *
 *  $Id$
 */
#devicespanel .name {
  width: 20em;
}
#devicespanel .description {
  width: 30em;
}
#devicespanel .id {
  width: 8em;
}
#devicespanel .sn {
  width: 10em;
}
#devicespanel .ip {
  width: 10em;
}
#devicespanel .mac {
  width: 10em;
}
#devicespanel .buttons {
  width: 10em;
  padding-right: 0.2em;
}
@media all and (max-width: 1700px) {
  #devicespanel .col-4 > .col-2 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #devicespanel .col-4 > .col-2 .div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1400px) {
  #devicespanel .col-6 > .col-2 {
    flex-direction: column !important;
    width: 30em !important;
  }
  #devicespanel .col-6 > .col-2 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1024px) {
  #devicespanel .col-4 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #devicespanel .col-4 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 768px) {
  #devicespanel .col-6 {
    flex-direction: column !important;
    width: 27em !important;
  }
  #devicespanel .col-6 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
