{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{if $note}
<SCRIPT type="text/javascript">
<!--
window.open('?m=note&amp;id={$note}');
//-->
</SCRIPT>
{/if}
<SCRIPT type="text/javascript">
<!--
	function pays()
	{
		if(! confirm('{trans("Are you sure, you want to check/uncheck selected debit notes as accounted?")}'))
			return;
		document.page.action="?m=notepaid";
		document.page.target="";
		document.page.submit();
	}

	function prints()
	{
		document.page.action="?m=note&print=cached";
		document.page.target="_blank";
		document.page.submit();
	}

	function filter()
	{
		document.page.action="?m=notelist";
		document.page.target="";
		document.page.submit();
	}

{if ConfigHelper::checkConfig('phpui.short_pagescroller')}
	function pagechange1()
	{
		document.page.action="?m=notelist&page=" + document.forms['page'].elements['page1'].value;
		document.page.target="";
		document.page.submit();
	}

	function pagechange2()
	{
		document.page.action="?m=notelist&page=" + document.forms['page'].elements['page2'].value;
		document.page.target="";
		document.page.submit();
	}
{/if}
//-->
</SCRIPT>
<FORM METHOD="POST" NAME="page">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%" nowrap>
			<A href="?m=notelist&amp;o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order == "id"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" nowrap>
			<A href="?m=notelist&amp;o=cdate{if $listdata.direction == "asc" && $listdata.order == "cdate"},desc{/if}">{trans("Date:")}</A> {if $listdata.order == "cdate"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" nowrap>
			<A href="?m=notelist&amp;o=number{if $listdata.direction == "asc" && $listdata.order == "number"},desc{/if}">{trans("Number:")}</A> {if $listdata.order == "number"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" nowrap>
			<A href="?m=notelist&amp;o=value{if $listdata.direction == "asc" && $listdata.order == "value"},desc{/if}">{trans("Value:")}</A> {if $listdata.order == "value"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" nowrap>
			<A href="?m=notelist&amp;o=count{if $listdata.direction == "asc" && $listdata.order == "count"},desc{/if}">{trans("Items:")}</A> {if $listdata.order == "count"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="94%" nowrap>
			<A href="?m=notelist&amp;o=name{if $listdata.direction == "asc" && $listdata.order == "name"},desc{/if}">{trans("For:")}</A> {if $listdata.order == "name"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
	<TR>
		<TD colspan="7">
				<B>{trans("Filter:")} </B> 
				<INPUT type="text" name="search" value="{$listdata.search}" size="15" {tip text="Enter value of searching data and select category"}>&nbsp;
				<SELECT size="1" name="cat">
					<OPTION value=""{if $listdata.cat == ""} SELECTED{/if}>{trans("- select filter category -")}</OPTION>
					<OPTION value="cdate"{if $listdata.cat == "cdate"} SELECTED{/if}>{trans("day (YYYY/MM/DD)")}</OPTION>
					<OPTION value="month"{if $listdata.cat == "month"} SELECTED{/if}>{trans("month (YYYY/MM)")}</OPTION>
					<OPTION value="number"{if $listdata.cat == "number"} SELECTED{/if}>{trans("number")}</OPTION>
					<OPTION value="value"{if $listdata.cat == "value"} SELECTED{/if}>{trans("value")}</OPTION>
					<OPTION value="name"{if $listdata.cat == "name"} SELECTED{/if}>{trans("customer name")}</OPTION>
					<OPTION value="customerid"{if $listdata.cat == "customerid"} SELECTED{/if}>{trans("customer ID")}</OPTION>
					<OPTION value="ten"{if $listdata.cat == "ten"} SELECTED{/if}>{trans("TEN")}</OPTION>
					<OPTION value="address"{if $listdata.cat == "address"} SELECTED{/if}>{trans("address")}</OPTION>
				</SELECT>&nbsp;
				{trans("Group:")}
				<SELECT size="1" name="group">
					<OPTION value="0"{if !$listdata.group} SELECTED{/if}>{trans("- all groups -")}</OPTION>
					{section name="grouplist" loop=$grouplist}
					<OPTION value="{$grouplist[grouplist].id}"{if $listdata.group == $grouplist[grouplist].id} SELECTED{/if}>{$grouplist[grouplist].name|truncate:30:"...":true}</OPTION>
					{/section}
				</SELECT>
				<INPUT type="checkbox" name="groupexclude" id="groupexclude"{if $listdata.groupexclude} CHECKED{/if}><label for="groupexclude">{trans("exclude group")}</label>
				<INPUT type="checkbox" name="hideclosed" id="hideclosed"{if $listdata.hideclosed} CHECKED{/if}><label for="hideclosed">{trans("hide accounted<!plural>")}</label>
				&nbsp;<A href="javascript:filter();">&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" WIDTH="100%" COLSPAN="7">
			{include file="scroller.html" loop=$notelist scrollerno=1}
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=notelist loop=$notelist start=$start max=$pagelimit}
	{assign var=note value=$notelist[notelist]}
	{assign var=noteid value=$note.id}
	<TR class="highlight {cycle}{if $note.closed} blend{/if}"  >
		<TD WIDTH="1%">
			{$note.id|string_format:"%06d"}
		</TD>
		<TD WIDTH="1%" NOWRAP>
			{$note.cdate|date_format:"%Y/%m/%d %H:%M"}
		</TD>
		<TD WIDTH="1%" NOWRAP align="right">
			{number number=$note.number template=$note.template time=$note.cdate assign=number}{$number}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$note.value|money_format} 
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$note.count}
		</TD>
		<TD WIDTH="94%">
			<A HREF="?m=customerinfo&amp;id={$note.customerid}"{if $note.closed} class="blend"{/if}>{$note.name}, {$note.address}, {$note.zip} {$note.city}{if $note.country != ""}, {t}{$note.country}{/t}{/if}</A>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" class="nobr">
			{if !$note.closed}
			    <A onClick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove debit note \'$a\' from database?{/t}')" HREF="?m=notedel&amp;id={$note.id}"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
			    <A HREF="?m=noteedit&amp;id={$note.id}&amp;action=edit"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
			{/if}
			<A HREF="?m=note&amp;id={$note.id}" TARGET="_blank"><IMG src="img/printd.gif" alt="[ {trans("Print")} ]" title="[ {trans("Print")} ]"></A>
			<INPUT TYPE="checkbox" NAME="marks[{$note.id}]" VALUE="{$note.id}"{if $marks.$noteid}CHECKED{/if}>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="7" class="empty-table">
			<p>{trans("No such debit notes in database.")}</p>
		</TD>
	</TR>
	{/section}
    </TBODY>
    <TFOOT>
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" WIDTH="100%" COLSPAN="7">
			{include file="scroller.html" loop=$notelist scrollerno=2}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD COLSPAN="7">
			<TABLE WIDTH="100%">
				<TR>
					<TD ALIGN="left" class="nobr">
						<A HREF="javascript:pays();">{trans("Check/Uncheck as accounted")} <IMG SRC="img/pay.gif" ALT=""></A>&nbsp;
						<A HREF="javascript:prints();">{trans("Print")} <IMG SRC="img/printd.gif" ALT="" ></A>&nbsp;
					</TD>
					<TD ALIGN="right" class="nobr">
						<label for="allbox">{trans("Check All")}</label><INPUT TYPE="checkbox" NAME="allbox" id="allbox" onchange="CheckAll('page', this, ['groupexclude', 'hideclosed'])" VALUE="1">
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
    </TFOOT>
</TABLE>
</FORM>
{/block}
