{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{if $newnoteid}
<SCRIPT type="text/javascript">
<!--
window.open('?m=note&id={$newnoteid}');
//-->
</SCRIPT>
{/if}
<script type="text/javascript">
<!--
	function saveheader()
	{
		if (document.setcustomer.customer)
			if (document.setcustomer.customer.value != 0)
				document.setcustomer.customerid.value = document.setcustomer.customer.value;

		document.setcustomer.submit();
	}

	function setPayTime(type)
	{
		var list = document.setcustomer.elements['note[paytime_default]'];
		list[0].checked = type ? true : false;
		list[1].checked = type ? false : true;
		document.setcustomer.elements['note[paytime]'].style.visibility = type ? 'hidden' : 'visible';
	}

	function printnote()
	{
		document.additem.action="?m=noteadd&action=save&print=1";
		document.additem.submit();
	}
//-->
</script>
<FORM NAME="setcustomer" METHOD="POST" ACTION="?m=noteadd&amp;action=setcustomer">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="100%" COLSPAN="2">
			<B>{trans("Main Information:")}</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Debit note number:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="note[number]" VALUE="{$note.number}" SIZE="10" {tip text="Enter note number. WARNING! Changing this number can be DANGEROUS! (leave this field empty to obtain next number)" trigger="number"}>&nbsp;
			{if $numberplanlist}
			<SELECT name="note[numberplanid]" {tip text="Select numbering plan"}>
			{foreach item=plan from=$numberplanlist}
				{assign var=period value=$plan.period}
				<OPTION value="{$plan.id}"{if $plan.id==$note.numberplanid} SELECTED{/if}>{number number=$plan.next template=$plan.template time=$note.cdate} ({$_NUM_PERIODS.$period})</OPTION>
			{/foreach}
			</SELECT>
			{else}
				<INPUT type="hidden" name="note[numberplanid]" value="0">
			{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Settlement date:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			{if ConfigHelper::checkPrivilege("invoice_consent_date")}
				<INPUT TYPE="TEXT" NAME="note[cdate]" VALUE="{$note.cdate|date_format:"%Y/%m/%d"}" SIZE="10"
						placeholder="{trans("yyyy/mm/dd")}" {tip class="lms-ui-date" text="Enter date of settlement in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="cdate"}>
				{if $note.cdatewarning}
					<INPUT TYPE="HIDDEN" NAME="note[cdatewarning]" VALUE="1">
				{/if}
			{else}
				<INPUT TYPE="hidden" NAME="note[cdate]" VALUE="{$note.cdate|date_format:"%Y/%m/%d"}">
				{$note.cdate|date_format:"%Y/%m/%d"}
			{/if}
		</TD>
	</TR>
	<TR>
        <TD WIDTH="1%" NOWRAP>
	        <B>{trans("Deadline:")}</B>
	    </TD>
	    <TD WIDTH="99%" NOWRAP>
			<INPUT type="radio" name="note[paytime_default]" value="1" id="type1" onchange="javascript:setPayTime(1)"{if !isset($note.paytime_default) || $note.paytime_default} checked{/if}><label for="type1">{trans("default")}</label>
            <INPUT type="radio" name="note[paytime_default]" value="0" id="type0" onchange="javascript:setPayTime(0)"{if isset($note.paytime_default) && !$note.paytime_default} checked{/if}><label for="type0">{trans("other")}</label>
	        <INPUT TYPE="TEXT" NAME="note[paytime]" VALUE="{$note.paytime}" SIZE="5"
			{if !isset($note.paytime_default) || $note.paytime_default} style="visibility: hidden"{/if} {tip text="Enter deadline in days (optional)" trigger="paytime"}>
	                {* if $note.cdate}
	                ({$note.cdate+$note.paytime*86400|date_format:"%Y/%m/%d"})
	                {/if *}
	        </TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="bold nobr">
			{trans("Customer:")}
		</TD>
		<TD style="width: 99%;" class="nobr">
			{if isset($customer.id)}
			{customerlist form="setcustomer" customers=$customers selected=$customer.id selectname="customer" inputname="customerid"}
			{else}
			{customerlist form="setcustomer" customers=$customers selected=$note.customerid selectname="customer" inputname="customerid"}
			{/if}
		</TD>
	</TR>
	<tr>
		<td class="bold">{trans("Currency:")}</td>
		<td>
			<select name="note[currency]" {tip text="Select currency"}>
				{foreach $_CURRENCIES as $currency}
					<option value="{$currency}"{if $note.currency == $currency} selected{/if}>{$currency}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<TR>
		<TD WIDTH="100%" ALIGN="right" COLSPAN="2">
			<A HREF="javascript: saveheader();">{trans("Submit")} <IMG SRC="img/save.gif" ALT=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
{if $customer}
<TABLE class="lmsbox">
    <THEAD>
        <TR>
                <TD WIDTH="1%" nowrap>
                        <IMG SRC="img/customer.gif" ALT=""> <B>{trans("Customer:")}</B>
                </TD>
                <TD WIDTH="99%">
                        <B>{$customer.customername}</B>
                        &nbsp;&raquo;&nbsp; {if $customer.postoffice && $customer.postoffice != $customer.city && $customer.street}{$customer.city}, {/if}{$customer.address},
                        	{$customer.zip} {if $customer.postoffice}{$customer.postoffice}{else}{$customer.city}{/if}
                        &nbsp;&raquo;&nbsp; {if $customer.balance < 0}<span class="red">{/if}{$customer.balance|money_format}{if $customer.balance < 0}</span>{/if}
                </TD>
        </TR>
    </THEAD>
</TABLE>
{/if}
<TABLE class="lmsbox lms-ui-background-cycle">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<B>{trans("No.")}</B>
		</TD>
		<TD WIDTH="97%">
			{trans("Title:")}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{trans("Value:")}
		</TD>
		<TD WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{foreach from=$contents item=item}
	<TR class="highlight">
		<TD>
			<B>{counter}.</B>
		</TD>
		<TD>
			{$item.description}
		</TD>
		<TD NOWRAP ALIGN="RIGHT">
			{$item.value|string_format:"%01.2f"}
		</TD>
		<TD NOWRAP>
			<A HREF="?m=noteadd&amp;action=deletepos&posuid={$item.posuid}"><IMG SRC="img/delete.gif" {tip text="Remove this item from list"}></A>
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD COLSPAN="4" class="empty-table">
			<p>{trans("Debit note have no items. Use form below for items addition.")}</p>
		</TD>
	</TR>
	{/foreach}
	{if $contents}
	<TR>
		<TD COLSPAN="2" ALIGN="RIGHT">
			<B>{trans("Total:")}</B>
		</TD>
		<TD NOWRAP ALIGN="RIGHT">
			<B>{sum array=$contents column=value string_format="%01.2f"}</B>
		</TD>
		<TD>
			&nbsp;
		</TD>
	</TR>
	{/if}
    </TBODY>
	<TFOOT>
	<FORM METHOD="POST" ACTION="?m=noteadd&amp;action=additem" NAME="additem">
	<INPUT type="submit" class="hiddenbtn">
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{counter}.</B>
		</TD>
		<TD WIDTH="92%" NOWRAP>
			<INPUT TYPE="text" NAME="description" SIZE="80" {tip text="Enter description" trigger="description"}>
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			<INPUT TYPE="text" NAME="value" SIZE="8" {tip text="Enter value" trigger="value"}>
		</TD>
		<TD>
			<A HREF="javascript:document.additem.submit(); "><IMG SRC="img/save.gif" ALT="" {tip text="Add item"}></A>
		</TD>
	</TR>
	<TR class="lms-ui-button-panel">
		<TD COLSPAN="4" ALIGN="RIGHT">
			<A HREF="?m=notelist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
			<A HREF="?m=noteadd&amp;action=init">{trans("Clear Contents")} <IMG SRC="img/delete.gif" alt=""></A>
			{if !$customer}
			<A class="customer-alert" href="#">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
			<A class="customer-alert" href="#">{trans("Save & Print")} <IMG src="img/printd.gif" alt=""></A>
			{elseif !$contents}
			<A class="document-alert" href="#">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
			<A class="document-alert" href="#">{trans("Save & Print")} <IMG src="img/printd.gif" alt=""></A>
			{else}
			<A HREF="?m=noteadd&amp;action=save">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
			<A HREF="javascript:printnote()">{trans("Save & Print")} <IMG src="img/printd.gif" alt=""></A>
			{/if}
		</TD>
	</TR>
	</FORM>
	</TFOOT>
</TABLE>
</FORM>
<SCRIPT>
$(function() {
	$('form[name="setcustomer"] [name="note[number]"]').focus();
});

$('.customer-alert').click(function() {
	alertDialog($t("Customer not selected!"), this);
	return;
});
$('.document-alert').click(function() {
	alertDialog($t("Document has no items!"), this);
	return;
});

</SCRIPT>
{/block}
