{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><FORM METHOD="POST" ACTION="?m=ewxchadd" NAME="channel">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR COLSPAN="2">
		<TD WIDTH="1%" NOWRAP><IMG SRC="img/channel.gif" ALT=""> <B>{trans("Channel name:")}</B></TD>
		<TD>
			<INPUT TYPE="TEXT" NAME="channel[name]" VALUE="{$channel.name}" SIZE="30" {tip text="Enter channel name" trigger="name"}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%" NOWRAP><IMG SRC="img/downrate.gif" ALT=""> <B>{trans("Downceil:")}</B></TD>
		<TD>
			<INPUT TYPE="TEXT" SIZE="10" NAME="channel[downceil]" VALUE="{if $channel.downceil}{$channel.downceil}{/if}" {tip text="Enter maximal download value" trigger="downceil"}>
			{trans("night:")} <INPUT TYPE="TEXT" SIZE="10" NAME="channel[downceil_n]" VALUE="{if $channel.downceil_n}{$channel.downceil_n}{/if}" {tip text="Enter maximal download value (optional)" trigger="downceil_n"}> kbit/s
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP><IMG SRC="img/uprate.gif" ALT=""> <B>{trans("Upceil:")}</B></TD>
		<TD>
			<INPUT TYPE="TEXT" SIZE="10" NAME="channel[upceil]" VALUE="{if $channel.upceil}{$channel.upceil}{/if}" {tip text="Enter maximal upload value" trigger="upceil"}>
			{trans("night:")} <INPUT TYPE="TEXT" SIZE="10" NAME="channel[upceil_n]" VALUE="{if $channel.upceil_n}{$channel.upceil_n}{/if}" {tip text="Enter maximal upload value (optional)" trigger="upceil_n"}> kbit/s
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP><IMG SRC="img/options.gif" ALT=""> <B>{trans("Options:")}</B></TD>
		<TD NOWRAP>
		    <label for="halfduplex">{trans("Half duplex")}:</label>
            <INPUT TYPE="checkbox" NAME="channel[halfduplex]" VALUE="1" id="halfduplex" {if $channel.halfduplex} checked{/if} {tip text="Select transmission mode"}>
		</TD>
	</TR>
	<TR>
		<TD width="100%" COLSPAN="2" align="right">
			<A HREF="javascript:document.channel.submit();" accesskey="s">{trans("Submit")} <IMG SRC="img/save.gif" ALT=""></A>
			<A HREF="?m=channellist">{trans("Cancel")} <IMG SRC="img/cancel.gif" ALT=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM></P>
<SCRIPT type="text/javascript">
<!--
$(function() {
	$('form[name="channel"] [name="channel[name]"]').focus();
});
//-->
</SCRIPT>
{/block}
