{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="93%" NOWRAP><IMG src="img/id.gif" alt=""> <B>{trans("Template:")}</B></TD>
		<TD width="1%" align="right" NOWRAP>{trans("ID:")}</TD>
		<TD width="1%" align="right" NOWRAP>{trans("Example (next) number:")}</TD>
		<TD width="1%" align="right" NOWRAP>{trans("No. of issued documents:")}</TD>
		<TD width="1%" align="right" NOWRAP>{trans("Document type:")}</TD>
		<TD width="1%" align="right" NOWRAP>{trans("Period:")}</TD>
		<TD width="1%" align="right" NOWRAP>{trans("Default:")}</TD>
		<TD width="1%" align="right"  NOWRAP><a href="?m=numberplanadd">{trans("Add plan")} <img src="img/save.gif" alt=""></a></TD>
	</TR>
	{if $listdata.total != 0}
	<TR>
		<TD class="lms-ui-pagination" COLSPAN="8">
			{include file="scroller.html" loop=$numberplanlist}
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=numberplanlist loop=$numberplanlist}
	<TR class="highlight {cycle}{if ($numberplanlist[numberplanlist].validfrom !=0 && $numberplanlist[numberplanlist].validfrom > $smarty.now) || ($numberplanlist[numberplanlist].validto !=0 && $numberplanlist[numberplanlist].validto < $smarty.now)} blend{/if}" data-name="{$numberplanlist[numberplanlist].template}">
		<TD NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			<IMG src="img/id.gif" alt=""> <B>{$numberplanlist[numberplanlist].template}</B>
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			({$numberplanlist[numberplanlist].id|string_format:"%04d"})
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			{number number=$numberplanlist[numberplanlist].next template=$numberplanlist[numberplanlist].template time=$smarty.now}
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			{$numberplanlist[numberplanlist].issued|default:"0"}
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			{assign var="doctype" value=$numberplanlist[numberplanlist].doctype}
			{$_DOCTYPES.$doctype}
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			{assign var="period" value=$numberplanlist[numberplanlist].period}
			{$_NUM_PERIODS.$period}
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}';">
			{if $numberplanlist[numberplanlist].isdefault}{trans("yes")}{/if}
		</TD>
		<TD align="right" NOWRAP>
			<A class="delete-numberplan" href="?m=numberplandel&id={$numberplanlist[numberplanlist].id}"><IMG src="img/delete.gif" alt="{trans("Delete")}" title="{trans("Delete")}"></A>
			<A href="?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}"><IMG src="img/edit.gif" alt="{trans("Edit")}" title="{trans("Edit")}"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="8" class="empty-table">
			<p>{trans("No such numbering plans in database.")}</p>
		</TD>
	</TR>
	{/section}
    </TBODY>
    <TFOOT>
	{if $listdata.total != 0}
	<TR>
		<TD class="lms-ui-pagination" COLSPAN="8">
			{include file="scroller.html" loop=$numberplanlist}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD colspan="8" align="right">
			<a href="?m=numberplanadd">{trans("Add plan")} <img src="img/save.gif" alt=""></a>
		</TD>
	</TR>
    </TFOOT>
</TABLE>
	<script>
		$('.delete-numberplan').click(function() {
			var name = $(this).closest('tr').attr('data-name');
			confirmDialog($t("Are you sure, you want to delete numberplan '$a'?", name), this).done(function() {
				location.href = $(this).attr('href');
			});
			return false;
		});
	</script>
{/block}
