<TABLE CLASS="lmsbox">
	<thead>
	<TR class="dark">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/stck.png" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU">
			<B>{$groupinfo.name} ({$groupinfo.id|string_format:"%04d"})){if $groupinfo.deleted} <FONT COLOR="RED">({t}deleted group{/t})</FONT>{/if}</B>
		</TD>
	</TR>
	</thead>
	<tbody>
	<TR class="LIGHT">
	        <TD WIDTH="100%" COLSPAN="2" CLASS="flr">
			<TABLE WIDTH="100%" CELLPADDING="0">
				<TR CLASS="LIGHT">
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
							<TR CLASS="LIGHT">
								<TD WIDTH="1%">
									<IMG SRC="img/stck_count.png" ALT="">
								</TD>
								<TD WIDTH="1%" NOWRAP>
									<B>{t}Stock count:{/t}</B>
								</TD>
								<TD WIDTH="98%">
									{$groupinfo.count}
								</TD>
							</TR>
							<TR CLASS="LIGHT">
								<TD WIDTH="1%">
									<IMG SRC="img/money.gif" ALT="">
								</TD>
								<TD WIDTH="1%" NOWRAP>
								        <B>{t}Stock net value:{/t}</B>
								</TD>
								<TD WIDTH="98%">
								        {$groupinfo.valuenet|money_format}
								</TD>
							</TR>
							<TR CLASS="LIGHT">
								<TD WIDTH="1%">
									<IMG SRC="img/money.gif" ALT="">
								</TD>
								<TD WIDTH="1%" NOWRAP>
									<B>{t}Stock gross value:{/t}</B>
								</TD>
								<TD WIDTH="98%">
									{$groupinfo.valuegross|money_format}
								</TD>
							</TR>
							<TR CLASS="LIGHT">
								<TD WIDTH="1%">
									 <IMG SRC="img/port.gif" ALT="">
								</TD>
								<TD WIDTH="1%" NOWRAP>
									<B>{t}Default quantity name:{/t}</B>
								</TD>
								<TD WIDTH="98%">
									{$groupinfo.quantityname}
								</TD>
							</TR>
							<TR CLASS="LIGHT">
								<TD WIDTH="1%">
									<IMG SRC="img/port.gif" ALT="">
								</TD>
								<TD WIDTH="1%" NOWRAP>
									<B>{t}Quantity check:{/t}</B>
								</TD>
								<TD WIDTH="98%">
									{if $groupinfo.quantitycheck}{t}yes{/t}{else}{t}no{/t}{/if}
								</TD>
							</TR>
	                        		</TABLE>
					</TD>
					<TD WIDTH="50%" style="vertical-align:top;">
                				<TABLE WIDTH="100%" CELLPADDING="3">
						<TR CLASS="LIGHT">
							<TD WIDTH="1%">
								<IMG SRC="img/desc.gif" ALT="">
							</TD>
							<TD WIDTH="99%" COLSPAN="2">
								<TABLE WIDTH="100%" CELLPADDING="5">
									<TR>
										<TD class="fall superlight">
											{$groupinfo.comment|escape|replace:"\n":"<BR>"}
										</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
						<TR>
							<TD WIDTH="1%">
								<IMG SRC="img/users.gif" ALT="">
							</TD>
							<TD WIDTH="98%">
								<TABLE WIDTH="100%" CELLPADDING="5">
									<TR>
										<TD WIDTH="1%">
											<B>{t}Created:{/t}<BR>
											{t}Modified:{/t}</B>
										</TD>
										<TD WIDTH="99%">
											{$groupinfo.createdby}, {$groupinfo.creationdate|date_format:"%Y/%m/%d %H:%M"}<BR>
											{if $groupinfo.moddate}{$groupinfo.modifiedby}, {$groupinfo.moddate|date_format:"%Y/%m/%d %H:%M"}{else}-{/if}
										</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
						</TABLE>
					</TD>
        			</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" COLSPAN="2" CLASS="FBOTTOMU" ALIGN="RIGHT">
			{if $groupinfo.deleted}
			<A HREF="?m=stckgroupedit&id={$groupinfo.id}&action=recover">{t}Restore{/t} <IMG SRC="img/recover.gif" ALT="[ {t}Restore{/t} ]"></A>
			{else}
			<A href="?m=stckgroupedit&id={$groupinfo.id}" ACCESSKEY="E">{t}Edit{/t} <IMG src="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
                        <A href="?m=stckgroupdel&id={$groupinfo.id}" OnClick="return confirmLink(this, '{trans('Are you sure you want to remove group $a?', $groupinfo.name)}');">{t}Delete{/t} <img src="img/delete.gif" ALT=""></A>
                	{/if}
		</TD>
        </TR>
	</tbody>
</TABLE>
