BODY		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; margin: 0pt; height: 100%; margin: 0; }
TABLE		{ border: 0; }
TD		{ font-size: 10pt; }
TR.blend	{ color: #888888; }
A		{ text-decoration: none; color: #3333FF; }
A:hover		{ text-decoration: underline; color: #940000; }
P		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H1		{ font-size: 18pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H2		{ font-size: 14pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H3		{ font-size: 12pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H4		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
IMG		{ border: 0; vertical-align: middle; }
INPUT 		{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #EEEEEE;}
INPUT.alert 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #FFFF99;}
TEXTAREA 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #EEEEEE;}
TEXTAREA.alert 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #FFFF99;}

.copyrights	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #BABABA; width:500px}
.copyrights a	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #000000; }
.copyrights a:hover	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #940000; }
.tabnotsel		{ font-size: 12px; text-decoration: none; color: white; font-weight: bold;}
.tabsel			{ font-size: 12px; text-decoration: none; color: black; font-weight: bold;}
.tabnotsel:hover	{ font-size: 12px; text-decoration: none; color: white; }
.tabsel:hover		{ font-size: 12px; text-decoration: none; color: black; }
.superlight	{ background-color: #EEEEEE; }
.light		{ background-color: #DDDDDD; }
.dark		{ background-color: #CCCCCC; }
.darkest	{ background-color: #BBBBBB; }

.nobr		{ white-space: nowrap; }
.bold		{ font-weight: bold; }
.text-right	{ text-align: right; }
.text-left	{ text-align: left; }
.text-center	{ text-align: center; }
.valign-top	{ vertical-align: top; }
.valign-bottom	{ vertical-align: bottom; }

.BOOK		{ padding: 5pt; }
.SCREEN		{ font-size: 10pt; background: #F4F0EC; border: 1px solid #333333; padding: 3pt; font-family: Courier; }
.PROMPT		{ font-size: 10pt; font-family: Courier; }
.login		{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:1; background: url(grad.gif); background-repeat: repeat-x; }

