BODY		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; margin: 0pt; height: 100%; margin: 0; }
TABLE		{ border: 0; }
TD		{ font-size: 10pt; }
TR.blend	{ color: #888888; }
A		{ text-decoration: none; color: #3333FF; }
A:hover		{ text-decoration: underline; color: #940000; }
P		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H1		{ font-size: 18pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H2		{ font-size: 14pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H3		{ font-size: 12pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H4		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
IMG		{ border: 0; vertical-align: middle; }
INPUT 		{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #EEEEEE;}
INPUT.alert 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #FFFF99;}
TEXTAREA 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #EEEEEE;}
TEXTAREA.alert 	{ border-width: 1pt; border-color: #000000; border-style: solid; background-color: #FFFF99;}

.copyrights	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #BABABA; width:500px}
.copyrights a	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #000000; }
.copyrights a:hover	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #940000; }
.tabnotsel		{ font-size: 12px; text-decoration: none; color: white; font-weight: bold;}
.tabsel			{ font-size: 12px; text-decoration: none; color: black; font-weight: bold;}
.tabnotsel:hover	{ font-size: 12px; text-decoration: none; color: white; }
.tabsel:hover		{ font-size: 12px; text-decoration: none; color: black; }
.superlight	{ background-color: #EEEEEE; }
.light		{ background-color: #DDDDDD; }
.dark		{ background-color: #CCCCCC; }
.darkest	{ background-color: #BBBBBB; }

.nobr		{ white-space: nowrap; }
.bold		{ font-weight: bold; }
.text-right	{ text-align: right; }
.text-left	{ text-align: left; }
.text-center	{ text-align: center; }
.valign-top	{ vertical-align: top; }
.valign-bottom	{ vertical-align: bottom; }

.BOOK		{ padding: 5pt; }
.SCREEN		{ font-size: 10pt; background: #F4F0EC; border: 1px solid #333333; padding: 3pt; font-family: Courier; }
.PROMPT		{ font-size: 10pt; font-family: Courier; }
.login		{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:1; background: url(grad.gif); background-repeat: repeat-x; }

#dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.30);
    padding: 8px;
    /*margin-top: 140px;*/
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    -webkit-border-radius: 9px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 9px; /* FF1-3.6 */
    border-radius: 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#dialog-bg {
    /*background-color: #FBFBFB;*/
    background-color: rgba(0,0,0,0.60);
    width: 80%;
    height: auto;
		 margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#dialog-title {
    width: 100%;
    height: 60px;
    padding-top: 16px;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #FFFFFF, #E9E9E9); /* IE10 */
    background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9); /* Opera 11.10+ */
    background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9'); /* IE6-IE9 */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #FFFFFF;
    color: #434343;
    /*text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}

#dialog-description {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #555555;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    /*border-top: 1px solid #B9B9B9;*/
    cursor: default;
}
