{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>

{block name="userinfobox"}
	{include file="user/userinfobox.html"}
{/block}

{if count($userinfo.trusteddevices)}
	{include file="twofactorauth/twofactorauthtrusteddevices.html" remove_trusted_device_module="useredit"}
{/if}

{block name="usercallbox"}
	{if ConfigHelper::checkPrivilege('readonly')
		|| ConfigHelper::checkPrivilege('customer_call_view')
		|| ConfigHelper::checkPrivilege('customer_call_management')}
		<tr>
			<td>
				{include file="customer/customercallbox.html" limit=ConfigHelper::getConfig('phpui.customer_call_limit', 20)}
			</td>
		</tr>
	{/if}
{/block}

{block name="transactions"}
	{if ConfigHelper::checkConfig('phpui.logging') && (ConfigHelper::checkConfig('privileges.superuser') || ConfigHelper::checkConfig('privileges.transaction_logs'))}
		<TR>
			<TD>
				{include file="transactions.html"}
			</TD>
		</TR>
	{/if}
{/block}

{/block}
