{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM name="useradd" method="post" action="?m=useradd">
<p style="display: none;">
<INPUT type="submit" class="hiddenbtn">
</p>
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 1%;" class="bold">
			<IMG src="img/pass.gif" alt=""> {trans("Login:")}
		</TD>
		<TD style="width: 99%;">
			<INPUT type="text" name="useradd[login]" value="{$useradd.login}" required {tip text="Enter user login" trigger="login" bold=1}>
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/users.gif" alt=""> {trans("First name:")}
		</TD>
		<TD>
			<INPUT type="text" name="useradd[firstname]" value="{$useradd.firstname}" size="40" required {tip text="Enter user first name" trigger="firstname"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/users.gif" alt=""> {trans("Last name:")}
		</TD>
		<TD>
			<INPUT type="text" name="useradd[lastname]" value="{$useradd.lastname}" size="40" required {tip text="Enter user last name" trigger="lastname"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold">
			<IMG src="img/info.gif" alt=""> {trans("Position:")}
		</TD>
		<TD>
			<INPUT type="text" name="useradd[position]" value="{$useradd.position}" size="40" {tip text="Enter user position (optional)" trigger="position"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold">
			<IMG src="img/mail.gif" alt=""> {trans("E-mail:")}
		</TD>
		<TD>
			<INPUT type="email" name="useradd[email]" value="{$useradd.email}" size="40" {tip text="Enter e-mail address (optional)" trigger="email"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/sms.gif" alt=""> {trans("Phone:")}
		</TD>
		<TD>
			<INPUT type="tel" name="useradd[phone]" value="{$useradd.phone}" size="40" {tip text="Enter phone number for SMS notification (optional)" trigger="phone"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/options.gif" alt=""> {trans("Notification:")}
		</TD>
		<TD>
			<INPUT type="checkbox" name="useradd[ntype][]" value="{$smarty.const.MSG_MAIL}" id="ntypemail"{if ($useradd.ntype & $smarty.const.MSG_MAIL)} checked{/if}><label for="ntypemail">{trans("email")}</label>
			<INPUT type="checkbox" name="useradd[ntype][]" value="{$smarty.const.MSG_SMS}" id="ntypesms"{if ($useradd.ntype & $smarty.const.MSG_SMS)} checked{/if}><label for="ntypesms">{trans("sms")}</label>
		</TD>
	</TR>
	<tr>
		<td class="bold nobr">
			<img src="img/access.gif" alt=""> {trans("Account active:")}
		</td>
		<td>
			<input type="radio" name="useradd[access]" value="1" id="accessyes" {if !isset($useradd.access) || $useradd.access=='1'} checked{/if}><label for="accessyes">{trans("yes")}</label>
			<input type="radio" name="useradd[access]" value="0" id="accessno" {if $useradd.access=='0'} checked{/if}><label for="accessno">{trans("no")}</label>
		</td>
	</tr>
	<tr>
		<td class="bold nobr">
			<img src="img/calendar.gif" alt=""> {trans("Account active:")}
		</td>
		<td class="nobr">
			{trans('from')}:<input type="text" name="useradd[accessfrom]" value="{if $useradd.accessfrom}{$useradd.accessfrom}{/if}" size="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter access start date in YYYY/MM/DD format. If you don't want to define 'From' date leave this field empty" trigger="accessfrom"}>&nbsp;
			{trans('to')}:<input type="text" name="useradd[accessto]" value="{if $useradd.accessto}{$useradd.accessto}{/if}" size="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter access end date in YYYY/MM/DD format. If you don't want to define 'To' date leave this field empty" trigger="accessto"}>
		</td>
	</tr>
	<TR>
		<TD class="bold">
			<IMG src="img/pass.gif" alt=""> {trans("Password:")}
		</TD>
		<TD>
			<INPUT type="password" name="useradd[password]" required {tip text="Enter password" trigger="password"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/pass.gif" alt=""> {trans("Repeat password:")}
		</TD>
		<TD>
			<INPUT type="password" name="useradd[confirm]" required {tip text="Confirm password" trigger="password"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/ip.gif" alt=""> {trans("Allowed hosts:")}
		</TD>
		<TD class="nobr">
			<INPUT type="text" size="40" name="useradd[hosts]" value="{$useradd.hosts}" {tip text="Enter comma-separated list of hosts or networks (optional)" trigger="hosts"}>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/passwd.gif" alt=""> {trans("Password expiration:")}
		</TD>
		<TD class="nobr">
			<SELECT name="useradd[passwdexpiration]" {tip text="Select password expiration period" trigger="passwdexpiration"}>
				{foreach from=$_PASSWDEXPIRATIONS item=item key=key}
				<OPTION value="{$key}"{if $key == $useradd.passwdexpiration} selected{/if}>{$item}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/pass.gif" alt=""> {trans("Access rights:")}
		</TD>
		<TD class="nobr">
			<table style="width: 100%;">
				<tr>
					<td style="width: 50%;" class="valign-top nobr">
						{foreach $accesslist as $name => $access}
						{if $access@index <= floor($access@total / 2) - 1}
						<INPUT type="checkbox" id="acl_{$access@index}" name="acl[{$name}]" value="1" {if $access.enabled} checked{/if}> <label for="acl_{$access@index}">{$access.name}</label><BR>
						{/if}
						{/foreach}
					</td>
					<td style="width: 50%;" class="valign-top nobr">
						{foreach $accesslist as $name => $access}
						{if $access@index > floor($access@total / 2) - 1}
						<INPUT type="checkbox" id="acl_{$access@index}" name="acl[{$name}]" value="1" {if $access.enabled} checked{/if}> <label for="acl_{$access@index}">{$access.name}</label><BR>
						{/if}
						{/foreach}
						{assign var="name" value=""}
					</td>
				</tr>
			</table>
		</TD>
	</TR>
	<TR>
		<TD class="bold nobr">
			<IMG src="img/group.gif" alt=""> {trans("Groups:")}
		</TD>
		<TD class="nobr">
			{include file="multiselect.html" selected=$useradd.selected available_tip="Enabled<!plural>:" selected_tip="Disabled<!plural>:"}
		</TD>
	</TR>
	<TR>
		<TD colspan="2" class="text-right">
			<A href="javascript:document.useradd.submit();" accesskey="s">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
			<A href="?m=userlist">{trans("Cancel")} <IMG src="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
$(function() {
	$('form[name="useradd"] [name="useradd[login]"]').focus();
});
//-->
</SCRIPT>
{/block}
