<!--// $Id$ //-->

{css}

<FORM id="managementurladd" name="managementurladd">
</FORM>

{tab_container id="managementurls"}

	{tab_header content_id="managementurlspanel"}
		{tab_header_cell icon="lms-ui-icon-web"}
			<strong>{trans("Management URL's:")}</strong>
		{/tab_header_cell}
	{/tab_header}

	{tab_contents id="managementurlspanel"}

		{tab_table id="managementurltable"}
			{tab_hourglass}{/tab_hourglass}
		{/tab_table}

{if ConfigHelper::checkPrivilege('privileges.network_management')}
		{tab_button_panel id="add_management_url"}
			{tab_buttons}
				<strong>{trans("URL:")}</strong>
				<input type="text" size="80" form="managementurladd" name="url" id="url" class="url"
						value="{if !$formdata.urlid}{$formdata.url}{/if}" {tip text="Enter management URL" trigger="url"}>
				<strong>{trans("Comment:")}</strong>
				<input type="text" size="40" form="managementurladd" name="comment" id="comment" class="comment"
						value="{if !$formdata.urlid}{$formdata.comment}{/if}" {tip text="Enter URL comment" trigger="comment"}>
				<a HREF="javascript:addManagementUrl();" class="lms-ui-button-save" {tip text="Add new management URL"}>
					<i></i>
				</a>
				<A HREF="javascript:hideAddManagementUrl();" class="lms-ui-button-cancel" {tip text="Cancel"}>
					<i></i>
				</A>
			{/tab_buttons}
		{/tab_button_panel}

		{tab_button_panel id="management_url_buttons"}
			{tab_buttons}
			{/tab_buttons}
			{tab_buttons}
				<button type="button" id="managementurladdlink" onclick="javascript:showAddManagementUrl();"
						class="lms-ui-button lms-ui-button-add"
						{tip text="Add new management URL"}>
					<i></i> {trans("Add")}
				</button>
			{/tab_buttons}
		{/tab_button_panel}
{/if}

		{tab_hourglass template=1}{/tab_hourglass}

	{/tab_contents}

{/tab_container}

{js}
