<div id="lms-ui-confirm-dialog" class="lms-ui-dialog" title="{trans("<!dialog>Confirmation")}" style="display: none;">
	<OL>
		<LI class="message">
		</LI>
	</OL>
</div>

<script>

	function confirmDialog(message, callback, context) {
		$('#lms-ui-confirm-dialog .message').html(message.replace("\n", '<br>'));

		var def = $.Deferred();

		var buttons = [
			{
				text: "{trans("OK")}",
				icon: "ui-icon-check",
				class: "lms-ui-button",
				click: function() {
					$( this ).dialog( "close" );
					def.resolveWith(context);
				}
			}
		];

		if (typeof(callback) !== 'undefined') {
			buttons.push({
				text: "{trans("Cancel")}",
				icon: "ui-icon-closethick",
				class: "lms-ui-button",
				click: function() {
					$( this ).dialog( "close" );
					def.rejectWith(context);
				}
			});
		}
		$('#lms-ui-confirm-dialog').dialog({
			autoOpen: true,
			modal: true,
			resizable: false,
			buttons: buttons
		});

		if (typeof(callback) !== 'undefined') {
			def.done(callback)
		}
		def.always(function() {
			$('#lms-ui-confirm-dialog').dialog('destroy');
		});

		return def;
	}

</script>
