{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM method="POST" action="?m=divisionadd" name="division">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="1%">
			<IMG src="img/division.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Name:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="division[shortname]" value="{$division.shortname|escape}" size="40" {tip text="Enter division short name" trigger="shortname" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="1%">
			<IMG src="img/division.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Long name:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA NAME="division[name]" COLS="45" ROWS="4" {tip text="Enter division long name" trigger="name"}>{$division.name}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/home.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Address:")}</B>
		</TD>
		<TD width="98%">
			<TABLE width="100%" cellpadding="2" cellspacing="0">
			    <TR>
				<TD width="1%" NOWRAP>{trans("Address:")}</TD>
				<TD width="99%"><INPUT type="text" size="30" value="{$division.address}" name="division[address]" {tip text="Enter address" trigger="address"}></TD>
			    </TR>
			    <TR>
				<TD width="1%" NOWRAP>{trans("City:")}</TD>
				<TD width="99%"><INPUT type="TEXT" size="30" value="{$division.city}" name="division[city]" {tip text="Enter city" trigger="city"}></TD>
			    </TR>
			    <TR>
				<TD width="1%" NOWRAP>{trans("Zip:")}</TD>
				<TD width="99%"><INPUT type="text" size="10" value="{$division.zip}" name="division[zip]" {tip text="Enter zip code" trigger="zip"}></TD>
			    </TR>
			    <TR>
				<TD width="1%" NOWRAP>{trans("Country:")}</TD>
				<TD width="99%">
					<SELECT NAME="division[countryid]" {tip text="Select country" trigger="countryid"}>
				                <OPTION value="0"></OPTION>
						{foreach from=$countries item=item key=key}
				                <OPTION value="{$key}"{if $key==$division.countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
						{/foreach}
					</SELECT>
				</TD>
			    </TR>
			</TABLE>    
		</TD>
	</TR>
	<TR>	
		<TD width="%1">
			<IMG src="img/serialnumber.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("TEN")}</B>
		</TD>
		<TD width="99%">
			<INPUT TYPE="text" size="40" value="{$division.ten}" name="division[ten]" {tip text="Enter Tax Exempt Number (optional)" trigger="ten"}>
			{if $division.tenwarning}
			<INPUT TYPE="HIDDEN" NAME="division[tenwarning]" VALUE="1">
			{/if}
		</TD>
	</TR>
	<TR>
		<TD width="%1">
			<IMG src="img/serialnumber.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("REGON")}</B>
		</TD>
		<TD width="99%">
			<INPUT TYPE="text" size="40" value="{$division.regon}" name="division[regon]" {tip text="Enter Business Registration Number (optional)" trigger="regon"}>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/card.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Bank account:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="division[account]" VALUE="{$division.account}" SIZE="45" {tip text="Enter bank account or mass payments account prefix (optional)" trigger="account"}>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/info.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Description:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA NAME="division[description]" COLS="45" ROWS="4" {tip text="Enter additional information (optional)"}>{$division.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/print.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Invoice header:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA NAME="division[inv_header]" COLS="45" ROWS="4" {tip text="Enter invoice header (optional)" trigger="inv_header"}>{$division.inv_header}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/print.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Invoice footer:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA NAME="division[inv_footer]" COLS="45" ROWS="4" {tip text="Enter invoice footer (optional)" trigger="inv_footer"}>{$division.inv_footer}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/print.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Invoice author:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="division[inv_author]" VALUE="{$division.inv_author}" SIZE="45" {tip text="Enter invoices author (optional)" trigger="inv_author"}>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/print.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Invoice creation place:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="division[inv_cplace]" VALUE="{$division.inv_cplace}" SIZE="45" {tip text="Enter invoices creation place (optional)" trigger="inv_cplace"}>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<IMG src="img/print.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{trans("Payment type:")}</B>
		</TD>
		<TD width="98%">
			<SELECT name="division[inv_paytype]" {tip text="Select default invoices payment type" trigger="paytype"}>
				<OPTION value=""{if !$division.inv_paytype} selected{/if}>- {trans("default")} -</OPTION>
				{foreach from=$_PAYTYPES item=item key=key}
				<OPTION value="{$key}"{if $division.inv_paytype==$key} selected{/if}>{$item}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
                <TD WIDTH="1%">
		        <IMG src="img/print.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
		        <B>{trans("Deadline:")}</B>
		</TD>
		<TD width="98%">
			<SELECT name="division[inv_paytime]" {tip text="Select default deadline in days" trigger="inv_paytime"}>
			        <OPTION value=""{if !strlen($division.inv_paytime)} selected{/if}>- {trans("default")} -</OPTION>
			        <OPTION value="0"{if $division.inv_paytime=="0"} selected{/if}>0</OPTION>
			        <OPTION value="7"{if $division.inv_paytime==7} selected{/if}>7</OPTION>
			        <OPTION value="10"{if $division.inv_paytime==10} selected{/if}>10</OPTION>
			        <OPTION value="14"{if $division.inv_paytime==14} selected{/if}>14</OPTION>
			        <OPTION value="21"{if $division.inv_paytime==21} selected{/if}>21</OPTION>
			        <OPTION value="30"{if $division.inv_paytime==30} selected{/if}>30</OPTION>
			</SELECT>
	        </TD>
	</TR>
	<TR>
		<TD align="right" colspan="3">
			<A href="javascript:document.division.submit();" accesskey="s">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
			<A href="?m=divisionlist">{trans("Cancel")} <IMG src="img/cancel.gif" alt=""></A><BR>
			<INPUT type="checkbox" name="division[reuse]" id="division_reuse" value="ON" {if $division.reuse}checked{/if}> <label for="division_reuse">{trans("Display this form again, when this division is saved")}</label>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<SCRIPT type="text/javascript">
<!--
document.forms['division'].elements['division[shortname]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}

