<div id="lms-ui-mobile-menu-container">
	<nav id="lms-ui-mobile-menu-panel">
		{button type="link" id="lms-ui-mobile-menu-toggle" icon="menu"}
		{button type="link" id="lms-ui-mobile-menu-search" icon="search"}
	</nav>
</div>

<script>

	$(function() {
		$('#lms-ui-mobile-menu-toggle').click(function() {
			if ($('#lms-ui-menu-panel').is(':visible')) {
				console.log('visible');
				$('#lms-ui-menu-panel').removeClass('fullscreen-popup');
				disableFullScreenPopup();
			} else {
				$('#lms-ui-menu-panel').addClass('fullscreen-popup');
				enableFullScreenPopup();
			}
			//$('#lms-ui-menu-panel').toggle();
		});
	});

</script>

<i id="lms-ui-menu-panel-toggle" class="fas fa-angle-left no-print"></i>
<nav id="lms-ui-menu-panel" class="no-print">
	<div id="lms-ui-menu-panel-container">
	<div id="lms-ui-logo">
		<img src="{ConfigHelper::getConfig('phpui.logo', 'img/logo-40.png')}" title="LMS {$layout.lmsv}">
		<span>{$layout.lmsv}</span>
	</div>
	<div id="lms-ui-main-menu">
		<script>

			var mainMenuVisible = getCookie('main-menu-visible');
			mainMenuVisible = mainMenuVisible === null || mainMenuVisible == 'true';
			if (mainMenuVisible) {
				$('body').addClass('main-menu-visible');
			} else {
				$('#lms-ui-menu-panel').hide();
				$('#lms-ui-menu-panel-toggle').switchClass('fa-angle-left', 'fa-angle-right');
			}

			$('#lms-ui-menu-panel-toggle').click(function () {
				var mainMenuVisible = $('#lms-ui-menu-panel').toggle().is(':visible');
				if (mainMenuVisible) {
					$('body').addClass('main-menu-visible').find('#lms-ui-menu-panel-toggle')
						.switchClass('fa-angle-right', 'fa-angle-left');
				} else {
					$('body').removeClass('main-menu-visible').find('#lms-ui-menu-panel-toggle')
						.switchClass('fa-angle-left', 'fa-angle-right');
				}
				setCookie('main-menu-visible', mainMenuVisible);
			});

			$('body').toggleClass('lms-ui-mobile', parseInt($(window).outerWidth()) <= 800);

			$(window).resize(function() {
				var mobileMode = parseInt($(window).outerWidth()) <= 800;
				$('body').toggleClass('lms-ui-mobile', mobileMode)
					.css('margin-top', mobileMode ? '' : $('#lms-ui-tool-panels').outerHeight());
				$('.lms-ui-popup:visible').toggleClass('fullscreen-popup', mobileMode);
			})

			$(function() {
				setTimeout(function() {
					$(window).resize();
				}, 0);
			});

		</script>
		<div id="main-menu" class="click-menu">
			{foreach $newmenu as $menuindex => $menuitem}
			<div id="menu-{$menuindex}" class="lms-ui-menu-item">
				<div class="click-menu bottomline">
					<div{if $menuitem.tip} {tip class="tip" text="\$a" a=$menuitem.tip bold=1}{else} class="tip"{/if}{if ! $menuitem.submenu} onClick="{if $menuitem.windowopen}window.open('{$menuitem.link}'); {else}return self.location.href = '{$menuitem.link}'; {/if}"{/if}>
						<div class="box1">
							{if isset($menuitem.img)}
								<img src="img/{$menuitem.img}">
							{else}
								<i class="lms-ui-menu-item-icon {$menuitem.css}"></i>
							{/if}
							{$menuitem.name}
						</div>
					</div>
					<div class="section">
						{if $menuitem.submenu}
							{foreach from=$menuitem.submenu item=submenuitem}
								<div{if $submenuitem.tip} {tip class="tip" text="\$a" a=$submenuitem.tip bold="1"}{else} class="tip"{/if}>
									<div class="box2">
										<a href="{$submenuitem.link|replace:"&":"&amp;"}">{$submenuitem.name}</a>
									</div>
								</div>
							{/foreach}
						{/if}
					</div>
				</div>
			</div>
			{/foreach}
			<div id="menu-logout" class="lms-ui-menu-item">
				<div class="click-menu bottomline">
					<div {tip class="tip" text="Allows you to logout" bold=1} onClick="{if ConfigHelper::getConfig('phpui.logout_confirmation')}confirmDialog('{trans("Are you sure that you want to logout?")}', this).done(function() { return location.href='?m=logout&is_sure=1'; });{else}location.href='?m=logout&is_sure=1';{/if}">
						<div class="box1">
							<i class="lms-ui-menu-item-icon lms-ui-icon-logout"></i>
							{trans("Logout")} {$layout.logname|truncate:10:"..."}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>

		var mainMenu = new ClickShowHideMenu({
			id: 'main-menu',
			maxOpened: {intval(ConfigHelper::getConfig('phpui.max_opened_menus', 3))}
		});
		mainMenu.init();

		$('#main-menu').sortable({
			items: ".lms-ui-menu-item",
			handle: "i,img",
			axis: "y",
			opacity: 0.9,
			update: function () {
				data = {};
				data['main-menu-order'] = $(this).sortable("toArray").join(';');
				savePersistentSettings(data);
			}
		});

		restoreSortable('main-menu', '{$main_menu_sortable_order}');

		</script>
	</div>
	<div id="lms-ui-session-expire" title="{trans("Session expires after:")}">
		{$timeout = ConfigHelper::getConfig('phpui.timeout')}
		{sprintf("%02d:%02d", floor($timeout / 60), $timeout % 60)}
	</div>
	<div id="lms-ui-copyrights">
		&copy; 2001-{$smarty.now|date_format:'%Y'}<br>
		DB: {$layout.lmsdbv}<br>
		<A href="?m=copyrights">LMS Developers</A>
	</div>
	</div>
</nav>
<script>

	var menuPanelContainer = $('#lms-ui-menu-panel-container');
	menuPanelContainer.css('margin-right', menuPanelContainer[0].clientWidth - menuPanelContainer[0].offsetWidth + 'px');

	$(function() {
		$('#lms-ui-menu-panel').on('mouseenter touchstart', function () {
			$('body').addClass('main-menu-mobile-wide');
		}).on('mouseleave', function () {
			$('body').removeClass('main-menu-mobile-wide');
		});
		$('#lms-ui-contents').on('mouseenter touchstart', function () {
			$('body').removeClass('main-menu-mobile-wide');
		});
	});

	var lms_session_expiration_warning_interval = {intval(ConfigHelper::getConfig('phpui.session_expiration_warning_interval', 0))}
	var lms_session_expiration_warning_dialog = false;

	function session_expiration_warning_reset() {
		lms_session_expiration_warning_dialog = false;
	}

	function session_expiration_warning_handler(time_to_expire) {
		if (lms_session_expiration_warning_interval
				&& lms_login_timeout_value - 10 >= lms_session_expiration_warning_interval
				&& time_to_expire < lms_session_expiration_warning_interval) {
			if (!lms_session_expiration_warning_dialog) {
				lms_session_expiration_warning_dialog = true;
				alertDialog($t('Your session is near to expiration! Click "OK" if you want to prevent logout.')).done(function () {
					$.ajax('?', {
						async: true,
						method: 'GET',
						success: function() {
							reset_login_timeout();
						}
					});
				});
			}
		}
	}

</script>
