{include file="header.html"}
<!--// $Id$ //-->
{$xajax}
<script type="text/javascript" src="img/tinymce3/tiny_mce.js"> </script>
<H1>{$layout.pagetitle}</H1>
<FORM name="message" id="message" method="post" action="?m=messageadd" enctype="multipart/form-data">
<INPUT type="submit" class="hiddenbtn">
<SCRIPT type="text/javascript">
<!--
	function checkaddr(email)
	{
		{literal}
		var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
		{/literal}
		if (filter.test(email))
			return 1
		else
			return 0;
	}

	function typesel(elem)
	{
		if(elem == 'typesms' || elem == 'typeanysms') {
			document.getElementById('mailbody').style.display = 'none';
			document.getElementById('mailfrom').style.display = 'none';
			document.getElementById('mailsender').style.display = 'none';
			document.getElementById('attachment').style.display = 'none';
			{if !$message.customerid}
			var users = document.getElementById('users');
			if (elem == 'typeanysms') {
				document.getElementById('phonenumber').style.display = '';
				if (users) users.style.display = '';
			} else {
				document.getElementById('phonenumber').style.display = 'none';
				if (users) users.style.display = 'none';
			}
			{/if}
			document.getElementById('smsbody').style.display = '';
			document.getElementById('charscount').style.display = '';
			xajax_getMessageTemplates({$smarty.const.TMPL_SMS});
		} else {
			document.getElementById('mailbody').style.display = '';
			document.getElementById('mailfrom').style.display = '';
			document.getElementById('mailsender').style.display = '';
			document.getElementById('attachment').style.display = '';
			if (document.getElementById('phonenumber') != undefined)
				document.getElementById('phonenumber').style.display = 'none';
			document.getElementById('smsbody').style.display = 'none';
			document.getElementById('charscount').style.display = 'none';
			xajax_getMessageTemplates({$smarty.const.TMPL_MAIL});
		}
		xjx.$('msgtmplid').disabled = true;
	}

	function messageTemplatesReceived(templates) {
		var elem = xjx.$('msgtmplid'), option;
		while (elem.length > 1)
			elem.remove(1);
		if (templates)
			for (i = 0; i < templates.length; i++) {
				option = document.createElement('option');
				option.text = templates[i].name;
				option.value = templates[i].id;
				elem.add(option, null);
			}
		elem.disabled = false;
	}

	function countChars(elem)
	{
		document.getElementById('charscounttext').innerHTML = elem.value.length;
	}

	function change_message_template(tmplid) {
		if (tmplid)
			xajax_getMessageTemplate(tmplid, xjx.$('typemail').checked ? 'mailmessage' : 'smstext');
	}

	function messageTemplateReceived(elem, message) {
		if (tinyMCE.get(elem) != undefined) {
			tinyMCE.get(elem).setContent(message);
			xjx.$(elem).value = message;
		} else
			xjx.$(elem).value = message;
	}
-->
</SCRIPT>
<TABLE class="lmsbox">
    <THEAD>
{if $message.customerid}
	<TR>
		<TD style="width: 1%;">
			<IMG SRC="img/customer.gif" ALT=""> 
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Recipient:")}</span>
		</TD>
		<TD>
			<span class="bold">{$message.customer} ({$message.customerid|string_format:"%04d"})</span>
			<INPUT type="hidden" name="message[customerid]" value="{$message.customerid}">
		</TD>
	</TR>
{else}
	<TR>
		<TD style="width: 1%;">
			<IMG SRC="img/group.gif" ALT=""> 
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Recipients:")}</span>
		</TD>
		<TD>
			<TABLE style="width: 100%;">
				<TR>
					<TD style="width: 1%; white-space: nowrap;" rowspan="2">{trans("Status:")}</TD>
					<TD style="width: 1%;" rowspan="2">
						<SELECT NAME="message[group]" {tip trigger="group" text="Select recipients group"}>
							<option value="0"{if !$message.group} SELECTED{/if}>{trans("- all customers -")}</option>
							<option value="3"{if $message.group == "3"} SELECTED{/if}>{trans("connected<!plural>")}</option>
							<option value="2"{if $message.group == "2"} SELECTED{/if}>{trans("awaiting")}</option>
							<option value="1"{if $message.group == "1"} SELECTED{/if}>{trans("interested<!plural>")}</option>
							<option value="4"{if $message.group == "4"} SELECTED{/if}>{trans("deleted<!plural>")}</option>
							<option value="5"{if $message.group == "5"} SELECTED{/if}>{trans("disconnected<!plural>")}</option>
							<option value="6"{if $message.group == "6"} SELECTED{/if}>{trans("in debt")}</option>
							<option value="7"{if $message.group == "7"} SELECTED{/if}>{trans("not in debt")}</option>
						</SELECT>
					</TD>
					<TD style="width: 1%; white-space: nowrap;">{trans("Group:")}</TD>
					<TD style="width: 1%;">
						<SELECT NAME="message[customergroup]" {tip trigger="customergroup" text="Select customers group"}>
							<option value="0">{trans("- all groups -")}</option>
							{section name="customergroups" loop=$customergroups}
							<option value="{$customergroups[customergroups].id}"{if $message.customergroup == $customergroups[customergroups].id} SELECTED{/if}>{$customergroups[customergroups].name|truncate:"30":"...":true}</option>
						{/section}
						</SELECT>
					</TD>
					<TD style="width: 1%; white-space: nowrap">{trans("Network:")}</TD>
					<TD style="width: 95%;">
						<SELECT NAME="message[network]" {tip trigger="network" text="Select IP network"}>
							<option value="0">{trans("- all networks -")}</option>
							{section name="networks" loop=$networks}
							<option value="{$networks[networks].id}"{if $message.network == $networks[networks].id} SELECTED{/if}>{$networks[networks].name|truncate:"30":"...":true}</option>
							{/section}
						</SELECT>
					</TD>
				</TR>
				<TR>
					<TD style="width: 1%; white-space: nowrap;">{trans("Nodes Group:<!short>")}</TD>
					<TD style="width: 1%;">
						<SELECT SIZE="1" NAME="message[nodegroup]" {tip trigger="nodegroup" text="Select nodes group"}>
							<OPTION value="" {if !$listdata.nodegroup} SELECTED {/if}>{trans("- all groups -")}</OPTION>
							{foreach from=$nodegroups item=nodegroup}
							<OPTION value="{$nodegroup.id}" {if $message.nodegroup eq $nodegroup.id} SELECTED {/if}>{$nodegroup.name|truncate:30:"...":true}</OPTION>
							{/foreach}
						</SELECT>
					</TD>
					<TD style="width: 1%; white-space: nowrap;">{trans("Link type:")}</TD>
					<TD style="width: 95%;">
						<SELECT SIZE="1" NAME="message[linktype]" {tip trigger="linktype" text="Select link type"}>
							<OPTION VALUE="">{trans("- all -")}</OPTION>
							<OPTION VALUE="0">{trans("wire")}</OPTION>
							<OPTION VALUE="1">{trans("wireless")}</OPTION>
							<OPTION VALUE="2">{trans("fiber")}</OPTION>
						</SELECT>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
{/if}
    </THEAD>
    <TBODY>
	<TR>
		<TD style="width: 1%;">
			<IMG SRC="img/mailsms.gif" ALT=""> 
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Type:")}</span>
		</TD>
		<TD>
			<INPUT type="radio" NAME="message[type]" id="typemail" value="{$smarty.const.MSG_MAIL}"{if $message.type < $smarty.const.MSG_SMS || $message.type > $smarty.const.MSG_ANYSMS} checked{/if} {tip trigger="type" text="Select message type"} onclick="typesel(this.id)"><label for="typemail"><span class="bold">{trans("email")}</span></label>
			<INPUT type="radio" NAME="message[type]" id="typesms" value="{$smarty.const.MSG_SMS}"{if $message.type == $smarty.const.MSG_SMS} checked{/if} {tip trigger="type" text="Select message type"} onclick="typesel(this.id)"><label for="typesms"><span class="bold">{trans("sms")}</span></label>
			{if !$message.customerid}
			<INPUT type="radio" NAME="message[type]" id="typeanysms" value="{$smarty.const.MSG_ANYSMS}"{if $message.type == $smarty.const.MSG_ANYSMS} checked{/if} {tip trigger="type" text="Select message type"} onclick="typesel(this.id)"><label for="typeanysms"><span class="bold">{trans("any sms")}</span></label>
			{/if}
		</TD>
	</TR>
	<TR ID="mailsender"{if $message.type > $smarty.const.MSG_MAIL} style="display: none;"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/email.gif" ALT=""> 
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Sender E-mail:")}</span>
		</TD>
		<TD>
			<INPUT type="text" NAME="message[sender]" SIZE="40" value="{if $message.sender}{$message.sender}{elseif $userinfo.email}{$userinfo.email}{/if}" {tip trigger="sender" text="Enter sender e-mail address"}>
		</TD>
	</TR>
	<TR ID="mailfrom"{if $message.type > $smarty.const.MSG_MAIL} style="display: none;"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/users.gif" ALT=""> 
		</TD>
		<TD style="width: 1%;">
			<span class="bold">{trans("Sender:")}</span>
		</TD>
		<TD>
			<INPUT type="text" NAME="message[from]" SIZE="40"  VALUE="{if $message.from}{$message.from}{elseif $userinfo.name}{$userinfo.name}{/if}" {tip trigger="from" text="Enter sender name"}>
		</TD>
	</TR>
{if !$message.customerid}
	{if $users}
	<TR ID="users"{if $message.type != $smarty.const.MSG_ANYSMS} style="display: none;"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/users.gif" ALT=""> 
		</TD>
		<TD style="width: 1%;">
			<span class="bold">{trans("Users:")}</span>
		</TD>
		<TD>
			<SELECT size="4" name="message[users][]" MULTIPLE id="messageusers" {tip text="Select users"}>
			{section name="users" loop=$users}
				<OPTION value="{$users[users].phone}">{$users[users].name|truncate:30:"...":true}</OPTION>
			{/section}
		</TD>
	</TR>
	{/if}
	<TR ID="phonenumber"{if $message.type != $smarty.const.MSG_ANYSMS} style="display: none;"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/sms.gif" ALT=""> 
		</TD>
		<TD style="width: 1%;">
			<span class="bold">{trans("Phone number:")}</span>
		</TD>
		<TD>
			<INPUT type="text" NAME="message[phonenumber]" SIZE="60" VALUE="{$message.phonenumber}" {tip trigger="phonenumber" text="Enter phone numbers separated by commas"}>
		</TD>
	</TR>
{/if}
	<TR>
		<TD style="width: 1%;">
			<IMG SRC="img/mail.gif" ALT=""> 
		</TD>
		<TD style="width: 1%;">
			<span class="bold">{trans("Subject:")}</span>
		</TD>
		<TD>
			<INPUT type="text" NAME="message[subject]" SIZE="60" VALUE="{$message.subject}" {tip trigger="subject" text="Enter message subject"}>
		</TD>
	</TR>
	<TR ID="mailbody"{if $message.type > $smarty.const.MSG_MAIL} style="display: none"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/edit.gif" ALT="">
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Message body:")}</span>
		</TD>
		<TD>
			<TABLE class="lmsbox-inner">
				<TBODY>
					<TR>
						<TD style="width: 1%; white-space: nowrap;">
							<input type="checkbox" id="mailmessage_label" onClick="javascript:toggle_visual_editor('mailmessage');"{if get_conf('phpui.default_editor') == 'wysiwyg'} checked{/if}>
							<label for="mailmessage_label">{trans("visual editor")}</label>
						</TD>
						<TD style="width: 1%; white-space: nowrap; text-align: right;">
							{trans("Message template:")}
							<SELECT name="message[tmplid]" id="msgtmplid" {tip trigger="msgtmplid" text="Select message template"} onChange="javascript:change_message_template(this.options[this.selectedIndex].value);">
								<OPTION value="0">{trans("- none -")}</OPTION>
								{foreach $messagetemplates as $msgtmpl}
								<OPTION value="{$msgtmpl.id}">{$msgtmpl.name}</OPTION>
								{/foreach}
							</SELECT>
						</TD>
						<TD style="width: 98%;">
						</TD>
					</TR>
					<TR>
						<TD colspan="2">
							<TEXTAREA NAME="message[mailbody]" id="mailmessage" COLS="80" ROWS="20" {tip text="Use carriage return for indentation only. LMS will reformat paragraphs and break long lines." trigger="body"}>{$message.body}</TEXTAREA>
						</TD>
						<TD>
						</TD>
					</TR>
				</TBODY>
			</TABLE>
		</TD>
	</TR>
	<TR ID="smsbody"{if $message.type < $smarty.const.MSG_SMS || $message.type > $smarty.const.MSG_ANYSMS} style="display: none"{/if}>
		<TD style="width: 1%;">
			<IMG SRC="img/edit.gif" ALT=""> 
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Message body:")}</span>
		</TD>
		<TD>
			<TEXTAREA NAME="message[smsbody]" ID="smstext" COLS="60" ROWS="5" onkeydown="countChars(this)" onkeyup="countChars(this)" onmouseout="countChars(this)" {tip text="Enter message body" trigger="body"}>{$message.body}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;">
			&nbsp;
		</TD>
		<TD class="bold" style="width: 1%; white-space: nowrap;">
			&nbsp;
		</TD>
		<TD>
			<input type="radio" name="message[tmploper]" id="msgtmplradionone" value="1" onClick="javascript:document.getElementById('msgtmplname').style.display='none';" checked><label for="msgtmplradionone">{trans("no operation on message template")}</label><br>
			<input type="radio" name="message[tmploper]" id="msgtmplradioupdate" value="2" onClick="javascript:document.getElementById('msgtmplname').style.display='none';"><label for="msgtmplradioupdate">{trans("message template update")}</label><br>
			<input type="radio" name="message[tmploper]" id="msgtmplradionew" value="3" onClick="javascript:document.getElementById('msgtmplname').style.display='';"><label for="msgtmplradionew">{trans("message template creation")}</label>
			<input type="text" size="40" name="message[tmplname]" id="msgtmplname" style="display: none;" {tip trigger="tmplname" text="Enter name of the new message template"}>
		</TD>
	</TR>
	<TR ID="charscount"{if $message.type < $smarty.const.MSG_SMS || $message.type > $smarty.const.MSG_ANYSMS} style="display: none"{/if}>
		<TD style="width: 1%;"></TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Characters:")}</span>
		</TD>
		<TD id="charscounttext">0</TD>
	</TR>
	<TR ID="attachment"{if $message.type > $smarty.const.MSG_MAIL} style="display: none"{/if}>
		<TD style="width: 1%;">
			<IMG src="img/attach.gif" alt="">
		</TD>
		<TD style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Attachment:")}</span>
		</TD>
		<TD>
			<INPUT name="file" type="file" size="60" {tip text="Enter path to file or click 'Browse' button" trigger="file"}>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN="3" style="text-align: right;">
			 <A HREF="javascript:document.message.submit();" accesskey="s">{trans("Send")} <IMG SRC="img/save.gif" ALT=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['message'].elements['message[sender]'].focus();
countChars(document.getElementById('smstext'));

var users = [];
{foreach $message.users as $phone}
	users.push('{$phone}');
{/foreach}
multiselect('message', 'messageusers', '{trans("- none -")}', users);

tinymce_init('{$_ui_language}');
{if get_conf('phpui.default_editor') == 'wysiwyg'}
toggle_visual_editor('mailmessage');
{/if}
//-->
</SCRIPT>
{include file="footer.html"}
