{include file="header.html"}
<!--// $Id$ //-->
<SCRIPT language="javaScript">
<!-- 
	function PrintList()
	{
		document.voipaccountsearch.action = "?m=voipaccountsearch&search=1&print=1";
		document.voipaccountsearch.target = "_BLANK";
		document.voipaccountsearch.submit();
	}

	function Search()
	{
		document.voipaccountsearch.action = "?m=voipaccountsearch&search=1";
		document.voipaccountsearch.target = "";
		document.voipaccountsearch.submit();
	}
//-->
</SCRIPT>
<H1>{$layout.pagetitle}</H1>
<P>
<FORM METHOD="POST" ACTION="?m=voipaccountsearch&search" NAME="voipaccountsearch">
<INPUT type="submit" class="hiddenbtn">
<INPUT TYPE="hidden" NAME="m" VALUE="voipaccountsearch">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD COLSPAN="2">
			<B>{trans("Find voip accounts matching the following search criteria:")}</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<IMG src="img/voip.gif" width="16" alt=""> <B>{trans("Login:")}</B>
		</TD>
		<TD WIDTH="99%">
			<INPUT TYPE="text" NAME="search[login]" {tip text="Enter login or it's fragment"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<IMG src="img/passwd.gif" width="16" alt=""> <B>{trans("Password:")}</B>
		</TD>
		<TD WIDTH="99%">
			<INPUT TYPE="text" NAME="search[password]" {tip text="Enter password or it's fragment"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<IMG src="img/phone.gif" width="16" alt=""> <B>{trans("Phone number:")}</B>
		</TD>
		<TD WIDTH="99%">
			<INPUT TYPE="text" NAME="search[phone]" {tip text="Enter phone number or it's fragment"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<IMG src="img/empty.gif" width="16" alt=""> <B>{trans("Qualification operator:")}</B>
		</TD>
		<TD WIDTH="99%">
			<INPUT class="radio light" type="radio" id="operator0" value="AND" name="k"{if $k!='OR'} CHECKED{/if}><label for="operator0">{trans("AND")}</label>
			<INPUT class="radio light" type="radio" id="operator1" value="OR" name="k"{if $k=='OR'} CHECKED{/if}><label for="operator1">{trans("OR")}</label>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" COLSPAN="2" ALIGN="right">
			<A href="javascript:Search()" accesskey="s">{trans("Search")} <IMG SRC="img/search.gif" alt=""></A>
			<A href="javascript:PrintList()">{trans("Print")} <IMG SRC="img/print.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
</P>
<SCRIPT language="javaScript">
<!--
document.forms['voipaccountsearch'].elements['search[login]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
