{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
    <THEAD>
	<TR {tip text="Click on column name to change sorting order"}>
		<TD width="96%" NOWRAP>
			<img src="img/voip.gif" ALT=""> <A href="?m=voipaccountlist&o=login{if $listdata.direction eq "asc" && $listdata.order eq "login"},desc{/if}"><B>{trans("Login:")}</B></A> {if $listdata.order eq "login"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<img src="img/customer.gif" ALT=""> <A href="?m=voipaccountlist&o=owner{if $listdata.direction eq "asc" && $listdata.order eq "owner"},desc{/if}">{trans("Customer:")}</A> {if $listdata.order eq "owner"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountlist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order eq "id"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountlist&o=phone{if $listdata.direction eq "asc" && $listdata.order eq "phone"},desc{/if}">{trans("Phone number:")}</A> {if $listdata.order eq "phone"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountlist&o=passwd{if $listdata.direction eq "asc" && $listdata.order eq "passwd"},desc{/if}">{trans("Password:")}</A> {if $listdata.order eq "passwd"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" align="right">
			<NOBR><B>{t a=$listdata.total}Total: $a{/t}</B></NOBR>
		</TD>
	</TR>
{*
	<TR>
		<TD colspan="5">
			<FORM METHOD="GET" ACTION="?m={$layout.module}" NAME="choosefilter">
				<INPUT type="submit" class="hiddenbtn">
				<INPUT TYPE="HIDDEN" NAME="m" VALUE="voipaccountlist">
				<INPUT TYPE="HIDDEN" NAME="page" VALUE="1">
				<B>{trans("Filter:")}</B> 
				<NOBR>{trans("Customers Group:")}
				<SELECT SIZE="1" NAME="g" ONCHANGE="document.choosefilter.submit();">
					<OPTION value="" {if !$listdata.customergroup} SELECTED {/if}>{trans("- all groups -")}</OPTION>
					{section name=customergroups loop=$customergroups}
					<OPTION value="{$customergroups[customergroups].id}" {if $listdata.customergroup eq $customergroups[customergroups].id} SELECTED {/if}>{$customergroups[customergroups].name|truncate:30:"...":true}</OPTION>
					{/section}
				</SELECT></NOBR>
			</FORM>
		</TD>
	</TR>		
*}
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$voipaccountlist}
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=voipaccountlist loop=$voipaccountlist start=$start max=$pagelimit}
	<TR class="highlight {cycle}"  >
		<TD width="96%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" nowrap>
			<img src="img/voip.gif" ALT="">
			<B>{$voipaccountlist[voipaccountlist].login}</B><BR>
			<img src="img/customer.gif" ALT="">&nbsp;<A href="?m=customerinfo&id={$voipaccountlist[voipaccountlist].ownerid}" {tip a=$voipaccountlist[voipaccountlist].ownerid dynpopup='?m=customerinfoshort&id=$a'}>{$voipaccountlist[voipaccountlist].owner|truncate:40:"...":true|replace:" ":"&nbsp;"} ({$voipaccountlist[voipaccountlist].ownerid|string_format:"%04d"})</A>
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			({$voipaccountlist[voipaccountlist].id|string_format:"%04d"})
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			<B>{$voipaccountlist[voipaccountlist].phone}</B>
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			{$voipaccountlist[voipaccountlist].passwd}
		</TD>
		<TD width="1%" align="right">
			<nobr>
			<a href="?m=voipaccountset&id={$voipaccountlist[voipaccountlist].id}"><img src="img/{if ! $voipaccountlist[voipaccountlist].access}no{/if}access.gif" alt="[ {if ! $voipaccountlist[voipaccountlist].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]" title="[ {if ! $voipaccountlist[voipaccountlist].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]"></A>
			<a onClick="return confirmLink(this, '{t a=$voipaccountlist[voipaccountlist].login}Are you sure, you want to remove voip account \'$a\' from database?{/t}')" href="?m=voipaccountdel&id={$voipaccountlist[voipaccountlist].id}"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
			<a href="?m=voipaccountedit&id={$voipaccountlist[voipaccountlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
			<a href="?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>
			</nobr>
		</TD>
	</TR>
	{if $voipaccountlist[voipaccountlist.index_next].ownerid eq $voipaccountlist[voipaccountlist].ownerid && $listdata.order eq "owner"}{cycle print=false}{/if}
	{sectionelse}
	<TR>
		<TD colspan="5" align="center">
			<p>&nbsp;</p>
			<p><B>{trans("No such voip accounts in database.")}</b></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
    </TBODY>
    <TFOOT>
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$voipaccountlist}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="2%" COLSPAN="2" ALIGN="right">
			<B>
				{trans("Total:")}<BR>
			</B>
		</TD>
		<TD WIDTH="98%" COLSPAN="3" VALIGN="TOP">
			<B>
				{if $listdata.total}{$listdata.total}{else}0{/if}<BR>
			</B>
		</TD>				
	</TR>
    </TFOOT>
</TABLE>
{include file="footer.html"}
