<!--// $Id$ //-->
{box title="Your subscriptions"}
{$show_speeds = ConfigHelper::checkConfig('userpanel.show_speeds')}
{$speed_unit_type = ConfigHelper::getConfig('userpanel.speed_unit_type')}
{$speed_unit_aggregation_threshold = ConfigHelper::getConfig('userpanel.speed_unit_aggregation_threshold')}
<table style="width: 100%;" cellpadding="3">
	<tr class="darkest">
		<td width="93%" class="nobr"><strong>{trans("Subscription:")}</strong></td>
		<td width="1%" class="nobr" align="right">{trans("Value:")}</td>
		<td width="1%" class="nobr" align="right">{trans("Discount:")}</td>
		<td width="1%" class="nobr">{trans("Accounting day:")}</td>
		{if $show_speeds}
			<td width="1%" class="nobr" align="right">{trans("Downrate (ceil):")}</td>
			<td width="1%" class="nobr" align="right">{trans("Uprate (ceil):")}</td>
		{/if}
		<td width="1%" class="nobr">{trans("Invoice:")}</td>
		<td width="1%" class="nobr">{trans("Period:")}</td>
	</tr>
	{$total_real_value = array()}
	{$total_real_disc_value = array()}
	{foreach from=$assignments item=assignment}
	{if ($assignment.tariffid || $assignment.liabilityid) && !($assignment.suspended || ($assignment.dateto < $smarty.now && $assignment.dateto) || ($assignment.datefrom > $smarty.now && $assignment.datefrom))}
	<tr class="dark">
		<td><strong>{if ConfigHelper::checkConfig('userpanel.show_tariffname')}{$assignment.name}{/if}</strong></td>
		<td class="nobr" align="right">
			{moneyf($assignment.real_disc_value, $assignment.currency)}
			{if !isset($total_real_value[$assignment.currency])}
				{$total_real_value[$assignment.currency] = 0}
			{/if}
			{$total_real_value[$assignment.currency] = $total_real_value[$assignment.currency] + $assignment.real_disc_value}
		</td>
		<td class="nobr" align="right">
			{if $assignment.pdiscount > 0}
				{$assignment.pdiscount}%
			{else}
				{if $assignment.vdiscount > 0}
					{moneyf($assignment.vdiscount, $assignment.currency)}
					{if !isset($total_real_disc_value[$assignment.currency])}
						{$total_real_disc_value[$assignment.currency] = 0}
					{/if}
					{$total_real_disc_value[$assignment.currency] = $total_real_disc_value[$assignment.currency] + $assignment.vdiscount}
				{else}
					-
				{/if}
			{/if}
		</td>
		<td class="nobr">{$assignment.payday}</td>
		{if $show_speeds}
			<td class="nobr" align="right">
				{if empty($assignment.downrate)}-{else}{convert_to_units($assignment.downrate * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{/if}
				({if empty($assignment.downceil)}-{else}{convert_to_units($assignment.downceil * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{/if})
			</td>
			<td class="nobr" align="right">
				{if empty($assignment.uprate)}-{else}{convert_to_units($assignment.uprate * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{/if}
				({if empty($assignment.upceil)}-{else}{convert_to_units($assignment.upceil * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{/if})
			</td>
		{/if}
		<td>{if $assignment.invoice}{trans("yes")}{else}&nbsp;{/if}</td>
		<td>
			{if $assignment.datefrom}<nobr>{trans("from")} {$assignment.datefrom|date_format:"%Y/%m/%d"}</nobr>{/if}
			{if $assignment.dateto}<nobr>{trans("to")} {$assignment.dateto|date_format:"%Y/%m/%d"}</nobr>{/if}
		</td>
	</tr>
	{/if}
	{foreachelse}
	<tr>
		<td class="text-wrap" width="100%" colspan="{if $show_speeds}8{else}6{/if}">
			<p>&nbsp;</p>
			<p><strong>{trans("You haven't got any assigned subscriptions.")}</strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="darkest">
		<td align="right"><strong>{trans("Total:")}</strong></td>
		<td class="nobr" align="right">
			{foreach $total_real_value as $currency => $total_value}
				{if !$total_value@first}<br>{/if}
				{moneyf($total_value, $currency)}
			{/foreach}
		</td>
		<td class="nobr" align="right">
			({foreach $total_real_disc_value as $currency => $total_disc_value}{if !$total_disc_value@first}<br>{/if}{moneyf($total_disc_value, $currency)}{foreachelse}-{/foreach})
		</td>
		<td>&nbsp;</td>
		{if $show_speeds}
			<td class="nobr" align="right">
				{sum array=$assignments column="real_downrate" default="-" assign="real_downrate"}
				{sum array=$assignments column="real_downceil" default="-" assign="real_downceil"}
				{if $real_downrate}{convert_to_units($real_downrate * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{else}-{/if}
				({if $real_downceil}{convert_to_units($real_downceil * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{else}-{/if})
			</td>
			<td class="nobr" align="right">
				{sum array=$assignments column="real_uprate" default="-" assign="real_uprate"}
				{sum array=$assignments column="real_upceil" default="-" assign="real_upceil"}
				{if $real_uprate}{convert_to_units($real_uprate * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{else}-{/if}
				({if $real_upceil}{convert_to_units($real_upceil * $speed_unit_type, $speed_unit_aggregation_threshold, $speed_unit_type)}/s{else}-{/if})
			</td>
		{/if}
		<td>&nbsp;</td>
		<td class="nobr" align="right">&nbsp;</td>
	</tr>
</table>
{/box}
