{box title="Twój bilans płatności:"}
{$disable_invoices = check_conf('userpanel.disable_invoices')}
<form name="invoices" action="?m=finances&amp;f=invoice" method="POST" target="_blank">
<table class="table table-bordered table-striped">
    <thead>    
    <tr>
        <th>{trans("Date")}</th>
        <th class="positive">Wpłata</th>
        <th class="negative">Zobowiązanie</th>
	<th>Saldo</th>
	<th>Tytuł przelewu / Opis faktury VAT</th>
	{if !$disable_invoices}
	<th></th>
	{/if}
    </tr>
    </thead>    
    {section name=balancelist loop=$balancelist.id step=-1}
    <tr>
        <td>{$balancelist.date[balancelist]}</td>
      
        {if $balancelist.value[balancelist] > 0}
        <td class="positive center">
            {if $balancelist.value[balancelist] > 0 && $balancelist.type[balancelist] != 4}
                
            {/if}
            {$balancelist.value[balancelist]|money_format}
        </td>
        <td></td>        
        {else}   
        <td></td>
        <td class="negative center">
            {if $balancelist.type[balancelist] == 4}
                -
            {/if}
            {$balancelist.value[balancelist]|money_format}          
        </td>
        {/if}        
        
        <td>{if $balancelist.after[balancelist] < 0}<strong>{/if}{$balancelist.after[balancelist]|money_format}{if $balancelist.after[balancelist] < 0}<strong>{/if}</td>
	<td >{$balancelist.comment[balancelist]}</td>
	{if !$disable_invoices}
	<td>
            {if $balancelist.doctype[balancelist]==1 || $balancelist.doctype[balancelist]==3}
                <a href="?m=finances&amp;f=invoice&amp;id={$balancelist.docid[balancelist]}" target="_blank">Wydrukuj</a> <input type="checkbox" name="inv[{$balancelist.docid[balancelist]}]" value="1" />
            {else}
                &nbsp;
            {/if}
	</td>
    {/if}
    </tr>
    {sectionelse}
    <tr>
        <td colspan="6">
            <p>&nbsp;</p>
            <p><b>{trans("No such transactions on your account.")}</b></p>
            <p>&nbsp;</p>
        </td>
    </tr>
    {/section}
    {if !$disable_invoices}
    <tr>
        <td colspan="5">&nbsp;</td>
        <td>
            {trans("Check all")}&nbsp;<input type="checkbox" name="allbox" id="allbox" onchange="CheckAll('invoices', this)" value="1" />
            <br/><br/>            
            <a href="javascript:document.invoices.submit()">{trans("Print selected")}</a>            
        </td>
    </tr>
    {/if}
</table>
</form>
{/box}