/*
 * LMS version 1.11-git
 *
 *  (C) Copyright 2001-2018 LMS Developers
 *
 *  Please, see the doc/AUTHORS for more information about authors!
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License Version 2 as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,
 *  USA.
 *
 *  $Id$
 */
#nodesessionpanel .ip {
  width: 10em;
}
#nodesessionpanel .mac {
  width: 10em;
}
#nodesessionpanel .type {
  width: 10em;
}
#nodesessionpanel .started {
  width: 10em;
}
#nodesessionpanel .finished {
  width: 10em;
}
#nodesessionpanel .duration {
  width: 10em;
}
#nodesessionpanel .cause {
  width: 10em;
}
#nodesessionpanel .downloaded {
  width: 10em;
}
#nodesessionpanel .uploaded {
  width: 10em;
}
#nodesessionpanel .buttons {
  width: 1em;
}
@media all and (max-width: 1500px) {
  #nodesessionpanel .col-2 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #nodesessionpanel .col-2 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1200px) {
  #nodesessionpanel .col-3 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #nodesessionpanel .col-3 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1000px) {
  #nodesessionpanel .col-4 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #nodesessionpanel .col-4 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 800px) {
  #nodesessionpanel .col-6 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #nodesessionpanel .col-6 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 600px) {
  #nodesessionpanel .col-9 {
    flex-direction: column !important;
    width: 10em !important;
  }
  #nodesessionpanel .col-9 div {
    flex-grow: 0 !important;
    width: 100% !important;
  }
}
