{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{$xajax}
<script type="text/javascript">
<!--
	function DocTemplateChanged() {
		reset_login_timeout();
		xajax_DocTemplateChanged($('[name="document[type]"]').val(),
			$('[name="document[templ]"]').val(),
			0);
	}

	function DocTypeChanged() {
		reset_login_timeout();
		xajax_DocTypeChanged($('[name="document[type]"]').val(),
			$('[name="document[numberplanid]"]').val(),
			0);
	}

	function printdoc() {
		document.documentgen.action = "?m=documentgen&print=1";
		document.documentgen.target = "_blank";
		document.documentgen.submit();
	}
//-->
</SCRIPT>
<FORM name="documentgen" method="POST" id="documentgen-form" action="?m=documentgen" enctype="multipart/form-data">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
	<COLGROUP>
		<COL style="width: 1%;">
		<COL style="width: 1%;">
		<COL style="width: 98%;">
	</COLGROUP>
    <THEAD>
	<TR>
		<TD>
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD class="bold nobr">
			{trans("Title:")}
		</TD>
		<TD class="nobr">
			<INPUT type="text" id="title" name="document[title]" value="{$document.title}" {tip text="Enter document title" trigger="title"} size="40" required>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD>
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD class="bold nobr">
			{trans("First number:")}
		</TD>
		<TD>
			<INPUT type="text" name="document[number]" value="{if $document.number}{$document.number}{/if}" size="15" {tip text="Enter document number (leave this field empty to obtain next number)" trigger="number"}>&nbsp;
			<DIV id="numberplans" style="display: {if !$document.numberplanid}none{else}inline{/if};">
			{include file="document/documentnumberplans.html" numberplanid=$document.numberplanid cdate=$document.cdate}
			</DIV>
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/calendar.gif" alt="">
		</TD>
		<TD class="bold">
			{trans("Period:")}
		</TD>
		<TD>
			{trans("from:")} <INPUT type="TEXT" name="document[fromdate]" value="{if $document.fromdate}{$document.fromdate}{/if}" placeholder="{trans("yyyy/mm/dd")}" {tip class="lms-ui-date" text="Enter start date in YYYY/MM/DD format (optional)" trigger="fromdate"} size="10">&nbsp;
			{trans("to:")} <INPUT type="TEXT" name="document[todate]" value="{if $document.todate}{$document.todate}{/if}" placeholder="{trans("yyyy/mm/dd")}" {tip class="lms-ui-date" text="Enter end date in YYYY/MM/DD format (optional)" trigger="todate"} size="10"><BR>
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/info.gif" alt="">
		</TD>
		<TD class="bold">
			{trans("Description:")}
		</TD>
		<TD>
			<TEXTAREA name="document[description]" rows="5" cols="50" {tip text="Enter additional information (optional)"}>{$document.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/info.gif" alt="">
		</TD>
		<TD class="bold">
			{trans("Type:")}
		</TD>
		<TD>
			<SELECT SIZE="1" NAME="document[type]" onchange="DocTypeChanged();"
					{tip class="lms-ui-advanced-select" text="Select document type" trigger="type"} required>
				<OPTION VALUE="0">... {trans("select type")} ...</OPTION>
				{foreach from=$_DOCTYPES key=key item=item}{if $key < 0 && in_array($key, $docrights)}
				<OPTION VALUE="{$key}"{if $document.type==$key} SELECTED{/if}>{$item}</OPTION>
				{/if}{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/class.gif" alt="">
		</TD>
		<TD class="bold">
			{trans("Template:")}
		</TD>
		<TD>
			<SELECT SIZE="1" NAME="document[templ]" {tip text="Select document template" trigger="templ"} id="templ" onchange="DocTemplateChanged();">
				<OPTION VALUE="0">... {trans("select template")} ...</OPTION>
				{foreach $docengines as $docengine}
				<OPTION VALUE="{$docengine.name}"{if $document.templ==$docengine.name} SELECTED{/if}>{$docengine.title}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR id="document-file-row"{if !$document.type} style="display: none;"{/if}>
		<TD>
			<IMG src="img/save.gif" alt="">
		</TD>
		<TD class="bold">
			{trans("Files:")}
		</TD>
		<TD>
			{fileupload id="attachments" fileupload=$fileupload form="documentgen-form"}
		</TD>
	</TR>
	<TR id="attachment-row"{if !$attachment_result} style="display: none;"{/if}>
		<TD>
			<img src="img/attach.gif">
		</TD>
		<TD class="bold nobr">
			{trans("Document attachments:")}
		</TD>
		<TD id="attachment-cell">
			{$attachment_result}
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/confirm.gif" ALT="">
		</TD>
		<TD class="bold nobr">
			<label for="closed">{trans("Confirmed:")}</label>
		</TD>
		<TD>
			<INPUT type="checkbox" name="document[closed]" id="closed" value="1" {if $document.closed} checked{/if}>
		</TD>
	</TR>
	<TR>
		<TD>
			<IMG src="img/customer.gif" ALT="">
		</TD>
		<TD class="bold nobr">
			{trans("Customers:")}
		</TD>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD width="1%" {tip text="Select customer's group"}>
						{foreach $_CSTATUSES as $statusidx => $status}
						<label class="nobr"><INPUT class="radio light" type="radio" name="filter" value="{$statusidx}"{if (!isset($filter) && $statusidx == $smarty.const.CSTATUS_CONNECTED) || (isset($filter) && $statusidx == $filter)} checked{/if}>{$status.plurallabel}</label><BR>
						{/foreach}
						<label class="nobr"><INPUT class="radio light" type="radio" name="filter" value="51"{if isset($filter) && $filter == 51} checked{/if}>{trans("with disconnected nodes")}</label><BR>
						<label class="nobr"><INPUT class="radio light" type="radio" name="filter" value="52"{if isset($filter) && $filter == 52} checked{/if}>{trans("in debt")}</label><BR>
						<label class="nobr"><INPUT class="radio light" type="radio" name="filter" value="-1"{if isset($filter) && $filter == -1} checked{/if}>{trans("without nodes")}</label><BR>
						<label class="nobr"><INPUT class="radio light" type="radio" name="filter" value="0"{if isset($filter) && $filter == 0} checked{/if}>{trans("all<!customers>")}</label>
					</TD>
					<TD width="5%">&nbsp;</TD>
					<TD width="1%" class="nobr">
						<IMG src="img/network.gif" alt=""> <B>{trans("Network:")}</B><BR><BR>
						<IMG src="img/group.gif" alt=""> <B>{trans("Group:")}</B>
					</TD>
					<TD width="97%">
						<SELECT size="1" name="network" {tip text="Select network" trigger="customer"}>
							<OPTION value="0">{trans("- all networks -")}</OPTION>
							{foreach $networks as $net}
							<OPTION value="{$net.id}"{if $network == $net.id} selected{/if}>{$net.name|truncate:40:"...":true}</OPTION>
							{/foreach}
						</SELECT>
						<BR><BR>
						<SELECT size="1" name="customergroup" {tip text="Select group" trigger="customer"}>
							<OPTION value="0" SELECTED>{trans("- all groups -")}</OPTION>
							{foreach $customergroups as $group}
							<OPTION value="{$group.id}"{if $customergroup == $group.id} selected{/if}>{$group.name|truncate:40:"...":true}</OPTION>
							{/foreach}
						</SELECT>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD colspan="3" class="buttons">
			<A href="javascript:document.documentgen.submit();">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>&nbsp;
		{*	<A href="?m=">{trans("Cancel")} <IMG src="img/cancel.gif" alt=""></A> *}
			<A href="javascript:printdoc();">{trans("Print")} <IMG src="img/print.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<BR>
<DIV id="plugin" name="plugin">{$plugin_result}</DIV>
{$script_result}
</FORM>

<script>

	$(function() {
		$('form[name="documentgen"] [name="document[title]"]').focus();

		$('[name="document[type]"]').change(function() {
			$('#document-file-row').toggle(parseInt($(this).val()) != 0);
		});
	});

</script>
{/block}
