{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM method="POST" action="?m=documenttypeedit&id={$documenttype.id}" name="typeedit">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
	<COLGROUP>
		<COL style="width: 1%;">
		<COL style="width: 1%;">
		<COL style="width: 98%;">
	</COLGROUP>
    <THEAD>
	<TR>
		<TD colspan="3" class="bold">
			<IMG src="img/docum.gif" alt="">
			{trans("Name:")} {$documenttype.name}
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD>
			<IMG src="img/users.gif" alt="">
		</TD>
		<TD class="bold nobr">
			{trans("Permissions:")}
		</TD>
		<TD>
			<TABLE class="lmsbox lms-ui-background-cycle">
				<COLGROUP>
					<COL style="width: {math x=100 y=count($_DOCRIGHTS) equation=x-y}%;">
					{foreach $_DOCRIGHTS as $right}
					<COL style="width: 1%;">
					{/foreach}
				</COLGROUP>
				<THEAD>
				<TR>
					<TD class="bold">{trans("User")}</TD>
					{foreach $_DOCRIGHTS as $right}
					<TD class="bold text-center nobr">{$right}</TD>
					{/foreach}
				</TR>
				</THEAD>
				<TBODY>
				{foreach $documenttype.rights as $userid => $userrights}
				<TR class="highlight lms-ui-row-all-check">
					<TD>
						<A href="?m=userinfo&id={$userid}">{$userrights.name}</A>
					</TD>
					{foreach $_DOCRIGHTS as $right => $label}
					<TD class="text-center nobr">
						<INPUT type="checkbox" name="rights[{$userid}][{$right}]" value="{$right}"{if ($userrights.rights & $right)} checked{/if}>
					</TD>
					{/foreach}
				</TR>
				{/foreach}
				<TR class="highlight {cycle}">
					<TD class="nobr text-right">
						{trans("Check All")}
					</TD>
					{foreach $_DOCRIGHTS as $right => $label}
					<TD class="text-center">
						<INPUT TYPE="checkbox" NAME="allbox[{$right}]" data-value="{$right}">
					</TD>
					{/foreach}
				</TR>
				</TBODY>
		</TABLE>
		</TD>
	</TR>
	<TR>
		<TD colspan="3" class="buttons">
			<A href="javascript:document.typeedit.submit();" accesskey="s">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
			<A href="?m=documenttypes">{trans("Cancel")} <IMG src="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<script>

	$(function() {
		$('input:checkbox[name^="allbox"]').click(function () {
			$('input:checkbox[name^="rights"][value="' + $(this).attr('data-value') + '"]').prop('checked', this.checked);
		});
	});

</script>
{/block}
