{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function printinvoice()
	{
		var add = "";
		if (document.save.original.checked)
			add += "&original=1";
		if (document.save.copy.checked)
			add += "&copy=1";
		document.save.action = "?m=invoicenote&action=save&print=1" + add;
		document.save.submit();
	}

	function deadline_calendar(elem)
	{
		var ts = get_cdate(), deadline = parseInt(elem.value);

		// add paytime days to settlement date
		ts.setDate(ts.getDate() + (deadline || 0));
		// display calendar
		cal3.popup(cal3.gen_date(ts));
	}

	function get_cdate()
	{
		var ts = document.setheader.elements['cnote[cdate]'].value;

		if (!ts.match(/^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/))
			ts = '{$smarty.now|date_format:"%Y/%m/%d"}';

		return cal3.prs_date(ts);
	}
//-->
</script>
<FORM NAME="setheader" METHOD="POST" ACTION="?m=invoicenoteedit&action=setheader">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="100%" COLSPAN="2">
			<B>{trans("Main Information:")}</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Settlement date:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="cnote[cdate]" VALUE="{$cnote.cdate|date_format:"%Y/%m/%d"}" SIZE="10" {tip class="calendar" text="Enter date of settlement in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="cdate"}>
			{if $cnote.cdatewarning}
			<INPUT TYPE="HIDDEN" NAME="cnote[cdatewarning]" VALUE="1">
			{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Sale date:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="cnote[sdate]" VALUE="{$cnote.sdate|date_format:"%Y/%m/%d"}" SIZE="10" {tip class="calendar" text="Enter date of sale in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="sdate"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Deadline:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="cnote[paytime]" VALUE="{$cnote.paytime}" SIZE="5" ID="paytime" onclick="deadline_calendar(this)" {tip text="Enter deadline in days (optional)"}>
		</TD>
	</TR>
        <TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Payment type (cash/transfer/etc):")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<SELECT name="cnote[paytype]" {tip text="Select payment type" trigger="paytype"}>
				{foreach from=$_PAYTYPES item=item key=key}
				<OPTION value="{$key}"{if $cnote.paytype==$key} selected{/if}>{$item}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	{if $cnote.divisionid != $cnote.current_divisionid}
        <TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Use current division data:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<INPUT TYPE="checkbox" NAME="cnote[use_current_division]" VALUE="1"{if $cnote.use_current_division} CHECKED{/if} {tip text="Seller data change"}>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Reason:")}</B>
		</TD>
		<TD WIDTH="99%" NOWRAP>
			<TEXTAREA NAME="cnote[reason]" ROWS="4" COLS="50" {tip text="Enter reason (optional)"}>{$cnote.reason}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" ALIGN="right" COLSPAN="2">
			<A HREF="javascript:document.setheader.submit();">{trans("Submit")} <IMG SRC="img/save.gif" ALT=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<BR>
<FORM NAME="save" METHOD="POST" ACTION="?m=invoicenoteedit&action=save">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<B>{trans("No.")}</B>
		</TD>
		<TD WIDTH="92%">
			{trans("Name of product, commodity or service:")}
		</TD>
		<TD WIDTH="1%" nowrap>
			{trans("Product ID:")}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{trans("Amount:")}<BR>
			{trans("Unit:")}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{trans("Discount:")}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{trans("Net Price:")}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{trans("Tax:")}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{trans("Gross Price:")}
		</TD>
		<TD WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{foreach $contents as $itemid => $item}
	<TR class="highlight {cycle}{if $item.deleted} blend{/if}"  >
		<TD WIDTH="1%">
			<B>{$itemid}.</B>
		</TD>
		<TD WIDTH="92%">
		    {if $cnote.closed}
		    {$item.name}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.name|escape}" NAME="name[{$itemid}]">{$item.name}
			{else}
			<INPUT TYPE="text" VALUE="{$item.name|escape}" NAME="name[{$itemid}]" SIZE="48" style="width: 100%">
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP>
		    {if $cnote.closed}
		    {$item.prodid}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.prodid}" NAME="prodid[{$itemid}]">{$item.prodid}
			{else}
			<INPUT TYPE="text" VALUE="{$item.prodid}" NAME="prodid[{$itemid}]" SIZE="6">
			{/if}
		</TD>
		<TD WIDTH="1%">
		    {if $cnote.closed}
		    {$item.count|string_format:"%.2f"}<BR>{$item.content}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.count}" NAME="count[{$itemid}]">{$item.count|string_format:"%.2f"}
			<INPUT TYPE="hidden" VALUE="{$item.content}" NAME="content[{$itemid}]">{$item.content}
			{else}
			<INPUT TYPE="text" VALUE="{$item.count}" NAME="count[{$itemid}]" SIZE="3">
			<INPUT TYPE="text" VALUE="{$item.content}" NAME="content[{$itemid}]" SIZE="3">
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
		    {if $cnote.closed}
		    {if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f%%"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}" NAME="discount[{$itemid}]">
			<INPUT TYPE="hidden" VALUE="{if $item.pdiscount != 0}{$smarty.const.DISCOUNT_PERCENTAGE}{else}{if $item.vdiscount != 0}{$smarty.const.DISCOUNT_AMOUNT}{/if}{/if}" NAME="discount_type[{$itemid}]">
				{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f%%"}{else}{if $item.vdiscount != 0}{$item.vdiscount|money_format}{/if}{/if}
			{else}
			<INPUT TYPE="text" VALUE="{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}" NAME="discount[{$itemid}]" SIZE="6" {tip text="Enter discount percentage or value"}><BR>
			<SELECT name="discount_type[{$itemid}]">
				{foreach from=$_DISCOUNTTYPES item=item2 key=key}
					<OPTION value="{$key}"{if ($item.pdiscount != 0 && $key == $smarty.const.DISCOUNT_PERCENTAGE) || ($item.vdiscount != 0 && $key == $smarty.const.DISCOUNT_AMOUNT)} selected{/if}>{$item2}</OPTION>
				{/foreach}
			</SELECT>
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
		    {if $cnote.closed}
		    {$item.valuenetto|money_format}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.valuenetto}" NAME="valuenetto[{$itemid}]">{$item.valuenetto|money_format}
			{else}
			<INPUT TYPE="text" VALUE="{$item.valuenetto|string_format:"%.2f"}" NAME="valuenetto[{$itemid}]" SIZE="6">
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
		    {if $cnote.closed}
		    {$item.tax}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.taxid}" NAME="taxid[{$itemid}]">{$item.tax}
			{else}
			<SELECT size="1" name="taxid[{$itemid}]" {tip text="Select Tax rate"}>
			{foreach item=tax from=$taxeslist}
				<OPTION value="{$tax.id}"{if $tax.id == $item.taxid} selected{/if}>{$tax.label}</OPTION>
			{/foreach}
			</SELECT>
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
		    {if $cnote.closed}
		    {$item.valuebrutto|money_format}
			{elseif $item.deleted}
			<INPUT TYPE="hidden" VALUE="{$item.valuebrutto}" NAME="valuebrutto[{$itemid}]">{$item.valuebrutto|money_format}
			{else}
			<INPUT TYPE="text" VALUE="{$item.valuebrutto|string_format:"%.2f"}" NAME="valuebrutto[{$itemid}]" SIZE="6"><BR>
			{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP>
		    {if $cnote.closed}
			{elseif $item.deleted}
			<A HREF="?m=invoicenoteedit&action=recoverpos&itemid={$itemid}"><IMG SRC="img/recover.gif" {tip text="Recover this item"}></A>
			{else}
			<A HREF="?m=invoicenoteedit&action=deletepos&itemid={$itemid}"><IMG SRC="img/delete.gif" {tip text="Remove this item"}></A>
			{/if}
		</TD>
	</TR>
	{/foreach}
	{if $contents}
	<TR>
		<TD COLSPAN="5" WIDTH="96%" ALIGN="RIGHT">
			<B>{trans("Total:")}</B>
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>{sum array=$contents column=s_valuenetto string_format="%01.2f"}</B>
		</TD>
		<TD WIDTH="1%">
			&nbsp;
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>{sum array=$contents column=s_valuebrutto string_format="%01.2f"}</B>
		</TD>
		<TD WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
	{/if}
	<TR>
		<TD COLSPAN="9" ALIGN="RIGHT">
		    {$default_printpage = ConfigHelper::getConfig('invoices.default_printpage')}
			<INPUT type="checkbox" name="original" id="original"{if preg_match('/original/i', $default_printpage)} checked{/if}><label for="original">{trans("original")}</label>
            <INPUT type="checkbox" name="copy" id="copy"{if preg_match('/copy/i', $default_printpage)} checked{/if}><label for="copy">{trans("copy")}</label>&nbsp;
			<A HREF="?m=invoicelist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
			{if $error}
			<A HREF="javascript:alert('{trans("There are errors in credit note main information!")}');">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
			<A HREF="javascript:alert('{trans("There are errors in credit note main information!")}');">{trans("Save & Print")} <IMG src="img/print.gif" alt=""></A>
			{else}
			<A HREF="javascript:document.save.submit()">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
			<A HREF="javascript:printinvoice()">{trans("Save & Print")} <IMG src="img/print.gif" alt=""></A>
			{/if}
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
deadline_callback = function(val)
{
	var ts = get_cdate(), deadline = cal3.prs_date(val);
	deadline = parseInt((deadline - ts) / 86400000);
	document.getElementById('paytime').value = deadline <= 0 ? '' : deadline;
}
var cal3 = new calendar(deadline_callback);
cal3.time_comp = false;
document.forms['setheader'].elements['cnote[number]'].focus();
//-->
</SCRIPT>
{/block}
