{include file="clearheader.html" landscape=true}
<!--// $Id$ //-->
{$report_type = ConfigHelper::getConfig('phpui.report_type')}
{foreach $pages as $item}{assign var=previtem value=$item-1}
{if $report_type == 'pdf'}
{if $item > 1}<page>{/if}
{else}
<DIV{if $item > 1} style="page-break-before: always; border-style: none;"{/if}>
{/if}
<TABLE WIDTH="100%" CELLPADDING="3" ALIGN="CENTER">
	<TR>
		<TD WIDTH="800" ALIGN="LEFT">
			<font class="hdf"><B>{$layout.pagetitle}</B></font><font class="sdr">{if $pagescount} ({t a=$item b=$pagescount}Page $a from $b{/t}){/if}</font>
		</TD>
		<TD WIDTH="200" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Created by: $a{/t}
		</TD>
	</TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD WIDTH="25" CLASS="HEAD" ALIGN="CENTER">
			{trans("No.")}
		</TD>
		<TD WIDTH="100" CLASS="HEAD" ALIGN="CENTER">
			{if $doctype == 'invoices'}{trans("Invoice No.")}{else}{trans("Debit Note No.")}{/if}<BR>
			{trans("Draw-up date")}
		</TD>
		<TD WIDTH="100" CLASS="HEAD" ALIGN="CENTER">
			{trans("Sale date")}<BR>
			{trans("Deadline")}
		</TD>
		<TD WIDTH="520" CLASS="HEAD" ALIGN="CENTER">
			{trans("Contractor")}
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{trans("Net value")} {$tax.label}
		</TD>
		{if $tax.value}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{trans("Tax value")} {$tax.label}
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{if $doctype == 'invoices'}{trans("Gross value")}{else}{trans("Value")}{/if}
		</TD>
		{if $doctype == 'invoices'}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{trans("Total Tax")}
		</TD>
		{/if}
	</TR>
	{if !isset($printonlysummary)}
	{cycle values="grey,white" print=false}
	{math assign=start equation="(x-1)*y" x=$item y=$rows}
	{section name=invoicelist loop=$invoicelist start=$start max=$rows}
	<TR class="{cycle}">
		<TD ALIGN="CENTER">
			{counter}.
		</TD>
		<TD ALIGN="RIGHT">
			<B>{$invoicelist[invoicelist].number}</B><BR>
			{$invoicelist[invoicelist].cdate|date_format:"%d.%m.%Y"}
		</TD>
		<TD ALIGN="RIGHT">
			{if $invoicelist[invoicelist].sdate}{$invoicelist[invoicelist].sdate|date_format:"%d.%m.%Y"}{else}{$invoicelist[invoicelist].cdate|date_format:"%d.%m.%Y"}{/if}<BR>
			{$invoicelist[invoicelist].pdate|date_format:"%d.%m.%Y"}
		</TD>
		<TD>
			<B>{$invoicelist[invoicelist].custname}</B> {if !isset($printcustomerid)}({$invoicelist[invoicelist].customerid|string_format:"%04d"}){/if}{if $invoicelist[invoicelist].ten}, {$invoicelist[invoicelist].ten}{/if}<BR>
			{$invoicelist[invoicelist].custaddress}
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		{assign var=taxid value=$tax.id}
		<TD ALIGN="RIGHT">
			{$invoicelist[invoicelist].$taxid.val|string_format:"%01.2f"}
		</TD>
		{if $tax.value}
		<TD ALIGN="RIGHT">
			{$invoicelist[invoicelist].$taxid.tax|string_format:"%01.2f"}
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD ALIGN="RIGHT">
			{$invoicelist[invoicelist].brutto|string_format:"%01.2f"}
		</TD>
		{if $doctype == 'invoices'}
		<TD ALIGN="RIGHT">
			{$invoicelist[invoicelist].tax|string_format:"%01.2f"}
		</TD>
		{/if}
	</TR>
	{/section}
	{/if}
	<TR>
		<TD COLSPAN="4" ALIGN="RIGHT" class="HEADGREY">
			<B>{trans("Page total:")}</B>
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		{assign var=taxid value=$tax.id}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.val.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{if $tax.value}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.tax.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.total|string_format:"%01.2f"}</B>
		</TD>
		{if $doctype == 'invoices'}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.sumtax|string_format:"%01.2f"}</B>
		</TD>
		{/if}
	</TR>
	<TR>
		<TD COLSPAN="4" ALIGN="RIGHT" class="HEADGREY">
			<B>{trans("Transfered from previous page:")}</B>
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		{assign var=taxid value=$tax.id}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$previtem.allval.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{if $tax.value}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$previtem.alltax.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$previtem.alltotal|string_format:"%01.2f"}</B>
		</TD>
		{if $doctype == 'invoices'}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$previtem.allsumtax|string_format:"%01.2f"}</B>
		</TD>
		{/if}
	</TR>
	<TR>
		<TD COLSPAN="4" ALIGN="RIGHT" class="HEADGREY">
			<B>{trans("Total from start of period:")}</B>
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		{assign var=taxid value=$tax.id}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.allval.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{if $tax.value}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.alltax.$taxid|string_format:"%01.2f"}</B>
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.alltotal|string_format:"%01.2f"}</B>
		</TD>
		{if $doctype == 'invoices'}
		<TD ALIGN="RIGHT" class="HEADGREY">
			<B>{$totals.$item.allsumtax|string_format:"%01.2f"}</B>
		</TD>
		{/if}
	</TR>
</TABLE>
{if $report_type == 'pdf'}
{if $item > 1}</page>{/if}
{else}
</DIV>
{/if}
{foreachelse}
<TABLE WIDTH="100%" CELLPADDING="3" ALIGN="CENTER">
	<TR style="border-style: none;">
		<TD WIDTH="800" ALIGN="LEFT">
			<B><font class="sdr">{$layout.pagetitle}</font></B>
		</TD>
		<TD WIDTH="200" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Created by: $a{/t}
		</TD>
	</TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD WIDTH="25" CLASS="HEAD" ALIGN="CENTER">
			{trans("No.")}
		</TD>
		<TD WIDTH="125" CLASS="HEAD" ALIGN="CENTER">
			{if $doctype == 'invoices'}{trans("Invoice No.")}{else}{trans("Debit Note No.")}{/if}<BR>
			{trans("Draw-up date")}
		</TD>
		<TD WIDTH="125" CLASS="HEAD" ALIGN="CENTER">
			{trans("Sale date")}<BR>
			{trans("Deadline")}
		</TD>
		<TD WIDTH="520" CLASS="HEAD" ALIGN="CENTER">
			{trans("Contractor")}
		</TD>
		{if $doctype == 'invoices'}
		{foreach $taxes as $tax}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{trans("Net value")} {$tax.label}
		</TD>
		{if $tax.value}
		<TD WIDTH="50" CLASS="HEAD" ALIGN="CENTER">
			{trans("Tax value")} {$tax.label}
		</TD>
		{/if}
		{/foreach}
		{/if}
		<TD WIDTH="100" CLASS="HEAD" ALIGN="CENTER">
			{if $doctype == 'invoices'}{trans("Gross value")}{else}{trans("Value")}{/if}
		</TD>
		{if $doctype == 'invoices'}
		<TD WIDTH="100" CLASS="HEAD" ALIGN="CENTER">
			{trans("Total Tax")}
		</TD>
		{/if}
	</TR>
	<TR>
		<TD COLSPAN="{math equation="6+x" x=$taxescount}" class="empty-table">
			<p>{trans("No such invoices in selected time period.")}</p>
		</TD>
	</TR>
</TABLE>
{/foreach}
{include file="clearfooter.html"}
