<style>
    .invoice-contents-sortable-handler {
        cursor: grab;
    }
</style>

{if $customer}
<TABLE class="lmsbox">
    <TR>
        <TD style="width: 1%;" class="bold nobr">
            <IMG src="img/customer.gif" alt=""> {trans("Customer:")}
        </TD>
        <TD style="width: 99%;">
            <span class="bold">{$customer.customername}</span>
            &nbsp;&raquo;&nbsp; {if $customer.postoffice && $customer.postoffice != $customer.city && $customer.street}{$customer.city}, {/if}
            {$customer.address}, {$customer.zip} {if $customer.postoffice}{$customer.postoffice}{else}{$customer.city}{/if}
            &nbsp;&raquo;&nbsp; {if $customer.balance < 0}<span class="red">{/if}{$customer.balance|money_format}{if $customer.balance < 0}</span>{/if}
        </TD>
    </TR>
</TABLE>
{/if}

<FORM METHOD="POST" ACTION="?m={$layout.module}" NAME="contents" id="contents">
    <INPUT type="submit" class="hiddenbtn">
    <INPUT TYPE="HIDDEN" NAME="tariffid" VALUE="0">
    <TABLE class="lmsbox lms-ui-background-cycle invoice-contents">
        <COLGROUP>
            <COL style="width: 1%;">
            <COL style="width: 91%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
            <COL style="width: 1%;">
        </COLGROUP>
        <THEAD>
        <TR>
            <TD class="bold">
                {trans("No.")}
            </TD>
            <TD>
                {trans("Name of product, commodity or service:")}
            </TD>
            <TD>
                {trans("Tax category:")}
            </TD>
            <TD class="nobr">
                {trans("Product ID:")}
            </TD>
            <TD class="text-right">
                {trans("Amount:")}<BR>
                {trans("Unit:")}
            </TD>
            <TD class="text-right nobr">
                {trans("Discount:")}
            </TD>
            <TD class="text-right nobr">
                {trans("Net Price:")}<BR>
                {trans("Net Value:")}
            </TD>
            <TD class="text-right">
                {trans("Tax:")}
            </TD>
            <TD class="text-right nobr">
                {trans("Gross Price:")}<BR>
                {trans("Gross Value:")}
            </TD>
            <TD>
                &nbsp;
            </TD>
        </TR>
        </THEAD>
        <TBODY>
        {foreach $contents as $posuid => $item}
        <TR id="invoice-contents-position-{$posuid}" class="highlight invoice-contents-position" data-posuid="{$posuid}">
			{if $item.vdiscount != 0}
				{$valuebrutto = $item.valuebrutto + $item.vdiscount}
			{elseif $item.pdiscount != 0}
				{$valuebrutto = (100 * $item.valuebrutto ) / (100 - $item.pdiscount)}
			{else}
				{$valuebrutto = $item.valuebrutto}
			{/if}
			{$valuebrutto = round($valuebrutto, 2)}
			{$valuenetto = round(($valuebrutto * 100) / (100 + $taxeslist[$item.taxid].value), 2)}
            {if isset($error.posuid)}
                {$row = $itemdata}
            {else}
                {$row = $item}
            {/if}

            <TD class="bold invoice-contents-position-counter invoice-contents-sortable-handler">
                {counter}.
            </TD>
            <TD class="invoice-contents-sortable-handler">
                <INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][name]" SIZE="40" style="width: 300px; display: none;"
                       value="{htmlspecialchars($row.name)}" data-old-value="{htmlspecialchars($item.name)}"
                       {tip text="Enter description"}>
                <span class="invoice-contents-field-value">{$item.name}</span>
            </TD>
            <TD class="nobr">
                {tax_category_selection class="invoice-contents-field-edit" elementname="invoice-contents["|cat:$posuid|cat:"][taxcategory]"
                    selected=$row.taxcategory visible=false tip="Select tax category" data_old_value=$item.taxcategory}
                <span class="invoice-contents-field-value"{if $item.taxcategory} title="{$_TAX_CATEGORIES[$item.taxcategory].description}"{/if}>
                    {if $item.taxcategory}
                        ({sprintf('%02d', $item.taxcategory)}) {$_TAX_CATEGORIES[$item.taxcategory].label}
                    {else}
                        {trans("- none -")}
                    {/if}
                </span>
            </TD>
            <TD class="nobr">
                <INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][prodid]" SIZE="6"
                       value="{$row.prodid}" data-old-value="{$item.prodid}" style="display: none;">
                <span class="invoice-contents-field-value">{$item.prodid}</span>
            </TD>
            <TD class="text-right">
                <INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][count]" SIZE="3"
                       VALUE="{$row.count}" data-old-value="{$item.count}" style="display: none;">
                <INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][jm]" SIZE="3"
                       VALUE="{$row.jm}" data-old-value="{$item.jm}" style="display: none;">
                <span class="invoice-contents-field-value nobr">
                    {$item.count|string_format:"%.3f"}<BR>
                    {$item.jm}
                </span>
            </TD>
            <TD class="text-right">
                <INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][discount]"
                       value="{if $row.pdiscount != 0}{$row.pdiscount}{else}{if $row.vdiscount != 0}{$row.vdiscount}{/if}{/if}"
                       data-old-value="{if $item.pdiscount != 0}{$item.pdiscount}{else}{if $item.vdiscount != 0}{$item.vdiscount}{/if}{/if}"
                       SIZE="6" {tip text="Enter discount percentage or amount"} style="display: none;">
                <SELECT class="invoice-contents-field-edit" name="invoice-contents[{$posuid}][discount_type]"
                        data-old-value="{if $item.pdiscount != 0}{$smarty.const.DISCOUNT_PERCENTAGE}{else}{if $item.vdiscount != 0}{$smarty.const.DISCOUNT_AMOUNT}{/if}{/if}" style="display: none">
                    <OPTION value="{$smarty.const.DISCOUNT_PERCENTAGE}"{if $row.pdiscount != 0} selected{/if}>{$_DISCOUNTTYPES[$smarty.const.DISCOUNT_PERCENTAGE]}</OPTION>
                    <OPTION value="{$smarty.const.DISCOUNT_AMOUNT}"{if $row.vdiscount != 0} selected{/if}>{$_DISCOUNTTYPES[$smarty.const.DISCOUNT_AMOUNT]}</OPTION>
                </SELECT>
                <span class="invoice-contents-field-value nobr">
					{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%01.2f %%"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%01.2f"}{/if}{/if}
				</span>
            </TD>
            <TD class="text-right">
				<INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][valuenetto]"
					value="{$row.valuenetto}" data-old-value="{$valuenetto}" SIZE="6"
                    {tip text="Enter unitary value without discount"} style="display: none;">
				<span class="invoice-contents-field-value nobr">
				    {$item.valuenetto|string_format:"%01.2f"}
				</span>
				{if isset($item.valuenetto_custom_contents)}
					{$item.valuenetto_custom_contents}
				{/if}
				<span class="invoice-contents-field-value nobr">
				    <BR>
				    {$item.s_valuenetto|string_format:"%01.2f"}
				</span>
				{if isset($item.s_valuenetto_custom_contents)}
					{$item.s_valuenetto_custom_contents}
				{/if}
            </TD>
            <TD class="text-right nobr">
                <SELECT size="1" class="invoice-contents-field-edit" name="invoice-contents[{$posuid}][taxid]"
                        data-old-value="{$item.taxid}" {tip text="Select Tax rate"} style="display: none;">
                    {foreach $taxeslist as $tax}
                        <OPTION value="{$tax.id}"{if $tax.id == $row.taxid} selected{/if}>{$tax.label}</OPTION>
                    {/foreach}
                </SELECT>
                <span class="invoice-contents-field-value">
                    {$item.tax}
                </span>
            </TD>
            <TD class="text-right">
				<INPUT TYPE="text" class="invoice-contents-field-edit" NAME="invoice-contents[{$posuid}][valuebrutto]" SIZE="6"
					value="{$row.valuebrutto}" data-old-value="{$valuebrutto}"
                    {tip text="Enter unitary value without discount"} style="display: none;">
				<span class="invoice-contents-field-value nobr">
				{$item.valuebrutto|string_format:"%01.2f"}
				</span>
				{if isset($item.valuebrutto_custom_contents)}
					{$item.valuebrutto_custom_contents}
				{/if}
				<span class="invoice-contents-field-value nobr">
				<BR>
				{$item.s_valuebrutto|string_format:"%01.2f"}
				</span>
				{if isset($item.s_valuebrutto_custom_contents)}
					{$item.s_valuebrutto_custom_contents}
				{/if}
            </TD>
            <TD class="text-right nobr" class="invoice-contents-buttons">
                <input type="hidden" class="invoice-contents-posuid" name="invoice-contents[{$posuid}][posuid]" value="{$posuid}">
                {if !$invoice.closed}
                <A HREF="javascript:editItem({$posuid});" class="invoice-contents-field-value"><IMG SRC="img/edit.gif" {tip text="Edit this item"}></A>
                <A HREF="javascript:saveItem({$posuid});" class="invoice-contents-field-edit" style="display: none;"><IMG SRC="img/save.gif" {tip text="Save this item"}></A>
                <A HREF="javascript:cancelEditItem({$posuid});" class="invoice-contents-field-edit" style="display: none;"><IMG SRC="img/cancel.gif" {tip text="Cancel changes"}></A>
                <A HREF="javascript:delItem({$posuid});"><IMG SRC="img/delete.gif" {tip text="Remove this item from list"}></A>
                {/if}
            </TD>
        </TR>
        {foreachelse}
        <TR>
            <TD COLSPAN="10" class="empty-table">
                <p>{trans("Invoice have no items. Use form below for items addition.")}</p>
            </TD>
        </TR>
        {/foreach}
        {if $contents}
        <TR>
            <TD COLSPAN="6" class="bold text-right">
                {trans("Total:")}
            </TD>
            <TD class="bold text-right nobr">
                {sum array=$contents column=s_valuenetto string_format="%01.2f"}
            </TD>
            <TD>
                &nbsp;
            </TD>
            <TD class="bold text-right nobr">
                {sum assign="s_valuebrutto" array=$contents column=s_valuebrutto}
                {$s_valuebrutto|string_format:"%01.2f"}
                <input type="hidden" id="s-valuebrutto" value="{$s_valuebrutto}">
            </TD>
            <TD>
                &nbsp;
            </TD>
        </TR>
        {else}
            <input type="hidden" id="s-valuebrutto" value="0">
        {/if}
        </TBODY>
        <TFOOT>
        {block name="`$layout.module`-additem"}
        {if !$invoice.closed}
        <TR>
            <TD class="bold nobr">
                {counter}.
            </TD>
            <TD class="nobr" id="tariff-selection">
                {block name="`$layout.module`-tariff-selection"}
                <INPUT TYPE="text" NAME="name" SIZE="40" style="width:300px" value="{if isset($itemdata) && !isset($error.posuid)}{$itemdata.name}{/if}"
                        {tip text="Enter description or select tariff from the list"}>
                <BR>
                <SELECT SIZE="1" NAME="ttariffid" style="width: 300px" onchange="setItem(document.contents.ttariffid.value)" {tip text="Enter description or select tariff from the list"}>
                    <OPTION value="0">-</OPTION>
                    {foreach $tariffs as $tariff}
                        {if $tariff.currency == $invoice.currency}
                            <OPTION VALUE="{$tariff.id}">{$tariff.name} ({moneyf($tariff.value, $tariff.currency)})</OPTION>
                        {/if}
                    {/foreach}
                </SELECT>
                {/block}
            </TD>
            <TD class="nobr">
                {if isset($itemdata) && !isset($error.posuid)}
                    {$taxcategory = $itemdata.taxcategory}
                {else}
                    {$taxcategory = 0}
                {/if}
                {tax_category_selection elementname="taxcategory" tip="Select tax category"
                    selected=$taxcategory}
            </TD>
            <TD class="text-right">
                <INPUT TYPE="text" NAME="prodid" SIZE="6">
            </TD>
            <TD class="text-right">
                <INPUT TYPE="text" NAME="count" SIZE="3" VALUE="{if $itemdata.count}{$itemdata.count}{else}1{/if}">
                <INPUT TYPE="text" NAME="jm" SIZE="3" VALUE="{trans(ConfigHelper::getConfig('payments.default_unit_name'))}">
            </TD>
            <TD class="text-right">
                <INPUT TYPE="text" NAME="discount" SIZE="6" {tip text="Enter discount percentage or amount"}
                    value="{if isset($itemdata) && !isset($error.posuid)}{$itemdata.discount}{/if}">
                <SELECT name="discount_type">
                    {foreach from=$_DISCOUNTTYPES item=item key=key}
                    <OPTION value="{$key}">{$item}</OPTION>
                    {/foreach}
                </SELECT>
            </TD>
            <TD class="text-right nobr">
                <INPUT TYPE="text" NAME="valuenetto" SIZE="6" {tip text="Enter unitary value without discount"}
                    value="{if isset($itemdata) && !isset($error.posuid)}{$itemdata.valuenetto}{/if}">
            </TD>
            <TD class="text-right nobr">
                <SELECT size="1" name="taxid" {tip text="Select Tax rate"}>
                    {foreach item=tax from=$taxeslist}
                    <OPTION value="{$tax.id}"{if $tax.value == $default_taxrate} selected{/if}>{$tax.label}</OPTION>
                    {/foreach}
                </SELECT>
                <br>
            </TD>
            <TD class="text-right nobr">
                <INPUT TYPE="text" NAME="valuebrutto" SIZE="6" {tip text="Enter unitary value without discount"}
                   value="{if isset($itemdata) && !isset($error.posuid)}{$itemdata.valuebrutto}{/if}">
            </TD>
            <TD>
                <A HREF="javascript:addItem();"><IMG SRC="img/save.gif" ALT="" {tip text="Add item"}></A>
            </TD>
        </TR>
        {/if}
        {/block}
        <TR class="lms-ui-button-panel">
            <TD COLSPAN="10" class="text-right">
                <TABLE width="100%">
                    <TR>
                        <TD class="text-left nobr">
                            {if $layout.module == 'invoicenew'}
                            <label>
                                <INPUT type="checkbox" name="reuse" value="1"> {trans("Display this form again, when this invoice is saved")}
                            </label>
                            {/if}
                        </TD>
                        <TD class="text-right">
                            <label>
                                <INPUT type="checkbox" name="which[{$smarty.const.DOC_ENTITY_ORIGINAL}]"
                                        value="{$smarty.const.DOC_ENTITY_ORIGINAL}"
                                        {if preg_match('/original/i', $default_printpage)} checked{/if}>
                                {$_DOCENTITIES[$smarty.const.DOC_ENTITY_ORIGINAL]}
                            </label>
                            <label>
                                <INPUT type="checkbox" name="which[{$smarty.const.DOC_ENTITY_COPY}]"
                                        value="{$smarty.const.DOC_ENTITY_COPY}"
                                        {if preg_match('/copy/i', $default_printpage)} checked{/if}>
                                {$_DOCENTITIES[$smarty.const.DOC_ENTITY_COPY]}
                            </label>
                            <label>
                                <INPUT type="checkbox" name="which[{$smarty.const.DOC_ENTITY_DUPLICATE}]"
                                        value="{$smarty.const.DOC_ENTITY_DUPLICATE}"
                                        {if preg_match('/duplicate/i', $default_printpage)} checked{/if}>
                                {$_DOCENTITIES[$smarty.const.DOC_ENTITY_DUPLICATE]}
                            </label>
                            &nbsp;
                            <A HREF="?m=invoicelist{if $invoice.proforma}&proforma=1{/if}">{trans("Cancel")} <IMG src="img/cancel.gif"></A>
                            <A href="?m={$layout.module}&action=init{if $layout.module == 'invoiceedit'}&id={$invoice.id}{/if}">{trans("Clear Contents")} <IMG src="img/delete.gif" alt=""></A>
                            {if !$customer}
                                <A class="customer-alert" href="#">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
                                <A class="customer-alert" href="#">{trans("Save & Print")} <IMG src="img/print.gif" alt=""></A>
                            {elseif !$contents}
                                <A class="invoice-alert" href="#">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
                                <A class="invoice-alert" href="#">{trans("Save & Print")} <IMG src="img/print.gif" alt=""></A>
                            {else}
                            <A HREF="javascript:saveInvoice()">{trans("Save")} <IMG src="img/save.gif" alt=""></A>
                            <A HREF="javascript:printInvoice()">{trans("Save & Print")} <IMG src="img/print.gif" alt=""></A>
                            {/if}
                        </TD>
                    </TR>
                </TABLE>
            </TD>
        </TR>
        </TFOOT>
    </TABLE>
</FORM>
<script>
	function setItem(index) {
		var e = document.contents;
		{foreach from=$tariffs item=tariff}
		if (index == {$tariff.id}) {
			e.name.value = '{str_replace("'", "\\'", $tariff.name)}';
			e.taxid.value = '{$tariff.taxid}';
			e.valuebrutto.value = '{$tariff.value}';
			e.prodid.value = '{$tariff.prodid}';
			e.tariffid.value = '{$tariff.id}';
			$(e.taxcategory).val({$tariff.taxcategory});
			e.count.value = 1;
			return;
		}
		{/foreach}
		if (index == 0) {
            e.name.value = '';
            e.valuebrutto.value = '';
            e.prodid.value = '';
            e.tariffid.value = '';
            e.count.value = 1
        }
	}

	function addItem() {
		document.contents.action += '&action=additem';
		document.contents.submit();
	}

	function delItem(posuid) {
		document.contents.action += '&action=deletepos&posuid=' + posuid;
		document.contents.submit();
	}

	function editItem(posuid, elem) {
		var item = $('#invoice-contents-position-' + posuid);
		item.find('.invoice-contents-field-edit').each(function() {
			// if (!$(this).is(':visible')) {
			// 	$(this).attr('data-old-value', $(this).val());
			// }
		}).toggle();
		if (elem) {
		    elem.focus();
		} else {
			item.find('.invoice-contents-field-edit:visible').first().focus();
		}
		item.find('.invoice-contents-field-value').toggle();
		item = $('.invoice-contents-position:not(#invoice-contents-position-' + posuid + ')');
		item.find('.invoice-contents-field-edit').hide();
		item.find('.invoice-contents-field-value').show();
	}

	function cancelEditItem(posuid) {
		var item = $('#invoice-contents-position-' + posuid);
		item.find('.invoice-contents-field-edit').each(function() {
			$(this).val($(this).attr('data-old-value'));
		});
		editItem(posuid);
    }

	function saveItem(posuid) {
		document.contents.action += '&action=savepos&posuid=' + posuid;
		document.contents.submit();
	}

	function saveInvoice() {
        var which = 0;
        $('form[name="contents"] [name^="which"]:checked').each(function() {
            which += parseInt($(this).val());
        });

		document.contents.action += '&action=save&which=' + which;
		document.contents.submit();
	}

	function printInvoice() {
        var which = 0;
        $('form[name="contents"] [name^="which"]:checked').each(function() {
            which += parseInt($(this).val());
        });

		document.contents.action += "&action=save&print=1&which=" + which;
		document.contents.submit();
	}

	$(function() {
		$('table.invoice-contents').sortable({
			axis: 'y',
			items: 'tr.invoice-contents-position',
			handle: '.invoice-contents-sortable-handler',
			opacity: 0.9,
			placeholder: 'light',
            helper: function(e, ui) {
				var elem = ui.clone();
				elem.find('td:not(.invoice-contents-sortable-handler)').remove();
				return elem;
			},
			update: function (e, ui) {
				ui.item.parent().find('.invoice-contents-position-counter').each(function (index, elem) {
					$(elem).html((index + 1) + '.');
				});
			}
		});

		$('.invoice-contents-position td:not(:last-child)').click(function (e) {
			var pos = $(this).closest('.invoice-contents-position');
			if (pos.find('.invoice-contents-field-value:visible').length) {
				editItem(pos.attr('data-posuid'), $(this).find('.invoice-contents-field-edit:first-child'));
			}
		});

		$('.invoice-contents-field-edit').keydown(function(e) {
			var posuid = $(this).closest('.invoice-contents-position').attr('data-posuid');
			switch (e.key) {
                case 'Escape':
                    cancelEditItem(posuid);
                    e.preventDefault();
                    break;
                case 'Enter':
                	saveItem(posuid);
                    e.preventDefault();
                    break;
            }
		});

        {if isset($error.posuid)}
        editItem({$error.posuid});
        {/if}
	});

    $('.customer-alert').click(function() {
        alertDialog($t("Customer not selected!"), this);
        return;
    });
    $('.invoice-alert').click(function() {
        alertDialog($t("Invoice have no items!"), this);
        return;
    });

</script>
