{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P>
<TABLE width="100%" cellpadding="3">
    <TR>
        <TD>
            <FORM NAME="changes" METHOD="POST" ACTION="?m=userpanel&module=info&f=changes">
                <TABLE cellpadding="5" cellspacing="0" WIDTH="100%">
                    <TR class="dark">
                        <TD WIDTH="30%" NOWRAP class="fleftu"><B>{trans("Customer:")}</B></TD>
                        <TD WIDTH="15%" NOWRAP class="fbt">{trans("Field:")}</TD>
                        <TD WIDTH="25%" NOWRAP class="fbt">{trans("Old value:")}</TD>
                        <TD WIDTH="25%" NOWRAP class="fbt">{trans("New value:")}</TD>
                        <TD WIDTH="5%" class="frightu">&nbsp;</TD>
                    </TR>
                    {cycle values="light,lucid" print=false}
                    {foreach from=$userchanges item=change}
                    <TR class="{cycle advance=false}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
                        <TD CLASS="fleft" WIDTH="30%" NOWRAP onClick="return self.location.href = '?m=customerinfo&id={$change.customerid}';"><B>{$change.customername|truncate:50:" ..."} ({$change.customerid|string_format:"%04d"})</B></TD>
                        <TD WIDTH="15%" NOWRAP>{t}{$change.fieldname|regex_replace:"/[^a-z]/":""}{/t}</TD>
                        <TD WIDTH="25%" NOWRAP>{$change.oldvalue}</TD>
                        <TD WIDTH="25%" NOWRAP>{$change.newvalue}</TD>
                        <TD CLASS="fright" WIDTH="5%"><INPUT CLASS="box {cycle}" TYPE="checkbox" NAME="userchanges[]" VALUE="{$change.changeid}"></TD>
                    </TR>
                    {foreachelse}
                    <TR>
                        <TD align="center" WIDTH="100%" colspan="5" class="fall">
                            <p>&nbsp;</p>
                            <p><B>{trans("There are any changes to accept.")}</B></p>
                            <p>&nbsp;</p>
                        </TD>
                    </TR>
                    {/foreach}
                    <TR class="dark">
                        <TD ALIGN="RIGHT" CLASS="fall" COLSPAN="5" ROWSPAN="1" NOWRAP>
                            <A HREF="javascript:document.changes.action='?m=userpanel&module=info&f=submit_changes_save';document.changes.submit()">{trans("Save")} <IMG SRC="img/save.gif" alt=""></A>
                            /
                            <A HREF="javascript:document.changes.action='?m=userpanel&module=info&f=submit_changes_delete';document.changes.submit()">{trans("Delete")} <IMG SRC="img/delete.gif" alt=""></A>
                        </TD>
                    </TR>
                </TABLE>
        </TD>
        </FORM>
    </TR>
</TABLE>
</P>
{include file="footer.html"}
