{box title="Your computers"}

<style>
	.table-thead {
		color: white;
	}
</style>

<div class="table-responsive">
	<table class="table table-sm table-hover table-bordered table-striped table-condensed">
		<thead class="bg-secondary font-weight-bold table-thead">
			<th>{trans("Device description")}</th>
			<th>{trans("MAC address")}</th>
			<th>{trans("IP address")}</th>
		</thead>
		{section name=usernodes loop=$usernodes}
			{if $usernodes[usernodes].id}
				<tr class="align-middle p-2 {if !$usernodes[usernodes].access}text-muted{/if}">
					<td>{$usernodes[usernodes].name}</td>
					<td>{$usernodes[usernodes].mac|replace:",":"<br/>"}</td>
					<td>{$usernodes[usernodes].ip}</td>
				</tr>
			{/if}
		{sectionelse}
			<tr>
				<td colspan="3" class="text-center">{trans("You don't have any computers.")}</td>
			</tr>
		{/section}
	</table>
</div>
{/box}
