{box title="Your documents"}

<style>

	.awaits-scan {
		margin-bottom: 0;
		margin-top: 0.5em;
		margin-left: 2em;
	}

</style>

<div class="table-responsive">
	<table class="table table-sm table-hover table-bordered table-striped table-condensed">
		{if $documents}
			<thead class="bg-secondary font-weight-bold lms-userpanel-table-header">
				<th>{trans("Number:")}</th>
				<th>{trans("Type:")}</th>
				<th>{trans("Created:")}</th>
				<th>{trans("Period:")}</th>
				<th>&nbsp;</th>
			</thead>
		{/if}
		{foreach $documents as $doc}
			<tr class="align-middle p-2 {if !$doc.closed && ($doc.confirmdate <= 0 || $doc.confirmdate < $smarty.now)}text-muted{/if}">
				<td>{number number=$doc.number template=$doc.template time=$doc.cdate}</td>
				<td>{assign var=type value=$doc.type}{$_DOCTYPES.$type}</td>
				<td>{$doc.cdate|date_format:"%d.%m.%Y"}</td>
				<td>
					{if ($doc.type == $smarty.const.DOC_CONTRACT) || ($doc.type == $smarty.const.DOC_ANNEX)}
						{if $doc.fromdate}
							{$doc.fromdate|date_format:"%d.%m.%Y"}
						{/if}
						{if $doc.todate}
							- {$doc.todate|date_format:"%d.%m.%Y"}
						{else}
							{if $doc.fromdate}
								-
							{/if}
							{trans("indefinitely")}
						{/if}
					{/if}
				</td>
				<td>
					{if $doc.closed || ($doc.confirmdate > 0 && $doc.confirmdate >= $smarty.now)}
						<div class="container">
							{foreach $doc.attachments as $docattach}
								<div class="row">
									<div class="col-md-auto">
										<a class="btn btn-primary" href="?m=info&f=docview&id={$doc.id}&attachmentid={$docattach.id}" target="_blank">
											{if $docattach.main}
												{trans("View")}
											{else}
												{$docattach.filename}
											{/if}
										</a>
									</div>
								</div>
								{if !$doc.closed && $docattach.main}
									<div class="row">
										<div class="awaits-scan col-md-auto alert alert-warning">
											{trans("awaits for signed document scan submission")}
										</div>
									</div>
								{/if}
							{/foreach}
						</div>
					{else}
						{trans("not approved")}
					{/if}
				</td>
			</tr>
		{foreachelse}
			<tr>
				<td colspan="5" class="text-center">
					{trans("No such documents on your account.")}
				</td>
			</tr>
		{/foreach}
	</table>
</div>
{/box}
