{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%" CELLPADDING="3" ALIGN="CENTER">
	<TR>
		<TD WIDTH="535" VALIGN="TOP">
			<P class="hdf"><B>{$layout.pagetitle}</B>
			{if $net}<BR><span class="sdr"><B>{trans("Network:")} {$net}</B></span>{/if}
			{if $group}<BR><span class="sdr"><B>{trans("Group:")} {$group}</B></span>{/if}
			{if $division}<BR><span class="sdr"><B>{trans("Division")}: {$division}</B></span>{/if}
			{if $types}<BR><span class="sdr"><B>{trans("Type:")} {$types}</B></span>{/if}
			{if $source}<BR><span class="sdr"><B>{trans("Source:")} {$source}</B></span>{/if}
			</P>
		</TD>
		<TD WIDTH="180" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Created by: $a{/t}
		</TD>
	</TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD WIDTH="15" CLASS="HEAD" ALIGN="CENTER">
			{trans("No.")}
		</TD>
		<TD WIDTH="45" CLASS="HEAD" ALIGN="CENTER">
			{trans("Date")}
		</TD>
		<TD WIDTH="60" CLASS="HEAD" ALIGN="CENTER">
			{trans("Liability")}
		</TD>
		<TD WIDTH="40" CLASS="HEAD" ALIGN="CENTER">
			{trans("Income")}
		</TD>
		<TD WIDTH="40" CLASS="HEAD" ALIGN="CENTER">
			{trans("Expense")}
		</TD>
		<TD WIDTH="40" CLASS="HEAD" ALIGN="CENTER">
			{trans("After")}
		</TD>
		<TD WIDTH="120" CLASS="HEAD" ALIGN="CENTER">
			{trans("Customer")}
		</TD>
		<TD WIDTH="200" CLASS="HEAD" ALIGN="CENTER">
			{trans("Description")}
		</TD>
	</TR>
	{cycle values="white,grey" print=false}
	{section name=balancelist loop=$balancelist}
	<TR class="{cycle}">
		<TD ALIGN="CENTER">
			{counter}.
		</TD>
		<TD ALIGN="CENTER" NOWRAP>
			{$balancelist[balancelist].time|date_format:"%d.%m.%Y"}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if $balancelist[balancelist].covenant}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value > 0}{$balancelist[balancelist].value|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value < 0}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if $balancelist[balancelist].covenant}
			-
			{else}
			{$balancelist[balancelist].after|money_format}
			{/if}
		</TD>
		<TD ALIGN="LEFT" NOWRAP>
			{$balancelist[balancelist].customername|truncate:25:"..."}
		</TD>
		<TD ALIGN="LEFT">
			{$balancelist[balancelist].comment|wordwrap:42:"<br />\n"}
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="8" class="empty-table">
			<p>{trans("No such cash operations.")}</p>
		</TD>
	</TR>
	{/section}
	<TR>
		<TD CLASS="HEADGREY" ALIGN="RIGHT" COLSPAN="2">
			<B>{trans("Total:")}</B>
		</TD>
		<TD CLASS="HEADGREY" ALIGN="RIGHT" NOWRAP>
			<B>{$listdata.liability|money_format}</B>
		</TD>
		<TD CLASS="HEADGREY" ALIGN="RIGHT" NOWRAP>
			<B>{$listdata.income|money_format}</B>
		</TD>
		<TD CLASS="HEADGREY" ALIGN="RIGHT" NOWRAP>
			<B>{$listdata.expense|money_format}</B>
		</TD>
		<TD CLASS="HEADGREY" ALIGN="CENTER" COLSPAN="3" NOWRAP>
			<B>{trans("Balance:")} {$listdata.total|money_format}</B>
		</TD>
	</TR>
</TABLE>
{include file="clearfooter.html"}
