; Basic settings: refer to LMS UI .ini config file sample to know
; what is for what here... WARNING: be aware on special chars
; key = some text 	- valid
; key = some \t text \n - valid
; key = "A.L.E.C's"	- valid
; key = "some# \"text\"" - invalid (returns: 'some #\')
; key = ';A.L.E.C\''	- invalid (returns: ';A.L.E.C\')
; key = text #some	- invalid (returns: 'text')	

[database]
; Host name where database is installed. Default: localhost.
; If You want socket connections, set 
; MySQL: 	host = localhost or host = ""
; PostgreSQL:	host = /path/to/socket
; host		= localhost

; User name to connect. Default: lms.
; user		= lms

; Password for that user. Default empty.
; password	= mypasswd

; Database name. Default: lms.
; database	= lms

; Port number. Default: 0.
; port 		= 0

; NOTE: Database type (postgres/mysql) must be defined with ./configure
;       before compilation.

; Main daemon settings --------------------------------------------
[lmsd]

; How often check for config updates and reload  [in seconds]. Default: 30.
; sleeptime	= 30

; List of module instances to run. Default empty.
 instances 	= hosts oident firewall

; -----------------------------------------------------------------

; Example instance ------------------------------------------------
; NOTE: Every instance must have set module localization !
[ethers]

module 		= /home/alec/devel/lmsd/modules/ethers/ethers.so
; module: ¶cie¿ka do modu³u (bezwglêdna lub wzglêdna). 

file		= /etc/ethers
; tmpfile: lokalizacja wygenerowanego pliku. Domyslnie: /tmp/ethers.

command		= /bin/sh /tmp/ethers
; command: komenda do wykonania po wygenerowaniu pliku. Domy¶lnie pusta.

info 		= Tworzenie pliku ethers 
; info: opis instancji wykorzystywany w lms-ui


; Example instance -------------------------------------------------
[firewall]

info		= Restart firewall'a z blokowaniem komputerów

module 		= /lmsd/new/modules/hostfile/hostfile.so
; module: lokalizacja modu³u.

prefix		= /usr/sbin/iptables -N filterchain\n/usr/sbin/iptables -F filterchain\n
; prefix: co wpisaæ na pocz±tek pliku?

grantedhost	= /usr/sbin/iptables -A filterchain -s %i -m mac --source-mac %m -j ACCEPT\n
; grantedhost: linijka która bêdzie odpowiada³a ka¿demu hostowi z access=1. %m zostaje
; zamienione na MAC hosta, %i na jego adres IP

deniedhost    	= /usr/sbin/iptables -A filterchain -s %i -m mac --source-mac %m -j REJECT\n
; deniedhost: jw. ale odno¶nie hosta z access=0

append  	= /usr/sbin/iptables -A filterchain -j REJECT\n
; append: co dopisaæ na koniec pliku?

file		= /tmp/firewall
; tempfile: gdzie zapisaæ plik? oczywi¶cie w przysz³o¶ci jaka¶ lokalizacja która
; jest zapisywalna tylko przez lmsd'a

command		= /bin/sh /tmp/firewall
; command: komenda do wykonania po wygenerowaniu pliku. w przysz³o¶ci oczywi¶cie
; jaki¶ m±dry wrapper który ma setuid root: tak, ¿eby lmsd nie musia³o chodziæ z UID 0



; Example instance ---------------------------------------------------
[hosts]
info		= Tworzenie pliku hosts, jak widaæ mo¿na to zrobiæ modu³em 'hostfile'
module 		= /lmsd/new/modules/hostfile/hostfile.so
prefix		= 127.0.0.1\tlocalhost\tlocalhost.moja.net\n
grantedhost	= %i	%n	%n.moja.net\n
deniedhost    	= %i	%n	%n.moja.net\n
append  	= ""
file		= /etc/hosts


; Example instance ----------------------------------------------------
[midentd]
module 		= /home/alec/devel/lmsd/modules/oident/oident.so
prefix	        = ""
grantedhost     = %i:host-%i\n
deniedhost      = ""
append          = ""
file		= /tmp/identd.conf
command		= killall -HUP midentd


; Example instance ----------------------------------------------------
[dhcp] 
info		= Restart serwera dhcp
module 		= /home/alec/devel/lmsd/modules/dhcp/dhcp.so
start		= shared-network LMS {
end		= }
subnet_start	= "subnet %a netmask %m {\ndefault-lease-time 86400;\nmax-lease-time 86400;"
subnet_end	= }
subnet_range	= "range %s %e;"
subnet_gateway	= "option routers %i;"
subnet_dns	= "option domain-name-servers %i;"
subnet_domain	= 'option domain-name \"%n;\"'
subnet_wins	= "option netbios-name-servers %i;"
host		= "host %n { hardware ethernet %m; fixed-address %i; }"
file		= /etc/dhcpd.conf
command		= killall -HUP dhcpd


; Example instance ----------------------------------------------------
[oident]
module 		= /lmsd/new/modules/oident/oident.so
start		= ""
end		= ""
host		= %i\t%n-%m\tUNIX
file		= /tmp/oident.conf
command		= chown 600 /tmp/oident.conf

