{if $layout.dberrors}
<BR>
<TABLE WIDTH="100%" CELLPADDING="10">
	<TR BGCOLOR="#F4F0EC">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/core/warning.png" ALT="[ B³±d ! ]">
		</TD>
		<TD WIDTH="99%" CLASS="frightu">
			<B><FONT COLOR="RED">{t}An error(s) occured in database handler!{/t}</FONT></B><BR>
			{foreach from=$layout.dberrors item=dberror}
			<B>{t}While executing query{/t}:</B> {$dberror.query}<BR>
			<B>{t}Following error occured{/t}:</B> {$dberror.error}<BR>
			{/foreach}
		</TD>
	</TR>
</TABLE>
{/if}
