{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="99%" VALIGN="TOP">
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t 0=$layout.logname}Created by: $0{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="640" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}No.{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Date{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Liability{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Income{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Expense{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}After{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Customer{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}Description{/t}
		</TD>		
	</TR>
	{cycle values="white,grey" print=false}
	{section name=balancelist loop=$balancelist}
	<TR class="{cycle}">
		<TD ALIGN="CENTER">
			{counter}
		</TD>
		<TD ALIGN="CENTER" NOWRAP>
			{$balancelist[balancelist].time|date_format:"%Y/%m/%d"}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if $balancelist[balancelist].covenant}{$balancelist[balancelist].value*-1|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value > 0}{$balancelist[balancelist].value|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value < 0}{$balancelist[balancelist].value*-1|money_format}{else}-{/if}
		</TD>
		<TD ALIGN="RIGHT" NOWRAP>
			{if $balancelist[balancelist].covenant}
			-
			{else}
			{$balancelist[balancelist].after|money_format} 
			{/if}
		</TD>
		<TD ALIGN="LEFT" NOWRAP>
			{$balancelist[balancelist].customername|truncate:20:"..."}
		</TD>
		<TD ALIGN="LEFT">
			{$balancelist[balancelist].comment}
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD ALIGN="center" WIDTH="100%" COLSPAN="8">
			<P>&nbsp;</P>
			<P><B>{t}No such cash operations.{/t}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>
	{/section}
	<TR class="grey">
		<TD ALIGN="RIGHT" COLSPAN="2">
			<B>{t}Total:{/t}</B>
		</TD>
		<TD ALIGN="RIGHT">
			<B>{$listdata.liability|money_format}</B>
		</TD>
		<TD ALIGN="RIGHT">
			<B>{$listdata.income|money_format}</B>
		</TD>
		<TD ALIGN="RIGHT">
			<B>{$listdata.expense|money_format}</B>
		</TD>
		<TD></TD>
		<TD ALIGN="RIGHT">
			<B>{t}Balance:{/t}</B>
		</TD>
		<TD ALIGN="LEFT">
			<B>{$listdata.total|money_format}</B>
		</TD>
	</TR>
</TABLE>