{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE width="100%">
	<TR>
		<TD style="width: 100%;">
			{include file="promotion/promotioninfobox.html"}
		</TD>
	</TR>
	<TR>
		<TD style="width: 100%;">
			{include file="promotion/promotionschemas.html"}
		</TD>
	</TR>
	<TR>
		<TD style="width: 100%;">
			{include file="promotion/promotiontariffs.html"}
		</TD>
	</TR>
</TABLE>
{/block}
