<!--// $Id$ //-->
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 100%;" class="hand text-left bold nobr" onClick="showOrHide('promotiontariffs');">
			{icon name="money" class="fa-fw"}
			{if empty($promotion.tariffs)}{$count = 0}{else}{$count = count($promotion.tariffs)}{/if}
			{t a=$count}Promotion's Tariffs ($a):{/t}
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR id="promotiontariffs" style="display:none;">
		<TD style="width: 100%;">
			<TABLE class="lmsbox-inner lms-ui-background-cycle">
				<THEAD>
				<TR class="fbottom">
					<TD style="width: 95%;" class="bold nobr">{trans("Name:")}</TD>
					<TD style="width: 1%;" class="text-right nobr">{trans("ID:")}</TD>
					<TD style="width: 1%;" class="text-right bold nobr">{trans("Value")}:</TD>
					<TD style="width: 1%;" class="text-right nobr">{trans("Downceil:")}</TD>
					<TD style="width: 1%;" class="text-right nobr">{trans("Upceil:")}</TD>
					<TD style="width: 1%;">&nbsp;</TD>
				</TR>
				</THEAD>
				<TBODY>
				{foreach from=$promotion.tariffs item=tariff}
				<TR class="highlight">
					<TD class="bold nobr" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';">
						{$tariff.name}
					</TD>
					<TD class="text-right nobr" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';">
						({$tariff.id|string_format:"%04d"})
					</TD>
					<TD class="bold nobr" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';">
						{$tariff.value|string_format:"%.2f"}
					</TD>
					<TD class="nobr" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';">
						{if $tariff.downceil}{$tariff.downceil} kbit/s{else}-{/if}
					</TD>
					<TD class="nobr" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';">
						{if $tariff.upceil}{$tariff.upceil} kbit/s{else}-{/if}
					</TD>
					<TD>
						{button type="link" class="delete-promotiontariff" icon="delete" tip="Delete assignment"
							href="?m=promotionedit&action=tariffdel&id={$promotion.id}&tid={$tariff.id}"}
					</TD>
				</TR>
				{foreachelse}
				<TR>
					<TD colspan="6" class="empty-table">
						<p>{trans("This promotion has no assigned tariffs.")}</p>
					</TD>
				</TR>
				{/foreach}
				</TBODY>
			</TABLE>
		</TD>
	</TR>
	</TBODY>
</TABLE>
<script>

	if (getCookie('promotiontariffs') == '1') {
		$('#promotiontariffs').show();
	}

	$('.delete-promotiontariff').click(function() {
		confirmDialog($t("Are you sure, you want to delete this assignment?"), this).done(function() {
			location.href = $(this).attr('data-href');
		});
		return false;
	});

</script>
