{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<FORM method="post" name="promotionadd" action="?m=promotionadd">
<p style="display: none;">
<INPUT type="submit" class="hiddenbtn">
</p>
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/promo.gif" alt="">
		</TD>
		<TD style="width: 1%;" class="bold">
			{trans("Name:")}
		</TD>
		<TD style="width: 98%;">
			<INPUT type="text" name="promotion[name]" value="{$promotion.name}" size="40" {tip text="Enter promotion name" trigger="name" bold=1}>
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/info1.gif" alt="">
		</TD>
		<TD style="width: 1%;" class="bold">
			{trans("Description:")}
		</TD>
		<TD style="width: 98%;">
			<TEXTAREA name="promotion[description]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$promotion.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD style="width: 100%;" class="text-right" colspan="3">
			<A href="javascript:document.promotionadd.submit();" accesskey="s">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
			<A href="?m=promotionlist">{trans("Cancel")} <IMG src="img/cancel.gif" alt=""></A><BR>
			<INPUT type="checkbox" name="promotion[reuse]" value="ON" id="reuse" {if $promotion.reuse} checked{/if}><label for="reuse">{trans("Display this form again, when this promotion is saved")}</label>
		</TD>
	</TR>
	</TBODY>
</TABLE></FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['promotionadd'].elements['promotion[name]'].focus();
//-->
</SCRIPT>
{/block}
