<!-- $Id$ -->
<TABLE class="lmsbox">
	<THEAD>
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/promoschema.gif" alt="">
		</TD>
		<TD style="width: 98%;" class="bold" colspan="2">
			{$schema.name} ({$schema.id|string_format:"%04d"})
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/calendar.gif" alt="">
		</TD>
		<TD style="width: 99%;" class="nobr" colspan="2">
			{if $schema.data}{$schema.data}{else}{trans("unlimited")}{/if}
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;">
			<A href="?m=promotionschemaset&amp;id={$schema.id}&amp;access={$schema.disabled}"><IMG src="img/{if $schema.disabled}no{/if}access.gif" alt=""></A>
		</TD>
		<TD style="width: 99%;" class="nobr" colspan="2">
			{if $schema.disabled}{trans("disabled")}{else}{trans("enabled")}{/if}
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/promo.gif" alt="">
		</TD>
		<TD style="width: 99%;" class="nobr" colspan="2">
			<A href="?m=promotioninfo&amp;id={$schema.pid}">{$schema.promotion}</A>
		</TD>
	</TR>
	{if $schema.description}
	<TR>
		<TD style="width: 1%;">
			<IMG src="img/info1.gif" alt="">
		</TD>
		<TD style="width: 98%;" colspan="2">
			<TABLE width="100%" cellpadding="5">
				<TR><TD class="fall superlight">
					{$schema.description|replace:"\n":"<BR>"}
				</TD></TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD style="width: 100%;" class="text-right" colspan="3">
			<A href="?m=promotionschemaedit&amp;id={$schema.id}">{trans("Edit")} <IMG src="img/edit.gif" alt=""></A>
			<A href="?m=promotionschemadel&amp;id={$schema.id}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete this schema?")}');">{trans("Delete")} <IMG src="img/delete.gif" alt=""></A>
		</TD>
	</TR>
	</TBODY>
</TABLE>
