{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- $Id$ -->

<style>

	#periodcont {
		display: flex;
	}

	#periodcont .scombobox {
		width: 10em;
		margin-right: 0.5em;
	}

</style>

<H1>{$layout.pagetitle}</H1>
<H3>{trans("Promotion:")} {$schema['promotionname']}</H3>
<FORM method="post" name="schemaedit" action="?m=promotionschemaedit&amp;id={$schema.id}">
<p style="display: none;">
<INPUT type="submit" class="hiddenbtn">
</p>


<TABLE class="lmsbox">
	<colgroup>
		<col style="width: 1%;">
		<col style="width: 1%;">
		<col style="width: 98%;">
	</colgroup>
	<THEAD>
	<TR>
		<TD>
			{icon name="money" class="fa-fw"}
		</TD>
		<TD class="bold">
			{trans("Name:")}
		</TD>
		<TD>
			<INPUT type="text" name="schema[name]" value="{$schema.name}" size="40"
				   {if !empty($schema.assignmentcount) && !ConfigHelper::checkPrivilege('superuser')}
						readonly {tip text="Schema is assigned to liabilities, so name change is disabled!" trigger="name" bold=1}
				   {else}
					   {tip text="Enter schema name" trigger="name" bold=1}
				   {/if}>
		</TD>
	</TR>
	</THEAD>
	<TBODY>
	<TR>
		<TD>
			{icon name="calendar" class="fa-fw"}
		</TD>
		<TD class="bold">
			{trans("Periods:")}
		</TD>
		<TD id="periodcont">
			{foreach $schema.periods as $key => $period}
				<SELECT name="schema[periods][]"
						{if !empty($schema.assignmentcount) && !ConfigHelper::checkPrivilege('superuser')}
							data-options='{ "disabled": true }'
							{tip class="lms-ui-combobox" text="Schema is assigned to liabilities, so periods change is disabled!" bold=1}
						{else}
							{tip class="lms-ui-combobox" text="Select length of the period (in months)"}
						{/if}
					data-value="{$period}">
					{if !$key && count($schema.periods) == 1}
						<OPTION value="0"{if !$period} selected{/if}>- {trans("unlimited")} -</OPTION>
					{/if}
					{foreach $schema.selection as $item}
						<OPTION value="{$item}"{if $period == $item} selected{/if}>{$item}</OPTION>
					{/foreach}
				</SELECT>
			{/foreach}
			{if empty($schema.assignmentcount) || ConfigHelper::checkPrivilege('superuser')}
				{if count($schema.periods) < 2}
					{$visible = false}
				{else}
					{$visible = true}
				{/if}
				{button type="link" icon="delete" tip="Delete" id="perioddel" visible=$visible}
				{button type="link" icon="add" tip="Add" id="periodadd"}
			{/if}
		</TD>
	</TR>
	<TR>
		<TD>
			{icon name="info" class="fa-fw"}
		</TD>
		<TD class="bold">
			{trans("Description:")}
		</TD>
		<TD>
			<TEXTAREA name="schema[description]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$schema.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD class="lms-ui-box-buttons" colspan="3">
			{button icon="save" label="Submit" onclick="document.schemaedit.submit();"}
			{button icon="cancel" label="Cancel" href="?m=promotionschemainfo&id={$schema.id}"}
		</TD>
	</TR>
	</TBODY>
</TABLE>
</FORM>

<script>

	$('[name="schema[name]"]').focus();

	$(function() {
		$("#periodadd").click(function() {
			var comboboxes = $('#periodcont').children('.scombobox');

			if (comboboxes.length == 1) {
				var firstSelect = $(comboboxes[0]).find('select');
				firstSelect.find('option:first-child').remove();
				$(comboboxes[0]).scombobox('fill');
			}

			comboboxes = $('#periodcont').children('.scombobox');
			var select = $(comboboxes[comboboxes.length - 1]).find('select').clone();
			var del = $('#perioddel');
			select.insertBefore(del);

			init_comboboxes(select)

			del.show();
		});

		$("#perioddel").click(function() {
			var comboboxes = $('#periodcont .scombobox');
			var select = $(comboboxes[0]).find('select');
			select.prepend('<OPTION value="0">- ' + $t("unlimited") + ' -</OPTION>');
			$(comboboxes[0]).scombobox('fill');

			$('#perioddel').prev().remove();
			$('#perioddel').toggle(comboboxes.length > 2);
		});

		$('form[name="schemaedit"]').click(function() {
			$(".scombobox-value").each(function() {
				if ($(this).is("[name]")) {
					$(this).closest(".scombobox").find("select").removeAttr("name");
				}
			});
		});
	});

</script>
{/block}
