<!-- $Id$ -->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/promo.gif" ALT="">
		</TD>
		<TD WIDTH="98%" COLSPAN="2">
			<B>{$promotion.name} ({$promotion.id|string_format:"%04d"})</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%">
			<A HREF="?m=promotionset&id={$promotion.id}&access={$promotion.disabled}"><IMG SRC="img/{if $promotion.disabled}no{/if}access.gif" ALT=""></A>
		</TD>
		<TD WIDTH="99%" NOWRAP colspan="2">
			{if $promotion.disabled}{trans("disabled")}{else}{trans("enabled")}{/if}
		</TD>
	</TR>
	{if $promotion.description}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/info1.gif" ALT="">
		</TD>
		<TD WIDTH="98%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
			    <TR><TD CLASS="fall superlight">
				    {$promotion.description|replace:"\n":"<BR>"}
			    </TD></TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="?m=promotionedit&id={$promotion.id}">{trans("Edit")} <IMG SRC="img/edit.gif" alt=""></A>
			<A id="delete-promotion" HREF="?m=promotiondel&id={$promotion.id}">{trans("Delete")} <IMG SRC="img/delete.gif" ALT=""></A>
			</FORM>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<script>
	$('#delete-promotion').click(function() {
		confirmDialog($t("Are you sure, you want to delete this promotion?"), this).done(function() {
			location.href = $(this).attr('href');
		});
		return false;
	});
</script>

