<!--// $Id$ //-->
<form method="post" action="?m=helpdesk" name="helpdesk">
{box title="New Request"}
<table class="table table-bordered">
	<tr>
		<td>
			<b>{trans("Subject:")}</b>
		</td>
		<td>
			<input style="width:99%;" type="text" name="helpdesk[subject]" value="{$helpdesk.subject}" {userpaneltip text="Enter request subject" trigger="subject"} />
		</td>
	</tr>
	<tr>

		<td>
			<b>{trans("Body:")}</b>
		</td>
		<td>
			<textarea style="width:99%;" name="helpdesk[body]" rows="5" {userpaneltip text="Enter request contents" trigger="body"}>{$helpdesk.body}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a class="btn btn-danger" href="javascript:document.helpdesk.submit()" accesskey="S">{trans("Submit")}</a>
		</td>
	</tr>
</table>
{/box}
</form>

