<!--// $Id$ //-->
{include file="header.html"}
<table style="width: 100%;" cellpadding="10">
    <tr>
        <td>
<form method="post" action="?m=helpdesk&id={$ticket.id}" name="helpdesk">
{box title="Message"}
<input type="hidden" name="helpdesk[inreplyto]" value="{$helpdesk.inreplyto}" />
<table width="100%" cellpadding="3" class="light">
	<tr class="light">
		<td width="1%">
			{img src="helpdesk.gif" alt=""}
		</td>
		<td width="1%">
			<b>{trans("Subject:")}</b>
		</td>
		<td width="98%">
			<input style="width:99%;" type="text" name="helpdesk[subject]" value="{$helpdesk.subject}" {userpaneltip text="Enter message subject" trigger="subject"} />
		</td>
	</tr>
	<tr class="light">
		<td width="1%">
			{img src="help.gif" alt=""}
		</td>
		<td width="1%">
			<b>{trans("Body:")}</b>
		</td>
		<td width="98%">
			<textarea style="width:99%;" name="helpdesk[body]" rows="5" {userpaneltip text="Enter message content" trigger="body"}>{$helpdesk.body}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="100%" colspan="3" align="right">
			<a href="javascript:document.helpdesk.submit()" accesskey="S">{trans("Submit")} {img src="save.gif" alt="[ Submit ]"}</a>
		</td>
	</tr>
</table>
{/box}
<br />
{box title=$title}
<table class="width: 100%;" cellpadding="3">
	{foreach from=$ticket.messages item=message}
        <tr class="darkest">
		<td width="1%" align="right">
			<b>{$message.createtime|date_format:"%Y/%m/%d<br/>%H:%M"}</b>
		</td>
		<td width="1%" align="right">
			<b>{trans("From:")}<br/>{trans("Subject:")}</b>
		</td>
		<td width="97%" class="nobr">
			    {if $message.customerid}
				    {$message.customername}
			    {elseif $message.userid}
				    {$message.username}
			    {elseif $message.mailfrom}
				    {$message.mailfrom|escape}
			    {else}
				    {$ticket.requestor|escape}
				    {if $ticket.requestoremail}
					    &lt;{$ticket.requestoremail|escape}&gt;
				    {/if}
			    {/if}
			    <br />
			    {$message.subject|escape}
		</td>
		<td width="1%">
			<a href="?m=helpdesk&op=message&id={$ticket.id}&msgid={$message.id}">{trans("Reply")}</a>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			{$message.body|escape|replace:"\n":"<br/>"}
		</td>
	</tr>
	{/foreach}
</table>
{/box}
</form>
        </td>
    </tr>
</table>
{include file="footer.html"}
