{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<TABLE WIDTH="100%" CELLPADDING="3">
    <TR CLASS="DARK"><TD CLASS="fall"><B>{t}Module Configuration:{/t}</B></TD></TR>
    <TR CLASS="light"><TD CLASS="fall">
	<FORM NAME="moduleconfig" METHOD="POST" ACTION="?m=userpanel&module=helpdesk&f=submit_setup">
	<TABLE WIDTH="100%">
	    <TR>
		<TD WIDTH="1%" NOWRAP>
		    {t}Default queue:{/t}
		</TD>
		<TD WIDTH="99%" NOWRAP>
		    <SELECT NAME="default_queue" {tip text="Helpdesk queue for tickets requested in Userpanel"}>
			    <OPTION value="0" SELECTED>{t}- select queue -{/t}</OPTION>
			    {foreach from=$queuelist item=queue}
			    <OPTION value="{$queue.id}"{if $queue.id == $default_queue} SELECTED{/if}>{$queue.name}</OPTION>
			    {/foreach}
		    </SELECT> 
    		</TD>
	    </TR>
	    <TR>
		<TD WIDTH="1%" NOWRAP>
		    {t}Default user:{/t}
		</TD>
		<TD WIDTH="99%" NOWRAP>
		    <SELECT NAME="default_userid" {tip text="Sender of new request notifications and his email. If not specified notifications goes from queue address."}> 
		    	    <OPTION value="0" SELECTED>{t}- select user -{/t}</OPTION>
			    {foreach from=$userlist item=user}
			    <OPTION value="{$user.id}"{if $user.id == $default_userid} SELECTED{/if}>{$user.name}</OPTION>
			    {/foreach}
		    </SELECT>
    		</TD>
	    </TR>
	    <TR>
		<TD WIDTH="1%" NOWRAP>
		    {t}Debug email:{/t}
		</TD>
		<TD WIDTH="99%" NOWRAP>
		    <INPUT TYPE="TEXT" NAME="debug_email" VALUE="{$debug_email}" SIZE="50" {tip text="Debug email for new tickets notifications."}> 
    		</TD>
	    </TR>
	    <TR>
		<TD WIDTH="1%" NOWRAP>
		    {t}LMS url:{/t}
		</TD>
		<TD WIDTH="99%" NOWRAP>
		    <INPUT TYPE="TEXT" NAME="lms_url" VALUE="{$lms_url}" SIZE="50" {tip text="LMS address needed to build link to new ticket in notification message"}> 
    		</TD>
	    </TR>
	</TABLE>
	</FORM>
	<p align="right">
	    <A HREF="?m=userpanel">{t}Cancel{/t} <IMG SRC="img/cancel.gif" ALT=""></A>
	    <A HREF="javascript:document.moduleconfig.submit();" ACCESSKEY="S">{t}Submit{/t} <IMG SRC="img/save.gif" ALT=""></A>
	</p>
    </TD></TR>
</TABLE>
{include file="footer.html"}
