<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="style/bclean/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-XXXXXXXX" crossorigin="anonymous"> -->
        <meta http-equiv="refresh" content="{ConfigHelper::getConfig('phpui.timeout')+5}">
        <title>{trans("Virtual Customer Service")}</title>
		<script type="text/javascript" language="JavaScript" src="style/default/common.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            {body}
