#!/bin/sh
# config script for lms-common

set -e

. /usr/share/debconf/confmodule
db_version 2.0

if [ -f /usr/share/dbconfig-common/dpkg/config ] ; then
    . /usr/share/dbconfig-common/dpkg/config

    dbc_dbname=lms
    dbc_dbuser=lms
    #dbc_debug=1

    dbc_dbtypes="mysql, pgsql"

    dbc_go lms-common $@
fi

exit 0
