<!DOCTYPE html>
<html lang="{$_ui_language}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="refresh" content="{get_conf('phpui.timeout')+5}">
    <title>{trans("Virtual Customer Service")}</title>
    <!-- TWITTER BOOTSTRAP RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TWITTER BOOTSTRAP CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- OWN CSS -->
    <link href="assets/alfa-system/alfa.css" rel="stylesheet">    
</head>
<body>
{body}
