{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM NAME="config" METHOD="POST" ACTION="?m=userpanel&f=submit_setup">
<TABLE cellpadding="3" width="100%" class="lmsbox">
	<THEAD>
	<TR>
		<TD colspan="2" class="bold">
			{trans("Basic Configuration:")}
		</TD>
	</TR>
	</THEAD>
	<TBODY>
        <!-- remove condition if $page_header will be implemented in all themes -->
        {if $style=='bclean'}
        <tr>
            <td style="width: 1%;" class="nobr">
                <label for="page_header">{trans("Page header")}:</label>
            </td>
            <td style="width: 99%;">
                <input type="text" size="50" name="page_header" id="page_header" value="{$page_header}">
            </td>
        </td>
        {else}
                <input type="hidden" name="page_header" id="page_header" value="{$page_header}">
        {/if}
	<TR>
		<TD style="width: 1%;" class="text-left nobr">
			{trans("Userpanel style:")}
		</TD>
		<TD style="width: 99%;">
			<SELECT name="style" SIZE="1" {tip text="Userpanel design style"}>
				{foreach from=$stylelist item=styleitem}
				<OPTION value="{$styleitem}"{if ($styleitem == $style) || ($styleitem=="default" && $style == "")} selected{/if}>{$styleitem}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD style="width: %1;" class="nobr">
			{trans("Hint style:")}
		</TD>
		<TD style="width: 99%;">
			<SELECT name="hint" SIZE="1" {tip text="Userpanel hints style. Chose modern for animated assistant, classic for tips in LMS style, or none to disable hints displaying"}>
				<OPTION value="modern"{if $hint == 'modern'} SELECTED{/if}>{trans("modern")}</OPTION>
				<OPTION value="classic"{if $hint == 'classic'} SELECTED{/if}>{trans("classic")}</OPTION>
				<OPTION value="none"{if $hint == 'none'} SELECTED{/if}>{trans("none")}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="hide_nodes_modules">{trans("Disabling modules:")}</label>
		</TD>
		<TD style="width: 99%;">
			<INPUT class="box light" type="checkbox" name="hide_nodes_modules" id="hide_nodes_modules" value="1"{if $hide_nodes_modules} checked{/if} {tip text="Hiding some modules useless when customer hasn't got any nodes"}>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="reminder_mail_sender">{trans("Reminder mail sender:")}</label>
		</TD>
		<TD style="width: 99%;">
			<INPUT type="text" size="50" name="reminder_mail_sender" id="reminder_mail_sender" value="{$reminder_mail_sender}" {tip text="Enter reminder mail sender"}>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="reminder_mail_subject">{trans("Reminder mail subject:")}</label>
		</TD>
		<TD style="width: 99%;">
			<INPUT type="text" size="50" name="reminder_mail_subject" id="reminder_mail_subject" value="{$reminder_mail_subject}" {tip text="Enter reminder mail subject"}>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="reminder_mail_body">{trans("Reminder mail body:")}</label>
		</TD>
		<TD style="width: 99%;">
			<TEXTAREA name="reminder_mail_body" id="reminder_mail_body" cols="60" rows="7" {tip text="Enter reminder mail body"}>{$reminder_mail_body}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="reminder_sms_body">{trans("Reminder sms body:")}</label>
		</TD>
		<TD style="width: 99%;">
			<TEXTAREA name="reminder_sms_body" id="reminder_sms_body" cols="60" rows="7" {tip text="Enter reminder sms body"}>{$reminder_sms_body}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;" class="nobr">
			<label for="auth_type">{trans("Authentication type:")}</label>
		</TD>
		<TD style="width: 99%;">
			<SELECT name="auth_type" {tip text="Userpanel authentication type"}>
				{foreach $_USERPANEL_ID_TYPES as $typeidx => $type}
				<OPTION value="{$typeidx}"{if $auth_type == $typeidx} selected{/if}>{$type.selection}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD class="buttons" colspan="2">
			 <A HREF="javascript:document.config.submit();" accesskey="S">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
	</TBODY>
</TABLE>
<BR>
<TABLE cellpadding="3" width="100%">
    <TR class="dark">
	<TD class="fleftu" align="center"><B>{trans("Module")}</B></TD>
	<TD class="fbt" align="center"><B>{trans("Display name")}</B></TD>
	<TD class="fbt" align="center"><B>{trans("Prio")}</B></TD>
	<TD class="fbt" align="center"><B>{trans("Database version")}</B></TD>
	<TD class="fbt" align="center"><B>{trans("Tip")}</B></TD>
	<TD class="fbt" align="center"><B>{trans("Description")}</B></TD>
	<TD class="frightu" align="center"><B>{trans("Enabled")}</B></TD>
    </tr>
    {cycle values="light,lucid" print=false}
    {foreach from=$menu item=menuitem}
    <TR class="{if !in_array($menuitem.module, $enabled_modules)}blend {/if}{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	<td class="fleft" onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';">
	    {$menuitem.module}
	</td>
	<td onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';">
	    {$menuitem.name}
	</td>
	<td onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';" align="center">
	    {$menuitem.prio}
	</td>
	<td onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';" align="center">
	    {if $menuitem.dbver>0}{$menuitem.dbver}{else}{trans("-")}{/if}
	</td>
	<td onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';">
	    {t}{$menuitem.tip}{/t}
	</td>
	<td onClick="return self.location.href='?m=userpanel&module={$menuitem.module}';">
	    {t}{$menuitem.description}{/t}
	</td>
	<td class="fright text-center">
		<input type="checkbox" name="enabled_modules[{$menuitem.module}]" value="1"{if in_array($menuitem.module, $enabled_modules)} checked{/if}>
	</td>
    </tr>
    {/foreach}
    <TR CLASS="light">
	<TD COLSPAN="6" class="fleftu bold text-center">
		{trans("Total:")} {$total}
	</TD>
	<TD style="width: 2%;" class="frightu buttons nobr">
		<A HREF="javascript:document.config.submit();" accesskey="S">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
	</TD>
    </TR>
</table>
</FORM>
{include file="footer.html"}
