<!--// $Id$ //-->

{assign var=remove_number value='<span class="ui-icon ui-icon-closethick remove-number"></span>'}

{if $pool_list}
    {assign var=pool_number_select value='<span class="ui-icon ui-icon-clipboard show-pool-list"></span>'}
    {include file='voipaccount/voipaccountaddboxdialog.html'}
{else}
    {assign var=pool_number_select value=''}
{/if}

<style>
    .phone-table tr:hover td:nth-child(2) div span {
        visibility: visible;
        cursor: pointer;
    }

    .phone-table tr td:nth-child(2) div span {
        visibility: hidden;
    }
</style>

<form name="editvoipaccount" method="post" action="?m=voipaccountedit&id={$voipaccountinfo.id}">
    <input type="submit" class="hiddenbtn">
    <input type="hidden" name="voipaccountedit[id]" value="{$voipaccountinfo.id}">
    <table class="lmsbox">
        <colgroup>
            <col style="width: 1%;"/>
            <col style="width: 1%;"/>
            <col style="width: 98%;"/>
        </colgroup>
        <thead>
            {block name="voipaccounteditbox-login"}
            <tr>
                <td>
                    <img src="img/voip.gif" alt="{trans("Login:")}">
                </td>
                <td class="bold nobr" style="padding: 2px;">
                    {trans("Login:")}
                </td>
                <td>
                    <input type="text" name="voipaccountedit[login]" value="{$voipaccountinfo.login}" maxlength="32" size="30" {tip text="Enter voip account login" trigger="login" bold=1}>
                    ({$voipaccountinfo.id|string_format:"%04d"})
                </td>
            </tr>
            {/block}
        </thead>
        <tbody>
            {block name="voipaccounteditbox-password"}
            <tr>
                <td>
                    <img src="img/passwd.gif" alt="{trans("Password:")}">
                </td>
                <td class="bold nobr">
                    {trans("Password:")}
                </td>
                <td>
                    <input type="{if ConfigHelper::checkPrivilege('hide_voip_passwords')}password{else}text{/if}" name="voipaccountedit[passwd]" value="{$voipaccountinfo.passwd}" {tip text="Enter password" trigger="passwd"}>
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-phone"}
            <tr>
                <td class="valign-top">
                    <img src="img/phone.gif" alt="{trans("Phone number:")}">
                </td>
                <td class="bold nobr valign-top" style="padding-top: 4px;">
                    {trans("Phone number:")}
                </td>
                <td class="valign-top" style="padding:0;">
                    <table id="phone_numbers_table" class="phone-table">
                        <tr>
                            <td><input type="tel" name="voipaccountedit[phone][0]" value="{$voipaccountinfo.phones[0].phone}" {tip trigger="phone0"}></td>
                            <td>
                                <div>
                                    {$pool_number_select}
                                    <span class="ui-icon ui-icon-closethick remove-number{if count($voipaccountinfo.phones) < 2} lms-ui-visibility-hidden{/if}"></span>
                                </div>
                            </td>
                        </tr>

                        {if isset($voipaccountinfo['phones'])}
                            {foreach $voipaccountinfo['phones'] as $k => $v}
                                {if $v@first || $v.phone==''}{continue}{/if}
                                <tr class="row">
                                    <td><input type="tel" name="voipaccountedit[phone][{$k}]" value="{$v.phone}" {tip trigger="phone{$k}"}></td>
                                    <td><div>{$pool_number_select} {$remove_number}</div></td>
                                </tr>
                            {/foreach}
                        {/if}
                    </table>
                    <a href="#" id="add_number"><span class="ui-icon ui-icon-plusthick"></span> {trans("add next")}</a>
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-status"}
            <tr>
                <td>
                    <img src="img/{if ! $voipaccountinfo.access}no{/if}access.gif" alt="">
                </td>
                <td class="bold nobr">
                    {trans("Status:")}
                </td>
                <td>
                    <select size="1" name="voipaccountedit[access]" {tip text="Select node status" trigger="access"}>
                        <option value="1"{if $voipaccountinfo.access} selected{/if}>{trans("connected<!singular>")}</option>
                        <option value="0"{if ! $voipaccountinfo.access} selected{/if}>{trans("disconnected<!singular>")}</option>
                    </select>
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-cost_limit"}
            <tr>
                 <td>
                    <i class="lms-ui-icon-money"></i>
                </td>
                <td class="bold nobr">
                    {trans("Cost limit:")}
                </td>
                <td>
                    {if ConfigHelper::checkPrivilege('superuser')}
                        <input type="text"
                               name="voipaccountedit[cost_limit]"
                               value="{$voipaccountinfo.cost_limit}"
                               placeholder="{trans("default")}: {ConfigHelper::getConfig('voip.default_cost_limit')|money_format}">
                    {else}
                        {$voipaccountinfo.cost_limit|money_format}
                    {/if}
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-balance"}
            <tr>
                <td>
                    <i class="lms-ui-icon-money"></i>
                </td>
                <td class="bold nobr">
                    {trans("Balance:<!voip>")}
                </td>
                <td>
					{if ConfigHelper::checkPrivilege('superuser')}
						<input type="text" name="voipaccountedit[balance]" value="{$voipaccountinfo.balance}">
					{else}
						{$voipaccountinfo.balance}
					{/if}
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-customer"}
            <tr>
                <td>
                    <i class="lms-ui-icon-customer" {tip text=trans("Customer:")}></i>
                </td>
                <td class="bold nobr" >
                    {trans("Customer:")}
                </td>
                <td>
                    {customerlist form="editvoipaccount" customers=$customers selected=$voipaccountinfo.ownerid selectname="voipaccountedit[customerid]" inputname="voipaccountedit[ownerid]" customOnChange="customer_change();"}
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-location"}
            <tr>
                <td>
                    <img src="img/home.gif" alt="{trans('Location:')}">
                </td>
                <td class="bold nobr">
                     {trans("Location:")}
                </td>
                <td>
                    <select id="customer_addresses" name="voipaccountedit[address_id]" {tip text="Select address" trigger="address_id"}></select>
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-flags"}
            <tr>
                <td class="valign-top">
                    <img src="img/settings.gif" alt="">
                </td>
                <td class="bold nobr valign-top" style="padding-top: 4px;">
                    {trans("Settings:")}
                </td>
                <td>
				    <input id="admin_record" type="checkbox" name="voipaccountedit[admin_record_flag]" value="yes"
				    {if $voipaccountinfo.flags & CALL_FLAG_ADMIN_RECORDING}checked{/if}>
                    <label for="admin_record">{trans("recording for operator")}</label><br>

					<input id="customer_record"	type="checkbox" name="voipaccountedit[customer_record_flag]" value="yes"
					{if $voipaccountinfo.flags & CALL_FLAG_CUSTOMER_RECORDING}checked{/if}>
                    <label for="customer_record">{trans("recording for customer")}</label>
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-events"}
            <tr>
                <td class="valign-top">
                    <i class="lms-ui-icon-description"></i>
                </td>
                <td class="bold nobr">
                    {trans("Created:")}
                    {if $voipaccountinfo.moddate}
                        <br>{trans("Modified:")}
                    {/if}
                </td>
                <td>
                    {$voipaccountinfo.createdby}, {$voipaccountinfo.creationdateh}
                    {if $voipaccountinfo.moddate}<br>{$voipaccountinfo.modifiedby}, {$voipaccountinfo.moddateh}{/if}
                </td>
            </tr>
            {/block}
            {block name="voipaccounteditbox-extra"}{/block}
            {block name="voipaccounteditbox-buttons"}
            <tr>
                <td class="text-right" colspan="3">
                    <a href="javascript:document.editvoipaccount.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
                    <a href="?m=voipaccountinfo&id={$voipaccountinfo.id}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
                </td>
            </tr>
            {/block}
        </tbody>
    </table>
</form>

<script type="text/javascript">
<!--
    var remove_number      = '{$remove_number}';
    var pool_number_select = '{$pool_number_select}';
    var customer_addresses = new LmsUiIconSelectMenu( "#customer_addresses" );

    $( function() {
        $('form[name="editvoipaccount"] [name="voipaccountedit[login]"]').focus();

        $i = {if !isset($phone_next_index)}0{else}{$phone_next_index}{/if};

        $('#add_number').on('click', function () {
            ++$i;
            var phone_number_input = '<input type="tel" name="voipaccountedit[phone]['+$i+']" {tip trigger="phone'+i+'"}>';
            $('#phone_numbers_table').append('<tr class="row"><td>' + phone_number_input + '</td><td><div>' + pool_number_select + ' ' + remove_number + '</div></td></tr>');
            if ($('#phone_numbers_table .remove-number').length < 2)
            	$('#phone_numbers_table .remove-number').addClass('lms-ui-visibility-hidden');
            else
            	$('#phone_numbers_table .remove-number').removeClass('lms-ui-visibility-hidden');
        });

        $( "body" ).on('click', '.remove-number', function() {
            $(this).closest('tr').remove();
            if ($('#phone_numbers_table .remove-number').length < 2)
            	$('#phone_numbers_table .remove-number').addClass('lms-ui-visibility-hidden');
            else
            	$('#phone_numbers_table .remove-number').removeClass('lms-ui-visibility-hidden');
        });

        $( "#phone_numbers_table" ).sortable({
            items: ">tbody tr",
            update: function(event, ui) {
                $.each( $( "#phone_numbers_table .remove-number" ), function( i ) {
                    if (i == 0 && !$( this ).hasClass( "lms-ui-visibility-hidden" )) {
                        $( this ).addClass( "lms-ui-visibility-hidden" );
                    } else if ( i != 0 && $( this ).hasClass( "lms-ui-visibility-hidden" ) ){
                        $( this ).removeClass( "lms-ui-visibility-hidden" );
                    }
                });
            }
        });
    });

    /*!
     * \brief Update addresses list on customer change.
     */
    function customer_change() {
        getCustomerAddresses($('[name="voipaccountedit[ownerid]"]').val(), function(addresses) {
            customer_addresses.setAddressList( addresses );
        });
    }

    getCustomerAddresses($('[name="voipaccountedit[ownerid]"]').val(), function(addresses) {
        customer_addresses.setAddressList(addresses);

        {if $voipaccountinfo.address_id}
        $( '#customer_addresses' ).val( {$voipaccountinfo.address_id} );
        {/if}

        customer_addresses.init();
    });
//-->
</script>
