{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}

{* check ID is set *}
{assign var="id_check" value="{if isset($listdata.id)}&id={$listdata.id}{/if}"}

{* check PAGE is set *}
{assign var="page_check" value="{if isset($listdata.page)}&page={$listdata.page}{/if}"}

{* check DIRECTION *}
{assign var="direction_check" value="{if $listdata.direction == "desc"}asc{else}desc{/if}"}

{* check ORDER is set *}
{function order_check category=''}
	{if $listdata.direction == "asc" && $listdata.order == $category},desc{/if}
{/function}

{* FILTERS *}
{assign var="filter_range" value="{if isset($listdata.frange) && $listdata.frange != "all"}&frange={$listdata.frange}{/if}"}
{assign var="filter_status" value="{if isset($listdata.fstatus) && $listdata.fstatus != "all"}&fstatus={$listdata.fstatus}{/if}"}


<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<table class="lmsbox">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 96%;">
        <col style="width: 1%;" span="8">
        {assign var="number_of_table_columns" value="10"}
    </colgroup>
    <thead>
        <tr {tip text="Click on column name to change sorting order"}>
            <th colspan="2" nowrap>
				<img src="img/customer.gif" alt="">
                <a href="?m=voipaccountbillinglist&amp;o=caller_name{order_check category="caller_name"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Customer:")}</a>
                {if $listdata.order == "caller_name"}
					<img src="img/{$direction_check}_order.gif" alt="">
                {/if}

				<a href="?m=voipaccountbillinglist&amp;o=callee_name{order_check category="callee_name"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Customer:")}</a>
                {if $listdata.order == "callee_name"}
					<img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>
            <th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=caller{order_check category="caller"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Caller:")}</a>
                {if $listdata.order == "caller"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>
            <th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=callee{order_check category="callee"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Callee:")}</a>
                {if $listdata.order == "callee"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>
            <th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=begintime{order_check category="begintime"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Begin time:")}</a>
                {if $listdata.order == "begintime"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>

			<th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=callbegintime{order_check category="callbegintime"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Call begin time:")}</a>
                {if $listdata.order == "callbegintime"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>

			<th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=callanswertime{order_check category="callanswertime"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Call answer time:")}</a>
                {if $listdata.order == "callanswertime"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>

			<th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=type{order_check category="type"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Connection type:")}</a>
                {if $listdata.order == "type"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>
			
			<th nowrap>
                <a href="?m=voipaccountbillinglist&amp;o=status{order_check category="status"}{$id_check}{$page_check}{$filter_range}{$filter_status}">{trans("Status:")}</a>
                {if $listdata.order == "status"}
                <img src="img/{$direction_check}_order.gif" alt="">
                {/if}
            </th>

            <th align="right" class="nobr">
                {t a=$total}Total: $a{/t}
            </th>
        </tr>
		<tr VALIGN="MIDDLE">
			<td colspan="{$number_of_table_columns}">
				<FORM method="get" action="?m={$layout.module}{$id_check}{$page_check}{$filter_range}{$filter_status}" name="choosefilter">
					<INPUT type="hidden" NAME="m" VALUE="voipaccountbillinglist">

					{if isset($listdata.order)}
						<INPUT type="hidden" NAME="o" VALUE="{$listdata.order}{if $listdata.direction == "desc"},desc{/if}">
					{/if}

					{if isset($listdata.id)}
						<INPUT type="hidden" NAME="id" VALUE="{$listdata.id}">
					{/if}

					{if isset($listdata.page)}
						<INPUT type="hidden" NAME="page" VALUE="{$listdata.page}">
					{/if}

					<span class="bold">{trans("Filter:")}</span>

					{trans("Begin time:")}
					<SELECT SIZE="1" NAME="frange" ONCHANGE="document.choosefilter.submit();">
						<OPTION VALUE="all">{trans("- all -")}</OPTION>
						<OPTION VALUE="today" {if $listdata.frange == 'today'} SELECTED{/if}>{trans("today")}</OPTION>
						<OPTION VALUE="yesterday" {if $listdata.frange == 'yesterday'} SELECTED{/if}>{trans("yesterday")}</OPTION>
						<OPTION VALUE="currentmonth"{if $listdata.frange == 'currentmonth'} SELECTED{/if}>{trans("current month")}</OPTION>
						<OPTION VALUE="lastmonth"{if $listdata.frange == 'lastmonth'} SELECTED{/if}>{trans("last month")}</OPTION>
						<OPTION VALUE="currentyear"{if $listdata.frange == 'currentyear'} SELECTED{/if}>{trans("current year")}</OPTION>
						<OPTION VALUE="lastyear"{if $listdata.frange == 'lastyear'} SELECTED{/if}>{trans("last year<!voip>")}</OPTION>
					</SELECT>

					{trans("Status:")}
					<SELECT SIZE="1" NAME="fstatus" ONCHANGE="document.choosefilter.submit();">
						<OPTION VALUE="all">{trans("- all -")}</OPTION>
						<OPTION VALUE="answered" {if $listdata.fstatus == 'answered'} SELECTED{/if}>{trans("answered")}</OPTION>
						<OPTION VALUE="noanswer" {if $listdata.fstatus == 'noanswer'} SELECTED{/if}>{trans("no answer")}</OPTION>
						<OPTION VALUE="busy"{if $listdata.fstatus == 'busy'} SELECTED{/if}>{trans("busy")}</OPTION>
					</SELECT>

					{trans("Status:")}
					<SELECT SIZE="1" NAME="ftype" ONCHANGE="document.choosefilter.submit();">
						<OPTION VALUE="all">{trans("- all -")}</OPTION>
						<OPTION VALUE="{CALL_INCOMING}" {if $listdata.ftype == CALL_INCOMING} SELECTED{/if}>{trans("incoming")}</OPTION>
						<OPTION VALUE="{CALL_OUTGOING}" {if $listdata.ftype == CALL_OUTGOING} SELECTED{/if}>{trans("outgoing")}</OPTION>
					</SELECT>

				</FORM>
			</td>
		</tr>
        {if $pagination->getTotal() != 0}
		<TR>
			<TD class="pagination" colspan="{$number_of_table_columns}">
				{include file="pagination.html"}
			</TD>
		</TR>
		{/if}
    </thead>
    <tbody>
        {cycle values="light,lucid" print=false}
        {section name=i loop=$billings start=(($page-1)*$pagelimit) max=$pagelimit}
			<tr class="highlight {cycle}">
				<td nowrap>
					<img src="img/customer.gif" alt="">&nbsp;

					{if !empty($billings[i].callerownerid)}
						<a href="?m=customerinfo&amp;id={$billings[i].callerownerid}" {tip a=$billings[i].callerownerid dynpopup='?m=customerinfoshort&amp;id=$a'}>
							{$billings[i].caller_name|ucfirst} {$billings[i].caller_lastname|lower|ucfirst}
						</a>
					{else}
						{trans("Customer from outside")}
					{/if}
				</td>

				<td nowrap>
					{trans("to")}

					{if !empty($billings[i].calleeownerid)}
						<a href="?m=customerinfo&amp;id={$billings[i].calleeownerid}" {tip a=$billings[i].calleeownerid dynpopup='?m=customerinfoshort&amp;id=$a'}>
							{$billings[i].callee_name|ucfirst} {$billings[i].callee_lastname|lower|ucfirst}
						</a>
					{else}
						{trans("customer from outside")}
					{/if}
				</td>

				<td>
					{if !empty($billings[i].callerownerid)}
						<a href="?m=customerinfo&amp;id={$billings[i].callerownerid}" {tip a=$billings[i].callerownerid dynpopup='?m=customerinfoshort&amp;id=$a'}>{$billings[i].caller}</a>
					{else}
						{$billings[i].caller}
					{/if}
				</td>

				<td>
					{if !empty($billings[i].calleeownerid)}
						<a href="?m=customerinfo&amp;id={$billings[i].calleeownerid}" {tip a=$billings[i].calleeownerid dynpopup='?m=customerinfoshort&amp;id=$a'}>{$billings[i].callee}</a>
					{else}
						{$billings[i].callee}
					{/if}
				</td>

				<td nowrap>
					{$billings[i].begintime|date_format:"%e %B %Y %H:%M:%S"}
				</td>

				<td>
					{if $billings[i].callbegintime>60}{floor($billings[i].callbegintime/60)}min{/if} {$billings[i].callbegintime%60}s
				</td>

				<td>
					{if $billings[i].callanswertime>60}{floor($billings[i].callanswertime/60)}min{/if} {$billings[i].callanswertime%60}s
				</td>
				
				<td>
					{if $billings[i].type == CALL_OUTGOING}
						{trans("outgoing")}
					{elseif $billings[i].type == CALL_INCOMING}
						{trans("incoming")}
					{/if}
				</td>

				<td nowrap>
					{if $billings[i].status == CALL_BUSY}
						{trans("busy")}
					{elseif $billings[i].status == CALL_ANSWERED}
						{trans("answered")}
					{elseif $billings[i].status == CALL_NO_ANSWER}
						{trans("no answer")}
					{/if}
				</td>
				<td align="right" class="nobr">
					<a href="?m=voipaccountinfo&amp;id={$billings[i].customerid}">
						<img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]">
					</a>
				</td>
			</tr>
        {sectionelse}
			<tr>
				<td class="empty-table" colspan="{$number_of_table_columns}">
					<p>{trans("No CDR records found in database.")}</p>
				</td>
			</tr>
        {/section}
    </tbody>
    <tfoot>
        {if $pagination->getTotal() != 0}
		<TR>
			<TD class="pagination" colspan="{$number_of_table_columns}">
				{include file="pagination.html"}
			</TD>
		</TR>
		{/if}
        <tr>
            <td class="bold text-right" colspan="{$number_of_table_columns}">
                {trans("Total:")} {if $total}{$total}{else}0{/if}
            </td>
        </tr>
    </tfoot>
</table>
{/block}
