{box title="Request history"}
<div class="table-responsive">
	<table class="table table-bordered table-striped table-condensed">
		<tr class="bg-primary text-white">
			<th>{trans("Number:")}</th>
			<th>{trans("Subject:")}</th>
		</tr>
		{section name=helpdesklist loop=$helpdesklist start=$limit}
			<tr {userpaneltip text="Click icon on the left to see request details"}>
				<td>{$helpdesklist[helpdesklist].id|string_format:"%06d"}</td>
				<td>
					<span class="badge" style="color: white; background-color:{$_RT_STATES[$helpdesklist[helpdesklist].state].color};">{$_RT_STATES[$helpdesklist[helpdesklist].state].label}</span>
					<a class="font-weight-bold" href="?m=helpdesk&op=view&id={$helpdesklist[helpdesklist].id}">
						{$helpdesklist[helpdesklist].subject|escape}
					</a>
					<br>
					<small class="text-muted">{trans("Date:")} {$helpdesklist[helpdesklist].createtime|date_format:"%Y/%m/%d %H:%M"} &nbsp; {trans("Last modified:")} {$helpdesklist[helpdesklist].lastmod|date_format:"%Y/%m/%d %H:%M"}</small>
				</td>
			</tr>
		{sectionelse}
			<tr>
				<td colspan="2" class="text-nowrap">
					{trans("No such requests in database.")}
				</td>
			</tr>
		{/section}
	</table>
</div>
{/box}
