<!--// $Id$ //-->
<table width="100%" bgcolor="#F4F0EC" CELLPADDING="3">
	<tr>
		<TD width="100%" class="fall"><B>
			<img src="img/settings.gif" ALT="" align="absmiddle" border="0">
			{t}Administration:{/t}
			<A href="?m=welcome" {tip text="Basic system informations"}>{t}Info{/t}</A> /
			<A href="?m=adminlist" {tip text="User list"}>{t}Users{/t}</A> /
			<A href="?m=adminadd" {tip text="New user"}>{t}New user{/t}</A> /
			<A href="?m=dblist" {tip text="Allows you to manage database backups"}>{t}Backups{/t}</A> /
			<A href="?m=configlist" {tip text="Allows you to configure UI"}>{t}UI config{/t}</A> /
			<A href="?m=copyrights" {tip text="copyrights, authors, etc."}>{t}Copyrights{/t}</A>
		</B></TD>
	</TR>
</table>													
