<!--// $Id$ //-->
<table width="100%" bgcolor="#F4F0EC" CELLPADDING="3">
	<TR>
		<TD width="1%" class="fleftu" VALIGN="top" NOWRAP>
			<B><img src="img/money.gif" ALT="" align="absmiddle" border="0">Finanse:</B>
		</TD>
		<TD width="99%" class="frightu"><B>
			<A href="?m=tarifflist" {tip text="List of subscription tariffs"}>{t}Tariff List{/t}</A> /
			<A href="?m=tariffadd" {tip text="Addition of new subscription tariff"}>{t}New tariff{/t}</A> /
			<A href="?m=paymentlist" {tip text="List of payments"}>{t}Payments List{/t}</A> /
			<A href="?m=paymentadd" {tip text="Addition of new payment"}>{t}New Payment{/t}</A> /
			<A href="?m=balancelist" {tip text="Network balance sheet"}>{t}Balance Sheet{/t}</A> /
			<A href="?m=balancenew" {tip text="Addition of new financial operation"}>{t}New balance{/t}</A> /
			<A href="?m=invoicelist" {tip text="List of exposed invoices"}>{t}Invoices List{/t}</A> /
			<A href="?m=invoicenew" {tip text="Exposing of new invoice"}>{t}New Invoice{/t}</A>
		</B></TD>
	</TR>
</table>													
