<!-- $Id$ -->
<table width="100%" bgcolor="#F4F0EC" CELLPADDING="3">
	<tr>
		<TD width="100%" class="fall"><B>
			<img src="img/money.gif" alt="" align="absmiddle" border="0">
			Finanse :
			<A href="?m=tarifflist" {tip text="Lista taryf abonamentowych obowi±zuj±cych w sieci"}>Lista taryf</A> /
			<A href="?m=tariffadd" {tip text="Dodanie nowej taryfy abonamentowej"}>Nowa taryfa</A> /
			<A href="?m=balancelist" {tip text="Zestawienie operacji finansowych sieci"}>Bilans Finansowy</A> /
			<A href="?m=balancenew" {tip text="Wprowadzenie nowej operacji finansowej"}>Nowa operacja</A> /
			<A href="?m=paymentlist" {tip text="Lista comiesiêcznych zleceñ/obci±¿eñ itp."}>Zlecenia sta³e</A> /
			<A href="?m=paymentadd" {tip text="Nowe zlecenie comiesiêczne"}>Nowe zlecenie</A>
		</B></TD>
	</TR>
</table>													
