{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
	<!--
	function DeleteMarked()
	{
		if(!confirm('{trans("Are you sure, you want to delete selected operation(s) and/or document item(s)?")}'))
			return;

		document.page.action="?m=balancedel";
		document.page.target="";
		document.page.submit();
	}

	function printr()
	{
		var add = "";
		if(document.page.original.checked && document.page.copy.checked)
			add = "";
		else if(document.page.original.checked && !document.page.copy.checked)
			add = "&which=original";
		else if(!document.page.original.checked && document.page.copy.checked)
			add = "&which=copy";

		document.page.action = "?m=receipt&print=cached&cash=1" + add;
		document.page.target = "_blank";
		document.page.submit();
	}

	function printi()
	{
		var add = "";
		if(document.page.original.checked)
			add = "&original=1";
		if(document.page.copy.checked)
			add += "&copy=1";
		if(document.page.duplicate.checked)
			add += "&duplicate=1";

		document.page.action="?m=invoice&print=cached&cash=1" + add;
		document.page.target="_blank";
		document.page.submit();
	}

	function filter()
	{
		document.page.action="?m=balancelist";
		document.page.target="";
		document.page.submit();
	}

	{if check_conf('phpui.short_pagescroller')}
	function pagechange1()
	{
		document.page.action="?m=balancelist&page=" + document.forms['page'].elements['page1'].value;
		document.page.target="";
		document.page.submit();
	}
	function pagechange2()
	{
		document.page.action="?m=balancelist&page=" + document.forms['page'].elements['page2'].value;
		document.page.target="";
		document.page.submit();
	}
	{/if}
	//-->
</script>
<form method="POST" name="page">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			{trans("Date:")}
		</td>
		<td width="1%" class="fbt">
			{trans("User:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("Liability:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("Income:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("Expense:")}
		</td>
		<td width="1%" class="fbt" align="center">&raquo;</td>
		<td width="1%" class="fbt" align="right">
			{trans("After:")}
		</td>
		<td width="1%" class="fbt">
			{trans("Customer:")}
		</td>
		<td width="91%" class="fbt">
			{trans("Description:")}
		</td>
		<td width="1%" class="frightu">&nbsp;</td>
	</tr>
	<tr class="DARK">
		<td class="fall" colspan="10">
			<strong>{trans("Filter:")} </strong>
				<input type="text" name="search" value="{$listdata.search}" size="15" {tip text="Enter value of searching data and select category"}>
				<select size="1" name="cat" style="width: 150px">
					<option value=""{if $listdata.cat eq ""} selected="selected"{/if}>{trans("- select category -")}</option>
					<option value="comment"{if $listdata.cat eq "comment"} selected="selected"{/if}>{trans("comment")}</option>
					<option value="cdate"{if $listdata.cat eq "cdate"} selected="selected"{/if}>{trans("date (YYYY/MM/DD)")}</option>
					<option value="number"{if $listdata.cat eq "number"} selected="selected"{/if}>{trans("document number")}</option>
					<option value="value"{if $listdata.cat eq "value"} selected="selected"{/if}>{trans("value")}</option>
					<option value="name"{if $listdata.cat eq "name"} selected="selected"{/if}>{trans("customer name")}</option>
					<option value="customerid"{if $listdata.cat eq "customerid"} selected="selected"{/if}>{trans("customer ID")}</option>
					<option value="ten"{if $listdata.cat eq "ten"} selected="selected"{/if}>{trans("TEN")}</option>
					<option value="address"{if $listdata.cat eq "address"} selected="selected"{/if}>{trans("address")}</option>
					<option value="documented"{if $listdata.cat eq "documented"} selected="selected"{/if}>{trans("with document")}</option>
					<option value="notdocumented"{if $listdata.cat eq "notdocumented"} selected="selected"{/if}>{trans("without document")}</option>
				</select>&nbsp;
				{trans("Group:")}
				<select size="1" name="group">
					<option value="0"{if !$listdata.group} selected="selected"{/if}>{trans("- all groups -")}</option>
					{section name="grouplist" loop=$grouplist}
					<option value="{$grouplist[grouplist].id}"{if $listdata.group eq $grouplist[grouplist].id} selected="selected"{/if}>{$grouplist[grouplist].name|truncate:40:"...":true}</option>
					{/section}
				</select>
				<span class="nobr">
				<input type="checkbox" name="groupexclude" id="groupexclude"{if $listdata.groupexclude} checked="checked"{/if}><label for="groupexclude">{trans("exclude group")}</label>
				</span>
				<span class="nobr">
				{trans("From:")}&nbsp;<input type="text" name="from" size="10" MAXSIZE="10" value="{if $listdata.from > 0}{$listdata.from|date_format:"%Y/%m/%d"}{/if}" OnClick="javascript:cal1.popup();" {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar"}>
				{trans("To:")}&nbsp;<input type="text" name="to" size="10" MAXSIZE="10" value="{if $listdata.to > 0}{$listdata.to|date_format:"%Y/%m/%d"}{/if}" OnClick="javascript:cal2.popup();"  {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar"}>&nbsp;
				<a href="javascript: filter();">&raquo;&raquo;&raquo;</a><br />
				</span>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="dark">
		<td width="100%" class="fall" colspan="10">
			{include file="scroller.html" loop=$balancelist scrollerno=1}
		</td>
	</tr>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=balancelist loop=$balancelist start=$start max=$pagelimit}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" class="fleft" nowrap="nowrap">
			{$balancelist[balancelist].time|date_format:"%Y/%m/%d %H:%M"}
		</td>
		<td width="1%" nowrap="nowrap">
			{if $balancelist[balancelist].userid}<span class="nobr">{$balancelist[balancelist].user|truncate:16:"...":true}</span>{else}-{/if}
		</td>
		<td width="1%" align="right" nowrap="nowrap">
			{if $balancelist[balancelist].covenant}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</td>
		<td width="1%" align="right" nowrap="nowrap">
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value > 0}{$balancelist[balancelist].value|money_format}{else}-{/if}
		</td>
		<td width="1%" align="right" nowrap="nowrap">
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value < 0}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</td>
		<td width="1%" align="center">
			&raquo;
		</td>
		<td width="1%" align="right" nowrap="nowrap">
			{if $balancelist[balancelist].covenant}
			-
			{else}
			{$balancelist[balancelist].after|money_format}
			{/if}
		</td>
		<td width="1%" nowrap="nowrap">
			{if $balancelist[balancelist].customerid}<span class="nobr"><a href="?m=customerinfo&id={$balancelist[balancelist].customerid}">{$balancelist[balancelist].customername|truncate:20:"...":true}</a></span>{else} - {/if}
		</td>
		<td width="91%">
			{$balancelist[balancelist].comment}
		</td>
		<td width="1%" class="fright" align="right" nowrap="nowrap">
			{if $balancelist[balancelist].docid}
				{if $balancelist[balancelist].doctype==$smarty.const.DOC_INVOICE}
				<a href="?m=invoice&id={$balancelist[balancelist].docid}" target="_BLANK"><img src="img/print.gif" alt="[ {trans("Invoice")} ]" {tip a=$balancelist[balancelist].docid dynpopup='?m=number&id=$a'}></a>
				{elseif $balancelist[balancelist].doctype==$smarty.const.DOC_CNOTE}
				<a href="?m=invoice&id={$balancelist[balancelist].docid}" target="_BLANK"><img src="img/printn.gif" alt="[ {trans("Credit note")} ]" {tip a=$balancelist[balancelist].docid dynpopup='?m=number&id=$a'}></a>
				{elseif $balancelist[balancelist].doctype==$smarty.const.DOC_RECEIPT}
				<a href="?m=receipt&id={$balancelist[balancelist].docid}" target="_BLANK"><img src="img/printr.gif" alt="[ {trans("Cash receipt")} ]" {tip a=$balancelist[balancelist].docid dynpopup='?m=number&id=$a'}></a>
				{elseif $balancelist[balancelist].doctype==$smarty.const.DOC_DNOTE}
				<a href="?m=note&id={$balancelist[balancelist].docid}" target="_BLANK"><img src="img/printd.gif" alt="[ {trans("Debit note")} ]" {tip a=$balancelist[balancelist].docid dynpopup='?m=number&id=$a'}></a>
				{/if}
			{/if}
			<input type="checkbox" name="marks[{$balancelist[balancelist].id}]" value="{$balancelist[balancelist].id}">
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td width="100%" class="fall" align="center" colspan="10">
			<P>&nbsp;<?P>
			<P><strong>{trans("No such transactions found in database.")}</strong></P>
			<P>&nbsp;</P>
		</td>
	</tr>
	{/section}
	<tr class="dark">
		<td class="fleftu" colspan="8" nowrap="nowrap">
			<a href="javascript:DeleteMarked();">{trans("Delete")} <img src="img/delete.gif" alt="{trans("Delete")}" HSPACE="2"></a>&nbsp;
			<a href="javascript:printi();">{trans("Print invoices")} <img src="img/print.gif" alt="" HSPACE="2"></a>&nbsp;
			<a href="javascript:printr();">{trans("Print cash receipts")} <img src="img/printr.gif" alt="" HSPACE="2"></a>&nbsp;
			<input type="checkbox" name="original" id="original"{if preg_match('/original/i', get_conf('invoices.default_printpage'))} checked="checked"{/if}><label for="original">{trans("original")}</label>
			<input type="checkbox" name="copy" id="copy"{if preg_match('/copy/i', get_conf('invoices.default_printpage'))} checked="checked"{/if}><label for="copy">{trans("copy")}</label>
			<input type="checkbox" name="duplicate" id="duplicate"{if preg_match('/duplicate/i', get_conf('invoices.default_printpage'))} checked="checked"{/if}><label for="duplicate">{trans("duplicate")}</label>
		</td>
		<td class="frightu" align="right" colspan="2">
			<label for="allbox">{trans("Check All")}</label><input type="checkbox" name="allbox" id="allbox" onchange="CheckAll('page', this, ['original', 'duplicate', 'copy'])" value="1">
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="dark">
		<td width="100%" class="fall" colspan="10">
			{include file="scroller.html" loop=$balancelist scrollerno=2}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="2" align="right" class="fleftu" nowrap="nowrap">
			<strong>{trans("Total:")}</strong><br />
		</td>
		<td nowrap="nowrap" class="fbt" align="right">
			<strong>{$listdata.liability|money_format}</strong>
		</td>
		<td nowrap="nowrap" class="fbt" align="right">
			<strong>{$listdata.income|money_format}</strong>
		</td>
		<td nowrap="nowrap" class="fbt" align="right">
			<strong>{$listdata.expense|money_format}</strong>
		</td>
		<td nowrap="nowrap" class="fbt" align="right" colspan="2">
		</td>
		<td nowrap="nowrap" class="fbt" align="right">
			<strong>{trans("Balance:")}</strong>
		</td>
		<td nowrap="nowrap" class="fbt" align="left">
			<strong>{$listdata.totalval|money_format}</strong>
		</td>
		<td class="frightu">&nbsp;
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.page.elements['from']);
cal1.time_comp = false;
var cal2 = new calendar(document.page.elements['to']);
cal2.time_comp = false;
//-->
</script>
{include file="footer.html"}
