{include file="header.html"}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
{literal}
<!--
	function AddBalance()
	{
		var group = document.forms['addbalance'].elements['addbalance[type]'];
	
		for(var i=0; i<group.length; i++)
			if(group[i].checked) 
			{
				var type = group[i].value;
				break;
			}
		
		if(i==group.length) 
		{
			alert('{/literal}{t}You must select type of operation!{/t}{literal}');
			return;
		}

		if((type==3 || type==4) && document.forms['addbalance'].elements['selectededit'].value==0)
		{
			alert('{/literal}{t}You must select customer(s)!{/t}{literal}');
			return;
		}
		
		document.forms['addbalance'].submit();
	}

	function CheckCharge(i)
	{
		document.forms['addbalance'].elements['addbalance[type]'][i].checked = true;
	}

	function CountSelectedUsers()
	{
		var j = 0;
		for (var i = 0; i < document.forms['addbalance'].elements[0].length; i++) {
			if (document.forms['addbalance'].elements[0].options[i].selected)
				j++;
			}
		document.forms['addbalance'].selectededit.value = j;
	}
//-->
{/literal}
</SCRIPT>
<H1>{$layout.pagetitle}</H1>
<P><FORM NAME="addbalance" METHOD="POST" ACTION="?m=balanceadd">
<TABLE width="100%" cellpadding="3">
	<TR>
		<TD WIDTH="1%" VALIGN="TOP">
			<TABLE width="100%" cellpadding="3">
				<TR CLASS="DARK">
					<TD CLASS="FALL">
						<IMG SRC="img/user.gif" ALT="" ALIGN="absmiddle" BORDER="0">&nbsp;<B>{t}Customers:{/t}</B>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD CLASS="FALL">
						{t}Select customers which has to concern new operation. If operation isn't customer payment or covenant, system will ignore list of customers.{/t}<BR><BR>
						<SELECT size="20" name="addbalance[muserid][]" onChange="javascript:CountSelectedUsers();" multiple>
							{section name=users loop=$users}
							<OPTION value="{$users[users].id}">{$users[users].username|truncate:50:" ..."} ({$users[users].id|string_format:"%04d"})</OPTION>
							{/section}
						</SELECT>
						{t}Selected:{/t} <INPUT TYPE="edit" NAME="selectededit" VALUE="0" SIZE="5" STYLE="border:0; background-color: #DFD5BD;" readonly></INPUT>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD WIDTH="99%" VALIGN="TOP">
			<TABLE WIDTH="100%" CELLPADDING="3">
				<TR CLASS="DARK">
					<TD CLASS="FALL" COLSPAN="3">
						<IMG SRC="img/money.gif" ALT="" ALIGN="absmiddle" BORDER="0">&nbsp;<B>{t}Operation type:{/t}</B>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD CLASS="FALL" COLSPAN="3">
						<P><INPUT TYPE="radio" NAME="addbalance[type]" VALUE="1" STYLE="border-width: 0pt; background-color: #DFD5BD;" {if $operation == 1}checked{/if}> <B><A href="javascript:CheckCharge(0);">{t}income{/t}</A></B><BR>{t}money earned by network, e.g. in result of sale network devices to customers{/t}</P>
						<P><INPUT TYPE="radio" NAME="addbalance[type]" VALUE="2" STYLE="border-width: 0pt; background-color: #DFD5BD;" {if $operation == 2}checked{/if}> <B><A href="javascript:CheckCharge(1);">{t}expense{/t}</A></B><BR>{t}money spent by network, e.g. to acquire physical assets, ISP payments, etc.{/t}</P>
						<P><INPUT TYPE="radio" NAME="addbalance[type]" VALUE="3" STYLE="border-width: 0pt; background-color: #DFD5BD;" {if $operation == 3}checked{/if}> <B><A href="javascript:CheckCharge(2);">{t}customer payment{/t}</A></B><BR>{t}money that payed customer for subscription{/t}</P>
						<P><INPUT TYPE="radio" NAME="addbalance[type]" VALUE="4" STYLE="border-width: 0pt; background-color: #DFD5BD;" {if $operation == 4}checked{/if}> <B><A href="javascript:CheckCharge(3);">{t}customer covenant{/t}</A></B><BR>{t}customer account covenants, e.g. extra service charge{/t}</P>
					</TD>
				</TR>
				<TR><TD>&nbsp;</TD></TR>
				<TR CLASS="DARK">
					<TD CLASS="FALL" COLSPAN="3">
						<IMG SRC="img/money.gif" ALT="" ALIGN="absmiddle" BORDER="0">&nbsp;<B>{t}Value and description:{/t}</B>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD WIDTH="1%" CLASS="FLEFT">
						<IMG SRC="img/value.gif" ALT="" ALIGN="absmiddle" BORDER="0">
					</TD>
					<TD WIDTH="1%">
						<B>{t}Value:{/t}</B>
					</TD>
					<TD WIDTH="98%" CLASS="FRIGHT">
						<INPUT TYPE="TEXT" NAME="addbalance[value]" VALUE="{$value}" SIZE="15" {tip text="Enter value of operation"}><BR>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD WIDTH="1%" CLASS="FLEFT">
						<IMG SRC="img/tax.gif" ALT="" ALIGN="absmiddle" BORDER="0">
					</TD>
					<TD WIDTH="1%">
						<B>{t}Tax:{/t}</B>
					</TD>
					<TD WIDTH="98%" CLASS="FRIGHT">
						<SELECT size="1" name="addbalance[taxvalue]" value="{$taxvalue}" {tip text="Select Tax rate"}>
							<OPTION value="22" {if $taxvalue == "22" || !$taxvalue}selected{/if}>22%</OPTION>
							<OPTION value="7" {if $taxvalue == "7"}selected{/if}>7%</OPTION>
							<OPTION value="0" {if $taxvalue == "0"}selected{/if}>0%</OPTION>
							<OPTION value="tax-free" {if $taxvalue=="" || $taxvalue=="tax-free"}selected{/if}>{t}tax-free{/t}</OPTION>
						</SELECT>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD WIDTH="1%" class="FLEFT">
						<IMG SRC="img/calendar.gif" ALT="" ALIGN="absmiddle" BORDER="0">
					</TD>
					<TD WIDTH="1%">
						<B>{t}Date:{/t}</B>
					</TD>
					<TD WIDTH="98%" class="fright">
						<INPUT TYPE="TEXT" NAME="addbalance[time]" VALUE="{$time}" SIZE="15" MAXSIZE="15" OnClick="javascript:cal1.popup();" {tip text="Enter date in format 'yyyy/mm/dd hh:mm' (empty field means current date) or click to choose date from calendar"}>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD WIDTH="1%" class="FLEFT">
						<IMG SRC="img/info1.gif" ALT="" ALIGN="absmiddle" BORDER="0">
					</TD>
					<TD WIDTH="1%">
						<B>{t}Description:{/t}</B>
					</TD>
					<TD WIDTH="98%" class="fright">
						<INPUT TYPE="TEXT" NAME="addbalance[comment]" VALUE="{$comment}" SIZE="50" {tip text="Enter comment"}>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD CLASS="fbottomu" ALIGN="right" COLSPAN="3">
						<A HREF="javascript:AddBalance();" ACCESSKEY="s" >{t}Submit{/t} <IMG SRC="img/save.gif" BORDER="0" ALT=""></A>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</FORM>
</P>
<SCRIPT>
<!--
var cal1 = new calendar(document.forms['addbalance'].elements['addbalance[time]']);
//-->
</SCRIPT>
{include file="footer.html"}
