{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD width="1%" class="fleftu" NOWRAP>
			<IMG src="img/time.gif" alt=""><A href="?m=cashreglogview&o=time{if $listdata.direction eq "asc" && $listdata.order eq "time"},desc{/if}">{t}Date:{/t}</A> {if $listdata.order eq "time"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="fbt" align="right" NOWRAP>
			<A href="?m=cashreglogview&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{t}Value:{/t}</A> {if $listdata.order eq "value"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="fbt" align="left" NOWRAP>
			<A href="?m=cashreglogview&o=username{if $listdata.direction eq "asc" && $listdata.order eq "username"},desc{/if}">{t}User:{/t}</A> {if $listdata.order eq "username"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="96%" class="fbt" NOWRAP>
			<A href="?m=cashreglogview&o=description{if $listdata.direction eq "asc" && $listdata.order eq "description"},desc{/if}">{t}Description:{/t}</A> {if $listdata.order eq "description"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="frightu" NOWRAP>
			<a href="?m=cashreglogadd&regid={$listdata.regid}">{t}Add entry{/t} <img src="img/save.gif" alt=""></a>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="5" CLASS="FALL">
			{include file="scroller.html" loop=$cashreglog}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=cashreglog loop=$cashreglog start=$start max=$pagelimit}
	<TR class="{cycle}{if ($cashreglog[cashreglog].validfrom !=0 && $cashreglog[cashreglog].validfrom > $smarty.now) || ($cashreglog[cashreglog].validto !=0 && $cashreglog[cashreglog].validto < $smarty.now)} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD class="fleft" NOWRAP>
			<IMG src="img/time.gif" alt=""> {$cashreglog[cashreglog].time|date_format:"%x %H:%M"}
		</TD>
		<TD align="right" NOWRAP>
			{$cashreglog[cashreglog].value|money_format}
		</TD>
		<TD align="left" NOWRAP>
			<A href="?m=userinfo&id={$cashreglog[cashreglog].userid}">{$cashreglog[cashreglog].username|truncate:16:"...":true}</A>
		</TD>
		<TD align="left" NOWRAP>
			{$cashreglog[cashreglog].description|replace:"\n":"<BR>"}
		</TD>
		<TD class="fright" align="right" NOWRAP>
			<A href="?m=cashreglogedit&id={$cashreglog[cashreglog].id}"><IMG src="img/edit.gif" alt="[ {t}Edit{/t} ]" title="[ {t}Edit{/t} ]"></A>
			<A href="?m=cashreglogdel&id={$cashreglog[cashreglog].id}" OnClick="return confirmLink(this, '{t}Are you sure, you want to delete selected entry?{/t}')"><IMG src="img/delete.gif" alt="[ {t}Delete{/t} ]" title="[ {t}Delete{/t} ]"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="5" align="center" class="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such cash history entries in database.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="5" CLASS="FALL">
			{include file="scroller.html" loop=$cashreglog}
		</TD>
	</TR>
	{/if}
	<TR class="light">
		<TD colspan="5" class="fall" align="right">
			<A href="?m=cashreglogadd&regid={$listdata.regid}">{t}Add entry{/t} <img src="img/save.gif" alt=""></a>
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
