{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<table cellpadding="3" width="100%">
	<tr class="dark">
		<td width="1%" class="fleftu" nowrap="nowrap">
			<img src="img/time.gif" alt=""><a href="?m=cashreglogview&o=time{if $listdata.direction eq "asc" && $listdata.order eq "time"},desc{/if}">{trans("Date:")}</a> {if $listdata.order eq "time"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap="nowrap">
			<a href="?m=cashreglogview&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{trans("Real state:")}</a> {if $listdata.order eq "value"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap="nowrap">
			<a href="?m=cashreglogview&o=snapshot{if $listdata.direction eq "asc" && $listdata.order eq "snapshot"},desc{/if}">{trans("Cash state:")}</a> {if $listdata.order eq "snapshot"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="left" nowrap="nowrap">
			<a href="?m=cashreglogview&o=username{if $listdata.direction eq "asc" && $listdata.order eq "username"},desc{/if}">{trans("User:")}</a> {if $listdata.order eq "username"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="95%" class="fbt" nowrap="nowrap">
			<a href="?m=cashreglogview&o=description{if $listdata.direction eq "asc" && $listdata.order eq "description"},desc{/if}">{trans("Description:")}</a> {if $listdata.order eq "description"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="frightu" nowrap="nowrap">
			<a href="?m=cashreglogadd&regid={$listdata.regid}">{trans("Add entry")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="DARK">
		<td colspan="6" class="FALL">
			{include file="scroller.html" loop=$cashreglog}
		</td>
	</tr>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=cashreglog loop=$cashreglog start=$start max=$pagelimit}
	<tr class="{cycle}{if ($cashreglog[cashreglog].validfrom !=0 && $cashreglog[cashreglog].validfrom > $smarty.now) || ($cashreglog[cashreglog].validto !=0 && $cashreglog[cashreglog].validto < $smarty.now)} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" nowrap="nowrap" onclick="location.href='?m=cashregloginfo&id={$cashreglog[cashreglog].id}'">
			<img src="img/time.gif" alt=""> {$cashreglog[cashreglog].time|date_format:"%x %H:%M"}
		</td>
		<td align="right" nowrap="nowrap" onclick="location.href='?m=cashregloginfo&id={$cashreglog[cashreglog].id}'">
			{$cashreglog[cashreglog].value|money_format}
		</td>
		<td align="right" nowrap="nowrap" onclick="location.href='?m=cashregloginfo&id={$cashreglog[cashreglog].id}'">
			{$cashreglog[cashreglog].snapshot|money_format}
		</td>
		<td align="left" nowrap="nowrap" onclick="location.href='?m=cashregloginfo&id={$cashreglog[cashreglog].id}'">
			<a href="?m=userinfo&id={$cashreglog[cashreglog].userid}">{$cashreglog[cashreglog].username|truncate:16:"...":true}</a>
		</td>
		<td align="left" nowrap="nowrap" onclick="location.href='?m=cashregloginfo&id={$cashreglog[cashreglog].id}'">
			{$cashreglog[cashreglog].description|replace:"\n":"<br />"}
		</td>
		<td class="fright" align="right" nowrap="nowrap">
			<a href="?m=cashregloginfo&id={$cashreglog[cashreglog].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			<a href="?m=cashreglogedit&id={$cashreglog[cashreglog].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=cashreglogdel&id={$cashreglog[cashreglog].id}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete selected entry?")}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="6" align="center" class="fall">
			<p>&nbsp;</p>
			<p><strong>{trans("No such cash history entries in database.")}</strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="DARK">
		<td colspan="6" class="FALL">
			{include file="scroller.html" loop=$cashreglog}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="6" class="fall" align="right">
			<a href="?m=cashreglogadd&regid={$listdata.regid}">{trans("Add entry")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table>
{include file="footer.html"}
