{include file="header.html"}
<!-- $Id$ -->
<H1><B>{$layout.pagetitle}</B></H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR CLASS="dark">
		<TD CLASS="fleftu" WIDTH="1%" nowrap>
			<img src="img/isource.gif" alt=""><B>{t}Name:{/t}</B>
		</TD>
		<TD CLASS="fbt" WIDTH="1%" NOWRAP>
			{t}ID:{/t}
		</TD>
		<TD CLASS="fbt" WIDTH="97%">
			{t}Description:{/t}
		</TD>
		<TD CLASS="frightu" WIDTH="1%" nowrap>
			<A href="?m=cashsourceadd">{t}Add source{/t} <img src="img/save.gif" alt=""></A>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{foreach from=$sourcelist item=source}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD CLASS="fleft" onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'" nowrap>
			<IMG src="img/isource.gif" alt="">
			<B>{$source.name}</B>
		</TD>
		<TD onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'">
			({$source.id|string_format:"%04d"})
		</TD>
		<TD onClick="return self.location.href='?m=cashsourceedit&id={$source.id}'">
			{$source.description}
		</TD>
		<TD CLASS="fright" align="right" NOWRAP>
			<A HREF="?m=cashsourceedit&id={$source.id}"><IMG src="img/edit.gif" alt="[ {t}Edit{/t} ]" title="[ {t}Edit{/t} ]"></A>
			<A HREF="?m=cashsourcedel&id={$source.id}" OnClick="return confirmLink(this, '{t 0=$source.name}Are you sure, you want to remove source \'$0\'?{/t}');"><IMG src="img/delete.gif" alt="[ {t}Delete{/t} ]" title="[ {t}Delete{/t} ]"></A>
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD colspan="4" align="center" class="flr">
			<p>&nbsp;</p>
			<p><B>{t}There are no sources in database.{/t}<B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/foreach}
	<TR CLASS="dark">
		<TD colspan="4" class="fall" align="right">
			<A href="?m=cashsourceadd">{t}Add source{/t} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
