{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD width="1%" class="fleftu" NOWRAP>
			<IMG src="img/settings.gif" alt=""><A href="?m=configlist&o=var{if $listdata.direction eq "asc" && $listdata.order eq "var"},desc{/if}"> <B>{trans("Name:")}</B></A> {if $listdata.order eq "var"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<IMG src="img/empty.gif" alt="" width="16" height="16"><A href="?m=configlist&o=section{if $listdata.direction eq "asc" && $listdata.order eq "section"},desc{/if}"> {trans("Section:")}</A> {if $listdata.order eq "section"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="fbt" align="center">
			{trans("Value:")}
		</TD>
		<TD width="97%" class="fbt" align="center">
			{trans("Comment:")}
		</TD>
		<TD width="1%" class="frightu" align="right" nowrap>
			<A href="?m=configadd{if $listdata.section}&section={$listdata.section}{/if}">{trans("Add option")} <IMG src="img/save.gif" alt=""> </A>
		</TD>
	</TR>
	<TR class="DARK">
		<TD class="fall" colspan="4">
			<FORM method="GET" action="?m=configlist" name="filter">
				<INPUT type="submit" class="hiddenbtn">
				<INPUT type="HIDDEN" name="m" value="configlist">
				<INPUT type="HIDDEN" name="page" value="1">
				<B>{trans("Filter:")} </B> {trans("Section:")}
				<SELECT size="1" name="s" OnChange="document.filter.submit();">
					<OPTION value=""{if !$listdata.section} SELECTED{/if}>{trans("- all -")}</OPTION>
					<OPTION value="phpui"{if $listdata.section eq "phpui"} SELECTED{/if}>phpui</OPTION>
					<OPTION value="invoices"{if $listdata.section eq "invoices"} SELECTED{/if}>invoices</OPTION>
					<OPTION value="receipts"{if $listdata.section eq "receipts"} SELECTED{/if}>receipts</OPTION>
					<OPTION value="finances"{if $listdata.section eq "finances"} SELECTED{/if}>finances</OPTION>
					<OPTION value="mail"{if $listdata.section eq "mail"} SELECTED{/if}>mail</OPTION>
					<OPTION value="sms"{if $listdata.section eq "sms"} SELECTED{/if}>sms</OPTION>
					 <OPTION value="zones"{if $listdata.section eq "zones"} SELECTED{/if}>zones</OPTION>
				</SELECT>
				{trans("Option")}:
				<INPUT type="text" name="n" value="{$listdata.search}" size="15" {tip text="Enter option name"}>
				&nbsp;<A href="javascript: document.filter.submit();">&raquo;&raquo;&raquo;</A>
			</FORM>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			{include file="scroller.html" loop=$configlist}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=configlist loop=$configlist start=$start max=$pagelimit}
	<TR class="{cycle}{if $configlist[configlist].disabled} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD class="fleft" valign="top" NOWRAP OnClick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			<IMG src="img/settings.gif" alt=""><B> {$configlist[configlist].var}</B><BR>
			<IMG src="img/empty.gif" alt="" width="16" height="16"> [{$configlist[configlist].section}]
		</TD>
		<TD align="right" valign="top" OnClick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			{$configlist[configlist].value|escape}
		</TD>
		<TD valign="top" OnClick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			{$configlist[configlist].description|truncate:400:"..."}
			{if $configlist[configlist].usercomment != ''}<BR><B>{trans("Comment:")}</B> {$configlist[configlist].usercomment|truncate:400:"..."}{/if}
		</TD>
		<TD class="fright" align="right" nowrap>
			<A href="?m=configedit&id={$configlist[configlist].id}&statuschange=1"><IMG src="img/wait.gif" alt="[ {if $configlist[configlist].disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]" title="[ {if $configlist[configlist].disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]"></A>
			<A href="?m=configdel&id={$configlist[configlist].id}" OnClick="return confirmLink(this, '{t a=$configlist[configlist].var}Are you sure, you want to delete option \'$a\' from database?{/t}');"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
			<A href="?m=configedit&id={$configlist[configlist].id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="4" align="center" class="fall">
			<p>&nbsp;</p>
			<p><B>
			    {if $listdata.search}
			        {trans("No configuration options in database.")}
			    {else}
			        {trans("No configuration options in database.")} {t}Click <A href="?m=configload">here</A> to import them from lms.ini.{/t}
			    {/if}
			    </B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			{include file="scroller.html" loop=$configlist}
		</TD>
	</TR>
	{/if}
	<TR CLASS="DARK">
		<TD colspan="4" class="FALL" align="right">
			<A href="?m=configadd{if $listdata.section}&section={$listdata.section}{/if}">{trans("Add option")} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>

</TABLE></P>
{include file="footer.html"}
