<!--// $Id$ //-->
<SCRIPT type="text/javascript">
<!--
	function randomize()
	{
		if (document.customeredit.elements['customerdata[pin]'].value != '')
			if (!confirm('{trans("Are you sure, you want to generate new PIN?")}'))
				return;

		var r = 0;
		do
			r = Math.floor(Math.random()*1000000-1);
		while (r<1000);
		document.customeredit.elements['customerdata[pin]'].value = r;
	}

	function newcontact()
	{
		var contactscountelem = document.getElementById('contactscount');
		var nr = contactscountelem.value;
		var lastcontactelem = document.getElementById('contact' + (nr - 1));
		var newrow = lastcontactelem.parentNode.insertRow(lastcontactelem.rowIndex + 1);
		newrow.className = 'LIGHT';
		newrow.id = 'contact' + nr;
		var newcell1 = newrow.insertCell(0);
		var newcell2 = newrow.insertCell(1);
		var newcell3 = newrow.insertCell(2);
		newcell1.style.verticalAlign = 'top';
		newcell1.style.width = '1%';
		newcell1.innerHTML = '<IMG src="img/phone.gif" alt="">';
		newcell2.style.verticalAlign = 'top';
		newcell2.style.width = '1%';
		newcell2.innerHTML = '<nobr>{trans("Contact")}:</nobr>';
		newcell3.style.width = '98%';
		newcell3.style.whiteSpace = 'nowrap';
		newcell3.innerHTML = '<INPUT TYPE="text" size="15" value="" name="customerdata[contacts][' + nr + '][phone]"'
				+ ' onmouseover="popup(\'{trans("Enter contact phone")}\')" onmouseout="pophide()">'
			+ '<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_MOBILE}"'
				+ ' name="customerdata[contacts][' + nr + '][type][]" ID="chkmobile' + nr + '"><label for="chkmobile' + nr + '">{trans("mobile")}</label>'
			+ '<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_FAX}"'
				+ ' name="customerdata[contacts][' + nr + '][type][]" ID="chkfax' + nr + '"><label for="chkfax' + nr + '">{trans("fax")}</label>'
			+ '<BR><INPUT TYPE="text" size="38" value="" name="customerdata[contacts][' + nr + '][name]"'
				+ ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
		contactscountelem.value = parseInt(nr) + 1;
	}
//-->
</SCRIPT>
<FORM NAME="customeredit" id="customeredit" METHOD="POST" ACTION="?m=customeredit&id={$customerinfo.id}{if $recover}&action=recover{/if}"><INPUT TYPE="HIDDEN" NAME="customerdata[id]" VALUE="{$customerinfo.id}">
<INPUT type="submit" class="hiddenbtn">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="100%" CLASS="FALL" NOWRAP>
		        <TABLE WIDTH="100%" CELLPADDING="1">
				<TR>
					<TD WIDTH="1%"><B>{trans("Name/Surname:")}</B></TD>
					<TD WIDTH="99%"><INPUT TYPE="TEXT" SIZE="50" NAME="customerdata[lastname]" VALUE="{$customerinfo.lastname|escape}" {tip text="Enter first/lastname of customer" trigger="lastname" bold=1}></TD>
				</TR>
				<TR>
					<TD WIDTH="1%"><B>{trans("First name:")}</B></TD>
					<TD WIDTH="99%"><INPUT TYPE="TEXT" SIZE="50" NAME="customerdata[name]" VALUE="{$customerinfo.name|escape}" {tip text="Enter first name of customer (optional)" trigger="name" bold=1}></TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
        <TR class="LIGHT">
            <TD WIDTH="100%" CLASS="flr container">
		        <TABLE WIDTH="100%" CELLPADDING="0">
				<TR CLASS="LIGHT">
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			{if $customerinfo.status eq "3"}<IMG SRC="img/customer.gif" ALT="">{/if}
			{if $customerinfo.status eq "2"}<IMG SRC="img/wait.gif" ALT="">{/if}
			{if $customerinfo.status eq "1"}<IMG SRC="img/unk.gif" ALT="">{/if}
		</TD>
		<td width="1%"><nobr>{trans("Status")}:</nobr></td>
		<TD WIDTH="98%">
			<input type="radio" value="3" name="customerdata[status]" id="status3" {if $customerinfo.status eq 3 || !$customerinfo.status} checked{/if}  {tip text="Select customer state" trigger="status"}><label for="status3">{trans("connected<!singular>")}</label>
			<input type="radio" value="2" name="customerdata[status]" id="status2" {if $customerinfo.status eq 2} checked{/if}  {tip text="Select customer state"}><label for="status2">{trans("waiting")}</label>
			<input type="radio" value="1" name="customerdata[status]" id="status1" {if $customerinfo.status eq 1} checked{/if}  {tip text="Select customer state"}><label for="status1">{trans("interested<!singular>")}</label>
		</TD>
	</TR>
	{if $divisions}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/division.gif" ALT="">
		</TD>
		<td width="1%"><nobr>{trans("Division")}:</nobr></td>
		<TD WIDTH="98%" NOWRAP>
			<SELECT size="1" name="customerdata[divisionid]" {tip text="Select division" trigger="divisionid"}>
    			{foreach from=$divisions item=item}{if !$item.status || $item.id == $customerinfo.divisionid}
	    			<OPTION VALUE="{$item.id}"{if $customerinfo.divisionid == $item.id} SELECTED{/if}>{$item.shortname}</OPTION>
		        {/if}{/foreach}
			</SELECT>
		</TD>
	</TR>
	{/if}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/folder.gif" ALT="">
		</TD>
		<td width="1%"><nobr>{trans("Legal status")}:</nobr></td>
		<TD WIDTH="98%" NOWRAP>
			<INPUT TYPE="radio" NAME="customerdata[type]" VALUE="{$smarty.const.CUSTOMER_PRIVATE}" ID="private" {tip text="Select legal personality type" trigger="type"}{if $customerinfo.type == $smarty.const.CUSTOMER_PRIVATE} CHECKED{/if}><label for="private">{$_CUSTYPES[$smarty.const.CUSTOMER_PRIVATE]}</label>
			<INPUT TYPE="radio" NAME="customerdata[type]" VALUE="{$smarty.const.CUSTOMER_LEGAL}" ID="company" {tip text="Select legal personality type" trigger="type"}{if $customerinfo.type == $smarty.const.CUSTOMER_LEGAL} CHECKED{/if}><label for="company">{$_CUSTYPES[$smarty.const.CUSTOMER_LEGAL]}</label>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
    		<TD width="1%" NOWRAP>{trans("Address:")}</TD>
	    	<TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[address]" id="address" VALUE="{$customerinfo.address}" SIZE="30" {tip text="Enter address" trigger="address"}></TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("City:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[city]" id="city" VALUE="{$customerinfo.city}" SIZE="30" {tip text="Enter city"}></TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
    	    <TD width="1%" NOWRAP>{trans("Zip:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[zip]" id="zip" VALUE="{$customerinfo.zip}" SIZE="10" {tip text="Enter zip code" trigger="zip"}></TD>
    	    {if $customerinfo.zipwarning}
		<INPUT TYPE="HIDDEN" NAME="customerdata[zipwarning]" VALUE="1">
	    {/if}
	</TR>
	{if $cstateslist}
	    <TR>
		<TD width="1%"></TD>
		<TD width="1%" NOWRAP>{trans("State:")}</TD>
		<TD width="98%">
		<SELECT NAME="customerdata[stateid]" {tip text="Select country state (optional)" trigger="stateid"}>
		        <OPTION value="0"></OPTION>
		        {foreach from=$cstateslist item=item key=key}
		            <OPTION value="{$key}"{if $key==$customerinfo.stateid} SELECTED{/if}>{$item.name}</OPTION>
		        {/foreach}
		</SELECT>
		</TD>
	    </TR>
        {/if}
        {if $countrieslist}
	    <TR>
		<TD width="1%"></TD>
	        <TD width="1%" NOWRAP>{trans("Country:")}</TD>
		<TD width="98%">
		        <SELECT NAME="customerdata[countryid]" {tip text="Select country (optional)" trigger="countryid"}>
		                <OPTION value="0"></OPTION>
				{foreach from=$countrieslist item=item key=key}
		                <OPTION value="{$key}"{if $key==$customerinfo.countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
				{/foreach}
		        </SELECT>
    		</TD>
	    </TR>
	{/if}
	<script type="text/javascript">
	new AutoSuggest(document.getElementById('customeredit'),document.getElementById('address'),'?m=customeradd&ajax=1&mode=address&what=',0);
	new AutoSuggest(document.getElementById('customeredit'),document.getElementById('zip'),'?m=customeradd&ajax=1&mode=zip&what=',0);
	new AutoSuggest(document.getElementById('customeredit'),document.getElementById('city'),'?m=customeradd&ajax=1&mode=city&what=',0);
	</script>
	
	<TR CLASS="LIGHT">
	    <TD WIDTH="1%" style="vertical-align: top"><IMG SRC="img/post.gif" ALT=""></TD>
	    <TD width="1%" NOWRAP>{trans("Name:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[post_name]" id="post_name" VALUE="{$customerinfo.post_name}" SIZE="30" {tip text="Enter service name (optional)" trigger="post_name"}></TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("Address:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[post_address]" id="post_address" VALUE="{$customerinfo.post_address}" SIZE="30" {tip text="Enter service address (optional)" trigger="post_address"}></TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("City:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[post_city]" id="post_city" VALUE="{$customerinfo.post_city}" SIZE="30" {tip text="Enter city of service address (optional)" trigger="post_city"}></TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
    	    <TD width="1%" NOWRAP>{trans("Zip:")}</TD>
	    <TD width="98%"><INPUT TYPE="TEXT" NAME="customerdata[post_zip]" id="post_zip" VALUE="{$customerinfo.post_zip}" SIZE="10" {tip text="Enter zip code of service address (optional)" trigger="post_zip"}></TD>
    	    {if $customerinfo.post_zipwarning}
	    	<INPUT TYPE="HIDDEN" NAME="customerdata[post_zipwarning]" VALUE="1">
	    {/if}
	</TR>
	{if $cstateslist}
	    <TR>
		<TD width="1%"></TD>
		<TD width="1%" NOWRAP>{trans("State:")}</TD>
		<TD width="98%">
			<SELECT NAME="customerdata[post_stateid]" {tip text="Select country state (optional)" trigger="post_stateid"}>
			    <OPTION value="0"></OPTION>
			    {foreach from=$cstateslist item=item key=key}
			        <OPTION value="{$key}"{if $key==$customerinfo.post_stateid} SELECTED{/if}>{$item.name}</OPTION>
			    {/foreach}
			</SELECT>
		</TD>
	    </TR>
	{/if}
        {if $countrieslist}
	    <TR>
		<TD width="1%"></TD>
		<TD width="1%" NOWRAP>{trans("Country:")}</TD>
		<TD width="98%">
		    <SELECT NAME="customerdata[post_countryid]" {tip text="Select country (optional)" trigger="post_countryid"}>
		        <OPTION value="0"></OPTION>
			{foreach from=$countrieslist item=item key=key}
			    <OPTION value="{$key}"{if $key==$customerinfo.post_countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
			{/foreach}
		    </SELECT>
    		</TD>
	    </TR>
	{/if}
		<script type="text/javascript">
		new AutoSuggest(document.getElementById('customeredit'),document.getElementById('post_address'),'?m=customeradd&ajax=1&mode=address&what=',0);
		new AutoSuggest(document.getElementById('customeredit'),document.getElementById('post_zip'),'?m=customeradd&ajax=1&mode=zip&what=',0);
		new AutoSuggest(document.getElementById('customeredit'),document.getElementById('post_city'),'?m=customeradd&ajax=1&mode=city&what=',0);
		</script>
	{foreach from=$customerinfo.contacts item=item key=key}
	<TR CLASS="LIGHT" ID="contact{$key}">
		<TD WIDTH="1%" style="vertical-align: top"><IMG SRC="img/phone.gif" ALT=""></TD>
		<td width="1%" style="vertical-align:top;"><nobr>{trans("Contact")}:</nobr></td>
		<TD WIDTH="98%" NOWRAP>
			<INPUT TYPE="text" size="15" value="{$item.phone}" name="customerdata[contacts][{$key}][phone]" {tip text="Enter contact phone" trigger="contact`$key`"}>
			<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_MOBILE}" name="customerdata[contacts][{$key}][type][]" ID="chkmobile{$key}" {if ($item.type & CONTACT_MOBILE)} checked{/if}><label for="chkmobile{$key}">{trans("mobile")}</label>
			<INPUT TYPE="checkbox" value="{$smarty.const.CONTACT_FAX}" name="customerdata[contacts][{$key}][type][]" ID="chkfax{$key}" {if ($item.type & CONTACT_FAX)} checked{/if}><label for="chkfax{$key}">{trans("fax")}</label>
			<BR>
			<INPUT TYPE="text" size="38" value="{$item.name}" name="customerdata[contacts][{$key}][name]" {tip text="Enter contact name/description (optional)"}>
		</TD>
	</TR>
	{/foreach}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%"></TD>
		<td width="1%"></td>
		<TD WIDTH="98%">
			<INPUT TYPE="HIDDEN" ID="contactscount" VALUE="{$item@total}">
			<A href="javascript: newcontact()">{trans("Add contact field")} &raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/gg.gif" alt="Gadu-Gadu">
		</TD>
		<td width="1%"><nobr>Gadu-Gadu:</nobr></td>
		<TD WIDTH="98%">
			{assign var=gg value=$smarty.const.IM_GG}
			<INPUT TYPE="TEXT" NAME="customerdata[uid][{$gg}]" VALUE="{if $customerinfo.uid.$gg}{$customerinfo.uid.$gg}{/if}" SIZE="20" {tip text="Enter Gadu-Gadu ID (optional)" trigger="gg"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG src="img/yim.gif" alt="Yahoo">
		</TD>
		<td width="1%"><nobr>Yahoo:</nobr></td>
		<TD WIDTH="98%">
			{assign var=yahoo value=$smarty.const.IM_YAHOO}
			<INPUT TYPE="TEXT" NAME="customerdata[uid][{$yahoo}]" VALUE="{if $customerinfo.uid.$yahoo}{$customerinfo.uid.$yahoo}{/if}" SIZE="20" {tip text="Enter Yahoo Messenger ID (optional)" trigger="yahoo"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG src="img/skype.gif" alt="Skype">
		</TD>
		<td width="1%"><nobr>Skype:</nobr></td>
		<TD WIDTH="98%">
			{assign var=skype value=$smarty.const.IM_SKYPE}
			<INPUT TYPE="TEXT" NAME="customerdata[uid][{$skype}]" VALUE="{if $customerinfo.uid.$skype}{$customerinfo.uid.$skype}{/if}" SIZE="20" {tip text="Enter Skype ID (optional)" trigger="skype"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/mail.gif" ALT="">
		</TD>
		<td width="1%"><nobr>Mail:</nobr></td>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="customerdata[email]" VALUE="{$customerinfo.email}" SIZE="38" {tip text="Enter e-mail address (optional)" trigger="email" }><BR>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/pin.gif" ALT="">
		</TD>
		<td width="1%"><nobr>PIN:</nobr></td>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="customerdata[pin]" VALUE="{if $customerinfo.pin}{$customerinfo.pin}{/if}" SIZE="6" {tip text="Enter 4 to 6 digits PIN number (optional)" trigger="pin"}>&nbsp;
			<A href="javascript: randomize()" {tip text="Generate PIN"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
	    <TD width="1%" style="vertical-align: top">
		<IMG src="img/serialnumber.gif" alt="">
	    </TD>
	    <TD width="1%" NOWRAP>{trans("ICN")}:</TD>
	    <TD width="99%">
		<INPUT TYPE="text" VALUE="{$customerinfo.icn}" name="customerdata[icn]" SIZE="30" {tip text="Enter Identity Card Number (optional)" trigger="icn"}>
	    </TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("SSN")}:</TD>
	    <TD width="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[ssn]" VALUE="{$customerinfo.ssn}" SIZE="30" {tip text="Enter Social Security Number (optional)" trigger="ssn"}>
		{if $customerinfo.ssnwarning}
		    <INPUT TYPE="HIDDEN" NAME="customerdata[ssnwarning]" VALUE="1">
		{/if}
	    </TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("TEN")}:</TD>
	    <TD width="99%">
		<INPUT TYPE="TEXT" NAME="customerdata[ten]" VALUE="{$customerinfo.ten}" SIZE="30" {tip text="Enter Tax Exempt Number (optional)" trigger="ten"}>
		{if $customerinfo.tenwarning}
		    <INPUT TYPE="HIDDEN" NAME="customerdata[tenwarning]" VALUE="1">
		{/if}
	    </TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("REGON")}:</TD>
	    <TD width="99%">
		<INPUT TYPE="text" value="{$customerinfo.regon}" name="customerdata[regon]" SIZE="30" {tip text="Enter Business Registration Number (optional)" trigger="regon"}>
	    </TD>
	</TR>
	<TR>
	    <TD width="1%"></TD>
	    <TD width="1%" NOWRAP>{trans("RBE")}:</TD>
	    <TD width="99%">
		<INPUT TYPE="text" value="{$customerinfo.rbe}" name="customerdata[rbe]" SIZE="30" {tip text="Enter National Court Register / Register of Business Entities Number (optional)" trigger="rbe"}>
	    </TD>
	</TR>
	<TR CLASS="LIGHT">
	    <TD WIDTH="1%" style="vertical-align: top">
		<IMG SRC="img/options.gif" ALT="">
	    </TD>
	    <td width="99%" colspan="2">
	    <table width="100%">
		<tr>
		    <TD width="1%"><nobr>{trans("Deadline:")}</nobr></TD>
		    <TD>
			<SELECT name="customerdata[paytime]" {tip text="Select default deadline in days" trigger="paytime"}>
			    <OPTION value="-1"{if $customerinfo.paytime==-1} selected{/if}>- {trans("default")} -</OPTION>
			    <OPTION value="0"{if $customerinfo.paytime==0} selected{/if}>0</OPTION>
			    <OPTION value="7"{if $customerinfo.paytime==7} selected{/if}>7</OPTION>
			    <OPTION value="10"{if $customerinfo.paytime==10} selected{/if}>10</OPTION>
			    <OPTION value="14"{if $customerinfo.paytime==14} selected{/if}>14</OPTION>
			    <OPTION value="21"{if $customerinfo.paytime==21} selected{/if}>21</OPTION>
			    <OPTION value="30"{if $customerinfo.paytime==30} selected{/if}>30</OPTION>
			</SELECT>
		    </TD>
		</TR>
		<TR>
		    <TD width="1%"><nobr>{trans("Payment type:")}</nobr></TD>
		    <TD>
			<SELECT name="customerdata[paytype]" {tip text="Select default invoices payment type" trigger="paytype"}>
			    <OPTION value=""{if !$customerinfo.paytype} selected{/if}>- {trans("default")} -</OPTION>
			    {foreach from=$_PAYTYPES item=item key=key}
				<OPTION value="{$key}"{if $customerinfo.paytype==$key} selected{/if}>{$item}</OPTION>
			    {/foreach}
			</SELECT>
		    </TD>
		</TR>
		<TR>
		    <TD width="1%"><nobr>{trans("Cutoff suspending:")}</nobr></TD>
		    <TD>
			<SELECT name="customerdata[cutoffstop]" {tip text="Select days number of cutoff suspending (optional)" trigger="cutoffstop"}>
			    <OPTION value="0"{if !$customerinfo.cutoffstop} selected{/if}>0</OPTION>
			    <OPTION value="1"{if $customerinfo.cutoffstop==1} selected{/if}>1</OPTION>
			    <OPTION value="2"{if $customerinfo.cutoffstop==2} selected{/if}>2</OPTION>
			    <OPTION value="3"{if $customerinfo.cutoffstop==3} selected{/if}>3</OPTION>
			    <OPTION value="4"{if $customerinfo.cutoffstop==4} selected{/if}>4</OPTION>
			    <OPTION value="5"{if $customerinfo.cutoffstop==5} selected{/if}>5</OPTION>
			    <OPTION value="6"{if $customerinfo.cutoffstop==6} selected{/if}>6</OPTION>
			    <OPTION value="7"{if $customerinfo.cutoffstop==7} selected{/if}>7</OPTION>
			    <OPTION value="14"{if $customerinfo.cutoffstop==14} selected{/if}>14</OPTION>
			    <OPTION value="21"{if $customerinfo.cutoffstop==21} selected{/if}>21</OPTION>
			    <OPTION value="30"{if $customerinfo.cutoffstop==30} selected{/if}>30</OPTION>
			</SELECT>
		    </TD>
		</TR>
	    </table>
	    </td>
	</tr>
	<TR CLASS="LIGHT">
	    <TD width="1%" style="vertical-align: top">
		<IMG src="img/options.gif" alt="">
	    </TD>
	    <td width="99%" colspan="2">
		<table width="100%">
		    <tr>
			<TD width="1%">
		            <nobr><label for="chkconsent">{trans("Consent to personal data processing:")}</label></nobr>
			</TD>
			<TD>
			    <INPUT TYPE="checkbox" NAME="customerdata[consentdate]" ID="chkconsent" VALUE="{$smarty.now}"{if $customerinfo.consentdate} checked{/if}>
		        </TD>
	            </TR>
	            <TR>
	                <TD width="1%">
			    <nobr><label for="chkeinvoice">{trans("Consent to electronic invoices:")}</label></nobr>
			</TD>
			<TD>
			    <INPUT TYPE="checkbox" NAME="customerdata[einvoice]" ID="chkeinvoice" VALUE="1"{if $customerinfo.einvoice} checked{/if}>
		        </TD>
	            </TR>
	            <TR>
	                <TD width="1%">
			    <nobr><label for="chkinvoicenotice">{trans("Consent to invoices delivery via e-mail:")}</label></nobr>
			</TD>
			<TD>
			    <INPUT TYPE="checkbox" NAME="customerdata[invoicenotice]" ID="chkinvoicenotice" VALUE="1"{if $customerinfo.invoicenotice} checked{/if}>
		        </TD>
	            </TR>
	            <TR>
	                <TD width="1%">
			    <nobr><label for="chkmailingnotice">{trans("Consent to messages delivery via e-mail or sms:")}</label></nobr>
			</TD>
			<TD>
			    <INPUT TYPE="checkbox" NAME="customerdata[mailingnotice]" ID="chkmailingnotice" VALUE="1"{if $customerinfo.mailingnotice} checked{/if}>
		        </TD>
	            </TR>
	        </TABLE>
	    </td>
	</TR>
<!--// right box //-->
                                    		</TABLE>
					</TD>
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/info1.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<TEXTAREA NAME="customerdata[info]" COLS="60" ROWS="10" {tip text="Enter additional information (optional)"}>{$customerinfo.info|escape}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/warningon.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<TEXTAREA NAME="customerdata[message]" COLS="60" ROWS="10" {tip text="Enter notice contents (optional)"}>{$customerinfo.message|escape}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/note.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<TEXTAREA NAME="customerdata[notes]" COLS="60" ROWS="10" {tip text="Enter notes (optional)"}>{$customerinfo.notes|escape}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/money.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<B>{trans("Balance:")}</B>
			{if $customerinfo.balance < 0}<FONT CLASS="ALERT">{$customerinfo.balance|money_format}</FONT>{else}{$customerinfo.balance|money_format}{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%">
			<IMG SRC="img/users.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<B>{trans("Created:")}</B> {$customerinfo.createdby}, {$customerinfo.creationdateh}<BR>
			<B>{trans("Modified:")}</B> {if $customerinfo.moddate}{$customerinfo.modifiedby}, {$customerinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
                                        	</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" ALIGN="RIGHT">
			<A HREF="javascript:document.customeredit.submit();" ACCESSKEY="S">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=customerinfo&id={$customerinfo.id}">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['customeredit'].elements['customerdata[lastname]'].focus();
//-->
</SCRIPT>

