{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P>
<TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark" {tip text="Click on column name to change sorting order"}>
		<TD width="97%" class="fleftu">
			<img src="img/customer.gif" ALT="">&nbsp;<a href="?m={$layout.module}&s={$listdata.state}&o=customername{if $listdata.direction eq "asc" && $listdata.order eq "customername"},desc{/if}">{t}First/last or Company name:{/t}</A></B> {if $listdata.order eq "customername"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<img src="img/home.gif" ALT="">&nbsp;<a href="?m={$layout.module}&s={$listdata.state}&o=address{if $listdata.direction eq "asc" && $listdata.order eq "address"},desc{/if}">{t}Address:{/t}</A> {if $listdata.order eq "address"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD align="right" width="1%" class="fbt" VALIGN="top" NOWRAP>
			<a href="?m={$layout.module}&s={$listdata.state}&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{t}ID:{/t}</A></B> {if $listdata.order eq "id"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			{t}Services:{/t}
		</TD>
		<TD width="1%" class="fbt" ALIGN="right" VALIGN="TOP" NOWRAP>
		{if $_config.privileges.finances_management|chkconfig || $adminuser}
			<a href="?m={$layout.module}&s={$listdata.state}&o=balance{if $listdata.direction eq "asc" && $listdata.order eq "balance"},desc{/if}">{t}Balance:{/t}</A>&nbsp;{if $listdata.order eq "balance"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<a href="?m={$layout.module}&s={$listdata.state}&o=tariff{if $listdata.direction eq "asc" && $listdata.order eq "tariff"},desc{/if}">{t}Subscription:{/t}</A>&nbsp;{if $listdata.order eq "tariff"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		{/if}
		</TD>
		<TD width="1%" align="right" class="frightu">
			<NOBR><B>{t a=$listdata.total}Total: $a{/t}</B></NOBR>
		</TD>
	</TR>
	<TR CLASS="DARK">
		<TD CLASS="fall" colspan="4">
			<FORM METHOD="GET" ACTION="?m={$layout.module}" NAME="choosefilter">
				<INPUT type="submit" class="hiddenbtn">
				<INPUT TYPE="HIDDEN" NAME="m" VALUE="customerlist">
				<INPUT TYPE="HIDDEN" NAME="page" VALUE="1">
				<B>{t}Filter:{/t}</B> <NOBR>{t}Customers:{/t}
				<SELECT SIZE="1" NAME="s" ONCHANGE="document.choosefilter.submit();">
					<OPTION VALUE="0"{if $listdata.state eq 0} SELECTED{/if}>{t}- all customers -{/t}</OPTION>
					<OPTION VALUE="3"{if $listdata.state eq 3} SELECTED{/if}>{t}connected<!plural>{/t}</OPTION>
					<OPTION VALUE="2"{if $listdata.state eq 2} SELECTED{/if}>{t}awaiting{/t}</OPTION>
					<OPTION VALUE="1"{if $listdata.state eq 1} SELECTED{/if}>{t}interested<!plural>{/t}</OPTION>
					<OPTION VALUE="4"{if $listdata.state eq 4} SELECTED{/if}>{t}deleted<!plural>{/t}</OPTION>
					<OPTION VALUE="5"{if $listdata.state eq 5} SELECTED{/if}>{t}disconnected<!plural>{/t}</OPTION>
					{if ($_config.privileges.finances_management|chkconfig && !$_config.privileges.hide_summaries|chkconfig) || $adminuser}
					<OPTION VALUE="6"{if $listdata.state eq 6} SELECTED{/if}>{t}in debt{/t}</OPTION>
					<OPTION VALUE="11"{if $listdata.state eq 11} SELECTED{/if}>{t}in debt above 100%{/t}</OPTION>
					<OPTION VALUE="12"{if $listdata.state eq 12} SELECTED{/if}>{t}in debt above 200%{/t}</OPTION>
					{/if}
					<OPTION VALUE="7"{if $listdata.state eq 7} SELECTED{/if}>{t}online{/t}</OPTION>
					<OPTION VALUE="8"{if $listdata.state eq 8} SELECTED{/if}>{t}without group{/t}</OPTION>
					<OPTION VALUE="9"{if $listdata.state eq 9} SELECTED{/if}>{t}without tariff{/t}</OPTION>
					<OPTION VALUE="10"{if $listdata.state eq 10} SELECTED{/if}>{t}suspended<!plural>{/t}</OPTION>
				</SELECT></NOBR>
				<NOBR>{t}Division{/t}:
				<SELECT SIZE="1" NAME="d" ONCHANGE="document.choosefilter.submit();">
				        <OPTION VALUE="" {if !$listdata.division} SELECTED {/if}>- {t}all{/t} -</OPTION>
				        {foreach from=$divisions item=division}
				        <OPTION VALUE="{$division.id}"{if $listdata.division eq $division.id} SELECTED {/if}>{$division.shortname|truncate:30:"...":true}</OPTION>
					{/foreach}
				</SELECT></NOBR>
				<NOBR>{t}Network:{/t}
				<SELECT SIZE="1" NAME="n" ONCHANGE="document.choosefilter.submit();">
					<OPTION value="0" {if !$listdata.network} SELECTED {/if}>{t}- all networks -{/t}</OPTION>
					{section name=networks loop=$networks}
					<OPTION value="{$networks[networks].id}" {if $listdata.network eq $networks[networks].id} SELECTED {/if}>{$networks[networks].name|truncate:30:"...":true}</OPTION>
					{/section}
				</SELECT></NOBR>
				<NOBR>{t}Group:{/t}
				<SELECT SIZE="1" NAME="g" ONCHANGE="document.choosefilter.submit();">
					<OPTION value="" {if !$listdata.customergroup} SELECTED {/if}>{t}- all groups -{/t}</OPTION>
					{section name=customergroups loop=$customergroups}
					<OPTION value="{$customergroups[customergroups].id}" {if $listdata.customergroup eq $customergroups[customergroups].id} SELECTED {/if}>{$customergroups[customergroups].name|truncate:30:"...":true}</OPTION>
					{/section}
				</SELECT></NOBR>
				<NOBR>{t}Nodes Group:<!short>{/t}
				<SELECT SIZE="1" NAME="ng" ONCHANGE="document.choosefilter.submit();">
	        			<OPTION value="" {if !$listdata.nodegroup} SELECTED {/if}>{t}- all groups -{/t}</OPTION>
		        		{foreach from=$nodegroups item=nodegroup}
			        	<OPTION value="{$nodegroup.id}" {if $listdata.nodegroup eq $nodegroup.id} SELECTED {/if}>{$nodegroup.name|truncate:30:"...":true}</OPTION>
				        {/foreach}
				</SELECT></NOBR>
			</FORM>
		</TD>
	</TR>		
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			{include file="scroller.html" loop=$customerlist}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=customerlist loop=$customerlist start=$start max=$pagelimit}
	<TR class="{cycle}{if $customerlist[customerlist].account && !$customerlist[customerlist].nodeac} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD onClick="return self.location.href='?m=customerinfo&id={$customerlist[customerlist].id}';" class="fleft" valign="top">
			<IMG src="img/{if $customerlist[customerlist].status eq 1}unk{/if}{if $customerlist[customerlist].status eq 2}wait{/if}{if $customerlist[customerlist].status eq 3}customer{/if}.gif" alt="">{if $customerlist[customerlist].info}&nbsp;<img src="img/info1.gif" alt="" {tip text=$customerlist[customerlist].info}>{/if}<A name="{$customerlist[customerlist].id}" {tip a=$customerlist[customerlist].id dynpopup='?m=customerinfoshort&id=$a'}>&nbsp;<B>{$customerlist[customerlist].customername|escape}</B></A><BR>
			<IMG src="img/home.gif" alt="">&nbsp;{$customerlist[customerlist].address}{if $customerlist[customerlist].city neq ""},{/if} {$customerlist[customerlist].zip} {$customerlist[customerlist].city}{if $customerlist[customerlist].country neq ""}, {t}{$customerlist[customerlist].country}{/t}{/if}
		</TD>
		<TD valign="top" align="right">
			({$customerlist[customerlist].id|string_format:"%04d"})<BR>
			{if $customerlist[customerlist].account}
				<IMG SRC="img/node{if !$customerlist[customerlist].online}_off{/if}.gif" ALT="" {tip a=$customerlist[customerlist].id dynpopup='?m=nodelistshort&id=$a' sticky=1}></A>
			{/if}
		</TD>
		<TD align="right" valign="top" NOWRAP>
			{if $_config.privileges.finances_management|chkconfig || $adminuser}
			<NOBR><IMG src="img/empty.gif" width="1" height="16" ALT="">{if $customerlist[customerlist].balance < 0}<font class="alert">{/if}{$customerlist[customerlist].balance|money_format}{if $customerlist[customerlist].balance < 0}</FONT>{/if}<BR><IMG src="img/empty.gif" width="1" height="16" ALT=""><FONT CLASS="blend">{$customerlist[customerlist].tariffvalue|money_format}</FONT></NOBR>
			{/if}
		</TD>		
		<TD align="right" class="fright">
			<NOBR>
			{if $_config.privileges.finances_management|chkconfig || $adminuser}
				{if $customerlist[customerlist].balance < 0}
					<A HREF="?m=customerbalanceok&id={$customerlist[customerlist].id}" OnClick="return confirmLink(this, '{t a=$customerlist[customerlist].customername|escape:"javascript"|escape:"html"}Are you sure, you want to account ALL debts of customer \'$a\'?{/t}');"><IMG src="img/pay.gif" alt="[ {t}Account{/t} ]" title="[ {t}Account{/t} ]"></A>
				{/if}
			{/if}
			{if $customerlist[customerlist].account}
				{if $customerlist[customerlist].status eq 3}
					{if $customerlist[customerlist].nodeac eq 1}
						<A HREF="?m=nodeset&ownerid={$customerlist[customerlist].id}"><IMG src="img/access.gif" alt="[ {t}Disconnect All{/t} ]" title="[ {t}Disconnect All{/t} ]"></A>
					{else}
						{if $customerlist[customerlist].nodeac eq 2}
							<A HREF="?m=nodeset&ownerid={$customerlist[customerlist].id}"><IMG src="img/mixaccess.gif" alt="[ {t}Disconnect All{/t} ]" title="[ {t}Disconnect All{/t} ]"></A>
						{else}<A HREF="?m=nodeset&ownerid={$customerlist[customerlist].id}&access=1"><IMG src="img/noaccess.gif" alt="[ {t}Connect All{/t} ]" title="[ {t}Connect All{/t} ]"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			{if $customerlist[customerlist].warncount}
				{if $customerlist[customerlist].status eq 3}
					{if $customerlist[customerlist].nodewarn eq 1}
						<A HREF="?m=nodewarn&ownerid={$customerlist[customerlist].id}" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningon.gif" alt="[ {t}Disable notices for all{/t} ]" title="[ {t}Disable notices for all{/t} ]"></A>
					{else}
						{if $customerlist[customerlist].nodewarn eq 2}
							<A HREF="?m=nodewarn&ownerid={$customerlist[customerlist].id}" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningmix.gif" alt="[ {t}Disable notices for all{/t} ]" title="[ {t}Disable notices for all{/t} ]"></A>
						{else}<A HREF="?m=nodewarn&ownerid={$customerlist[customerlist].id}&warning=1" {if $customerlist[customerlist].message}{tip text=$customerlist[customerlist].message}{/if}><IMG SRC="img/warningoff.gif" alt="[ {t}Enable notices for all{/t} ]" title="[ {t}Enable notices for all{/t} ]"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			{if $listdata.state eq 4}
			<A href="?m=customeredit&id={$customerlist[customerlist].id}&action=recover"><IMG src="img/recover.gif" alt="[ {t}Recover{/t} ]" title="[ {t}Recover{/t} ]"></A> 
			{else}
			<A href="?m=customerdel&id={$customerlist[customerlist].id}" OnCLick="return confirmLink(this, '{t a=$customerlist[customerlist].customername|escape:"javascript"|escape:"html"}Are you sure, you want to remove customer \'$a\' from database?\n\nIf that customer have some nodes, they will be also removed and data definitely lost!{/t}');"><IMG src="img/delete.gif" alt="[ {t}Delete{/t} ]" title="[ {t}Delete{/t} ]"></A> 
			<A href="?m=customeredit&id={$customerlist[customerlist].id}"><IMG src="img/edit.gif" alt="[ {t}Edit{/t} ]" title="[ {t}Edit{/t} ]"></A> 
			{/if}
			<A href="?m=customerinfo&id={$customerlist[customerlist].id}"><IMG src="img/info.gif" alt="[ {t}Info{/t} ]" title="[ {t}Info{/t} ]"></A>
			</NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="4" align="center" class="flr">
			<p>&nbsp;</p>
			<p><B>{t}No such customers matching search criteria or list is empty.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			{include file="scroller.html" loop=$customerlist}
		</TD>
	</TR>
	{/if}
	<TR class="light">
		<TD class="fleftu" align="right">
			&nbsp;
		</TD>
		<TD class="fbt" align="right">
			{if ($_config.privileges.finances_management|chkconfig && !$_config.privileges.hide_summaries|chkconfig) || $adminuser}
			<B>{t}Outstandings{/t}:<BR>
			{t}Overcharges{/t}:</B>
			{/if}
		</TD>
		<TD class="fbt" align="right" nowrap>
			{if ($_config.privileges.finances_management|chkconfig && !$_config.privileges.hide_summaries|chkconfig) || $adminuser}
			<B>{$listdata.below|money_format}<BR>
			{$listdata.over|money_format}</B>
			{/if}
		</TD>
		<TD class="frightu" align="right" valign="top">
			<B>{t}Total:{/t} {$listdata.total}</B>	
		</TD>
	</TR>
</TABLE>
</P>
{include file="footer.html"}
