{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="customereditbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customernodesbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customervoipaccountsbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerdocuments.html" limit=10}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customermessages.html" limit=10}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerevents.html" limit=10}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customergroups.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerassignments.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerbalancebox.html" limit=-10}
		</td>
	</tr>
</table>
{include file="footer.html"}
