{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!-- 
	function PrintList()
	{
		document.customersearch.action = "?m=customersearch&search=1&print=1";
		document.customersearch.target = "_BLANK";
		document.customersearch.submit();
	}

	function Search()
	{
		document.customersearch.action = "?m=customersearch&search=1";
		document.customersearch.target = "";
		document.customersearch.submit();
	}
//-->
</script>
<P><form method="POST" action="?m=customersearch&search=1" name="customersearch" id="customersearch">
<input type="submit" class="hiddenbtn">
<table style="width: 100%;" cellpadding="3">
	<tr class="DARK">
		<td class="FALL" colspan="2">
			<span class="bold">{trans("Display customers matching the following criteria:")}</span>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/customer.gif" alt=""> <span class="bold">{trans("First/last or Company name:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[customername]" value="{$search.customername}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/home.gif" alt=""> <span class="bold">{trans("Address:")}</span>
		</td>
		<td class="fright" style="width: 99%; white-space: nowrap;">
			<input type="text" name="search[address]" value="{$search.address}">
			<span class="bold">{trans("City:")}</span> <input type="text" name="search[city]" value="{$search.city}">
			<span class="bold">{trans("Postcode:")}</span> <input type="text" name="search[zip]" value="{$search.zip}" size="10">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/phone.gif" alt=""> <span class="bold">{trans("Phone:")}</span>
		</td>
		<td class="fright" style="width: 99%; white-space: nowrap;">
			<input type="text" name="search[phone]" value="{$search.phone}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/mail.gif" alt=""> <span class="bold">{trans("E-mail:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[email]" value="{$search.email}">
		</td>
	</tr>
	{*
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/gg.gif" alt=""> <span class="bold">{trans("IM:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[im]" value="{$search.im}">
		</td>
	</tr>
	*}
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/serialnumber.gif" width="16" alt=""> <span class="bold">{trans("ICN:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[icn]" value="{$search.icn}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("SSN:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[ssn]" value="{$search.ssn}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("TEN:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[ten]" value="{$search.ten}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("REGON:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[regon]" value="{$search.regon}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/report.gif" alt=""> <span class="bold">{trans("RBE:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[rbe]" value="{$search.rbe}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/note.gif" alt=""> <span class="bold">{trans("Notes:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[notes]" value="{$search.notes}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/info1.gif" alt=""> <span class="bold">{trans("Additional information:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input type="text" name="search[info]" value="{$search.info}">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/folder.gif" alt=""> <span class="bold">{trans("Legal personality:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="search[type]">
				<option value="">{trans("- all -")}</option>
				<option value="0">{trans("private person")}</option>
				<option value="1">{trans("legal entity")}</option>
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/state.gif" alt=""> <span class="bold">{trans("Country state:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select name="search[stateid]" {tip text="Select country state"}>
				<option value="">{trans("- all states -")}</option>
				{foreach from=$cstateslist item=item key=key}
				<option value="{$key}">{$item.name}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/netdev.gif" alt=""> <span class="bold">{trans("Link type:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="search[linktype]">
				<option value="">{trans("- all -")}</option>
				{foreach from=$_LINKTYPES item=item key=key}
					<option value="{$key}">{$item}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/netdev.gif" alt=""> <span class="bold">{trans("Link speed:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="search[linkspeed]">
				<option value="">{trans("- all -")}</option>
				{foreach from=$_LINKSPEEDS item=item key=key}
					<option value="{$key}">{$item}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/money.gif" alt=""> <span class="bold">{trans("Tariffs:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="search[tariffs][]" MULTIPLE id="customertariffs">
				<option value="" selected="selected">{trans("- all -")}</option>
				{foreach from=$tariffs item=item}
				 	<option value="{$item.id}">{$item.name}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("Created:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			{trans("from")} <input type="text" value="" name="search[createdfrom]" size="10" OnClick="javascript:cal1.popup();">
			{trans("to")} <input type="text" value="" name="search[createdto]" size="10" OnClick="javascript:cal2.popup();">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("Deleted:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			{trans("from")} <input type="text" value="" name="search[deletedfrom]" size="10" OnClick="javascript:cal3.popup();">
			{trans("to")} <input type="text" value="" name="search[deletedto]" size="10" OnClick="javascript:cal4.popup();">
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/empty.gif" width="16" alt=""> <span class="bold">{trans("Qualification operator:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<input class="radio light" type="radio" id="operator0" value="AND" name="k"{if $k!='OR'} checked="checked"{/if}><label for="operator0">{trans("AND")}</label>
			<input class="radio light" type="radio" id="operator1" value="OR" name="k"{if $k=='OR'} checked="checked"{/if}><label for="operator1">{trans("OR")}</label>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="flr" style="width: 100%;" colspan="2">&nbsp;</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/division.gif" width="16" alt=""> <span class="bold">{trans("Division")}:</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="d">
				<option value="">- {trans("all")} -</option>
				{foreach from=$divisions item=division}
					<option value="{$division.id}"{if $listdata.division==$division.id} selected="selected"{/if}>{$division.shortname|truncate:30:"...":true}</option>
				{/foreach}
			</select>
		</tr>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/access.gif" width="16" alt=""> <span class="bold">{trans("Status:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="s">
				<option value="0">{trans("- all -")}</option>
				<option value="3">{trans("connected<!plural>")}</option>
				<option value="2">{trans("waiting")}</option>
				<option value="1">{trans("interested<!plural>")}</option>
				<option value="4">{trans("deleted<!plural>")}</option>
				<option value="5">{trans("disconnected<!plural>")}</option>
				<option value="6">{trans("in debt")}</option>
				<option value="11">{trans("in debt above 100%")}</option>
				<option value="12">{trans("in debt above 200%")}</option>
				<option value="7">{trans("online")}</option>
				<option value="8">{trans("without group")}</option>
				<option value="9">{trans("without tariff")}</option>
				<option value="10">{trans("suspended<!plural>")}</option>
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/network.gif" alt=""> <span class="bold">{trans("Network:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="n">
				<option value="0" {if !$listdata.network} selected="selected" {/if}>{trans("- all networks -")}</option>
				{section name=networks loop=$networks}
				<option value="{$networks[networks].id}" {if $listdata.network eq $networks[networks].id} selected="selected" {/if}>{$networks[networks].name|truncate:50:"...":true}</option>
				{/section}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/group.gif" alt=""> <span class="bold">{trans("Group:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="g">
				<option value="" {if !$listdata.customergroup} selected="selected" {/if}>{trans("- all groups -")}</option>
				{section name=customergroups loop=$customergroups}
				<option value="{$customergroups[customergroups].id}" {if $listdata.customergroup eq $customergroups[customergroups].id} selected="selected" {/if}>{$customergroups[customergroups].name|truncate:50:"...":true}</option>
				{/section}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" style="width: 1%; white-space: nowrap;">
			<img src="img/nodegroup.gif" alt=""> <span class="bold">{trans("Nodes Group:")}</span>
		</td>
		<td class="fright" style="width: 99%;">
			<select size="1" name="ng">
				<option value="" {if !$listdata.nodegroup} selected="selected" {/if}>{trans("- all groups -")}</option>
				{foreach from=$nodegroups item=nodegroup}
				<option value="{$nodegroup.id}" {if $listdata.nodegroup eq $nodegroup.id} selected="selected" {/if}>{$nodegroup.name|truncate:30:"...":true}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" style="width: 100%; text-align: right;" colspan="2">
			<a accesskey="S" href="javascript:Search();">{trans("Search")} <img src="img/search.gif" alt=""></a>&nbsp;
			<a href="javascript:PrintList();">{trans("Print")} <img src="img/print.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
</P>
<script type="text/javascript">
<!--
document.forms['customersearch'].elements['search[customername]'].focus();
var cal1 = new calendar(document.customersearch.elements['search[createdfrom]']);
cal1.time_comp = false;
var cal2 = new calendar(document.customersearch.elements['search[createdto]']);
cal2.time_comp = false;
var cal3 = new calendar(document.customersearch.elements['search[deletedfrom]']);
cal3.time_comp = false;
var cal4 = new calendar(document.customersearch.elements['search[deletedto]']);
cal4.time_comp = false;
multiselect('customersearch', 'customertariffs', '{t}- all -{/t}', null);
//-->
</script>
{include file="footer.html"}
