{include file="header.html"}
<!-- $Id$ -->
<H1><B>{$layout.pagetitle}</B></H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR CLASS="dark">
		<TD CLASS="fleftu" WIDTH="1%" nowrap>
			<IMG src="img/settings.gif" ALT="" BORDER="0" ALIGN="absmiddle"><B>{t}Name:{/t}</B>
		</TD>
		<TD CLASS="fbt" WIDTH="58%" NOWRAP>
			{t}Value:{/t}
		</TD>
		<TD CLASS="fbt" WIDTH="40%">
			{t}Description:{/t}
		</TD>
		<TD CLASS="frightu" WIDTH="1%" nowrap>
			<A href="?m=daemonconfigadd&id={$instance.id}">{t}Add option{/t} <IMG src="img/save.gif" border="0" alt="" align="absmiddle"></A>
		</TD>
	</TR>
	{cycle values="#DFD5BD,#EBE4D6" print=false}
	{foreach from=$optionlist item=option}
	<TR {if $option.disabled}CLASS="BLEND" {/if}bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
		<TD CLASS="fleft" valign="top" onClick="return self.location.href='?m=daemonconfigedit&id={$option.id}';" nowrap>
			<IMG src="img/settings.gif" ALT="" BORDER="0" ALIGN="absmiddle">
			<B>{$option.var}</B>
		</TD>
		<TD valign="top" onClick="return self.location.href='?m=daemonconfigedit&id={$option.id}';" nowrap>
			{$option.value|escape|replace:"\n":"<BR>"}
		</TD>
		<TD valign="top" onClick="return self.location.href='?m=daemonconfigedit&id={$option.id}';">
			{$option.description|escape|replace:"\n":"<BR>"}
		</TD>
		<TD CLASS="fright" align="right" NOWRAP>
			<A HREF="?m=daemonconfigedit&id={$option.id}&statuschange=1"><IMG SRC="img/wait.gif" ALT="[ {if $option.disabled}{t}Enable{/t}{else}{t}Disable{/t}{/if} ]" ALIGN="absmiddle" BORDER="0"></A>
			<A HREF="?m=daemonconfigedit&id={$option.id}"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]" ALIGN="absmiddle" BORDER="0"></A>
			<A HREF="?m=daemonconfigdel&id={$option.id}" OnClick="return confirmLink(this, '{t 0=$option.var}Are you sure, you want to remove option \'$0\' from database?{/t}');"><IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]" ALIGN="absmiddle" BORDER="0"></A>
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD colspan="4" align="center" class="flr">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><B>{t}That instance hasn't got any configuration option.{/t}<B></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/foreach}
	<TR CLASS="dark">
		<TD colspan="4" class="fall" align="right">
			<A href="?m=daemonconfigadd&id={$instance.id}">{t}Add option{/t} <IMG src="img/save.gif" border="0" alt="" align="absmiddle"></A>
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
