{include file="header.html"}
<!-- $Id$ -->
<h1><strong>{$layout.pagetitle}</strong></h1>
<P><table cellpadding="3" width="100%">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/settings.gif" alt=""> <strong>{trans("Name:")}</strong>
		</td>
		<td class="fbt" align="right" width="1%" nowrap="nowrap">
			{trans("Host:")}
		</td>
		<td class="fbt" align="right" width="1%" nowrap="nowrap">
			{trans("Priority:")}
		</td>
		<td class="fbt" align="right" width="1%" nowrap="nowrap">
			{trans("Module:")}<br />
			{trans("Crontab:")}
		</td>
		<td class="fbt" width="95%">
			{trans("Description:")}
		</td>
		<td class="frightu" width="1%" nowrap="nowrap">
			<a href="?m=daemoninstanceadd&hostid={$hostid}">{trans("Add instance")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
	<tr class="DARK">
		<td class="fall" colspan="6">
			<form method="GET" action="?m=daemoninstancelist" name="filter">
				<input type="submit" class="hiddenbtn">
				<input type="HIDDEN" name="m" value="daemoninstancelist">
				<strong>{trans("Filter:")} </strong> {trans("Host:")}
				<select size="1" name="id" OnChange="document.filter.submit();">
					<option value="0"{if ! $hostid} SELECTED{/if}>{trans("- all hosts -")}</option>
					{section name=hosts loop=$hosts}
					<option value="{$hosts[hosts].id}"{if $hosts[hosts].id eq $hostid} SELECTED{/if}>{$hosts[hosts].name}</option>
					{/section}
				</select>
			</form>
		</td>
	</tr>		
	{cycle values="light,lucid" print=false}
	{foreach from=$instancelist item=instance}
	<tr class="{cycle}{if $instance.disabled} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" onClick="return self.location.href='?m=daemoninstanceview&id={$instance.id}';" nowrap="nowrap">
			<img src="img/settings.gif" alt="">
			<strong>{$instance.name}</strong>
		</td>
		<td align="right" onClick="return self.location.href='?m=daemoninstanceview&id={$instance.id}';">
			{$instance.hostname}
		</td>
		<td align="right" onClick="return self.location.href='?m=daemoninstanceview&id={$instance.id}';">
			{$instance.priority}
		</td>
		<td align="right" onClick="return self.location.href='?m=daemoninstanceview&id={$instance.id}';" nowrap="nowrap">
			{$instance.module}<br />{$instance.crontab}
		</td>
		<td onClick="return self.location.href='?m=daemoninstanceview&id={$instance.id}';">
			{$instance.description}
		</td>
		<td class="fright" align="right" nowrap="nowrap">
			<a href="?m=daemoninstanceview&id={$instance.id}"><img src="img/view.gif" alt="[ {trans("Browse Configuration")} ]" title="[ {trans("Browse Configuration")} ]"></a>
			<a href="?m=daemoninstanceedit&id={$instance.id}&statuschange=1"><img src="img/wait.gif" alt="[ {if $instance.disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]" title="[ {if $instance.disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]"></a>
			<a href="?m=daemoninstanceadd&id={$instance.id}"><img src="img/clone.gif" alt="[ {trans("Clone")} ]" title="[ {trans("Clone")} ]"></a>
			<a href="?m=daemoninstancedel&id={$instance.id}" OnClick="return confirmLink(this, '{t a=$instance.name}Are you sure, you want to remove instance \'$a\' and all assigned configuration?{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=daemoninstanceedit&id={$instance.id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6" align="center" class="flr">
			<p>&nbsp;</p>
			<p><strong>{trans("There are no instances configured.")}<strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="dark">
		<td colspan="6" class="fall" align="right">
			<a href="?m=daemoninstanceadd&hostid={$hostid}">{trans("Add instance")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table></P>
{include file="footer.html"}
