{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><FORM method="POST" action="?m=daemonconfigedit&id={$config.id}" name="config">
<TABLE width="100%" cellpadding="3">
	<TR class="dark">
		<TD width="1%" class="fleftu">
			<img src="img/settings.gif" alt="">
		</TD>
		<TD width="1%" class="fbt">
			<B>{t}Name:{/t}</B>
		</TD>
		<TD width="98%" class="frightu">
			<INPUT name="config[var]" value="{$config.var}" {tip text="Enter option name" trigger="var" bold=1}>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/settings.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{t}Value:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<TEXTAREA rows="20" cols="100" name="config[value]" {tip text="Enter option value" trigger="value"}>{$config.value}</TEXTAREA>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{t}Description:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<TEXTAREA rows="5" cols="100" name="config[description]" {tip text="Enter additional informations (optional)" trigger="description"}>{$config.description}</TEXTAREA>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/wait.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{t}Status:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<INPUT type="checkbox" class="box" name="config[disabled]" value="1" {if $config.disabled} CHECKED{/if}{tip text="You can turn it off"}> {t}Off{/t}
		</TD>
	</TR>
	<TR class="light">
		<TD class="fbottomu" align="right" colspan="3">
			<A href="javascript:document.config.submit();" accesskey="s">{t}Submit{/t} <img src="img/save.gif" alt=""></A>
			<A href="?m=daemoninstanceview&id={$config.instanceid}">{t}Cancel{/t} <img src="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
</TABLE>
</P>
<SCRIPT>
<!--
document.forms['config'].elements['config[var]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
