{include file="header.html}
{include file="adminheader.html}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE width="100%" cellpadding="3">
<TR CLASS="dark">
	<TD class="fleftu" width="98%">
		<IMG src="img/time.gif" align="absmiddle" ALT="" border="0"> <B>{t}Creation time:{/t}</B>
	</TD>
	<TD class="fbt" width="1%" nowrap>
		<IMG src="img/size.gif" align="absmiddle" ALT="" border="0"> {t}Size:{/t}
	</TD>
	<TD class="fbt" width="1%" nowrap>
		&nbsp;
	</TD>
	<TD class="frightu" width="1%" align="right" nowrap>
		<IMG src="img/empty.gif" align="absmiddle" ALT="" border="0" height="16" width="1"><B> {t 0=$dblist.total}Total: $0{/t}</B>&nbsp;
	</TD>
</TR>
{cycle values="#DFD5BD,#EBE4D6" print=false}
{section name=dblist loop=$dblist.time}
<TR bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
	<TD class="fleft" width="98%" onClick="return self.location.href='?m=dbview&db={$dblist.time[dblist]}';">
		<IMG src="img/time.gif" align="absmiddle" ALT="" border="0"> {$dblist.time[dblist]|date_format:"%x %X (%A)"}
	</TD>
	<TD width="1%" align="right" onClick="return self.location.href='?m=dbview&db={$dblist.time[dblist]}';" nowrap>
		<IMG src="img/size.gif" align="absmiddle" ALT="" border="0"> {$dblist.size[dblist]} {t}bytes{/t}
	</TD>
	<TD width="1%" align="right" onClick="return self.location.href='?m=dbview&db={$dblist.time[dblist]}';" nowrap>
	{if $dblist.type[dblist]=="gz"}<IMG src="img/zipped.gif" align="absmiddle" ALT="" border="0">{elseif $dblist.type[dblist]=="plain"}<IMG src="img/plain.gif" align="absmiddle" ALT="" border="0">{/if}
	</TD>
	<TD class="fright" width="1%" align="right" nowrap> 
		<nobr>
		<a href="?m=dbdel&db={$dblist.time[dblist]}" onClick="return confirmLink(this, '{t}Are you sure, you want to delete this database backup?{/t}')"><IMG src="img/delete.gif" align="absmiddle" border="0" ALT="[ {t}Delete{/t} ]"></A>
		<a href="?m=dbrecover&db={$dblist.time[dblist]}" onClick="return confirmLink(this, '{t}Are you sure, you want to restore this database backup?{/t}\n{t}WARNING! It will cause automatic creation of backup of present database{/t}')"><IMG src="img/recover.gif" align="absmiddle" border="0" ALT="[ {t}Restore{/t} ]"></A>
		<a href="?m=dbview&db={$dblist.time[dblist]}&file=/lms-{$dblist.time[dblist]|date_format:"%Y%m%d-%H%M%S"}.sql{if $dblist.type[dblist]=="gz"}.gz{elseif $dblist.type[dblist]=="plain"}{/if}"><img src="img/view.gif" ALT="[ {t}View{/t} ]" border="0" align="absmiddle"></A>
		<A href="?m=dbview&db={$dblist.time[dblist]}&rawmode=true&save=true&file=/lms-{$dblist.time[dblist]|date_format:"%Y%m%d-%H%M%S"}.sql{if $dblist.type[dblist]=="gz"}.gz{elseif $dblist.type[dblist]=="plain"}{/if}"><img src="img/save.gif" ALT="[ {t}Save{/t} ]" border="0" align="absmiddle"></A>
		</nobr>
	</TD>
</TR>	
{sectionelse}
<TR onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
	<TD colspan="3" class="flr" width="100%" align="center">
		<p>&nbsp;</p>
		<p>
		<B>{t}Database backups currently not found!{/t}</B>
		</p>
		<p>&nbsp;</p>
	</TD>
</TR>
{/section}
<TR class="light">
	<TD colspan="4" width="100%" align="right" class="fall">
		Create new
		<a href="?m=dbnew">{t}uncompressed{/t} <img src="img/dbnew.gif" border="0" ALT="" align="absmiddle"></A> / 
		<a href="?m=dbnew&gz=1">{t}compressed{/t} <img src="img/dbnew.gif" border="0" ALT="" align="absmiddle"></A>
	</TD>
</TABLE>
{include file="footer.html}

