{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<form method="POST" action="?m=divisionedit&id={$division.id}" name="division">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/division.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<strong>{trans("Name:")}</strong>
		</td>
		<td width="98%" class="frightu">
			<input type="text" name="division[shortname]" value="{$division.shortname|escape}" size="40" {tip text="Enter division short name" trigger="shortname" bold=1}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/division.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Long name:")}</strong>
		</td>
		<td width="98%" class="fright">
			<textarea name="division[name]" cols="45" rows="4" {tip text="Enter division long name" trigger="name"}>{$division.name}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Address:")}</strong>
		</td>
		<td width="98%" class="fright">
			<table width="100%" cellpadding="2" cellspacing="0">
			    <tr>
				<td width="1%" nowrap="nowrap">{trans("Address:")}</td>
				<td width="99%"><input type="text" size="30" value="{$division.address}" name="division[address]" {tip text="Enter address" trigger="address"}></td>
			    </tr>
			    <tr>
				<td width="1%" nowrap="nowrap">{trans("City:")}</td>
				<td width="99%"><input type="TEXT" size="30" value="{$division.city}" name="division[city]" {tip text="Enter city" trigger="city"}></td>
			    </tr>
			    <tr>
				<td width="1%" nowrap="nowrap">{trans("Zip:")}</td>
				<td width="99%"><input type="text" size="10" value="{$division.zip}" name="division[zip]" {tip text="Enter zip code" trigger="zip"}></td>
			    </tr>
			    <tr>
				<td width="1%" nowrap="nowrap">{trans("Country:")}</td>
				<td width="99%">
					<select name="division[countryid]" {tip text="Enter country" trigger="countryid"}>
						<option value="0"></option>
						{foreach from=$countries item=item key=key}
						<option value="{$key}"{if $key==$division.countryid} SELECTED{/if}>{t}{$item.name}{/t}</option>
						{/foreach}
					</select>
				</td>
			    </tr>
			</table>    
		</td>
	</tr>
	<tr class="light">	
		<td width="%1" class="fleft">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("TEN")}</strong>
		</td>
		<td width="99%" class="fright">
			<input type="text" size="40" value="{$division.ten}" name="division[ten]" {tip text="Enter Tax Exempt Number (optional)" trigger="ten"}>
			{if $division.tenwarning}
			<input type="HIDDEN" name="division[tenwarning]" value="1">
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="%1" class="fleft">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("REGON")}</strong>
		</td>
		<td width="99%" class="fright">
			<input type="text" size="40" value="{$division.regon}" name="division[regon]" {tip text="Enter Business Registration Number (optional)" trigger="regon"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/card.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Bank account:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="division[account]" value="{$division.account}" size="45" {tip text="Enter bank account or mass payments account prefix (optional)" trigger="account"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Description:")}</strong>
		</td>
		<td width="98%" class="fright">
			<textarea name="division[description]" cols="45" rows="4" {tip text="Enter additional information (optional)"}>{$division.description}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/wait.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Locked:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="checkbox" name="division[status]" value="1"{if $division.status} checked="checked"{/if}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Invoice header:")}</strong>
		</td>
		<td width="98%" class="fright">
			<textarea name="division[inv_header]" cols="45" rows="4" {tip text="Enter invoice header (optional)" trigger="inv_header"}>{$division.inv_header}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Invoice footer:")}</strong>
		</td>
		<td width="98%" class="fright">
			<textarea name="division[inv_footer]" cols="45" rows="4" {tip text="Enter invoice footer (optional)" trigger="inv_footer"}>{$division.inv_footer}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Invoice author:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="division[inv_author]" value="{$division.inv_author}" size="45" {tip text="Enter invoices author (optional)" trigger="inv_author"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Invoice creation place:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="division[inv_cplace]" value="{$division.inv_cplace}" size="45" {tip text="Enter invoices creation place (optional)" trigger="inv_cplace"}>
		</td>
	</tr>
	<tr class="LIGHT">
                <td width="1%" class="fleft">
		        <img src="img/print.gif" alt="">
		</td>
		<td width="1%">
		        <strong>{trans("Payment type:")}</strong>
		</td>
		<td width="98%" class="fright">
			<select name="division[inv_paytype]" {tip text="Select default invoices payment type" trigger="paytype"}>
				<option value=""{if !$division.inv_paytype} selected{/if}>- {trans("default")} -</option>
				{foreach from=$_PAYTYPES item=item key=key}
				<option value="{$key}"{if $division.inv_paytype==$key} selected{/if}>{$item}</option>
				{/foreach}
			</select>
	    </td>
	</tr>
	<tr class="LIGHT">
                <td width="1%" class="fleft">
		        <img src="img/print.gif" alt="">
		</td>
		<td width="1%">
		        <strong>{trans("Deadline:")}</strong>
		</td>
		<td width="98%" class="fright">
			<select name="division[inv_paytime]" {tip text="Select default deadline in days" trigger="inv_paytime"}>
			        <option value=""{if !strlen($division.inv_paytime)} selected{/if}>- {trans("default<!paytime>")} -</option>
			        <option value="0"{if $division.inv_paytime=="0"} selected{/if}>0</option>
			        <option value="7"{if $division.inv_paytime==7} selected{/if}>7</option>
			        <option value="10"{if $division.inv_paytime==10} selected{/if}>10</option>
			        <option value="14"{if $division.inv_paytime==14} selected{/if}>14</option>
			        <option value="21"{if $division.inv_paytime==21} selected{/if}>21</option>
			        <option value="30"{if $division.inv_paytime==30} selected{/if}>30</option>
			</select>
	        </td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="javascript:document.division.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=divisionlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a><br />
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
document.forms['division'].elements['division[shortname]'].focus();
//-->
</script>
{include file="footer.html"}

