{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function setnumberplans()
	{
		var type = document.forms['documentedit'].elements['document[type]'].value,
			plans = document.getElementById('numberplans');

		if (type == 0)
		{
			plans.style.display = 'none';
			plans.innerHTML = '<input type="hidden" name="document[numberplanid]" value="0">';
		}
		else
		{
			var p = [], pr = [];
			var s = {$document.numberplanid|default:0};
			{foreach from=$_DOCTYPES key=key item=item}{if $key < 0}
				p[{$key}] = [];
				pr[{$key}] = [];
				{foreach from=$allnumberplans item=plan}{if $plan.doctype == $key}{assign var=period value=$plan.period}
					p[{$key}][{$plan.id}] = '{number number=$plan.next template=$plan.template time=$document.cdate}';
					pr[{$key}][{$plan.id}] = '{$_NUM_PERIODS.$period}';
				{/if}{/foreach}
			{/if}{/foreach}
			if (p[type].length)
			{
				var key, result = '<select name="document[numberplanid]">';
				for (key in p[type])
				{
					result = result + '<option value="' + key + '"';
					if(key == s)
						result += ' selected="selected"';
					result = result + '>' + p[type][key] + ' (' + pr[type][key] + ') </option>';
				}
				result += '</select>';

				plans.innerHTML = result;
			}
			else
				plans.innerHTML = '<input type="hidden" name="document[numberplanid]" value="0">';

			plans.style.display = 'inline';
		}
	}
//-->
</script>
<P><form name="documentedit" method="POST" action="?m=documentedit&id={$document.id}" enctype="multipart/form-data">
<input type="submit" class="hiddenbtn">
<table cellpadding="3" width="100%">
	<tr class="DARK">
		<td width="1%" class="fleftu">
			<img src="img/docum.gif" alt="">
		</td>
		<td width="1%" class="fbt" nowrap="nowrap">
			<strong>{trans("Title:")}
		</td>
		<td width="98%" class="frightu" nowrap="nowrap">
			<input type="text" name="document[title]" value="{$document.title}" {tip text="Enter document title" trigger="title"} size="40">
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Type:")}
		</td>
		<td width="98%" class="fright">
			<select size="1" name="document[type]" onchange="setnumberplans();" {tip text="Select document type" trigger="type"}>
				{foreach from=$_DOCTYPES key=key item=item}{if $key < 0 && in_array($key, $docrights)}
				<option value="{$key}"{if $document.type==$key} selected="selected"{/if}>{$item}</option>
				{/if}{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/docum.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Number:")}
		</td>
		<td width="98%" class="fright">
			<input type="text" name="document[number]" value="{$document.number}" size="15" {tip text="Enter document number (leave this field empty to obtain next number)" trigger="number"}>&nbsp;
			<div id="numberplans" style="display: {if !$document.numberplanid}none{else}inline{/if};">
			{if $numberplans}
			<select name="document[numberplanid]" {tip text="Select numbering plan"}>
			{foreach item=plan from=$numberplans}
				{assign var=period value=$plan.period}
				<option value="{$plan.id}"{if $plan.id==$document.numberplanid} selected="selected"{/if}>{number number=$plan.next template=$plan.template time=$document.cdate} ({$_NUM_PERIODS.$period})</option>
			{/foreach}
			</select>
			{else}
				<input type="hidden" name="document[numberplanid]" value="0">
			{/if}
			</div>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Period:")}
		</td>
		<td width="98%" class="fright">
			{trans("from:")} <input type="TEXT" name="document[fromdate]" value="{if $document.fromdate}{$document.fromdate}{/if}" OnClick="cal1.popup();" {tip text="Enter start date in YYYY/MM/DD format (optional)" trigger="fromdate"} size="10">&nbsp;
			{trans("to:")} <input type="TEXT" name="document[todate]" value="{if $document.todate}{$document.todate}{/if}" OnClick="cal2.popup();" {tip text="Enter end date in YYYY/MM/DD format (optional)" trigger="todate"} size="10"><br />
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Description:")}
		</td>
		<td width="98%" class="fright">
			<textarea name="document[description]" rows="5" cols="50" {tip text="Enter additional information (optional)"}>{$document.description}</textarea>
		</td>
	</tr>
{*
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/save.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("File:")}
		</td>
		<td width="98%" class="fright">
			<input size="50" type="file" name="file" {tip text="Enter path to file or click 'Browse' button" trigger="file"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft">
			<img src="img/class.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Template:")}
		</td>
		<td width="98%" class="fright">
			<select size="1" name="document[template]" {tip text="Select template to generate new document if you haven't got prepared file" trigger="template"}>
				<option value="0">... {trans("select template")} ...</option>
				{foreach from=$docengines item=item}
				<option value="{$item.name}"{if $document.template==$item.name} selected="selected"{/if}>{$item.title}</option>
				{/foreach}
			</select>
		</td>
	</tr>
*}
	<tr class="LIGHT">
		<td width="1%" class="fleft">
	        	<img src="img/confirm.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap"><strong>{trans("Confirmed:")}</strong></td>
		<td width="98%" class="fright">
		        <input type="checkbox" name="document[closed]" value="1" {if $document.closed} checked="checked"{/if}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fbottomu" colspan="3" align="right" nowrap="nowrap">
			<a href="javascript: document.documentedit.submit();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=customerinfo&id={$document.customerid}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form></P>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.forms['documentedit'].elements['document[fromdate]']);
cal1.time_comp = false;
var cal2 = new calendar(document.forms['documentedit'].elements['document[todate]']);
cal2.time_comp = false;
document.forms['documentedit'].elements['document[title]'].focus();
setnumberplans();
//-->
</script>
{include file="footer.html"}
