{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{if $docid}<SCRIPT type="text/javascript">window.open('?m=documentview&id={$docid}');</SCRIPT>{/if}
{literal}
<SCRIPT type="text/javascript">
<!--
	function CheckAll()
	{
                for (var i=0; i<document.page.elements.length; i++)
                {
                        var e = document.page.elements[i];
                        if (e.name != 'allbox')
	    			e.checked = document.page.allbox.checked;
		}
	}
	
	function CheckAll2()
	{
	        document.page.allbox.checked = !document.page.allbox.checked;
		CheckAll();
	}

	function delete_docs()
	{
		if(! confirm('{/literal}{t}Are you sure, you want to delete selected documents?{/t}{literal}'))
			return;

		document.page.action="?m=documentdel&is_sure=1";
        	document.page.target="";
		document.page.submit();
	}
	
	function print_docs()
	{
	    document.page.action="?m=documentview";
            document.page.target="_blank";
            document.page.submit();
	}

	function mark_docs()
	{
	    document.page.action="?m=documentedit&action=confirm";
            document.page.target="";
            document.page.submit();
	}
//-->
</SCRIPT>
{/literal}
{include file="calendar_js.html"}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" NOWRAP class="fleftu"> <A href="?m=documentlist&o=cdate{if $listdata.direction eq "asc" && $listdata.order eq "cdate"},desc{/if}">{t}Date:{/t}</A>{if $listdata.order eq "cdate"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR><B>{t}Number:{/t}</B></TD>
		<TD WIDTH="1%" NOWRAP class="fbt"> <A href="?m=documentlist&o=type{if $listdata.direction eq "asc" && $listdata.order eq "type"},desc{/if}"><B>{t}Type:{/t}</B></A>{if $listdata.order eq "type"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</TD>
		<TD WIDTH="1%" NOWRAP class="fbt"> <A href="?m=documentlist&o=title{if $listdata.direction eq "asc" && $listdata.order eq "title"},desc{/if}">{t}Title:{/t}</A>{if $listdata.order eq "title"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>{t}Period:{/t}</TD>
		<TD WIDTH="96%" NOWRAP class="fbt"> <A href="?m=documentlist&o=customer{if $listdata.direction eq "asc" && $listdata.order eq "customer"},desc{/if}">{t}Customer:{/t}</A>{if $listdata.order eq "customer"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</TD>
		<TD WIDTH="1%" NOWRAP class="frightu" align="right">
			<A href="?m=documentadd&cid={$listdata.customer}&type={$listdata.type}">{t}New Document{/t}</A> <IMG src="img/save.gif" alt="">
		</TD>
	</TR>
	<TR class="DARK">
		<TD class="fall" colspan="5">
			    <FORM method="GET" action="?m=documentlist" name="filter">
				<INPUT type="submit" class="hiddenbtn">
				<INPUT type="HIDDEN" name="m" value="documentlist">
				<INPUT type="HIDDEN" name="page" value="1">
				<B>{t}Filter:{/t} </B> {t}Customer:{/t}
				<SELECT size="1" name="c" OnChange="document.filter.submit();">
					<OPTION value="0"{if $listdata.customer eq ""} SELECTED{/if}>{t}- all customers -{/t}</OPTION>
					{foreach from=$customerlist item=customer}
					<OPTION value="{$customer.id}"{if $customer.id eq $listdata.customer} SELECTED{/if}>{$customer.customername|truncate:40:"...":true}</OPTION>
					{/foreach}
				</SELECT>&nbsp;
				{t}Type:{/t}
				<SELECT size="1" name="t" ONCHANGE="document.filter.submit();">
					<OPTION value="0"{if !$listdata.type} SELECTED {/if}>{t}- all -{/t}</OPTION>
					{foreach from=$_DOCTYPES key=key item=item}{if $key < 0}
					<OPTION VALUE="{$key}"{if $listdata.type==$key} SELECTED{/if}>{$item}</OPTION>
					{/if}{/foreach}
				</SELECT>&nbsp;
				<B>{t}Period:{/t}</B>&nbsp;
				{t}from{/t}&nbsp;<INPUT TYPE="text" NAME="from" SIZE="10" MAXSIZE="10" value="{if $listdata.from > 0}{$listdata.from|date_format:"%Y/%m/%d"}{/if}" OnClick="javascript:cal1.popup();" {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar"}>
				{t}to{/t}&nbsp;<INPUT TYPE="text" NAME="to" SIZE="10" MAXSIZE="10" value="{if $listdata.to > 0}{$listdata.to|date_format:"%Y/%m/%d"}{/if}" OnClick="javascript:cal2.popup();"  {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar"}>&nbsp;
				<A href="javascript: document.filter.submit();">&raquo;&raquo;&raquo;</A>&nbsp;
			    </FORM>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="5" CLASS="FALL">
			{include file="scroller.html" loop=$documentlist}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section loop=$documentlist name=documentlist start=$start max=$pagelimit}
	{assign var=doc value=$documentlist[documentlist]}
	{assign var=docid value=$doc.docid}
	<TR class="{cycle}{if $doc.closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	<FORM METHOD="POST" NAME="page" ACTION="?m=documentedit&action=confirm">
		<TD CLASS="fleft" NOWRAP onclick="window.open('?m=documentview&id={$doc.docid}');"{if $doc.description} {tip text=$doc.description}{/if}>
			{$doc.cdate|date_format:"%Y/%m/%d"}
			{if $doc.number}<BR>
				<B>{number number=$doc.number template=$doc.template time=$doc.cdate}</B>
			{/if}
		</TD>
		<TD NOWRAP onclick="window.open('?m=documentview&id={$doc.docid}');"><B>{assign var=type value=$doc.type}{$_DOCTYPES.$type}</B></TD>
		<TD NOWRAP onclick="window.open('?m=documentview&id={$doc.docid}');">
			{$doc.title|truncate:40:"...":true}
			{if $doc.fromdate || $doc.todate}<BR>
			    {if $doc.fromdate}{t}from{/t} {$doc.fromdate|date_format:"%Y/%m/%d"}{/if}
			    {if $doc.todate}{t}to{/t} {$doc.todate|date_format:"%Y/%m/%d"}{/if}
			{/if}
		</TD>
		<TD NOWRAP><A href="?m=customerinfo&id={$doc.customerid}">{$doc.name|truncate:40:"...":true}</A></TD>
		<TD CLASS="fright" ALIGN="RIGHT" NOWRAP>
			{assign var=type value=$doc.type}
			<a href="?m=documentview&id={$doc.docid}&save=1"><img src="img/save.gif" alt="[ {t}Save{/t} ]" title="[ {t}Save{/t} ]"></a>
			{if ! $doc.closed && ($docrights.$type.rights & 4)}
			<a href="?m=documentedit&id={$doc.docid}&action=confirm"><img src="img/confirm.gif" alt="[ {t}Confirm{/t} ]" title="[ {t}Confirm{/t} ]"></a>
			{/if}      
			{if ($docrights.$type.rights & 16)}
			<a onclick="return confirmLink(this, '{t}Are you sure, you want to remove that document?{/t}')" HREF="?m=documentdel&id={$doc.docid}"><img src="img/delete.gif" alt="[ {t}Delete{/t} ]" title="[ {t}Delete{/t} ]"></a>
			{/if}
			{if ($docrights.$type.rights & 8)}
			<a href="?m=documentedit&id={$doc.docid}"><img src="img/edit.gif" alt="[ {t}Edit{/t} ]" title="[ {t}Edit{/t} ]"></a>
			{/if}
			<a href="?m=documentview&id={$doc.docid}" target="_blank"><img src="img/{if preg_match('/pdf/',$doc.contenttype)}pdf{elseif preg_match('/csv|excel|spreadsheet/',$doc.contenttype)}xls{else}view{/if}.gif" alt="[ {t}View{/t} ]" title="[ {t}View{/t} ]"></a>
			<INPUT TYPE="checkbox" NAME="marks[{$docid}]" VALUE="{$docid}"{if $marks.$docid}CHECKED{/if}>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD align="center" WIDTH="100%" colspan="5" class="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such documents matching search criteria or list is empty.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="5" CLASS="FALL">
			{include file="scroller.html" loop=$documentlist}
		</TD>
	</TR>
	{/if}
	<TR CLASS="dark">
		<TD CLASS="fall" COLSPAN="5">
		        <TABLE WIDTH="100%">
				<TR>
					<TD ALIGN="left">
						<NOBR>
						<A HREF="javascript:print_docs();">{t}Print{/t} <IMG SRC="img/print.gif" ALT=""{t}Print{/t}"></A>&nbsp;
						<A HREF="javascript:mark_docs();">{t}Confirm{/t} <IMG SRC="img/confirm.gif" ALT=""{t}Confirm{/t}"></A>&nbsp;
						<A HREF="javascript:delete_docs();">{t}Delete{/t} <IMG SRC="img/delete.gif" ALT="{t}Delete{/t}"></A>
						</NOBR>
					</TD>
					<TD ALIGN="right">
				                <NOBR><A HREF="javascript:CheckAll2();">{t}Check All{/t}</A><INPUT TYPE="checkbox" NAME="allbox" onClick="CheckAll();" VALUE="Check All Boxes"></NOBR>
					</TD>
				 </TR>
			</TABLE>
		</TD>
	</TR>
	</FORM>
</TABLE>
<SCRIPT type="text/javascript">
<!--
var cal1 = new calendar(document.filter.elements['from']);
cal1.time_comp = false;
var cal2 = new calendar(document.filter.elements['to']);
cal2.time_comp = false;
//-->
</SCRIPT>
{include file="footer.html"}
