{include file="header.html"}
<!--// $Id$ //-->
{if $layout.module=="domainsearch"}{assign var=suffix value="&s=1"}{/if}
<H1>{$layout.pagetitle}</H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR class="DARK">
	        <TD class="fall" colspan="6">
			<TABLE cellpadding="0" cellspacing="0">
				<TR>
					<TD width="1%" NOWRAP>
		        			<FORM method="GET" action="?m={$layout.module}" name="filter">
							<INPUT type="submit" class="hiddenbtn">
							<INPUT type="HIDDEN" name="m" value="{$layout.module}">
							{if $suffix}<INPUT type="HIDDEN" name="s" value="1">{/if}
							<INPUT type="HIDDEN" name="page" value="1">
							<B>{t}Filter:{/t} </B> {t}Owner:{/t}
							<SELECT size="1" name="c" OnChange="document.filter.submit();">
								<OPTION value=""{if $listdata.customer eq ""} SELECTED{/if}>{t}- all owners -{/t}</OPTION>
			        				<OPTION value="0"{if $listdata.customer eq "0"} SELECTED{/if}>{t}SYSTEM DOMAIN{/t}</OPTION>
								{foreach from=$customerlist item=customer}
				    					<OPTION value="{$customer.id}"{if $customer.id eq $listdata.customer} SELECTED{/if}>{$customer.customername|truncate:40:"...":true}</OPTION>
								{/foreach}
							</SELECT>
						</FORM>
					</TD>
					<TD width="99%" align="right" nowrap>
						<A href="?m=domainadd&cid={$listdata.customer}">{t}New Domain{/t} <IMG src="img/save.gif" alt=""></A>
					</TD>
		    		</TR>
			</TABLE>
		</TD>
	</TR>

	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="6" CLASS="FALL">
			{include file="scroller.html" loop=$domainlist adlink=$suffix}
		</TD>
	</TR>

	<TR class="dark">
		<TD width="95%" class="fleftu" NOWRAP>
			<IMG src="img/network.gif" alt=""> <A href="?m={$layout.module}{$suffix}&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}"><B>{t}Name:{/t}</B></A> {if $listdata.order eq "name"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
                <TD width="1%" class="fbt" align="center" NOWRAP>
                    <IMG src="img/empty.gif" alt="" height="16"><A href="?m={$layout.module}{$suffix}&o=type{if $listdata.direction eq "asc" && $listdata.order eq "type"},desc{/if}">{t}Type:{/t}</A> {if $listdata.order eq "type"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </TD>                                                        

		<TD width="1%" class="fbt" align="center" NOWRAP>
			<IMG src="img/empty.gif" alt="" height="16"><A href="?m={$layout.module}{$suffix}&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{t}ID:{/t}</A> {if $listdata.order eq "id"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="fbt" NOWRAP>
			<IMG src="img/customer.gif" alt=""> <A href="?m={$layout.module}{$suffix}&o=customer{if $listdata.direction eq "asc" && $listdata.order eq "customer"},desc{/if}">{t}Customer:{/t}</A> {if $listdata.order eq "customer"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="fbt" NOWRAP>
		    <IMG src="img/empty.gif" alt="" height="16">
		    <A href="?m={$layout.module}{$suffix}&o=cnt{if $listdata.direction eq "asc" && $listdata.order eq "cnt"},desc{/if}">{t}Accounts:{/t}</A> {if $listdata.order eq "cnt"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" class="frightu" NOWRAP>
			<IMG src="img/empty.gif" alt="" height="16">
			<B>{t 0=$listdata.total}Total: $0{/t}</B>
		</TD>
	</TR>


	{/if}
	{cycle values="light,lucid" print=false}
	{section name=domainlist loop=$domainlist start=$start max=$pagelimit}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD class="fleft" NOWRAP onclick="return self.location.href='?m=domaininfo&id={$domainlist[domainlist].id}'">
			<IMG src="img/network.gif" alt=""{if $domainlist[domainlist].description} {tip text=$domainlist[domainlist].description}{/if}><B> {$domainlist[domainlist].name}</B>
		</TD>
		
               <TD align="right" NOWRAP >
                       {$domainlist[domainlist].type}
               </TD>		
		<TD align="right" NOWRAP onclick="return self.location.href='?m=domaininfo&id={$domainlist[domainlist].id}'">
			({$domainlist[domainlist].id|string_format:"%04d"})
		</TD>
		<TD align="left" NOWRAP onclick="return self.location.href='?m=domaininfo&id={$domainlist[domainlist].id}'">
			{if $domainlist[domainlist].ownerid}
			<IMG src="img/customer.gif" alt=""> 
			<A href="?m=customerinfo&id={$domainlist[domainlist].ownerid}">{$domainlist[domainlist].customername|truncate:45:"...":true} ({$domainlist[domainlist].ownerid|string_format:"%04d"})</A>
			{/if}
		</TD>
		<TD align="right" onclick="return self.location.href='?m=domaininfo&id={$domainlist[domainlist].id}'">
			{$domainlist[domainlist].cnt|default:0}
		</TD>
		<TD class="fright" align="right" NOWRAP>
			<A href="?m=domaindel&id={$domainlist[domainlist].id}" OnClick="return confirmLink(this, '{t 0=$domainlist[domainlist].name}Are you sure, you want to delete domain: \'$0\' and all accounts/aliases in that domain?{/t}')"><IMG src="img/delete.gif" alt="[ {t}Delete{/t} ]" title="[ {t}Delete{/t} ]"></A>
			<A href="?m=domainedit&id={$domainlist[domainlist].id}"><IMG src="img/edit.gif" alt="[ {t}Edit{/t} ]" title="[ {t}Edit{/t} ]"></A>
			<A href="?m=domaininfo&id={$domainlist[domainlist].id}"><IMG src="img/info.gif" alt="[ {t}Info{/t} ]" title="[ {t}Info{/t} ]"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>	
		<TD colspan="6" align="center" class="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such domains in database.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="6" CLASS="FALL">
			{include file="scroller.html" loop=$domainlist adlink=$suffix}
		</TD>
	</TR>
	{/if}
	<TR class="light">
		<TD colspan="5" class="fleftu" align="right">
			<B>{t}Total:{/t} {sum array=$domainlist column="cnt"}</B>	
		</TD>
		<TD class="frightu" align="right" nowrap>
			<A href="?m=domainadd&cid={$listdata.customer}">{t}New Domain{/t} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
    