<!--// $Id$ //-->
<TABLE WIDTH="100%" BGCOLOR="#F4F0EC" CELLPADDING="3">
	<TR>
		<TD WIDTH="100%" CLASS="fall"><B>
			<img src="img/account.gif" ALT="" align="absmiddle" border="0">
			{t}Timetable{/t}:
                	<A href="?m=eventlist" {tip text="Timetable"}>{t}Timetable{/t}</A> /
			<A href="?m=eventadd" {tip text="Addition of New Event"}>{t}New Event{/t}</A> /
			<A href="?m=eventsearch" {tip text="Searching of Events in Timetable"}>{t}Search{/t}</A>
		</B></TD>
	</TR>
</TABLE>													
