{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%">
	<tr>
		<td width="50%" align="LEFT" nowrap="nowrap">
			<h1>{$layout.pagetitle}: {$date|date_format:"%x (%A)"}</h1>
		</td>
		<td width="50%" align="RIGHT">
			LMS {$layout.lmsv} @ {$layout.hostname}<br />
			{$smarty.now|date_format:"%A, %e %B %Y"}<br />
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<table width="100%" cellpadding="3" BORDER="1" align="CENTER">
	<tr>
		<td width="1%" class="HEAD">
			{trans("Time")}
		</td>
		<td width="97%" class="HEAD" align="LEFT">
			{trans("Title")}<br />
			{trans("Description")}/{trans("Note")}
		</td>
		<td width="1%" class="HEAD" align="CENTER">
			{trans("User")}
		</td>
		<td width="1%" class="HEAD" align="CENTER">
			{trans("Customer")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{foreach item=event from=$eventlist}
	<tr class="{cycle}">
		<td width="1%" VALIGN="TOP" align="LEFT">
			<span class="nobr">
			{math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
			{if $event.begintime != $event.endtime}
			- {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
			{/if}
			</span>
		</td>
		<td width="97%" align="LEFT" VALIGN="TOP">
			<strong>{$event.title}</strong><br />
			{$event.description}<br />
			{$event.note}
		</td>
		<td width="1%" align="RIGHT" VALIGN="TOP">
			{foreach item=user from=$event.userlist}
				<span class="nobr">{$user.name|truncate:"25":"...":true}</span><br />
			{/foreach}
		</td>
		<td width="1%" align="RIGHT" VALIGN="TOP">
			<span class="nobr">{$event.customername|truncate:"40":"...":true}</span><br />
			<span class="nobr">{$event.customeraddr}</span><br />
			<span class="nobr">{$event.customercity}</span><br />
			<span class="nobr">{$event.customerphone}</span>
		</td>
	</tr>
	{/foreach}
</table>
{include file="clearfooter.html"}
