{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<P><form method="POST" action="?m=ewxchedit&id={$channel.id}" name="channel">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK" colspan="2">
		<td width="1%" class="fleftu" nowrap="nowrap"><img src="img/channel.gif" alt=""> <strong>{trans("Channel name:")}</strong></td>
		<td class="frightu">
			<input type="TEXT" name="channel[name]" value="{$channel.name}" size="30" {tip text="Enter channel name" trigger="name"}>
			<strong>({$channel.id|string_format:"%04d"})</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft" nowrap="nowrap"><img src="img/downrate.gif" alt=""> <strong>{trans("Downceil:")}</strong></td>
		<td class="fright">
			<input type="TEXT" size="10" name="channel[downceil]" value="{if $channel.downceil}{$channel.downceil}{/if}" {tip text="Enter maximal download value" trigger="downceil"}>
			{trans("night:")} <input type="TEXT" size="10" name="channel[downceil_n]" value="{if $channel.downceil_n}{$channel.downceil_n}{/if}" {tip text="Enter maximal download value (optional)" trigger="downceil_n"}> kbit/s
		</td> 
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft" nowrap="nowrap"><img src="img/uprate.gif" alt=""> <strong>{trans("Upceil:")}</strong></td>
		<td class="fright">
			<input type="TEXT" size="10" name="channel[upceil]" value="{if $channel.upceil}{$channel.upceil}{/if}" {tip text="Enter maximal upload value" trigger="upceil"}>
			{trans("night:")} <input type="TEXT" size="10" name="channel[upceil_n]" value="{if $channel.upceil_n}{$channel.upceil_n}{/if}" {tip text="Enter maximal upload value (optional)" trigger="upceil_n"}> kbit/s
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="fleft" nowrap="nowrap"><img src="img/options.gif" alt=""> <strong>{trans("Options:")}</strong></td>
		<td class="fright" nowrap="nowrap">
		    <label for="halfduplex">{trans("Half duplex")}:</label>
            <input type="checkbox" name="channel[halfduplex]" value="1" id="halfduplex" {if $channel.halfduplex} checked="checked"{/if} {tip text="Select transmission mode"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="100%" class="fbottomu" colspan="2" align="right">
			<a href="javascript:document.channel.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=ewxchlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form></P>
<script type="text/javascript">
<!--
document.forms['channel'].elements['channel[name]'].focus();
//-->
</script>
{include file="footer.html"}
