{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<P><form method="post" name="invoicereport" id="invoicereport" action="?m=export&type=invoices">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="fleftu" width="1%">
			<img src="img/money.gif" alt="">
		</td>
		<td class="frightu" width="99%">
			<strong>{trans("Sale Registry")}</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="flr" width="100%" colspan="2">
			<table width="100%">
				<tr>
					<td width="1%">
						<img src="img/calendar.gif" alt="">
					</td>
					<td width="1%">
						<strong>{trans("Period:")}&nbsp;</strong>
					</td>
					<td width="1%" nowrap="nowrap">
						{trans("From")}&nbsp;<input type="text" name="from" size="10" MAXSIZE="10" OnClick="javascript:cal8.popup();" {tip text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>
					</td>
					<td width="97%" nowrap="nowrap">
						{trans("To")}&nbsp;<input type="text" name="to" size="10" MAXSIZE="10" OnClick="javascript:cal9.popup();" {tip text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>	
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fbottomu" width="100%" colspan="2" align="right">
			<a href="javascript:document.invoicereport.submit();">{trans("Save")} <img src="img/save.gif" alt="" hspace="2"></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
var cal8 = new calendar(document.forms['invoicereport'].elements['from']);
cal8.time_comp = false;
var cal9 = new calendar(document.forms['invoicereport'].elements['to']);
cal9.time_comp = false;
//-->
</script>
<P><form method="post" name="receiptlist" id="receiptlist" action="?m=export&type=cash">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="fleftu" width="1%">
			<img src="img/money.gif" alt="">
		</td>
		<td class="frightu" width="99%">
			<strong>{trans("Cash Report")}</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="flr" width="100%" colspan="2">
			<table width="100%">
				<tr>
					<td width="1%">
						<img src="img/queue.gif" alt="">
					</td>
					<td width="1%" nowrap="nowrap">
						<strong>{trans("Registry:")}</strong>
					</td>
					<td width="1%">
						<select size="1" name="registry" {tip text="Select cash registry"}>
					    		<option value="0">{trans("- select registry -")}</option>
						        {foreach from=$cashreglist item=c}
							<option value="{$c.id}">{$c.name|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
						        {/foreach}
						</select>
					</td>
					<td width="1%">
						<img src="img/calendar.gif" alt="">
					</td>
					<td width="1%" nowrap="nowrap">
						<strong>{trans("Period:")}</strong>&nbsp;
						{trans("From")}&nbsp;<input type="text" name="from" size="10" MAXSIZE="10" OnClick="javascript:cal12.popup();" {tip text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>
						{trans("To")}&nbsp;<input type="text" name="to" size="10" MAXSIZE="10" OnClick="javascript:cal13.popup();" {tip text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>	
					</td>
					<td width="1%">
						<img src="img/users.gif" alt="">
					</td>
					<td width="1%" nowrap="nowrap">
						<strong>{trans("User:")}</strong>
					</td>
					<td width="93%">
						<select size="1" name="user" {tip text="You can select user to limit results"}>
							<option value="">{trans("- all users -")}</option>
							{section name="users" loop=$users}
							<option value="{$users[users].id}">{$users[users].name|truncate:40:"...":true}</option>
							{/section}
						</select>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fbottomu" width="100%" colspan="2" align="right">
			<a href="javascript:document.receiptlist.submit();">{trans("Save")} <img src="img/save.gif" alt="" hspace="2"></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
var cal12 = new calendar(document.receiptlist.elements['from']);
cal12.time_comp = false;
var cal13 = new calendar(document.receiptlist.elements['to']);
cal13.time_comp = false;
//-->
</script>
{include file="footer.html"}
