{include file="header.html"}
<!--// $Id$ //-->
{include file="balanceheader.html"}
<SCRIPT LANGUAGE="JavaScript" SRC="img/calendar.js"></SCRIPT>
<script language="javascript">
	<!--
	function setItem(index)
	{literal}{{/literal}
		{foreach from=$tariffs item=tariff}
		if(index=={$tariff.id})
		{literal}{{/literal}
			document.additem.name.value = '{$tariff.name}';
			document.additem.taxvalue.value = '{$tariff.taxvalue}';
			var i = '{$tariff.taxvalue}';
			if (i == '22.00')
				document.additem.taxvalue.selectedIndex = 0;
			else
				if (i == '7.00')
					document.additem.taxvalue.selectedIndex = 1;
				else
					if (i == '0.00')
						document.additem.taxvalue.selectedIndex = 2;
					else
						document.additem.taxvalue.selectedIndex = 3;
			document.additem.valuebrutto.value = '{$tariff.value}';
			document.additem.pkwiu.value = '{$tariff.pkwiu}';
			document.additem.tariffid.value = '{$tariff.id}';
		{literal}}{/literal}
		{/foreach}
	{literal}}{/literal}
	//-->
</script>		
<H1>{$layout.pagetitle}</H1>
<FORM NAME="setcustomer" METHOD="POST" ACTION="?m=invoicenew&action=setcustomer">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="dark">
		<TD CLASS="fall" WIDTH="100%" COLSPAN="2">
			<B>Dane u¿ytkownika:</B>
		</TD>
	</TR>
	{if $customer}
	<TR CLASS="light">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>Imiê i nazwisko / nazwa:<BR>
			Adres:<BR>
			<BR>
			{if $customer.nip}NIP:<BR>{elseif $customer.pesel}PESEL:<BR>{/if}
			{if $customer.phone1}Telefon:{/if}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%" NOWRAP>
			{$customer.username}<BR>
			{$customer.address}<BR>
			{$customer.zip} {$customer.city}<BR>
			{if $customer.nip}{$customer.nip}<BR>{elseif $customer.pesel}{$customer.pesel}<BR>{/if}
			{if $customer.phone1}{$customer.phone1}{/if}
		</TD>
	</TR>
	{/if}
	<TR CLASS="light">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>Data wystawienia:</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="invoice[cdate]" VALUE="{if $invoice.cdate}{$invoice.cdate|date_format:"%Y/%m/%d"}{else}{$smarty.now|date_format:"%Y/%m/%d"}{/if}" SIZE="10" {tip text="Wpisz datê wystawienia w formacie RRRR/MM/DD lub kliknij by wybraæ z kalendarza. Pole puste oznacza datê dzisiejsz±." trigger="cdate"} OnClick="javascript:cal1.popup();" >
			{if $invoice.cdatewarning}
			<INPUT TYPE="HIDDEN" NAME="invoice[cdatewarning]" VALUE="1">
			{/if}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>Termin p³atno¶ci:</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="invoice[paytime]" VALUE="{$invoice.paytime}" SIZE="10" {tip text="Podaj termin p³atno¶ci w dniach (opcjonalnie)"}>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			<B>Typ p³atno¶ci (gotówka/przelew/etc.):</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%" NOWRAP>
			<INPUT TYPE="TEXT" NAME="invoice[paytype]" VALUE="{$invoice.paytype}" SIZE="10" {tip text="Wpisz typ p³atno¶ci"}>
		</TD>
	</TR>			
	<TR CLASS="light">
		<TD CLASS="flr" WIDTH="100%" COLSPAN="2">
			Wybierz u¿ytkownika:
			<SELECT SIZE="1" NAME="user" onChange="document.setcustomer.userid.value=document.setcustomer.user.value">
				<OPTION VALUE="0">... wybierz u¿ytkownika ...</OPTION>
				{foreach from=$users item=user}
				<OPTION VALUE="{$user.id}"{if $customer.id eq $user.id || $invoice.userid eq $user.id} SELECTED{/if}>{$user.username} ({$user.id|string_format:"%04d"})</OPTION>
				{/foreach}
			</SELECT>
			lub wpisz jego ID:
			<INPUT TYPE="TEXT" NAME="userid" VALUE="{if $customer.id}{$customer.id}{else}{$invoice.userid}{/if}" SIZE="5" onChange="document.setcustomer.user.value=document.setcustomer.userid.value">
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fbottomu" WIDTH="100%" ALIGN="right" COLSPAN="2">
			<A HREF="javascript:document.setcustomer.submit();">Wybierz / zmieñ u¿ytkownika <IMG SRC="img/save.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A>
		</TD>
	</TR>
</TABLE>
</FORM>
<BR>	
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="fleftu" WIDTH="1%">
			<B>Lp.</B>
		</TD>
		<TD CLASS="fbt" WIDTH="93%">
			Nazwa wyrobu, towaru lub us³ugi:
		</TD>
		<TD CLASS="fbt" WIDTH="1%">
			PKWiU:
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="RIGHT">
			Ilo¶æ:<BR>
			JM:
		</TD>
		<TD CLASS="fbt" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			Cena netto:<BR>
			Warto¶æ netto:
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="RIGHT">
			PTU:
		</TD>
		<TD CLASS="fbt" WIDTH="1%" NOWRAP ALIGN="RIGHT">
			Cena brutto:<BR>
			Warto¶æ brutto:
		</TD>
		<TD CLASS="frightu" WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
	{*{counter print=false}*}
	{cycle values="#DFD5BD,#EBE4D6" print=false}
	{foreach from=$contents item=item}
	<TR bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
		<TD CLASS="fleft" WIDTH="1%">
			<B>{counter}.</B>
		</TD>
		<TD WIDTH="93%">
			{$item.name}
		</TD>
		<TD WIDTH="1%" NOWRAP>
			{$item.pkwiu}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$item.count}<BR>
			{$item.jm}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$item.valuenetto|string_format:"%01.2f z³"}<BR>
			{$item.s_valuenetto|string_format:"%01.2f z³"}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{if $item.taxvalue}
				{$item.taxvalue|string_format:"%01.2f"}%
			{else}zw.{/if}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$item.valuebrutto|string_format:"%01.2f z³"}<BR>
			{$item.s_valuebrutto|string_format:"%01.2f z³"}
		</TD>
		<TD WIDTH="1%" NOWRAP CLASS="fright">
			<A HREF="?m=invoicenew&action=deletepos&posuid={$item.posuid}"><IMG SRC="img/delete.gif" {tip text="Skasuj t± pozycjê z listy"} BORDER="0"></A>
		</TD>			
	</TR>
	{foreachelse}
	<TR>
		<TD COLSPAN="8" ALIGN="CENTER" CLASS="flr">
			<BR>
			<BR>
			<B>Nie ma jeszcze pozycji na fakturze. U¿yj formularza poni¿ej aby dodaæ pozycjê.</B><BR>
			<BR>
			<BR>
		</TD>
	</TR>
	{/foreach}
	{if $contents}
	<TR CLASS="light">
		<TD COLSPAN="4" WIDTH="96%" ALIGN="RIGHT" CLASS="fleftu">
			<B>Razem:</B>
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT" CLASS="fbt">
			{sum array=$contents column=s_valuenetto string_format="%01.2f z³"}
		</TD>
		<TD WIDTH="1%" CLASS="fbt">
			&nbsp;
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT" CLASS="fbt">
			{sum array=$contents column=s_valuebrutto string_format="%01.2f z³"}
		</TD>
		<TD WIDTH="1%" CLASS="frightu">
			&nbsp;
		</TD>
	</TR>
	{/if}
	<FORM METHOD="POST" ACTION="?m=invoicenew&action=additem" NAME="additem">
	<INPUT TYPE="HIDDEN" NAME="tariffid" VALUE="0">
	<TR CLASS="light">
		<TD CLASS="ftl" WIDTH="1%" NOWRAP>
			<B>{counter}.</B>
		</TD>
		<TD CLASS="ftop" WIDTH="94%">
			<INPUT TYPE="text" NAME="name" SIZE="48"><BR>
			<SELECT SIZE="1" NAME="ttariffid">
				{foreach from=$tariffs item=tariff}
				<OPTION VALUE="{$tariff.id}">{$tariff.name} ({$tariff.value|string_format:"%0.2f"} z³)</OPTION>
				{/foreach}
			</SELECT><A HREF="javascript:setItem(document.additem.ttariffid.value)">Wybierz</A>
		</TD>
		<TD CLASS="ftop">
			<INPUT TYPE="text" NAME="pkwiu" SIZE="6">
		</TD>
		<TD CLASS="ftop">
			<INPUT TYPE="text" NAME="count" SIZE="1" VALUE="1">
			<INPUT TYPE="text" NAME="jm" SIZE="1" VALUE="szt">
		</TD>
		<TD CLASS="ftop" NOWRAP>
			<INPUT TYPE="text" NAME="valuenetto" SIZE="6"> z³
		</TD>
		<TD CLASS="ftop" NOWRAP>
			<SELECT size="1" name="taxvalue" value="22" {tip text="Wybierz stawkê VAT"}>
				<OPTION value="22">22%</OPTION>
				<OPTION value="7">7%</OPTION>
				<OPTION value="0">0%</OPTION>
				<OPTION value="">zw.</OPTION>
			</SELECT>
		</TD>
		<TD CLASS="ftop" NOWRAP>
			<INPUT TYPE="text" NAME="valuebrutto" SIZE="6"> z³
		</TD>
		<TD CLASS="ftr">
			<A HREF="javascript:document.additem.submit(); "><IMG SRC="img/save.gif" ALT="" BORDER="0" {tip text="Dodaj pozycjê"}></A>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD COLSPAN="8" CLASS="fbottomu" ALIGN="RIGHT">
			<A HREF="?m=invoicenew&action=clear">Wyczy¶æ zawarto¶æ <IMG ALIGN="ABSMIDDLE" SRC="img/delete.gif" BORDER="0"></A> 
			<A HREF="?m=invoicenew&action=save" TARGET="_BLANK">Zapisz i zakoñcz <IMG ALIGN="ABSMIDDLE" SRC="img/save.gif" ALT="Dodaj" BORDER="0"></A>
		</TD>
	</TR>
	</FORM>
</TABLE>
<SCRIPT LANGUAGE="JavaScript">
<!--
var cal1 = new calendar(document.forms['setcustomer'].elements['invoice[cdate]']);
cal1.time_comp = false;
document.forms['setcustomer'].elements['invoice[cdate]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
