{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM METHOD="POST" NAME="page">
{literal}
<SCRIPT language=JavaScript>
	<!--
	function CheckAll()
	{
		for (var i=0; i<document.page.elements.length; i++)
		{
			var e = document.page.elements[i];
			if (e.name != 'allbox' &&
			    e.name != 'groupexclude' &&
			    e.name != 'original' &&
			    e.name != 'copy'
			)
				e.checked = document.page.allbox.checked;
		}
	}

	function CheckAll2()
	{
		document.page.allbox.checked = !document.page.allbox.checked;
		CheckAll();
	}
	
	function pays()
	{
		if(! confirm('{/literal}{t}Are you sure, you want to check/uncheck selected invoices as accounted?{/t}{literal}'))
			return;
		document.page.action="?m=invoicepaid";
		document.page.target="";
		document.page.submit();
	}

	function prints()
	{
		var add = "";
		if(document.page.original.checked && document.page.copy.checked)
			add = "";
		else if(document.page.original.checked && !document.page.copy.checked)
			add = "&which={/literal}{t}ORIGINAL{/t}{literal}";
		else if(!document.page.original.checked && document.page.copy.checked)
			add = "&which={/literal}{t}COPY{/t}{literal}";

		document.page.action="?m=invoice&print=cached" + add;
		document.page.target="_blank";
		document.page.submit();
	}
	
	function page_change(page)
	{
		document.page.action="?m=invoicelist&page="+page;
		document.page.target="";
		document.page.submit();
	}

	function filter()
	{
		document.page.action="?m=invoicelist";
		document.page.target="";
		document.page.submit();
	}

	//-->
</SCRIPT>
{/literal}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="fleftu" WIDTH="1%" nowrap>
			<A href="?m=invoicelist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{t}ID:{/t}</A> {if $listdata.order eq "id"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" nowrap>
			<A href="?m=invoicelist&o=cdate{if $listdata.direction eq "asc" && $listdata.order eq "cdate"},desc{/if}">{t}Date:{/t}</A> {if $listdata.order eq "cdate"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" nowrap>
			<A href="?m=invoicelist&o=number{if $listdata.direction eq "asc" && $listdata.order eq "number"},desc{/if}">{t}Number:{/t}</A> {if $listdata.order eq "number"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" nowrap>
			<A href="?m=invoicelist&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{t}Value:{/t}</A> {if $listdata.order eq "value"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" nowrap>
			<A href="?m=invoicelist&o=items{if $listdata.direction eq "asc" && $listdata.order eq "items"},desc{/if}">{t}Items:{/t}</A> {if $listdata.order eq "items"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="94%" CLASS="fbt" nowrap>
			<A href="?m=invoicelist&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}">{t}For:{/t}</A> {if $listdata.order eq "name"}<IMG src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD WIDTH="1%" CLASS="frightu">
			&nbsp;
		</TD>
	</TR>
	<TR class="DARK">
		<TD class="fall" colspan="7" nowrap>
				<B>{t}Filter:{/t} </B> 
				<INPUT name="search" value="{$listdata.search}" {tip text="Enter value of searching data and select category"}>&nbsp;
				<SELECT size="1" name="cat">
					<OPTION value=""{if $listdata.cat eq ""} SELECTED{/if}>{t}- select filter category -{/t}</OPTION>
					<OPTION value="cdate"{if $listdata.cat eq "cdate"} SELECTED{/if}>{t}date (YYYY/MM/DD){/t}</OPTION>
					<OPTION value="number"{if $listdata.cat eq "number"} SELECTED{/if}>{t}number{/t}</OPTION>
					<OPTION value="value"{if $listdata.cat eq "value"} SELECTED{/if}>{t}value{/t}</OPTION>
					<OPTION value="name"{if $listdata.cat eq "name"} SELECTED{/if}>{t}customer name{/t}</OPTION>
					<OPTION value="customerid"{if $listdata.cat eq "customerid"} SELECTED{/if}>{t}customer ID{/t}</OPTION>
					<OPTION value="ten"{if $listdata.cat eq "ten"} SELECTED{/if}>{t}TEN{/t}</OPTION>
					<OPTION value="address"{if $listdata.cat eq "address"} SELECTED{/if}>{t}address{/t}</OPTION>
					<OPTION value="notclosed"{if $listdata.cat eq "notclosed"} SELECTED{/if}>{t}hide accounted<!plural>{/t}</OPTION>
					<OPTION value="cnotes"{if $listdata.cat eq "cnotes"} SELECTED{/if}>{t}show only credit notes{/t}</OPTION>
				</SELECT>&nbsp;
				{t}Group:{/t}
				<SELECT size="1" name="group">
					<OPTION value="0"{if !$listdata.group} SELECTED{/if}>{t}- all groups -{/t}</OPTION>
					{section name="grouplist" loop=$grouplist}
					<OPTION value="{$grouplist[grouplist].id}"{if $listdata.group eq $grouplist[grouplist].id} SELECTED{/if}>{$grouplist[grouplist].name|truncate:40:"..."}</OPTION>
					{/section}
				</SELECT>
				<INPUT type="checkbox" name="groupexclude" class="box dark"{if $listdata.groupexclude} CHECKED{/if}> {t}exclude group{/t}
				<A href="javascript: filter();">&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>		
	{if $listdata.totalpos != 0}
	<TR CLASS="dark">
		<TD WIDTH="100%" class="fall" COLSPAN="7">
			<B>{t}Page:{/t} {if $page > 1} <A HREF="javascript:page_change({math equation="x - 1" x=$page});">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if} {section name=pcnt loop=$invoicelist step=$pagelimit}{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="javascript:page_change({$smarty.section.pcnt.rownum});">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}{/section} {if $page < $smarty.section.pcnt.rownum}<A HREF="javascript:page_change({math equation="x + 1" x=$page});">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}</B>
			{math equation="x + 1" x=$start assign=startx}
			{if $start + $pagelimit > $listdata.totalpos}
				{assign var=endx value=$listdata.totalpos}{else}{math equation="x + y" x=$start y=$pagelimit assign=endx}
			{/if}
			({t 0=$startx 1=$endx 2=$listdata.totalpos}records $0 - $1 of $2{/t})
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=invoicelist loop=$invoicelist start=$start max=$pagelimit}
	{assign var=invoice value=$invoicelist[invoicelist]}
	{assign var=invoiceid value=$invoice.id}
	<TR class="{cycle}{if $invoice.closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD WIDTH="1%" CLASS="fleft">
			{$invoice.id|string_format:"%06d"}
		</TD>
		<TD WIDTH="1%" NOWRAP>
			{$invoice.cdate|date_format:"%Y/%m/%d %H:%M"}
		</TD>
		<TD WIDTH="1%" NOWRAP align="right">
			{number number=$invoice.number template=$invoice.template time=$invoice.cdate assign=number}{$number}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$invoice.value|money_format} 
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$invoice.count}
		</TD>
		<TD WIDTH="94%">
			<A HREF="?m=customerinfo&id={$invoice.customerid}"{if $invoice.closed} class="blend"{/if}>{$invoice.name}, {$invoice.address}, {$invoice.zip} {$invoice.city}</A>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" CLASS="fright">
			<NOBR>
			{if ! $invoice.closed}
			    {if $invoice.type == $smarty.const.DOC_INVOICE}
			    <A HREF="?m=invoicenote&id={$invoice.id}&action=init"><IMG SRC="img/eraser.gif" ALT="[ {t}Revise{/t} ]"></A>
			    <A HREF="?m=invoiceedit&id={$invoice.id}&action=edit"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
			    <A onClick="return confirmLink(this, '{t 0=$number}Are you sure, you want to remove invoice \'$0\' from database?{/t}')" HREF="?m=invoiceedit&id={$invoice.id}&action=invoicedel"><IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
			    {/if}
			    {if $invoice.type == $smarty.const.DOC_CNOTE}
			    <A onClick="return confirmLink(this, '{t 0=$number}Are you sure, you want to remove credit note \'$0\' from database?{/t}')" HREF="?m=invoicenote&id={$invoice.id}&action=invoicedel"><IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
			    {/if}
			{/if}
			<A HREF="?m=invoice&id={$invoice.id}" TARGET="_blank"><IMG src="img/print.gif" alt="[ {t}Print{/t} ]"></A>
			{cycle print=false}
			<INPUT class="box {cycle}" TYPE="checkbox" NAME="marks[{$invoice.id}]" VALUE="{$invoice.id}"{if $marks.$invoiceid}CHECKED{/if}>
			</NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD WIDTH="100%" class="fall" ALIGN="center"  COLSPAN="7">
			<P>&nbsp;</P>
			<P><B>{t}No such invoices in database.{/t}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>	
	{/section}
	{if $listdata.totalpos != 0}
	<TR CLASS="dark">
		<TD WIDTH="100%" class="fall" COLSPAN="7">
			<B>{t}Page:{/t} {if $page > 1} <A HREF="javascript:page_change({math equation="x - 1" x=$page});">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if} {section name=pcnt loop=$invoicelist step=$pagelimit}{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="javascript:page_change({$smarty.section.pcnt.rownum});">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}{/section} {if $page < $smarty.section.pcnt.rownum}<A HREF="javascript:page_change({math equation="x + 1" x=$page});">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}</B> 
			{math equation="x + 1" x=$start assign=startx}
			{if $start + $pagelimit > $listdata.totalpos}
				{assign var=endx value=$listdata.totalpos}{else}{math equation="x + y" x=$start y=$pagelimit assign=endx}
			{/if}
			({t 0=$startx 1=$endx 2=$listdata.totalpos}records $0 - $1 of $2{/t})
		</TD>
	</TR>
	{/if}
	<TR CLASS="dark">
		<TD CLASS="fall" COLSPAN="7">
			<TABLE WIDTH="100%">
				<TR>
					<TD ALIGN="left">
						<NOBR><A HREF="javascript:pays();">{t}Check/Uncheck as accounted{/t} <IMG SRC="img/pay.gif" ALT=""></A></NOBR>&nbsp;
						<NOBR><A HREF="javascript:prints();">{t}Print{/t} <IMG SRC="img/print.gif" ALT="" ></A></NOBR>&nbsp;
						<INPUT type="checkbox" class="box dark" name="original"> {t}original{/t}&nbsp;
						<INPUT type="checkbox" class="box dark" name="copy"> {t}copy{/t}
					</TD>
					<TD ALIGN="right">	
						<NOBR><A HREF="javascript:CheckAll2();">{t}Check All{/t}</A><INPUT class="box dark" TYPE="checkbox" NAME="allbox" onClick="CheckAll();" VALUE="Check All Boxes"></NOBR>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</FORM>
{include file="footer.html"}
