<!--// $Id$ //-->
{include file="header.html"}
{include file="balanceheader.html"}
<SCRIPT LANGUAGE="JavaScript" SRC="img/calendar.js"></SCRIPT>
<H1>{$layout.pagetitle}</H1>
<FORM METHOD="POST" NAME="page">
{section name=marked loop=$marked}
	<INPUT TYPE="hidden" NAME="marks[{$marked[marked]}]" VALUE="{$marked[marked]}">
{/section}
{literal}
<SCRIPT language=JavaScript>
	<!--
	function CheckAll()
	{
		for (var i=0; i<document.page.elements.length; i++)
		{
			var e = document.page.elements[i];
			if (e.name != 'allbox')
			e.checked = document.page.allbox.checked;
		}
	}
	
	function raport()
	{
		document.page.action="?m=invoicereport";
		document.page.target="_blank";
		document.page.submit();
	}

	function prints()
	{
		document.page.action="?m=invoice&print=cached";
		document.page.target="_blank";
		document.page.submit();
	}
	
	function prints_org()
	{
		document.page.action="?m=invoice&print=cached&which=ORYGINA£";
		document.page.target="_blank";
		document.page.submit();
	}
	
	function prints_cpy()
	{
		document.page.action="?m=invoice&print=cached&which=KOPIA";
		document.page.target="_blank";
		document.page.submit();
	}
	
	function page_change(page)
	{
		document.page.action="?m=invoicelist&page="+page;
		document.page.target="";
		document.page.submit();
	}

	if({/literal}'{$openonload}'{literal} != '')
	{
		document.page.action="?m=invoice&id={/literal}{$openonload}{literal}";
		document.page.target="_blank";
		document.page.submit();
	}
	
	//-->
</SCRIPT>
{/literal}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="fleftu" WIDTH="1%">
			<B>ID:</B>
		</TD>
		<TD WIDTH="1%" CLASS="fbt">
			<B>Data:</B>
		</TD>
		<TD WIDTH="1%" CLASS="fbt">
			<B>Numer:</B>
		</TD>
		<TD WIDTH="1%" CLASS="fbt">
			<B>Kwota:</B>
		</TD>
		<TD WIDTH="1%" CLASS="fbt">
			<B>Pozycji:</B>
		</TD>
		<TD WIDTH="94%" CLASS="fbt">
			<B>Dla:</B>
		</TD>
		<TD WIDTH="1%" CLASS="frightu">
			&nbsp;
		</TD>
	</TR>
	{if $listdata.totalpos != 0}
	<TR CLASS="dark">
		<TD WIDTH="100%" class="fall" COLSPAN="7">
			<B>Strona: {if $page > 1} <A HREF="javascript:page_change({math equation="x - 1" x=$page});">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if} {section name=pcnt loop=$invoicelist step=$pagelimit}{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="javascript:page_change({$smarty.section.pcnt.rownum});">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}{/section} {if $page < $smarty.section.pcnt.rownum}<A HREF="javascript:page_change({math equation="x + 1" x=$page});">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}</B> (rekordy {math equation="x + 1" x=$start} - {if $start + $pagelimit > $listdata.totalpos}{$listdata.totalpos}{else}{math equation="x + y" x=$start y=$pagelimit}{/if} z {$listdata.totalpos})
		</TD>
	</TR>
	{/if}
	{cycle values="#DFD5BD,#EBE4D6" print=false}
	{section name=invoicelist loop=$invoicelist start=$start max=$pagelimit}
	{assign var=invoice value=$invoicelist[invoicelist]}
	{assign var=invoiceid value=$invoice.id}
	<TR bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
		<TD WIDTH="1%" CLASS="fleft">
			{$invoice.id|string_format:"%04d"}
		</TD>
		<TD WIDTH="1%" NOWRAP>
			{$invoice.cdate|date_format:"%Y/%m/%d %H:%M"}
		</TD>
		<TD WIDTH="1%" NOWRAP>
			{$_config.invoices.number_template|replace:"%N":$invoice.number|replace:"%Y":$invoice.year|replace:"%M":$invoice.month}
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$invoice.value|string_format:"%0.2f"} z³
		</TD>
		<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">
			{$invoice.count}
		</TD>
		<TD WIDTH="94%">
			<A HREF="?m=userinfo&id={$invoice.customerid}">{$invoice.name}, {$invoice.address}, {$invoice.zip} {$invoice.city}</A>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" CLASS="fright" NOWRAP>
			{cycle print=false}
			<INPUT STYLE="border-style: none; background-color: {cycle};" TYPE="checkbox" NAME="marks[{$invoice.id}]" VALUE="{$invoice.id}"{if $marks.$invoiceid}CHECKED{/if}>
			<A HREF="?m=invoicepaid&id={$invoice.id}"><IMG ALIGN="absmiddle" SRC="img/save.gif" ALT="[ Rozlicz ]" BORDER="0" TARGET="_BLANK"></A>
			<A HREF="?m=invoice&id={$invoice.id}" TARGET="_blank"><IMG ALIGN="absmiddle" SRC="img/print.gif" ALT="[ Drukuj ]" BORDER="0" TARGET="_BLANK"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD WIDTH="100%" class="fall" ALIGN="center"  COLSPAN="7">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
			<P><B>Nie znaleziono ¿adnych faktur w bazie danych</B></P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
	</TR>	
	{/section}
	{if $listdata.totalpos != 0}
	<TR CLASS="dark">
		<TD WIDTH="100%" class="fall" COLSPAN="7">
			<B>Strona: {if $page > 1} <A HREF="javascript:page_change({math equation="x - 1" x=$page});">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if} {section name=pcnt loop=$invoicelist step=$pagelimit}{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="javascript:page_change({$smarty.section.pcnt.rownum});">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}{/section} {if $page < $smarty.section.pcnt.rownum}<A HREF="javascript:page_change({math equation="x + 1" x=$page});">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}</B> (rekordy {math equation="x + 1" x=$start} - {if $start + $pagelimit > $listdata.totalpos}{$listdata.totalpos}{else}{math equation="x + y" x=$start y=$pagelimit}{/if} z {$listdata.totalpos})
		</TD>
	</TR>
	{/if}
	<TR CLASS="dark">
		<TD COLSPAN="7" class="fall" COLSPAN="7">
			<TABLE WIDTH="100%">
				<TR>
					<TD WIDTH="99%" VALIGN="bottom">
						<A HREF="javascript:raport();"><IMG SRC="img/print.gif" BORDER="0" ALT="" ALIGN="absmiddle" HSPACE="2">Rejestr sprzeda¿y: </A>
						Od&nbsp;<INPUT TYPE="text" NAME="from" SIZE="10" MAXSIZE="10" OnClick="javascript:cal1.popup();" {tip text="Wpisz datê w formacie 'rrrr/mm/dd' (pole puste oznacza datê dzisiejsz±) albo kliknij aby wybraæ datê z kalendarza"}>
						Do&nbsp;<INPUT TYPE="text" NAME="to" SIZE="10" MAXSIZE="10" OnClick="javascript:cal2.popup();" {tip text="Wpisz datê w formacie 'rrrr/mm/dd' (pole puste oznacza datê dzisiejsz±) albo kliknij aby wybraæ datê z kalendarza"}>	
					
					
					
{*					
					<TABLE WIDTH="100%">
							<TR>
								<TD WIDTH="1%" ROWSPAN="2">
									<INPUT STYLE="border-style: none; background: #DFD5BD" TYPE="radio" NAME="action" VALUE="markrange">
								</TD>
								<TD WIDTH="1%">
									<B>Od:</B>
								</TD>
								<TD WIDTH="98%">
									{html_select_date field_array="from" prefix="" time=$listdata.startdate field_order="DMY" field_separator=" / " start_year=$listdata.startyear end_year=$listdata.endyear}&nbsp;{html_select_time field_array="from" prefix="" time=$listdata.startdate display_seconds=0}
								</TD>
							</TR>
							<TR>
								<TD WIDTH="1%">
									<B>Do:</B>
								</TD>
								<TD WIDTH="98%">
									{html_select_date field_array="to" prefix="" time=$listdata.enddate field_order="DMY" field_separator=" / " start_year=$listdata.startyear end_year=$listdata.endyear}&nbsp;{html_select_time field_array="to" prefix="" time=$listdata.enddate display_seconds=0}
								</TD>
							</TR>
							<TR>
								<TD WIDTH="1%">
									<INPUT STYLE="border-style: none; background: #DFD5BD" TYPE="radio" NAME="action" VALUE="marktoday">
								</TD>
								<TD WIDTH="98%" COLSPAN="2">
									<B>Dzisiejszy dzieñ</B>
								</TD>
							</TR>								
						</TABLE>
						
						
						
						
*}						
					</TD>
					<TD WIDTH="1%" NOWRAP ALIGN="right">
						Zaznacz wszystkie<INPUT CLASS="box" TYPE="checkbox" NAME="allbox" onClick="CheckAll();" VALUE="Check All Boxes"><BR>
						<A HREF="javascript:prints();">Drukuj <IMG SRC="img/print.gif" BORDER="0" ALT="" ALIGN="absmiddle" HSPACE="2"></A><BR>
						<A HREF="javascript:prints_org();">Drukuj orygina³y <IMG SRC="img/print.gif" BORDER="0" ALT="" ALIGN="absmiddle" HSPACE="2"></A><BR>
						<A HREF="javascript:prints_cpy();">Drukuj kopie <IMG SRC="img/print.gif" BORDER="0" ALT="" ALIGN="absmiddle" HSPACE="2"></A><BR>
						<A HREF="javascript:pays();">Rozlicz <IMG SRC="img/save.gif" BORDER="0" ALT="" ALIGN="absmiddle" HSPACE="2"></A>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</FORM>
{include file="footer.html"}
<SCRIPT>
<!--
var cal1 = new calendar(document.forms['page'].elements['from']);
cal1.time_comp = false;
var cal2 = new calendar(document.forms['page'].elements['to']);
cal2.time_comp = false;
//-->
</SCRIPT>
