{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function printinvoice()
	{
		var add = "";
		if (document.save.original.checked)
			add += "&original=1";
		if (document.save.copy.checked)
			add += "&copy=1";
		document.save.action = "?m=invoicenote&action=save&print=1" + add;
		document.save.submit();
	}

	function deadline_calendar(elem)
	{
		var ts = get_cdate(), deadline = parseInt(elem.value);

		// add paytime days to settlement date
		ts.setDate(ts.getDate() + (deadline || 0));
		// display calendar
		cal3.popup(cal3.gen_date(ts));
	}

	function get_cdate()
	{
		var ts = document.setheader.elements['cnote[cdate]'].value;

		if (!ts.match(/^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/))
			ts = '{$smarty.now|date_format:"%Y/%m/%d"}';

		return cal3.prs_date(ts);
	}
//-->
</script>
<form name="setheader" method="POST" action="?m=invoicenote&action=setheader">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall" width="100%" colspan="2">
			<strong>{trans("Main Information:")}</strong>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Credit note number:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="cnote[number]" value="{$cnote.number}" size="10" {tip text="Enter credit note number. WARNING! Changing this number can be DANGEROUS! (leave this field empty to obtain next number)" trigger="number"}>&nbsp;
			{if $numberplanlist}
			<select name="cnote[numberplanid]" {tip text="Select numbering plan"}>
			{foreach item=plan from=$numberplanlist}
				{assign var=period value=$plan.period}
				<option value="{$plan.id}"{if $plan.id==$cnote.numberplanid} selected="selected"{/if}>{number number=$plan.next template=$plan.template time=$cnote.cdate} ({$_NUM_PERIODS.$period})</option>
			{/foreach}
			</select>
			{else}
				<input type="hidden" name="cnote[numberplanid]" value="0">
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Settlement date:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="cnote[cdate]" value="{$cnote.cdate|date_format:"%Y/%m/%d"}" size="10" {tip text="Enter date of settlement in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="cdate"} OnClick="javascript:cal1.popup();" >
			{if $cnote.cdatewarning}
			<input type="HIDDEN" name="cnote[cdatewarning]" value="1">
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Sale date:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="cnote[sdate]" value="{$cnote.sdate|date_format:"%Y/%m/%d"}" size="10" {tip text="Enter date of sale in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="sdate"} OnClick="javascript:cal2.popup();" >
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Deadline:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="cnote[paytime]" value="{$cnote.paytime}" size="5" id="paytime" onclick="deadline_calendar(this)" {tip text="Enter deadline in days (optional)"}>
		</td>
	</tr>
        <tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Payment type (cash/transfer/etc):")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<select name="cnote[paytype]" {tip text="Select payment type" trigger="paytype"}>
				{foreach from=$_PAYTYPES item=item key=key}
				<option value="{$key}"{if $cnote.paytype==$key} selected{/if}>{$item}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	{if $invoice.divisionid != $invoice.current_divisionid}
        <tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Use current division data:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="checkbox" name="cnote[use_current_division]" value="1"{if $cnote.use_current_division} checked="checked"{/if} {tip text="Seller data change"}>
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Reason:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<textarea name="cnote[reason]" rows="4" cols="50" {tip text="Enter reason (optional)"}>{$cnote.reason}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" width="100%" align="right" colspan="2">
			<a href="javascript:document.setheader.submit();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
<br />
<form name="save" method="POST" action="?m=invoicenote&action=save">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="fleftu" width="1%">
			<strong>{trans("No.")}</strong>
		</td>
		<td class="fbt" width="92%">
			{trans("Name of product, commodity or service:")}
		</td>
		<td class="fbt" width="1%" nowrap="nowrap">
			{trans("Product ID:")}
		</td>
		<td class="fbt" width="1%" align="RIGHT">
			{trans("Amount:")}<br />
			{trans("Unit:")}
		</td>
		<td class="fbt" width="1%" nowrap="nowrap" align="RIGHT">
			{trans("Discount:")}
		</td>
		<td class="fbt" width="1%" nowrap="nowrap" align="RIGHT">
			{trans("Net Price:")}
		</td>
		<td class="fbt" width="1%" align="RIGHT">
			{trans("Tax:")}
		</td>
		<td class="fbt" width="1%" nowrap="nowrap" align="RIGHT">
			{trans("Gross Price:")}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{foreach from=$contents item=item}
	<tr class="{cycle}{if $item.deleted} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" width="1%">
			<strong>{$item.itemid}.</strong>
		</td>
		<td width="92%">
		    {if $invoice.closed}
		    {$item.name}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.name|escape}" name="name[{$item.itemid}]">{$item.name}
			{else}
			<input type="text" value="{$item.name|escape}" name="name[{$item.itemid}]" size="48" style="width: 100%">
			{/if}
		</td>
		<td width="1%" nowrap="nowrap">
		    {if $invoice.closed}
		    {$item.prodid}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.prodid}" name="prodid[{$item.itemid}]">{$item.prodid}
			{else}
			<input type="text" value="{$item.prodid}" name="prodid[{$item.itemid}]" size="6">
			{/if}
		</td>
		<td width="1%">
		    {if $invoice.closed}
		    {$item.count|string_format:"%.2f"}<br />{$item.jm}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.count}" name="count[{$item.itemid}]">{$item.count|string_format:"%.2f"}
			<input type="hidden" value="{$item.jm}" name="jm[{$item.itemid}]">{$item.jm}
			{else}
			<input type="text" value="{$item.count}" name="count[{$item.itemid}]" size="3">
			<input type="text" value="{$item.jm}" name="jm[{$item.itemid}]" size="3">
			{/if}
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT">
		    {if $invoice.closed}
		    {if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f%%"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}
			{elseif $item.deleted}
			<input type="hidden" value="{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}" name="discount[{$item.itemid}]">
			<input type="hidden" value="{if $item.pdiscount != 0}{$smarty.const.DISCOUNT_PERCENTAGE}{else}{if $item.vdiscount != 0}{$smarty.const.DISCOUNT_AMOUNT}{/if}{/if}" name="discount_type[{$item.itemid}]">
				{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f%%"}{else}{if $item.vdiscount != 0}{$item.vdiscount|money_format}{/if}{/if}
			{else}
			<input type="text" value="{if $item.pdiscount != 0}{$item.pdiscount|string_format:"%.2f"}{else}{if $item.vdiscount != 0}{$item.vdiscount|string_format:"%.2f"}{/if}{/if}" name="discount[{$item.itemid}]" size="6" {tip text="Enter discount percentage or value"}><br />
			<select name="discount_type[{$item.itemid}]">
				{foreach from=$_DISCOUNTTYPES item=item2 key=key}
					<option value="{$key}"{if ($item.pdiscount != 0 && $key == $smarty.const.DISCOUNT_PERCENTAGE) || ($item.vdiscount != 0 && $key == $smarty.const.DISCOUNT_AMOUNT)} selected{/if}>{$item2}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT">
		    {if $invoice.closed}
		    {$item.valuenetto|money_format}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.valuenetto}" name="valuenetto[{$item.itemid}]">{$item.valuenetto|money_format}
			{else}
			<input type="text" value="{$item.valuenetto|string_format:"%.2f"}" name="valuenetto[{$item.itemid}]" size="6">
			{/if}
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT">
		    {if $invoice.closed}
		    {$item.tax}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.taxid}" name="taxid[{$item.itemid}]">{$item.tax}
			{else}
			<select size="1" name="taxid[{$item.itemid}]" {tip text="Select Tax rate"}>
			{foreach item=tax from=$taxeslist}
				<option value="{$tax.id}"{if $tax.id == $item.taxid} selected{/if}>{$tax.label}</option>
			{/foreach}
			</select>
			{/if}
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT">
		    {if $invoice.closed}
		    {$item.valuebrutto|money_format}
			{elseif $item.deleted}
			<input type="hidden" value="{$item.valuebrutto}" name="valuebrutto[{$item.itemid}]">{$item.valuebrutto|money_format}
			{else}
			<input type="text" value="{$item.valuebrutto|string_format:"%.2f"}" name="valuebrutto[{$item.itemid}]" size="6"><br />
			{/if}
		</td>
		<td width="1%" nowrap="nowrap" class="fright">
		    {if $invoice.closed}
			{elseif $item.deleted}
			<a href="?m=invoicenote&action=recoverpos&itemid={$item.itemid}"><img src="img/recover.gif" {tip text="Recover this item"}></a>
			{else}
			<a href="?m=invoicenote&action=deletepos&itemid={$item.itemid}"><img src="img/delete.gif" {tip text="Remove this item"}></a>
			{/if}
		</td>
	</tr>
	{/foreach}
	{if $contents}
	<tr class="light">
		<td colspan="5" width="96%" align="RIGHT" class="ftl">
			<strong>{trans("Total:")}</strong>
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT" class="ftop">
			<strong>{sum array=$contents column=s_valuenetto string_format="%01.2f"}</strong>
		</td>
		<td width="1%" class="ftop">
			&nbsp;
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT" class="ftop">
			<strong>{sum array=$contents column=s_valuebrutto string_format="%01.2f"}</strong>
		</td>
		<td width="1%" class="ftr">
			&nbsp;
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="9" class="fbottomu" align="RIGHT">
		    {$default_printpage = get_conf('invoices.default_printpage')}
			<input type="checkbox" name="original" id="original"{if preg_match('/original/i', $default_printpage)} checked="checked"{/if}><label for="original">{trans("original")}</label>
            <input type="checkbox" name="copy" id="copy"{if preg_match('/copy/i', $default_printpage)} checked="checked"{/if}><label for="copy">{trans("copy")}</label>&nbsp;
			<a href="?m=invoicelist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
			{if $error}
			<a href="javascript:alert('{trans("There are errors in credit note main information!")}');">{trans("Save")} <img src="img/save.gif" alt=""></a>
			<a href="javascript:alert('{trans("There are errors in credit note main information!")}');">{trans("Save & Print")} <img src="img/print.gif" alt=""></a>
			{else}
			<a href="javascript:document.save.submit()">{trans("Save")} <img src="img/save.gif" alt=""></a>
			<a href="javascript:printinvoice()">{trans("Save & Print")} <img src="img/print.gif" alt=""></a>
			{/if}
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
deadline_callback = function(val)
{
	var ts = get_cdate(), deadline = cal3.prs_date(val);
	deadline = parseInt((deadline - ts) / 86400000);
	document.getElementById('paytime').value = deadline <= 0 ? '' : deadline;
}
var cal1 = new calendar(document.forms['setheader'].elements['cnote[cdate]']);
cal1.time_comp = false;
var cal2 = new calendar(document.forms['setheader'].elements['cnote[sdate]']);
cal2.time_comp = false;
var cal3 = new calendar(deadline_callback);
cal3.time_comp = false;
document.forms['setheader'].elements['cnote[number]'].focus();
//-->
</script>
{include file="footer.html"}
