{include file="header.html"}
{include file="mailingheader.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM NAME="mailing" method="post" action="?m=mailing" TARGET="_blank">
{literal}
<SCRIPT LANGUAGE="JavaScript">
	<!--
	function Send()
	{
		
		if( document.mailing["mailing[sender]"].value=="" ||
		    document.mailing["mailing[from]"].value=="" ||
		    document.mailing["mailing[subject]"].value=="" ||
		    document.mailing["mailing[body]"].value=="" ||
		    !checkaddr(document.mailing["mailing[sender]"].value)
		    )
			document.mailing.target="";
		
		document.mailing.submit();
        }
	
	function checkaddr(email)
	{
		var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
		if (filter.test(email))
			return 1
		else
			return 0;
	}
	-->
</SCRIPT>
{/literal}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="FLEFTU" WIDTH="1%">
			<IMG SRC="img/group.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"> 
		</TD>
		<TD CLASS="FBT" WIDTH="1%" NOWRAP>
			<B>Grupa odbiorców:</B>
		</TD>
		<TD CLASS="FRIGHTU" WIDTH="98%">
			U¿ytkownicy:
			<SELECT NAME="mailing[group]" {tip trigger="group" text="Wybierz grupê adresatów"}>
				<option value="3"{if $mailing.group == "3"} SELECTED{/if}>pod³±czeni</option>
				<option value="2"{if $mailing.group == "2"} SELECTED{/if}>oczekuj±cy</option>
				<option value="1"{if $mailing.group == "1"} SELECTED{/if}>zainteresowani</option>
				<option value="0"{if !$mailing.group} SELECTED{/if}>wszyscy</option>
			</SELECT>&nbsp;
			Sieæ:
			<SELECT NAME="mailing[network]" {tip trigger="network" text="Wybierz sieæ"}>
				<option value="0">- wszystkie -</option>
				{section name="networks" loop=$networks}
				<option value="{$networks[networks].id}"{if $mailing.network == $networks[networks].id} SELECTED{/if}>{$networks[networks].name}</option>
				{/section}
			</SELECT>&nbsp;
			Grupa:
			<SELECT NAME="mailing[usergroup]" {tip trigger="usergroup" text="Wybierz grupê u¿ytkowników"}>
				<option value="0">- wszystkie -</option>
				{section name="usergroups" loop=$usergroups}
				<option value="{$usergroups[usergroups].id}"{if $mailing.usergroup == $usergroups[usergroups].id} SELECTED{/if}>{$usergroups[usergroups].name}</option>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" WIDTH="1%">
			<IMG SRC="img/email.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"> 
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>E-mail nadawcy:</B>
		</TD>
		<TD CLASS="FRIGHT" WIDTH="98%">
			<INPUT type="text" NAME="mailing[sender]" SIZE="40" value="{if $mailing.sender}{$mailing.sender}{elseif $admininfo.email}{$admininfo.email}{/if}" {tip trigger="sender" text="Podaj adres e-mail nadawcy listu"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" WIDTH="1%">
			<IMG SRC="img/admins.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"> 
		</TD>
		<TD WIDTH="1%">
			<B>Nadawca:</B>
		</TD>
		<TD CLASS="FRIGHT" WIDTH="98%">
			<INPUT type="text" NAME="mailing[from]" SIZE="40"  VALUE="{if $mailing.from}{$mailing.from}{elseif $admininfo.name}{$admininfo.name}{/if}" {tip trigger="from" text="Wpisz nadawcê listu"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" WIDTH="1%">
			<IMG SRC="img/mail.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"> 
		</TD>
		<TD WIDTH="1%">
			<B>Temat:</B>
		</TD>
		<TD CLASS="FRIGHT" WIDTH="98%">
			<INPUT type="text" NAME="mailing[subject]" SIZE="80" VALUE="{$mailing.subject}" {tip trigger="subject" text="Podaj temat listu"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" WIDTH="1%">
			<IMG SRC="img/edit.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"> 
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Tre¶æ wiadomo¶ci:</B>
		</TD>
		<TD CLASS="FRIGHT" WIDTH="98%">
			<TEXTAREA NAME="mailing[body]" COLS="80" ROWS="20" {tip text="U¿ywaj klawisza Enter po to tylko by zamkn±æ akapit. LMS sam sformatuje wiadomo¶æ i po³amie linijki." trigger="body"}>{$mailing.body}</TEXTAREA><BR>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			 <A HREF="javascript:Send();">Wy¶lij wiadomo¶æ <IMG SRC="img/save.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A>
		</TD>
	</TR>
</TABLE>
</FORM>
<SCRIPT>
<!--
document.forms['mailing'].elements['mailing[sender]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
