{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<P class="txt">
{if $message.from}<strong>{trans("Sender:")}</strong> {$message.from} &lt;{$message.sender}&gt;<br />{/if}
<strong>{trans("Subject:")}</strong> {$message.subject}<br />
<strong>{trans("Message:")}</strong><br />
<table cellpadding="5" width="100%">
        <tr>
        	<td class="fall superlight"><PRE>{$message.body}</PRE></td>
	</tr>
</table>				
{if $recipcount}
<br /><strong>{trans("Sending messages to:")}</strong><br />
{/if}
