<!-- $Id$ -->
<FORM NAME="editipaddr" METHOD="POST" ACTION="?m=netdevedit&action=formaddip&id={$netdevinfo.id}"><INPUT TYPE="hidden" NAME="nodeedit[id]" VALUE="{$netdevinfo.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>{t}Name:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			<INPUT TYPE="TEXT" NAME="ipadd[name]" VALUE="{$nodeipdata.name|upper}" MAXLENGTH="16" {tip text="Enter address name" trigger="ipname" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="Adres IP:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{t}IP address:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="ipadd[ipaddr]" VALUE="{$nodeipdata.ipaddr}" {tip text="Enter IP address or select it from list" trigger="ipaddr"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editipaddr['ipadd[ipaddr]']);" {tip text="Enter IP address or select it from list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mac.gif" BORDER="0" ALT="Adres MAC:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{t}MAC address:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="ipadd[mac]" VALUE="{$nodeipdata.mac}" {tip text="Enter MAC address or select it from list" trigger="mac"}> <a href="javascript: void(0);" onClick="return macchoosewin(document.editipaddr['ipadd[mac]']);" {tip text="Enter MAC address or select it from list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/{if ! $nodeipdata.access}no{/if}access.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Status:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<SELECT SIZE="1" CLASS="BOLD" NAME="ipadd[access]" {tip text="Select address status"}>
				<OPTION VALUE="1"{if $nodeipdata.access} SELECTED{/if}>{t}connected{/t}</OPTION>
				<OPTION VALUE="0"{if ! $nodeipdata.access} SELECTED{/if}>{t}disconnected{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/info.gif" BORDER="0" ALT="Opis:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{t}Description:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<TEXTAREA NAME="ipadd[info]" ROWS="5" COLS="40" {tip text="Enter additional informations (optional)"}>{$nodeipdata.info}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.editipaddr.submit();" ACCESSKEY="s">{t}Save{/t} <IMG SRC="img/save.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
			<A HREF="?m=netdevinfo&id={$netdevinfo.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
		</TD>
	</TR>	
</TABLE>
</FORM>
<SCRIPT language="javaScript">
<!--
document.forms['editipaddr'].elements['ipadd[name]'].focus();
//-->
</SCRIPT>
