<!-- $Id$ -->
<form name="editipaddr" method="POST" action="?m=netdevedit&action=formeditip&id={$netdevinfo.id}&ip={$nodeipdata.id}">
    <input type="submit" class="hiddenbtn">
    <input type="hidden" name="ipadd[id]" value="{$nodeipdata.id}">
    <input type="hidden" name="ipadd[createdby]" value="{$nodeipdata.createdby}">
    <input type="hidden" name="ipadd[creationdateh]" value="{$nodeipdata.creationdateh}">
    <input type="hidden" name="ipadd[moddate]" value="{$nodeipdata.moddate}">
    <input type="hidden" name="ipadd[modifiedby]" value="{$nodeipdata.modifiedby}">
    <input type="hidden" name="ipadd[moddateh]" value="{$nodeipdata.moddateh}">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td width="1%" class="FLEFTU">
			<img src="img/ip.gif" alt="">
		</td>
		<td width="1%" class="FBT">
			<strong>{trans("Name:")}</strong>
		</td>
		<td width="98%" class="FRIGHTU">
			<input type="TEXT" name="ipadd[name]" value="{$nodeipdata.name}" maxlength="32" size="30" {tip text="Enter address name" trigger="ipname" bold=1}>
			<strong>({$nodeipdata.id|string_format:"%04d"})</strong>
		</td>
	</tr>
    <tr class="LIGHT">
        <td width="100%" colspan="3" class="flr container">
			<table width="100%" cellpadding="0">
				<tr class="LIGHT">
					<td width="50%" style="vertical-align:top;">
						<table width="100%" cellpadding="3">
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/ip.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("IP address:")}</strong>
		</td>
		<td width="98%">
                       <input type="TEXT" name="ipadd[ipaddr]" value="{$nodeipdata.ipaddr}" {tip text="Enter IP address" trigger="ipaddr"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editipaddr['ipadd[ipaddr]'],{$nodeipdata.netid},{$netdevinfo.id});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{if check_conf('phpui.public_ip')}
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/ip_pub.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Pub. IP address:")}</strong>
		</td>
		<td width="98%">
                       <input type="TEXT" name="ipadd[ipaddr_pub]" value="{if $nodeipdata.ip_pub!="0.0.0.0"}{$nodeipdata.ip_pub}{/if}" {tip text="Enter IP address" trigger="ipaddr_pub"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editipaddr['ipadd[ipaddr_pub]'],{$nodeipdata.netid},{$netdevinfo.id});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{/if}
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/mac.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("MAC:")}</strong>
		</td>
		<td width="98%" nowrap="nowrap">
			<table width="100%" cellpadding="1" cellspacing="0">
				{foreach from=$nodeipdata.macs item=item key=key}
				<tr id="mac{$key}">
					<td width="100%"><input type="TEXT" name="ipadd[macs][{$key}]" value="{$item}" {tip text="Enter MAC address" trigger="mac`$key`"}> <a href="javascript: void(0);" onClick="return macchoosewin(document.editipaddr.elements['ipadd[macs][{$key}]']);" {tip text="Click to select MAC from the list"}>&raquo;&raquo;&raquo;</a>
				</tr>
				{/foreach}
			</table>
			<input type="HIDDEN" id="macscount" value="{$item@total}">
			<a href="javascript: newmac()">{trans("Add MAC address")} &raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/passwd.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Password:")}</strong>
		</td>
		<td width="98%">
			<input type="TEXT" name="ipadd[passwd]" value="{$nodeipdata.passwd}" {tip text="Enter password (optional)" trigger="passwd"}> <a href="javascript: GenPasswd();" {tip text="Click to generate random password"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/options.gif" alt="{trans("Options:")}">
		</td>
		<td width="1%">
			<strong>{trans("Options:")}</strong>
		</td>
		<td width="99%" nowrap="nowrap">
			<label for="chkmac">{trans("MAC checking")}:</label><input type="checkbox" name="ipadd[chkmac]" value="1" id="chkmac" {tip text="Enable/disable MAC address checking" trigger="chkmac"}{if $nodeipdata.chkmac} checked="checked"{/if}>&nbsp;
			<label for="chkduplex">{trans("Half duplex")}:</label><input type="checkbox" name="ipadd[halfduplex]" value="1" id="chkduplex" {tip text="Select transmission mode" trigger="halfduplex"}{if $nodeipdata.halfduplex} checked="checked"{/if}>
			{if check_conf('phpui.radius')}
			&nbsp;
			<label for="chknas">{trans("NAS")}:</label><input type="checkbox" name="ipadd[nas]" value="1" id="chknas" {tip text="Select NAS on or off" trigger="nas"}{if $nodeipdata.nas} checked="checked"{/if}>
			{/if}
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/network.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Network:")}</strong>
		</td>
		<td width="98%">
			<strong><a href="?m=netinfo&id={$netdevinfo.netid}">{$nodeipdata.netname}</a></strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/{if ! $nodeipdata.access}no{/if}access.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Status:")}</strong>
		</td>
		<td width="98%">
			<select size="1" name="ipadd[access]" {tip text="Select address status"}>
				<option value="1"{if $nodeipdata.access} SELECTED{/if}>{trans("connected<!singular>")}</option>
				<option value="0"{if ! $nodeipdata.access} SELECTED{/if}>{trans("disconnected<!singular>")}</option>
			</select>
		</td>
	</tr>
	                                                </table>
					        </td>
					        <td width="50%" style="vertical-align:top;">
					                <table width="100%" cellpadding="3">
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Description:")}</strong>
		</td>
		<td width="98%">
			<textarea name="ipadd[info]" rows="5" cols="40" {tip text="Enter additional information (optional)"}>{$nodeipdata.info}</textarea>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Created:")}<br />
			{trans("Modified:")}</strong>
		</td>
		<td width="98%">
			{$nodeipdata.createdby}, {$nodeipdata.creationdateh}<br />
			{if $nodeipdata.moddate}{$nodeipdata.modifiedby}, {$nodeipdata.moddateh}{else}-{/if}
		</td>
	</tr>
                                                </table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="100%" class="FBOTTOMU" colspan="3" align="RIGHT">
			<a href="javascript:document.editipaddr.submit();" accesskey="S">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=netdevinfo&id={$netdevinfo.id}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
	function GenPasswd()
	{
		var passwd = new Array();
		var items = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		var length = {get_conf('phpui.nodepassword_length', '16')};
		if (length > 32) length = 32;

		for (var i=0; i<length; i++)
		{
			n = Math.floor(Math.random() * items.length);
			passwd[i] = items.substring(n, n+1);
		}

		document.forms['editipaddr'].elements['ipadd[passwd]'].value = passwd.join("");
	}

	function newmac()
	{
		var macscountelem = document.getElementById('macscount');
		var nr = macscountelem.value;
		var lastmacelem = document.getElementById('mac' + (nr - 1));
		var newrow = lastmacelem.parentNode.insertRow(lastmacelem.rowIndex + 1);
		newrow.id = 'mac' + nr;
		var newcell = newrow.insertCell(0);
		newcell.style.width = '100%';
		newcell.innerHTML = '<input type="TEXT" name="ipadd[macs][' + nr + ']" value=""'
			+ ' onmouseover="popup(\'{trans("Enter MAC address")}\')" onmouseout="pophide()">'
			+ '<a href="javascript: void(0);" onClick="return macchoosewin(document.editipaddr.elements[\'ipadd[macs][' + nr + ']\']);"'
			+ ' onmouseover="popup(\'{trans("Click to select MAC from the list")}\')" onmouseout="pophide()">&nbsp;&raquo;&raquo;&raquo;</a>';
		macscountelem.value = parseInt(nr) + 1;
	}
//-->
</script>
