{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<form name="search" method="POST" action="?m=netdevsearch&search=1">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="FALL" colspan="3">
			<strong>{trans("Find devices matching the following search criteria:")}</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/search.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Name:")}</strong>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[name]" value="" {tip text="Enter device name or it's fragment"}> 
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/producer.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Manufacturer:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[producer]" value="" {tip text="Enter producer name or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/netdev_model.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Model:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[model]" value="" {tip text="Enter device model or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Serial number:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[serialnumber]" value="" {tip text="Enter device serial number or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/port.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Number of ports:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[ports]" value="" {tip text="Enter number of ports"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Location:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[location]" value="" {tip text="Enter device location or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/desc.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Description:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[description]" value="" {tip text="Enter additional information"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/ip.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("IP address:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[ipaddr]" value="" {tip text="Enter IP address or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/mac.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("MAC address:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="search[mac]" value="" {tip text="Enter MAC address or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" width="1%"></td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Qualification operator:")}</strong>
		</td>
		<td class="fright" width="98%">
			<input class="radio light" type="radio" id="operator0" value="AND" name="k"{if $k!='OR'} checked="checked"{/if}><label for="operator0">{trans("AND")}</label>
			<input class="radio light" type="radio" id="operator1" value="OR" name="k"{if $k=='OR'} checked="checked"{/if}><label for="operator1">{trans("OR")}</label>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="100%" class="FBOTTOMU" colspan="3" align="RIGHT">
			<a href="javascript:document.search.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=netdevlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>	
</table>
</form>
<script type="text/javascript">
<!--
document.forms['search'].elements['search[name]'].focus();
//-->
</script>
{include file="footer.html"}
