{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{if $emptydb}
    <table width="100%"><tr><td width="100%" align="Center">
	<br /><br /><FONT class="alert">{trans("No such devices in database.")}</FONT>
    </td></tr></table>
{elseif !$ming && $type == 'flash'}
    <table width="100%"><tr><td width="100%" align="Center">
	<br /><br /><FONT class="alert">{trans("Your PHP does not support Ming library required for map generation!")}</FONT>
    </td></tr></table>
{elseif $ming && (!$type || $type=='flash')}
<P align="CENTER">
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="100%" HEIGHT="400" id="intro">
<PARAM name="movie" value="?m=netdevmap&graph=flash&start={$start}{if $mini}&mini=1{/if}">
<PARAM name="loop" value="false">
<PARAM name="quality" value="high">
<PARAM name="bgcolor" value="#EBE4D6">
<EMBED src="?m=netdevmap&graph=flash&start={$start}{if $mini}&mini=1{/if}" loop="false" quality="high" bgcolor="#EBE4D6" width="100%" HEIGHT="400" name="map"
  type="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT>
</P>
{elseif $type=='openlayers'}
<script type="text/javascript" language="JavaScript" src="img/OpenLayers/OpenLayers.js"></script>
<script type="text/javascript" language="JavaScript" src="img/OpenLayers/lang/{$_ui_language}.js"></script>
<script type="text/javascript" language="JavaScript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<div id="map" class="map"></div>
<script type="text/javascript" language="Javascript" src="img/DragPopup.js"></script>
<!--[if IE]>
<script type="text/javascript" language="Javascript" src="img/json2.js"></script>
<![endif]-->
<script type="text/javascript" language="Javascript">
<!--
	var checkhostcaption = "{trans("Check a host ...")}";
	var centermapcaption = "{trans("Center map around network elements ...")}";
	var refreshmapcaption = "{trans("Refresh network state ...")}";
//-->
</script>
<script type="text/javascript" language="Javascript" src="img/map.js"></script>
<script type="text/javascript" language="JavaScript">
<!--
	var devices = [];
	{if $devices}
		{foreach from=$devices item=device}
			devices.push({
				lon: {$device.lon},
				lat: {$device.lat},
				state: {$device.state},
				name: "{$device.name}",
				ipaddr: "{$device.ipaddr}",
				nodeid: "{$device.nodeid}",
				id: {$device.id},
				type: "netdevinfo",
				url: "{$device.url}",
				comment: "{$device.comment}"
			});
		{/foreach}
	{/if}

	var devlinks = [];
	{if $devlinks}
		{foreach from=$devlinks item=devlink}
			devlinks.push({
				srclon: {$devlink.srclon},
				srclat: {$devlink.srclat},
				dstlon: {$devlink.dstlon},
				dstlat: {$devlink.dstlat},
				type: {$devlink.type},
				speed: {$devlink.speed},
				typename: "{$devlink.typename}",
				speedname: "{$devlink.speedname}"
			});
		{/foreach}
	{/if}

	var nodes = [];
	{if $nodes}
		{foreach from=$nodes item=node}
			nodes.push({
				lon: {$node.lon},
				lat: {$node.lat},
				state: {$node.state},
				name: "{$node.name}",
				ipaddr: "{$node.ipaddr}",
				id: {$node.id},
				type: "nodeinfo"
			});
		{/foreach}
	{/if}

	var nodelinks = [];
	{if $nodelinks}
		{foreach from=$nodelinks item=nodelink}
			nodelinks.push({
				nodelon: {$nodelink.nodelon},
				nodelat: {$nodelink.nodelat},
				netdevlon: {$nodelink.netdevlon},
				netdevlat: {$nodelink.netdevlat},
				type: {$nodelink.type},
				speed: {$nodelink.speed},
				typename: "{$nodelink.typename}",
				speedname: "{$nodelink.speedname}"
			});
		{/foreach}
	{/if}

	{if $lon && $lat}
	map = createMap(devices, devlinks, nodes, nodelinks, true, '{$lon}', '{$lat}');
	{else}
	map = createMap(devices, devlinks, nodes, nodelinks, true);
	{/if}

	set_lastonline_limit({get_conf('phpui.lastonline_limit')});
	setTimeout("netdevmap_refresh()", lastonline_limit * 1000);
//-->
</script>
{elseif $gd} {* default if $type is not set or not 'flash' *}
<P align="CENTER">
<img src="?m=netdevmap&graph=true&start={$start}{if $mini}&mini=1{/if}" alt="" USEMAP="#devices">
<MAP name="devices">
{section name=devicemap loop=$devicemap}
    <AREA SHAPE="CIRCLE" COORDS="{$devicemap[devicemap].x},{$devicemap[devicemap].y},10"  href="?m=netdevinfo&id={$devicemap[devicemap].id}">
{/section}
{section name=nodemap loop=$nodemap}
    <AREA SHAPE="CIRCLE" COORDS="{$nodemap[nodemap].x},{$nodemap[nodemap].y},10"  href="?m=nodeinfo&id={$nodemap[nodemap].id}">
{/section}
</MAP>
</P>
{else}
    <table width="100%"><tr><td width="100%" align="Center">
	<br /><br /><FONT class="alert">{trans("Your PHP does not support GD library required for map generation!")}</FONT>
    </td></tr></table>
{/if}
{if !$emptydb && $type != 'openlayers'}
<P align="CENTER">
<form method="GET" action="?m=netdevmap" name="x">
	<input type="submit" class="hiddenbtn">
	{trans("Start map from:")}
	<input type="hidden" name="m" value="netdevmap">
	<select size="1" name="start" onChange="document.x.submit();">
		{section name=a loop=$deviceslist}
		<option value="{$deviceslist[a].id}"{if $deviceslist[a].id eq $start} selected="selected"{/if}>{$deviceslist[a].name}</option>
		{/section}
	</select>
	<input type="SUBMIT" value="{trans("Generate")}">
	<input type="CHECKBOX" name="mini" value="1"{if $mini} checked="checked"{/if}> {trans("only devices")}
</form>
</P>
{/if}
{include file="footer.html"}
