<P><FORM NAME="netdevedit" METHOD="POST" ACTION="?m=netdevedit&id={$netdev.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/netdev.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Nazwa:</B>
		<TD WIDTH="98%" CLASS="FRIGHTU" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[name]" VALUE="{$netdev.name}" {tip trigger="name" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/producer.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Producent:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[producer]" VALUE="{$netdev.producer}" CLASS="bold">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/netdev_model.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Model:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[model]" VALUE="{$netdev.model}" CLASS="bold">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/serialnumber.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Numer seryjny:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[serialnumber]" VALUE="{$netdev.serialnumber}" CLASS="bold">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/port.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Ilo¶æ portów:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[ports]" VALUE="{$netdev.ports}" {tip trigger="ports"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/home.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Lokalizacja:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="netdev[location]" VALUE="{$netdev.location}" CLASS="BOLD">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/netdev_description.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Opis:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="1%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC">
						<TEXTAREA NAME="netdev[description]" CLASS="bold" COLS="40" ROWS="5" STYLE="background-color: #F4F0EC; border-style: none; border-width: 0pt" COLS="40" ROWS="5">{$netdev.description}</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>


	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="4" ALIGN="RIGHT">
			<A HREF="javascript:document.netdevedit.submit();" ACCESSKEY="S">Zapisz <IMG SRC="img/save.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
			<A HREF="?m=netdevinfo&id={$netdev.id}">Anuluj <IMG SRC="img/cancel.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
		</TD>
	</TR>	
</TABLE></FORM></P>
