<!--// $Id$ //-->
<table width="100%" bgcolor="#F4F0EC" CELLPADDING="3">
	<tr>
		<TD width="100%" class="fall"><B>
			<img src="img/node.gif" ALT="" align="absmiddle" border="0">
			{t}Nodes{/t}:
			<A href="?m=nodelist" {tip text="List of computers"}>{t}List{/t}</A> /
			<A href="?m=nodeadd" {tip text="Adding of new computer"}>{t}New{/t}</A> /
			<A href="?m=nodesearch" {tip text="Searching for computers"}>{t}Search{/t}</A> /
			<A href="?m=print&type=nodelist" target="_BLANK" {tip text="List of computers - printer-friendly version"}>{t}Print{/t}</A>
		</B></TD>
	</TR>
</table>													
