<!--// $Id$ //-->
<FORM NAME="editnode" METHOD="POST" ACTION="?m=nodeedit&id={$nodeinfo.id}"><INPUT TYPE="hidden" NAME="nodeedit[id]" VALUE="{$nodeinfo.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="nodeedit[name]" VALUE="{$nodeinfo.name|upper}" MAXLENGTH="16" {tip text="Enter node name" trigger="name" bold=1}>
			<B>({$nodeinfo.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
                       <INPUT TYPE="TEXT" NAME="nodeeditipaddr" VALUE="{$nodeinfo.ip}" {tip text="Enter IP address or select it from list" trigger="ipaddr"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editnode.nodeeditipaddr,{$nodeinfo.netid});" {tip text="Select IP address from list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mac.gif" BORDER="0" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="nodeeditmac" VALUE="{$nodeinfo.mac}" {tip text="Enter MAC address or select it from list" trigger="mac"}> <a href="javascript: void(0);" onClick="return macchoosewin(document.editnode.nodeeditmac);" {tip text="Select MAC address from list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/network.gif" BORDER="0" ALT="{t}Network:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B><A HREF="?m=netinfo&id={$nodeinfo.netid}">{$nodeinfo.netname}</A></B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/netdev.gif" BORDER="0" ALT="{t}Net devices:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" NAME="nodeedit[netdev]"  {tip text="Select net device from list" trigger="netdev"}>
				<OPTION VALUE="0" {if ! $nodeinfo.netdev}SELECTED{/if}>{t}--- No device ---{/t}</OPTION>
				{section name="netdev" loop=$netdevices}
				<OPTION VALUE="{$netdevices[netdev].id}" {if $nodeinfo.netdev == $netdevices[netdev].id} SELECTED {/if}>{$netdevices[netdev].name} {if $netdevices[netdev].producer}/ {$netdevices[netdev].producer}{/if} {if $netdevices[netdev].location}({$netdevices[netdev].location }){/if}</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/{if ! $nodeinfo.access}no{/if}access.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodeedit[access]" {tip text="Select node status"}>
				<OPTION VALUE="1"{if $nodeinfo.access} SELECTED{/if}>{t}connected{/t}y</OPTION>
				<OPTION VALUE="0"{if ! $nodeinfo.access} SELECTED{/if}>{t}disconnected{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/warning{if !$nodeinfo.warning}off{else}on{/if}.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodeedit[warning]" {tip text="Select node message"}>
				<OPTION VALUE="1"{if $nodeinfo.warning} SELECTED{/if}>{t}warning on{/t}</OPTION>
				<OPTION VALUE="0"{if ! $nodeinfo.warning} SELECTED{/if}>{t}warning off{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/user.gif" BORDER="0" ALT="{t}Customer:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" NAME="nodeedit[ownerid]" {tip text="Assign node to customer"}>
				{section name=users loop=$users}
				<OPTION VALUE="{$users[users].id}"{if $nodeinfo.ownerid eq $users[users].id} SELECTED{/if}>{$users[users].username|truncate:30:" ..."} ({$users[users].id|string_format:"%04d"})</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/info.gif" BORDER="0" ALT="{t}Description:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
                       <TEXTAREA NAME="nodeedit[info]" COLS="50" ROWS="5" {tip text="Enter additional informations (optional)"}>{$nodeinfo.info}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/admins.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Created:{/t}<BR>
			{t}Modified:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodeinfo.createdby}, {$nodeinfo.creationdateh}<BR>
			{if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.editnode.submit();" ACCESSKEY="s">{t}Submit{/t} <IMG SRC="img/save.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
			<A HREF="?m=nodeinfo&id={$nodeinfo.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
		</TD>
	</TR>	
</TABLE>
</FORM>
<SCRIPT language="javaScript">
<!--
document.forms['editnode'].elements['nodeedit[name]'].focus();
//-->
</SCRIPT>
