{include file="header.html"}
{include file="nodeheader.html"}
<!-- $id -->
<H1>{$layout.pagetitle}</H1>
<P>
<FORM METHOD="POST" ACTION="?m=nodesearch&search" NAME="nodesearch">
<INPUT TYPE="hidden" NAME="m" VALUE="nodesearch">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="FALL" COLSPAN="2">
			<B>Szukaj:</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<NOBR><B>Nazwa komputera:</B></NOBR>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[name]">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<NOBR><B>Adres MAC:</B></NOBR>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[mac]">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<NOBR><B>Adres IP:</B></NOBR>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[ipaddr]">
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fbottomu" WIDTH="100%" COLSPAN="2">
		<A href="javascript:document.nodesearch.submit()"><IMG SRC="img/search.gif" BORDER="0" ALIGN="absmiddle" ALT="">Szukaj</A>
		</TD>
	</TR>
</TABLE>
</FORM>
</P>
{include file="footer.html"}
