<!--// $Id$ //-->
<FORM NAME="editnode" METHOD="POST" ACTION="?m=nodeedit&id={$nodeinfo.id}">
<INPUT TYPE="hidden" NAME="nodeedit[id]" VALUE="{$nodeinfo.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="nodeedit[name]" VALUE="{$nodeinfo.name|upper}" MAXLENGTH="16" {tip text="Enter node name" trigger="name" bold=1}>
			<B>({$nodeinfo.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
                       <INPUT TYPE="TEXT" NAME="nodeeditipaddr" VALUE="{$nodeinfo.ip}" {tip text="Enter IP address" trigger="ipaddr"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editnode.nodeeditipaddr,{$nodeinfo.netid});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip_pub.gif" BORDER="0" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
                       <INPUT TYPE="TEXT" NAME="nodeeditipaddrpub" {if $nodeinfo.ip_pub != "0.0.0.0"}VALUE="{$nodeinfo.ip_pub}"{/if} {tip text="Enter IP address (optional)" trigger="ipaddr_pub"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.editnode.nodeeditipaddrpub,{$nodeinfo.netid});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mac.gif" BORDER="0" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="nodeeditmac" VALUE="{$nodeinfo.mac}" {tip text="Enter MAC address" trigger="mac"}> <a href="javascript: void(0);" onClick="return macchoosewin(document.editnode.nodeeditmac);" {tip text="Click to select MAC from the list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/passwd.gif" BORDER="0" ALT="{t}Password:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="nodeedit[passwd]" VALUE="{$nodeinfo.passwd}" {tip text="Enter password (optional)" trigger="passwd"}> <a href="javascript: GenPasswd();" {tip text="[ Generate random password ]"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/network.gif" BORDER="0" ALT="{t}Network:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B><A HREF="?m=netinfo&id={$nodeinfo.netid}">{$nodeinfo.netname}</A></B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/netdev.gif" BORDER="0" ALT="{t}Net devices:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" NAME="nodeedit[netdev]"  {tip text="Select net device from list" trigger="netdev"}>
				<OPTION VALUE="0" {if ! $nodeinfo.netdev}SELECTED{/if}>{t}--- No device ---{/t}</OPTION>
				{section name="netdev" loop=$netdevices}
				<OPTION VALUE="{$netdevices[netdev].id}" {if $nodeinfo.netdev == $netdevices[netdev].id} SELECTED {/if}>{$netdevices[netdev].name} {if $netdevices[netdev].producer}/ {$netdevices[netdev].producer}{/if} {if $netdevices[netdev].location}({$netdevices[netdev].location }){/if}</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/{if ! $nodeinfo.access}no{/if}access.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodeedit[access]" {tip text="Select node status"}>
				<OPTION VALUE="1"{if $nodeinfo.access} SELECTED{/if}>{t}connected<!singular>{/t}</OPTION>
				<OPTION VALUE="0"{if ! $nodeinfo.access} SELECTED{/if}>{t}disconnected<!singular>{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/warning{if !$nodeinfo.warning}off{else}on{/if}.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodeedit[warning]" {tip text="Select node message"}>
				<OPTION VALUE="1"{if $nodeinfo.warning} SELECTED{/if}>{t}warning on{/t}</OPTION>
				<OPTION VALUE="0"{if ! $nodeinfo.warning} SELECTED{/if}>{t}warning off{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/user.gif" BORDER="0" ALT="{t}Customer:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" NAME="nodeedit[ownerid]" {tip text="Assign node to customer"}>
				{section name=users loop=$users}
				<OPTION VALUE="{$users[users].id}"{if $nodeinfo.ownerid eq $users[users].id} SELECTED{/if}>{$users[users].username|truncate:30:" ..."} ({$users[users].id|string_format:"%04d"})</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/info1.gif" BORDER="0" ALT="{t}Description:{/t}">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
                       <TEXTAREA NAME="nodeedit[info]" COLS="50" ROWS="5" {tip text="Enter additional informations (optional)"}>{$nodeinfo.info}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/admins.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Created:{/t}<BR>
			{t}Modified:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodeinfo.createdby}, {$nodeinfo.creationdateh}<BR>
			{if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.editnode.submit();" ACCESSKEY="s">{t}Submit{/t} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=nodeinfo&id={$nodeinfo.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>	
</TABLE>
</FORM>
{literal}
<SCRIPT language="javaScript">
<!--
	document.forms['editnode'].elements['nodeedit[name]'].focus();
	
	function GenPasswd()
	{
		if(! confirm('{/literal}{t}Are you sure, you want to generate new password?{/t}{literal}'))
			return;
	    
		var passwd = new Array();
		var items = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		var length = {/literal}{$_config.phpui.nodepassword_length|default:"16"}{literal};
		if(length > 32) length = 32;
		
		for(var i=0; i<length; i++)
		{
			n = Math.floor(Math.random() * items.length);
			passwd[i] = items.substring(n, n+1);
		}

		document.forms['editnode'].elements['nodeedit[passwd]'].value = passwd.join("");
	}	
//-->
</SCRIPT>
{/literal}
