{include file="header.html"}
<!--// $Id$ //-->
<SCRIPT type="text/javascript">
<!-- 
	function PrintList()
	{
		document.nodesearch.action = "?m=nodesearch&search=1&print=1";
		document.nodesearch.target = "_BLANK";
		document.nodesearch.submit();
	}

	function Search()
	{
		document.nodesearch.action = "?m=nodesearch&search=1";
		document.nodesearch.target = "";
		document.nodesearch.submit();
	}
//-->
</SCRIPT>
<H1>{$layout.pagetitle}</H1>
<P>
<FORM METHOD="POST" ACTION="?m=nodesearch&search" NAME="nodesearch">
<INPUT type="submit" class="hiddenbtn">
<INPUT TYPE="hidden" NAME="m" VALUE="nodesearch">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="FALL" COLSPAN="2">
			<B>{trans("Find nodes matching the following search criteria:")}</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/node.gif" width="16" alt=""> <B>{trans("Node name:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[name]" {tip text="Enter node name or it's fragment"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/mac.gif" width="16" alt=""> <B>{trans("MAC address:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[mac]" {tip text="Enter MAC address or it's fragment"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/ip.gif" width="16" alt=""> <B>{trans("IP address:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[ipaddr]" {tip text="Enter IP address or it's fragment"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/home.gif" width="16" alt=""> <B>{trans("Location:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[location]" {tip text="Enter node location"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/info1.gif" width="16" alt=""> <B>{trans("Description:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[info]" {tip text="Enter additional information"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/empty.gif" width="16" alt=""> <B>{trans("Qualification operator:")}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT class="radio light" type="radio" id="operator0" value="AND" name="k"{if $k!='OR'} CHECKED{/if}><label for="operator0">{trans("AND")}</label>
			<INPUT class="radio light" type="radio" id="operator1" value="OR" name="k"{if $k=='OR'} CHECKED{/if}><label for="operator1">{trans("OR")}</label>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fbottomu" WIDTH="100%" COLSPAN="2" ALIGN="right">
			<A href="javascript:Search()" accesskey="s">{trans("Search")} <IMG SRC="img/search.gif" alt=""></A>
			<A href="javascript:PrintList()">{trans("Print")} <IMG SRC="img/print.gif" alt=""></A>
		</TD>
	</TR>
</TABLE>
</FORM>
</P>
<SCRIPT type="text/javascript">
<!--
document.forms['nodesearch'].elements['search[name]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
