<!--// $Id$ //-->
<P><FORM NAME="nodeadd" METHOD="POST" ACTION="?m=nodeadd{if $userinfo.id}&ownerid={$userinfo.id}{/if}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Nazwa:</B>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			<INPUT TYPE="TEXT" NAME="nodedata[name]" VALUE="{$nodedata.name|upper}" MAXLENGTH="16" {tip text="Wpisz nazwê komputera" trigger="name" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="Adres IP:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Adres IP:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedataipaddr" VALUE="{$nodedata.ipaddr}" {tip text="Wpisz lub wybierz z listy adres IP" trigger="ipaddr"}> <a href="javascript: void(0);" onClick="return ipchoosewin(document.nodeadd.nodedataipaddr);" {tip text="Wybierz adres IP z listy"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mac.gif" BORDER="0" ALT="Adres MAC:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Adres MAC:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedatamac" VALUE="{$nodedata.mac}" {tip text="Wpisz lub wybierz z listy adres MAC" trigger="mac"}> <a href="javascript: void(0);" onClick="return macchoosewin(document.nodeadd.nodedatamac);" {tip text="Wybierz adres MAC z listy"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/{if ! $nodedata.access}no{/if}access.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Status:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodedata[access]" {tip text="Wybierz status komputera"}>
				<OPTION VALUE="1"{if $nodedata.access} SELECTED{/if}>pod³±czony</OPTION>
				<OPTION VALUE="0"{if ! $nodedata.access} SELECTED{/if}>od³±czony</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/warning{if !$nodedata.warning}off{else}on{/if}.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Ostrze¿enie:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<SELECT SIZE="1" CLASS="BOLD" NAME="nodedata[warning]" {tip text="Ustaw ostrze¿enie komputera"}>
				<OPTION VALUE="1"{if $nodedata.warning} SELECTED{/if}>w³±czone</OPTION>
				<OPTION VALUE="0"{if ! $nodedata.warning} SELECTED{/if}>wy³±czone</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/user.gif" BORDER="0" ALT="W³a¶ciciel:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>W³a¶ciciel:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<SELECT SIZE="1" NAME="nodedata[ownerid]" {tip text="Przypisz komputer do u¿ytkownika" trigger="user"}>
				{section name=users loop=$users}
				<OPTION VALUE="{$users[users].id}"{if $nodedata.ownerid eq $users[users].id} SELECTED{/if}>{$users[users].username|truncate:50:" ..."} ({$users[users].id|string_format:"%04d"})</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/info.gif" BORDER="0" ALT="Opis:">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Opis:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<TEXTAREA NAME="nodedata[info]" COLS="50" ROWS="5" {tip text="Wpisz dodatkowe informacje (opcjonalnie)"}>{$nodedata.info}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="?m=nodescan{if $userinfo.id}&ownerid={$userinfo.id}{/if}">Skanuj <IMG SRC="img/search.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
			<A HREF="javascript:document.nodeadd.submit();" ACCESSKEY="S">Zapisz <IMG SRC="img/save.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A>
			<A HREF="?m={if $userinfo.id}userinfo&id={$userinfo.id}{else}nodelist{/if}">Anuluj <IMG SRC="img/cancel.gif" BORDER="0" ALIGN="ABSMIDDLE" ALT=""></A><BR>
			<INPUT type="checkbox" name="nodedata[reuse]" value="ON" style="border-style: none; background-color: #DFD5BD;" {if $nodedata.reuse}checked{/if}> Wywo³aj ponownie ten formularz po dodaniu komputera
		</TD>
	</TR>	
</TABLE></FORM></P>
