<!-- $Id$ -->
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU" COLSPAN="2">
			<B>{$nodeinfo.name|upper} ({$nodeinfo.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/ip.gif" BORDER="0" ALT="Adres IP:">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$nodeinfo.ipaddr}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mac.gif" BORDER="0" ALT="Adres MAC:">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$nodeinfo.mac} {if $nodeinfo.producer}({$nodeinfo.producer}){/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/network.gif" BORDER="0" ALT="Sieæ:">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B><A HREF="?m=netinfo&id={$nodeinfo.netid}">{$nodeinfo.netname}</A></B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<A HREF="?m=nodeset&id={$nodeinfo.id}"><IMG SRC="img/{if $nodeinfo.access neq "Y"}no{/if}access.gif" BORDER="0" ALT=""></A>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B>{if $nodeinfo.access eq "Y"}pod³±czony{else}od³±czony{/if}</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/admins.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>Utworzony:<BR>
			Zmodyfikowany:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodeinfo.createdby}, {$nodeinfo.creationdateh}<BR>
			{if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="?m=userinfo&id={$nodeinfo.ownerid}">Wszystkie komputery <IMG SRC="img/cancel.gif" BORDER="0" ALT="" ALIGN="absmiddle"></A>
			<A HREF="?m=nodedel&id={$nodeinfo.id}" onClick="return confirmLink(this, 'Jeste¶ pewien ¿e chcesz usun±æ komputer \'{$nodeinfo.name|upper}\' z bazy danych?')">Usuñ <IMG SRC="img/delete.gif" BORDER="0" ALT="" ALIGN="absmiddle"></A>
			<A HREF="?m=nodeedit&id={$nodeinfo.id}" ACCESSKEY="E">Edytuj <IMG SRC="img/edit.gif" BORDER="0" ALT="" ALIGN="absmiddle"></A>
		</TD>
	</TR>	
</TABLE>
