{include file="header.html"}
<!--// $Id$ -->
<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="3">
<form method="POST" name="tedit" action="?m=nodegroupedit&id={$nodegroup.id}">
<input type="submit" class="hiddenbtn">
	<tr class="DARK">
		<td width="1%" class="fleftu">
			<img src="img/nodegroup.gif" alt="">
		</td>
		<td width="1%" class="fbt" nowrap="nowrap">
			<strong>{trans("Name:")}</strong>
		</td>
		<td width="98%" class="frightu">
			<input type="TEXT" value="{$nodegroup.name}" name="nodegroup[name]" {tip trigger="name" bold=1}>
			<strong>&nbsp;({$nodegroup.id|string_format:"%04d"})</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/info1.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Description:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<textarea rows="5" cols="50" name="nodegroup[description]" {tip text="Enter additional information (optional)"}>{$nodegroup.description}</textarea>
		</td>
	</tr>
</form>
	<tr class="LIGHT">
		<td width="100%" colspan="3" align="RIGHT" class="FBOTTOMU">
			{if sizeof($nodegroups) > 1 && $nodegroup.count}
			<form name="tmove" method="get" action="">
			    <input type="hidden" name="is_sure" value="1">
		            <input type="hidden" name="m" value="nodegroupmove">
			    <input type="hidden" name="from" value="{$nodegroup.id}">
	    		    <a href="javascript:document.tmove.submit();" onclick="return confirm('{trans("Are you sure, you want to move members to selected group?")}')">{trans("Move members to group:")}</a>
			    <select size="1" name="to" {tip text="Select group to which you want to move members"}>
		            {foreach from=$nodegroups item=item}{if $item.id != $nodegroup.id}
			            <option value="{$item.id}">{$item.name}</option>
		            {/if}{/foreach}
		    	    </select>
			</form>
			{/if}
			<a href="javascript:document.tedit.submit();" accesskey="S">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=nodegroupinfo&id={$nodegroup.id}{if $membersnetid}&membersnetid={$membersnetid}{/if}{if $othersnetid}&othersnetid={$othersnetid}{/if}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a> 
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
document.forms['tedit'].elements['nodegroup[name]'].focus();
//-->
</script>
{include file="nodegroupassignments.html"}
{include file="footer.html"}
