{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<form method="POST" action="?m=numberplanedit&id={$numberplanedit.id}" name="numberplanedit">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/id.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<strong>{trans("Template:")}</strong>
		</td>
		<td width="98%" class="frightu">
			<input type="text" name="numberplanedit[template]" value="{$numberplanedit.template|escape}" {tip text="Enter number template" trigger="template" bold=1}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/docum.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Document type:")}</strong>
		</td>
		<td width="98%" class="fright">
			<select name="numberplanedit[doctype]" size="1" {tip text="Select document type" trigger="doctype"}>
			{foreach from=$_DOCTYPES item=item key=key}
				<option value="{$key}"{if $key == $numberplanedit.doctype} SELECTED{/if}>{$item}</option>
			{/foreach}
			</select>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Period:")}</strong>
		</td>
		<td width="98%" class="fright">
			<select name="numberplanedit[period]" size="1" {tip text="Select numbering period" trigger="period"}>
			{foreach from=$_NUM_PERIODS item=item key=key}
				<option value="{$key}"{if $key == $numberplanedit.period} SELECTED{/if}>{$item}</option>
			{/foreach}
			</select>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/division.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Division")}:</strong>
		</td>
		<td width="98%" class="fright">
			{include file="multiselect.html" selected=$numberplanedit.selected available_tip="Available<!plural>:" selected_tip="Selected<!plural>:"}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/empty.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Default:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="checkbox" name="numberplanedit[isdefault]" value="1" {tip text="Check box to make this plan a default for selected document type"}{if $numberplanedit.isdefault!="0"}CHECKED{/if}>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="javascript:document.numberplanedit.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=numberplanlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
document.forms['numberplanedit'].elements['numberplanedit[template]'].focus();
//-->
</script>
{include file="footer.html"}
