{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM method="POST" action="?m=numberplanedit&id={$numberplanedit.id}" name="numberplanedit">
<TABLE width="100%" cellpadding="3">
	<TR class="dark">
		<TD width="1%" class="fleftu">
			<IMG src="img/id.gif" alt="">
		</TD>
		<TD width="1%" class="fbt">
			<B>{t}Template:{/t}</B>
		</TD>
		<TD width="98%" class="frightu">
			<INPUT name="numberplanedit[template]" value="{$numberplanedit.template|escape}" {tip text="Enter number template" trigger="template" bold=1}>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{t}Document type:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<SELECT name="numberplanedit[doctype]" size="1" {tip text="Select document type" trigger="doctype"}>
			{foreach from=$_DOCTYPES item=item key=key}
				<OPTION value="{$key}"{if $key == $numberplanedit.doctype} SELECTED{/if}>{$item}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<IMG src="img/calendar.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{t}Period:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<SELECT name="numberplanedit[period]" size="1" {tip text="Select numbering period" trigger="period"}>
			{foreach from=$_PERIODS item=item key=key}
				<OPTION value="{$key}"{if $key == $numberplanedit.period} SELECTED{/if}>{$item}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<IMG src="img/empty.gif" alt="">
		</TD>
		<TD width="1%" nowrap>
			<B>{t}Default:{/t}</B>
		</TD>
		<TD width="98%" class="fright">
			<INPUT type="checkbox" class="box light" name="numberplanedit[isdefault]" value="1" {tip text="Check box to make this plan a default for selected document type"}{if $numberplanedit.isdefault!="0"}CHECKED{/if}>
		</TD>
	</TR>
	<TR class="light">
		<TD class="fbottomu" align="right" colspan="3">
			<A href="javascript:document.numberplanedit.submit();" accesskey="s">{t}Submit{/t} <IMG src="img/save.gif" alt=""></A>
			<A href="?m=numberplanlist">{t}Cancel{/t} <IMG src="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
</TABLE>
<SCRIPT>
<!--
document.forms['numberplanedit'].elements['numberplanedit[template]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
