{include file="header.html"}
{include file="balanceheader.html"}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<P><FORM METHOD="POST" NAME="paymentedit" ACTION="?m=paymentedit&id={$payment.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/payment.gif" ALT="" ALIGN="ABSMIDDLE">
		</TD>
		<TD WIDTH="1%" CLASS="fbt"><B>Nazwa:</B>
		</TD>
		<TD WIDTH="98%" CLASS="frightu" COLSPAN="2" NOWRAP>
			<INPUT TYPE="text" NAME="payment[name]" VALUE="{$payment.name|escape}" {tip text="Wpisz nazwê" trigger="name" bold=1}>
			<B>&nbsp;({$payment.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/creditor.gif" ALT="" BORDER="0" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="1%">
			<B>Wierzyciel:</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">
			<INPUT TYPE="TEXT" SIZE="50" NAME="payment[creditor]" VALUE="{$payment.creditor}" {tip text="Wpisz nazwê wierzyciela" trigger="creditor"}>
		</TD>
	</TR>
	<TR class="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/value.gif" ALT="" BORDER="0" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="1%"><B>Warto¶æ (z³):</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">
			<INPUT TYPE="text" NAME="payment[value]" VALUE="{$payment.value|string_format:"%01.2f"}" SIZE="8" {tip text="Wpisz kwotê" trigger="value"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/calendar.gif" ALT="" BORDER="0" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dzieñ naliczenia:</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">								
			<SELECT SIZE="1" NAME="payment[period]" {tip text="Wybierz co jaki okres czasu ma byæ naliczane to zobowi±zanie."}>
				<OPTION VALUE="0" {if $payment.period eq 0}SELECTED{/if}>co tydzieñ</OPTION>
				<OPTION VALUE="1" {if $payment.period eq 1}SELECTED{/if}>co miesi±c</OPTION>
				<OPTION VALUE="2" {if $payment.period eq 2}SELECTED{/if}>co kwarta³</OPTION>
				<OPTION VALUE="3" {if $payment.period eq 3}SELECTED{/if}>co rok</OPTION>
			</SELECT>&nbsp;
    			<INPUT TYPE="TEXT" NAME="payment[at]" VALUE="{$payment.at}"{tip text="Podaj kiedy ma byæ naliczana taryfa. Dla op³aty cotygodniowej podaj dzieñ tygodnia (poniedzia³ek = 1), dla op³aty miesiêcznej podaj dzieñ miesi±ca (od 1 do 28), dla op³aty corocznej podaj miesi±c i dzieñ w formacie DD/MM (15/09 oznacza 15 wrze¶nia), a dla kwartalnej DD/MM (MM <= 3)." trigger="at"} SIZE="5">
		</TD>
	</TR>	
	<TR CLASS="light">	
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/usercomment.gif" ALT="" BORDER="0" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="1%">
			<B>Opis:</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">
			<TEXTAREA NAME="payment[description]" COLS="50" ROWS="5" {tip text="Wpisz informacje dodatkowe (opcjonalnie)"}>{$payment.description}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="light">
	        <TD ALIGN="RIGHT" CLASS="fbottomu" COLSPAN="3">
			<A HREF="javascript:document.paymentedit.submit();" ACCESSKEY="S">Zapisz <IMG SRC="img/save.gif" BORDER="0" ALT="" ALIGN="ABSMIDDLE"></A>
			<A HREF="?m=paymentdel&id={$payment.id}">Usuñ <IMG SRC="img/delete.gif" BORDER="0" ALT="" ALIGN="ABSMIDDLE"></A>
			<A HREF="?m=paymentlist">Anuluj <IMG SRC="img/cancel.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A> 
		</TD>
	</TR>
</TABLE>
</FORM>
</P>
<SCRIPT language="javaScript">
<!--
document.forms['paymentedit'].elements['payment[name]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
