{include file="header.html"}
<!-- $Id$ -->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR class="dark">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/payment.gif" ALT=""><BR>
			<IMG SRC="img/creditor.gif" ALT="">
		</TD>
		<TD WIDTH="95%" CLASS="fbt" ALIGN="left">
			<B>{t}Name:{/t}</B><BR>
			{t}Creditor:{/t}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" ALIGN="right">
			{t}ID:{/t}
		</TD>
		<TD WIDTH="1%" CLASS="fbt" ALIGN="right">
			{t}Value:{/t}
		</TD>	
		<TD NOWRAP WIDTH="1%" CLASS="fbt" ALIGN="right">
			{t}Payment day:{/t}
		</TD>
		<TD NOWRAP WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
			<B>{t 0=$listdata.total}Total: $0{/t}</B>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{section name=payments loop=$paymentlist}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD WIDTH="1%" CLASS="fleft" onClick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';" class="fleft">
			<IMG SRC="img/payment.gif" ALT=""><BR>
			<IMG SRC="img/creditor.gif" ALT="">
		</TD>
		<TD WIDTH="95%" onClick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<B>{$paymentlist[payments].name}</B><BR>
			{$paymentlist[payments].creditor}
		</TD>
		<TD WIDTH="1%" ALIGN="right" onClick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			({$paymentlist[payments].id|string_format:"%04d"})
		</TD>
		<TD WIDTH="1%" ALIGN="right" onClick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<NOBR>
			{$paymentlist[payments].value|money_format} 
			</NOBR>
		</TD>
		<TD WIDTH="1%" ALIGN="right" onClick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<NOBR>
			{$paymentlist[payments].payday} 
			</NOBR>
		</TD>
		<TD WIDTH="1%" CLASS="fright" ALIGN="right">
			<P><FORM NAME="addbalance" METHOD="POST" ACTION="?m=balanceadd">
				<INPUT TYPE="HIDDEN" NAME="m" VALUE="balanceadd">
				<INPUT TYPE="HIDDEN" NAME="addbalance[type]" VALUE="2">
				<INPUT TYPE="HIDDEN" NAME="addbalance[value]" VALUE="{$paymentlist[payments].value}">
				<INPUT TYPE="HIDDEN" NAME="addbalance[comment]" VALUE="{$paymentlist[payments].name} / {$paymentlist[payments].creditor}">
				<NOBR>
				<A HREF="?m=paymentdel&id={$paymentlist[payments].id}" onClick="return confirmLink(this,'{t}Are you sure, you want to delete that payment?{/t}');"><IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
				<A HREF="?m=paymentedit&id={$paymentlist[payments].id}"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
				<A HREF="?m=paymentinfo&id={$paymentlist[payments].id}"><IMG SRC="img/info.gif" ALT="[ {t}Info{/t} ]"></A>&nbsp;
				<A HREF="javascript:document.addbalance.submit();"><IMG SRC="img/save.gif" ALT="[ {t}Account payment{/t} ]"></A>
				</NOBR>
			</FORM></P>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="6" ALIGN="center" CLASS="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such standing payments in database.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	<TR CLASS="light">
		<TD CLASS="fleftu" COLSPAN="4" WIDTH="98%">
			&nbsp;
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="right">
			<IMG SRC="img/info2.gif" ALT="">&nbsp;<B>{t}Total:{/t}</B>
		</TD>
		<TD CLASS="frightu" WIDTH="1%" ALIGN="left">
			<B>{$listdata.total}</B>
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
