{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="99%" VALIGN="TOP">
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Prepared by: $a{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="640" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD ALIGN="CENTER" CLASS="HEAD">
			{t}No.{/t}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER">
			{t}ID{/t}
		</TD>
		<TD CLASS="HEAD">
			<B>{t}First/last name{/t}</B><BR>
			{t}Address{/t}<BR>
			{t}Phone{/t}
		</TD>
		<TD CLASS="HEAD" VALIGN="TOP" ALIGN="RIGHT">
			{if $_config.privileges.finances_management|chkconfig || $adminuser}{t}Subscription{/t}<BR>{/if}
			{t}E-mail{/t}<BR>
			{t}TEN/SSN{/t}
		</TD>
		{if $_config.privileges.finances_management|chkconfig || $adminuser}
		<TD CLASS="HEAD" ALIGN="RIGHT">
			{t}Balance{/t}
		</TD>
		{/if}
	</TR>
	{cycle values="white,grey" print=false}
	{section name=customerlist loop=$customerlist}{if $customerlist[customerlist].id}
	<TR class="{cycle}">{assign var=cid value=$customerlist[customerlist].id}
		<TD ALIGN="CENTER">
			{counter}
		</TD>
		<TD ALIGN="CENTER">
			{$customerlist[customerlist].id|string_format:"%04d"}
		</TD>
		<TD>
			<B>{$customerlist[customerlist].customername}</B><BR>
			{$customerlist[customerlist].address}{if $customerlist[customerlist].city neq ""},{/if} {$customerlist[customerlist].zip} {$customerlist[customerlist].city}<BR>
			{$contactlist.$cid.phone}
		</TD>
		<TD ALIGN="RIGHT">
			{if $_config.privileges.finances_management|chkconfig || $adminuser}{$customerlist[customerlist].tariffvalue|money_format}<BR>{/if}
			{$customerlist[customerlist].email}<BR>
			{if $customerlist[customerlist].ten}{$customerlist[customerlist].ten}{else}{$customerlist[customerlist].ssn}{/if}
		</TD>
		{if $_config.privileges.finances_management|chkconfig || $adminuser}
		<TD ALIGN="RIGHT" NOWRAP>
			{$customerlist[customerlist].balance|money_format} 
		</TD>
		{/if}
	</TR>
	{/if}{/section}
	{if ($_config.privileges.finances_management|chkconfig && !$_config.privileges.hide_summaries|chkconfig) || $adminuser}
	<TR class="grey">
		<TD COLSPAN="3" ALIGN="RIGHT"><B>{t}Total:{/t}</B></TD>
		<TD ALIGN="RIGHT" NOWRAP><B>{sum array=$customerlist column="tariffvalue" string_format=$LANGDEFS.$_language.money_format}</B></TD>
		<TD ALIGN="RIGHT" NOWRAP><B>{sum array=$customerlist column="balance" string_format=$LANGDEFS.$_language.money_format}</B></TD>
	</TR>
	{/if}
</TABLE>
{include file="clearfooter.html"}
