<!--// $Id$ //-->
{include file="clearheader.html"}
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="50%" ALIGN="LEFT" NOWRAP>
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="50%" ALIGN="RIGHT">
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t 0=$layout.logname}Prepared by: $0{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="600" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}No.{/t}
		</TD>
		<TD WIDTH="91%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Customer{/t}
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Gross value{/t}
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Net value{/t}<BR>22%
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Tax value{/t}<BR>22%
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Net value{/t}<BR>7%
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Tax value{/t}<BR>7%
		</TD>	
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Net value{/t}<BR>0%
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Tax-free{/t}<BR>
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER" VALIGN="TOP">
			{t}Total Tax{/t}
		</TD>
	</TR>
	{cycle values="white,grey" print=false}
	{foreach item=report from=$reportlist}
	<TR class="{cycle}">
		<TD WIDTH="1%" ALIGN="RIGHT">
			{counter}
		</TD>
		<TD WIDTH="91%">
			{$report.customername} ({$report.customerid|string_format:"%04d"})<BR>
			{$report.address}
			{if $report.nip}<BR>{$report.nip}{/if}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.brutto|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.netto22|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.tax22|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.netto7|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.tax7|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.val0|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.valfree|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT">
			{$report.taxsum|string_format:"%01.2f"}
		</TD>
	</TR>
	{/foreach}
	<TR class="grey">
		<TD COLSPAN="2" ALIGN="RIGHT" VALIGN="TOP">
			<B>{t}Total:{/t}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="brutto" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="netto22" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="tax22" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="netto7" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="tax7" string_format="%01.2f"}</B>
		</TD>	
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="val0" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="valfree" string_format="%01.2f"}</B>
		</TD>
		<TD ALIGN="RIGHT" VALIGN="TOP">
			<B>{sum array=$reportlist column="taxsum" string_format="%01.2f"}</B>
		</TD>
	</TR>
</TABLE>
