{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="99%" VALIGN="TOP">
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Prepared by: $a{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="640" CELLPADDING="3" BORDER="1" ALIGN=CENTER>
	<TR>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("No.")}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("ID")}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("Node name")}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("IP address")}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("MAC address")}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER CLASS=head>
			{trans("Owner")}
		</TD>
		<TD WIDTH="94%" ALIGN=CENTER CLASS=head>
			{trans("Description")}
		</TD>
	</TR>
	{cycle values="white,grey" print=false}
	{section name=nodelist loop=$nodelist}
	<TR class="{cycle}">
		<TD WIDTH="1%" ALIGN=CENTER>
			{counter}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER>
			{$nodelist[nodelist].id|string_format:"%04d"}
		</TD>
		<TD WIDTH="1%" ALIGN=RIGHT>
			<B>{$nodelist[nodelist].name}</B>
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER>
			{$nodelist[nodelist].ip}
		</TD>
		<TD WIDTH="1%" ALIGN=CENTER>
			{$nodelist[nodelist].mac|replace:",":"<BR>"}
		</TD>
		<TD WIDTH="1%" ALIGN=LEFT>
			{$nodelist[nodelist].owner}
		</TD>
		<TD WIDTH="94%" ALIGN=LEFT>
			{$nodelist[nodelist].info}
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD ALIGN="center" COLSPAN="7">
			<P>&nbsp;</P>
			<P><B>{trans("No such nodes in database.")}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>
	{/section}
</TABLE>
{include file="clearfooter.html"}
