<!--// $Id$ //-->
<table width="100%" cellpadding="3">
    <tr class="DARK">
	    <td width="100%" class="fall hand" align="left" nowrap="nowrap" onClick="showOrHide('promotiontariffs');">
	        <img src="img/money.gif" alt="">
			<strong>{t a=$promotion.tariffs|@count}Promotion's Tariffs ($a):{/t}</strong>
        </td>
    </tr>
	<tr id="promotiontariffs" style="display:none;">
	    <td width="100%" class="fall">
	        <table cellpadding="5" cellspacing="0" width="100%">
				<tr class="dark">
					<td class="fleftu" width="95%" nowrap="nowrap"><strong>{trans("Name:")}</strong></td>
					<td class="fbt" width="1%" align="right" nowrap="nowrap">{trans("ID:")}</td>
					<td class="fbt" width="1%" align="right" nowrap="nowrap"><strong>{trans("Value")}:</strong></td>
					<td class="fbt" width="1%" align="right" nowrap="nowrap">{trans("Downceil:")}</td>
					<td class="fbt" width="1%" align="right" nowrap="nowrap">{trans("Upceil:")}</td>
					<td class="frightu" width="1%">&nbsp;</td>
			    </tr>
				{cycle values="light,lucid" print=false name=tariffs}
				{foreach from=$promotion.tariffs item=tariff}
				<tr class="{cycle name=tariffs}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';" nowrap="nowrap">
						<strong>{$tariff.name}</strong>
					</td>
					<td align="right" onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';" nowrap="nowrap">
						({$tariff.id|string_format:"%04d"})
					</td>
					<td onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';" nowrap="nowrap">
					    <strong>{$tariff.value|string_format:"%.2f"}</strong>
					</td>
					<td onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';" nowrap="nowrap">
					    {if $tariff.downceil}{$tariff.downceil} kbit/s{else}-{/if}
					</td>
					<td onClick="return self.location.href='?m=tariffinfo&id={$tariff.id}';" nowrap="nowrap">
					    {if $tariff.upceil}{$tariff.upceil} kbit/s{else}-{/if}
					</td>
					<td>
						<a href="?m=promotionedit&action=tariffdel&id={$promotion.id}&tid={$tariff.id}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete this assignment?")}');"><img src="img/delete.gif" alt="[ {trans("Delete assignment")} ]" TITLE="[ {trans("Delete assignment")} ]"></a>
					</td>
				</tr>
				{foreachelse}
				<tr>
					<td colspan="6" align="center">
						<p>&nbsp;</p>
						<p><strong>{trans("This promotion has no assigned tariffs.")}</strong></p>
						<p>&nbsp;</p>
					</td>
				</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
if (getCookie('promotiontariffs') == '1')
{
	document.getElementById('promotiontariffs').style.display = '';
}
//-->
</script>
