<!-- $Id$ -->
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/promo.gif" ALT="">
		</TD>
		<TD WIDTH="98%" COLSPAN="2" CLASS="frightu">
			<B>{$promotion.name} ({$promotion.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft">
			<A HREF="?m=promotionset&id={$promotion.id}&access={$promotion.disabled}"><IMG SRC="img/{if $promotion.disabled}no{/if}access.gif" ALT=""></A>
		</TD>
		<TD WIDTH="99%" CLASS="fright" NOWRAP colspan="2">
			{if $promotion.disabled}{trans("disabled")}{else}{trans("enabled")}{/if}
		</TD>
	</TR>
	{if $promotion.description}
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/info1.gif" ALT="">
		</TD>
		<TD WIDTH="98%" CLASS="fright" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
			    <TR><TD CLASS="fall superlight">
				    {$promotion.description|replace:"\n":"<BR>"}
			    </TD></TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" COLSPAN="3" CLASS="FBOTTOMU" ALIGN="RIGHT">
			<A HREF="?m=promotionedit&id={$promotion.id}">{trans("Edit")} <IMG SRC="img/edit.gif" alt=""></A>
			<A HREF="?m=promotiondel&id={$promotion.id}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete this promotion?")}');">{trans("Delete")} <IMG SRC="img/delete.gif" ALT=""></A> 
			</FORM>
		</TD>
	</TR>
</TABLE>
