{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function savereceipt(print)
	{
		var add = "";
		if (document.additem.original.checked && document.additem.copy.checked)
			add = "";
		else if (document.additem.original.checked && !document.additem.copy.checked)
			add = "&which=original";
		else if (!document.additem.original.checked && document.additem.copy.checked)
			add = "&which=copy";

		document.additem.action = "?m=receiptedit&action=save" + add;

		if (print == 1) {
			document.additem.action += "&print=1";
		}
		document.additem.submit();
	}
	
	function additem()
	{
		document.additem.action = "?m=receiptedit&action=additem";
		document.additem.target = "";
		document.additem.submit();
	}
	
	function saveheader()
	{
		if (document.setcustomer.customer)
			if (document.setcustomer.customer.value != 0)
				document.setcustomer.customerid.value = document.setcustomer.customer.value;
		document.setcustomer.submit();
	}

	function reset_customer()
	{
		if (document.setcustomer.customerid.value)
			document.setcustomer.customer.value = document.setcustomer.customerid.value;
	}
//-->
</script>
<form name="setcustomer" method="POST" action="?m=receiptedit&action=setcustomer">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="receipt[type]" value="{$receipt.type}">
<input type="hidden" name="receipt[numberplanid]" value="{$receipt.numberplanid}">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall" width="100%" colspan="2">
			<strong>{trans("Main Information:")}</strong>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Cash Registry:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<select size="1" name="receipt[regid]" {tip text="Select cash registry" trigger="regid"}>
				{foreach from=$cashreglist item=c}
				<option value="{$c.id}"{if $c.id eq $receipt.regid} selected="selected"{/if}>{$c.name|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Receipt number:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="receipt[number]" value="{$receipt.number}" size="10" {tip text="Enter receipt number. WARNING! Changing this number can be DANGEROUS!" trigger="number"}>
			{if $receipt.extnumber || $receipt.extended}
			        {trans("Additional number:")}
				<input type="TEXT" name="receipt[extnumber]" value="{$receipt.extnumber}" size="40" {tip text="Enter additional document number" trigger="extnumber"}>
			{/if}
					
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{trans("Settlement date:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
			<input type="TEXT" name="receipt[cdate]" value="{$receipt.cdate|date_format:"%Y/%m/%d"}" size="10" {tip text="Enter date of settlement in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="cdate"} OnClick="javascript:cal1.popup();" >
			{if $receipt.cdatewarning}
			<input type="HIDDEN" name="receipt[cdatewarning]" value="1">
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%">
			<strong>{trans("Target:")}</strong>
		</td>
		<td class="fright" width="99%" nowrap="nowrap">
		    <table>
			<tr>
			    <td width="1%" nowrap="nowrap">
				<input type="radio" name="receipt[o_type]" value="customer" id="radio_customer" checked="checked"> <label for="radio_customer">{trans("customer")}:</label>
			    </td>
			    <td width="99%">
				{if $customerlist}
				<select size="1" name="customer"  onChange="document.setcustomer.customerid.value=document.setcustomer.customer.value; document.getElementById('radio_customer').checked=true;" {tip trigger="customerid"}>
				    <option value="0">{trans("... select customer ...")}</option>
				    {foreach from=$customerlist item=c}
				    <option value="{$c.id}"{if $c.id eq $customer.id || $receipt.customerid eq $c.id} selected="selected"{/if}>{$c.customername|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
				    {/foreach}
				</select>
				{trans("or Customer ID:")}
				{/if}
				<input type="TEXT" name="customerid" value="{if $customer.id}{$customer.id}{else}{$receipt.customerid}{/if}" size="5"{if $customerlist} onchange="reset_customer()" onfocus="reset_customer()"{/if} onclick="document.getElementById('radio_customer').checked=true;" {tip text="Enter customer ID" trigger="customerid"}>
				<a href="javascript: void(0);" onclick="document.getElementById('radio_customer').checked=true;return customerchoosewin(document.setcustomer.customerid);" {tip text="Click to search customer"}>{trans("Search")}&nbsp;&raquo;&raquo;&raquo;</a>
			    </td>
			</tr>
			<tr>
			    <td width="1%" nowrap="nowrap">
				<input type="radio" name="receipt[o_type]" value="advance" id="radio_advance" {if $receipt.o_type=="advance"} checked="checked"{/if}> <label for="radio_advance">{trans("advance")}:</label>
			    </td>
			    <td width="99%">
				<input type="text" name="receipt[adv_name]" value="{$receipt.adv_name}" size="70" {tip text="Enter recipient" trigger="adv_name"} onclick="document.getElementById('radio_advance').checked=true">
			    </td>
			</tr>
			<tr>
			    <td width="1%" nowrap="nowrap">
				<input type="radio" name="receipt[o_type]" value="other" id="radio_other" {if $receipt.o_type=="other"} checked="checked"{/if}> <label for="radio_other">{trans("other")}:</label>
			    </td>
			    <td width="99%">
				<input type="text" name="receipt[other_name]" value="{$receipt.other_name}" size="70" {if $receipt.type=="out"}{tip text="Enter recipient" trigger="other_name"}{else}{tip text="Enter payer" trigger="other_name"}{/if} onclick="document.getElementById('radio_other').checked=true">
			    </td>
			</tr>
		    </table>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" width="100%" align="right" colspan="2">
			<a href="javascript: saveheader();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
{if $error.nocash}<h2 align="center"><font class="alert">{$error.nocash}</font></h2>{/if}
{if $receipt.selected && $customer}
<P>
<table width="100%" cellpadding="3">
        <tr class="dark">
	        <td class="fleftu" width="1%" nowrap="nowrap">
		        <img src="img/customer.gif" alt=""> <strong>{trans("Customer:")}</strong>
		</td>
		<td class="fbt" width="1%" nowrap="nowrap">
		        <strong>{$customer.customername}</strong>
		        &nbsp;&raquo;&nbsp; {$customer.address} &nbsp; {$customer.zip} {$customer.city}
		        &nbsp;&raquo;&nbsp; {if $customer.balance < 0}<FONT class="red">{/if}{$customer.balance|money_format}{if $customer.balance < 0}</FONT>{/if}
                </td>
		<td class="frightu" width="98%" align="right">
                        {if $customer.groups}<FONT class="red bold">
			({foreach from=$customer.groups item=item name=groups}{$item.name}{if $smarty.foreach.groups.iteration < sizeof($customer.groups)}, {/if}{/foreach})
			</FONT>{/if}
		</td>
        </tr>
</table>
{if $customer.notes}
<br />
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/note.gif" alt=""> <strong>{trans("Notes:")}</strong>
		</td>
		<td class="frightu">
		        <FONT class="red">{$customer.notes|replace:"\n":"<br />"}</FONT>
		</td>
	</tr>
</table>
{/if}
{if $customer.docwarning}
<br />
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/docum.gif" alt=""> <strong>{trans("Documents:")}</strong>
		</td>
		<td class="frightu">
		        <FONT class="red">{$customer.docwarning}</FONT>
		</td>
	</tr>
</table>
{/if}
{if $customer.nodeswarning}
<br />
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/node.gif" alt=""> <strong>{trans("Nodes:")}</strong>
		</td>
		<td class="frightu">
		        <FONT class="red">{$customer.nodeswarning}</FONT>
		</td>
	</tr>
</table>
{/if}
{if $customer.nodegroupswarning}
<br />
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/nodegroup.gif" alt=""> <strong>{trans("Groups:")}</strong>
		</td>
		<td class="frightu">
		        <FONT class="red">{$customer.nodegroupswarning}</FONT>
		</td>
	</tr>
</table>
{/if}
</P>
{/if}
<P>
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="fleftu" width="1%">
			<strong>{trans("No.")}</strong>
		</td>
		<td class="fbt" width="97%" nowrap="nowrap">
			{trans("Name of product, commodity or service:")}
		</td>
		<td class="fbt" width="1%" nowrap="nowrap" align="RIGHT">
			{trans("Value:")}
		</td>
		<td width="1%" nowrap="nowrap" class="frightu"></td>
	</tr>
	{cycle values="light,lucid" print=false name="items"}
	{foreach from=$contents item=item}
	<tr class="{cycle name="items"}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" width="1%">
			<strong>{counter}.</strong>
		</td>
		<td width="93%">
			{$item.description}
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT">
			{$item.value|money_format}<br />
		</td>
		<td width="1%" nowrap="nowrap" class="fright">
			<a href="?m=receiptedit&action=deletepos&posuid={$item.posuid}"><img src="img/delete.gif" {tip text="Remove this item from list"}></a>
		</td>			
	</tr>
	{foreachelse}
	<tr>
		<td colspan="4" align="CENTER" class="fall">
			<P>&nbsp;</P>
			<P><strong>{trans("Receipt have no items. Use form below for items addition.")}</strong></P>
			<P>&nbsp;</P>
		</td>
	</tr>
	{/foreach}
	{if $contents}
	<tr class="light">
		<td colspan="2" width="98%" align="RIGHT" class="ftl">
			<strong>{trans("Total:")}</strong>
		</td>
		<td width="1%" nowrap="nowrap" align="RIGHT" class="ftop">
			{sum array=$contents column=value string_format=$LANGDEFS.$_language.money_format}
		</td>
		<td width="1%" class="ftr"></td>
	</tr>
	{/if}
	<form method="POST" {*ACTION="?m=receiptedit&action=additem"*} name="additem">
	<input type="submit" class="hiddenbtn">
	<tr class="light">
		<td class="fleft" width="1%" nowrap="nowrap">
			<strong>{counter}.</strong>
		</td>
		<td width="94%">
			<input type="text" name="description" size="80" {tip text="Enter item description"}>
		</td>
		<td>
			<input type="text" name="value" size="10" {tip text="Enter item value"}>
		</td>
		<td class="fright">
			<a href="javascript:additem(); "><img src="img/save.gif" alt="" {tip text="Add item"}></a>
		</td>
	</tr>
	<tr class="light">
		<td colspan="4" class="{if $covenantlist}flr{else}fbottomu{/if}" align="RIGHT">
			<input type="checkbox" id="original" name="original" checked="checked"> <label for="original">{trans("original")}</label>&nbsp;
			<input type="checkbox" id="copy" name="copy" checked="checked"> <label for="copy">{trans("copy")}</label>&nbsp;
			<a href="?m=receiptlist&regid={$receipt.regid}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>&nbsp;
			{if !$customer && $receipt.o_type != "other" && $receipt.o_type != "advance"}
			<a href="javascript:alert('{trans("Customer not selected!")}');">
			{elseif !$contents}
			<a href="javascript:alert('{trans("Receipt have no items!")}');">
			{else}
			<a href="javascript:savereceipt(0);">
			{/if}
			{trans("Save")} <img src="img/save.gif" alt=""></a>&nbsp;
			{if !$customer && $receipt.o_type != "other" && $receipt.o_type != "advance"}
			<a href="javascript:alert('{trans("Customer not selected!")}');">
			{elseif !$contents}
			<a href="javascript:alert('{trans("Receipt have no items!")}');">
			{else}
			<a href="javascript:savereceipt(1);">
			{/if}
			{trans("Save & Print")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
	</form>
</table>
</P>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.forms['setcustomer'].elements['receipt[cdate]']);
cal1.time_comp = false;
document.forms['setcustomer'].elements['receipt[cdate]'].focus();
//-->
</script>
{include file="footer.html"}
