{include file="header.html"}
<h1>{$layout.pagetitle}</h1>
<form name="record" method="POST" action="{if $layout.module == 'recordedit'}?m=recordedit&id={$record.id}{else}?m=recordadd&d={$record.domain_id}{/if}">
<input type="submit" class="hiddenbtn">
<table cellpadding="3" width="100%">
	<tr class="dark">
                <td width="1%" class="fleftu">
	                <img src="img/dns.gif" alt="">
	        </td>
	        <td width="1%" class="fbt" nowrap="nowrap">
		        <strong>{trans("Type")}:</strong>
		</td>
		<td width="98%" class="frightu">
	    		<select size="1" name="record[type]" {tip text="Select record type" trigger="type"} onchange="change_rec_type(this)">
                    	    <option value="A" {if $record.type == 'A'} selected="selected"{/if}>A</option>
                    	    <option value="AAAA" {if $record.type == 'AAAA'} selected="selected"{/if}>AAAA</option>
                    	    <option value="CNAME" {if $record.type == 'CNAME'} selected="selected"{/if}>CNAME</option>
                    	    <option value="HINFO" {if $record.type == 'HINFO'} selected="selected"{/if}>HINFO</option>
                    	    <option value="MX" {if $record.type == 'MX'} selected="selected"{/if}>MX</option>
                    	    <option value="NAPTR" {if $record.type == 'NAPTR'} selected="selected"{/if}>NAPTR</option>
                    	    <option value="NS" {if $record.type == 'NS'} selected="selected"{/if}>NS</option>
                    	    <option value="PTR" {if $record.type == 'PTR' || (!$record.type && preg_match('/in-addr\.arpa$/', $record.domainname))} selected="selected"{/if}>PTR</option>
                    	    <option value="SOA" {if $record.type == 'SOA'} selected="selected"{/if}>SOA</option>
                    	    <option value="SPF" {if $record.type == 'SPF'} selected="selected"{/if}>SPF</option>
                    	    <option value="SRV" {if $record.type == 'SRV'} selected="selected"{/if}>SRV</option>
                    	    <option value="SSHFP" {if $record.type == 'SSHFP'} selected="selected"{/if}>SSHFP</option>
                    	    <option value="TXT" {if $record.type == 'TXT'} selected="selected"{/if}>TXT</option>
        		</select>
		</td>
	</tr>
	<tr class="light">
                <td width="1%" class="fleft">
	                <img src="img/time.gif" alt="">
	        </td>
	        <td width="1%" nowrap="nowrap">
		        {trans("TTL")}:
		</td>
		<td width="98%" class="fright">
			<input type="text" size="7" value="{$record.ttl}" name="record[ttl]" {tip text="Enter record TTL" trigger="ttl"}>	
		</td>
	</td>
	<tr class="light" id="name" style="display: none">
                <td width="1%" class="fleft"><img src="img/domain.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Domain:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.name|escape}" name="record[name]" size="30" {tip text="Enter domain name" trigger="name"}> .{$record.domainname}.</td>
	</td>
	<tr class="light" id="alias" style="display: none">
                <td width="1%" class="fleft"><img src="img/domain.gif" alt=""></td>
		<td width="1%" nowrap="nowrap">{trans("Alias:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.alias|escape}" name="record[alias]" size="30" {tip text="Enter alias name" trigger="alias"}> .{$record.domainname}.</td>
	</td>
	<tr class="light" id="ipdst" style="display: none">
                <td width="1%" class="fleft"><img src="img/ip.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("IP Address:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.ipdst|escape}" name="record[ipdst]" size="30" {tip text="Enter IP address" trigger="ipdst"}></td>
	</td>
	<tr class="light" id="ns" style="display: none">
                <td width="1%" class="fleft"><img src="img/dns.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("DNS Server:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.ns|escape}" name="record[ns]" size="40" {tip text="Enter DNS server name" trigger="ns"}> .</td>
	</td>
	<tr class="light" id="mailserver" style="display: none">
                <td width="1%" class="fleft"><img src="img/email.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Mail Server:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.mailserver|escape}" name="record[mailserver]" size="40" {tip text="Enter mail server name" trigger="mailserver"}> .</td>
	</td>
	<tr class="light" id="weight" style="display: none">
                <td width="1%" class="fleft"><img src="img/id.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Weight:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.weight|escape}" name="record[weight]" size="10" {tip text="Enter record relative weight" trigger="weight"}></td>
	</td>
	<tr class="light" id="port" style="display: none">
                <td width="1%" class="fleft"><img src="img/port.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Port:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.port|escape}" name="record[port]" size="10" {tip text="Enter port number" trigger="port"}></td>
	</td>
	<tr class="light" id="domain" style="display: none">
                <td width="1%" class="fleft"><img src="img/domain.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Domain:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.domain|escape}" name="record[domain]" size="40" {tip text="Enter domain name" trigger="domain"}> .</td>
	</tr>
	<tr class="light" id="host" style="display: none">
                <td width="1%" class="fleft"><img src="img/domain.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Domain:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.host|escape}" name="record[host]" size="30" {tip text="Enter host name" trigger="host"}> .{$record.domainname}.</td>
	</tr>
	<tr class="light" id="desc" style="display: none">
                <td width="1%" class="fleft"><img src="img/info.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Description:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.desc|escape}" name="record[desc]" size="60" {tip text="Enter description" trigger="desc"}></td>
	</tr>
	<tr class="light" id="prio" style="display: none">
                <td width="1%" class="fleft"><img src="img/id.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Priority:")}</td>
		<td width="98%" class="fright"><input type="text" size="5" value="{$record.prio|escape}" name="record[prio]" {tip text="Enter record priority" trigger="prio"}></td>
	</td>
	<tr class="light" id="email" style="display: none">
                <td width="1%" class="fleft"><img src="img/mail.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("E-mail address:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.email|escape}" name="record[email]" size="40" {tip text="Enter e-mail address" trigger="email"}></td>
	</td>
	<tr class="light" id="serial" style="display: none">
                <td width="1%" class="fleft"><img src="img/serialnumber.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Serial number:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.serial|escape}" name="record[serial]" size="10" {tip text="Enter zone serial number" trigger="serial"}></td>
	</td>
	<tr class="light" id="refresh" style="display: none">
                <td width="1%" class="fleft"><img src="img/time.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Refresh interval:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.refresh|escape}" name="record[refresh]" size="10" {tip text="Enter zone refresh interval" trigger="refresh"}></td>
	</td>
	<tr class="light" id="retry" style="display: none">
                <td width="1%" class="fleft"><img src="img/time.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Retry interval:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.retry|escape}" name="record[retry]" size="10" {tip text="Enter zone retry interval" trigger="retry"}></td>
	</td>
	<tr class="light" id="expiry" style="display: none">
                <td width="1%" class="fleft"><img src="img/time.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Expire time:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.expire|escape}" name="record[expire]" size="10" {tip text="Enter zone expiration time" trigger="expire"}></td>
	</td>
	<tr class="light" id="minttl" style="display: none">
                <td width="1%" class="fleft"><img src="img/time.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Default TTL:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.minttl|escape}" name="record[minttl]" size="10" {tip text="Enter default TTL value" trigger="minttl"}></td>
	</td>
	<tr class="light" id="algo" style="display: none">
                <td width="1%" class="fleft"><img src="img/pass.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Algorithm:")}</td>
		<td width="98%" class="fright">
		    <select name="record[algo]" {tip text="Select algorithm of the public key" trigger="algo"}>
			<option value="1"{if $record.algo=='1'} selected{/if}>RSA</option>
			<option value="2"{if $record.algo=='2'} selected{/if}>DSS</option>
		    </select>
		</td>
	</td>
	<tr class="light" id="ftype" style="display: none">
                <td width="1%" class="fleft"><img src="img/pass.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Type:")}</td>
		<td width="98%" class="fright">
		    <select name="record[ftype]" {tip text="Select algorithm used to generate the fingerprint" trigger="ftype"}>
			<option value="1">SHA-1</option>
		    </select>
		</td>
	</td>
	<tr class="light" id="fingerprint" style="display: none">
                <td width="1%" class="fleft"><img src="img/pass.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Fingerprint:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.fingerprint|escape}" name="record[fingerprint]" size="80" {tip text="Enter public key fingerprint" trigger="fingerprint"}></td>
	</tr>
	<tr class="light" id="content" style="display: none">
                <td width="1%" class="fleft"><img src="img/info.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Content:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.content|escape}" name="record[content]" size="80" {tip text="Enter record contents" trigger="content"}></td>
	</tr>
	<tr class="light" id="cpu" style="display: none">
                <td width="1%" class="fleft"><img src="img/node.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("CPU Type:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.cpu|escape}" name="record[cpu]" size="40" {tip text="Enter CPU type" trigger="cpu"}></td>
	</tr>
	<tr class="light" id="os" style="display: none">
                <td width="1%" class="fleft"><img src="img/node.gif" alt=""></td>
	        <td width="1%" nowrap="nowrap">{trans("Operating System Type:")}</td>
		<td width="98%" class="fright"><input type="text" value="{$record.os|escape}" name="record[os]" size="40" {tip text="Enter operating system type" trigger="os"}></td>
	</tr>
	<tr class="light">
		<td colspan="3" class="fbottomu" align="right" nowrap="nowrap">
			<a href="javascript: document.record.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=recordlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
function change_rec_type(select)
{
	var i, j,
		rows = document.forms['record'].getElementsByTagName('TR'),
		type = select.value,
		records = {
			'A': 	['name', 'ipdst'],
			'AAAA':	['name', 'ipdst'],
			'NS': 	['name', 'ns'],
			'MX':	['name', 'mailserver', 'prio'],
			'CNAME':['alias', 'domain'],
			'TXT':  ['name', 'desc'],
			'SPF':  ['name', 'desc'],
			'PTR':  ['name', 'domain'],
			'SOA':  ['ns', 'email', 'serial', 'refresh', 'retry', 'expiry', 'minttl'],
			'SRV':  ['name', 'weight', 'port', 'domain'],
			'SSHFP':['name', 'algo', 'ftype', 'fingerprint'],
			'HINFO':['name', 'cpu', 'os'],
			'NAPTR':['name', 'content'] // @TODO
		};

	if (!records[type])
		return;

	for (i=0; i<rows.length; i++) {
		if (!rows[i].id)
			continue;
		for (j=0; j<records[type].length; j++) {
			if (rows[i].id == records[type][j]) {
				rows[i].style.display = '';
				break;
			}
		}

		if (j == records[type].length) {
			rows[i].style.display = 'none';
		}
	}
}

var elem = document.forms['record'].elements['record[type]'];
elem.focus();
change_rec_type(elem);
//-->
</script>
{include file="footer.html"}
