{include file="header.html"}
<!-- $Id$ -->
<h1><strong>{$layout.pagetitle}</strong></h1>
<table cellpadding="5" width="100%">
	<tr class="dark">
		<td class="fleftu" width="20%" colspan="2" nowrap="nowrap">
			<img src="img/queue.gif" alt="">
			<strong>{trans("Category")}:</strong><br />
			<img src="img/info1.gif" alt="">
			{trans("Description")}:
		</td>
		<td class="fbt" width="76%" nowrap="nowrap">
			<img src="img/users.gif" alt="">
			<strong>{trans("Owners")}:</strong>
		</td>
		<td class="fbt" align="right"  width="1%">
			{trans("New:")}
		</td>
		<td class="fbt" align="right" width="1%">
			{trans("Opened:")}
		</td>
		<td class="fbt" align="right" width="1%" align="CENTER">
			{trans("Last:")}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{foreach from=$categories item=category}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" onClick="return self.location.href='?m=rtqueueview&catid={$category.id}';" colspan="2">
			<img src="img/queue.gif" alt="">
			<strong>{$category.name}</strong><br />
			{if $category.description}
				<img src="img/info1.gif" alt=""> {$category.description}
			{/if}
		</td>
		<td>
			{foreach from=$category.owners item=owner key=key}
				<a href="?m=userinfo&id={$owner.id}">{$owner.name}</a>{if $key+1<sizeof($category.owners)}, {/if}
			{/foreach}
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&catid={$category.id}';">
			{$category.new|default:0}
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&catid={$category.id}';">
			{$category.open|default:0}
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&catid={$category.id}';" nowrap="nowrap">
			{if $category.lastticket}{$category.lastticket|date_format:"%Y/%m/%d %H:%M:%S"}{else}-{/if}
		</td>
		<td class="fright" nowrap="nowrap">
			<a href="?m=rtqueueview&catid={$category.id}"><img src="img/view.gif" alt="[ {trans("Browse")} ]" title="[ {trans("Browse")} ]"></a>
			<a href="?m=rtcategorydel&id={$category.id}" OnClick="return confirmLink(this, '{t a=$category.name}Are you sure, you want to remove category \'$a\'?{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=rtcategoryedit&id={$category.id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=rtcategoryinfo&id={$category.id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="7" align="center" class="flr">
			<p>&nbsp;</p>
			<p><strong>{trans("There are no categories.")}<strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="light">
		<td colspan="3" align="RIGHT" class="fleftu">
			<img src="img/info2.gif" alt="">
			<strong>{trans("Total:")}</strong>
		</td>
		<td align="CENTER" class="fbt">
			<strong>{sum array=$categories column=new}</strong>
		</td>
		<td align="CENTER" class="fbt">
			<strong>{sum array=$categories column=open}</strong>
		</td>
		<td class="frightu" colspan="2">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
