{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="99%" VALIGN="TOP">
			<H1>{$layout.pagetitle}</H1>
		</TD>
		<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP>
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Prepared by: $a{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="640" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD CLASS="HEAD" ALIGN="CENTER" WIDTH="1%">
			<B>{trans("No.")}</B>
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER" WIDTH="1%">
			<B>{trans("Ticket No.")}</B>
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER" WIDTH="1%">
			{trans("Request date")}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER" WIDTH="96%" NOWRAP>
			{trans("Subject")}
		</TD>
		<TD CLASS="HEAD" ALIGN="CENTER" WIDTH="1%" NOWRAP>
			{trans("Customer")}
		</TD>
	</TR>
	{cycle values="white,grey" print=false}
	{section name=list loop=$list}
	<TR class="{cycle}">
		<TD ALIGN="CENTER">
			{counter}.
		</TD>
		<TD ALIGN="CENTER">
			<B>{$list[list].id|string_format:"%08d"}</B>
		</TD>
		<TD ALIGN="CENTER">
			{$list[list].createtime|date_format:"%Y/%m/%d"}
		</TD>
		<TD>
			{$list[list].subject|escape}
		</TD>
		<TD NOWRAP>
			{if $list[list].customerid}
			{$list[list].customername|truncate:"50":"...":true} ({$list[list].customerid|string_format:"%04d"})
			{if $list[list].address}<BR>{$list[list].address}{/if}
			{if $list[list].phone}<BR>{trans("phone:")} {$list[list].phone}{/if}
			{else}
			{$list[list].requestor|truncate:"50":"...":true}
			{/if}
		</TD>
	</TR>
	{sectionelse}
	<TR>
	        <TD ALIGN="center" WIDTH="100%" COLSPAN="7">
			<P>&nbsp;</P>
			<P><B>{trans("No such requests in database.")}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>
	{/section}
</TABLE>
{include file="clearfooter.html"}
