{include file="header.html"}
<!-- $Id$ -->
<h1><strong>{$layout.pagetitle}</strong></h1>
<table cellpadding="5" width="100%">
	<tr class="dark">
		<td class="fleftu" width="95%">
			<img src="img/queue.gif" alt="">
			<strong>{trans("Queue")}:</strong><br />
			<img src="img/info1.gif" alt="">
			{trans("Description")}:
		</td>
		<td class="fbt" width="1%" align="right" nowrap="nowrap">
			<strong>{trans("E-mail:")}</strong>
		</td>
		<td class="fbt" align="right"  width="1%">
			{trans("New:")}
		</td>
		<td class="fbt" align="right" width="1%">
			{trans("Opened:")}
		</td>
		<td class="fbt" align="right" width="1%" align="CENTER">
			{trans("Last:")}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{foreach from=$queues item=queue}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" onClick="return self.location.href='?m=rtqueueview&id={$queue.id}';">
			<img src="img/queue.gif" alt="">
			<strong>{$queue.name}</strong><br />
			{if $queue.description}
				<img src="img/info1.gif" alt=""> {$queue.description}
			{/if}
		</td>
		<td  align="right">
			<a href="mailto:{$queue.email}">{$queue.email}</a>
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&id={$queue.id}';">
			{$queue.new|default:0}
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&id={$queue.id}';">
			{$queue.open|default:0}
		</td>
		<td align="CENTER" onClick="return self.location.href='?m=rtqueueview&id={$queue.id}';" nowrap="nowrap">
			{if $queue.lastticket}{$queue.lastticket|date_format:"%Y/%m/%d %H:%M:%S"}{else}-{/if}
		</td>
		<td class="fright" nowrap="nowrap">
			<a href="?m=rtqueueview&id={$queue.id}"><img src="img/view.gif" alt="[ {trans("Browse")} ]" title="[ {trans("Browse")} ]"></a>
			<a href="?m=rtqueuedel&id={$queue.id}" OnClick="return confirmLink(this, '{t a=$queue.name}Are you sure, you want to remove queue \'$a\' and all assigned tickets and messages?{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=rtqueueedit&id={$queue.id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=rtqueueinfo&id={$queue.id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6" align="center" class="flr">
			<p>&nbsp;</p>
			<p><strong>{trans("There are no queues.")}<strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="light">
		<td colspan="2" align="RIGHT" class="fleftu">
			<img src="img/info2.gif" alt="">
			<strong>{trans("Total:")}</strong>
		</td>
		<td align="CENTER" class="fbt">
			<strong>{sum array=$queues column=new}</strong>
		</td>
		<td align="CENTER" class="fbt">
			<strong>{sum array=$queues column=open}</strong>
		</td>
		<td class="frightu" colspan="2">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
