{include file="header.html"}
<!-- $Id$ -->
{include file="rtheader.html"}
<H1><B>{$layout.pagetitle}</B></H1>
<TABLE cellpadding="3" WIDTH="100%">
	<TR CLASS="dark">
		<TD CLASS="fleftu" WIDTH="1%" NOWRAP>
			<B>ID:</B><BR>
			Data zg³oszenia:
		</TD>
		<TD CLASS="fbt" WIDTH="99%">
			<B>Temat:</B><BR>
			Zg³aszaj±cy:
		</TD>
		<TD CLASS="frightu" WIDTH="1%" NOWRAP>
			<B>W³a¶ciciel:</B><BR>
			Data modyfikacji:
		</TD>
	</TR>
	{cycle values="#DFD5BD,#EBE4D6" print=false}		
	{foreach from=$queue item=ticket}
	<TR {if $ticket.state >= 2}class="BLEND"{/if} bgcolor="{if $ticket.state == 0}#F5F5F5{else}{cycle}{cycle print=false}{/if}" onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{if $ticket.state == 0}#F5F5F5{else}{cycle}{/if}')">
		<TD CLASS="fleft" NOWRAP onClick="return self.location.href='?m=rtticketview&id={$ticket.id}';">
			<B>{$ticket.id|string_format:"%06d"}</B><BR>
			{$ticket.createtime|date_format:"%Y/%m/%d, %H:%M:%S"}
		</TD>
		<TD onClick="return self.location.href='?m=rtticketview&id={$ticket.id}';">
			<B>{$ticket.subject|escape|truncate:"60":"..."|default:"&nbsp;"}</B><BR>
			{$ticket.requestor|escape} &lt;{if $ticket.state < 2}<A HREF="mailto:{$ticket.requestoremail}">{/if}{$ticket.requestoremail}{if $ticket.state < 2}</A>{/if}&gt;<BR>
		</TD>
		<TD CLASS="fright" NOWRAP onClick="return self.location.href='?m=rtticketview&id={$ticket.id}';">
			{if $ticket.ownername}{if $ticket.state < 2}<A HREF="?m=admininfo&id={$ticket.ownerid}">{/if}{$ticket.ownername}{if $ticket.stat < 2}</A>{/if}{else}-{/if}</FONT><BR>
			{$ticket.lastmodfied|date_format:"%Y/%m/%d, %H:%M:%S"|default:"-"}
		</TD>
	</TR>
	{foreachelse}
	<TR>
		<TD COLSPAN="3" CLASS="flr" ALIGN="center">
			<BR>
			<BR>
			<B>Ta kolejka jest pusta.</B><BR>
			<BR>
			<BR>
		</TD>
	</TR>
	{/foreach}
	<TR CLASS="light">
		<TD COLSPAN="3" CLASS="fall" ALIGN="right">
			<A HREF="?m=rtticketadd&id={$queuedata.id}">Nowe zg³oszenie <IMG src="img/save.gif" ALT="" BORDER="0" ALIGN="absmiddle"></A>
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
