<!-- $Id$ -->
<P><table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="100%" class="fall" colspan="3">
			<img src="img/ticket.gif" alt="">
			<strong>{t a=$ticket.ticketid|string_format:"%06d"}Ticket No. $a{/t}</strong>
		</td>
	</tr>
	<tr class="light">
		<td width="100%" class="flr" colspan="3">
<table width="100%" cellpadding="0">
    <tr>
	<td width="50%">
	    <table>
		<tr>
		    <td width="1%" nowrap="nowrap">
			<img src="img/ticket.gif" alt="">
			<strong>{trans("Subject:")}</strong>
		    </td>
		    <td width="99%" nowrap="nowrap">
		        {$ticket.subject|escape|truncate:50:"...":true}
		    </td>
		</tr>
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/customer.gif" alt="">
			<strong>{trans("Submitter:")}</strong>
		    </td>
		    <td width="99%" nowrap="nowrap">
			{if $ticket.customerid}
				<a href="?m=customerinfo&id={$ticket.customerid}">{$ticket.customername|escape} ({$ticket.customerid|string_format:"%04d"})</a>
			{else}
				{$ticket.requestor|escape} 
			{/if}
			{if $ticket.requestoremail && !$ticket.customerid}
				&lt;<a href="mailto:{$ticket.requestoremail}">{$ticket.requestoremail}</a>&gt;
			{/if}
		    </td>
		</tr>
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/calendar.gif" alt="">
			<strong>{trans("Create time:")}</strong>
		    </td>
		    <td width="99%">
			{$ticket.createtime|date_format:"%Y/%m/%d %H:%M:%S"}
		    </td>
		</tr>
		{if $ticket.creatorid}
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/users.gif" alt="">
			<strong>{trans("Created by:")}</strong>
		    </td>
		    <td width="99%">
			<a href="?m=userinfo&id={$ticket.creatorid}">{$ticket.creator}</a>
		    </td>
		</tr>
		{/if}
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/time.gif" alt="">
			<strong>{trans("Uptime:")}</strong>
		    </td>
		    <td width="99%">
			{$ticket.uptime}
		    </td>
		</tr>
		<tr>
		    <td width="1%" style="vertical-align:top" nowrap="nowrap">
			<img src="img/queue.gif" alt="">
			<strong>{trans("Categories:")}</strong>
		    </td>
		    <td width="99%" nowrap="nowrap">
			{foreach from=$categories item=category}
			{if $category.checked > 0}
				<a href="?m=rtcategoryinfo&id={$category.id}">{$category.name}</a><br />
			{/if}
			{/foreach}
		    </td>
		</tr>
	    </table>
	</td>
	<td width="50%" style="vertical-align:top;">	
	    <table>
		<tr>
		    <td width="1%" nowrap="nowrap">
			<img src="img/users.gif" alt="">
			<strong>{trans("Owner:")}</strong>
		    </td>
		    <td width="99%">
			<a href="?m=userinfo&id={$ticket.owner}">{$ticket.ownername}</a>
		    </td>
		</tr>
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/queue.gif" alt="">
			<strong>{trans("Queue:")}</strong>
		    </td>
		    <td width="99%">
			<a href="?m=rtqueueview&id={$ticket.queueid}">{$ticket.queuename}</a>
		    </td>
		</tr>
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/dead.gif" alt="">
			<strong>{trans("Status:")}</strong>
		    </td>
		    <td width="99%">
			{$ticket.status}
		    </td>
		</tr>
		<tr>
		    <td width="1%" nowrap="nowrap">
		    	<img src="img/desc.gif" alt="">
			<strong>{trans("Cause:")}</strong>
		    </td>
		    <td width="99%">
			{if $ticket.cause==2}{trans("company's side")}
			{elseif $ticket.cause==1}{trans("customer's side")}
			{else}{trans("unknown/other")}{/if}
		    </td>
		</tr>
	    </table>
	</td>
    </tr>
</table>
		</td>
	</tr>
	<tr class="light">
		<td class="flr" align="RIGHT" colspan="3">
			{if $ticket.state < 2}
			<a href="?m=rtticketedit&id={$ticket.ticketid}&state=2">{trans("Resolve")} <img src="img/resolved.gif" alt=""></a>&nbsp;
			{/if}
			<a href="?m=rtticketdel&id={$ticket.ticketid}" onClick="return confirmLink(this, '{t a=$ticket.ticketid}Are you sure, you want to remove ticket $a?{/t}')">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
			<a href="?m=rtticketedit&id={$ticket.ticketid}">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
			<a href="?m=rtticketprint&id={$ticket.ticketid}" target="_BLANK">{trans("Print")} <img src="img/print.gif" alt=""></a>
		</td>
	</tr>
	<tr class="dark">
		<td class="fall" width="100%" align="center" colspan="3" nowrap="nowrap">
			{if $ticket.prev_ticketid neq NULL}
				<a href="?m=rtticketview&id={$ticket.prev_ticketid}">&laquo;&laquo;&laquo;&nbsp;{trans("Previous ticket")}</a>
			{else}
				&laquo;&laquo;&laquo;&nbsp;{trans("Previous ticket")}
			{/if}
			&nbsp;&nbsp;&nbsp;
			{if $ticket.next_ticketid neq NULL}
				<a href="?m=rtticketview&id={$ticket.next_ticketid}">{trans("Next ticket")}&nbsp;&raquo;&raquo;&raquo;</a>
			{else}
				{trans("Next ticket")}&nbsp;&raquo;&raquo;&raquo;
			{/if}
		</td>
	</tr>
</table>
</P>
{if $stats}
<P>
<table width="100%" cellpadding="3">
        <tr class="dark">
	        <td class="fleftu" width="1%" nowrap="nowrap">
		        <img src="img/ticket.gif" alt=""> <strong>{trans("Requests causes (last year):")}</strong>
		</td>
		<td class="frightu" width="99%">
		        {trans("company's side")}: <strong>{$stats.2.num|default:0}</strong>, 
			{trans("customer's side")}: <strong>{$stats.1.num|default:0}</strong>,
			{trans("unknown/other<!plural>")}: <strong>{$stats.0.num|default:0}</strong>,
			{trans("all")}: <strong>{$stats.0.num+$stats.1.num+$stats.2.num}</strong>
		</td>
	</tr>
</table>
</P>
{/if}
{if $customerinfo}
<P>
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap="nowrap">
			<img src="img/customer.gif" alt=""> <strong>{trans("Customer:")}</strong>
		</td>
		<td class="fbt" width="1%" nowrap="nowrap">
			<strong>{$customerinfo.customername}</strong> 
			&nbsp;&raquo;&nbsp; {$customerinfo.address} &nbsp; {$customerinfo.zip} {$customerinfo.city}
			{if $customerinfo.phone}&nbsp;&raquo;&nbsp; {$customerinfo.phone}{/if}
			&nbsp;&raquo;&nbsp; {if $customerinfo.balance < 0}<FONT class="red">{/if}{$customerinfo.balance|money_format}{if $customerinfo.balance < 0}</FONT>{/if}
		</td>
		<td class="frightu" width="98%" align="right">
			{if $customerinfo.groups}<FONT class="red bold">
			({foreach from=$customerinfo.groups item=item name=groups}{$item.name}{if $smarty.foreach.groups.iteration < sizeof($customerinfo.groups)}, {/if}{/foreach})
			</FONT>{/if}
		</td>
	</tr>
</table>
</P>
{/if}
{if $customernodes}
<P>
{include file="customernodesbox.html"}
</P>
{/if}
