<!-- $Id$ -->
<P><TABLE width="100%" cellpadding="3">
    <TR class="dark">
	<TD class="fleftu" width="1%" NOWRAP>
	    <IMG src="img/open.gif" alt=""> <B>{t}Ticket History{/t}</B>
	</TD>
	<TD class="frightu" width="99%" align="right" NOWRAP>
	    {if $ticket.state != 2}
	    <A href="?m=rtmessageadd&ticketid={$ticket.ticketid}">{t}New Message{/t} <IMG src="img/mail.gif" alt=""></A>
	    {/if}
	</TD>
    </TR>
    <TR class="light">
	<TD class="fall" colspan="2" width="100%">
	    <TABLE width="100%" cellpadding="3">
	    	{counter start=0 skip=1 print=false assign=msgidx}
		{foreach from=$ticket.messages item=message}
		    <TR class="DARK">
			<TD width="1%" class="fbt" ALIGN="RIGHT">
			    <B>{$message.createtime|date_format:"%Y/%m/%d<BR>%H:%M"}</B>
			</TD>
			<TD width="1%" class="fbt" ALIGN="RIGHT">
			    <B>{t}From:{/t}<BR>{t}Subject:{/t}</B>
			</TD>
			<TD width="1%" class="fbt" NOWRAP>
			    {if $message.customerid}
				    <A href="?m=userinfo&id={$message.customerid}">{$message.customername}</A>
			    {elseif $message.adminid}
				    <A href="?m=admininfo&id={$message.adminid}">{$message.adminname}</A>
			    {elseif $message.mailfrom}
				    <A href="mailto:{$message.mailfrom|escape}">{$message.mailfrom|escape}</A>
			    {else}
				    {$ticket.requestor|escape}
				    {if $ticket.requestoremail}
					    &lt;<A href="mailto:{$ticket.requestoremail|escape}">{$ticket.requestoremail|escape}</A>&gt;
				    {/if}
			    {/if}
			    <BR>
			    {$message.subject|escape}
			</TD>
			<TD width="97%" class="fbt" align="right" nowrap>
			    <A href="?m=rtmessageview&id={$message.id}">{t}Details{/t} <IMG src="img/view.gif" alt=""></A>
			    {if $ticket.state != 2}
			    <A href="?m=rtmessageadd&id={$message.id}&ticketid={$ticket.ticketid}">{t}Answer{/t} <IMG src="img/save.gif" alt=""></A>
			    {/if}
			    {if $msgidx > 0}
			    <A href="?m=rtticketview&id={$ticket.ticketid}&delmsgid={$message.id}" onClick="return confirmLink(this,'{t}Are you sure, you want to delete that message?{/t}');">{t}Delete{/t} <IMG src="img/delete.gif" alt=""></A>
			    {/if}
			</TD>
		    </TR>
		    <TR class="LIGHT">
			<TD COLSPAN="4" class="fbt superlight">
			    {$message.body|escape|replace:"\n":"<BR>"}
			</TD>
		    </TR>
		{counter print=false}
		{/foreach}
	    </TABLE>
	</TD>
    </TR>
</TABLE>
</P>
