{include file="header.html"}
{include file="balanceheader.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="5">
	<TR class="dark">
		<TD WIDTH="94%" CLASS="fleftu">
			<IMG SRC="img/money.gif" ALT="" BORDER="0" ALIGN="absmiddle">&nbsp;<B>{t}Name{/t}:</B><BR>
			<IMG SRC="img/usercomment.gif" ALT="" BORDER="0" ALIGN="absmiddle">&nbsp;{t}Description{/t}:
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Downrate{/t}:<BR>
			{t}Uprate{/t}:
		</TD>	
		<TD NOWRAP WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Value{/t}:<BR>
			{t}Tax{/t}:
		</TD>	
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			ID:
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Uses{/t}:
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			<NOBR>{t}Avg monthly income{/t}.:</NOBR>
		</TD>
		<TD WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
			<NOBR>
			<B>{t}Total{/t}: {$listdata.total}</B>
			</NOBR>
		</TD>
	</TR>
	{cycle values="#DFD5BD,#EBE4D6" print=false}
	{section name=tariffs loop=$tarifflist}
	<TR BGCOLOR="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
		<TD WIDTH="95%" CLASS="fleft" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';" class="fleft">
			<IMG SRC="img/money.gif" ALT="" BORDER="0" ALIGN="absmiddle">&nbsp;<B>{$tarifflist[tariffs].name}</B><BR>
			{if $tarifflist[tariffs].description}<IMG SRC="img/usercomment.gif" ALT="" BORDER="0" ALIGN="absmiddle">&nbsp;{$tarifflist[tariffs].description}{/if}
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<NOBR>
			{if $tarifflist[tariffs].downrate}{$tarifflist[tariffs].downrate} kbit{else}-{/if}<BR>
			{if $tarifflist[tariffs].uprate}{$tarifflist[tariffs].uprate} kbit{else}-{/if}
			</NOBR>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<NOBR>
			{$tarifflist[tariffs].value|string_format:"%01.2f"} <BR>
			{if $tarifflist[tariffs].taxvalue}{$tarifflist[tariffs].taxvalue}%{else}{t}tax-exempt.{/t}{/if}
			</NOBR>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			({$tarifflist[tariffs].id|string_format:"%04d"})
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].userscount} ({$tarifflist[tariffs].users})
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].income|string_format:"%01.2f"}
		</TD>
		<TD WIDTH="1%" CLASS="fright" ALIGN="right">
			<NOBR>
			{if $tarifflist[tariffs].users}<A HREF="javascript:alert('{t}Cannot delete because tariff is used by some users!{/t}');">{else}<A HREF="?m=tariffdelete&id={$tarifflist[tariffs].id}" onClick="return confirmLink(this,'{t}Are you sure, you want to remove tariff?{/t}');">{/if}<IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]" BORDER="0"></A>
				<A HREF="?m=tariffedit&id={$tarifflist[tariffs].id}"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]" BORDER="0"></A>
				<A HREF="?m=tariffinfo&id={$tarifflist[tariffs].id}"><IMG SRC="img/info.gif" ALT="[ {t}Info{/t} ]" BORDER="0"></A>
			</NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="7" ALIGN="center" CLASS="fall">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><B>{t}No such tariffs in database{/t}</B></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	<TR CLASS="light">
		<TD CLASS="fleftu" COLSPAN="4" WIDTH="98%" ALIGN="right">
			<IMG SRC="img/info2.gif" ALT="" BORDER="0" ALIGN="absmiddle">&nbsp;<B>{t}Total{/t}:</B>
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="right" NOWRAP>
			<B>{$listdata.totalcount}({$listdata.totalusers})</B>
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="right" NOWRAP>
			<B>{$listdata.totalincome|string_format:"%01.2f"}</B>
		</TD>
		<TD CLASS="frightu" WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
