{include file="header.html"}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<h1>{$layout.pagetitle}</h1>
<form method="POST" action="?m=taxrateedit&id={$taxrateedit.id}" name="taxrateedit">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/tax.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<strong>{trans("Label:")}</strong>
		</td>
		<td width="98%" class="frightu">
			<input type="text" name="taxrateedit[label]" value="{$taxrateedit.label}" size="16" {tip text="Enter tax rate label" trigger="label"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/pay.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Value:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="taxrateedit[value]" value="{$taxrateedit.value|string_format:"%.2f"}" size="10" {tip text="Enter percentage value of tax rate" trigger="value"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/pay.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Taxing:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="checkbox" name="taxrateedit[taxed]" value="1" {tip text="Select taxing status"}{if $taxrateedit.taxed!="0"}CHECKED{/if}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Binds from date:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="taxrateedit[validfrom]" value="{$taxrateedit.validfrom}" size="10" OnCLick="javascript:cal1.popup();" {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar" trigger="validfrom"}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("Binds to date:")}</strong>
		</td>
		<td width="98%" class="fright">
			<input type="text" name="taxrateedit[validto]" value="{$taxrateedit.validto}" size="10" OnCLick="javascript:cal2.popup();" {tip text="Enter date in YYYY/MM/DD format (empty field means no limit) or click to choose it from calendar" trigger="validto"}>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="javascript:document.taxrateedit.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=taxratelist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.forms['taxrateedit'].elements['taxrateedit[validfrom]']);
cal1.time_comp = false;
var cal2 = new calendar(document.forms['taxrateedit'].elements['taxrateedit[validto]']);
cal2.time_comp = false;
document.forms['taxrateedit'].elements['taxrateedit[label]'].focus();
//-->
</script>
{include file="footer.html"}
