{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{if $bars}
{if ($download || $upload) && function_exists('imagecreate')}
<P align="center">
	<img src="?m=trafficgraph&bar={$bar}{if $customer}&customer={$customer}{/if}{if $net}&net={$net}{/if}{if $datefrom}&from={$datefrom}{/if}{if $dateto}&to={$dateto}{/if}" alt="{trans("Network Statistics")}">
</P>
{/if}
<table width="100%" align="center" cellpadding="3">
	<tr>
		<td style="vertical-align:top" width="50%">
			<table width="100%" cellpadding="2">
				<tr class="DARK">
					<td class="FALL" align="center" colspan="2">
						<P><strong>{trans("Download")}</strong></P>
					</td>
				</tr>
				{section name=download loop=$download.name}
				<tr>
					<td class="fleft" width="1%" nowrap="nowrap">
						<strong><a href="?m=nodeinfo&id={$download.nodeid[download]}">{if $showips}{$download.ipaddr[download]}{else}{$download.name[download]|truncate:25:"...":true}{/if}</a></strong>
					</td>
					<td class="fright hand" width="99%" nowrap="nowrap">
						<img src="img/redpx.gif" HEIGHT="12" width="{$download.bar[download]}" BORDER="1" alt="" {tip a=$download.nodeid[download] b=$bar c=$datefrom d=$dateto sticky=1 popup='?m=trafficgraph&nodeid=$a&bar=$b&from=$c&to=$d'}>
						{$download.data[download]|string_format:"%.2f"}&nbsp;{$download.unit[download]} ({$download.avg[download]|string_format:"%d"}&nbsp;kbit/s) 
					</td>
				</tr>
				{/section}
				<tr class="LIGHT">
					<td align="center" class="FALL" colspan="2">
						<P><strong>{trans("Total:")} {$download.sum.data|string_format:"%.2f "}{$download.sum.unit} ({$download.avgsum|string_format:"%d"}&nbsp;kbit/s)</strong></P>
					</td>
				</tr>
			</table>
		</td>
		<td style="vertical-align:top" width="50%">
			<table width="100%" cellpadding="2">
				<tr class="DARK">
					<td class="FALL" align="center" colspan="2">
						<P><strong>{trans("Upload")}</strong></P>
					</td>
				</tr>
				{section name=upload loop=$upload.name}
				<tr>
					<td class="fleft" width="1%" nowrap="nowrap">
						<strong><a href="?m=nodeinfo&id={$upload.nodeid[upload]}">{if $showips}{$upload.ipaddr[upload]}{else}{$upload.name[upload]|truncate:25:"...":true}{/if}</a></strong>
					</td>
					<td class="fright hand" width="99%" nowrap="nowrap">
						<img src="img/bluepx.gif" HEIGHT="12" width="{$upload.bar[upload]}" BORDER="1" alt="" {tip a=$upload.nodeid[upload] b=$bar c=$datefrom d=$dateto sticky=1 popup='?m=trafficgraph&nodeid=$a&bar=$b&from=$c&to=$d'}>
						{$upload.data[upload]|string_format:"%.2f"}&nbsp;{$upload.unit[upload]} ({$upload.avg[upload]|string_format:"%d"}&nbsp;kbit/s) 
					</td>
				</tr>
				{/section}
				<tr class="LIGHT">
					<td align="center" class="FALL" colspan="2">
						<P><strong>{trans("Total:")} {$upload.sum.data|string_format:"%.2f "}{$upload.sum.unit} ({$upload.avgsum|string_format:"%d"}&nbsp;kbit/s)</strong></P>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{if $smarty.section.download.index_next}
	<tr><td width="100%" colspan="2" align="center">{t a=$smarty.section.download.index_next}Rows: $a{/t}</td></tr>
	{/if}
</table>
{else}
<form name="traffic" method="POST" action="?m=traffic&bar=user">
<input type="submit" class="hiddenbtn">
<table align="center" width="100%" cellpadding="3">
	<tr class="dark">
		<td colspan="3" class="fall">
			<strong>{trans("Enter search criteria:")}</strong>
		</td>
	</tr>
	<tr class="light" {tip text="Limit results to selected period"}>
		<td width="1%" class="fleft">
			<img src="img/calendar.gif">
		</td>
		<td width="1%" nowrap="nowrap">
			<strong>{trans("From (day/month/year hh:mm):")}</strong>
		</td>
		<td width="98%" class="fright" nowrap="nowrap">
			{html_select_date field_array="from" prefix="" time=$starttime field_order="DMY" field_separator=" / " start_year=$startyear end_year=$endyear}
			&nbsp;
			{html_select_time field_array="from" prefix="" time=$starttime display_seconds=0}
		</td>
	</tr>
	<tr class="light" {tip text="Limit results to selected period"}>
		<td width="1%" class="fleft">
			<img src="img/calendar.gif">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("To (day/month/year hh:mm):")}</strong>
		</td>
		<td class="fright" nowrap="nowrap">
			{html_select_date field_array="to" prefix="" time=$endtime field_order="DMY" field_separator=" / " start_year=$startyear end_year=$endyear}
			&nbsp;
			{html_select_time field_array="to" prefix="" time=$endtime display_seconds=0}
		</td>
	</tr>
	<tr class="light" {tip text="Limit results to selected network"}>
		<td width="1%" class="fleft">
			<img src="img/network.gif">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("Network:")}</strong>
		</td>
		<td class="fright">
			<select size="1" name="net">
				<option value="0">{trans("- all -")}</option>
				{section name="netlist" loop=$netlist}
				<option value="{$netlist[netlist].id}" {if $netlist[netlist].id == $trafficnet}selected="selected"{/if}>{$netlist[netlist].name|truncate:30:"...":true}</option>
				{/section}
			</select>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/customer.gif" alt="">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("Customer:")}</strong>
		</td>
		<td class="fright">
			{if $customers}
			<select size="1" name="customerid" {tip text="Select customer"}>
				<option value="0">{trans("- all customers -")}</option>
				{foreach from=$customers item=customer}
				<option value="{$customer.id}">{$customer.customername|truncate:40:"...":true} ({$customer.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
			{else}
			<input type="text" name="customerid" value="" size="5" {tip text="Enter customer ID"}>
			<a href="javascript: void(0);" onClick="return customerchoosewin(document.traffic.customerid);" {tip text="Click to search customer"}>{trans("Search")}&nbsp;&raquo;&raquo;&raquo;</a>
			{/if}
		</td>
	</tr>
	<tr class="light" {tip text="Select results sorting order"}>
		<td width="1%" class="fleft">
			<img src="img/view.gif">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("Sorting:")}</strong>
		</td>
		<td class="fright">
			<select size="1" name="order">
				<option value="name"{if $trafficorder == "name"} selected="selected"{/if}>{trans("Node name")}</option>
				<option value="ip"{if $trafficorder == "ip"} selected="selected"{/if}>{trans("Node IP address")}</option>
				<option value="nodeid"{if $trafficorder == "nodeid"} selected="selected"{/if}>{trans("Node number")}</option>
				<option value="download"{if $trafficorder == "download"} selected="selected"{/if}>{trans("Download")}</option>
				<option value="upload"{if $trafficorder == "upload"} selected="selected"{/if}>{trans("Upload")}</option>
			</select>
		</td>
	</tr>
	<tr class="light" {tip text="Limit results to n computers"}>
		<td width="1%" class="fleft">
			<img src="img/node.gif">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("Nodes limit:")}</strong>
		</td>
		<td class="fright">
			<input type="text" name="limit" size="3"></INPUT>
		</td>
	</tr>
	<tr class="light" {tip text="Nodes depiction way on charts"}>
		<td width="1%" class="fleft">
			<img src="img/ip.gif">
		</td>
		<td nowrap="nowrap">
			<strong>{trans("IP addresses instead of nodes names")}</strong>
		</td>
		<td class="fright">
			<input type="checkbox" name="showips" value="1"></INPUT>
		</td>
	</tr>
	<tr class="light">
		<td colspan="3" align="right" class="fbottomu">
			<a href="javascript:document.traffic.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
{/if}
{include file="footer.html"}
