{include file="header.html"}
<!--// $Id$ //-->
<SCRIPT language="javaScript">
{literal}
<!-- 
	function PrintList()
	{
		document.usersearch.action = "?m=usersearch&search=1&print=1";
		document.usersearch.target = "_BLANK";
		document.usersearch.submit();
	}

	function Search()
	{
		document.usersearch.action = "?m=usersearch&search=1";
		document.usersearch.target = "";
		document.usersearch.submit();
	}
//-->	
{/literal}
</SCRIPT>
<H1>{$layout.pagetitle}</H1>
<P><FORM METHOD="POST" ACTION="?m=usersearch&search=1" NAME="usersearch">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="FALL" COLSPAN="2">
			<B>{t}Display customers matching to following conditions:{/t}</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/user.gif" align="absmiddle" border="0" alt=""> <B>{t}Name/Surname and forename:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[username]" VALUE="{$search.username}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/home.gif" align="absmiddle" border="0" alt=""> <B>{t}Address:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%" nowrap>
			<INPUT TYPE="text" NAME="search[address]" VALUE="{$search.address}">
			<B>{t}City:{/t}</B> <INPUT TYPE="text" NAME="search[city]" VALUE="{$search.city}">
			<B>{t}Postcode:{/t}</B> <INPUT TYPE="text" NAME="search[zip]" VALUE="{$search.zip}" SIZE="10">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/phone.gif" align="absmiddle" border="0" alt=""> <B>{t}Phone:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[phone]" VALUE="{$search.phone}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/mail.gif" align="absmiddle" border="0" alt=""> <B>{t}E-mail:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[email]" VALUE="{$search.email}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/gg.gif" align="absmiddle" border="0" alt=""> <B>{t}IM:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[gguin]" VALUE="{$search.gguin}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/empty.gif" width="16" align="absmiddle" border="0" alt=""> <B>{t}TEN:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[nip]" VALUE="{$search.nip}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/empty.gif" width="16" align="absmiddle" border="0" alt=""> <B>{t}SSN:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT TYPE="text" NAME="search[pesel]" VALUE="{$search.pesel}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/empty.gif" width="16" align="absmiddle" border="0" alt=""> <B>{t}Qualification operator:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<INPUT style="border-style: none; background: #DFD5BD" type="radio" value="AND" name="k"{if $k!='OR'} CHECKED{/if}> {t}AND{/t}
			<INPUT style="border-style: none; background: #DFD5BD" type="radio" value="OR" name="k"{if $k=='OR'} CHECKED{/if}> {t}OR{/t}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/network.gif" align="absmiddle" border="0" alt=""> <B>{t}Network:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<SELECT SIZE="1" NAME="n">
				<OPTION value="0" {if !$listdata.network} SELECTED {/if}>{t}- all networks -{/t}</OPTION>
				{section name=networks loop=$networks}
				<OPTION value="{$networks[networks].id}" {if $listdata.network eq $networks[networks].id} SELECTED {/if}>{$networks[networks].name|truncate:50:"..."}</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/group.gif" align="absmiddle" border="0" alt=""> <B>{t}Group:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<SELECT SIZE="1" NAME="g">
				<OPTION value="" {if !$listdata.usergroup} SELECTED {/if}>{t}- all groups -{/t}</OPTION>
				{section name=usergroups loop=$usergroups}
				<OPTION value="{$usergroups[usergroups].id}" {if $listdata.usergroup eq $usergroups[usergroups].id} SELECTED {/if}>{$usergroups[usergroups].name|truncate:50:"..."}</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" WIDTH="1%" NOWRAP>
			<IMG src="img/access.gif" width="16" align="absmiddle" border="0" alt=""> <B>{t}State:{/t}</B>
		</TD>
		<TD CLASS="fright" WIDTH="99%">
			<SELECT SIZE="1" NAME="s">
				<OPTION VALUE="0">{t}- all -{/t}</OPTION>
				<OPTION VALUE="3">{t}connected {/t}</OPTION>
				<OPTION VALUE="2">{t}waiting{/t}</OPTION>
				<OPTION VALUE="1">{t}interested {/t}</OPTION>
				<OPTION VALUE="4">{t}deleted {/t}</OPTION>
				<OPTION VALUE="5">{t}disconnected {/t}</OPTION>
				<OPTION VALUE="6">{t}in debt{/t}</OPTION>
				<OPTION VALUE="7">{t}online{/t}</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD CLASS="fbottomu" WIDTH="100%" COLSPAN="2" ALIGN="right">
			<A ACCESSKEY="S" href="javascript:Search();">{t}Submit{/t} <IMG SRC="img/search.gif" BORDER="0" ALIGN="absmiddle" ALT=""></A>&nbsp;
			<A href="javascript:PrintList();">{t}Print{/t} <IMG SRC="img/print.gif" BORDER="0" ALIGN="absmiddle" ALT=""></A>
		</TD>	
	</TR>
</TABLE>
</FORM>
</P>
<SCRIPT language="javaScript">
<!--
document.forms['usersearch'].elements['search[username]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}			
