{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<form name="useredit" method="POST" action="?m=useredit&id={$userinfo.id}">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td style="width: 1%; white-space: nowrap;" class="fleftu">
			<img src="img/pass.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;" class="fbt">
			<span class="bold">{trans("Login:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;" class="frightu">
			<input type="TEXT" name="userinfo[login]" value="{$userinfo.login}" {tip text="Enter user login" trigger="login" bold=1}> <span class="bold">({$userinfo.id|string_format:"%04d"})</span>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td style="white-space: nowrap;">
			<span class="bold">{trans("First/last name:")}</span>
		</td>
		<td class="fright">
			 <input type="TEXT" name="userinfo[name]" value="{$userinfo.name}" size="40" {tip text="Enter user name" trigger="name"}>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td><span class="bold">{trans("Position:")}</span></td>
		<td class="fright">
			<input type="TEXT" name="userinfo[position]" value="{$userinfo.position}" size="40" {tip text="Enter user position (optional)"}>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft">
			<img src="img/mail.gif" alt="">
		</td>
		<td><span class="bold">{trans("E-mail:")}</span></td>
		<td class="fright">
			<input type="TEXT" name="userinfo[email]" value="{$userinfo.email}" size="40" {tip text="Enter e-mail address (optional)" trigger="email"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="FLEFT" style="white-space: nowrap;">
			<img src="img/sms.gif" alt="">
		</td>
		<td><span class="bold">{trans("Phone:")}</span></td>
		<td class="FRIGHT">
			<input type="TEXT" name="userinfo[phone]" value="{$userinfo.phone}" size="40" {tip text="Enter phone number for SMS notification (optional)" trigger="phone"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="FLEFT" style="white-space: nowrap;">
			<img src="img/options.gif" alt="">
		</td>
		<td><span class="bold">{trans("Notification:")}</span></td>
		<td class="FRIGHT">
			<input type="checkbox" name="userinfo[ntype][]" value="{$smarty.const.MSG_MAIL}" id="ntypemail"{if ($userinfo.ntype & $smarty.const.MSG_MAIL)} checked="checked"{/if}><label for="ntypemail">{trans("email")}</label>
			<input type="checkbox" name="userinfo[ntype][]" value="{$smarty.const.MSG_SMS}" id="ntypesms"{if ($userinfo.ntype & $smarty.const.MSG_SMS)} checked="checked"{/if}><label for="ntypesms">{trans("sms")}</label>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft">
			<img src="img/ip.gif" alt="">
		</td>
		<td style="white-space: nowrap;">
			<span class="bold">{trans("Allowed hosts:")}</span>
		</td>
		<td class="fright" style="white-space: nowrap;">
			<input type="TEXT" size="40" name="userinfo[hosts]" value="{$userinfo.hosts}" {tip text="Enter comma-separated list of hosts or networks (optional)" trigger="hosts"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft">
			<img src="img/passwd.gif" alt="">
		</td>
		<td style="white-space: nowrap;">
			<span class="bold">{trans("Password expiration:")}</span>
		</td>
		<td class="fright" style="white-space: nowrap;">
			<select name="userinfo[passwdexpiration]" value="{$userinfo.passwdexpiration}" {tip text="Select password expiration period" trigger="passwdexpiration"}>
				{foreach from=$_PASSWDEXPIRATIONS item=item key=key}
				<option value="{$key}"{if $key == $userinfo.passwdexpiration} selected{/if}>{$item}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft">
			<img src="img/pass.gif" alt="">
		</td>
		<td style="white-space: nowrap;">
			<span class="bold">{trans("Access rights:")}</span>
		</td>
		<td class="fright" style="white-space: nowrap;">
			<table style="width: 100%;">
				<tr>
					<td style="width: 50%; vertical-align: top; white-space: nowrap;">
						{section name=acl loop=$accesslist}
						{if $smarty.section.acl.index <= floor(sizeof($accesslist)/2) - 1}
						<input type="checkbox" id="acl_{$accesslist[acl].id}" name="acl[{$accesslist[acl].id}]" value="1" {if $accesslist[acl].enabled} checked="checked"{/if}> <label for="acl_{$accesslist[acl].id}">{$accesslist[acl].name}</label><br />
						{/if}
						{/section}
					</td>
					<td style="width: 50%; vertical-align: top; white-space: nowrap;">
						{section name=acl loop=$accesslist}
						{if $smarty.section.acl.index > floor(sizeof($accesslist)/2) - 1}
						<input type="checkbox" id="acl_{$accesslist[acl].id}" name="acl[{$accesslist[acl].id}]" value="1" {if $accesslist[acl].enabled} checked="checked"{/if}> <label for="acl_{$accesslist[acl].id}">{$accesslist[acl].name}</label><br />
						{/if}
						{/section}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft">
			<img src="img/group.gif" alt="">
		</td>
		<td style="white-space: nowrap;">
			<span class="bold">{trans("Groups:")}</span>
		</td>
		<td class="fright" style="white-space: nowrap;">
			{include file="multiselect.html" selected=$userinfo.selected available_tip="Enabled<!plural>:" selected_tip="Disabled<!plural>:"}
		</td>
	</tr>
	<tr class="light">
		<td colspan="3" class="fbottomu" style="text-align: right;">
			<a href="javascript:document.useredit.submit();" accesskey="S">{trans("Submit")} <img src="img/save.gif" alt="">
			<a href="?m=userinfo&id={$userinfo.id}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
<!--
document.forms['useredit'].elements['userinfo[login]'].focus();

//-->
</script>
{include file="footer.html"}
