<!--// $Id$ //-->
{literal}
<SCRIPT language=JavaScript>
	<!--

	function CheckAll()
	{
		for (var i=0; i<document.addbalance.elements.length; i++)
		{
			var e = document.addbalance.elements[i];
			if (e.name != 'allbox')
				e.checked = document.addbalance.allbox.checked;
		}
	}

	function CheckAll2()
	{
		document.addbalance.allbox.checked = !document.addbalance.allbox.checked;
		CheckAll();
	}

	function DeleteMarked()
	{
		document.addbalance.action="?m=balancedel";
		document.addbalance.target="";
		document.addbalance.submit();
	}

	function AddBalance()
	{
		document.addbalance.submit();
	}

	//-->
</SCRIPT>
{/literal}
<FORM name="addbalance" method="POST" action="?m=balanceadd&id={$balancelist.userid}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD class="fleftu">
			<IMG src="img/money.gif" border="0" ALT="" align="absmiddle">
			<B><A name="balance">{t}Customer Account:{/t}</A></B> 
			{if $limit}
				{math equation="x * -1" x=$limit assign=n}
				{t 0=$n}(last $0 transactions){/t}
			{/if}
		</TD>
		<TD class="frightu" align="right">
			<A href="?m=invoicenew&userid={$balancelist.userid}">{t}New invoice{/t} &raquo;</A>&nbsp;    
			{if $limit}<A href="?m=userbalance&id={$balancelist.userid}">{t}See all transactions{/t} &raquo;</A>{/if}
		</TD>
	</TR>
	<TR>
		<TD width="100%" colspan="2" class="fall">
			<TABLE cellpadding="5" cellspacing="0" width="100%">
				<TR class="dark">
					<TD width="1%" class="fleftu">{t}Date:{/t}</TD>
					<TD width="1%" class="fbt">{t}User:{/t}</TD>
					<TD width="1%" class="fbt"><B>{t}Type:{/t}</B></TD>
					<TD width="1%" class="fbt" align="right">{t}Value:{/t}</TD>
					<TD width="1%" class="fbt" align="right">{t}VAT:{/t}</TD>
					<TD width="1%" class="fbt" align="center">&raquo;</TD>
					<TD width="1%" class="fbt" align="right">{t}After:{/t}</TD>
					<TD width="92%" class="fbt">{t}Description:{/t}</TD>
					<TD width="1%" class="frightu">&nbsp;</TD>
				</TR>
				{cycle values="#DFD5BD,#EBE4D6" print=false}
				{section name=balancelist loop=$balancelist.id start=$limit}
					{if $balancelist.invoiceid[balancelist] && $balancelist.invoiceid[balancelist] == $bal}
					<TR bgcolor="{$color}" onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{$color}')"> 
					{else}
					<TR bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
					{cycle print=false}
					{cycle assign=color}
					{/if}
					<TD width="1%"><nobr>{$balancelist.date[balancelist]}</nobr></TD>
					<TD width="1%">{$balancelist.adminname[balancelist]|truncate:20:" ..."|replace:" ":"&nbsp;"}</TD>
					<TD width="1%" NOWRAP><b>{$balancelist.name[balancelist]}</b></TD>
					<TD width="1%" align="right"><nobr>{$balancelist.value[balancelist]|money_format}</nobr></TD>
					<TD width="1%" align="right"><nobr>
						{if $balancelist.taxvalue[balancelist]}
							{$balancelist.taxvalue[balancelist]|string_format:"%01.2f"} %
						{else}{t}tax-free{/t}{/if}
						</nobr></TD>
					<TD width="1%" align="center">&raquo;</TD>
					<TD width="1%" align="right"><nobr>{if $balancelist.after[balancelist] < 0}<FONT color="red">{/if}{$balancelist.after[balancelist]|money_format}{if $balancelist.after[balancelist] < 0}</FONT>{/if}</nobr></TD>
					<TD width="92%">{$balancelist.comment[balancelist]}</TD>
					<TD width="1%" align="right"><nobr>
						{if $balancelist.invoiceid[balancelist]}
						<A HREF="?m=invoice&id={$balancelist.invoiceid[balancelist]}" TARGET="_blank"><IMG SRC="img/print.gif" ALT="" {tip text="Invoice"} BORDER="0"></A>
						{else}
						{cycle print=false}
						<INPUT STYLE="border-style: none; background-color: {cycle};" TYPE="checkbox" NAME="marks[{$balancelist.id[balancelist]}]" VALUE="{$balancelist.id[balancelist]}">
						{/if}</nobr>
					</TD>
					</TR>
					{assign var=bal value=$balancelist.invoiceid[balancelist]}
				{sectionelse}
				<TR>
					<TD align="center" width="100%" colspan="9">
						<BR>
						<BR>
						<B>{t}That customer haven't got any transactions.{/t}</B><BR>
						<BR>
						<BR>
					</TD>
				</TR>
				{/section}
				<TR bgcolor="#DFD5BD">
					<TD CLASS="ftop" ALIGN="left">
						<NOBR><A HREF="javascript:DeleteMarked();">{t}Delete{/t} <IMG SRC="img/delete.gif" BORDER="0" ALT="{t}Delete{/t}" ALIGN="absmiddle" HSPACE="2"></A></NOBR>&nbsp;
					</TD>
					<TD CLASS="ftop" ALIGN="right" COLSPAN="8">
						<NOBR><A HREF="javascript:CheckAll2();">{t}Check All{/t}</A><INPUT CLASS="box" TYPE="checkbox" NAME="allbox" onClick="CheckAll();" VALUE="Check All Boxes"></NOBR>
					</TD>
				</TR>
				<TR bgcolor="#DFD5BD" title="Nowa operacja kasowa">
					<INPUT TYPE="hidden" NAME="addbalance[userid]" VALUE="{$balancelist.userid}">
					<TD class="ftop">
						<INPUT TYPE="text" name="addbalance[time]" size="15" maxsize="15" {tip text="Enter transaction time in format 'yyyy/mm/dd hh:mm' (empty field means current time). Click to select date from calendar."} onClick="cal3.popup();">
						{*<nobr>{$smarty.now|date_format:"%Y/%m/%d %H:%M"}</nobr>*}
					</TD>
					<TD class="ftop">
						{$layout.logname|truncate:20:"..."|replace:" ":"&nbsp;"}
					</TD>
					<TD class="ftop">
						<SELECT SIZE="1" name="addbalance[type]" {tip text="Select transaction type"}>
							<OPTION value="3">{t}payment{/t}</OPTION>
							<OPTION value="4">{t}covenant{/t}</OPTION>
						</SELECT>
					</TD>
					<TD class="ftop" nowrap>
						<INPUT TYPE="text" size="8" name="addbalance[value]" accesskey="s" {tip text="Enter transaction value"}>
					</TD>
					<TD class="ftop" nowrap>
						<SELECT SIZE="1" name="addbalance[taxvalue]" {tip text="Select VAT value"}>
							<OPTION value="22">22%</OPTION>
							<OPTION value="7">7%</OPTION>
							<OPTION value="0">0%</OPTION>
							<OPTION value="zw.">{t}tax-free{/t}</OPTION>
						</SELECT>
					</TD>
					<TD colspan="4" align="right" class="ftop">
						<B>{t}Description:{/t}</B> <INPUT TYPE="text" size="22" align="left" name="addbalance[comment]" {tip text="Enter short description of transaction"}> 
						<NOBR><A href="javascript:AddBalance();">{t}Save{/t} <IMG src="img/save.gif" border="0" ALT="" align="absmiddle"></A></NOBR>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</FORM>
<SCRIPT><!--
var cal3 = new calendar(document.forms['addbalance'].elements['addbalance[time]']);
//--></SCRIPT>
