{include file="header.html"}
{include file="userheader.html"}
<script language="javascript">
	<!--
	function getText(index)
	{literal}{{/literal}
		{section name=lt loop=$usergroups}
		if(index=={$usergroups[lt].id}) return '{$usergroups[lt].name}';
		{/section}
	{literal}}{/literal}
	//-->
																	</script>
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/group.gif" ALT="" ALIGN="ABSMIDDLE">
		</TD>
		<TD WIDTH="99%" CLASS="frightu" COLSPAN="2" NOWRAP>
			<B>{$usergroup.name} ({$usergroup.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/users.gif" BORDER="0" ALT="" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="1%" NOWRAP><B>Ilo¶æ u¿ytkowników:</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">
			{$usergroup.userscount}({$usergroup.count})
		</TD>
	</TR>
	{if $usergroup.description}
	<TR CLASS="light">	
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/usercomment.gif" ALT="" BORDER="0" ALIGN="absmiddle">
		</TD>
		<TD WIDTH="98%" CLASS="fright" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5"> 
			    <TR><TD CLASS="fall" BGCOLOR="#F4F0EC">
				    {$usergroup.description|replace:"\n":"<BR>"}
			    </TD></TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR CLASS="light">
	        <TD ALIGN="RIGHT" CLASS="fbottomu" COLSPAN="3">
			    <A HREF="?m=usergroupedit&id={$usergroup.id}" ACCESSKEY="E">Edytuj <IMG SRC="img/edit.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A>{if $usergroup.count eq 0} <A HREF="?m=usergroupdelete&id={$usergroup.id}">Usuñ <IMG SRC="img/delete.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A>{/if}
		</TD>
	</TR>
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/user.gif" ALT="" ALIGN="ABSMIDDLE">
		</TD>
		<TD WIDTH="99%" CLASS="frightu" COLSPAN="2">
			<B>U¿ytkownicy nale¿±cy do tej grupy:</B>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" CLASS="FALL" COLSPAN="3">
			<TABLE WIDTH="100%" CELLPADDING="2">
				{cycle values="#DFD5BD,#EBE4D6" print=false}
				{section name=l1 loop=$usergroup.users max=$usergroup.rows}
				<TR>
					{section name=l2 loop=$usergroup.users start=$smarty.section.l1.index step=$usergroup.rows}
					<TD WIDTH="33%" bgcolor="{cycle}" {cycle print=false} onmouseover="setPointerTD(this, '#CCFFCC')" onmouseout="setPointerTD(this, '{cycle}')" {cycle print=false} onclick="return self.location.href='?m=userinfo&id={$usergroup.users[l2].id}'"><IMG SRC="img/user.gif" BORDER="0" ALT="" ALIGN="ABSMIDDLE"> <A HREF="?m=userinfo&id={$usergroup.users[l2].id}">({$usergroup.users[l2].id|string_format:"%04d"}) {$usergroup.users[l2].username|truncate:50:" ..."} {if $usergroup.users[l2].cnt > 1}({$usergroup.users[l2].cnt}){/if}</A></TD>
					{/section}{cycle print=false}
				</TR>
				{sectionelse}
				<TR>
					<TD WIDTH="100%" ALIGN="CENTER">
						<BR>
						<BR>
						<B>¯aden z klientów nie nale¿y do tej grupy</B><BR>
						<BR>
						<BR>
					</TD>
				</TR>
				{/section}
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="DARK">
		<TD WIDTH="100%" CLASS="FALL" COLSPAN="3">
			<P>
			<FORM NAME="tmove" METHOD="GET" ACTION="?m=usergroupmove">
				<INPUT TYPE="hidden" VALUE="usergroupmove" NAME="m">
				<INPUT TYPE="hidden" VALUE="{$usergroup.id}" NAME="from">
				<input type="hidden" name="is_sure">
				<B><A HREF="javascript:document.tmove.submit();" onClick="return confirmForm(is_sure,'Jeste¶ pewien, ¿e chcesz przenie¶æ u¿ytkowników do grupy '+getText(document.tmove.to.value)+'?','1');">Przenie¶ tych u¿ytkowników do grupy:</A> </B>
				<SELECT SIZE="1" NAME="to">
					{section name=lt loop=$usergroups}
					{if $usergroups[lt].id neq $usergroup.id}<OPTION VALUE="{$usergroups[lt].id}">{$usergroups[lt].name}</OPTION>{/if}
					{/section}
				</SELECT>
			</FORM>
			</P>
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
