{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="fall" COLSPAN="3" NOWRAP>
			<IMG SRC="img/pass.gif" ALT="">
			<B>{$userinfo.login} ({$userinfo.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/users.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("First/last name:")}</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright">
			<B>{$userinfo.name}</B>
		</TD>
	</TR>
{if $userinfo.position}
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/info.gif" ALT="">
		</TD>
		<TD WIDTH="1%"><B>{trans("Position:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{$userinfo.position}
		</TD>
	</TR>
{/if}
{if $userinfo.email}
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/mail.gif" ALT="">
		</TD>
		<TD WIDTH="1%"><B>{trans("E-mail:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			<A HREF="mailto:{$userinfo.email}">{$userinfo.email}</A>
		</TD>
	</TR>
{/if}
{if $userinfo.phone}
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/sms.gif" ALT="">
		</TD>
		<TD WIDTH="1%"><B>{trans("Phone:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{$userinfo.phone}
		</TD>
	</TR>
{/if}
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="1%"><B>{trans("Notification:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{if !$userinfo.ntype}{trans("none")}{else}{$userinfo.ntype}{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/ip.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Allowed hosts:")}</B>
		</TD>
		<TD WIDTH="98%" CLASS="fright" NOWRAP>
			{if $userinfo.hosts}{$userinfo.hosts}{else}{trans("all")}{/if}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/pass.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP><B>{trans("Access rights:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{section name=acl loop=$accesslist}
			<li type="square">{$accesslist[acl]}</li>
			{/section}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft">
			<IMG SRC="img/group.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP><B>{trans("Excluded groups:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{foreach from=$excludedgroups item=item}
			<li type="square"><a href="?m=customergroupinfo&id={$item.id}">{$item.name}</a></li>
			{foreachelse}
			-
			{/foreach}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft"></TD>
		<TD WIDTH="1%" NOWRAP><B>{trans("Last login:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{$userinfo.lastlogin}, {$userinfo.lastloginip} {if $userinfo.lastloginip neq $userinfo.lastloginhost}({$userinfo.lastloginhost}){/if}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft"></TD>
		<TD WIDTH="1%" NOWRAP><B>{trans("Last failed login:")}</B></TD>
		<TD WIDTH="98%" CLASS="fright">
			{$userinfo.faillogin}, {$userinfo.failedloginip} {if $userinfo.failedloginip neq $userinfo.failedloginhost}({$userinfo.failedloginhost}){/if}
		</TD>
	</TR>
	<TR CLASS="light">
		<TD COLSPAN="3" CLASS="fbottomu" ALIGN="right">
			<A HREF="?m=useredit&id={$userinfo.id}" ACCESSKEY="E">{trans("Edit")} <IMG SRC="img/edit.gif" ALT=""></A>
			<A HREF="?m=userdel&id={$userinfo.id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to irreversibly delete that user account?")}');">{trans("Delete")} <img src="img/delete.gif" alt=""></A>
			<A HREF="?m=userpasswd&id={$userinfo.id}">{trans("Change password")} <IMG SRC="img/keys.gif" ALT=""> </A>
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
