<!--// $Id$ //-->
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/user.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU" COLSPAN="2">
			<B>{$userinfo.username} ({$userinfo.id|string_format:"%04d"}){if $userinfo.deleted} <FONT COLOR="RED">({t}deleted customer{/t})</FONT>{/if}</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			{if $userinfo.status eq "3"}<IMG SRC="img/user.gif" ALT="" border="0">{/if}
			{if $userinfo.status eq "2"}<IMG SRC="img/wait.gif" ALT="" border="0">{/if}
			{if $userinfo.status eq "1"}<IMG SRC="img/unk.gif" ALT="" border="0">{/if}			
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{if $userinfo.status eq "3"}<B>{t}connected{/t}</B>{/if}
			{if $userinfo.status eq "2"}<B>{t}waiting{/t}</B>{/if}
			{if $userinfo.status eq "1"}<B>{t}interested{/t}</B>{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$userinfo.phone1}{if $userinfo.phone2 neq ""}<BR>
			{$userinfo.phone2}{/if}{if $userinfo.phone3 neq ""}<BR>
			{$userinfo.phone3}{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/home.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$userinfo.address}<BR>
			{$userinfo.zip} {$userinfo.city}
		</TD>
	</TR>
{if $userinfo.serviceaddr neq ""}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/post.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$userinfo.serviceaddr|replace:"\n":"<BR>"}
		</TD>
	</TR>
{/if}
{if $userinfo.email neq ""}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mail.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<A HREF="mailto:{$userinfo.email}">{$userinfo.email}</A>
		</TD>
	</TR>
{/if}
{if $userinfo.gguin neq "" && $userinfo.gguin neq 0}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="http://www.gadu-gadu.pl/users/status.asp?id={$userinfo.gguin}&styl=1" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<A HREF="gg:{$userinfo.gguin}">{$userinfo.gguin}</A>
		</TD>
	</TR>
{/if}
{if $userinfo.nip neq ""}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT" ALIGN="CENTER">
			<B>{t}NIP:{/t}</B>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$userinfo.nip}
		</TD>
	</TR>
{/if}
{if $userinfo.pesel neq ""}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT" ALIGN="CENTER">
			<B>{t}PID:{/t}</B>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			{$userinfo.pesel}
		</TD>
	</TR>
{/if}
{if $userinfo.pin neq 0}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/pin.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			{t}PIN:{/t}
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$userinfo.pin}
		</TD>
	</TR>
{/if}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/money.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Balance:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{if $userinfo.balance < 0}<FONT COLOR="RED"><B>{$userinfo.balance|money_format}</B></FONT>{else}{$userinfo.balance|default:"0"|money_format}{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/admins.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Created:{/t}<BR>
			{t}Modified:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$userinfo.createdby}, {$userinfo.creationdateh}<BR>
			{if $userinfo.moddate}{$userinfo.modifiedby}, {$userinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
	{if $userinfo.info}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/usercomment.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC">
						{$userinfo.info|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if $userinfo.message}
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/warningon.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC">
						{$userinfo.message|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" COLSPAN="3" CLASS="FBOTTOMU" ALIGN="RIGHT">
			{if $userinfo.deleted}
				<A HREF="?m=useredit&id={$userinfo.id}&action=recover">{t}Restore{/t} <IMG SRC="img/recover.gif" border="0" align="absmiddle" ALT="[ {t}Restore{/t} ]"></A>
			{else}
				<A href="?m=accountlist&u={$userinfo.id}">{t}Accounts{/t} <IMG src="img/account.gif" border="0" align="absmiddle" ALT="[ {t}Accounts{/t} ]"></A>
				<A href="?m=contract&id={$userinfo.id}" target="_blank">{t}Print contract{/t} <IMG src="img/print.gif" border="0" align="absmiddle" ALT="[ {t}Contract{/t} ]"></A>
				<A href="?m=useredit&id={$userinfo.id}" ACCESSKEY="E">{t}Edit{/t} <IMG src="img/edit.gif" border="0" align="absmiddle" ALT="[ {t}Edit{/t} ]"></A>
				<A href="?m=userdel&id={$userinfo.id}" onClick="return confirmLink(this, 'Are you sure, you want to remove user: {$userinfo.username} from database?\n\nIf that user have any computers, they will be automatically removed from database too, and informations about them irreversible losed!')">{t}Delete{/t} <img border="0" align="absmiddle" src="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
			{/if}
		</TD>
	</TR>
</TABLE>
