{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<table style="width: 100%;" cellpadding="3">
	<tr class="DARK">
		<td class="fall" colspan="3" style="white-space: nowrap;">
			<img src="img/pass.gif" alt="">
			<span class="bold">{$userinfo.login} ({$userinfo.id|string_format:"%04d"})</span>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;" class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("First/last name:")}</span>
		</td>
		<td style="width: 98%;" class="fright">
			<span class="bold">{$userinfo.name}</span>
		</td>
	</tr>
{if $userinfo.position}
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("Position:")}</span></td>
		<td style="width: 98%;" class="fright">
			{$userinfo.position}
		</td>
	</tr>
{/if}
{if $userinfo.email}
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/mail.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("E-mail:")}</span></td>
		<td style="width: 98%;" class="fright">
			<A HREF="mailto:{$userinfo.email}">{$userinfo.email}</A>
		</td>
	</tr>
{/if}
{if $userinfo.phone}
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/sms.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("Phone:")}</span></td>
		<td style="width: 98%;" class="fright">
			{$userinfo.phone}
		</td>
	</tr>
{/if}
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/options.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("Notification:")}</span></td>
		<td style="width: 98%;" class="fright">
			{if !$userinfo.ntype}{trans("none")}{else}{$userinfo.ntype}{/if}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/{if !$userinfo.access}no{/if}access.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("Account active:")}</span></td>
		<td style="width: 98%;" class="fright">
			{if !$userinfo.access}{trans("no")}{else}{trans("yes")}{/if}
		</td>
	</tr>
{if $userinfo.accessfrom || $userinfo.accessto}
	<tr class="light">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/calendar.gif" alt="">
		</td>
		<td style="width: 1%;"><span class="bold">{trans("Account active:")}</span></td>
		<td style="width: 98%;" class="fright">
			{if $userinfo.accessfrom}<span class="bold">{trans("from")}:</span> {$userinfo.accessfrom}{/if}
			{if $userinfo.accessto}<span class="bold"> {trans("to")}:</span> {$userinfo.accessto}{/if}
		</td>
	</tr>
{/if}
	<tr class="LIGHT">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/ip.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Allowed hosts:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;" class="fright">
			{if $userinfo.hosts}{$userinfo.hosts}{else}{trans("all")}{/if}
		</td>
	</tr>
	<tr class="LIGHT">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/passwd.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Password expiration:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;" class="fright">
			{$_PASSWDEXPIRATIONS[$userinfo.passwdexpiration]}
		</td>
	</tr>
	<tr class="LIGHT">
		<td style="width: 1%; white-space: nowrap;" class="fleft">
			<img src="img/passwd.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("Last password change:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;" class="fright">
			{$userinfo.passwdlastchange}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;" class="fleft">
			<img src="img/pass.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;"><span class="bold">{trans("Access rights:")}</span></td>
		<td style="width: 98%;" class="fright">
			{section name=acl loop=$accesslist}
			<li type="square">{$accesslist[acl]}</li>
			{/section}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;" class="fleft">
			<img src="img/group.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;"><span class="bold">{trans("Excluded groups:")}</span></td>
		<td WIDTH="98%" class="fright">
			{foreach from=$excludedgroups item=item}
			<li type="square"><a href="?m=customergroupinfo&id={$item.id}">{$item.name}</a></li>
			{foreachelse}
			-
			{/foreach}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;" class="fleft"></td>
		<td style="width: 1%; white-space: nowrap;"><span class="bold">{trans("Last login:")}</span></td>
		<td style="width: 98%;" class="fright">
			{$userinfo.lastlogin}, {$userinfo.lastloginip} {if $userinfo.lastloginip neq $userinfo.lastloginhost}({$userinfo.lastloginhost}){/if}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;" class="fleft"></td>
		<td style="width: 1%; white-space: nowrap;"><span class="bold">{trans("Last failed login:")}</span></td>
		<td style="width: 98%;" class="fright">
			{$userinfo.faillogin}, {$userinfo.failedloginip} {if $userinfo.failedloginip neq $userinfo.failedloginhost}({$userinfo.failedloginhost}){/if}
		</td>
	</tr>
	<tr class="light">
		<td colspan="3" class="fbottomu" style="text-align: right;">
			{if $layout.logid ne $userinfo.id}
			    {if !$userinfo.access}
				<a href="?m=useraccess&id={$userinfo.id}&access=1">{trans("Connect")} <img src="img/noaccess.gif" alt=""></a>
			    {else}
				<a href="?m=useraccess&id={$userinfo.id}&access=0">{trans("Disconnect")} <img src="img/access.gif" alt=""></a>
			    {/if}
			{/if}
			<a href="?m=useredit&id={$userinfo.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
			<a href="?m=userdel&id={$userinfo.id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to irreversibly delete that user account?")}');">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
			<a href="?m=userpasswd&id={$userinfo.id}">{trans("Change password")} <img src="img/keys.gif" alt=""></a>
			<a href="?m=userlist">{trans("User list")} <img src="img/users.gif" alt=""></a>
		</td>
	</tr>
</table>
{include file="footer.html"}
