{include file="header.html"}
<!--// $Id$ -->
<H1>{$layout.pagetitle}</H1>
<P><FORM METHOD="POST" NAME="tedit" ACTION="?m=usergroupedit&id={$usergroup.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="fleftu">
			<IMG SRC="img/group.gif" alt="">
		</TD>
		<TD WIDTH="1%" CLASS="fbt" NOWRAP>
			<B>{t}Name:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="frightu">
			<INPUT TYPE="TEXT" VALUE="{$usergroup.name}" NAME="usergroup[name]" {tip trigger="name" bold=1}>
			<B>&nbsp;({$usergroup.id|string_format:"%04d"})</B>
		</TD>
	</TR>
	<TR class="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/info1.gif" alt="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Description:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<TEXTAREA ROWS="5" COLS="50" NAME="usergroup[description]" {tip text="Enter additional informations (optional)"}>{$usergroup.description}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT" CLASS="FBOTTOMU">
			<A HREF="javascript:document.tedit.submit();" ACCESSKEY="S">{t}Submit{/t} <IMG SRC="img/save.gif" ALT=""></A>{if $usergroup.count eq 0} <A HREF="?m=usergroupdelete&id={$usergroup.id}">{t}Delete{/t} <IMG SRC="img/delete.gif" ALT=""></A>{/if}
			<A HREF="?m=usergroupinfo&id={$usergroup.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" ALT=""></A> 
		
		</TD>
	</TR>
</TABLE>
</FORM></P>
<SCRIPT language="javaScript">
<!--
document.forms['tedit'].elements['usergroup[name]'].focus();
//-->
</SCRIPT>
{include file="usergroupassignments.html"}
{include file="footer.html"}
