{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM NAME="useradd" METHOD="POST" ACTION="?m=useradd">
<INPUT type="submit" class="hiddenbtn">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD CLASS="FLEFTU" WIDTH="1%">
			<IMG SRC="img/pass.gif" ALT=""> <B>{trans("Login:")}</B>
		</TD>
		<TD CLASS="FRIGHTU" WIDTH="99%">
			<INPUT TYPE="TEXT" NAME="useradd[login]" VALUE="{$useradd.login}" {tip text="Enter user login" trigger="login" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" NOWRAP>
			<IMG SRC="img/users.gif" ALT=""> <B>{trans("First/last name:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="useradd[name]" VALUE="{$useradd.name}" SIZE="40" {tip text="Enter user name" trigger="name"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT">
			<IMG SRC="img/info.gif" ALT=""> <B>{trans("Position:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="useradd[position]" VALUE="{$useradd.position}" SIZE="40" {tip text="Enter user position (optional)" trigger="position"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT">
			<IMG SRC="img/mail.gif" ALT=""> <B>{trans("E-mail:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="useradd[email]" VALUE="{$useradd.email}" SIZE="40" {tip text="Enter e-mail address (optional)" trigger="email"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" NOWRAP>
			<IMG SRC="img/sms.gif" ALT=""> <B>{trans("Phone:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="useradd[phone]" VALUE="{$useradd.phone}" SIZE="40" {tip text="Enter phone number for SMS notification (optional)" trigger="phone"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" NOWRAP>
			<IMG SRC="img/options.gif" ALT=""> <B>{trans("Notification:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="checkbox" NAME="useradd[ntype][]" VALUE="{$smarty.const.MSG_MAIL}" ID="ntypemail"{if ($useradd.ntype & $smarty.const.MSG_MAIL)} checked{/if}><A HREF="javascript:checkElement('ntypemail')">{trans("email")}</A>
			<INPUT TYPE="checkbox" NAME="useradd[ntype][]" VALUE="{$smarty.const.MSG_SMS}" ID="ntypesms"{if ($useradd.ntype & $smarty.const.MSG_SMS)} checked{/if}><A HREF="javascript:checkElement('ntypesms')">{trans("sms")}</A>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT">
			<IMG SRC="img/pass.gif" ALT=""> <B>{trans("Password:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="PASSWORD" NAME="useradd[password]" {tip text="Enter password" trigger="password"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FLEFT" NOWRAP>
			<IMG SRC="img/pass.gif" ALT=""> <B>{trans("Repeat password:")}</B>
		</TD>
		<TD CLASS="FRIGHT">
			<INPUT TYPE="PASSWORD" NAME="useradd[confirm]" {tip text="Confirm password" trigger="password"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" NOWRAP>
			<IMG SRC="img/ip.gif" ALT=""> <B>{trans("Allowed hosts:")}</B>
		</TD>
		<TD CLASS="fright" NOWRAP>
			<INPUT TYPE="TEXT" SIZE="40" NAME="useradd[hosts]" VALUE="{$useradd.hosts}" {tip text="Enter comma-separated list of hosts or networks (optional)" trigger="hosts"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" NOWRAP>
			<IMG SRC="img/pass.gif" ALT=""> <B>{trans("Access rights:")}</B>
		</TD>
		<TD CLASS="fright" NOWRAP>
		<table width="100%"><tr>
		        <td width="50%" style="vertical-align: top" nowrap>
			{section name=acl loop=$accesslist}
			{if $smarty.section.acl.index <= floor(sizeof($accesslist)/2) - 1}
				<INPUT TYPE="checkbox" NAME="acl[{$accesslist[acl].id}]" value="1" {if $accesslist[acl].enabled} checked{/if}> <A HREF="javascript:setAcl('acl[{$accesslist[acl].id}]')">{$accesslist[acl].name}</a><BR>
			{/if}
			{/section}
			</td><td width="50%" style="vertical-align: top" nowrap>
			{section name=acl loop=$accesslist}
			{if $smarty.section.acl.index > floor(sizeof($accesslist)/2) - 1}
				<INPUT TYPE="checkbox" NAME="acl[{$accesslist[acl].id}]" value="1" {if $accesslist[acl].enabled} checked{/if}> <A HREF="javascript:setAcl('acl[{$accesslist[acl].id}]')">{$accesslist[acl].name}</a><BR>
			{/if}
			{/section}
			</td>
			</tr></table>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="fleft" NOWRAP>
			<IMG SRC="img/group.gif" ALT=""> <B>{trans("Groups:")}</B>
		</TD>
		<TD CLASS="fright" NOWRAP>
			{include file="multiselect.html" selected=$useradd.selected available_tip="Enabled<!plural>:" selected_tip="Disabled<!plural>:"}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD CLASS="FBOTTOMU" COLSPAN="2" ALIGN="RIGHT">
			<A HREF="javascript:document.useradd.submit();" accesskey="s">{trans("Submit")} <IMG SRC="img/save.gif" ALT=""></A>
			<A HREF="?m=userlist">{trans("Cancel")} <IMG SRC="img/cancel.gif" ALT=""></A>
		</TD>
	</TR>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['useradd'].elements['useradd[login]'].focus();

function setAcl(id)
{
	document.forms['useradd'].elements[id].checked = !document.forms['useradd'].elements[id].checked;
}
//-->
</SCRIPT>
{include file="footer.html"}
