{include file="header.html"}
<!--// $Id$ //-->
{literal}
<SCRIPT LANGUAGE=JavaScript" TYPE="text/javascript">
<!--
	function SelectAllUsers()
	{
		if(document.setwarnings.users.checked) 
			for (var i = 0; i < document.setwarnings.elements[0].length; i++)
				document.setwarnings.elements[0].options[i].selected = true;
		else
			for (var i = 0; i < document.setwarnings.elements[0].length; i++)
				document.setwarnings.elements[0].options[i].selected = false;
	}
	
	function switchbox(id)
	{
		if((id.name == 'setwarnings[warnon]') && id.checked ) 
			document.setwarnings.elements['setwarnings[warnoff]'].checked = false;
		if((id.name == 'setwarnings[warnoff]') && id.checked ) 
			document.setwarnings.elements['setwarnings[warnon]'].checked = false;
	}
//-->
</SCRIPT>
{/literal}
<H1>{$layout.pagetitle}</H1>
<P><FORM NAME="setwarnings" METHOD="POST" ACTION="?m=userwarn">
<TABLE width="100%" cellpadding="3">
	<TR>
		<TD WIDTH="1%" VALIGN="TOP">
			<TABLE width="100%" cellpadding="3">
				<TR CLASS="DARK">
					<TD CLASS="fleftu" WIDTH="1%">
						<IMG SRC="img/user.gif" ALT="" ALIGN="absmiddle" BORDER="0">&nbsp;<B>{t}Customers:{/t}</B>
					</TD>
					<TD CLASS="frightu" WIDTH="99%" COLSPAN="2">
						<IMG SRC="img/mail.gif" ALT="" ALIGN="absmiddle" BORDER="0">&nbsp;<B>{t}Warning message:{/t}</B>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD CLASS="fleft">
						<SELECT size="20" name="setwarnings[muserid][]" multiple {tip text="Select customers"}>
							{section name=userlist loop=$userlist}
							<OPTION value="{$userlist[userlist].id}" {if $userlist[userlist].warning}CLASS="red"{/if}>{$userlist[userlist].username|truncate:50:" ..."} ({$userlist[userlist].id|string_format:"%04d"})</OPTION>
							{/section}
						</SELECT>
					</TD>
					<TD CLASS="fright" COLSPAN="2">
						<TABLE CELLPADDING="3">
							<TD CLASS="FALL" COLSPAN="3" BGCOLOR="#F4F0EC" {tip text="Content of warning for customer"}>
								<TEXTAREA NAME="setwarnings[message]" STYLE="background-color: #F4F0EC; border-style: none; border-width: 0pt" ROWS="19" COLS="75">{$warnmessage}</TEXTAREA>
							</TD>
						</TABLE>
					</TD>
				</TR>
				<TR CLASS="LIGHT">
					<TD CLASS="fbl" WIDTH="1%">
						<INPUT TYPE="checkbox" NAME="users" CLASS="box" OnClick="javascript:SelectAllUsers()">{t}Select All{/t}</INPUT>
					</TD>
					<TD CLASS="fbottom" ALIGN="left">
						 <NOBR><INPUT TYPE="checkbox" CLASS="box" NAME="setwarnings[warnon]" ID="warnon" OnClick="switchbox(this);"{if $warnon}CHECKED{/if}>{t}Enable warnings{/t}</INPUT></NOBR>
						 <NOBR><INPUT TYPE="checkbox" CLASS="box" NAME="setwarnings[warnoff]" ID="warnoff" OnClick="switchbox(this);" {if $warnoff}CHECKED{/if}>{t}Disable warnings{/t}</INPUT></NOBR>
					</TD>
					<TD CLASS="fbr" ALIGN="RIGHT">
						<A HREF="javascript:document.setwarnings.submit()" accesskey="s">{t}Submit{/t} <IMG SRC="img/save.gif" BORDER="0" ALT=""></A>
					</TD>
				<TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</FORM>
</P>
{include file="footer.html"}
