{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P>
<TABLE cellpadding="3" WIDTH="100%">
	<TR bgcolor="#CEBD9B" {tip text="Click on column's name to change sorting order"}>
		<TD width="97%" class="fleftu">
			<img src="img/user.gif" ALT="" align="absmiddle">&nbsp;<a href="?m=usersearch&search=1&o=username{if $listdata.direction eq "asc" && $listdata.order eq "username"},desc{/if}">{t}Name/Surname and Forename:{/t}</A></B> {if $listdata.order eq "username"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" align="absmiddle" border="0" ALT="">{/if}<BR>
			<img src="img/home.gif" ALT="" align="absmiddle">&nbsp;<a href="?m=usersearch&search=1&o=address{if $listdata.direction eq "asc" && $listdata.order eq "address"},desc{/if}">{t}Address:{/t}</A> {if $listdata.order eq "address"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" align="absmiddle" border="0" ALT="">{/if}
		</TD>
		<TD align="right" width="1%" class="fbt" valign="top">
			<a href="?m=usersearch&search=1&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{t}ID:{/t}</A></B> {if $listdata.order eq "id"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" align="absmiddle" border="0" ALT="">{/if}<BR>
			{t}Services:{/t}
		</TD>
		<TD width="1%" class="fbt" ALIGN="right" valign="top">
			<a href="?m=usersearch&search=1&o=balance{if $listdata.direction eq "asc" && $listdata.order eq "balance"},desc{/if}">{t}Balance:{/t}</A>&nbsp;{if $listdata.order eq "balance"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" align="absmiddle" border="0" ALT="">{/if}<BR>
			<a href="?m=usersearch&search=1&o=tariff{if $listdata.direction eq "asc" && $listdata.order eq "tariff"},desc{/if}">{t}Subscription:{/t}</A>&nbsp;{if $listdata.order eq "tariff"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" align="absmiddle" border="0" ALT="">{/if}
		</TD>
		<TD width="1%" class="frightu" align="right" nowrap>
			<NOBR><B>{t 0=$listdata.total|default:"0"}Total: $0{/t}</B></NOBR>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			<B>{t}Page:{/t}
				{if $page > 1}<A HREF="?m={$layout.module}&search=1page={math equation="x - 1" x=$page}">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if}
				{section name=pcnt loop=$userlist step=$pagelimit}
				{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="?m={$layout.module}&search=1&page={$smarty.section.pcnt.rownum}">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}
				{/section}
				{if $page < $smarty.section.pcnt.rownum}<A HREF="?m={$layout.module}&search=1&page={math equation="x + 1" x=$page}">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}
			</B> 
			{math equation="x + 1" x=$start assign=startx}
			{if $start + $pagelimit > $listdata.total}
				{assign var=endx value=$listdata.total}{else}{math equation="x + y" x=$start y=$pagelimit assign=endx}
			{/if}
			({t 0=$startx 1=$endx 2=$listdata.total}records $0 - $1 of $2{/t})
		</TD>
	</TR>
	{/if}
	{cycle values="#DFD5BD,#EBE4D6" print=false}
	{section name=userlist loop=$userlist start=$start max=$pagelimit}
	<TR bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')"{if $userlist[userlist].nodeac eq 0} class="blend"{/if}>
		<TD onClick="return self.location.href='?m=userinfo&id={$userlist[userlist].id}';" class="fleft" valign="top">
			<IMG src="img/{if $userlist[userlist].status eq 1}unk{/if}{if $userlist[userlist].status eq 2}wait{/if}{if $userlist[userlist].status eq 3}user{/if}.gif" ALT="" align="absmiddle" border="0">{if $userlist[userlist].info} <img src="img/info1.gif" ALT="" align="absmiddle" {tip text=$userlist[userlist].info}>{/if} <A name="{$userlist[userlist].id}" {tip 0=$userlist[userlist].id dynpopup='?m=userinfoshort&id=$0'}><B>{$userlist[userlist].username}</B>{if $userlist[userlist].deleted} (<FONT COLOR="RED">{t}deleted customer{/t}</FONT>){/if}</A><BR>
			<IMG SRC="img/home.gif" ALT="" align="absmiddle" border="0">&nbsp;{$userlist[userlist].address}{if $userlist[userlist].city neq ""},{/if} {$userlist[userlist].zip} {$userlist[userlist].city}
		</TD>
		<TD valign="top" align="right" NOWRAP>
			({$userlist[userlist].id|string_format:"%04d"})<BR>
			{if $userlist[userlist].account}
				<IMG SRC="img/node{if !$userlist[userlist].online}_off{/if}.gif" align="absmiddle" ALT="" border="0" {tip 0=$userlist[userlist].id dynpopup='?m=nodelistshort&id=$0'}></A>
			{/if}
		</TD>
		<TD align="right" valign="top" NOWRAP>
			<NOBR><IMG src="img/empty.gif" width="1" height="16" ALIGN="absmiddle" ALT="" BORDER="0">{if $userlist[userlist].balance < 0}<font color="#ff0000"><B>{/if}{$userlist[userlist].balance|money_format}{if $userlist[userlist].balance < 0}</FONT></B>{/if}<BR><IMG src="img/empty.gif" width="1" height="16" ALIGN="absmiddle" ALT="" BORDER="0"><FONT CLASS="blend">{$userlist[userlist].tariffvalue|money_format}</FONT></NOBR>
		</TD>
		<TD class="fright" align="right">
			<NOBR>
			{if $userlist[userlist].balance < 0}
				<A href="?m=userbalanceok&id={$userlist[userlist].id}" OnClick="return confirmLink(this, '{t 0=$userlist[userlist].username|escape:"javascript"|escape:"html"}Are you sure, you want to account ALL debts of customer \'$0\'?{/t}');"><IMG src="img/invoice_pay.gif" border="0" align="absmiddle" ALT="[ {t}Account{/t} ]"></A>
			{/if}
			{if $userlist[userlist].account}
				{if $userlist[userlist].status eq 3}
					{if $userlist[userlist].nodeac eq 1}
						<A href="?m=nodeset&ownerid={$userlist[userlist].id}"><IMG SRC="img/access.gif" align="absmiddle" ALT="[ {t}Disconnect All{/t} ]" border="0"></A>
					{else}
						{if $userlist[userlist].nodeac eq 2}
							<A href="?m=nodeset&ownerid={$userlist[userlist].id}"><IMG SRC="img/mixaccess.gif" align="absmiddle" ALT="[ {t}Disconnect All{/t} ]" border="0"></A>
						{else}<A href="?m=nodeset&ownerid={$userlist[userlist].id}&access=1"><IMG SRC="img/noaccess.gif" align="absmiddle" ALT="[ {t}Connect All{/t} ]" border="0"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			{if $userlist[userlist].warncount}
				{if $userlist[userlist].status eq 3}
					{if $userlist[userlist].nodewarn eq 1}
						<A href="?m=nodewarn&ownerid={$userlist[userlist].id}" {if $userlist[userlist].message}{tip text=$userlist[userlist].message}{/if}><IMG SRC="img/warningon.gif" align="absmiddle" ALT="[ {t}Disable Warnings for All{/t} ]" border="0"></A>
					{else}
						{if $userlist[userlist].nodewarn eq 2}
							<A href="?m=nodewarn&ownerid={$userlist[userlist].id}" {if $userlist[userlist].message}{tip text=$userlist[userlist].message}{/if}><IMG SRC="img/warningmix.gif" align="absmiddle" ALT="[ {t}Disable Warnings for All{/t} ]" border="0"></A>
						{else}<A href="?m=nodewarn&ownerid={$userlist[userlist].id}&warning=1" {if $userlist[userlist].message}{tip text=$userlist[userlist].message}{/if}><IMG SRC="img/warningoff.gif" align="absmiddle" ALT="[ {t}Enable Warnings for All{/t} ]" border="0"></A>
						{/if}
					{/if}
				{/if}
			{/if}
			<A href="?m=userdel&id={$userlist[userlist].id}" OnClick="return confirmLink(this, '{t 0=$userlist[userlist].username|escape:"javascript"|escape:"html"}Are you sure, you want to remove customer \'$0\' from database?\n\nIf that customer have some nodes, they will be also removed and data definitely lost!{/t}');"><IMG src="img/delete.gif" align="absmiddle" border="0" ALT="[ {t}Delete{/t} ]"></A> {if $userlist[userlist].deleted}
			<A href="?m=useredit&id={$userlist[userlist].id}&action=recover"><IMG src="img/recover.gif" border="0" ALIGN="ABSMIDDLE" ALT="[ {t}Restore{/t} ]"></A>{else}<A href="?m=useredit&id={$userlist[userlist].id}"><IMG src="img/edit.gif" border="0" align="absmiddle" ALT="[ {t}Edit{/t} ]"></A>{/if} 
			<A href="?m=userinfo&id={$userlist[userlist].id}"><IMG src="img/info.gif" border="0" align="absmiddle" ALT="[ {t}Info{/t} ]"></A></NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="4" align="center" class="flr">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><B>{t}No such customers complying searching conditions.{/t}</B></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="4" CLASS="FALL">
			<B>{t}Page:{/t}
				{if $page > 1}<A HREF="?m={$layout.module}&search=1&page={math equation="x - 1" x=$page}">&laquo;&laquo;&laquo;</A>{else}&laquo;&laquo;&laquo;{/if}
				{section name=pcnt loop=$userlist step=$pagelimit}
				{if $page eq $smarty.section.pcnt.rownum}[{else} <A HREF="?m={$layout.module}&search=1&page={$smarty.section.pcnt.rownum}">{/if}{$smarty.section.pcnt.rownum}{if $page eq $smarty.section.pcnt.rownum}]{else}</A> {/if}
				{/section}
				{if $page < $smarty.section.pcnt.rownum}<A HREF="?m={$layout.module}&search=1&page={math equation="x + 1" x=$page}">&raquo;&raquo;&raquo;</A>{else}&raquo;&raquo;&raquo;{/if}
			</B> 
			{math equation="x + 1" x=$start assign=startx}
			{if $start + $pagelimit > $listdata.total}
				{assign var=endx value=$listdata.total}{else}{math equation="x + y" x=$start y=$pagelimit assign=endx}
			{/if}
			({t 0=$startx 1=$endx 2=$listdata.total}records $0 - $1 of $2{/t})
		</TD>
	</TR>
	{/if}
	<TR bgColor="#DFD5BD">
		<TD class="fleftu"" align="right">
			&nbsp;
		</TD>
		<TD class="fbt"" align="right">
			<B>{t}Outstandings{/t}:<BR>
			{t}Overcharges{/t}:</B>
		</TD>
		<TD class="fbt" align="right" nowrap>
			<B>{$userlist.below|money_format}<BR>
			{$userlist.over|money_format}</B>
		</TD>
		<TD class="frightu" align="right" valign="top" nowrap>
			<B>{t}Total:{/t} {$userlist.total|default:"0"}</B>	
		</TD>
	</TR>
</TABLE>
</P>
{include file="footer.html"}
