<!--// $Id$ //-->
{literal}
<SCRIPT language="JavaScript">
<!--
	function randomize()
	{
		var r = 0;
		do
			r = Math.floor(Math.random()*1000000-1);
		while (r<1000);
		document.useredit.elements['userdata[pin]'].value = r;
	}
//-->
</SCRIPT>
{/literal}
<FORM NAME="useredit" METHOD="POST" ACTION="?m=useredit&id={$userinfo.id}{if $recover}&action=recover{/if}"><INPUT TYPE="HIDDEN" NAME="userdata[id]" VALUE="{$userinfo.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/user.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHTU" COLSPAN="2">
			<TABLE>
				<TR>
					<TD>
						<B>{t}ID:{/t}</B>
					</TD>
					<TD>&nbsp;</TD>
					<TD>
						<B>({$userinfo.id|string_format:"%04d"})</B>
					</TD>
				</TR>
				<TR>
					<TD>
						<B>{t}Name:{/t}</B>
					</TD>
					<TD>&nbsp;</TD>
					<TD>
						<INPUT TYPE="TEXT" NAME="userdata[lastname]" VALUE="{$userinfo.lastname|escape}" {tip text="Enter name/surname of customer" trigger="username" bold=1}>
					</TD>
				</TR>
				<TR>
					<TD>
						<B>{t}Forename:{/t}</B>
					</TD>
					<TD>&nbsp;</TD>
					<TD>
						<INPUT TYPE="TEXT" NAME="userdata[name]" VALUE="{$userinfo.name|escape}" {tip text="Enter forename of customer (optional)" trigger="username" bold=1}>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			{if $userinfo.status eq "3"}<IMG SRC="img/user.gif" ALT="" border="0">{/if}
			{if $userinfo.status eq "2"}<IMG SRC="img/wait.gif" ALT="" border="0">{/if}
			{if $userinfo.status eq "1"}<IMG SRC="img/unk.gif" ALT="" border="0">{/if}
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<SELECT SIZE="1" NAME="userdata[status]" {tip text="Select customer state" trigger="status"}>
				<OPTION VALUE="3"{if $userinfo.status eq "3"} SELECTED{/if}>{t}connected{/t}</OPTION>
				<OPTION VALUE="2"{if $userinfo.status eq "2"} SELECTED{/if}>{t}waiting{/t}</OPTION>
				<OPTION VALUE="1"{if $userinfo.status eq "1"} SELECTED{/if}>{t}interested{/t}</OPTION>
				</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2" {tip text="Enter phone number(s)"}>
			<INPUT TYPE="TEXT" NAME="userdata[phone1]" VALUE="{$userinfo.phone1}"><BR>
			<INPUT TYPE="TEXT" NAME="userdata[phone2]" VALUE="{$userinfo.phone2}"><BR>
			<INPUT TYPE="TEXT" NAME="userdata[phone3]" VALUE="{$userinfo.phone3}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/home.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="userdata[address]" VALUE="{$userinfo.address}" SIZE="30" {tip text="Enter address" trigger="address"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B>{t}Zip:{/t}</B><BR><INPUT TYPE="TEXT" NAME="userdata[zip]" VALUE="{$userinfo.zip}" SIZE="10" {tip text="Enter post code" trigger="zip"}><BR>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<B>{t}City:{/t}</B><BR><INPUT TYPE="TEXT" NAME="userdata[city]" VALUE="{$userinfo.city}" SIZE="30" {tip text="Enter city"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/mail.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="userdata[email]" VALUE="{$userinfo.email}" SIZE="30" {tip text="Enter e-mail address (optional)" trigger="email" }><BR>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/gg.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="userdata[gguin]" VALUE="{if $userinfo.gguin}{$userinfo.gguin}{/if}" SIZE="30" {tip text="Enter Internet Messenger UID (optional)" trigger="gguin"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<B>{t}TEN{/t}</B>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="userdata[nip]" VALUE="{$userinfo.nip}" SIZE="30" {tip text="Enter Tax Exempt Number (optional)" trigger="nip"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<B>{t}SSN{/t}</B>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<INPUT TYPE="TEXT" NAME="userdata[pesel]" VALUE="{$userinfo.pesel}" SIZE="30" {tip text="Enter Social Security Number (optional)" trigger="pesel"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/pin.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}PIN:{/t}</B>
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="userdata[pin]" VALUE="{if $userinfo.pin}{$userinfo.pin}{/if}" SIZE="6" {tip text="Enter 4 to 6 digit PIN number (optional)" trigger="pin"}>&nbsp;
			<A href="javascript: randomize()" {tip text="[ Generate PIN ]"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/money.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Balance:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{if $userinfo.balance < 0}<FONT CLASS="ALERT">{$userinfo.balance|money_format}</FONT>{else}{$userinfo.balance|money_format}{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/admins.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{t}Created:{/t}<BR>
			{t}Modified:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$userinfo.createdby}, {$userinfo.creationdateh}<BR>
			{if $userinfo.moddate}{$userinfo.modifiedby}, {$userinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/post.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="1%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC" {tip text="Enter service address (optional)"}>
						<TEXTAREA NAME="userdata[serviceaddr]" STYLE="background-color: #F4F0EC; border-style: none; border-width: 0pt" COLS="40" ROWS="5">{$userinfo.serviceaddr}</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/usercomment.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="1%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC" {tip text="Enter additional informations (optional)"}>
						<TEXTAREA NAME="userdata[info]" STYLE="background-color: #F4F0EC; border-style: none; border-width: 0pt" COLS="40" ROWS="5">{$userinfo.info}</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/warningon.gif" BORDER="0" ALT="">
		</TD>
		<TD WIDTH="99%" CLASS="FRIGHT" COLSPAN="2">
			<TABLE WIDTH="1%" CELLPADDING="5">
				<TR>
					<TD CLASS="FALL" BGCOLOR="#F4F0EC" {tip text="Enter warning message contents (optional)"}>
						<TEXTAREA NAME="userdata[message]" STYLE="background-color: #F4F0EC; border-style: none; border-width: 0pt" COLS="40" ROWS="5">{$userinfo.message}</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="100%" COLSPAN="3" CLASS="FBOTTOMU" ALIGN="RIGHT">
			<A HREF="javascript:document.useredit.submit();" ACCESSKEY="S">{t}Submit{/t} <IMG SRC="img/save.gif" BORDER="0" ALIGN="ABSMIDDLE"></A>
			<A HREF="?m=userinfo&id={$userinfo.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" BORDER="0" ALIGN="ABSMIDDLE"></A>
		</TD>
	</TR>
</TABLE>
</FORM>
<SCRIPT language="javaScript">
<!--
document.forms['useredit'].elements['userdata[lastname]'].focus();
//-->
</SCRIPT>
