<!--// $Id$ //-->
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD class="fall">
			<IMG src="img/money.gif" border="0" ALT="" align="absmiddle">
			<B><A name="balance">Zobowi±zania u¿ytkownika:</A></B>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" class="fall">
			<table cellpadding="5" cellspacing="0" WIDTH="100%">
				<tr class="dark">
					<TD WIDTH="1%" NOWRAP class="fleftu"><B>Taryfa:</B></TD>
					<TD WIDTH="1%" NOWRAP class="fbt" ALIGN="RIGHT">Warto¶æ:</TD>
					<TD WIDTH="1%" NOWRAP class="fbt">Dzieñ zap³aty:</TD>
					<TD WIDTH="1%" NOWRAP class="fbt" ALIGN="RIGHT">Download:</TD>
					<TD WIDTH="1%" NOWRAP class="fbt" ALIGN="RIGHT">Upload:</TD>
					<TD WIDTH="1%" NOWRAP class="fbt">Faktura:</TD>
					<TD WIDTH="94%" NOWRAP class="fbt">Okres:</TD>
					<TD WIDTH="1%" class="frightu">&nbsp;</TD>
				</tr>
				{cycle values="#DFD5BD,#EBE4D6" print=false}
				{foreach from=$assignments item=assignment}
				<tr bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')" {if ($assignment.dateto < $smarty.now && $assignment.dateto) || ($assignment.datefrom > $smarty.now && $assignment.datefrom)}CLASS="blend"{/if}>
					<TD WIDTH="1%" NOWRAP><B><A HREF="?m=tariffinfo&id={$assignment.tariffid}">{$assignment.name}</A></B></TD>
					<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">{$assignment.value|string_format:"%01.2f"} z³</TD>
					<TD WIDTH="1%" NOWRAP>{$assignment.period} ({$assignment.at})</TD>
					<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">{$assignment.downrate|default:"-"} kbps</TD>
					<TD WIDTH="1%" NOWRAP ALIGN="RIGHT">{$assignment.uprate|default:"-"} kbps</TD>
					<TD WIDTH="1%">{if $assignment.invoice}tak{else}&nbsp;{/if}</TD>
					<TD WIDTH="1%">
						{if $assignment.datefrom}od {$assignment.datefrom|date_format:"%Y/%m/%d"}{/if}
						{if $assignment.dateto}do {$assignment.dateto|date_format:"%Y/%m/%d"}{/if}
					</TD>
					<TD WIDTH="94%" ALIGN="RIGHT" NOWRAP>{*<A onClick="return confirmLink(this, 'Jeste¶ pewien ¿e chcesz usun±æ u¿ytkownikowi t± taryfê oraz zaksiêgowaæ wyrównanie od ostatniego zaksiêgowania do dnia dzisiejszego?')" HREF="?m=useredit&action=assignmentdelete&aid={$assignment.id}&id={$balancelist.userid}&balance=1" {tip text="Usuwa taryfê z rekordu u¿ytkownika oraz ksiêguje wyrównanie od dnia ostatniego zdarzenia do dzisiaj"}>Usuñ i wyrównaj <IMG SRC="img/delete.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A> *}<A onClick="return confirmLink(this, 'Jeste¶ pewien ¿e chcesz usun±æ u¿ytkownikowi t± taryfê?')" HREF="?m=useredit&action=assignmentdelete&aid={$assignment.id}&id={$balancelist.userid}" {tip text="Usuwa taryfê z rekordu u¿ytkownika"}>Usuñ <IMG SRC="img/delete.gif" ALT="" BORDER="0" ALIGN="ABSMIDDLE"></A></TD>
				</TR>
				{foreachelse}
				<TR>
					<TD align="center" WIDTH="100%" colspan="9"><p>&nbsp;</p>
						<p><B>Ten u¿ytkownik nie ma przypisanych ¿adnych taryf.</B></p>
						<p>&nbsp;</p>
					</TD>
				</TR>
				{/foreach}
				<TR bgcolor="#DFD5BD">
					<TD CLASS="ftop" ALIGN="RIGHT"><B>Razem:</B></TD>
					<TD CLASS="ftop" NOWRAP ALIGN="RIGHT">{sum array=$assignments column="value" string_format="%01.2f"} z³</TD>
					<TD CLASS="ftop">&nbsp;</TD>
					<TD CLASS="ftop" NOWRAP ALIGN="RIGHT">{sum array=$assignments column="downrate" default="-"} kbps</TD>
					<TD CLASS="ftop" NOWRAP ALIGN="RIGHT">{sum array=$assignments column="uprate" default="-"} kbps</TD>
					<TD CLASS="ftop">&nbsp;</TD>
					<TD CLASS="ftop" NOWRAP ALIGN="RIGHT" COLSPAN="2">&nbsp;</TD>
				</TR>
				<FORM METHOD="POST" NAME="addassignment" ACTION="?m=useredit&action=addassignment&id={$balancelist.userid}">
				<TR bgcolor="#DFD5BD">
					<TD COLSPAN="7">
						<B>Dodaj:</B>
						<SELECT SIZE="1" NAME="tariffid" {tip text="Wybierz taryfê która ma byæ przypisana do u¿ytkownika"}>
							<OPTION VALUE="0">... wybierz taryfê ...</OPTION>
							{section name=t loop=$tariffs}<OPTION VALUE="{$tariffs[t].id}">{$tariffs[t].name} ({$tariffs[t].value|string_format:"%01.2f"} z³{if $tariffs[t].downrate}, {$tariffs[t].downrate} down{/if}{if $tariffs[t].uprate}, {$tariffs[t].uprate} up{/if})</OPTION>{/section}
						</SELECT>
						<NOBR>
						<SELECT SIZE="1" NAME="period" {tip text="Wybierz co jaki okres czasu ma byæ naliczane to zobowi±zanie."}>
							<OPTION VALUE="0">co tydzieñ</OPTION>
							<OPTION VALUE="1" SELECTED>co miesi±c</OPTION>
							<OPTION VALUE="2">co kwarta³</OPTION>
							<OPTION VALUE="3">co rok</OPTION>
						</SELECT>
						<B>kiedy:</B> <INPUT TYPE="TEXT" NAME="at" {tip text="Podaj kiedy ma byæ naliczana taryfa. Dla op³aty cotygodniowej podaj dzieñ tygodnia (poniedzia³ek = 1), dla op³aty miesiêcznej podaj dzieñ miesi±ca (od 1 do 28), dla op³aty corocznej podaj miesi±c i dzieñ w formacie DD/MM (15/09 oznacza 15 wrze¶nia), a dla kwartalnej DD/MM (MM <= 3)."} SIZE="5">
						<INPUT CLASS="box" TYPE="checkbox" NAME="invoice" VALUE="1"> wystawiaj fakturê
						</NOBR>
					</TD>
					<TD ALIGN="RIGHT" ROWSPAN="2" NOWRAP>
						<A HREF="javascript:document.addassignment.submit()" {tip text="Przypisz t± taryfê do u¿ytkownika"}>Dodaj <IMG SRC="img/save.gif" BORDER="0" ALT="" ALIGN="ABSMIDDLE"></A>
					</TD>
				</TR>
				<TR bgcolor="#DFD5BD">
					<TD COLSPAN="7">
						<B>Od:</B> <INPUT TYPE="TEXT" NAME="datefrom" {tip text="Podaj datê w formacie RRRR/MM/DD od kiedy ma obowi±zywaæ dane naliczenie. Pozostaw domy¶ln± warto¶æ aby naliczenie obowi±zywa³o od jutra, lub puste pole aby naliczenie obowi±zywa³o od teraz."} VALUE="" SIZE="10"> <B>Do:</B> <INPUT TYPE="TEXT" NAME="dateto" {tip text="Podaj datê w formacie RRRR/MM/DD do kiedy ma obowi±zywaæ dane naliczenie. Pozostaw puste pole je¿eli naliczenie ma obowi±zywaæ do momentu jego usuniêcia."} SIZE="10">
					</TD>
				</TR>
				</FORM>
			</table>
		</TD>
	</TR>
</TABLE>
