<!--// $Id$ //-->
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK" onclick="showOrHide('groupspanel');">
		<TD class="fall">
			<IMG src="img/group.gif" alt="">
			<B><A name="groups">{t}Groups Membership:{/t}</A></B> 
		</TD>
	</TR>
	<TR id="groupspanel" style="display:none;">
		<TD WIDTH="100%" class="fall">
			<TABLE cellpadding="5" cellspacing="0" WIDTH="100%">
				<TR class="dark">
					<TD WIDTH="1%" NOWRAP class="fleftu"><B>{t}Name:{/t}</B></TD>
					<TD WIDTH="1%" NOWRAP class="fbt" COLSPAN="2">{t}Description:{/t}</TD>
					<TD WIDTH="97%" NOWRAP class="fbt">{t}ID:{/t}</TD>
					<TD WIDTH="1%" class="frightu">&nbsp;</TD>
				</TR>
				{cycle values="light,lucid" print=false}
				{foreach from=$usergroups item=usergroup}
				<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<TD WIDTH="1%" NOWRAP><B><A HREF="?m=usergroupinfo&id={$usergroup.id}">{$usergroup.name}</A></B></TD>
					<TD WIDTH="1%" NOWRAP COLSPAN="2">{$usergroup.description}</TD>
					<TD WIDTH="97%" NOWRAP>({$usergroup.id|string_format:"%04d"})</TD>
					<TD WIDTH="1%" ALIGN="RIGHT" NOWRAP><A onClick="return confirmLink(this, '{t}Are you sure, you want to remove customer from group?{/t}')" HREF="?m=useredit&action=usergroupdelete&usergroupid={$usergroup.id}&id={$userinfo.id}" {tip text="Remove customer from group"}>{t}Delete{/t} <IMG SRC="img/delete.gif" ALT=""></A></TD>
				</TR>
				{foreachelse}
				<TR>
					<TD align="center" WIDTH="100%" colspan="5">
						<p>&nbsp;</p>
						<p><B>{t}That customer is not a member of any group.{/t}</B></p>
						<p>&nbsp;</p>
					</TD>
				</TR>
				{/foreach}
				<FORM METHOD="POST" NAME="usergroupassignment" ACTION="?m=useredit&action=usergroupadd&id={$userinfo.id}">
				<TR class="light">
					<TD COLSPAN="4" CLASS="ftop">
						<B>{t}Add:{/t}</B>
						<SELECT SIZE="1" NAME="usergroupid" {tip text="Select group to attribute to customer"}>
							<OPTION VALUE="0">{t}... select group ...{/t}</OPTION>
							{section name=t loop=$otherusergroups}
							<OPTION VALUE="{$otherusergroups[t].id}">{$otherusergroups[t].name} ({$otherusergroups[t].id|string_format:"%04d"})</OPTION>
							{/section}
						</SELECT>
						<NOBR>
					</TD>
					<TD ALIGN="RIGHT" CLASS="ftop" ROWSPAN="2" NOWRAP>
						<A HREF="javascript:document.usergroupassignment.submit()" {tip text="Add customer to group"}>{t}Add{/t} <IMG SRC="img/save.gif" alt=""></A>
					</TD>
				</TR>
				</FORM>
			</TABLE>
		</TD>
	</TR>
</TABLE>
{literal}<SCRIPT>
<!--
	if(getCookie('groupspanel')=='1')
	{
		document.getElementById('groupspanel').style.display = '';
	}
//-->
</SCRIPT>{/literal}