<!-- $Id$ -->
<FORM name="addbalance" method="POST" action="?m=balanceadd&id={$balancelist.userid}">
<INPUT TYPE="hidden" NAME="addbalance[userid]" VALUE="{$balancelist.userid}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD class="fleftu">
			<IMG src="img/money.gif" border="0" alt="" align="absmiddle">
			{capture name="events"}{math equation="x * -1" x=$limit}{/capture}
			<B><A name="balance">{$lang.users_balance}:</A></B> {if $limit}({$lang.last_n_events|replace:"#":"`$smarty.capture.events`"}){/if}
		</TD>
		<TD class="frightu" align="right">
			{if $limit}<A href="?m=userbalance&id={$balancelist.userid}">{$lang.show_account_details} &raquo;</A>{else}&nbsp;{/if}
		</TD>
	</TR>
	<TR>
		<TD width="100%" colspan="2" class="fall">
			<table border="0" cellpadding="5" cellspacing="0" width="100%">
				<tr class="dark">
					<TD width="1%" class="fleftu">{$lang.date}:</TD>
					<TD width="1%" class="fbt">{$lang.admin}:</TD>
					<TD width="1%" class="fbt"><B>{$lang.type}:</B></TD>
					<TD width="1%" class="fbt" align="right">{$lang.value}:</TD>
					<TD width="1%" class="fbt" align="center">&raquo;</TD>
					<TD width="1%" class="fbt" align="right">{$lang.after}:</TD>
					<TD width="93%" class="frightu">{$lang.description}:</TD>
				</tr>
				{cycle values="#DFD5BD,#EBE4D6" print=false}
				{section name=balancelist loop=$balancelist.id start=$limit}
				<tr bgcolor="{cycle}" {cycle print=false} onmouseover="setPointer(this, '#CCFFCC')" onmouseout="setPointer(this, '{cycle}')">
					<TD width="1%"><nobr>{$balancelist.date[balancelist]}</nobr></TD>
					<TD width="1%">{$balancelist.adminname[balancelist]|replace:" ":"&nbsp;"|truncate:16:"..."}</TD>
					<TD width="1%" NOWRAP><b>{$balancelist.name[balancelist]}</b></TD>
					<TD width="1%" align="right"><nobr>{$balancelist.value[balancelist]|string_format:"`$lang.currency_format`"} {$lang.currency}</nobr></TD>
					<TD width="1%" align="center">&raquo;</TD>
					<TD width="1%" align="right"><nobr>{if $balancelist.after[balancelist] < 0}<FONT color="red">{/if}{$balancelist.after[balancelist]|string_format:"`$lang.currency_format`"} {$lang.currency}{if $balancelist.after[balancelist] < 0}</FONT>{/if}</nobr></TD>
					<TD width="93%">{$balancelist.comment[balancelist]}</TD>
				</TR>
				{sectionelse}
				<TR>
					<TD align="center" width="100%" colspan="7"><p>&nbsp;</p>
						<p><B>{$lang.no_payment_data}</B></p>
						<p>&nbsp;</p>
					</TD>
				</TR>
				{/section}
				<TR bgcolor="#DFD5BD">
					<TD class="ftop">
						<nobr>{$smarty.now|date_format:"%Y/%m/%d %H:%M"}</nobr>
					</TD>
					<TD class="ftop">
						{$layout.logname|replace:" ":"&nbsp;"}
					</TD>
					<TD class="ftop">
						<SELECT SIZE="1" name="addbalance[type]">
							<OPTION value="3">wp³ata</OPTION>
							<OPTION value="4">op³ata ab</OPTION>
						</SELECT>
					</TD>
					<TD colspan="2" class="ftop" nowrap>
						<INPUT TYPE="text" size="12" name="addbalance[value]" accesskey="s"> {$lang.currency}
					</TD>
					<TD colspan="2" align="right" class="ftop">
						<B>{$lang.description}:</B> <INPUT TYPE="text" size="22" align="left" name="addbalance[comment]"> <A href="javascript:document.addbalance.submit();">{$lang.add} <IMG src="img/save.gif" border="0" alt="" align="absmiddle"></A>
					</TD>
				</TR>
			</table>
		</TD>
	</TR>
</TABLE>
</FORM>	
