{include file="header.html"}
<!--// $Id$ //-->
<script language="javaScript">
<!-- 
	function PrintList()
	{
		document.voipaccountsearch.action = "?m=voipaccountsearch&search=1&print=1";
		document.voipaccountsearch.target = "_BLANK";
		document.voipaccountsearch.submit();
	}

	function Search()
	{
		document.voipaccountsearch.action = "?m=voipaccountsearch&search=1";
		document.voipaccountsearch.target = "";
		document.voipaccountsearch.submit();
	}
//-->
</script>
<h1>{$layout.pagetitle}</h1>
<P>
<form method="POST" action="?m=voipaccountsearch&search" name="voipaccountsearch">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="m" value="voipaccountsearch">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td class="FALL" colspan="2">
			<strong>{trans("Find voip accounts matching the following search criteria:")}</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" width="1%" nowrap="nowrap">
			<img src="img/voip.gif" width="16" alt=""> <strong>{trans("Login:")}</strong>
		</td>
		<td class="fright" width="99%">
			<input type="text" name="search[login]" {tip text="Enter login or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" width="1%" nowrap="nowrap">
			<img src="img/passwd.gif" width="16" alt=""> <strong>{trans("Password:")}</strong>
		</td>
		<td class="fright" width="99%">
			<input type="text" name="search[password]" {tip text="Enter password or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" width="1%" nowrap="nowrap">
			<img src="img/phone.gif" width="16" alt=""> <strong>{trans("Phone number:")}</strong>
		</td>
		<td class="fright" width="99%">
			<input type="text" name="search[phone]" {tip text="Enter phone number or it's fragment"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td class="fleft" width="1%" nowrap="nowrap">
			<img src="img/empty.gif" width="16" alt=""> <strong>{trans("Qualification operator:")}</strong>
		</td>
		<td class="fright" width="99%">
			<input class="radio light" type="radio" id="operator0" value="AND" name="k"{if $k!='OR'} checked="checked"{/if}><label for="operator0">{trans("AND")}</label>
			<input class="radio light" type="radio" id="operator1" value="OR" name="k"{if $k=='OR'} checked="checked"{/if}><label for="operator1">{trans("OR")}</label>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" width="100%" colspan="2" align="right">
			<a href="javascript:Search()" accesskey="s">{trans("Search")} <img src="img/search.gif" alt=""></a>
			<a href="javascript:PrintList()">{trans("Print")} <img src="img/print.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
</P>
<script language="javaScript">
<!--
document.forms['voipaccountsearch'].elements['search[login]'].focus();
//-->
</script>
{include file="footer.html"}
