{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><table class="lmsbox">
    <THEAD>
	<TR {tip text="Click on column name to change sorting order"}>
		<TD width="96%" NOWRAP>
			<img src="img/voip.gif" ALT=""> <A href="?m=voipaccountsearch&search&o=login{if $listdata.direction eq "asc" && $listdata.order eq "login"},desc{/if}"><B>{trans("Login:")}</B></A> {if $listdata.order eq "login"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<img src="img/customer.gif" ALT=""> <A href="?m=voipaccountsearch&search&o=owner{if $listdata.direction eq "asc" && $listdata.order eq "owner"},desc{/if}">{trans("Owner:")}</A> {if $listdata.order eq "owner"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountsearch&search&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order eq "id"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountsearch&search&o=phone{if $listdata.direction eq "asc" && $listdata.order eq "phone"},desc{/if}">{trans("Phone number:")}</A> {if $listdata.order eq "phone"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" nowrap>
			<A href="?m=voipaccountsearch&search&o=passwd{if $listdata.direction eq "asc" && $listdata.order eq "passwd"},desc{/if}">{trans("Password:")}</A> {if $listdata.order eq "passwd"}<IMG SRC="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" align="right">
			<NOBR><B>{t a=$listdata.total}Total: $a{/t}</B></NOBR>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$voipaccountlist adlink="&search=1"}
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=voipaccountlist loop=$voipaccountlist start=$start max=$pagelimit}
	<TR class="highlight {cycle}"  >
		<TD width="96%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" nowrap>
			<a name="{$voipaccountlist[voipaccountlist].id}">
			<img src="img/voip.gif" ALT="">
			<B>{$voipaccountlist[voipaccountlist].login}</B></A><BR>
			<img src="img/customer.gif" ALT="">&nbsp;<A href="?m=customerinfo&id={$voipaccountlist[voipaccountlist].ownerid}" {tip a=$voipaccountlist[voipaccountlist].ownerid dynpopup='?m=customerinfoshort&id=$a'}>{$voipaccountlist[voipaccountlist].owner|truncate:60:" ..."|replace:" ":"&nbsp;"} ({$voipaccountlist[voipaccountlist].ownerid|string_format:"%04d"})</A>
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			({$voipaccountlist[voipaccountlist].id|string_format:"%04d"})
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			<B>{$voipaccountlist[voipaccountlist].phone}</B>
		</TD>
		<TD width="1%" onClick="return self.location.href='?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
			{$voipaccountlist[voipaccountlist].passwd}
		</TD>
		<TD width="1%" align="right">
			<nobr>
			<a href="?m=voipaccountdel&id={$voipaccountlist[voipaccountlist].id}" onClick="return confirmLink(this, '{t a=$voipaccountlist[voipaccountlist].login}Are you sure, you want to remove voip account \'$a\' from database?{/t}')"><img src="img/delete.gif" ALT="[ {trans("Delete")} ]"></A>
			<a href="?m=voipaccountedit&id={$voipaccountlist[voipaccountlist].id}"><img src="img/edit.gif" ALT="[ {trans("Edit")} ]"></A>
			<a href="?m=voipaccountinfo&id={$voipaccountlist[voipaccountlist].id}"><img src="img/info.gif" ALT="[ {trans("Info")} ]"></A>
			</nobr>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="5" align="center">
			<P>&nbsp;</P>
			<P><B>{trans("No such voip accounts matching search criteria.")}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$voipaccountlist adlink="&search=1"}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="98%" COLSPAN="2" ALIGN="right">
			<B>
				{trans("Total:")}<BR>
			</B>
		</TD>
		<TD WIDTH="2%" COLSPAN="3" VALIGN="TOP">
			<B>
				{if $listdata.total}{$listdata.total}{else}0{/if}<BR>
			</B>
		</TD>				
	</TR>
    </TBODY>
</TABLE></P>
{include file="footer.html"}
