<!--// $Id$ //-->
<form name="editvoipaccount" method="POST" action="?m=voipaccountedit&id={$voipaccountinfo.id}">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="voipaccountedit[id]" value="{$voipaccountinfo.id}">
<table width="100%" cellpadding="3">
	<tr class="DARK">
		<td width="1%" class="FLEFTU">
			<img src="img/voip.gif" alt="{trans("Login:")}">
		</td>
		<td width="1%" class="FBT">
			<strong>{trans("Login:")}</strong>
		</td>
		<td width="98%" class="FRIGHTU">
			<input type="TEXT" name="voipaccountedit[login]" value="{$voipaccountinfo.login}" maxlength="32" size="30" {tip text="Enter voip account login" trigger="login" bold=1}>
			<strong>({$voipaccountinfo.id|string_format:"%04d"})</strong>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/passwd.gif" alt="{trans("Password:")}">
		</td>
		<td width="1%">
			<strong>{trans("Password:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="voipaccountedit[passwd]" value="{$voipaccountinfo.passwd}" {tip text="Enter password" trigger="passwd"}>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/phone.gif" alt="{trans("Phone number:")}">
		</td>
		<td width="1%">
			<strong>{trans("Phone number:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<input type="TEXT" name="voipaccountedit[phone]" value="{$voipaccountinfo.phone}" {tip text="Enter phone number" trigger="phone"}>
		</td>
	</tr>
        <tr class="LIGHT">
                <td width="1%" class="FLEFT">
                        <img src="img/{if ! $voipaccountinfo.access}no{/if}access.gif" alt="">
                </td>
		<td width="1%">
			<strong>{trans("Status:")}</strong>
		</td>
                <td width="99%" class="FRIGHT">
                        <select size="1" name="voipaccountedit[access]" {tip text="Select node status" trigger="access"}>
                                <option value="1"{if $voipaccountinfo.access} selected="selected"{/if}>{trans("connected<!singular>")}</option>
                                <option value="0"{if ! $voipaccountinfo.access} selected="selected"{/if}>{trans("disconnected<!singular>")}</option>
                        </select>
                </td>
        </tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/customer.gif" alt="{trans("Customer:")}">
		</td>
		<td width="1%">
			<strong>{trans("Customer:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			<select size="1" name="voipaccountedit[ownerid]" {tip text="Assign voip account to customer"} style="max-width:250px;">
				{foreach from=$customers item=c}
				<option value="{$c.id}"{if $voipaccountinfo.ownerid eq $c.id} selected="selected"{/if}>{$c.customername|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="1%" class="FLEFT">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<strong>{trans("Created:")}<br />
			{trans("Modified:")}</strong>
		</td>
		<td width="98%" class="FRIGHT">
			{$voipaccountinfo.createdby}, {$voipaccountinfo.creationdateh}<br />
			{if $voipaccountinfo.moddate}{$voipaccountinfo.modifiedby}, {$voipaccountinfo.moddateh}{else}-{/if}
		</td>
	</tr>
	<tr class="LIGHT">
		<td width="100%" class="FBOTTOMU" colspan="3" align="RIGHT">
			<a href="javascript:document.editvoipaccount.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=voipaccountinfo&id={$voipaccountinfo.id}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>	
</table>
</form>
<script type="text/javascript">
<!--
	document.forms['editvoipaccount'].elements['voipaccountedit[login]'].focus();
//-->
</script>
