<!-- $Id$ -->
<FORM NAME="editipaddr" METHOD="POST" ACTION="?m=netdevedit&action=formaddip&id={$netdev.id}">
<INPUT type="submit" class="hiddenbtn">
<INPUT TYPE="hidden" NAME="nodeedit[id]" VALUE="{$netdev.id}">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/ip.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Name:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="ipadd[name]" VALUE="{$nodeipdata.name}" MAXLENGTH="32" size="30" {tip text="Enter address name" trigger="ipname" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
	    <TD WIDTH="100%" COLSPAN="3" CLASS="flr container">
			<TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1"%">
			<IMG SRC="img/network.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Network:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="ipadd[netid]" {tip text="Choose network" trigger="netid"}>
				<OPTION value="0">{trans("- automatic selection -")}</OPTION>
				{foreach $networks as $net}
				<OPTION VALUE="{$net.id}" {if $net.id == $nodeipdata.netid} selected{/if}{if $net.disabled == 1} class="alert"{/if}>{$net.name|truncate:20:"":true}: {$net.address}/{$net.prefix}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/ip.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("IP address:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="ipadd[ipaddr]" VALUE="{$nodeipdata.ipaddr}" {tip text="Enter IP address" trigger="ipaddr"}>
			<a href="javascript: void(0);" onClick="return ipchoosewin({
					ipelem: document.editipaddr['ipadd[ipaddr]'],
					ip: document.editipaddr['ipadd[ipaddr]'].value,
					netelem: document.editipaddr['ipadd[netid]'],
					netid: document.editipaddr['ipadd[netid]'].value,
					device: {$netdev.id}
				});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</A>
			<br>
			<a href="#" id="selectfirstfreeaddress">{trans("Select first free address")}</a>
		</TD>
	</TR>
	<script type="text/javascript">
	<!--
		$(function() {
			$('#selectfirstfreeaddress').click(function() {
				var netid = $('[name="ipadd[netid]"]').val();
				if (netid == 0)
					return;
				xajax_getFirstFreeAddress(netid, $('[name="ipadd[ipaddr]"]').uniqueId().attr('id'));
			});
		});
	//-->
	</script>
	{if ConfigHelper::checkConfig('phpui.public_ip')}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/ip_pub.gif" ALT="{trans("Pub. IP address:")}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Pub. IP address:")}</B>
		</TD>
		<TD WIDTH="98%">
			<input type="hidden" name="ipadd[pubnetid]" value="{$nodeipdata.pubnetid}">
			<INPUT TYPE="TEXT" NAME="ipadd[ipaddr_pub]" VALUE="{$nodeipdata.ipaddr_pub}" {tip text="Enter IP address (optional)" trigger="ipaddr_pub"}>
			<a href="javascript: void(0);" onClick="return ipchoosewin({
					ipelem: document.editipaddr['ipadd[ipaddr_pub]'],
					ip: document.editipaddr['ipadd[ipaddr_pub]'].value,
					netelem: document.editipaddr['ipadd[pubnetid]'],
					netid: document.editipaddr['ipadd[pubnetid]'].value,
					privnetid: document.editipaddr['ipadd[netid]'].value,
					device: {$netdev.id}
				});" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/mac.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("MAC address:")}</B>
		</TD>
		<td WIDTH="98%" class="lms-ui-mac-address-selection nobr">
			{mac_address_selection form="ipadd" macs=$nodeipdata.macs}
		</td>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/passwd.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Password:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="ipadd[passwd]" VALUE="{$nodeipdata.passwd}" {tip text="Enter password (optional)" trigger="passwd"}> <a href="javascript: GenPasswd();" {tip text="Click to generate random password"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Options:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			<label>
				<INPUT TYPE="checkbox" NAME="ipadd[chkmac]" VALUE="1" ID="chkmac" {tip text="Enable/disable MAC address checking" trigger="chkmac"}{if $nodeipdata.chkmac} checked{/if}>&nbsp;
				{trans("MAC checking")}
			</label>

			<label>
				<INPUT TYPE="checkbox" NAME="ipadd[halfduplex]" VALUE="1" ID="chkduplex" {tip text="Select transmission mode" trigger="halfduplex"}{if $nodeipdata.halfduplex} checked{/if}>
				{trans("Half duplex")}
			</label>

			{if ConfigHelper::checkConfig('phpui.radius')}
				<label for="chknas">
					<INPUT TYPE="checkbox" NAME="ipadd[nas]" VALUE="1" ID="chknas" {tip text="Select NAS on or off" trigger="nas"}{if $nodeipdata.nas} checked{/if}>
					{trans("NAS")}
				</label>
			{/if}
		</TD>
	</TR>
	<TR>
		<TD style="width: 1%;">
			<i class="lms-ui-icon-netdevice"></i>
		</TD>
		<td class="bold">
			{trans("Type:")}
		</td>
		<TD style="width: 99%;" class="nobr">
			{foreach $_SESSIONTYPES as $idx => $sessiontype}
			<label>
				<INPUT TYPE="checkbox" NAME="ipadd[authtype][{$idx}]" value="{$idx}" id="authtype{$idx}" {tip text="`$sessiontype.tip`" trigger="authtype`$idx`"} onchange="change_authtype()" {if ($nodeipdata.authtype & $idx) == $idx} checked{/if}>
				{$sessiontype.label}
			</label><br>
			{/foreach}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/{if ! $nodeipdata.access}no{/if}access.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Status:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT SIZE="1" NAME="ipadd[access]" {tip text="Select address status"}>
				<OPTION VALUE="1"{if $nodeipdata.access} SELECTED{/if}>{trans("connected<!singular>")}</OPTION>
				<OPTION VALUE="0"{if ! $nodeipdata.access} SELECTED{/if}>{trans("disconnected<!singular>")}</OPTION>
			</SELECT>
		</TD>
	</TR>
                                        </TABLE>
				</TD>
				<TD WIDTH="50%" style="vertical-align:top;">
					<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<i class="lms-ui-icon-description"></i>
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Description:")}</B>
		</TD>
		<TD WIDTH="98%">
			<TEXTAREA NAME="ipadd[info]" ROWS="5" COLS="40" {tip text="Enter additional information (optional)"}>{$nodeipdata.info}</TEXTAREA>
		</TD>
	</TR>
                                        	</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.editipaddr.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netdevinfo&id={$netdev.id}">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT>

	document.forms['editipaddr'].elements['ipadd[name]'].focus();

	function GenPasswd() {
		var length = {ConfigHelper::getConfig('phpui.nodepassword_length', '16')};
		if (length > 32) length = 32;

		document.forms['editipaddr'].elements['ipadd[passwd]'].value =
			generate_random_string(length, "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789");
	}

</SCRIPT>
