{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<H1>{$layout.pagetitle}</H1>
{block name=netdevipinfobox}
	{include file="netdev/netdevipinfobox.html"}
{/block}
{block name=netdevinfobox}
	{include file="netdev/netdevinfobox.html" devicepanel=1}
{/block}
{block name=netdevipbox}
	{include file="netdev/netdevipbox.html"}
{/block}
{block name="routednetworks"}
	{include file="node/routednetworks.html"}
{/block}
{block name=netdevnodesessionbox}
	{include file="node/nodesessions.html"}
{/block}
{block name=netdevmanagementurl}
	{include file="managementurl/managementurls.html"}
{/block}
{block name=netdevconnbox}
	{include file="netdev/netdevconnbox.html"}
{/block}
{block name=netdevnodes}
	{include file="netdev/netdevnodes.html"}
{/block}
{block name=radiosectors}
	{include file="netdev/radiosectors.html"}
{/block}
{/block}
