{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<script type="text/javascript" src="img/netnodehelper.js"></script>
{include file="google-maps.html"}
<H1>{$layout.pagetitle}</H1>

<style>
	.tab-beutify td { padding: 3px; }
	.tab-beautify tr td:first-child {
		font-weight: bold;
		white-space: nowrap;
	}
	.text-normal {
		font-weight: normal !important;
	}
</style>

<form name="netdevadd" method="post" action="?m=netdevadd">
<input type="submit" class="hiddenbtn">

<table class="lmsbox">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 1%;">
        <col style="width: 98%;">
    </colgroup>

    <thead>
	<tr>
		<td><img src="img/netdev.gif" alt=""></td>
		<td>{trans("Name:")}</td>
		<td>
			<input type="text" name="netdev[name]" value="{$netdev.name}" maxlength="32" required {tip trigger="name" text="Enter device name" bold=1}>
		</td>
	</tr>
    </thead>

    <tbody>
	<tr>
        <td colspan="3" class="container">
		    <table width="100%" cellpadding="0">
				<tr>
					<td width="50%" class="valign-top">
					    <table class="tab-beautify">
                            
							<tr>
								<td><img src="img/producer.gif" alt=""> {trans("Status:")}</td>
								<td>
									<select name="netdev[status]" {tip text="Select device status"} value="{$netdev.status}">
										{foreach $_NETELEMENTSTATUSES as $idx => $status}
										<option value="{$idx}"{if $netdev.status == $idx} selected{/if}>{$status}</option>
										{/foreach}
									</select>
								</td>
							</tr>
							<tr>
								<td><img src="img/producer.gif" alt=""> {trans("Manufacturer:")}</td>
								<td>
									<input type="text" id="producer" name="netdev[producer]" value="{$netdev.producer}" {tip text="Enter producer name (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/netdev_model.gif" alt=""> {trans("Model:")}</td>
								<td>
									<input type="text" id="model" name="netdev[model]" value="{$netdev.model}" {tip text="Enter device model (optional)"}>
				                    <a href="#" id="modelselect" {tip text="Click to select model"}>&raquo;&raquo;&raquo;</a>
									<br>
			                        <input type="hidden" id="netdevmodelid" name="netdev[netdevicemodelid]" value="{$netdev.netdevicemodelid}">
								</td>
							</tr>
							<tr>
								<td><img src="img/serialnumber.gif" alt=""> {trans("Serial number:")}</td>
								<td>
									<input type="text" name="netdev[serialnumber]" value="{$netdev.serialnumber}" {tip text="Enter device serial number (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/port.gif" alt=""> {trans("Number of ports:")}</td>
								<td>
									<input type="text" name="netdev[ports]" value="{if $netdev.ports}{$netdev.ports}{/if}" {tip trigger="ports" text="Enter number of ports (optional)"}>
								</td>
							</tr>

							<tr>
								<td><img src="img/customer.gif" alt=""> {trans("Owner:")}</td>
								<td>
									{if isset($customer.id)}
										{customerlist form="netdevadd" customers=$customers selected=$customer.id selectname="customer" inputname="netdev[ownerid]" select_id="ownerid_select" input_id="ownerid_input" customOnChange="customerChanged()"}
									{else}
										{customerlist form="netdevadd" customers=$customers selected=$netdev.ownerid selectname="customer" inputname="netdev[ownerid]" select_id="ownerid_select" input_id="ownerid_input" customOnChange="customerChanged()"}
									{/if}
								</td>
							</tr>

							<tr id="location_select">
								<td><img src="img/home.gif" alt=""> {trans("Location:")}</td>
								<td>
									<select id="customer_addresses" name="netdev[address_id]" {tip trigger="address_id"}></select>
								</td>
							</tr>

							<tr id="location_box">
								<td><img src="img/home.gif" alt=""> {trans("Location:")}</td>
								<td>
									{location_box
										prefix               = "netdev"
										address_id           = "{$netdev.address_id}"
										location_name        = "{$netdev.location_name}"
										location_state_name  = "{$netdev.location_state_name}"
										location_state       = "{$netdev.location_state}"
										location_city_name   = "{$netdev.location_city_name}"
										location_city        = "{$netdev.location_city}"
										location_postoffice  = "{$netdev.location_postoffice}"
										location_street_name = "{$netdev.location_street_name}"
										location_street      = "{$netdev.location_street}"
										location_house       = "{$netdev.location_house}"
										location_flat        = "{$netdev.location_flat}"
										location_zip         = "{$netdev.location_zip}"
										location_country_id  = "{$netdev.location_country_id}"
										teryt                = "{$netdev.teryt}"
									}
								</td>
							</tr>
					        <tr>
					            <td colspan="2" class="text-normal">
                                    <img src="img/network.gif" alt="">
                                    <span class="lms-ui-button" id="set_gps">{trans("Determine GPS coordinates automatically")}</span>
					            </td>
					        </tr>
							<tr>
								<td><img src="img/home.gif" alt=""> {trans("GPS longitude:")}</td>
								<td>
									<input id="longitude" type="text" name="netdev[longitude]" value="{$netdev.longitude}" {tip text="Enter device longitude (optional)" trigger="longitude"}>
									<a href="javascript:void(0);" onClick="return gpscoordschoosewin(document.netdevadd.elements['netdev[longitude]'], document.netdevadd.elements['netdev[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
								</td>
							</tr>
							<tr>
								<td><img src="img/home.gif" alt=""> {trans("GPS latitude:")}</td>
								<td>
									<input id="latitude" type="text" name="netdev[latitude]" value="{$netdev.latitude}" {tip text="Enter device latitude (optional)" trigger="latitude"}>
									<a href="javascript:void(0);" onClick="return gpscoordschoosewin(document.netdevadd.elements['netdev[longitude]'], document.netdevadd.elements['netdev[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
								</td>
							</tr>

							{if ConfigHelper::checkConfig('phpui.radius')}
							<tr>
								<td><img src="img/radius.gif" alt=""> {trans("Shortname:")}</td>
								<td>
									<input type="text" name="netdev[shortname]" value="{$netdev.shortname}" maxlength="32" {tip trigger="shortname" text="Enter shortname (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/radius.gif" alt=""> {trans("Type:")}</td>
								<td>
									<select name="netdev[nastype]" {tip text="Select type (optional)" trigger="nastype"}>
										<option value="0"></option>
										{foreach $nastypes as $key => $item}
										<option value="{$key}"{if $key == $netdev.nastype} selected{/if}>{$item.name}</option>
										{/foreach}
									</select>
								</td>
							</tr>
							<tr>
								<td><img src="img/radius.gif" alt=""> {trans("Max clients:")}</td>
								<td>
									<input type="text" name="netdev[clients]" value="{if $netdev.clients}{$netdev.clients}{/if}" {tip trigger="clients" text="Enter max clients (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/radius.gif" alt=""> {trans("Secret:")}</td>
								<td>
									<input type="text" name="netdev[secret]" value="{$netdev.secret}" maxlength="60" {tip text="Enter secret (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/radius.gif" alt=""> {trans("Community:")}</td>
								<td>
									<input type="text" name="netdev[community]" value="{$netdev.community}" maxlength="50" {tip text="Enter community (optional)"}>
								</td>
							</tr>
							{/if}

							{if isset($channels)}
							<tr>
								<td><img src="img/channel.gif" alt=""> {trans("Channel:")}</td>
								<td>
									<select name="netdev[channelid]" {tip text="Select channel (optional)" trigger="channelid"}>
										<option value="">- {trans("none")} -</option>
										{foreach from=$channels item=item}
										<option value="{$item.id}" {if $item.id == $netdev.channelid} selected{/if}>{$item.name}</option>
										{/foreach}
									</select>
								</td>
							</tr>
							{/if}
	                    </table>
					</td>
					<td width="50%" class="valign-top">
						<table class="tab-beautify">
							<tr>
								<td><img src="img/calendar.gif" alt=""> {trans("Purchase date:")}</td>
								<td>
									<input type="text" name="netdev[purchasedate]" value="{if $netdev.purchasedate}{$netdev.purchasedate}{/if}" size="10" maxlength="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" trigger="purchasedate" text="Enter device purchase date in 'yyyy/mm/dd' format or click to choose date from calendar (optional)"}>
								</td>
							</tr>
							<tr>
								<td><img src="img/guarantee.png" alt=""> {trans("Guarantee period:")}</td>
								<td>
									<select size="1" name="netdev[guaranteeperiod]" {tip text="Select device guarantee period (optional)"}>
										{foreach from=$_GUARANTEEPERIODS key=key item=period}
										<option value="{$key}"{if $netdev.guaranteeperiod == $key} selected{/if}>{$period}</option>
										{/foreach}
									</select>
								</td>
							</tr>
							<tr>
								<td><img src="img/desc.gif" alt=""> {trans("Description:")}</td>
								<td>
									<textarea name="netdev[description]" cols="40" rows="5" {tip text="Enter additional information (optional)"}>{$netdev.description}</textarea>
								</td>
							</tr>
							<tr>
								<td><img src="img/money.gif" alt=""> {trans("Investment project:")}</td>
								<td>
									<select name="netdev[invprojectid]" id="NNproject" {tip text="Select project for this node"} onchange="setNNProject();">
										<option value="-2"{if ($netdev.invprojectid == '-2')} selected{/if}>- {trans("none")} -</option>
										<option value="-1"{if ($netdev.invprojectid == '-1')} selected{/if}>{trans("New project")}</option>
										<option value="1"{if ($netdev.invprojectid == '1')} selected{/if}>{trans("From root device")}</option>
										{foreach $NNprojects as $project}
										<option value="{$project.id}"{if ($netdev.invprojectid == $project.id)} selected{/if}>{$project.name}</option>
										{/foreach}
									</select>
									<input type="text" name="netdev[projectname]" value="{$netdev.projectname}" {tip text="Enter new project name" trigger="projectname" } id="NNprojectname">
								</td>
							</tr>
							<tr>
								<td><img src="img/netnode.png" alt=""> {trans("Network node:")}</td>
								<td>
									<select name="netdev[netnodeid]" {tip text="Select node"}>
										<option value="-1">{trans("None")}</option>
										{foreach $NNnodes as $node}
										<option value="{$node.id}"{if ($netdev.netnodeid == $node.id)} selected{/if}>{$node.name}</option>
										{/foreach}
									</select>
								</td>
							</tr>
	                    </table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="100%" colspan="3" class="text-right">
			<a href="javascript:document.netdevadd.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=netdevlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
    </tbody>
</table>

</form>

<script type="text/javascript">
<!--
    document.forms['netdevadd'].elements['netdev[name]'].focus();
    setNNProject();

    /*
     * \brief Update address location coordinates. Require google API key.
     */
	$( '#set_gps' ).click( function() {
		var owner_id = $( '#ownerid_input' ).val();
		var location = null;

		if ( owner_id != 'undefined' && owner_id > 0 && $( '#customer_addresses' ).val() > 0 ) {
			location = {
				address_id: $( '#customer_addresses' ).val()
			}
		} else if ($('[data-address="city"]').val().length) {
			location = {
				street:	$('[data-address="street"]').val(),
				house:	$('[data-address="house"]' ).val(),
				flat:	$('[data-address="flat"]'  ).val()
			}
			if ($('[data-address="teryt-checkbox"]').prop('checked') && $('[data-address="city-hidden"]').val() > 0) {
				location.city_id = $('[data-address="city-hidden"]').val();
				location.street_id = $('[data-address="street-hidden"]').val();
			} else {
				location.state = $('[data-address="state"]' ).val();
				location.zip = $('[data-address="zip"]'   ).val();
				location.city = $('[data-address="city"]'  ).val();
			}
		}

		if ( location ) {
			xajax_get_gps_coordinates(location, 'latitude', 'longitude');
		}
	});

    $( function() {
        $( "#modelselect" ).click( function() {
            netdevmodelchoosewin('netdev', 'netdevadd', $('#netdevmodelid'), $('#producer').val(), $('#model').val());
            event.preventDefault();
        });
    });

    /*!
     * \brief Show / hide location choose box.
     * If owner id is set then show list with customer addresses,
     * else show location box to manual set location for network device.
     *
     * \param customer_id
     */
    function updateLocationBoxesDisplay( customer_id ) {
        if ( customer_id == 'undefined' || customer_id == 0 ) {
            $( '#location_select' ).css('display', 'none');
            $( '#location_box'    ).css('display', 'table-row');
        } else {
            $( '#location_select' ).css('display', 'table-row');
            $( '#location_box'    ).css('display', 'none');
        }
    }

    var customer_addresses = new LmsUiIconSelectMenu( "#customer_addresses" );

    /*!
     * \brief Update customer addresses list on input change.
     */
    function customerChanged() {
        var id = $('#ownerid_input').val();

        updateLocationBoxesDisplay( id );

        getCustomerAddresses(id, function(addresses) {
            customer_addresses.setAddressList( addresses );
        });
    };

    updateLocationBoxesDisplay( {intval($netdev.ownerid)} );

    getCustomerAddresses( {intval($netdev.ownerid)}, function(addresses) {
        customer_addresses.setAddressList( addresses );
        {if $netdev.address_id && $netdev.ownerid}
        $( '#customer_addresses' ).val( {$netdev.address_id} );
        {/if}
        customer_addresses.init();
        customer_addresses.refresh();
    });
//-->
</script>
{/block}
