{extends file="layout.html"}

{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>

<table class="lmsbox">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 1%;">
        <col style="width: 98%;">
    </colgroup>
    <thead>
    <tr>
        <td colspan="3" class="bold">
            {trans("Find IP networks matching the following search criteria:")}
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <img src="img/ip.gif" alt="">
        </td>
        <td class="bold nobr">
            {trans("Network/Address:")}
        </td>
        <td>
            <input type="text" id="ipaddr">
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/ip.gif" alt="">
        </td>
        <td class="bold nobr">
            {trans("Mask:")}
        </td>
        <td>
            <select id="mask_select">
                <option value="128.0.0.0">/1 (128.0.0.0)</option>
                <option value="192.0.0.0">/2 (192.0.0.0)</option>
                <option value="224.0.0.0">/3 (224.0.0.0)</option>
                <option value="240.0.0.0">/4 (240.0.0.0)</option>
                <option value="248.0.0.0">/5 (248.0.0.0)</option>
                <option value="252.0.0.0">/6 (252.0.0.0)</option>
                <option value="254.0.0.0">/7 (254.0.0.0)</option>
                <option value="255.0.0.0">/8 (255.0.0.0)</option>
                <option value="255.128.0.0">/9 (255.128.0.0)</option>
                <option value="255.192.0.0">/10 (255.192.0.0)</option>
                <option value="255.224.0.0">/11 (255.224.0.0)</option>
                <option value="255.240.0.0">/12 (255.240.0.0)</option>
                <option value="255.248.0.0">/13 (255.248.0.0)</option>
                <option value="255.252.0.0">/14 (255.252.0.0)</option>
                <option value="255.254.0.0">/15 (255.254.0.0)</option>
                <option value="255.255.0.0">/16 (255.255.0.0)</option>
                <option value="255.255.128.0">/17 (255.255.128.0)</option>
                <option value="255.255.192.0">/18 (255.255.192.0)</option>
                <option value="255.255.224.0">/19 (255.255.224.0)</option>
                <option value="255.255.240.0">/20 (255.255.240.0)</option>
                <option value="255.255.248.0">/21 (255.255.248.0)</option>
                <option value="255.255.252.0">/22 (255.255.252.0)</option>
                <option value="255.255.254.0">/23 (255.255.254.0)</option>
                <option value="255.255.255.0" selected>/24 (255.255.255.0)</option>
                <option value="255.255.255.128">/25 (255.255.255.128)</option>
                <option value="255.255.255.192">/26 (255.255.255.192)</option>
                <option value="255.255.255.224">/27 (255.255.255.224)</option>
                <option value="255.255.255.240">/28 (255.255.255.240)</option>
                <option value="255.255.255.248">/29 (255.255.255.248)</option>
                <option value="255.255.255.252">/30 (255.255.255.252)</option>
                <option value="255.255.255.254">/31 (255.255.255.254)</option>
                <option value="255.255.255.255">/32 (255.255.255.255)</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="buttons" colspan="3">
            <span class="lms-ui-button" id="do_search">{trans("Search")} <img src="img/view.gif" alt=""></span>
        </td>
    </tr>
    </tbody>
</table>

<style>
    .lmsbox_mark_odd_rows tbody tr:nth-child(odd){
        background-color: #EBE4D6;
    }
    .lmsbox_mark_odd_rows tbody td {
        padding-left: 10%;
    }
    .lmsbox_mark_odd_rows tbody td:hover {
        background-color: #CCFFCC;
        cursor: pointer;
    }
    .node:before   { content:url('img/node.gif');   }
    .netdev:before { content:url('img/netdev.gif'); }
</style>
<table class="lmsbox lmsbox_mark_odd_rows" id="ip_addr_container" style="display: none;">
    <thead>
        <tr>
            <td colspan="4" class="bold">{trans('Result')}</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    var ip_end     = 0;
    var ip_current = 0;
    var data;

    $( function() {
        /*!
         * \brief Send request after press ENTER on IP address input.
         */
        $('#ipaddr').keydown( function(key) {
            if (key.which === 13) {
                $('#do_search').trigger('click');
            }
        });

        /*!
         * \brief Get used IP addresses.
         */
        $('#do_search').click( function() {
            if ( $('#ipaddr').val() == '' ) {
                return;
            }

            $('#ip_addr_container').fadeOut(100, function(){
                // clear current table rows
                $('#ip_addr_container tbody tr').remove();

                // load data
                getAddressList($('#ipaddr').val(), $('#mask_select').val());

                // show table
                $('#ip_addr_container').fadeIn(300);
            });
        });

        /*!
         * \brief Append IP addresses while scroll down.
         */
        $(window).scroll(function() {
            if ( $(this).scrollTop() + $(this).height() > $(document).height() - 500 ) {
                tabFill();
            }
        });

        /*!
         * \brief On node table cell click.
         */
        $(document).on('click', '.node', function() {
            window.location.href = "?m=nodeinfo&id=" + $(this).attr('data-id');
        });

        /*!
         * \brief On net device table cell click.
         */
        $(document).on('click', '.netdev', function() {
            window.location.href = "?m=netdevinfo&id=" + $(this).attr('data-id');
        });
    });

    /*!
     * \brief Returns ip address usage list.
     *
     * \param string ip   Ip address
     * \param string mask Network mask
     */
    function getAddressList(ip, mask) {
        $('#ip_addr_container').css('display', 'none');

        $.ajax({
            url: "?&m=netmap&ip=" + ip + "&mask=" + mask
        }).done( function( response ) {
            data = JSON.parse(response);

            ip_current = data['ip_start'];
            ip_end     = data['ip_end'];

            tabFill();
        });
    }

    /*!
     * \brief Manage address IP pool to print.
     */
    function tabFill() {
        if ( ip_current >= ip_end ) {
            return;
        }

        if ( ip_end - ip_current > 1024 ) {
            _insertRows( ip_current, ip_current+1024 );
            ip_current += 1024;
        } else {
            _insertRows( ip_current, ip_end );
            ip_current = ip_end;
        }
    }

    /*!
     * \brief Append IP addresses to table.
     */
    function _insertRows( start, end ) {
        var ip;
        var tmp;
        var counter = 1;
        var row = '';

        for ( var i = start; i <= end; ++i, ++counter ) {
            ip = data['data'][i];

            if ( typeof ip !== 'undefined' ) {
                if ( ip['netdev_name'] != null && ip['netdev_name'].length > 0 ) {
                    row += '<td class="blend netdev" data-id="'+ip['id']+'"> ' + ip['netdev_name'] + '</td>';
                } else {
                    row += '<td class="blend node" data-id="'+ip['id']+'"> ' + ip['name'] + '</td>';
                }
            } else {
                tmp = long2ip(i);

                row += '<td onclick="return self.location.href=\'?m=nodeadd&amp;preip='+tmp+'\'">';
                row += '<span class="lms-ui-button">' + tmp + '</span>';
                row += '</td>';
            }

            if ( counter % 4 == 0 ) {
                $('#ip_addr_container').append( '<tr>'+row+'</tr>' );
                row = '';
            }
        }
    }
</script>

{/block}
