{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM method="POST" action="?m=configedit&id={$config.id}" name="config">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="1%">
			<img src="img/settings.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Name:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="config[var]" value="{$config.var}" {tip text="Enter option name" trigger="var" bold=1}>&nbsp;
			<B>{trans("Section:")}</B>
			<SELECT size="1" name="config[section]" {tip text="Select section" trigger="section"}>
				{foreach $sections as $section}
				<OPTION value="{$section}"{if $config.section == $section} selected{/if}>{$section}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="1%">
			<img src="img/producer.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Value:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA rows="5" cols="50" name="config[value]" {tip class="lms-ui-wysiwyg-editor" text="Enter option value" trigger="value"} data-wysiwyg="{if $config.type == $smarty.const.CONFIG_TYPE_RICHTEXT || (isset($config.wysiwyg.value) && ConfigHelper::checkValue($config.wywiwyg.value))}true{else}false{/if}">{$config.value}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/info1.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Comment:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA rows="5" cols="50" name="config[description]" {tip text="Enter description (optional)" trigger="description"}>{$config.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/wait.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Status:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="checkbox" value="1" id="disabled" name="config[disabled]" {if $config.disabled}CHECKED{/if} {tip text="You can turn it off"}><label for="disabled"> {trans("Off")}</label>
		</TD>
	</TR>
	{if ConfigHelper::checkPrivilege('superuser')}
	<TR>
		<TD width="1%">
			<img src="img/desc.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Type:")}</B>
		</TD>
		<TD width="98%">
			<SELECT size="1" name="config[type]" {tip text="Select config type" trigger="type"}>
				{foreach $_CONFIG_TYPES as $key => $type}
					<OPTION value="{$key}"{if $config.type == $key} selected{/if}>{$type}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD align="right" colspan="3">
			<A href="javascript:document.config.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></A>
			<A id="delete-config" href="?m=configdel&id={$config.id}&globalconf=1" data-name="{$config.section}.{$config.var}">{trans("Delete")} <img src="img/delete.gif" alt=""></A>
			<A href="?m=configlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
	{include file="/config/configusers.html"}
<SCRIPT>
	$(function() {
		$('form[name="config"] [name="config[var]"]').focus();

		$('[name="config[type]"]').change(function(e) {
			$('[name="config[value]"]').trigger('lms:visual_editor_change_required', {
				ifShow: $(this).val() == '{$smarty.const.CONFIG_TYPE_RICHTEXT}'
			});
		});
	});

	$('#delete-config').click(function() {
		var name = $(this).attr('data-name');
		confirmDialog($t("Are you sure, you want to delete option '$a' from database?\n\nThis action will remove this option for all users.", name), this).done(function() {
			location.href = $(this).attr('href');
		});
		return false;
	});
</SCRIPT>
{/block}
