{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<style>

	.lmsbox thead td:last-child {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.config-var-suggestion {
		z-index: 9999 !important;
	}

</style>
<FORM method="POST" id="configadd" action="?m=configadd" name="config">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD width="1%">
			<img src="img/settings.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Name:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="text" name="config[var]" value="{$config.var}" {tip text="Enter option name" trigger="var" bold=1}>&nbsp;
			<B>{trans("Section:")}</B>
			<SELECT size="1" name="config[section]" {tip class="lms-ui-combobox" text="Select section" trigger="section"}
				{if !in_array($config.section, $sections)} data-value="{$config.section}"{/if}>
				{foreach $sections as $section}
				<OPTION value="{$section}"{if $config.section == $section} selected{/if}>{$section}</OPTION>
				{/foreach}
			</SELECT>&nbsp;
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD width="1%">
			<img src="img/producer.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Value:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA rows="5" cols="50" name="config[value]" {tip class="lms-ui-wysiwyg-editor" text="Enter option value" trigger="value"} data-wysiwyg="{if $config.type == $smarty.const.CONFIG_TYPE_RICHTEXT || ConfigHelper::checkValue($config.wysiwyg.value)}true{else}false{/if}">{$config.value}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/info1.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Comment:")}</B>
		</TD>
		<TD width="98%">
			<TEXTAREA rows="5" cols="50" name="config[description]" {tip text="Enter description (optional)" trigger="description"}>{$config.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/wait.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Status:")}</B>
		</TD>
		<TD width="98%">
			<INPUT type="checkbox" value="1" name="config[disabled]" id="config_disabled"{if $config.disabled} CHECKED{/if} {tip text="You can turn it off"}><label for="config_disabled">{trans("Off")}</label>
		</TD>
	</TR>
	{if ConfigHelper::checkPrivilege('superuser')}
	<TR>
		<TD width="1%">
			<img src="img/desc.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Type:")}</B>
		</TD>
		<TD width="98%">
			<SELECT size="1" name="config[type]" {tip text="Select config type" trigger="type"}>
				{foreach $_CONFIG_TYPES as $key => $type}
					<OPTION value="{$key}"{if $config.type == $key} selected{/if}>{$type}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	{/if}
	<TR>
		<TD align="right" colspan="3">
			<A id="submit-button" href="javascript:document.config.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></A>
			<A href="?m=configlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></A><BR>
			<INPUT type="checkbox" name="config[reuse]" value="ON" id="reuse"{if $config.reuse} checked{/if}><label for="reuse">{trans("Display this form again, when this option is saved")}</label>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</P>
<script>

	$(function() {
		$('form[name="config"] [name="config[var]"]').focus();

		$('[name="config[type]"]').change(function(e) {
			$('[name="config[value]"]').trigger('lms:visual_editor_change_required', {
				ifShow: $(this).val() == '{$smarty.const.CONFIG_TYPE_RICHTEXT}'
			});
		});

		new AutoSuggest({
			form: '#configadd',
			elem: '[name="config[var]"]',
			uri: '?m=quicksearch&ajax=1&mode=config&what=',
			class: 'config-var-suggestion',
			onSubmit: function (data) {
				$('[name="config[var]"]').val(data.name);
				$('[name="config[section]"]').parent('.scombobox').scombobox('val', data.section);
			},
			onLoad: function() {
				$('[name="config[var]"]').tooltip('destroy');
			}
		});
	});

</script>
{/block}
