<TABLE class="lmsbox lms-ui-background-cycle">
    <COLGROUP>
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 98%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
    </COLGROUP>
    <THEAD>
    <TR style="background-color: #B6A688;" class="configdivisionusers_header">
        <td class="bold" colspan="4">
            {if $reftype == division}
                #2 {trans("User in division configuration variable parameters")} ({trans('overwrite parameters from panel #1')})
            {else}
                #3 {trans("User in division configuration variable parameters")} ({trans('overwrite parameters from panel #2 and panel #1')})
            {/if}
        </td>
        <td>
            {if $reftype == division}
                {button type="link-button" href="?m=configadd&refconfigid={$config.id}&divisionid={$divisioninfo.id}&reftype=divisionuser" icon="add" label="Add" tip="Add config for user in division"}
            {else}
                {button type="link-button" href="?m=configadd&refconfigid={$relatedoption.id}&divisionid={$relatedoption.divisionid}&reftype=divisionuser" icon="add" label="Add" tip="Add config for user in division"}
            {/if}
        </td>
    </TR>
    <TR class="configdivisionusers_header">
        <TD class="nobr bold">
            <strong>{trans("Login:")}</strong>
        </TD>
        <td class="nobr bold">
            {trans("First/last name:")}
        </td>
        <TD class="nobr bold">
            {trans("Comment:")}
        </TD>
        <TD class="nobr bold">
            {trans("Value:")}
        </TD>
        <TD>
            &nbsp;
        </TD>
    </TR>
    </THEAD>
    <TBODY>

    {if $reftype == division}
        {foreach $relatedoptions.divisions[0].users as $relatedoptionuser}
            <TR class="highlight {if $relatedoptionuser.disabled} blend{/if}" data-target-url="?m=configedit&id={$relatedoptionuser.id}">
                <TD class="nobr">
                    <strong>{$relatedoptionuser.login}</strong><BR>
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.name}
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.description}
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.value}
                </TD>
                <TD class="lms-ui-buttons text-right nobr">
                    {if $relatedoptionuser.disabled}
                        {button type="link" icon="disconnected" tip="Enable" href="?m=configedit&id={$relatedoptionuser.id}&statuschange=1"}
                    {else}
                        {button type="link" icon="connected" tip="Disable" href="?m=configedit&id={$relatedoptionuser.id}&statuschange=1"}
                    {/if}
                    {button type="link" icon="delete" class="delete-config" tip="Delete" href="?m=configdel&id={$relatedoptionuser.id}"}
                    {button type="link" icon="edit" tip="Edit" href="?m=configedit&id={$relatedoptionuser.id}"}
                </TD>
            </TR>
            {foreachelse}
            <TR>
                <TD COLSPAN="5" class="fall" align="center">
                    <p><strong>{t}No data{/t}</strong></p>
                </TD>
            </TR>
        {/foreach}
    {else}
        {foreach $relatedoption.users as $relatedoptionuser}
            <TR class="highlight {if $relatedoptionuser.disabled} blend{/if}" data-target-url="?m=configedit&id={$relatedoptionuser.id}">
                <TD class="nobr">
                    <strong>{$relatedoptionuser.login}</strong><BR>
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.name}
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.description}
                </TD>
                <TD class="nobr">
                    {$relatedoptionuser.value}
                </TD>
                <TD class="lms-ui-buttons text-right nobr">
                    {if $relatedoptionuser.disabled}
                        {button type="link" icon="disconnected" tip="Enable" href="?m=configedit&id={$relatedoptionuser.id}&statuschange=1"}
                    {else}
                        {button type="link" icon="connected" tip="Disable" href="?m=configedit&id={$relatedoptionuser.id}&statuschange=1"}
                    {/if}
                    {button type="link" icon="delete" class="delete-config" tip="Delete" href="?m=configdel&id={$relatedoptionuser.id}"}
                    {button type="link" icon="edit" tip="Edit" href="?m=configedit&id={$relatedoptionuser.id}"}
                </TD>
            </TR>
            {foreachelse}
            <TR>
                <TD COLSPAN="5" class="empty-table" align="center">
                    <strong>{trans("No data")}</strong>
                </TD>
            </TR>
        {/foreach}
    {/if}
    </TBODY>
</TABLE>
<script>
    $('.delete-config').click(function() {
        confirmDialog($t("Are you sure, you want to delete?"), this).done(function() {
            location.href = $(this).attr('href');
        });
        return false;
    });

    $(function () {
        $('.configdivisionusers_header').css('color', 'black');
    });
</script>
