{block name=eventlistheader}
<tr class="nobr bold">
    <td class="text-center" style="min-width: 70px;">
        {icon name="type" label="Type:"}
    </td>
    <td>
        {icon name="uptime" label="Time:"}<br>
        {icon name="user" label="User:"}
    </td>
    <td>
        {icon name="subject" label="Title:"}<br>
        {icon name="description" label="Description:"}
    </td>
    <td>
        {icon name="customer" label="Customer:"}
    </td>
    <td></td>
    <td class="text-right">
        {button icon="timetable" label="Show schedule" onclick="showSchedule();"}
    </td>
</tr>
{/block}
