{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE class="lmsbox">
	<COLGROUP>
		<COL style="width: 1%;">
		<COL style="width: 1%;">
		<COL style="width: 96%;">
		<COL style="width: 1%;">
	</COLGROUP>
    <THEAD>
	<TR>
		<TD class="nobr" style="min-width: 70px;">
			<IMG src="img/desc.gif" alt=""> {trans("Type:")}
		</TD>
		<TD class="nobr">
			<IMG src="img/time.gif" alt=""> <span class="bold">{trans("Time:")}</span><br>
			<IMG src="img/users.gif" alt=""> {trans("User:")}
		</TD>
		<TD class="nobr">
			<IMG src="img/calendar.gif" alt=""> <span class="bold">{trans("Title:")}</span><BR>
			<IMG src="img/info1.gif" alt=""> {trans("Description:")}
		</TD>
		<TD class="nobr">
			<IMG src="img/customer.gif" alt=""> {trans("Customer:")}
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{include file="event/eventlistbox.html"}
    </TBODY>
	<TFOOT>
		<TR class="dark">
			<TD colspan="3" class="bold text-right">{trans("Total events:")}</TD>
			<TD class="bold">{count($eventlist)}</TD>
		</TR>
	</TFOOT>
</TABLE>
{/block}
