{block name="eventlistbox"}
{section name=daylist loop=$daylist}
<TABLE class="lmsbox lms-ui-background-cycle">
    <COLGROUP>
        <COL style="width: 1%;">
        <COL style="width: 1%; min-width:90px;">
        <COL style="width: 95%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;">
        <COL style="width: 1%;" class="no-print">
    </COLGROUP>
    <THEAD>
        <TR{if $daylist[daylist] == $today} class="superdark"{/if}>
            <TD class="bold nobr">
                <IMG src="img/calendar.gif" alt="">
                {$daylist[daylist]|date_format:"%A"}
            </TD>
            <TD colspan="3">
                <span class="bold">({$daylist[daylist]|date_format:"%x"})</span>
                {if $getHolidays[$daylist[daylist]]}
                <span class="red">{trans("Holiday:")} {$getHolidays[$daylist[daylist]]}</span>
                {/if}
                <a href="?m=eventsearch&datefrom={$daylist[daylist]|date_format:"%Y/%m/%d"}&dateto={$daylist[daylist]|date_format:"%Y/%m/%d"}">&raquo;&raquo;&raquo;</a>
            </TD>
            <TD colspan="2" class="text-right nobr">
                <div class="no-print">
                    <A href="?m=eventprint&day={$daylist[daylist]}&u={$filter.customerid}{foreach $filter.userid as $userid}&a[]={$userid}{/foreach}{foreach $filter.type as $type}&t[]={$type}{/foreach}&closed={$filter.closed}&privacy={$filter.privacy}" target="_blank"><IMG src="img/print.gif" alt=""> {trans("Print")}</A>
                    <A href="?m=eventadd&amp;day={$daylist[daylist]|date_format:"%d"}&amp;month={$daylist[daylist]|date_format:"%m"}&amp;year={$daylist[daylist]|date_format:"%Y"}"><IMG src="img/save.gif" alt=""> {trans("Add Event")}</A>&nbsp;
                </div>
            </TD>
        </TR>
    </THEAD>
    <TBODY>
        {foreach $eventlist as $event}
        {if $event.date == $daylist[daylist]}
            {include file="event/eventlistboxrow.html"}
        {/if}
        {/foreach}
    </TBODY>
</TABLE>
{/section}
{/block}
