{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE WIDTH="100%">
	<TR>
		<TD WIDTH="50%" ALIGN="LEFT" NOWRAP>
			<H1>{$layout.pagetitle}: {$date|date_format:"%x (%A)"}</H1>
		</TD>
		<TD WIDTH="50%" ALIGN="RIGHT">
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %e %B %Y"}<BR>
			{t a=$layout.logname}Prepared by: $a{/t}
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH="100%" CELLPADDING="3" BORDER="1" ALIGN="CENTER">
	<TR>
		<TD WIDTH="1%" CLASS="HEAD">
			{trans("Time")}
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" align="center">
			{trans("Type")}
		</TD>
		<TD WIDTH="96%" CLASS="HEAD" ALIGN="LEFT">
			{trans("Title")}<BR>
			{trans("Description")}/{trans("Note")}
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER">
			{trans("User")}
		</TD>
		<TD WIDTH="1%" CLASS="HEAD" ALIGN="CENTER">
			{trans("Customer")}
		</TD>
	</TR>
	{cycle values="white,grey" print=false}
	{foreach item=event from=$eventlist}
	<TR class="{cycle}"{if $event.closed==1} style="color: lightgray;"{/if}>
		<TD WIDTH="1%" class="valign-top text-left nobr">
			{math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
			{if $event.begintime != $event.endtime}
			- {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
			{/if}
		</TD>
		<TD WIDTH="1%" VALIGN="TOP" ALIGN="CENTER">
			{$_EVENTTYPES[$event.type]}
		</TD>
		<TD WIDTH="96%" ALIGN="LEFT" VALIGN="TOP">
			<B>{$event.title}</B><BR>
			{$event.description}<BR>
			{$event.note}
		</TD>
		<TD WIDTH="1%" class="valign-top text-right nobr">
			{foreach item=user from=$event.userlist}
				{$user.name|truncate:"25":"...":true}<BR>
			{/foreach}
		</TD>
		<TD WIDTH="1%" class="valign-top text-right nobr">
			{$event.customername|truncate:"40":"...":true}<BR>
			{if isset($event.nodelocation)}
			    {$event.nodelocation}
			{else}
			    {$event.customerlocation}
			{/if}
			<br/>{$event.customerphone}
		</TD>
	</TR>
	{/foreach}
</TABLE>
{include file="clearfooter.html"}
