{block name=eventlistheader}
<tr class="nobr bold">
    <td class="text-center" style="min-width: 70px;">
        <i class="lms-ui-icon-content lms-ui-icon-event-type"></i>{trans("Type:")}
    </td>
    <td>
        <i class="lms-ui-icon-content lms-ui-icon-uptime"></i>{trans("Time:")}<br>
        <i class="lms-ui-icon-content lms-ui-icon-user"></i>{trans("User:")}
    </td>
    <td>
        <i class="lms-ui-icon-content lms-ui-icon-subject"></i>{trans("Title:")}<br>
        <i class="lms-ui-icon-content lms-ui-icon-description"></i>{trans("Description:")}
    </td>
    <td>
        <i class="lms-ui-icon-content lms-ui-icon-customer"></i>{trans("Customer:")}
    </td>
    <td></td><td></td>
</tr>
{/block}
