BODY		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; margin: 0pt; background-color: #FFF7DE; height: 100%; margin: 0; }
TABLE		{ border: 0; }
TD		{ font-size: 10pt; }
TR.blend	{ color: #888888; }
A		{ text-decoration: none; color: #8B0000; }
A:hover		{ text-decoration: underline; color: #555555; }
P		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H1		{ font-size: 18pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H2		{ font-size: 14pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H3		{ font-size: 12pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H4		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
IMG		{ border: 0; vertical-align: middle; }

.copyrights	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #D2BA82; width:500px}
.copyrights a:link	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #8F7233; }
.copyrights a:visited	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #8F7233; }
.copyrights a:hover	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #8F7233; }
.copyrights a:active	{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; color: #8F7233; }
.superlight	{ background-color: #FFF7DE; }
.light		{ background-color: #F7EFBD; }
.dark		{ background-color: #E7DEAD; }
.darkest	{ background-color: #DECEA5; }

.nobr		{ white-space: nowrap; }
.bold		{ font-weight: bold; }
.text-right	{ text-align: right; }
.text-left	{ text-align: left; }
.text-center	{ text-align: center; }
.valign-top	{ vertical-align: top; }
.valign-bottom	{ vertical-align: bottom; }

.BOOK		{ padding: 5pt; }
.SCREEN		{ font-size: 10pt; background: #F4F0EC; border: 1px solid #333333; padding: 3pt; font-family: Courier; }
.PROMPT		{ font-size: 10pt; font-family: Courier; }
.login		{ position: absolute; left:0px; top:0px; width:100%; height:100%; z-index:1; }

INPUT.alert     { background-color: #FFFF99;}
TEXTAREA.alert  { background-color: #FFFF99;}

