{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/nodegroup.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2" NOWRAP>
			<B>{$nodegroup.name} ({$nodegroup.id|string_format:"%04d"})</B>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
		<TD WIDTH="1%">
			<i class="lms-ui-icon-node"></i>
		</TD>
		<TD WIDTH="1%" NOWRAP><B>{trans("Members Count:")}</B>
		</TD>
		<TD WIDTH="98%">
			{$nodegroup.count}
		</TD>
	</TR>
	{if $nodegroup.description}
	<TR>	
		<TD WIDTH="1%">
			<i class="lms-ui-icon-description"></i>
		</TD>
		<TD WIDTH="98%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="3"> 
			    <TR><TD CLASS="fall superlight">
				    {$nodegroup.description|replace:"\n":"<BR>"}
			    </TD></TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	<TR>
	        <TD ALIGN="RIGHT" COLSPAN="3">
			<A HREF="?m=nodegroupedit&amp;id={$nodegroup.id}{if $membersnetid}&membersnetid={$membersnetid}{/if}{if $othersnetid}&othersnetid={$othersnetid}{/if}" ACCESSKEY="E">{trans("Edit")} <IMG SRC="img/edit.gif" ALT=""></A>
			{if !$nodegroup.count}
			<A HREF="?m=nodegroupdel&amp;id={$nodegroup.id}" onclick="return confirmLink(this,'{trans("Are you sure, you want to delete that group?")}');">{trans("Delete")} <IMG SRC="img/delete.gif" ALT=""></A>
			{/if}
		</TD>
	</TR>
    </TBODY>
</TABLE></P>
{include file="node/nodegroupassignments.html"}
{/block}
