{$lastonline_limit = ConfigHelper::getConfig('phpui.lastonline_limit')}
<TABLE class="lmsbox-inner" id="table">
    <THEAD>
	<TR>
		<td>
			<IMG SRC="img/node.gif" alt="">
		</TD>
		<td class="nobr">
		    {if $layout.module == 'ewxnodelist'}
		    <B>{t a=$customernodes|@count|default:"0"}Channel Nodes ($a):{/t}</B>
		    {else}
			<B>{t a=$customernodes|@count|default:"0"}Customer Nodes ($a):{/t}</B>
			{/if}
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=customernodes loop=$customernodes}
	<tr class="highlight {cycle}{if ! $customernodes[customernodes].access} blend{/if}">
		<td>
			<a href="?m=nodeset&amp;id={$customernodes[customernodes].id}&shortlist=1&popup=1"><IMG src="img/{if ! $customernodes[customernodes].access}no{/if}access.gif" ALT="[ {if ! $customernodes[customernodes].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]"></a>
			<a href="?m=nodewarn&amp;id={$customernodes[customernodes].id}&shortlist=1&popup=1"><IMG src="img/warning{if ! $customernodes[customernodes].warning}off{else}on{/if}.gif" ALT="[ {if ! $customernodes[customernodes].warning}{trans("Enable notice")}{else}{trans("Disable notice")}{/if} ]"></a>
		</TD>
		<td onClick="parent.location.href='?m=nodeinfo&amp;id={$customernodes[customernodes].id}';">
			{if $customernodes[customernodes].lastonline}
                                {if ($smarty.now-$customernodes[customernodes].lastonline) > $lastonline_limit}
				<img src="img/node_off.gif" ALT="" title="{t a=$customernodes[customernodes].lastonlinedate}Last online: $a{/t}">
				{else}
				<img src="img/node_on.gif" ALT="" title="{t a="on-line"}Last online: $a{/t}">
			        {/if}
			{else}
			<img src="img/node_unk.gif" alt="">
			{/if}
			<B>{$customernodes[customernodes].name}</B><BR>
			{$customernodes[customernodes].ip} {if $customernodes[customernodes].ip_pub!="0.0.0.0"} ({$customernodes[customernodes].ip_pub}) {/if} / {$customernodes[customernodes].mac}<BR>
			{$customernodes[customernodes].info|truncate:40:"...":true}
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="2" class="empty-table">
			<p>{trans("No nodes found in database.")}</p>
		</TD>
	</TR>
	{/section}
    </TBODY>
</TABLE>
