<!--// $Id$ //-->
{$xajax}
<TABLE class="lmsbox" id="nodelocks">
    <THEAD>
	<TR class="hand lmsbox-titlebar" data-lmsbox-content="nodelockspanel">
		<TD>
			<IMG src="img/time.gif" alt="">
			<span class="bold"><A name="nodelocks">{trans("Locks:")}</A></span>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR id="nodelockspanel" style="display: none;">
		<TD style="width: 100%;">
			<FORM id="nodelockadd" name="nodelockadd">
			<DIV id="nodelocktable">
			</DIV>
			</FORM>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<SCRIPT type="text/javascript">
<!--
if (getCookie('nodelockspanel') == '1')
{
	document.getElementById('nodelockspanel').style.display = '';
}

function addNodeLock() {
	xajax.$('nodelockaddlink').disabled = true;
	xajax_addNodeLock({$nodeinfo.id}, xajax.getFormValues('nodelockadd'));
}

function delNodeLock(id) {
	xajax.$('nodelocktable').disabled = true;
	xajax_delNodeLock({$nodeinfo.id}, id);
}

xajax_getNodeLocks({$nodeinfo.id});
//-->
</SCRIPT>
