{extends file="layout.html"}
{block name=title}LMS: {$layout.pagetitle|striphtml}{/block}
{block name=module_content}
<!-- //$Id$ //-->

<STYLE>
    .tariff_tab tr td {
        white-space: nowrap;
        padding: 2px;
    }

    .bold-first  tr td:nth-child(1),
    .bold-second tr td:nth-child(2) {
        font-weight: bold;
    }
</STYLE>

{function bitrate_restrictions}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v]}{$var[$v]}{/if}" SIZE="6" NAME="tariff[{$v}]" {tip text="$tip" trigger="$v"}>
    {trans("night:")}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v_n]}{$var[$v_n]}{/if}" SIZE="6" NAME="tariff[{$v_n}]" {tip text="$tip" trigger="$v_n"}>
    kbit/s
{/function}

{function restrictions}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v]}{$var[$v]}{/if}" SIZE="6" NAME="tariff[{$v}]" {tip text="$tip" trigger="$v"}>
    {trans("night:")}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v_n]}{$var[$v_n]}{/if}" SIZE="6" NAME="tariff[{$v_n}]" {tip text="$tip" trigger="$v_n"}>
{/function}

{function burst_restrictions}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v]}{$var[$v]}{/if}" SIZE="6" NAME="tariff[{$v}]" {tip text="$tip" trigger="$v"}>
    {trans("night:")}
    <INPUT TYPE="TEXT" VALUE="{if $var[$v_n]}{$var[$v_n]}{/if}" SIZE="6" NAME="tariff[{$v_n}]" {tip text="$tip" trigger="$v_n"}>
    s
{/function}

{function hosting_restrictions}
    <INPUT TYPE="TEXT" NAME="tariff[{$v}]" SIZE="5"
       {if $var[$v]}
           VALUE="{$var[$v]}"
       {else}
           STYLE="display: none;" {*when you use class to display:none script wont work *}
       {/if}
       {tip text="$tip" trigger="$v"}>

    <LABEL>
        <INPUT TYPE="checkbox" VALUE="1" ID="{$v}" NAME="limit[{$v}]" ONCHANGE="checklimit(this)"{if !$var[$v]} CHECKED{/if}>
        {trans("no limit")}
    </LABEL>
{/function}

<H1>{$layout.pagetitle}</H1>
<FORM METHOD="POST" NAME="tariff" ACTION="?m=tariffedit&id={$tariff.id}">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
    <TR>
        <TD>
            <IMG SRC="img/money.gif" ALT="">
            <B>{trans("Name:")}</B>

            <INPUT TYPE="TEXT"
                   VALUE="{$tariff.name|escape}"
                   NAME="tariff[name]"
                   SIZE="45" required {tip trigger="name" text="Enter name" bold=1}>
            <B>&nbsp;({$tariff.id|string_format:"%04d"})</B>
        </TD>
    </TR>
    </THEAD>
    <TBODY>
    <TR>
        <TD WIDTH="100%" CLASS="container">
            <TABLE WIDTH="100%" CELLPADDING="0">
                <TR>
                    <TD WIDTH="50%">
                        <TABLE CLASS="tariff_tab bold-second">
                            <TR>
                                <TD><IMG SRC="img/value.gif" ALT=""></TD>
                                <TD>{trans("Value:")}</TD>
                                <TD>
                                    <INPUT TYPE="TEXT" VALUE="{$tariff.value}" SIZE="8" NAME="tariff[value]" {tip text="Enter value" trigger="value"}>

                                    {currency_selection selected=$tariff.currency elementname="tariff[currency]"}

                                    <SELECT size="1" name="tariff[period]" {tip text="Select time period of tariff accounting"}>
                                        <OPTION value=""{if $tariff.period == $key} SELECTED{/if}>{trans("undefined")}</OPTION>
                                        {foreach from=$_PERIODS key=key item=item}
                                            {if $key != $smarty.const.DISPOSABLE}
                                                <OPTION value="{$key}"{if $tariff.period == $key} SELECTED{/if}>{$item}</OPTION>
                                            {/if}
                                        {/foreach}
                                    </SELECT>
                                </TD>
                            </TR>
                            <tr>
                                <TD>
                                    <IMG SRC="img/tax.gif" ALT="">
                                </TD>
                                <TD class="bold nobr">
                                    <label for="splitpayment">
                                        {trans("Split payment:")}
                                    </label>
                                </TD>
                                <td>
                                    <input type="checkbox" id="splitpayment" name="tariff[splitpayment]" value="1"{if $tariff.splitpayment} checked{/if}>
                                </td>
                            </tr>
                            <TR>
                                <TD><IMG SRC="img/tax.gif" ALT=""></TD>
                                <TD>{trans("Tax:")}</TD>
                                <TD>
                                    <SELECT SIZE="1" NAME="tariff[taxid]" {tip text="Select Tax rate" trigger="taxid"}>
                                    {foreach item=tax from=$taxeslist}
                                        <OPTION VALUE="{$tax.id}"{if $tariff.taxid == $tax.id} selected{/if}>{$tax.label}</OPTION>
                                    {/foreach}
                                    </SELECT>
                                </TD>
                            </TR>
                            <TR>
                                <TD><IMG SRC="img/money.gif" alt=""></TD>
                                <TD>{trans("Type:")}</TD>
                                <TD>
                                    <SELECT ID="tariff-type" SIZE="1" NAME="tariff[type]" {tip text="Select tariff type" trigger="type"}>
                                    {foreach item=item from=$_SERVICETYPES key=key}
                                        <OPTION VALUE="{$key}"{if $tariff.type == $key} selected{/if}>{$item}</OPTION>
                                    {/foreach}
                                    </SELECT>
                                </TD>
                            </TR>
							<TR>
								<TD>
									<IMG src="img/calendar.gif" alt="">
								</TD>
								<TD>
									{trans("Period:")}
								</TD>
								<TD class="nobr">
									{trans("from:")}
									<INPUT type="TEXT" name="tariff[datefrom]" value="{if $tariff.datefrom}{$tariff.datefrom}{/if}" placeholder="{trans("yyyy/mm/dd")}" {tip class="lms-ui-date" text="Enter tariff start date in YYYY/MM/DD format. If you don't want to define 'From' date leave this field empty" trigger="datefrom"} SIZE="10">
									{trans("to:")}
									<INPUT type="TEXT" name="tariff[dateto]" value="{if $tariff.dateto}{$tariff.dateto}{/if}" placeholder="{trans("yyyy/mm/dd")}" {tip class="lms-ui-date" text="Enter tariff end date in YYYY/MM/DD format. Leave this field empty if you don't want to set expiration date" trigger="dateto"} SIZE="10">
								</TD>
							</TR>
                            <TR>
                                <TD><IMG SRC="img/money.gif" alt=""></TD>
                                <TD>{trans("Numbering Plan:")}</TD>
                                <TD>
                                    <SELECT name="tariff[numberplanid]" {tip text="Select numbering plan"}>
                                        <OPTION value=""{if !$tariff.numberplanid} selected{/if}>- {trans("default")} -</OPTION>
                                        {foreach $numberplanlist as $plan}
                                            {assign var=period value=$plan.period}
                                            <OPTION value="{$plan.id}"{if $plan.id == $tariff.numberplanid} selected{/if}>{$plan.template} ({$_NUM_PERIODS.$period})</OPTION>
                                        {/foreach}
                                    </SELECT>
                                </TD>
                            </TR>
                            <TR>
                                <TD><IMG SRC="img/class.gif" alt=""></TD>
                                <TD>{trans("Product ID:")}</TD>
                                <TD>
                                    <INPUT TYPE="TEXT"
                                           VALUE="{$tariff.prodid}"
                                           SIZE="8"
                                           NAME="tariff[prodid]"
                                           {tip text="Enter Product ID number (optional)" trigger="prodid"}>
                                </TD>
                            </TR>
                            <TR>
                                <TD>
                                    <img src="img/netdev.gif" alt="">
                                </TD>
                                <TD class="bold nobr">
                                    {trans("Purpose:")}
                                </TD>
                                <TD class="nobr">
                                    {foreach $_SESSIONTYPES as $idx => $sessiontype}
                                    <label>
                                        <INPUT TYPE="checkbox" NAME="tariff[authtype][{$idx}]" value="{$idx}" id="authtype{$idx}" {tip text="`$sessiontype.tip`" trigger="authtype`$idx`"}{if ($tariff.authtype & $idx) == $idx} checked{/if}>
                                        {$sessiontype.label}
                                    </label><br>
                                    {/foreach}
                                </TD>
                            </TR>
                            <TR>
                                <TD><IMG SRC="img/info1.gif" alt=""></TD>
                                <TD>{trans("Description:")}</TD>
                                <TD>
                                    <TEXTAREA NAME="tariff[description]"
                                           ROWS="6"
                                           COLS="70"
                                           {tip text="Enter additional information (optional)"}>{$tariff.description}</TEXTAREA>
                                </TD>
                            </TR>
                        </TABLE>
                    </TD>
                    <TD WIDTH="50%" CLASS="valign-top" ID="tariff-capacity-settings">
                        <TABLE CLASS="tariff_tab bold-second">
                            <TR>
                                <TD><IMG SRC="img/uprate.gif" alt=""></TD>
                                <TD>{trans("Upload rate:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="uprate" v_n="uprate_n" tip="Enter minimal warranted upload value (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Upload ceil:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="upceil" v_n="upceil_n" tip="Enter maximum upload value (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Upload burst time:")}</TD>
                                <TD>{burst_restrictions var=$tariff v="up_burst_time" v_n="up_burst_time_n" tip="Enter upload burst time (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Upload burst threshold:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="up_burst_threshold" v_n="up_burst_threshold_n" tip="Enter upload burst threshold (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Upload burst limit:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="up_burst_limit" v_n="up_burst_limit_n" tip="Enter upload burst limit (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD><IMG SRC="img/downrate.gif" alt=""></TD>
                                <TD>{trans("Download rate:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="downrate" v_n="downrate_n" tip="Enter minimal warranted download value (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Download ceil:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="downceil" v_n="downceil_n" tip="Enter maximum download value (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Download burst time:")}</TD>
                                <TD>{burst_restrictions var=$tariff v="down_burst_time" v_n="down_burst_time_n" tip="Enter download burst time (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Download burst threshold:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="down_burst_threshold" v_n="down_burst_threshold_n" tip="Enter download burst threshold (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Download burst limit:")}</TD>
                                <TD>{bitrate_restrictions var=$tariff v="down_burst_limit" v_n="down_burst_limit_n" tip="Enter download burst limit (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD><IMG SRC="img/options.gif" alt=""></TD>
                                <TD>{trans("Connection limit:")}</TD>
                                <TD>{restrictions var=$tariff v="climit" v_n="climit_n" tip="Enter limit of simultaneous connections (optional)"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Packet limit:")}</TD>
                                <TD>{restrictions var=$tariff v="plimit" v_n="plimit_n" tip="Enter limit of packets in time unit (optional"}</TD>
                            </TR>
                            <TR>
                                <TD></TD>
                                <TD>{trans("Data limit:")}</TD>
                                <TD>
                                    <INPUT TYPE="TEXT"
                                           VALUE="{if $tariff.dlimit}{$tariff.dlimit}{/if}"
                                           SIZE="6"
                                           NAME="tariff[dlimit]"
                                           {tip text="Enter limit of data in time unit (optional)" trigger="dlimit"}>
                                </TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
                <TR ID="tariff-account-settings">
                    <TD>
                        <TABLE CLASS="tariff_tab bold-first">
                            <TR>
                                <TD ROWSPAN="100%">
                                    <IMG SRC="img/account.gif" ALT="">
                                </TD>
                            </TR>
                            <TR>
                                <TD>{trans("Limit of domains:")}</TD>
                                <TD>{hosting_restrictions var=$tariff v="domain_limit" tip="Enter limit of domains"}</TD>
                            </TR>
                            <TR>
                                <TD>{trans("Limit of account aliases:")}</TD>
                                <TD>{hosting_restrictions var=$tariff v="alias_limit" tip="Enter limit of account aliases"}</TD>
                            </TR>
                            {foreach $_ACCOUNTTYPES as $typeid => $type}
                            <TR>
                                <TD>{$type.accountlimitlabel}</TD>
                                {$alias=$type.alias|cat:"_limit"}
                                <TD>{hosting_restrictions var=$tariff v=$alias tip=$type.accountlimittip}</TD>
                            </TR>
                            {/foreach}
                            {foreach $_ACCOUNTTYPES as $typeid => $type}
                            <TR>
                                <TD>{$type.accountquotalabel}</TD>
                                {$alias="quota_"|cat:$type.alias|cat:"_limit"}
                                <TD>{hosting_restrictions var=$tariff v=$alias tip=$type.accountquotatip}</TD>
                            </TR>
                            {/foreach}
                        </TABLE>
                    </TD>
                <TR>
            </TABLE>
        </TD>
    </TR>

    <TR CLASS="space_row" ID="tariff-phone-settings">
        <TD>
            <TABLE CLASS="tariff_tab bold-first">
                <TR>
                    <TD ROWSPAN="100%">
                        <IMG SRC="img/voip.gif" ALT="">
                    </TD>
                </TR>
                <TR>
                    <TD>{trans("VoIP pricelist:")}</TD>
                    <TD>
                        {if $voip_tariffs}
                            <SELECT NAME="tariff[voip_pricelist]" {tip text="Price list assigned to tariff"}>
                                <OPTION VALUE="0">{trans("select")}</OPTION>
                                {foreach from=$voip_tariffs item=v}
                                    <OPTION VALUE="{$v.id}"{if $v.id == $tariff.voip_tariff_id}SELECTED{/if}>{$v.name}</OPTION>
                                {/foreach}
                            </SELECT>
                        {else}
                            {t a='<A HREF="?m=voippricelist">'|cat:trans("here")|cat:'</A>'}Click $a to create.{/t}
                        {/if}
                    </TD>
                </TR>
                <TR>
                    <TD>{trans("Tariff rule:")}</TD>
                    <TD>
                        {if $voip_tariffrules}
                            <SELECT NAME="tariff[voip_tariffrule]" {tip text="Tariff rule assigned to tariff"}>
                                <OPTION VALUE="0">{trans("select")}</OPTION>
                                {foreach from=$voip_tariffrules item=v}
                                    <OPTION VALUE="{$v.id}"{if $v.id == $tariff.voip_tariff_rule_id}SELECTED{/if}>{$v.name}</OPTION>
                                {/foreach}
                            </SELECT>
                        {else}
                            {t a='<A HREF="?m=voiptariffrules">'|cat:trans("here")|cat:'</A>'}Click $a to create.{/t}
                        {/if}
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>

    <TR>
        <TD WIDTH="100%" ALIGN="RIGHT">
            <A HREF="javascript:document.tariff.submit();" ACCESSKEY="S">{trans("Submit")} <IMG SRC="img/save.gif" ALT=""></A>
            <A HREF="?m=tariffinfo&id={$tariff.id}">{trans("Cancel")} <IMG SRC="img/cancel.gif" ALT=""></A>
        </TD>
    </TR>
    </TBODY>
</TABLE>
</FORM>

<SCRIPT type="text/javascript">
<!--
    function checklimit(elem) {
        document.forms['tariff'].elements['tariff[' + elem.id + ']'].style.display = elem.checked ? 'none' : '';
    }

    $( function() {
		$('form[name="tariff"] [name="tariff[name]"]').focus();

        updateui();

        $( "#tariff-type" ).change( function() {
            updateui();
        });

        function updateui() {
            var selected_item = $( "#tariff-type" ).val();

            switch (selected_item) {
                case "{$smarty.const.SERVICE_PHONE}":
                    $( '#tariff-account-settings' ).hide();
                    $( '#tariff-capacity-settings' ).hide();
                    $( '#tariff-phone-settings' ).show();
                break;

                case "{$smarty.const.SERVICE_INTERNET}":
                case "{$smarty.const.SERVICE_TV}":
                    $( '#tariff-account-settings' ).hide();
                    $( '#tariff-capacity-settings' ).show();
                    $( '#tariff-phone-settings' ).hide();
                break;

                default:
                    $( '#tariff-account-settings' ).show();
                    $( '#tariff-capacity-settings' ).show();
                    $( '#tariff-phone-settings' ).hide();
            }
        }
    })
//-->
</SCRIPT>

{/block}
