div.olControlPanel {
	position: absolute;
	top: 5px;
	left: 60px;
}

.olControlPanel div {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	border: thin solid black;
	margin: 1px;
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
}

div.olPopup {
	overflow: visible;
}

div.olPopupContent {
	overflow: visible;
	padding: 0px;
}

div.infoPopupTable {
	border: thin solid black;
	background-color: #DFD5BD;
	width: auto;
	height: auto;
	white-space: nowrap;
	overflow: visible;
}

div.infoPopupName {
	padding: 2px;
	font-weight: bold;
	width: auto;
	height: auto;
	white-space: nowrap;
}

div.infoPopupPing {
	padding: 2px;
	width: auto;
	height: auto;
	white-space: nowrap;
}

div.infoPopupInfo {
	padding: 2px;
	width: auto;
	height: auto;
	white-space: nowrap;
}

div.mapPopupTable {
	border: thin solid black;
	background-color: #DFD5BD;
	width: auto;
	height: auto;
	white-space: nowrap;
	overflow: visible;
}

div.mapPopupName {
	padding: 2px;
	font-weight: bold;
	width: auto;
	height: auto;
	white-space: nowrap;
}

div.mapPopupIp {
	padding: 2px;
	width: auto;
	height: auto;
	white-space: nowrap;
}

div.ipPopupTable {
	border: thin solid black;
	background-color: #DFD5BD;
	width: auto;
	height: auto;
	padding: 2px;
	white-space: nowrap;
	overflow: visible;
}

div.ipPopupLabel {
	font-weight: bold;
}

.olPingButtonItemActive {
	background-image: url("ip.gif");
}

.olPingButtonItemInactive {
	background-image: url("ip.gif");
}

.olping2buttonItemActive {
	background-image: url("ip.gif");
}

.olping2buttonItemInactive {
	background-image: url("ip.gif");
}
