div.map {
	position: absolute;
	width: 85%;
	height: 85%;
	width: expression((parseInt(document.body.clientWidth) - 200) + 'px');	/* IE fix */
	height: expression((parseInt(document.body.clientHeight) - 150) + 'px');	/* IE fix */
}

div.smallmap {
	position: absolute;
	width: 100%;
	height: 100%;
	width: expression(parseInt(document.body.clientWidth) + 'px');	/* IE fix */
	height: expression(parseInt(document.body.clientHeight) + 'px');	/* IE fix */
}

div.olPopup {
	overflow: visible;
}

div.olPopupContent {
	overflow: visible;
	padding: 0px;
}

div.lmsPopupTitleBar {
	background-color: #CEBD9B;
	white-space: nowrap;
	width: auto; height: 18px;
	overflow: visible;
	border-left-width: 1pt; border-left-style: solid; border-top-width: 1pt; border-top-style: solid; border-right-width: 1pt; border-right-style: solid;
	display: block;
}

div.lmsPopupTitle {
	background-color: #CEBD9B;
	font-weight: bold;
	float: left;
	width: auto; height: 16px;
	line-height: 16px;
	overflow: visible;
	padding-left: 2px;
}

div.lmsPopupCloseBox {
	background-color: #CEBD9B;
	float: right;
	width: 16px; height: 16px;
	padding: 1px;
	overflow: visible;
}

div.lmsInfoPopupContents {
	background-color: #DFD5BD;
	padding: 6px;
	border-color: black;
	border: 1px solid black;
	width: auto !important;
	width: 100%;		/* IE fix */
	height: auto;
	white-space: nowrap;
	overflow: visible;
}

div.lmsInfoPopupName {
	background-color: #DFD5BD;
	font-weight: bold;
	padding: 2px;
	width: auto !important;
	width: 100%;		/* IE fix */
	height: auto;
	white-space: nowrap;
	clear: both;
}

div.lmsInfoPopupAddress {
	background-color: #DFD5BD;
	padding: 2px;
	border: none;
	width: auto !important;
	width: 100%;		/* IE fix */
	height: auto;
	white-space: nowrap;
	clear: both;
}

div.lmsInfoPopupDetails {
	background-color: #DFD5BD;
	padding: 2px;
	border: none;
	width: auto; height: auto;
	white-space: nowrap;
	clear: both;
}

div.lmsMapPopupContents {
	border: 1px solid black;
	background-color: #DFD5BD;
	width: auto; height: auto;
	white-space: nowrap;
	overflow: visible;
}

div.lmsMapPopupName {
	padding: 2px;
	font-weight: bold;
	width: auto; height: auto;
	white-space: nowrap;
}

div.lmsMapPopupAddress {
	padding: 2px;
	padding-left: 10px;
	width: auto; height: auto;
	white-space: nowrap;
	overflow: visible;
}

div.lmsIpPopupContents {
	border: 1px solid black;
	background-color: #DFD5BD;
	width: auto !important;
	width: 100%;		/* IE fix */
	height: auto;
	padding: 6px;
	white-space: nowrap;
	overflow: visible;
}

div.lmsIpPopupLabel {
	font-weight: bold;
}

div.lmsPingContentsFrame {
	border: 1px solid black;
	padding: 0px;
	width: 450px;
	height: 300px;
	background-color: #DFD5BD;
}

div.lmsPingContents {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 48px;
	width: 100%;
	height: auto !important;
	height: 250px;	/* IE fix */
	overflow: auto;
	padding: 0px;
}

div.olControlPanel {
	position: absolute;
	left: 60px; top: 5px;
}

.olControlPanel div {
	display: block;
	float: left;
	width: 22px; height: 22px;
	border: 1px solid black;
	margin: 1px;
	background-position: center center;
	background-repeat: no-repeat;
}

.lmsCheckButtonItemActive {
	background: white url("ip.gif");
}

.lmsCheckButtonItemInactive {
	background: white url("ip.gif");
}

.lmsCenterButtonItemActive {
	background: white url("network.gif");
}

.lmsCenterButtonItemInactive {
	background: white url("network.gif");
}

.lmsRefreshButtonItemActive {
	background: red url("reload.gif");
}

.lmsRefreshButtonItemInactive {
	background: white url("reload.gif");
}
