HTML {
  height: 100%;
}
BODY {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  background-color: #ebe4d6;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  min-height: 100%;
}
TABLE {
  border-collapse: collapse;
  border-color: #000000;
}
#pagecontainer {
  height: 100%;
}
#pageleftbar {
  position: absolute;
  left: 0px;
  width: 160px;
  background-color: #cebd9b;
  overflow: hidden;
  border: 1px solid black;
}
#pagecontent {
  margin-left: 174px;
  _width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 0px;
}
#pageremover {
  float: left;
  position: absolute;
  visibility: visible;
  left: 162px;
  top: 250px;
  width: 10px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  background-color: #cebd9b;
  border-top-style: solid;
  border-top-width: 1pt;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
}
.bottomline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cebd9b;
}
TD {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  vertical-align: middle;
  border-color: black;
}
td[onclick] {
  cursor: pointer;
}
.fleft {
  border-left-width: 1pt;
  border-left-style: solid;
}
.fright {
  border-right-width: 1pt;
  border-right-style: solid;
}
.ftop {
  border-top-width: 1pt;
  border-top-style: solid;
}
.fbottom {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
}
.fleftu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
}
.frightu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.ftopu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.fbottomu {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.fall {
  border-width: 1pt;
  border-style: solid;
}
.fbt {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-top-width: 1pt;
  border-top-style: solid;
}
.fbl {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
}
.fbr {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.ftl {
  border-top-width: 1pt;
  border-top-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
}
.ftr {
  border-top-width: 1pt;
  border-top-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.flr {
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
.loginform {
  border-width: 1pt;
  border-style: solid;
  border-color: #888888;
}
.hand {
  cursor: pointer;
}
.container {
  padding: 0;
}
FORM {
  display: inline;
}
LABEL {
  cursor: pointer;
}
A {
  text-decoration: none;
  vertical-align: baseline;
}
A:link {
  color: #800000;
}
A:active {
  color: #336600;
}
A:visited {
  color: #800000;
}
A.blend {
  color: #888888;
}
A:hover {
  text-decoration: underline;
  color: #336600;
  cursor: pointer;
}
TR.blend A {
  color: #888888;
}
TR.alertblend A {
  color: #fa8072;
}
TR.suspended A {
  color: #30b6c6;
}
P {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
}
P.nor {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
}
P.txt {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  text-align: justify;
}
P.separated {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  margin-top: 5;
  margin-bottom: 5;
}
H1 {
  font-size: 14pt;
  font-family: Arial, Helvetica, Verdana;
}
H2 {
  font-size: 12pt;
  font-family: Arial, Helvetica, Verdana;
}
H3 {
  font-size: 10pt;
  font-family: Arial, Helvetica, Verdana;
}
HR {
  border: 0;
  height: 1px;
  color: black;
  background-color: black;
}
INPUT[type="text"],
INPUT[type="email"],
INPUT[type="search"],
INPUT[type="number"],
INPUT[type="tel"],
INPUT[type="password"],
INPUT[type="submit"],
INPUT[type="button"],
INPUT[type="file"] {
  border: solid 1px black;
  background-color: #ebe4d6;
}
INPUT[type="radio"] {
  vertical-align: text-bottom;
}
INPUT {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
}
INPUT.alert {
  background-color: #ff9b9b;
}
INPUT[type="checkbox"].alert {
  outline: 2px solid #ff6060;
}
INPUT[type="radio"].alert {
  outline: 2px solid #ff6060;
}
INPUT.hiddenbtn {
  display: none;
}
INPUT.blend {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  vertical-align: middle;
  color: black;
}
INPUT.scroller {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  vertical-align: middle;
  background-color: #dfd5bd;
}
TEXTAREA {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  border-style: solid;
  border-width: 1pt;
  background-color: #ebe4d6;
  vertical-align: middle;
}
TEXTAREA.alert {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  border-style: solid;
  border-width: 1pt;
  background-color: #ff9b9b;
  vertical-align: middle;
}
SELECT {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  border-style: solid;
  border-width: 1pt;
  background-color: #ebe4d6;
  vertical-align: middle;
}
SELECT.alert {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  border-style: solid;
  border-width: 1pt;
  background-color: #ff9b9b;
  vertical-align: middle;
}
BUTTON {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  font-weight: bold;
  padding: 5px;
}
IMG {
  vertical-align: middle;
  border: 0;
}
div.multiselect {
  font-size: 8pt;
  font-family: Arial, Helvetica, Verdana;
  border: solid 1px #888888;
  vertical-align: middle;
  padding: 0px 20px 0px 4px;
  cursor: default;
  background: url('dropdown.gif') no-repeat right bottom #ebe4d6;
  min-height: 16px;
  max-width: 200px;
  white-space: pre-wrap;
  overflow: hidden;
  min-width: 200px;
}
div.multiselectlayer {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  width: 350px;
}
div.multiselectlayer ul {
  list-style: none;
  cursor: default;
  padding: 0;
  margin: 0;
  border: solid 1px #888888;
  white-space: nowrap;
  max-height: 200px;
  max-width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
div.multiselectlayer ul li {
  padding: 0;
  margin: 0;
  background-color: #ebe4d6;
}
div.multiselectlayer ul li input {
  border: none;
}
div.multiselectlayer ul li.selected {
  background-color: #cebd9b;
}
div.multiselectlayer ul li:hover {
  background-color: #dfd5bd;
}
div.multiselectlayer ul span {
  padding-left: 3px;
}
.click-menu {
  width: 150px;
  padding: 0px 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.click-menu .box1 {
  background-color: #cebd9b;
  color: #000000;
  font-weight: bold;
  padding: 5px 5px;
  cursor: default;
  position: relative;
  white-space: nowrap;
}
.click-menu .box1-hover {
  background-color: #ccffcc;
  color: #800000;
  font-weight: bold;
  padding: 5px 5px;
  cursor: default;
  position: relative;
  white-space: nowrap;
}
.click-menu .box1-open {
  background-color: #dacab2;
  color: #800000;
  font-weight: bold;
  padding: 5px 5px;
  cursor: default;
  position: relative;
  white-space: nowrap;
}
.click-menu .box1-open-hover {
  background-color: #ccffcc;
  color: #800000;
  font-weight: bold;
  padding: 5px 5px;
  cursor: default;
  position: relative;
  white-space: nowrap;
}
.click-menu .section {
  background-color: #ebe4d6;
  line-height: 15px;
  padding: 0px 0px 0px 0px;
  display: none;
}
.click-menu .section a {
  color: #800000;
  text-decoration: none;
  white-space: nowrap;
}
.click-menu .section a:hover {
  color: #336600;
  text-decoration: none;
  white-space: nowrap;
}
.click-menu .section .active, .click-menu .section .active:hover {
  color: yellow;
}
.click-menu .box2-hover {
  background-color: #ccffcc;
  font-weight: normal;
}
.click-menu .box2 a, .click-menu .box2-hover a {
  display: block;
  padding-left: 21px;
  font-weight: normal;
}
.click-menu .box2 a:before, .click-menu .box2-hover a:before {
  content: "\00bb\00a0";
  font-weight: normal;
}
.tip {
  width: 162px;
}
.dark {
  background-color: #cebd9b;
}
.superdark {
  background-color: #ae9d7b;
}
.light {
  background-color: #dfd5bd;
}
.lucid {
  background-color: #ebe4d6;
}
.superlight {
  background-color: #f4f0ec;
}
.highlight:hover {
  background-color: #ccffcc;
}
.blendbg {
  background-color: #888888;
}
.blend {
  color: #888888;
}
.green {
  color: green;
}
.red {
  color: #ff0000;
}
.brown {
  color: #a52a2a;
}
.white {
  color: #ffffff;
}
.alert {
  color: #ff0000 !important;
}
.alertblend {
  color: #fa8072;
}
.suspended {
  color: #30b6c6;
}
.bold {
  font-weight: bold;
}
.crossed {
  text-decoration: line-through;
}
.pre {
  font-size: 8pt;
  font-family: Courier, Courier New;
}
.suggestion_list:hover {
  cursor: pointer;
}
.suggestion_list {
  background-color: #ebe4d6;
  border: 1px solid;
  padding: 0px;
  min-width: 320px;
}
.suggestion_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.suggestion_list span {
  float: right;
  right: 0;
  font-size: 9px;
  margin-right: 2px;
  color: brown;
  padding-left: 20px;
}
.suggestion_list a {
  text-decoration: none;
  padding-left: 2px;
  color: black;
}
.suggestion_list .selected {
  background-color: #ccffcc;
}
.suggestion_list .selected a {
  color: black;
}
#autosuggest {
  display: none;
  z-index: 10000;
}
.acl {
  list-style-type: square;
}
.overlib {
  min-width: 10px;
  font-family: Arial, Helvetica, Verdana;
  background-color: #f4f0ec;
  padding: 2px 4px;
  border: 1px solid #333333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: #333333 1px 1px 12px;
  -moz-box-shadow: 1px 1px 12px #333333;
  -webkit-box-shadow: #333333 1px 1px 12px;
  behavior: url(img/pie.htc);
}
@media (min-device-width:640px) {
  .phone_number:link {
    pointer-events: none;
    cursor: default;
    color: black;
  }
}
table.lmsbox, table.lmsbox-inner, table.lmsbox-innerbox {
  width: 100%;
}
table.lmsbox td, table.lmsbox-inner td, table.lmsbox-innerbox td {
  padding: 2px;
}
table.lmsbox > thead, table.lmsbox-inner > thead, table.lmsbox-innerbox > thead {
  background-color: #cebd9b;
}
table.lmsbox {
  margin: 0px 2px 4px 0px;
}
table.lmsbox > tbody, table.lmsbox-inner > tbody {
  background-color: #dfd5bd;
}
table.lmsbox > thead,
table.lmsbox > tfoot,
table.lmsbox > tbody,
table.lmsbox-inner > tfoot,
table.lmsbox-innerbox > thead,
table.lmsbox-innerbox > tfoot {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
table.lmsbox-inner td {
  border-spacing: 0px;
}
table.lmsbox-inner > thead,
table.lmsbox-innerbox > thead,
table.lmsbox-innerbox > tfoot {
  background-color: #cebd9b;
}
table.lmsbox > thead > tr, table.lmsbox > tfoot > tr {
  border-top: 1px solid black;
}
table.lmsbox > thead {
  text-align: left;
}
table.lmsbox > tfoot, table.lmsbox-inner > tfoot {
  background-color: #dfd5bd;
}
table.lmsbox.lms-ui-background-cycle tbody tr:nth-child(even):not(.ui-selected) {
  background-color: #dfd5bd;
}
table.lmsbox.lms-ui-background-cycle tbody tr:nth-child(odd):not(.ui-selected) {
  background-color: #ebe4d6;
}
table.lmsbox.lms-ui-background-cycle tbody tr.highlight:hover {
  background-color: #ccffcc;
}
table.lmsbox-inner.datatables > thead {
  background-color: #cebd9b;
}
table.lmsbox-inner:not(.datatables) > thead {
  background-color: #dfd5bd;
}
table.lms-ui-datatable tbody tr:nth-child(even):not(.ui-selected) {
  background-color: #dfd5bd;
}
table.lms-ui-datatable tbody tr:nth-child(odd):not(.ui-selected) {
  background-color: #ebe4d6;
}
table.lms-ui-datatable tbody tr.highlight:hover {
  background-color: #ccffcc;
}
tr.space_row > td {
  padding-top: 20px;
}
.summary {
  text-align: right;
  font-weight: bold;
}
.buttons {
  text-align: right;
}
.navigation {
  text-align: center;
  white-space: nowrap;
  background-color: #cebd9b;
}
.pagination {
  background-color: #cebd9b;
}
td.empty-table {
  background-color: #ebe4d6;
}
td.empty-table p {
  text-align: center;
  font-weight: bold;
  padding: 2em;
}
td.multiselect {
  min-width: 230px;
}
td.multiselect select {
  min-width: 200px;
}
.lms-ui-selectable-draggable-active {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.lms-ui-selectable-draggable-active.lms-ui-selectable-draggable-hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.nobr {
  white-space: nowrap;
}
.line-break {
  white-space: normal !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.lighter {
  font-weight: lighter;
}
.valign-top {
  vertical-align: top;
}
.valign-bottom {
  vertical-align: bottom;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.wf {
  width: 100%;
}
.wh {
  width: 50%;
}
.wq {
  width: 25%;
}
.cancel {
  background: #ff6c6c;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  writing-mode: lr-tb;
}
.ui-widget.ui-widget-content {
  border: 1px solid #ae9d7b;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #ae9d7b;
  background-color: #dfd5bd;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background-color: #efe5cd;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background-color: #fffa90;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #007fff;
}
.ui-dialog {
  background-color: #cebd9b;
}
.ui-dialog .ui-dialog-content {
  background-color: #cebd9b;
}
.ui-dialog .ui-dialog-buttonpane {
  background-color: #cebd9b;
  border-top: 0;
  padding-right: 6px;
}
.ui-dialog-content {
  background-color: #cebd9b;
}
.ui-dialog-titlebar {
  background-color: #ae9d7b;
  border: 1px solid #ae9d7b;
}
.ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%;
  text-align: center;
}
.ui-tooltip {
  background-color: #dfd5bd;
}
.ui-datepicker {
  background-color: #ae9d7b;
}
.ui-datepicker-header {
  background-color: #cebd9b;
  border: 1px solid #cebd9b;
}
.ui-datepicker-calendar {
  background-color: #cebd9b;
}
.ui-tooltip.voipaccountinfo,
.ui-tooltip.invoiceinfo,
.ui-tooltip.docnumber,
.ui-tooltip.customerinfo,
.ui-tooltip.nodelist,
.ui-tooltip.ewxnodelist,
.ui-tooltip.customerassignmentinfo,
.ui-tooltip.rtticketinfo,
.ui-tooltip.nodegroupinfo,
.ui-tooltip.netdevlist,
.ui-tooltip.documentview {
  padding: 0;
}
.ui-dialog.documentviewdialog {
  min-width: 200px;
  min-height: 35px;
}
.ui-dialog-content.documentviewdialog {
  padding: 0 !important;
  min-width: 200px;
  min-height: 35px;
}
.fileupload-progress-dialog .ui-dialog-titlebar {
  display: none;
}
.ui-progressbar {
  position: relative !important;
  background-color: #dfd5bd;
}
.ui-progressbar .ui-progressbar-value {
  background-color: #ae9d7b;
  border-color: #ae9d7b;
}
.ui-selected {
  background-color: #ccffcc;
}
.fileupload-progress-label {
  position: absolute;
  left: 48%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
}
.xdsoft_datetimepicker {
  background-color: #dfd5bd;
  border: 1px solid #ae9d7b;
}
.xdsoft_datetimepicker .xdsoft_label {
  background-color: #dfd5bd;
}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option {
  background-color: #f4f0ec;
}
table.dataTable tbody tr.odd:not(.ui-selected) {
  background-color: #ebe4d6;
}
table.dataTable tbody tr.even:not(.ui-selected) {
  background-color: #dfd5bd;
}
table.dataTable tbody tr.ui-selected {
  background-color: #cebd9b;
}
table.dataTable tbody tr.highlight {
  background-color: #ccffcc;
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 2px;
}
table.dataTable thead .sorting_asc {
  background-image: url(asc_order.gif);
}
table.dataTable thead .sorting_desc {
  background-image: url(desc_order.gif);
}
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead th, table.dataTable thead td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
table.dataTable thead tr th {
  border: none;
}
table.dataTable thead tr:last-child th {
  border-bottom: 1px solid black;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: linear-gradient(to bottom,#cebd9b 0%,#ae9d7b 100%);
}
.dataTables_wrapper .dataTables_processing {
  background: linear-gradient(to right,#ae9d7b00 0%,rgba(174,157,123,0.9)25%,rgba(174,157,123,0.9)75%,#ae9d7b00 100%);
  font-weight: bold;
}
.dataTables_wrapper .dataTables_length {
  padding-left: 4px;
  padding-top: 5px;
  width: 10%;
  white-space: nowrap;
}
.dataTables_wrapper .column-toggle {
  float: left;
  padding-left: 0;
  padding-top: 3px;
  width: 22%;
}
.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: center;
  padding-top: 2px;
  width: 33%;
}
.dataTables_wrapper .dataTables_filter {
  padding-right: 4px;
  padding-top: 5px;
  width: 33%;
}
.dataTables_wrapper .dataTables_info {
  float: none;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
}