BODY		{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; background-color: #EBE4D6; margin: 0; padding: 0; active: #336600; vertical-align: middle; }
TABLE		{ border-collapse: collapse; border-color: #000000 }

TD		{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; vertical-align: middle; }
TD.fleft	{ border-left-width: 1pt; border-left-style: solid; }
TD.fright	{ border-right-width: 1pt; border-right-style: solid; }
TD.ftop		{ border-top-width: 1pt; border-top-style: solid; }
TD.fbottom	{ border-bottom-width: 1pt; border-bottom-style: solid; }
TD.fleftu	{ border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
TD.frightu	{ border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.ftopu	{ border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.fbottomu	{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.fall		{ border-width: 1pt; border-style: solid; }
TD.fbt		{ border-bottom-width: 1pt; border-bottom-style: solid; border-top-width: 1pt; border-top-style: solid; }
TD.fbl		{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
TD.fbr		{ border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.ftl		{ border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; }
TD.ftr		{ border-top-width: 1pt; border-top-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.flr		{ border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
TD.loginform	{ border-width: 1pt; border-style: solid; border-color: #888888; }

A		{ text-decoration: none; vertical-align: middle; }
A:link		{ color: #800000; }
A:active	{ color: #336600; }
A:visited	{ color: #800000; }
A.blend		{ color: #888888; }
A:hover		{ text-decoration: underline; color: #336600; }

P		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
P.nor		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
P.txt		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; text-align: justify }
P.separated	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; margin-top: 5; margin-bottom: 5 }

H1		{ font-size: 14pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H2		{ font-size: 12pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H3		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }

INPUT		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #EBE4D6; border-color: #000000; vertical-align: middle; }
INPUT.alert	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #FF9B9B; border-color: #000000; vertical-align: middle; }
INPUT.box  	{ border-style : none; vertical-align: middle; } 
INPUT.radio  	{ border-style : none; vertical-align: middle; } 
INPUT.hiddenbtn	{ display : none; } 

TEXTAREA	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #EBE4D6; vertical-align: middle; }
TEXTAREA.alert	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #FF9B9B; vertical-align: middle; }

SELECT		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #EBE4D6; vertical-align: middle; }
SELECT.alert	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #FF9B9B; vertical-align: middle; }

BUTTON		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 0pt; background-color: #DFD5BD; vertical-align: middle; }

IMG		{ vertical-align: middle; border: 0; }

.click-menu     { width: 150px; padding: 0px 0px; margin-top: 0; margin-bottom: 0; }
.click-menu .box1       { background-color: #CEBD9B; color: #000000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; }
.click-menu .box1-hover { background-color: #CCFFCC; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; }
.click-menu .box1-open  { background-color: #DACAB2; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; }
.click-menu .box1-open-hover    { background-color: #CCFFCC; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; }
.click-menu .section    { background-color: #EBE4D6; line-height: 15px; padding: 0px 0px 0px 0px; display: none; }
.click-menu .section a  { color: #800000; text-decoration: none; white-space: nowrap; }
.click-menu .section a:hover    { color: #336600; text-decoration: none; white-space: nowrap; }
.click-menu .box2       { padding: 0px 0px 0px 21px; }
.click-menu .box2-hover { background-color: #CCFFCC; padding: 0px 0px 0px 21px; }
.click-menu .section .active,
.click-menu .section .active:hover { color: yellow; }
.tip		{ width: 150px; }

.dark		{ background-color: #CEBD9B; }
.light		{ background-color: #DFD5BD; }
.lucid		{ background-color: #EBE4D6; }
.superlight	{ background-color: #F4F0EC; }
.highlight	{ background-color: #CCFFCC; }
.blendbg	{ background-color: #888888; }
.blend		{ color: #888888; }
.red		{ color: #FF0000; }
.brown		{ color: #A52A2A; }
.white		{ color: #FFFFFF; }
.alert		{ color: #FF0000; }
.bold		{ font-weight: bold; }

.pre		{ font-size:  8pt; font-family: Courier, Courier New; }

.suggestion_list { background-color: #EBE4D6; border: 1px solid; padding: 0px; width: 320px; }
.suggestion_list ul { padding: 0; margin: 0; list-style-type: none; } 
.suggestion_list span { position: absolute; right: 0; font-size: 9px; margin-right: 2px; color: brown; }
.suggestion_list a { text-decoration: none; padding-left: 2px; color: black; }
.suggestion_list .selected { background-color: #CCFFCC; } 
.suggestion_list .selected a { color: black; }
#autosuggest { display: none; }
