BODY {
  font-size: 8pt;
  font-family: Arial, Helvetica;
  padding: 0pt;
  background-color: #ffffff;
}
BODY.landscape {
  font-size: 8pt;
  font-family: Arial, Helvetica;
  padding: 0pt;
  background-color: #ffffff;
  size: landscape;
}
TABLE {
  border-collapse: collapse;
  border-color: #000000;
}
TD {
  font-size: 8pt;
  padding: 2px;
  padding-right: 6px;
}
TD.fleft {
  border-left-width: 1pt;
  border-left-style: solid;
}
TD.fright {
  border-right-width: 1pt;
  border-right-style: solid;
}
TD.ftop {
  border-top-width: 1pt;
  border-top-style: solid;
}
TD.fbottom {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
}
TD.fleftu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
}
TD.frightu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
TD.ftopu {
  border-top-width: 1pt;
  border-top-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
TD.fbottomu {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
TD.fall {
  border-width: 1pt;
  border-style: solid;
}
TD.fbt {
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-top-width: 1pt;
  border-top-style: solid;
}
TD.flr {
  border-left-width: 1pt;
  border-left-style: solid;
  border-right-width: 1pt;
  border-right-style: solid;
}
TD.head {
  color: white;
  background-color: black;
  font-weight: bold;
  border-width: 1pt;
  border-style: solid;
}
TD.headgrey {
  color: black;
  background-color: #a9a9a9;
  font-weight: bold;
  border-width: 1pt;
  border-style: solid;
}
TD.bb {
  border-color: black;
}
A {
  text-decoration: none;
}
P {
  font-size: 8pt;
  font-family: Arial, Helvetica;
}
P.nor {
  font-size: 8pt;
  font-family: Arial, Helvetica;
}
P.txt {
  font-size: 8pt;
  font-family: Arial, Helvetica;
  text-align: justify;
}
P.separated {
  font-size: 8pt;
  font-family: Arial, Helvetica;
  margin-top: 5;
  margin-bottom: 5;
}
H1 {
  font-size: 14pt;
  font-family: Arial, Helvetica;
}
.shdf {
  font-size: 20pt;
  font-weight: bold;
}
.hdf {
  font-size: 14pt;
}
.mdf {
  font-size: 12pt;
}
.sdr {
  font-size: 10pt;
}
.small {
  font-size: 6pt;
}
.blend {
  color: #888888;
}
.blendbg {
  background-color: #888888;
}
.white {
  background-color: #ffffff;
}
.grey {
  background-color: #eeeeee;
}
.alert {
  color: #ff0000;
}
.bold {
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.valign-top {
  vertical-align: top;
}
.valign-bottom {
  vertical-align: bottom;
}
.nobr {
  white-space: nowrap;
}
