BODY		{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; background-color: #EBE4D6; margin: 0; padding: 0; vertical-align: middle; }
TABLE		{ border-collapse: collapse; border-color: #000000 }

#pagecontainer  { height: 100%; }
#pageleftbar	{ position: absolute; left: 0px; width: 160px; background-color: #CEBD9B; overflow: hidden; border: 1px solid black; }
#pagecontent	{ margin-left: 172px; _width: 100%; margin-right: 10px; margin-bottom: 10px; padding: 5px 0px; }

.bottomline { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #bdac8a; }

TD		{ font-size: 8pt; font-family: Tahoma, Verdana, Arial, Helvetica; vertical-align: middle; border-color: black; }
.fleft           { border-left-width: 1pt; border-left-style: solid; }
.fright          { border-right-width: 1pt; border-right-style: solid; }
.ftop		{ border-top-width: 1pt; border-top-style: solid; }
.fbottom         { border-bottom-width: 1pt; border-bottom-style: solid; }
.fleftu          { border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
.frightu         { border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
.ftopu           { border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
.fbottomu	{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
.fall		{ border-width: 1pt; border-style: solid; }
.fbt		{ border-bottom-width: 1pt; border-bottom-style: solid; border-top-width: 1pt; border-top-style: solid; }
.fbl		{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
.fbr		{ border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
.ftl		{ border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; }
.ftr		{ border-top-width: 1pt; border-top-style: solid; border-right-width: 1pt; border-right-style: solid; }
.flr		{ border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
.loginform	{ border-width: 1pt; border-style: solid; border-color: #888888; }
.hand		{ cursor: pointer; }
.container       { padding: 0; }
FORM		{ display: inline; }

LABEL       { cursor: pointer; }
A		{ text-decoration: none; vertical-align: baseline; }
A:link { color: #800000; }
A:active	{ color: #336600; }
A:visited	{ color: #800000; }
A.blend		{ color: #888888; }
A:hover		{ text-decoration: underline; color: #336600; }
TR.blend A	{ color: #888888; }
TR.alertblend A	{ color: #FA8072; }
TR.suspended A  { color: #30B6C6; }

P		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
P.nor		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
P.txt		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; text-align: justify; }
P.separated	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; margin-top: 5; margin-bottom: 5 }

H1		{ font-size: 14pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H2		{ font-size: 12pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H3		{ font-size: 10pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
HR      { border: 0; height: 1px; color: black; background-color: black; }

INPUT[type="text"],
INPUT[type="password"],
INPUT[type="submit"],
INPUT[type="button"],
INPUT[type="file"] {
	border: solid 1px black;
	background-color: #EBE4D6;
}
INPUT { /* IE */
	font-size:  8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	vertical-align: middle;
	border-style: expression(this.type=='checkbox' || this.type=='radio' ? 'none' : 'solid');
	border-width: expression(this.type=='checkbox' || this.type=='radio' ? '0' : '1px');
	border-color: expression(this.type=='checkbox' || this.type=='radio' ? '' : 'black');
	background-color: expression(this.type=='checkbox' || this.type=='radio' ? 'transparent' : '#EBE4D6');
}

INPUT[type="radio"] {
    vertical-align: text-bottom;
}

INPUT.alert	{ background-color: #FF9B9B; }
INPUT[type="checkbox"].alert	{ outline: 2px solid #FF6060; }
INPUT[type="radio"].alert	{ outline: 2px solid #FF6060; }
INPUT.alert { /* IE fix */
	background-color: expression(this.type=='checkbox' || this.type=='radio' ? 'transparent' : '#FF9B9B');
}
INPUT.hiddenbtn	{ display : none; }
INPUT.blend	{ border-style: solid; border-color: #c0c0c0; border-width: 1px; vertical-align: middle; color: black; }
INPUT.scroller	{ border-style: solid; border-color: grey; border-width: 1px; vertical-align: middle; background-color: #DFD5BD; }

TEXTAREA	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #EBE4D6; vertical-align: middle; }
TEXTAREA.alert	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #FF9B9B; vertical-align: middle; }

SELECT		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #EBE4D6; vertical-align: middle; }
SELECT.alert	{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 1pt; background-color: #FF9B9B; vertical-align: middle; }

BUTTON		{ font-size:  8pt; font-family: Tahoma, Verdana, Arial, Helvetica; border-style: solid; border-width: 0pt; background-color: #DFD5BD; vertical-align: middle; }

IMG		{ vertical-align: middle; border: 0; }

div.multiselect { 
	font-size:  8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	border: solid 1px #888888;
	vertical-align: middle;
	padding: 0px 20px 0px 4px;
	cursor: default;
	background: url('dropdown.gif') no-repeat right #EBE4D6;
	height: 16px;
	width: 90px;
	overflow: hidden;
}
div.multiselectlayer {
	position: absolute;
	z-index: 100;
	overflow: hidden;
	width: 350px;
}
/* iframe hack for IE6 */
div.multiselectlayer iframe {
	position: absolute;
	display: none;
	display/**/:block;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 3000px;
	height: 3000px;
}
div.multiselectlayer ul {
	list-style: none;
	cursor: default;
	padding: 0;
	margin: 0;
	border: solid 1px #888888;
	white-space: nowrap;
	max-height: 200px;
	max-width: 350px;
	overflow-x: hidden;
	overflow-y: auto;
}
div.multiselectlayer ul li {
	padding: 0;
	margin: 0;
	background-color: #EBE4D6;
}
div.multiselectlayer ul li.selected { background-color: #CEBD9B; }
div.multiselectlayer ul li:hover { background-color: #DFD5BD; }
div.multiselectlayer ul li span { padding-left: 3px; }
div.multiselectlayer ul li input { border: none; }

.click-menu     { width: 150px; padding: 0px 0px; margin-top: 0; margin-bottom: 0; }
.click-menu .box1       { background-color: #CEBD9B; color: #000000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; white-space: nowrap; }
.click-menu .box1-hover { background-color: #CCFFCC; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; white-space: nowrap; }
.click-menu .box1-open  { background-color: #DACAB2; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; white-space: nowrap; }
.click-menu .box1-open-hover    { background-color: #CCFFCC; color: #800000; font-weight: bold; padding: 5px 5px; cursor: default; position: relative; white-space: nowrap; }
.click-menu .section    { background-color: #EBE4D6; line-height: 15px; padding: 0px 0px 0px 0px; display: none; }
.click-menu .section a  { color: #800000; text-decoration: none; white-space: nowrap; }
.click-menu .section a:hover    { color: #336600; text-decoration: none; white-space: nowrap; }
.click-menu .box2-hover { background-color: #CCFFCC; }
.click-menu .box2 a,
.click-menu .box2-hover a {
    display: block;
    padding-left: 21px;
}
.click-menu .box2 a:before,
.click-menu .box2-hover a:before {
    content: "\00bb\00a0";
}
.click-menu .section .active,
.click-menu .section .active:hover { color: yellow; }
.tip		{ width: 162px; }

.dark		{ background-color: #CEBD9B; }
.light		{ background-color: #DFD5BD; }
.lucid		{ background-color: #EBE4D6; }
.superlight	{ background-color: #F4F0EC; }
.highlight:hover{ background-color: #CCFFCC; }
.blendbg	{ background-color: #888888; }
.blend		{ color: #888888; }
.green		{ color: green; }
.red		{ color: #FF0000; }
.brown		{ color: #A52A2A; }
.white		{ color: #FFFFFF; }
.alert		{ color: #FF0000; }
.alertblend	{ color: #FA8072; }
.suspended	{ color: #30B6C6; }
.bold		{ font-weight: bold; }

.pre		{ font-size:  8pt; font-family: Courier, Courier New; }

.suggestion_list { background-color: #EBE4D6; border: 1px solid; padding: 0px; width: 320px; }
.suggestion_list ul { padding: 0; margin: 0; list-style-type: none; } 
.suggestion_list span { position: absolute; right: 0; font-size: 9px; margin-right: 2px; color: brown; }
.suggestion_list a { text-decoration: none; padding-left: 2px; color: black; }
.suggestion_list .selected { background-color: #CCFFCC; }
.suggestion_list .selected a { color: black; }
#autosuggest { display: none; z-index: 10000; }

.acl		{ list-style-type: square; }

.overlib {
    min-width: 10px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    background-color: #F4F0EC;
    padding: 2px 4px;
    border: 1px solid #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: #333 1px 1px 12px;
    -moz-box-shadow: 1px 1px 12px #333;
    -webkit-box-shadow: #333 1px 1px 12px;
    behavior: url(img/pie.htc);
}

table.lmsbox {
    width: 100%;
    margin: 0px 2px 4px 0px;
}
table.lmsbox-inner {
    width: 100%;
}

table.lmsbox td {
    padding: 2px;
}

table.lmsbox-inner * td {
    padding: 2px;
    border-spacing: 0px;
}

table.lmsbox > thead,
table.lmsbox > tfoot,
table.lmsbox > tbody,
table.lmsbox-inner > thead,
table.lmsbox-inner > tfoot {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table.lmsbox > thead,
table.lmsbox-inner > thead {
    background-color: #CEBD9B;
}

table.lmsbox > tbody,
table.lmsbox > tfoot,
table.lmsbox-inner > tbody,
table.lmsbox-inner > tfoot {
    background-color: #DFD5BD;
}

table.lmsbox > thead > tr,
table.lmsbox > tfoot > tr {
    border-top: 1px solid black;
}

.summary {
	text-align: right;
	font-weight: bold;
}

.buttons {
	text-align: right;
}

.navigation {
	text-align: center;
	white-space: nowrap;
	background-color: #CEBD9B;
}

.pagination {
    background-color: #CEBD9B;
}

table.lmsbox > thead { text-align: left; }

td.empty-table { text-align: center; font-weight: bold; padding: 2em; background-color: #EBE4D6; }

.nobr { white-space: nowrap; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.lighter { font-weight: lighter; }
.valign-top { vertical-align: top; }
.valign-bottom { vertical-align: bottom; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .cf:after { content: " ";  display: table; }
.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf { *zoom: 1; }

.lf { float: left; }
.rf { float: right; }

.wf { width: 100%; }
.wh { width: 50%; }
.wq { width: 25%; }

.cancel { background: #ff6c6c; }