<DIV ID="{$operation}-template-dialog" CLASS="lms-ui-dialog" TITLE="{if $operation == "edit"}{trans("Edit message template")}{else}{trans("Add message template")}{/if}">
	<STYLE>
		ol.dialog-box {
			list-style: none;
			padding-left: 0;
			width: 90%;
		}
		ol.dialog-box li {
			padding-bottom: 5px;
		}
		ol.dialog-box textarea {
			width: 98%;
			resize: vertical;
		}
		ol.dialog-box select {
			padding: 2px;
		}
	</STYLE>

	<FORM ACTION="?m={$layout.module}" METHOD="POST">
		{if $operation == 'edit'}
		<INPUT TYPE="hidden" id="{$operation}-template-id" NAME="template[id]">
		{/if}

		<OL CLASS="dialog-box">
			<LI>
				{trans("Type:")}<BR>
				<SELECT id="{$operation}-template-type" NAME="template[type]" CLASS="lms-ui-dialog-input">
					{foreach $_MESSAGETEMPLATES as $template_type => $template}
					<OPTION value="{$template_type}">{$template.label}</OPTION>
					{/foreach}
				</SELECT>
			</LI>
			<LI>
				{trans("Name:")}<BR>
				<INPUT TYPE="text" ID="{$operation}-template-name" NAME="template[name]" size="30" MAXLENGTH="30" CLASS="text ui-widget-content ui-corner lms-ui-dialog-input">
			</LI>
			<LI>
				{trans("Subject:")}<BR>
				<INPUT TYPE="text" ID="{$operation}-template-subject" NAME="template[subject]" size="30" MAXLENGTH="30" MIN="0" CLASS="text ui-widget-content ui-corner lms-ui-dialog-input">
			</Li>
			<li class="{$operation}-helpdesk-properties">
				<table>
					<tr>
						<td width="99%">
							{trans("Queues:")}<br>
							<select NAME="template[helpdesk-queues][]" class="lms-ui-multiselect lms-ui-dialog-input lms-ui-multiselect-{$operation}" size="25" multiple>
								{foreach $queues as $queue}
								<option value="{$queue.id}">{$queue.name}</option>
								{/foreach}
							</select>
						</td>
						<td width="1%" class="nobr">
							{trans("<!message-type>Message types:")}<br>
							<label class="nobr">
								<input type="checkbox" name="template[helpdesk-message-types][]" value="{$smarty.const.RTMESSAGE_REGULAR}">
								{trans("<!message-type>message")}
							</label>
							<label class="nobr">
								<input type="checkbox" name="template[helpdesk-message-types][]" value="{$smarty.const.RTMESSAGE_NOTE}">
								{trans("<!message-type>note")}
							</label>
						</td>
					</tr>
				</table>
			</li>
			<LI id="{$operation}-html-message">
				{trans("Message:")}<BR>
				<TEXTAREA id="{$operation}-template-html-body" cols="80" rows="20" name="template[html-body]" CLASS="lms-ui-wysiwyg-editor text ui-corner lms-ui-dialog-input"></TEXTAREA>
			</LI>
			<LI id="{$operation}-text-message">
				{trans("Message:")}<BR>
				<TEXTAREA id="{$operation}-template-text-body" cols="80" rows="20" name="template[text-body]" CLASS="text ui-corner lms-ui-dialog-input"></TEXTAREA>
			</LI>
		</OL>

		<INPUT TYPE="submit" style="position:absolute; top:-1000px">
	</FORM>
</DIV>

<SCRIPT>

	var {$operation}_template_dialog;

	function open_{$operation}_dialog(template_id) {
		var editor = tinymce.get('{$operation}-template-html-body');

		if (template_id) {
			var row = $('[data-template-id=' + template_id + ']');

			$("#{$operation}-template-id").val(template_id);
			$("#{$operation}-template-type").val($(row).find("[data-template-type]").attr('data-template-type'));
			$("#{$operation}-template-name").val($(row).find("[data-template-name]").attr('data-template-name'));
			$("#{$operation}-template-subject").val($(row).find("[data-template-subject]").attr('data-template-subject'));
			$.each($(row).find("[data-template-helpdesk-message-types]").attr('data-template-helpdesk-message-types').split(','),
				function(index, value) {
					$('[name="template[helpdesk-message-types][]"][value="' + value + '"]').prop('checked', true);
				});
			$('.lms-ui-multiselect-{$operation}').data('multiselect-object').updateSelection(
				$(row).find("[data-template-helpdesk-queues]").attr('data-template-helpdesk-queues').split(',')
			);
			var body = $(row).find(".data-template-message");
			$("#{$operation}-template-html-body").html(body.html());
			editor.setContent(body.html());
			$("#{$operation}-template-text-body").text(body.text());
		}

		{$operation}_template_dialog.open();

		$('#{$operation}-template-type').change();

		$('#{$operation}-template-dialog [name="template[wysiwyg][html-body]"]:checkbox').prop('checked', !editor.isHidden());
	}

	$( function() {
		$('#{$operation}-template-type').change(function() {
			var type = parseInt($(this).val());
			if (type == {$smarty.const.TMPL_SMS} || type == {$smarty.const.TMPL_HELPDESK}) {
				$('#{$operation}-html-message').hide();
				$('#{$operation}-text-message').show();
				$('.{$operation}-helpdesk-properties').toggle(type == {$smarty.const.TMPL_HELPDESK});
			} else {
				$('#{$operation}-html-message').show();
				$('#{$operation}-text-message').hide();
				$('.{$operation}-helpdesk-properties').hide();
			}
		}).change();

		{$operation}_template_dialog = new LmsUiDialog('{$operation}-template-dialog');
		{$operation}_template_dialog.setDialogWidth('40%');
		{$operation}_template_dialog.handler.dialog('option', 'resizable', true);
		{$operation}_template_dialog.setButtons([
			{
				text: "{if $operation == "edit"}{trans("Save")}{else}{trans("Add")}{/if}",
				click: function() {
					$(this).find("form").submit();
				}
			},
			{
				text: "{trans("Cancel")}",
				click: function() {
					$( this ).dialog( "close" );
				}
			}
		]);

		{$operation}_template_dialog.handler.find( "form" ).on( "submit", function( event ) {

			$({$operation}_template_dialog.handler).find("*")
				.removeClass("ui-state-error")
				.removeAttr("title");

			$('#{$operation}-template-html-body').html(tinymce.get('{$operation}-template-html-body').getContent());

			$.ajax({
				method: "POST",
				url: "?m=messagetemplatelist&action={$operation}",
				data: $(this).serialize(),
				beforeSend: function() {
					{$operation}_template_dialog.disableButtons();
				}
			})
				.done(function(data) {
					var response = JSON.parse(data);

					if (response.hasOwnProperty('error')) {
						$.each(response.error, function (index, value) {
							$('#' + index).addClass("ui-state-error").prop('title', value);
							if (index == '{$operation}-template-html-body') {
								$('#' + index).siblings('.mce-tinymce').addClass('ui-state-error');
							}
						});
					} else {
						{$operation}_template_dialog.close();
						window.location.replace('?m=messagetemplatelist');
						return;
					}

					{$operation}_template_dialog.enableButtons();
				});

			event.preventDefault();
		});
	});

</SCRIPT>
